[2015-01-29 19:11] johnynek opened #2 "remove bijection"
or really any typeclass. We got burned with an early version of twitter/bijection that did this. It meant having an implicit bijection in scope gave you an implicit conversion.

[2015-01-29 19:12] non commented on #2
That is a great point.

Also I think we may remove this type, since it's not that important in this case, and other folks might want more fleshed-out libraries (e.g. twitter-bijection).

[2015-01-29 19:14] johnynek opened #3 "Can you comment on FlatMap?"
Why would we want that but not Monad? Are there examples where we can implement one but not the other?

[2015-01-29 19:17] non commented on #3
So, the design comes from [semigroupoids](https://hackage.haskell.org/package/semigroupoids). (See `Bind`).

I'm honestly not 100% sure which instances have `FlatMap[F]` but not `Monad[F]` -- there are definitely places where you only need `flatMap` (e.g. `Kleisli`). I'll try to investigate.

[2015-01-29 19:19] non commented on #3
@mpilquist mentions that `Map[K, ?]` as an example, where you can't implement `pure` (which key would you use?) but you can implement `flatMap`.

[2015-01-30 03:21] non opened #4 "Annotate the types of implicit instances"
As @retronym says:

[2015-01-30 04:36] milessabin commented on #4
Yes, definitely.

[2015-01-30 08:36] julien-truffaut opened #8 "Attempt to implement type classes without inheritance"
in scalaz and cats, type classes are defined as trait with inheritance to express facts like all `Monad` are an `Applicative`. This leads to some ambiguous implicit resolutions and as far as I know, the solution is to create a [hierarchy of traits](https://github.com/scalaz/scalaz/blob/series/7.2.x/core/src/main/scala/scalaz/Const.scala#L38-L65)  to guide implicit search. It also creates ambiguous

[2015-01-30 22:07] stew opened #11 "Revisit the Or datatype"
We now have a Or datatype in -data which is mostly lifted straight out of scalaz.

Right now it is

    data Or a = LOr a | Ror a

We thought about -Or and Or- for constructors but the compiler seemed unhappy about. I don't think anyone loves the name LOr or ROr, but nobody seems to have a slam-dunk replacement. We're going to move on for now, but the discussion around this raised several question

[2015-01-30 22:10] julien-truffaut commented on #11
+1 for option 2

[2015-01-30 22:35] rossabaker commented on #11
* `-Or` requires backticks. :-1:
* `\Or` requires backticks and a double \\. :-1:
* The L and R suffix on various types in scalaz-stream have never made me flinch.
* Let's hold onto Eenie and Meenie in case we make an Or4 so we can have Miney and Mo. :)
* Lifting from Scalaz bootstraps us faster and reduces the cognitive overhead for transitioning users, with the downside mentioned by @stew.  I am

[2015-01-31 16:54] ceedubs opened #17 "Compiler-verified docs/examples"
Helpful documentation that doesn't go stale is a good goal. Consider usage of [sbt-doctest](https://github.com/tkawachi/sbt-doctest), [tut](https://github.com/tpolecat/tut), or something similar.

[2015-01-31 16:59] non commented on #17
Yes! We should closely into [tut](https://github.com/tpolecat/tut).

[2015-01-31 18:29] fthomas commented on #17
:+1: We had very good experience with sbt-doctest in scalaz-stream.

[2015-01-31 21:17] betehess opened #18 "Scala.JS support"
I would like to check how much interest there is in taking Scala.JS seriously in cats.

That might not be an easy decision to make but it could actually be :-)

[2015-01-31 21:22] non commented on #18
So, I am definitely interested in exploring it. There's a lot of excitement behind Scala.js right.

The fact that we are trying to have a modular design would hopefully make the library easier to use (in terms of JS size). I'm not sure what we'd need to do to the project to allow it to build in both places.

Note that we would need our [algebra](https://github.com/non/algebra) as well. I don't thi

[2015-01-31 21:25] non commented on #17
So I have to confess that my experience with Scala libraries is that I find markdown guides/docs to be a lot easier to read/use than ScalaDocs. Am I alone here?

I think we probably want to use `sbt-doctest` for ScalaDoc, but I also want to try to have some kind of narrative user guide document that is verified using `tut` as well.

[2015-01-31 21:30] betehess commented on #18
Sounds good. I can do a first pass at algebra then.

[2015-02-01 01:56] stephenjudkins opened #21 "cats.concurrent and cats.stream"
A goal of some contributors is to build an alternative to scalaz-stream.

There are a some cases (like https://github.com/tpolecat/doobie) where scalaz-stream is used with a different monad but most applications use `scalaz.concurrent.Task` which in turn wraps `scalaz.concurrent.Future`.

Are people generally satisfied with the design of scalaz's `Task` and `Future`? Should cats seek to follow a g

[2015-02-01 08:03] weihsiu commented on #18
+100!  we are currently using scalajs with japgolly's scalaz build.  it would be very interesting to have cats support scalajs as well.

[2015-02-01 10:19] julien-truffaut opened #24 "How to encode typeclasses that require Either"
`Choice`, `ProChoice` and probably other typeclasses have methods that take or produce `Either`. Ideally, we would use `cats.data.Or` instead of `scala.Either` but it means that `Or` need to be defined in core.

What is your thought?

[2015-02-01 12:36] bryce-anderson commented on #21
One thing about ```Task``` that people have stumbled over before is that ```Task.async``` is [not trampolined and can lead to stack overflows](https://gist.github.com/jessitron/9191499). As noted in the gist, the solution is simple: fork your ```Task.async``` to an ```ExecutorService```, eg use another trampoline.
I've wondered what effect using an ```ExecutorService``` as the only trampoline and

[2015-02-01 12:55] julien-truffaut opened #25 "Data structure methods"
shall we implement type class methods (e.g. `map`, `show`) on data structures in cats.data or shall we get them via ops implicit classes?

[2015-02-01 13:48] ceedubs commented on #11
I'll throw in my 2 cents.

1. I'd vote for something like `LeftOr`/`RightOr`, `Lefty`/ `Righty`, etc. These are only slightly more verbose than `LOr`/`ROr`, and I think they would be way easier for someone new to the library to recognize. I'd propose that we don't do something like `Good`/`Bad`. I say this because just last week I had two separate people tell me that they were thinking about using

[2015-02-01 13:53] ceedubs commented on #8
I seem to recall that the main reason scalaz didn't take this approach was because of the extra overhead of all of the implicit chaining (the extra function calls and instance allocations). I'm not sure how much of a problem this is in practice. Also for what it's worth, I think that I heard @tpolecat say that scalaz has considered taking this approach in scalaz 8.0.

[2015-02-01 14:06] ceedubs opened #27 "Typeclass instance usage convention"
The two implementations are effectively identical:

[code]

In order to make it easier for newcomers to contribute, I think cats should establish and document a convention for which of the two approaches to use.

Here is a proposed convention:
If your function needs to call a method on the type class instance, it should use the latter approach. This prevents the unnecessary calls to `Show.apply`.

[2015-02-01 14:09] ceedubs commented on #3
I think `Map[K, ?]` is a strong argument for keeping `FlatMap` as a separate type class. @johnynek what do you think?

[2015-02-01 14:30] mpilquist commented on #3
Similarly, `Apply` is an `Applicative` without `pure`. I think it is easier to see use cases for `Apply[Map[K, ?]]`:

[code]

[2015-02-01 14:36] xuwei-k commented on #3
https://github.com/scalaz/scalaz/blob/v7.1.0/core/src/main/scala/scalaz/UnwriterT.scala#L106
https://github.com/scalaz/scalaz/blob/v7.1.0/core/src/main/scala/scalaz/UnwriterT.scala#L6

`scalaz.UnwriterT` is a `Bind`. but not `Monad`.

[2015-02-01 14:37] tpolecat commented on #8
I like the idea in principle but I also worry about allocations. Seems like it's worth prototyping.

[2015-02-01 14:43] xuwei-k commented on #3
`type x[a] = OneAnd[({type y[b] = OneAnd[List, b]})#y, a]` is a `Bind`. but not `Monad`

[2015-02-01 15:43] stew opened #29 "Implement laws checking"
presumably using discipline.

[2015-02-01 16:10] tpolecat opened #30 "Justify Bimonad"
Per a conversation with Kmett that I only understood about 10% of (i.e., better than usual) the notion of `Bimonad` is interesting only if the `Monad` and `Comonad` instances are each others' co-algebras, otherwise we can't say anything interesting. It's also not clear whether these things we can say lead to useful derived operations. So I suggest removing `Bimonad` unless we can state its law and

[2015-02-01 16:34] non commented on #30
I agree that unless we can find additional laws and/or derived operations then `Bimonad[_]` doesn't seem as useful.

I'm hoping to get law-checking implemented today, so I'll look at adding this requirement.

[2015-02-01 16:57] non commented on #27
I agree with pretty much all of this: I think we should prefer `[A: Foo]` if the `Foo[A]` instance is just being routed somewhere else, and `(implicit xyz: Foo[A])` if method's on the `xyz` instance are needed (since even with `@inline` the `Foo.apply` call has overhead).

As far as the names of the evidence parameter, I know @tixxit prefers `(implicit A: Foo[A])`. How do folks feel about that? I

[2015-02-01 16:58] non commented on #27
(And yes, we do need a contributor guide that spells this out.)

[2015-02-01 17:18] non commented on #11
1. I think I like `LeftOr` and `RightOr` for now. Maybe we should try that and see how it feels?

2. I like the idea of encouraging people to use factory constructors to end up with the "right" types. But I think leaving public constructors can help make pattern matching more efficient, so I guess I'm leaning in that direction. We could put the case classes inside the companion to make them slight

[2015-02-01 17:33] travisbrown commented on #11
:+1: to `LeftOr` and `RightOr` (and a stronger :-1: to `Bad` / `Good` or anything else that suggests an asymmetry beyond right-biasing).

I actually like the unpleasantness of `-\/` and `\/-` in Scalaz, since it's a reminder that using them should require special justification. I can see the argument against them, though, and the redundancy / verbosity of `LeftOr` and `RightOr` could play kind of

[2015-02-01 17:50] julien-truffaut commented on #11
I like `LeftOr` and `RightOr` but I would prefer they are defined in the companion object to limit their usage.

[2015-02-01 17:52] rossabaker commented on #11
I agree with the above.  I'll rebuild this from a clean buffer as with LeftOr and RightOr and resubmit to for further conversation.  It's a well-understood type, so it's a good one to help establish the principles and guidelines that @ceedubs mentions.  Some specifics, while we're setting precedents:

* Monomorphic `this match` vs. polymorphism.  A few people have or recall benchmarks that suggest

[2015-02-01 18:04] tpolecat commented on #21
There is nothing about stream that needs to be specific to `Task`; it's just the lack of an abstraction for [effect-capturing unit](https://github.com/scalaz/scalaz/pull/890) that forced some of stream code to specialize. But yeah, nobody really likes `Task` and `Future`; they work but the design is really weird.

I think scalaz-streams demonstrates how hard the problem really is though; it has ta

[2015-02-01 18:22] fthomas commented on #27
I always liked the idea to view the `A` in `(implicit A: Foo[A])` as the companion for the type parameter. But this is only applicable as long as you only have one instance per type parameter. In the case of two or more instances I guess I'd prefer `(implicit fooA: Foo[A], barA: Bar[A])`.

[2015-02-01 19:08] non commented on #11
Here's my feelings on this:

* I would leave this to the author's discretion. I think there are too many variables here to make a general rule -- there are cases where more specific return types are important or essential, there may be cases where performance differs, etc. In this case I think matching is fine.

* In algebra we separated out the functions (so they could be included in other compan

[2015-02-01 19:53] travisbrown opened #31 "Document relationship between Or and Validation"
We've [removed documentation on `Or`](https://github.com/non/cats/pull/26) that had been copied from Scalaz since we don't have a `Validation` type yet, but once we do we should reinstate this note.

[2015-02-01 21:42] fthomas commented on #21
I'd strongly advise against adding something like `cats.stream` to the library. A streaming library is a huge and complex project and not as easy and well understood as the basic type classes like `Functor` or `Monad` and data types like `Or` or `Validation`. Also the design space for streaming libs is enormous. Just look at Haskell, there are at least three different streaming libraries with diff

[2015-02-01 21:52] non commented on #21
My opinion is not fully-formed but I think I agree with @fthomas on this.

[2015-02-01 22:10] travisbrown commented on #21
More generally, is the expectation that the subprojects in the cats repo will share a version and more or less the same experimental status and be released together?

If not, having a cats-stream (or cats-process or whatever) subproject that's explicitly more experimental doesn't sound like a terrible idea to me, and it would make things easier at the beginning, when the core cats APIs are still l

[2015-02-01 23:00] rossabaker commented on #21
My interest here stems not from technical disagreement with scalaz-stream -- I think it's great -- but as an insurance policy on the future of the Scalaz ecosystem.  That's not enough reason for me to undertake a cats-stream by myself, but is enough reason that I'd contribute if a sufficiently large group expresses interest.  I'm here to size up that potential group.

[2015-02-01 23:08] bryce-anderson commented on #21
Before it gets lost in the discussion of a streaming solution should the topic of a cats ```Task``` be made into a separate issue? While ```Task``` would be a requirement for most streaming use cases, an asynchronous monad is extremely desirable by itself.

[2015-02-01 23:20] tpolecat commented on #21
Yes, something like `Task` will be needed eventually, but the correct design is not at all clear; we should not take `scalaz.concurrent.Task` as the basis. So this will require some thought. Makes sense to me for it to be an issue.

[2015-02-01 23:22] bryce-anderson commented on #21
@tpolecat, +1 on all counts. I'll open an issue regarding only a ```Task``` like structure.

[2015-02-01 23:30] bryce-anderson opened #32 "A cats asynchronous monad (eg Task)"
As discussed in #21, an asynchronous monad like the scalaz `Task` would be highly desirable for a variety of reasons including any possible streaming solution. The scalaz `Task` is very nice in many ways, but @tpolecat and I think it could possibly be improved. This would seem to not be a high priority at the moment, but would be nice to get on the radar.

One such issue with scalaz `Task` is [sta

[2015-02-02 12:28] ceedubs commented on #25
Certain things (like `show`) are going to need an implementation somewhere. To me it seems to make sense to put the implementations on the data structure itself and then have the type class instance call through to it.

However, there's also the question of derived methods. At nescala @tpolecat, @non, some others (whose GitHub handles I don't know :( ), and I were discussing what options there mig

[2015-02-02 12:40] julien-truffaut commented on #25
I also like defining the methods in the class because it gives a better documentation and no need of special import. however, what do we do for TC like `Traverse` or `Fold` which have a lot of derived methods?

[2015-02-02 13:04] ceedubs commented on #25
@julien-truffaut that's a good question. Hopefully some good suggestions will come out of this discussion!

[2015-02-02 15:40] non commented on #25
I agree with @ceedubs -- I think concrete types should provide all the concrete implementations there type classes need.

This can be a bit ugly but it has many benefits:

1. Things for users are guaranteed to "just work" whenever possible.
2. You can avoid repeatedly synthesizing type class instances.
3. It makes the methods more discoverable via documentation / browsing.

Of these concerns I thi

[2015-02-02 16:15] non commented on #24
I'm open to moving `Or` into `core` if we decide to add these types to `core`.

Since we're going for relatively small modules, I think there was an idea to move `Arrow`, `Category`, etc into an `arrows` module. In that case, we could have `arrows` depend on `data`.

[2015-02-02 16:19] julien-truffaut commented on #24
if we make `arrows` depend on `data` it means that we can't implement `arrow` typeclasses on data

[2015-02-02 16:20] non opened #40 "Create Contributor's Guide"
I've mentioned this while talking to many people, so I think it's something that we should get started on sooner rather than later.

Here are some things I imagine it doing:

1. Set expectations for contributors
2. Explain basic workflow, discussions, PR process, etc.
3. Talk about project structure, modules, etc.
4. Explain fundamental guiding principles
5. Lay out *best practices* and encourage

[2015-02-02 16:21] non commented on #24
Right.

Maybe ultimately we'll need to put `Or` in `core` just to sort out this dependency! :)

[2015-02-02 16:39] julien-truffaut commented on #24
if we decide to go ahead with `Or` in `core`, in which package shall we put it?

[2015-02-02 17:02] fthomas commented on #21
@travisbrown The README says that one of cats' goal is to be leightweight. scalaz-stream has roughly 10 KSLOC and I fear that cats won't be leightweight anymore if you add a cats.stream subproject to it. I also think that it makes more sense to have it in a separate project so that it can have subprojects of its own (like https://github.com/travisbrown/syzygist for example :smile_cat: ). scalaz-st

[2015-02-02 19:19] johnynek commented on #3
Sounds good all. Thanks for the examples.

[2015-02-02 19:23] ceedubs commented on #3
@johnynek do you want to go ahead and close the issue then?

[2015-02-02 20:35] stephenjudkins commented on #32
One issue that should be considered is whether error handling should be conflated with the other aspects of asynchronous computation. The `Future` implementations in Scala stdlib and Finagle both do this, while Scalaz provides a `Task` that provides error handling over a `Future` that doesn't. The Scalaz approach has the obvious appeal of composition of smaller, independent things. On the other ha

[2015-02-02 20:55] tpolecat commented on #32
@stephenjudkins  Yes, I think effect capture and exceptions tend to go hand in hand. I have been thinking about this a lot and I am close to recommending the following typeclass as an abstraction for all effect-capturing data types. This conflates `scalaz.Catchable` and the yet-unmerged `scalaz.effect.Capture`:

[code]

Still not totally convinced that effect capture and exception management need

[2015-02-02 21:49] mandubian commented on #32
And what would be the difference between a Task and a potential nice IO Monad as the one proposed by Runar?

[2015-02-02 22:02] tpolecat commented on #32
@mandubian none. I think Rúnar's outline is what we want (i.e., an `IO` monad that understands asynchrony).

[2015-02-02 22:05] mandubian commented on #32
So this is just to find what's not so good about Task :)
I must say I've never really understood the need of underlying Future for Task...

[2015-02-02 22:13] #29 closed

[2015-02-02 22:14] ceedubs commented on #40
I plan on putting together a draft (that I'm sure will be heavily revised based upon feedback) for this within the next 36 hours.

[2015-02-02 22:20] stew opened #43 "README updates"
* better placement for the waffle.io badge
* "How can I contribute"
* "what to do in the case of mis-communication, I've been harmed, I think ____ is a bad actor"
* mention the "meta" label for issues

[2015-02-02 22:45] tpolecat commented on #17
I guess we should also set up a gh-pages branch to publish all this fantastic typechecked documentation.  Should that be a distinct task?

[2015-02-02 23:05] non commented on #17
Yeah, let's open another issue for gh-pages.

[2015-02-02 23:08] tpolecat opened #44 "Set up gh-pages"
Will be helpful after #17 is done, so we have a way for people to view the fantastic typechecked doc.

[2015-02-03 00:21] #3 closed

[2015-02-03 00:22] non commented on #40
One suggestion here -- let's push the branch used for this to origin, so that it is easier for different folks to push small fixes directly. I feel like the PR-to-a-PR could get tedious here, and we'll all be able to sign-off before it actually gets merged.

[2015-02-03 00:25] ceedubs commented on #40
@non sounds like a good plan.

[2015-02-03 04:19] stew commented on #25
@julien-truffaut seems like there in consensus here, do you think we need to do more with this issue?

[2015-02-03 07:41] julien-truffaut commented on #25
sure I think we all agree

[2015-02-03 07:41] #25 closed

[2015-02-03 08:16] stew commented on #40
@ceedubs please take into consideration the discussion in this thread: #25 raised by @julien-truffaut

[2015-02-03 11:51] ceedubs commented on #17
[sbt-pamflet](https://github.com/sbt/sbt-pamflet) is the thing that @tpolecat said was "like tut but Eugene knew what he was doing". It looks promising.

If I recall correctly, tut has some features missing in sbt-pamflet like imports that carry through the whole page and the ability to show examples that intentionally don't compile. I think the main problem with tut right now is that it puts scal

[2015-02-03 13:17] aloiscochard commented on #32
You might be interested in that experiment:
https://github.com/aloiscochard/matterhorn

Not sure how much that differ from what Runar proposed, my approach is surely more specific.

Anyway, there is some outgoing effort in that domain among scalaz folk, it seems that it would be nice to federate effort to create a sort of "Scalaz RTS".

If you guys are interested about that, please get in touch wi

[2015-02-03 13:36] ceedubs commented on #40
I created a rough draft (really more of a skeleton) on a [contributor-guide](https://github.com/non/cats/blob/contributor-guide/CONTRIBUTING.md) branch. It is still mostly TODOs, but I wanted to get the general approach out there to see what people thought of it. Let me know what you think and I can keep trucking after work today if I'm trucking in the right direction.

[2015-02-03 13:47] ceedubs opened #45 "Travis CI integration"
I would imagine that we all want this to verify pull requests before they are merged (though please speak up if you have a reason not to go with Travis).

Anyone should be able to submit a PR with a `.travis.yml `. I think @non will probably have to be the one to enable it as described [here](http://docs.travis-ci.com/user/getting-started/).

[2015-02-03 15:32] #43 closed

[2015-02-03 15:49] travisbrown commented on #45
One little note: we switched a lot of projects to Travis's container-based infrastructure after [they announced it in December](http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/), and that's been a headache—it seems to have an especially hard time getting snapshot dependencies from Sonatype, for example.

So leaving off `sudo: false` for now is probably a good

[2015-02-03 15:56] stew commented on #17
@ceedubs why is scalaz 7.1 a problem here?

[2015-02-03 15:57] ceedubs commented on #40
Draft PR submitted: #47

[2015-02-03 16:20] non opened #48 "Fix Gitter intergration"
I've done the manual set up a few times with no luck.

This issue exists solely so I can comment on it, change it, etc. to test Gitter integration.

[2015-02-03 16:23] #48 closed, assigned to nobody

[2015-02-03 16:48] travisbrown opened #50 "Add linter for conventions and style"
This may need to be a longer-term goal, but in my view providing a linter is one of the single most important things a project can do to promote contribution.

I definitely agree that we should be documenting conventions like #27, but having to parse a bunch of guidelines in prose (and then extrapolate from the current source when the guidelines aren't 100% unambiguous, which is always) can be str

[2015-02-03 17:54] stew commented on #48
nice, thanks!

[2015-02-03 17:56] tpolecat commented on #32
Yep, it's worth a look. There is still something in matterhorn that is causing nontermination when I use it with scalaz-stream in doobie, so there's something tricky going on that I haven't figured out yet.

[2015-02-03 18:32] tpolecat commented on #17
@ceedubs I haven't really given it any thought. `tut` does have some features Eugene's thing doesn't have, and as @stew noted the scalaz dep doesn't matter for us. I'm not really a fan of pamflet output; it's great for linear storytelling but I don't think it is as effective for technical doc. I also click on the enormous margins ALL THE TIME and spend most of my time trying to figure out what jus

[2015-02-03 18:47] ceedubs commented on #50
:+1: to Scalastyle and WartRemover (at least what we can enable - we probably will have some things like isInstanceOf for performance hacks).

Scalariform may be okay in this project, but my previous experience in a project that used Shapeless was that there was no permutation of options that would allow me to tell it not to reformat HList literals into an unreadable mess.

[2015-02-03 19:04] non commented on #50
I think this is a good suggestion. My feeling is that we should produce a (relatively detailed) document explaining the coding style/standard for type classes etc. and then try to reify some of those guidelines in a linter tool.

Like @ceedubs I'm wary of code rewriting but if we can find a set of settings that doesn't mangle nice code I'm definitely open to it.

[2015-02-03 19:37] #2 closed

[2015-02-03 19:40] stew commented on #17
:+1: to tut, I think the fact that we clearly have the tut authors attention will come in handy.

I have taken ownership of #44 and I'll submit a PR this evening which sets up gh-pages with jekyll, I have a start on this, I just need to move it along a little farther

[2015-02-03 19:41] stew commented on #44
I have a start on this, plan on PR in a matter of hours

[2015-02-03 21:51] stew opened #52 "add typeclass instances to std for string"
should have at least Show[String] instance

[2015-02-03 21:52] stew opened #53 "add typeclass instances for AnyVal"
we should have Show instances in std for things like Float, Double, Int, Long, etc

[2015-02-03 21:54] stew opened #54 "add typeclass instances for Map"
std should have typeclass instances for Map,

Map[K,?] should have instances for FlatMap, Traverse

Map[?,?] should have instances for Show

[2015-02-03 21:55] stew opened #55 "re-export typeclass instances from algebra"
non says, "it would be nice if cats.std.string._ gave you Show[String] but also Monoid[String]. which would just mean having an object that repackages the string implicits from algebra
so the user doesn't have to care where things live."

[2015-02-03 22:16] coltfred commented on #50
:+1: for Scalariform. Without some sort of automated code formatting tool it's *really* hard to tell if I'm conforming to style. Linter and WartRemover make builds glacial, but we've had really good success with having them in a different target which we run just before pushing.

[2015-02-03 22:32] ceedubs commented on #17
It sounds like there's a consensus on tut. Let's make it happen!

[2015-02-03 22:36] #45 closed

[2015-02-04 05:36] #44 closed

[2015-02-04 08:02] mandubian commented on #52
Have a look at my PR too that also export algebra instances:
https://github.com/non/cats/pull/56/files

Maybe in my PR, I could implement the typeclass Show directly instead of calling a function

[2015-02-04 08:08] mandubian commented on #53
I started implement this one but I have a question:
Do we export all algebra instances too?

If yes, creating one trait per AnyVal subclass which extends the trait from algebra project and then mixing them all in a ig AnyValIntances trait doesn't please me so well. It will increase compile-time a lot... For example:

[code]

[2015-02-04 08:20] stew commented on #53
you want to be able to import, for example, Int instances but not all the other Anyval instances?

[2015-02-04 08:31] mandubian commented on #53
So we would have separated traits inheriting algebra traits & objects for
int, double, short, etc... right?
Le 4 févr. 2015 09:20, "stew" <notifications@github.com> a écrit :

[2015-02-04 08:32] julien-truffaut commented on #53
I rarely saw the benefit of AnyVal import, most the time you either want a la carte import (e.g. import cats.std.int._) or all instances (import cats.std.all._)

[2015-02-04 08:34] stew commented on #53
sounds perfectly reasonable to me.

[2015-02-04 08:34] mandubian commented on #53
Exactly my feelings actually...
I'll create the PR and push it for comments ;)
Le 4 févr. 2015 09:32, "Julien Truffaut" <notifications@github.com> a écrit
:

[2015-02-04 08:46] stew opened #59 "add more documentation to Applicative.scala"
lets give at least a one-liner comment to pure, and perhaps more detail in compose about what one can do with a composite applicative

[2015-02-04 08:47] stew opened #60 "add more comments to Apply.scala"
the methods on Apply should have documentation, how would I use apply2, how is map2 different than apply2

[2015-02-04 08:48] stew opened #61 "add higher arity methods to apply"
apply3, map3, apply4, map4... don't know if we should have some uniform arity where these things stop, in scalaz it is all over the place, some of these stop at 5 some at 8 some at 12, etc...

[2015-02-04 08:51] stew opened #62 "add documentation to the Lazy foldRight in Foldable.scala"
especially since this is a bit of a new approach to handling a lazy fold right, this deserves lots o' doc.

[2015-02-04 08:52] stew opened #63 "document methods in Foldable.scala"
see #62 as a separate issue for the lazy foldRight, which I thought deserved special attention, but the rest of the methods in Foldable also deserve documentation.

My tendency would be to also give special attention to sequence_ and traverse_ as they are side-effecty and side-effecty demands more documentaiton

[2015-02-04 08:58] stew commented on #17
@tpolecat we have some gh-pages now as #44 is closed, I heard you might have some experience with tut. Can you get us started?

[2015-02-04 10:09] wedens commented on #50
automatic formatters is good only in simple cases. when you have some high-arity functions and parameters, formatter will create unreadable mess from it (as @ceedubs said).

[2015-02-04 10:52] tpolecat commented on #17
Yeah I'll ping you after the sun comes up to get the story on gh-pages.

[2015-02-04 14:15] ceedubs commented on #50
I started a [branch](https://github.com/ceedubs/cats/compare/scalastyle) on my cats fork to add Scalastyle. It did a good job of catching some whitespace issues, but I ran into an issue. It uses Scalariform internally, which fails to parse Free.scala. I left more info in a [commit message](https://github.com/ceedubs/cats/commit/0e4e235758645c432c5652f2653d0723c21e0773) and will try to follow up wh

[2015-02-04 16:01] aloiscochard commented on #32
I have done some more experiment here:
https://github.com/scalaz/scalaz/tree/series/8.0.x

Trying to split the IO spec from the impl. of matterhorn, the idea is that the `scalaz-io` model should be independent (no dependencies on other scalaz modules) and provide a common interface for runtime system implementation.

I suppose that would imply splitting the typeclass instances from the data type i

[2015-02-04 16:17] mandubian commented on #32
@aloiscochard as you have an AST for all Thunk types (Map, Apply, FlatMap), does it mean we could imagine some natural transformation optimizing the Thunk sequence such as Map Fusion?

(This is something I wanted to experiment in a custom implementation of IO with Free)

[2015-02-04 16:29] stew opened #67 "setup sbt-ghpages / sbt-site"
Travis points us to https://github.com/finagle/finagle-smtp as an example, "sbt-site lets you pull together different pieces of your project site (API docs, tutorial, etc.) and sbt-ghpages publishes them to GH Pages. They can be used independently but work together well."

[2015-02-04 16:33] aloiscochard commented on #32
@mandubian yes definitely!

I would love to play with that, but it's really optimization so for now I have not spend time on it.

The thing is that the interpreter is quite fast, so I'm not sure we would get much benefit from fusing Map, but there is probably other neat optimizations that I'm not aware of.

It would be interesting though to do some benchmark to see the gain of Map fusion, the natu

[2015-02-04 16:36] mandubian commented on #32
That's really cool!
Exactly what I wanted to implement :)
I'm going to dive into your code and play a bit :)

On Wed, Feb 4, 2015 at 5:33 PM, Alois Cochard <notifications@github.com>
wrote:

[2015-02-04 18:09] rossabaker opened #70 "Where do arbitrary data instances go?"
We need to decide on a home for arbitrary instances of `cats.data` types.

1. cats-laws could depend on cats-data.  This is simplest.

2. We could establish a new module, cats-data-laws, which pulls in both cats-laws and cats-data.  This is better for future projects that build on cats-core without cats-data.

[2015-02-04 22:21] rossabaker commented on #70
I see @julien-truffaut has already done some related work on f4dfe6327f1fca61ba8c342b034e9ce6b519370b.

[2015-02-04 23:43] coltfred commented on #63
Stew, I'll document these methods. If you could mark this in progress, that'd be great!

[2015-02-04 23:55] #11 closed

[2015-02-05 02:17] rossabaker commented on #70
Looks like they're going in cats-laws for now.

[2015-02-05 02:17] #70 closed

[2015-02-05 08:43] #53 closed

[2015-02-05 14:03] lvicentesanchez opened #76 "add typeclass instances for scala std Future"
I still have to use scala std Future a lot so... this would be quite useful. I think at least Monad, Comonad and Monoid should be implemented. I volunteer to implement them over the weekend.

[2015-02-05 14:06] julien-truffaut commented on #27
shall we close this ticket?

[2015-02-05 14:08] julien-truffaut commented on #24
or maybe in package cats.base, what do you think?

[2015-02-05 14:18] non commented on #27
Yes, I think we have reached broad agreement.

[2015-02-05 14:30] #27 closed

[2015-02-05 14:33] non commented on #8
I'm pretty skeptical (as I said on #71). I think the nested field lookups for every single method call will be really bad for performance. I think this strategy is a non-starter for Spire and Algebra.

If we did some testing and found that for Cats it would be OK, then we could move to it, but would have to drop interop with Algebra and Spire. I'm pretty reluctant to do this but willing to talk ab

[2015-02-05 14:38] ceedubs opened #78 "Use Machinist"
Use [machinist](https://github.com/typelevel/machinist) for zero-cost type class ops.

[2015-02-05 15:31] InTheNow commented on #18
If people want, I would be more than happy to have a crack at this one. Looking at Algebra first, the first thing I see is that is uses Discipline and scalatest.

In order to cross-compile scala, we also need to cross compile tests and hence need a test framework that supports this. There are a few, but not scalatest and specs2.

So the first step, that cuts across the whole project, is to pick a

[2015-02-05 15:40] julien-truffaut commented on #8
@non I understand and share your concern regarding the performance of using evidence. I will try to benchmark the two approach at some point.

Should I close this ticket until we have evidence that a non inheritance base approach provide good performance?

[2015-02-05 15:45] ceedubs commented on #8
I just added the "on hold" label. I don't think we need to completely close the issue if it's still under consideration. If it sits here and rots for months then we can close it out.

[2015-02-05 15:48] julien-truffaut commented on #8
@ceedubs sounds like a plan

[2015-02-05 15:52] non commented on #8
Sounds good to me too.

[2015-02-05 16:16] #63 closed

[2015-02-05 17:03] mpilquist commented on #61
#64 adds `applyN` -- we still need `mapN` and `tupleN`. For example: https://github.com/mpilquist/Structures/blob/24d40bd39db7f1cf60bd63154b44540deb7f667e/core/src/main/scala/structures/Apply.scala

[2015-02-05 17:17] wedens commented on #61
I'll add them

[2015-02-05 19:17] fthomas opened #81 "Put laws next to type class definitions?"
I'd like to discuss if the laws that govern the functions of type classes should be put next to their definitions. Here is an example of what I have in mind:
[code]
I see the following advantages:
 * it emphasizes the importance of laws
 * the type checked laws are in the vicinity of the type class definitions and not "hidden" between test code in the `laws` subproject
 * the laws can be used in t

[2015-02-05 19:18] non commented on #81
I'm sympathetic to this. Would you mind pasting a simple example here (i.e. `functor.Invariant[_]`) just so we could see what it would look like?

[2015-02-05 21:03] stew opened #82 "cats/scalaz migration guide"
we should have one in the gh-pages

[2015-02-05 21:07] ceedubs commented on #82
I'm marking this as "on hold" until things stabilize. I'd hate to see someone put a lot of effort into making this and then having everything change out from underneath the migration guide.

[2015-02-05 21:08] ceedubs commented on #82
Oops accidentally hit "Close and comment" instead of "Comment"

[2015-02-05 21:11] refried opened #83 "scalaz-adapter subproject with cats instances for scalaz instances"
I'll eventually take a crack at this if nobody beats me to it.  Unless there's a technical or philosophical reason not to?

[2015-02-05 21:12] stew commented on #82
makes sense

[2015-02-05 21:13] mpilquist commented on #83
From a technical perspective, I don't think we should have to rebuild the cats core project for each scalaz-core release. Hence, these types of binding projects need to be in independent repositories.

[2015-02-05 21:14] travisbrown commented on #83
@rossabaker [started one](https://github.com/rossabaker/scataz) yesterday. My feeling is that this should probably live in a separate repo.

[2015-02-05 21:18] non commented on #83
I agree about a separate repo.

[2015-02-05 21:32] refried commented on #83
Good point.

[2015-02-05 21:36] fthomas commented on #81
@non here is one way to do it: https://github.com/fthomas/cats/compare/wip/move-laws

[2015-02-05 21:39] julien-truffaut commented on #81
maybe it would read better if we would use syntax for laws?

[2015-02-05 21:50] fthomas commented on #81
Updated the branch to use syntax for `Eq`. It looks a little bit better now.

[2015-02-05 21:58] non commented on #81
So here's one concern -- if the laws fail you probably get little or not useful output.

In algebra, we use the `?==` to get output when `===` tests fail. Here's the relevant code:

https://github.com/non/algebra/blob/master/laws/src/main/scala/algebra/laws/package.scala#L23

Obviously we don't want `core` to depend on ScalaCheck. Is there some way we can put the laws in core while supporting usin

[2015-02-05 22:05] fthomas commented on #81
I wouldn't call it a solution, but we could let the laws return two things that should be equal instead of a `Boolean`:
[code]
ScalaCheck could then take care of comparing those two values.

[2015-02-05 22:11] non commented on #81
Right, or even just return the `(A, A, (A, A) => Boolean)` that algebra would be passing to `Ops.run` if you see what I mean.

[2015-02-05 22:12] non commented on #81
You could argue this makes all the laws less readable. I'm willing to create some kind of DSL here, ideally we can have laws that are clearly specified in a useful place, but which also produce useful messages when they fail.

[2015-02-05 22:23] bobbyrauchenberg commented on #59
I can pick this up

[2015-02-05 22:35] fthomas commented on #81
I think a small DSL could make the laws as readable as the `Boolean`-returning versions. Just with something like `type Identity[A] = (A, A)` and `->` it reads a lot better.

[code]

[2015-02-05 23:03] ceedubs commented on #81
If `Identity[A]` is defined as anything other than `Identity[A] = A` I think it's going to really confuse people. Other than that a mini DSL sounds fine to me :)

[2015-02-05 23:07] non commented on #81
I think the benefit of a DSL would be to enable other kinds of laws besides those based on identical pairs, so I think we'd want something slightly different here.

[2015-02-06 00:19] ceedubs opened #86 "Project for instances and classes that aren't lawful"
Instances in cats are checked against the type class laws. People may find certain things useful that either don't have governing laws or don't always obey them. For example, consider the following type class:

[code]

This type class has no meaningful laws. However, it could potentially be useful as an alternative to something like traversing a list into `IO`. The latter can lead to either stack

[2015-02-06 00:38] ceedubs commented on #76
Scalaz implements these by making the instance a `def` that takes an implicit `ExecutionContext`. I don't really like this approach. I think that `implicit` arguments should be reserved for type class instances and not used for "configuration" objects.

I think something like `ExecutionContext => Future[A]` is a better thing to consider a monad (though really even that is probably a little bit dod

[2015-02-06 00:42] #59 closed

[2015-02-06 00:48] ceedubs commented on #86
Oops I forgot to mention that [scalaz-outlaws](https://github.com/typelevel/scalaz-outlaws) by @stew is exactly the sort of thing I envision for this. I'd like there to be a transparent stance from the beginning that is something like "There's no shame in things like `Foreach`, but `cats-core` just isn't where they will live".   Does this sort of approach sound good to other people?

[2015-02-06 01:02] non commented on #86
Yes, I totally agree. I'm imagining the `alley` project being included in Cats and putting the types and instances (and laws and tests) there for now.

[2015-02-06 01:18] ceedubs opened #87 "Set precedent for tests"
Currently we really don't have any tests other than some law-checking. We should set a precedent for tests that will be easy for others to follow as the contribute.

[2015-02-06 01:19] ceedubs commented on #87
I'm going to give this a try (as soon as I confirm @non isn't already taking this).

[2015-02-06 02:12] lvicentesanchez commented on #76
My main goal when I created this issue was to let people raise concerns now and not when I opened a PR :)

I don't really like the scalaz approach and I have also had problems with it, i.e. trying to use Kleisli[Future, ExecutionContext, ?] in for comprehensions without an implicit ExecutionContext in scope; but it's the most straight forward way to implement it.

It's not the first time somebody

[2015-02-06 02:38] ceedubs commented on #76
@lvicentesanchez feel free to give it a try if you'll enjoy it, but it's quite possible that others will disagree with me or will have better ideas. I wouldn't want you to put effort into this that just gets discarded.

[2015-02-06 03:07] ceedubs opened #88 "Stack safety of lazy version of `foldRight` for `List`"
Cats defines a lazy version of `foldRight` on `Foldable`:
[code]

Currently the [`List` implementation](https://github.com/non/cats/blob/0e4e235758645c432c5652f2653d0723c21e0773/std/src/main/scala/cats/std/list.scala#L43) is properly lazy, but it is not stack safe.

For example, consider the following derived `Foldable` method:
[code]

This implementation will properly short-circuit for a small li

[2015-02-06 03:12] non commented on #88
My default stance would be for (2): we provide a maximally efficient strict version, and a maximally flexible lazy version.

The awkward thing is that it implies we have some kind of trampolining facility (or similar) available in `core`. I'm not sure this is a problem per se but so far we had talked about that machinery living somewhere else.

[2015-02-06 03:14] ceedubs commented on #88
@non would we need it in `core` or just in `std`?

[2015-02-06 03:15] non commented on #88
Oh, that's a good point. Maybe just having it in `std` would be enough, although it would mean that folks implementing `Foldable` would have to pull in `std`. But maybe that is OK.

[2015-02-06 03:17] ceedubs commented on #88
Perhaps `free` could be its own module that `std` depends on?

[2015-02-06 03:22] non commented on #88
It's also worth mentioning that we could create a specialized set of trampolines that might be more efficient in this case. I'm not saying we should do it, but it's definitely an option.

[2015-02-06 03:26] ceedubs commented on #78
Fixed by #79

[2015-02-06 03:26] #78 closed

[2015-02-06 04:52] adelbertc commented on #60
Dibs.

[2015-02-06 05:09] adelbertc commented on #4
Are there places where this isn't being done? grep-ed around the codebase and everything seems to be annotated. That, or I'm bad at grep, which is quite possible.

[2015-02-06 06:40] non commented on #4
I think previously there were. They may all be fixed now.

[2015-02-06 06:41] non commented on #88
So interestingly I don't think we want free exactly.

Here's something I cooked up that does work pretty well:

[code]

[2015-02-06 06:42] non commented on #88
There's also an option to use a special-purpose type instead of `Either` here. That could look something like:

[code]

...or similar.

[2015-02-06 09:43] lvicentesanchez commented on #76
I'm leaning towards providing an implementation similar to scalaz, a def instance, as an initial contribution. Once you are using scala Futures, implicit ExecutionContext are everywhere and it's really hard to runaway from them. I agree that this probably belongs to a "cats-contrib" instead of the core, as it used to be in scalaz until they move to the scalaz repository but I would like to hear th

[2015-02-06 10:35] julien-truffaut commented on #8
people are experimenting removing inheritance in scalaz 8:
https://github.com/scalaz/scalaz/blob/37d7c9c8746a1a47f5f05c465f29938654fda838/core/src/main/scala/Order.scala

[2015-02-06 11:17] retronym commented on #8
I tried both approaches in the lead up to Scalaz 7, but found it the inheritance free version was unworkable.

[code]

Adding an "upcasting" implicit from `Monad[F] => Functor[F]` seems to work until you extend the hierarchy beyond a depth of 2, or, worse, introduce diamonds.

[2015-02-06 12:38] ceedubs commented on #88
@non that looks pretty similar to [something](https://github.com/scalaz/scalaz/pull/796#issuecomment-53159305) I pondered about for scalaz a little while ago. Except I was focusing on `foldLeft` while yours works for `foldRight`.

I like your approach. I could be talked into either the `Either`/`Or` approach or the custom `Fold` approach. Initially I'm a little partial to the `Either`/`Or` approac

[2015-02-06 13:05] ceedubs commented on #4
I think they are all fixed except some places where we have simulacrum TODOs like [here](https://github.com/non/cats/blob/3502bd42ce75725f8068dd12cc90d2b0bf222fd8/core/src/main/scala/cats/syntax/apply.scala#L6).

[2015-02-06 13:40] #60 closed

[2015-02-06 13:45] ceedubs opened #93 "List-like structure with efficient appends"
I think it would be handy to have a list-like structure that supports efficient appends. This is handy for many use-cases, such as using a writer monad for logging.

The most obvious candidate is a [difference list](https://wiki.haskell.org/Difference_list).

Do others agree that something like this should be in the `data` module? Are there any alternatives to difference lists that should be consi

[2015-02-06 14:11] non commented on #93
Do you find that difference lists work better than double-ended queues? I would have guessed the latter would be a bit better in many cases. I guess difference lists work better for concatenation (as opposed to append/prepend) but with the overhead of trampolining?

[2015-02-06 14:14] ceedubs opened #94 "Bifoldable"
`Bifoldable` is a type class (currently not in cats) for a type that has two separate `Foldable`s. For example, `Or` has a `Foldable` instance (via its `Traverse` instance) that folds over the `RightOr` case, but `Or` could equally fold over the `LeftOr` case.

One of my favorite methods from scalaz is [`MonadPlus.separate`](https://github.com/scalaz/scalaz/blob/aab1891bb193432bab21a5e6c5055346ec0

[2015-02-06 14:21] julien-truffaut opened #95 "Add a diagram to show the relationship between typeclasses"
Even something as basic as the diagram from [semigroupoid](https://hackage.haskell.org/package/semigroupoids) would be very useful. We can iterate and make it look nicer on a second step.

[2015-02-06 14:21] ceedubs commented on #93
@non you are right that the majority of the time I just need an efficient append, not concatenation. Admittedly I wasn't thinking about the difference between the two when I created this issue.

I think I've kind of blindly used `DList` for this sort of thing because a double-ended queues were only very recently added to scalaz. A double-ended queue would probably be better. I knew that I would re

[2015-02-06 14:27] non commented on #95
This is a great idea :+1:

[2015-02-06 15:33] xuwei-k commented on #95
http://xuwei-k.github.io/cats-2015-02-06.svg

[2015-02-06 15:34] julien-truffaut commented on #95
Awesome!

[2015-02-06 15:36] joshmarcus commented on #95
FWIW, I think the semigroupoid layout (text or not) is easier to digest and is a little more accessible.

[2015-02-06 16:23] ceedubs commented on #95
Oh wow the boxes in @xuwei-k's diagram are links to the source. That's fantastic!

[2015-02-06 16:34] #54 closed

[2015-02-06 16:50] fthomas commented on #81
I've now moved all current laws next to the type classes in my WIP branch (https://github.com/fthomas/cats/compare/wip/move-laws). The laws are now inner `trait`s of the type classes which avoids the evidence parameters and the `F.` prefixes. What do you think?

[2015-02-06 18:33] adelbertc opened #104 "Add `cats.data.Validation`"
Do we want to do this as a separate data type, or should we explore the tagged type approach?

Also related to #31

[2015-02-06 18:36] adelbertc commented on #104
@stew has an example of the tagged type approach [here](https://github.com/stew/funlib/blob/ditch-scalaz/core/src/main/scala/Sum.scala)

[2015-02-06 18:37] tpolecat commented on #94
Yep, I would like to see `Bifoldable`.

[2015-02-06 18:40] rossabaker commented on #104
There was also discussion of [Scalactic's Or And Every](http://www.scalactic.org/) (scroll down; no anchor) in gitter.

[2015-02-06 18:41] tpolecat commented on #93
For `Writer` you do need something with fast concat though, so it still makes sense to me to have `DList`.  What am I missing?

[2015-02-06 18:51] ceedubs commented on #93
@tpolecat that's true. Writer was the example I gave, but in reality that's not what I'm doing usually when I use `DList`. I guess maybe what we are arriving at is that both would probably be helpful?

[2015-02-06 19:25] #4 closed

[2015-02-06 20:15] ceedubs commented on #40
I'm closing this since #47 was merged. I think we should create specific issues for any items we want to be updated in the contributor guide.

[2015-02-06 20:15] #40 closed

[2015-02-06 20:52] adelbertc opened #107 "`cats.Traverse` should implement `cats.Foldable`"

[2015-02-06 21:11] fthomas commented on #81
I should add that the definitions of the laws in my WIP branch are similiar to how they are defined in scalaz.

[2015-02-06 21:15] mpilquist commented on #94
It's worth mentioning that `Foldable` and `Bifoldable` are lawless. We admitted `Foldable` anyway due to its usefulness for adhoc polymorphism. `Bifoldable` occurs much less frequently in practice, so we might want to carefully consider its inclusion.

[2015-02-06 21:20] mpilquist commented on #104
I'm not convinced that type tagging in scala works all that well -- or at least if it does, I'm not sure we've found the right solution yet. See the bugs fixed and new bugs introduced by scalaz 7.1's tagging as compared to 7.0.

[2015-02-06 21:21] adelbertc commented on #94
`Foldable` kind of has laws: https://github.com/scalaz/scalaz/blob/series/7.2.x/scalacheck-binding/src/main/scala/scalaz/scalacheck/ScalazProperties.scala#L369

[2015-02-06 21:30] mpilquist commented on #94
Those only require that `foldMap`, `foldLeft`, and `foldRight` are mutually consistent. They only exist in Scalaz because `Foldable` can be implemented in terms of `foldMap` *or* `foldRight`. If you pick one as the abstract method and just derive the other, the law simplifies to a unit test of the derived method.

[2015-02-06 21:51] julien-truffaut commented on #81
@fthomas not sure to understand what's the benefit of having the law as inner trait?

[2015-02-06 21:58] mpilquist commented on #81
While I agree that defining the laws in the same source file as the type class has a lot of benefits, it still feels like it's test code that's included in non-test artifacts.

Also, with unidoc, each type class can link directly to a laws trait defined in the laws JAR, providing similar benefits to the suggested solution, without bloating the core JAR.

Ultimately, I wonder if we can separate the

[2015-02-06 22:52] mandubian opened #109 "add cats.Codensity"

[2015-02-06 22:52] mandubian commented on #109
I'm working on that

[2015-02-06 23:12] fthomas commented on #81
@julien-truffaut as top-level class:
[code]
as inner trait:
[code]
The inner trait does not require the context bound `implicit F: Invariant[F]` and instead of `F.imap` you can just write `imap`.

[2015-02-06 23:29] fthomas commented on #81
@mpilquist In retrospect my main concern was the tight coupling between the laws and discipline code. If there are proper ScalaDoc links from the type classes to the law traits, I think that is also ok for me.

[2015-02-07 08:02] fthomas opened #112 "Add sbt task to validate a pull request?"
The contributor guide mentions that one should run the `compile`, `unidoc`, and `scalastyle` tasks before submitting a PR. It would be nice if those could be subsumed under a new `validateMyPR` task so that you have to remeber only one task to run before submitting a PR.

[2015-02-07 08:19] julien-truffaut commented on #81
I would also prefer the laws to be defined outside the TC trait. I agree with @fthomas a scaladoc link to reference the laws is a good documentation.

[2015-02-07 12:43] ceedubs commented on #112
:+1:!

And don't forget about the `test` subtask!

[2015-02-07 12:43] ceedubs commented on #112
Actually I'll give this a quick try. I'm bad with SBT but this seems like it should be simple enough.

[2015-02-07 13:20] ceedubs commented on #112
Okay I admit defeat. Hopefully someone smarter than I can figure out how to aggregate tasks with SBT :(

[2015-02-07 13:27] ceedubs commented on #112
Also this task should perform `test:scalastyle`, and then we should have the travis script run this task. I missed `test:scalastyle` in #84. I'll submit a separate PR for that as an interim solution until this issue is completed.

[2015-02-07 15:29] fthomas commented on #112
This seems to do the trick:
`addCommandAlias("validatePR", ";compile;test;scalastyle;test:scalastyle;unidoc")`

[2015-02-07 16:24] ceedubs commented on #112
@fthomas ah thanks! I'm turning this into a PR now.

[2015-02-07 17:14] #112 closed

[2015-02-07 17:19] ceedubs opened #117 "Add instances for std Either"
`Either` from the standard library is isomorphic to `Or` and should have instances for all of the same type classes that `Or` does.

[2015-02-07 17:35] ceedubs commented on #107
@adelbertc could you please give some more detail? `Traverse` extends `Foldable` [source](https://github.com/non/cats/blob/bab13c2c653aaea6c078d3b80bab3ee954386b77/core/src/main/scala/cats/Traverse.scala#L17), so it _does_ implement `Foldable`, doesn't it?

[2015-02-07 17:38] wedens commented on #117
I'll take it. Mark as in progress, please.

[2015-02-07 17:57] ceedubs opened #118 "Organization of AnyRef instances"
Currently the `BigInt` and `BigDecimal` instances reside in `anyref.scala` and are mixed into `AnyRefInstances`. Since we have other `AnyRef` instances (String, Option, etc), this seems kind of odd to me. Should they just get their own files and instance traits like other std lib types?

[2015-02-07 18:00] non commented on #118
Yes, I think we should just have `cats.std.bigInt` and `cats.std.bigDecimal` (or whatever case we decide upon).

[2015-02-07 18:10] ceedubs opened #119 "Try[A] => Throwable Or A"
We should provide a helper method to convert `Try[A]` into `Throwable Or A`.

It probably makes sense to put this on the `Or` companion object, because the `std` module does not depend on the `data` module. However, this does raise the question of whether we are going to have syntax for things like `Try.toOr`, `Either.toOr`. `List.toNonEmptyList`, etc. If so, where would it go?

Also this could be

[2015-02-07 19:18] ceedubs opened #120 "Document SemigroupK and MonoidK"
I've already seen several people ask about the difference between `Semigroup` and `SemigroupK`. These "universal" type classes that work at the kind level instead of the type level should be documented.

There may be others besides SemigroupK and MonoidK - these are the ones that come to mind.

For now I think we should just document these in the ScalaDoc for the type class traits. Eventually this

[2015-02-07 19:44] julien-truffaut commented on #24
I would like to discuss a few options:
*     define in core a typeclass for `Or` like type e.g. `trait OrLike[O[+_, +_]]  {...} ` and use it to encode other typeclass methods requiring an `Either`. For example choice could be encoded like:
[code]
*    use `scala.Either` e.g.
[code]
*    create a module arrow, move typeclasses like `Arrow`, `Category`, `Profunctor` there. Then update module depende

[2015-02-07 21:48] bobbyrauchenberg commented on #119
I'd love to pick this up, I don't completely understand the last paragraph (aplogies), but i'm happy to go away and do some reading, if you can maybe tolerate a few dumb questions down the line?

[2015-02-08 03:39] refried opened #122 "is there a place in cats for the State monad?"
If so, let me know which package (data?) and I don't mind taking a pass at it.

[2015-02-08 03:55] aryairani opened #123 "NonEmptySet data structure?"
I don't have a good sense for whether something like this belong's in cats, but I have a quick and dirty scalaz-based NonEmptySet[A] = OneAnd[A,Set] implementation that I'd be happy to contribute:
https://gist.github.com/refried/9b68a08ff24640b86fb2

Obvious issues that I can do something about:
- Uses .equals rather than Equals/Eq
- Uses scala Set (although I noticed that cats.data.NonEmptyList u

[2015-02-08 07:32] stew opened #127 "write a description of typeclasses"
we need a docs/src/main/tut/typeclasses.md or a docs/src/site/typeclasses.md that talks about what typeclasses are.

Assigning to @ceedubs  since you've presented this material multiple times.

test by running docs/makeSite and then running `jekyll serve` in the docs/target/site dir

[2015-02-08 07:34] stew opened #128 "create a monad.md explaining what a monad is"
no burritos allowed.

create docs/src/main/tut/monad.md similar to functor.md and apply.md

test by running docs/makeSite and then running jekyll serve in the docs/target/site dir

[2015-02-08 07:35] stew opened #129 "create applicative.md in the docs site"
create docs/src/main/tut/applicative.md similar to functor.md and apply.md

test by running docs/makeSite and then running jekyll serve in the docs/target/site dir

[2015-02-08 07:42] tpolecat commented on #127
I have an old [blog post](http://tpolecat.github.io/2013/10/12/typeclass.html) that's in [tut format](https://raw.githubusercontent.com/tpolecat/tut/master/example/src/main/tut/Typeclass.md) already, if that's helpful. Probably needs some `:silent` markers.

[2015-02-08 07:45] stew commented on #127
moving this out of ready until the sbt-site PR is merged

[2015-02-08 07:47] stew commented on #122
yeah, data is the place, go for it!

[2015-02-08 08:22] stew opened #130 "add scaladoc for Id"
core/src/main/scala/cats/Id.scala

there should be at least some scaladoc for the object itself.

[2015-02-08 08:22] adelbertc commented on #107
Hm looks like the current definition of `Foldable` requires `foldLeft` and `foldRight`, a bit different from Scalaz's. Anyways, can't `Traverse` implement `Foldable` in terms of the `traverse` operation by picking the `Applicative` to be `Const`? That gets you `foldMap` which I think gets you `foldRight` and by extension `foldLeft`. Though that probably isn't very performant?

[2015-02-08 08:23] stew opened #131 "add scaladoc for Comonad / CoFlatMap"
core/src/main/scala/cats/Comonad.scala
core/src/main/scala/cats/CoFlatMap.scaal

[2015-02-08 08:26] stew opened #132 "add documentation for MonoidK"
core/src/main/scala/cats/MonoiadK.scala could use scaladoc

we could also use examples in docs/src/main/tut with a link somewhere in docs/src/site

[2015-02-08 08:32] fthomas commented on #132
The Scaladoc part is already adressed by #121

[2015-02-08 09:21] stew opened #133 "instances for scala's Either"
We could use typeclass instances for MonadK, and for MonadCombine when the left is a Monoid (because we need a zero for filter)

[2015-02-08 09:24] stew commented on #133
oops, dupe

[2015-02-08 09:24] #133 closed

[2015-02-08 10:29] julien-truffaut commented on #107
The main issue is that `Const` is in data

[2015-02-08 10:32] julien-truffaut commented on #123
an issue with `NonEmptySet[A] = OneAnd[A,Set]` is that you can get the same value twice e.g.
[code]

[2015-02-08 11:20] julien-truffaut opened #134 "add a benchmark module and start comparing our impl with std"
If we want to be serious about performance, I believe that we need reliable and reproductible benchmarks. For example, we could compare performance of `cats.data.Or` with `scala.Either`.

[2015-02-08 11:21] julien-truffaut commented on #134
If we want to use [jmh](http://openjdk.java.net/projects/code-tools/jmh/), I can set it up. What are your experience with other benchmark frameworks?

[2015-02-08 13:03] fthomas commented on #81
Here is another proposal: https://github.com/fthomas/cats/compare/wip/move-laws2
 * each typeclass has now its dedicated `Laws` class in the `cats.laws` package
 * the `discipline` test code is moved into the `cats.laws.discipline` package

What do you think? Is this good enough to open a PR with these changes?

[2015-02-08 13:57] ceedubs commented on #123
@julien-truffaut if you take a look at the gist that @refried linked, the `NonEmptySet` apply methods eliminate the head element from the tail.

I think something like this could be useful. I think I would prefer that it is its own class that could potentially use `OneAnd[A, Set]` internally. That way, we can guarantee that these are always correct by construction. Otherwise people could use `OneA

[2015-02-08 14:06] julien-truffaut commented on #123
@ceedubs ah good point, I missed the constructor logic. I agree with you, I think we should not expose that `NonEmptySet` is implemented in terms of `OneAnd` (if we go for this impl).

[2015-02-08 14:06] ceedubs commented on #134
:+1:

I've never actually used jmh and have very little benchmarking experience, but I remember reading [this](https://groups.google.com/forum/#!msg/mechanical-sympathy/m4opvy4xq3U/7lY8x8SvHgwJ) once and being impressed. As it turns out, proper benchmarking on the JVM is not a simple thing.

[2015-02-08 14:20] ceedubs commented on #24
Some thoughts that I have that should probably be taken with a grain of salt:

Option 1 also sounds a little complicated to me. I'm afraid that for newcomers type signatures would start looking as confusing as those from std lib that have `CanBuildFrom`. As you said, a sum type is pretty fundamental. The main argument I can see for this approach is to avoid making people create extra allocations i

[2015-02-08 14:22] ceedubs commented on #24
Oops I forgot to leave one of my thought on Option 1. If we go with this approach, I don't think we should force covariance on the type constructor. We can just create `OrLike[_, _]` and leave it up to the implementing structure whether or not it uses variance.

[2015-02-08 14:32] mpilquist commented on #81
Looks good to me

[2015-02-08 14:39] ijuma commented on #134
jmh is definitely the way forward. I created a PR for spire a few months ago:

https://github.com/non/spire/pull/307

[2015-02-08 14:45] milessabin commented on #24
I guess I should point to [the wip/smc branch of shapeless](https://github.com/milessabin/shapeless/blob/wip/smc/core/src/main/scala/shapeless/smc.scala) ... this is a proof of concept for the way I'd like to move things for shapeless 3.0.0. There is a close connection between the structure used there and `Profunctor`/`Choice`.

[2015-02-08 16:04] refried commented on #123
@ceedubs whoops, yeah; it didn't occur to me that the constructor logic could be side/stepped.  I had just written it this way in my application to use all the OneAnd instances for free.

Having a real class addresses the syntax quirk too.

[2015-02-08 16:41] ceedubs commented on #127
Wow @tpolecat that post is really good. Other than perhaps linking to `algebra`'s `Monoid` at the end, I'm really not sure what I could do better. Do you want your post to be lifted into cats docs, or would you prefer we create a completely separate doc?

[2015-02-08 16:44] non commented on #123
If we aren't going to expose the underlying structure, is an implementation using `OneAnd(a, set)` better than just using `Set(...)` with invariants?

[2015-02-08 17:02] non opened #135 "Laws for MonadFilter and MonadCombine"
Both of these have laws that we aren't currently testing.

The important one is `MonadFilter` since it introduces a new method (`empty`) which isn't participating in any of its "inherited" laws. But there are also laws for how `empty` and `combine` interact with `flatMap` which we should be testing for `MonadCombine` as well.

See #125 for more discussion.

[2015-02-08 17:53] tpolecat commented on #127
@ceedubs feel free to steal as much or as little of that as you want. Just offering it as a resource. I think it's ok as a worked example, but it could use some words about typeclasses as the basic design pattern for cats and the benefits of ad-hoc polymorphism (in this case, you can't do monoid zero with subtyping, and append would require an F-bounded type). I guess it just needs to be oriented

[2015-02-08 18:22] refried commented on #123
Sorry, I didn't understand the second part (just using `Set` with invariants); would you elaborate?

Do you mean just duplicate the functionality of `OneAnd(a,set)` (and its instances) rather than delegating?  I guess it doesn't matter to me.  I was using `NonEmptyList` as a model since I'm new to cats.

But, it think that getting the internally-`OneAnd` version and some laws would be a reasonable

[2015-02-08 18:40] refried commented on #123
No wait, maybe you mean, just use Set, and use the new constructor to require an element.  Maybe the only difference in that case would be reusing `OneAnd` instances vs not.

[2015-02-08 18:42] non commented on #123
Right I meant something like:

[code]

Since `Set[A]` doesn't have many instances anyway it seemed easy to do something like this.

[2015-02-08 19:30] refried commented on #122
Great, I started — how deep should I go?  `State` and/or `StateT` and/or `IndexedStateT` and/or `MonadState`?

So far I've done a little of each, but I guess I shouldn't waste my time on say, `State` alone, unless it's desired.

I guess `IndexedStateT` is very nice because it's very general, but on the other hand, it's harder for newcomers to understand, compared to `State`.  But if there are perf

[2015-02-08 20:02] refried commented on #122
If I don't hear back, I'll finish fleshing out State and StateT and later we can look at the PR and decide.

[2015-02-08 20:04] non commented on #122
Yeah, I don't totally know the answer. I guess I would aim for the *smallest consistent piece of work*, to minimize the amount of possible refactoring you/we may need to do. Since the project is in new and in flux we are trying to maximize throughput and minimize latency rather than minimizing commits/work. :)

[2015-02-08 20:04] refried commented on #122
*nod*

[2015-02-08 22:13] refried opened #140 "is `sequence` applying effects in backwards order?"
Compare:
[code]
to:
[code]

I haven't had a chance to check whether it's a problem with `sequence` or with `ListInstances.listInstance` or if it's something wrong that I've done; confirmation would be appreciated :)

[2015-02-08 22:22] jdegoes commented on #122
Pretty please implement `StateT` as `F[S => F[(S, A)]]` and not `S => F[(S, A)]`! The additional ugliness can be hidden from view so users don't have to see it.

Scalaz' state monads cannot be trampolined effectively because recursive application of the state function is not guarded by the base monad.

[2015-02-08 22:25] refried commented on #122
I don't have an opinion on this, and am happy to do it either way, although I just finished with `S => (S,A)` and `S => F[(S,A)]`.  I do like trampolining State; you say this will allow it? :)  Could more folks weigh in?

P.S. The State examples I wrote are blocked by #140

[2015-02-08 22:27] refried commented on #122
@jdegoes Should they be two separate things?

[2015-02-08 22:35] jdegoes commented on #122
@refried I would prefer if they are *not* two separate things, because you can expose the exact same interface on top of the "more powerful" state and hide the slightly more complex internal representation.

The reason this representation can be trampolined is because in order to pass a value to the function, you must first lift it into the monad, which in a trampoline becomes an ADT interpreted l

[2015-02-08 22:39] refried commented on #122
@jdegoes So to the question of whether or not they should be two separate things, it's the same argument as whether State and StateT should be two separate things, right?  (DRY vs type inference problems if applicable)

[2015-02-08 22:43] refried commented on #122
Also, correct me if I'm wrong, but it looks like most StateT1 methods only require F:Functor, while StateT2 operations require F:FlatMap.  If true, I'm not sure whether this is something anyone cares about.

[2015-02-08 22:51] julien-truffaut commented on #123
what the benefit of having `NonEmptySet` extend `Function1`? isn't it enough to have a `contains` method?

[2015-02-08 22:54] jdegoes commented on #122
@refried Yes, I guess it's about the same argument, as the more trampoline-able representation of State is also a bit slower. That said, the number of programs which can operate in the state monad without recursion is probably very small, i.e. almost everyone would be using the trampolined version.

[2015-02-08 22:55] refried commented on #122
I'll work on getting them all ready.

[2015-02-08 23:11] non commented on #140
Confirmed, and I have a fix incoming.

[2015-02-09 00:03] adelbertc commented on #130
Working on this

[2015-02-09 00:13] refried commented on #122
Ok now examples are blocked by absence of examples project; @stew please advise :)

[2015-02-09 00:21] adelbertc commented on #118
i got this

[2015-02-09 00:30] refried commented on #140
Works for me; but I see I used the same test case as you.

[2015-02-09 00:50] refried commented on #122
@jdegoes/@mpilquist/@non/whoever https://github.com/refried/cats/compare/wip/state-impl

I know there's duplicated functionality; I can delegate to one implementation if desired, or rename things.

[2015-02-09 00:52] refried commented on #122
btw, I don't like the names `eval` and `exec` because I don't know how their meanings are different.

[2015-02-09 00:58] refried commented on #122
@jdegoes Would you be willing to write up something for dummies (me) on trampolining State?  And if so, could you describe how the situation would be different if we had native TCO?

[2015-02-09 01:14] refried commented on #123
@non I'll take a crack at it.  Maybe have both?  `remove` vs `removeOption`
@julien-truffaut I agree

[2015-02-09 01:17] refried opened #145 "Add something like Foldable1 / Traverse1 ?"
These are nice.

[2015-02-09 01:18] refried commented on #123
#145 is a great idea.  Good suggestion, @refried!

[2015-02-09 01:38] non commented on #123
@julien-truffaut The only real advantage I saw was that you can use sets directly in place of a `A => Boolean` predicate, rather than having to instantiate a function. I guess the concern is inheriting members from `Function1`? It's not a big deal either way, although i do like using `apply` instead of just `contains` (since set membership tests are the main thing you do with these).

[2015-02-09 01:51] non commented on #145
I think instead of `Foldable1` we should call it `Reducible` to parallel the relationship between `foldLeft` and `reduceLeft`.

[2015-02-09 02:34] mpilquist commented on #122
@refried Here's the start of an implementation of `State` in cats based on Runar's free monad paper: https://gist.github.com/mpilquist/eec3764fc287da70e269

We could extend this to `StateT` and define `State` as an alias for `StateT[Id, S, A]`. I'd much prefer trampolining to be built in to `StateT` than having to manually stack on `Free` every time I use it.

[2015-02-09 02:49] #130 closed

[2015-02-09 02:51] mpilquist opened #147 "Standardize currying style for methods that take two functions"
As of c675ee3da29b60da578eeb03cfd289c19cbbd8b0, we have a mix of currying styles for methods that take 2+ functions.

`Invariant` (`imap`) and `Profunctor` (`dimap`) pass each function in its own argument list whereas Bifunctor (`bimap`), `Kleisli` (`dimap`), and `Cokleisli` (`dimap`) pass both functions in the same argument list.

Let's pick a style and make it consistent throughout.

[2015-02-09 02:51] stew commented on #122
@refried examples are now in the doc sub-project, look at docs/src/main/tut, the "tut" task typechecks them, the makeSite task generates the jekyll website in docs/target/site, you can run jekyll locally to see the results by changing to the docs/target/site directory and running `jekyll serve`

[2015-02-09 02:52] jdegoes commented on #122
Unfortunately, trampolining can't be baked into any transformer, it has to be part of the base monad. It can be baked into `State` (which is probably a good idea if you subscribe to "safe by default" design philosophy), but not `StateT`. Further, any implementation that takes the representation `S => F[(S, A)]` isn't stack-safe under recursive application of the state function (you can look at Sca

[2015-02-09 03:18] mpilquist opened #148 "Add compose instances for Invariant and Contravariant"
We should add support for composing:
 - `Invariant` and `Invariant`, yielding `Invariant`
 - `Invariant` and `Functor`, yielding `Invariant`
 - `Invariant` and `Contravariant`, yielding `Invariant`
 - `Contravariant ` and `Contravariant `, yielding `Functor`
 - `Contravariant ` and `Functor `, yielding `Contravariant`
 - `Functor ` and `Contravariant `, yielding `Contravariant`

See equivalents in

[2015-02-09 03:41] retronym opened #149 "Scaladoc for the cats/package.scala object should document the package, rather than the package object"
Currently:

[code]

Scaladoc uses the package object documentation as docs for the entire package.

[2015-02-09 03:45] non commented on #88
I'm working on this.

[2015-02-09 04:43] refried commented on #122
What are some common base monads used with StateT in practice?

[2015-02-09 04:52] xuwei-k commented on #135
`cats.MonadFilter` ≒ `MonadZero` ?

https://wiki.haskell.org/MonadPlus_reform_proposal

[2015-02-09 05:05] #120 closed

[2015-02-09 05:06] #81 closed

[2015-02-09 06:29] non commented on #147
I think I prefer functions to get their own argument lists. I am probably responsible for the inconsistency but I'd like to standardize on that if possible (especially since in some cases it makes a big difference for type inference).

[2015-02-09 08:50] wedens commented on #122
@refried I've used  IO

[2015-02-09 08:57] julien-truffaut commented on #123
I have nothing against having an `apply`method as an alias for `contains` but in general, I would avoid inheritance except if there a real performance win. Maybe it is only my aversion for inheritance talking.

[2015-02-09 12:01] japgolly commented on #18
+1. Scala.JS support would be widely appreciated. The initial setup is relatively quick and the ongoing maintenance is trivial, plus there are plenty of enthusiasts like myself who would be happy to help if there are issues.

Re property testing, if you're open to something different I humbly suggest having a look at [Nyaya](https://github.com/japgolly/nyaya). It's written by me, and is Scala.JS c

[2015-02-09 13:24] ceedubs opened #151 "Put together coding style guide"
Currently the contributor guide just has a TODO for the [Write code](https://github.com/non/cats/blob/7ace9b39b333a8d6ae3536013993eacfc6fff31f/CONTRIBUTING.md#write-code) section.

This should be expanded into a description of the coding style conventions that Cats is settling on. There are a few items mentioned in the TODO that would make a good start. There are probably others that have been for

[2015-02-09 13:26] ceedubs opened #152 "Write up testing guidelines"
Currently the contributor guide just has a TODO for the [Write tests](https://github.com/non/cats/blob/7ace9b39b333a8d6ae3536013993eacfc6fff31f/CONTRIBUTING.md#write-tests) section.

This should be expanded into a description of the testing guidelines that Cats is settling on.

The testing style guide may become large enough that it will warrant its own document that can be linked to from the CONT

[2015-02-09 13:29] ceedubs opened #153 "Document how to document"
Currently the contributor guide just has TODOs for the [Write documentation](https://github.com/non/cats/blob/7ace9b39b333a8d6ae3536013993eacfc6fff31f/CONTRIBUTING.md#write-documentation) and [Write examples](https://github.com/non/cats/blob/7ace9b39b333a8d6ae3536013993eacfc6fff31f/CONTRIBUTING.md#write-examples) sections.

These should be expanded to describe the Cats standards for documentation

[2015-02-09 13:40] ceedubs opened #155 "Have Travis CI push doc pages?"
Thanks to the excellent work of @stew and @tpolecat, we now have fancy documentation at http://non.github.io/cats/. It may be tough for us to remember to keep it up to date. Would it be possible/desired to have the Travis CI job for the master branch automatically publish those pages?

I'm not sure if this is tough from a permissions perspective. Also I don't know if there might be an issue with a

[2015-02-09 13:41] ceedubs opened #156 "Publish ScalaDocs"
It would be nice to have a consistently up-to-date ScalaDoc published somewhere for Cats. Is this something we can automate through Travis CI?

[2015-02-09 13:51] ceedubs opened #157 "Document syntax and use of Simulacrum/Machinist"
I know that Simulacrum is still under active development, so we can hold off on this a bit until that settles if that's what makes sense.

I don't think I quite understand the full story of syntax enrichment in Cats. I know that Simulacrum and Machinist provide us with handy typeclass and ops enrichment.

But I don't know things like:
- Is our syntax bedazzlement currently in a state where it is f

[2015-02-09 13:52] travisbrown commented on #156
It looks like @stew already set up sbt-site to include [the API docs](http://non.github.io/cats/api/), so they're published with the rest of the site, and are just as up-to-date.

[2015-02-09 13:59] ceedubs commented on #156
Oh wow that's great :D

Are we linking to those anywhere? Maybe we can hijack this issue and turn it into one for a well-placed link to the API docs.

[2015-02-09 14:24] travisbrown commented on #156
If the project is going to move to typelevel someday, it might be best to wait before sharing the link very widely, since having people land on stale API docs for the rest of time is kind of annoying. Otherwise I'm all for sharing the link—I've just done the machine-readable version of that in #158.

[2015-02-09 14:39] travisbrown commented on #155
I think it's perfectly reasonable to purge the gh-pages history occasionally if it gets too bulky, and it's not too hard to set up Travis to publish the site automatically.

The only concern I'd have about this is that when you have Travis doing something that relies on the central repo's `GH_TOKEN`, that means any builds on forks are going to fail. I'm sure there's some way to script your way out

[2015-02-09 16:29] coltfred commented on #148
I'll start on this.

[2015-02-09 17:18] refried commented on #122
@wedens @jdegoes if IO is trampoliney (and it is, right?), then is there
any problem?
On Mon, Feb 9, 2015 at 03:50 wedens <notifications@github.com> wrote:

[2015-02-09 17:20] mpilquist commented on #122
@refried I often use `EitherT[StateT[Future, S, ?], E, ?]`

[2015-02-09 17:21] jdegoes commented on #122
`Future`, `IO`, `Task`, and `Free` are common base monads (which are all trampolined and stack safe with the alternate formulation of `StateT` suggested above), and also monad transformers based on these (for example, stacking `StateT` on `ErrorT` on `Task`).

[2015-02-09 18:37] refried commented on #122
Ok.  So we could do one of:

* use @mpilquist 's trampolined `State`, and the trampoline-friendly `StateT` (`StateTv2` in the WIP)?
* derive `State` from `StateTv2`
* have a faster, non-trampolined `State` + `StateTv2` for heavy-duty FP
  * I've done some shallow State stuff that I wanted to get every ounce of performance out of, and I would've been angsty if I knew that trampolining was costing m

[2015-02-10 00:19] rossabaker commented on #119
Since it looks like we settled on `fromTry`, I think there should also be a `fromEither`.

[2015-02-10 00:25] mpilquist opened #162 "Add ApplyBuilder syntax"
Add infix synatx for calling `applyN`, `mapN`, and `tupledN` on an `Apply[F]`.

Something like:
[code]

This differs a little from the Scalaz version in that `apply` maps to `applyN` and `map` maps to `mapN`. As a reminder, cats' `mapN` is the same as Scalaz's `applyN` and cats' `applyN` is the same as Scalaz's `apN`.

[2015-02-10 00:47] ceedubs opened #163 "Add Or.fromEither"
Similar to `Or.fromTry`. `Either[A, B] => A Or B`.

[2015-02-10 00:48] ceedubs commented on #119
@rossabaker good idea. I just created #163.

[2015-02-10 00:48] bobbyrauchenberg commented on #163
I can pick this up

[2015-02-10 02:22] #140 closed

[2015-02-10 03:23] #119 closed

[2015-02-10 03:56] non opened #164 "Add better documentation for Invariant"
We just had a conversation about what `Invariant` / `imap` was for on Gitter.

@mpilquist provided a link to a blog post he wrote about it: http://mpilquist.github.io/blog/2013/06/01/scodec-part-2/

@coltfred suggests that we could either link to that, or summarize it in a block comment. Obviously we don't have to get this perfect immediately, we can just make incremental progress.

[2015-02-10 04:00] mpilquist commented on #164
Lots more detail here: https://github.com/mpilquist/variance-explorations

Note - slides were for a non-Scala meetup, so they go in to a lot of detail. There are lots of slides to make up for that though. :)

Also, see Ed Kmett's blog, which is where I learned this stuff originally: http://comonad.com/reader/2008/rotten-bananas/

[2015-02-10 12:09] ceedubs opened #167 "Apply.applyN and Apply.mapN evaluate arguments in reverse"
Example:

[code]

I would expect the "1" to print before the "2" in both cases. I suppose it is arbitrary and that as long as we are consistent, we could maybe keep it the way it is, but it does seem counterintuitive.

I believe that this was probably the reason that #142 existed in the first place. @non ended up changing Lists's `traverse` implementation, but I think changing the implementation o

[2015-02-10 12:42] ceedubs opened #168 "Built-in test suites for typeclass instances"
In #160 I almost suggested a test that `lmap f` is consistent with `dimap f idenity` and that `rmap g` is consistent with `dimap identity g` but I realized that would just be testing against the default implementations.

I think it could be handy to easily be able to test that all methods for an instance are consistent with the default implementation. For example if you override `foldMap` in your

[2015-02-10 12:53] #163 closed

[2015-02-10 13:02] bobbyrauchenberg commented on #167
i can pick this up

[2015-02-10 13:17] ceedubs commented on #167
@bobbyrauchenberg thanks for volunteering! I suspect that other people will want to go forward with this, but let's give them a little bit of time to weigh in before you start the work.

[2015-02-10 13:19] bobbyrauchenberg commented on #167
Sure

[2015-02-10 15:06] #117 closed

[2015-02-10 16:22] fthomas commented on #168
While putting #160 together I also thought briefly about checking `lmap` and `rmap` in terms of `dimap` but decided against doing it because I'd have copy&pasted the default implementations into the `Laws` class. I agree that it could be useful to have consistency checks for methods for which we provide default implementations.

That said, such a consistency check already slipped into `FlatMapLaws

[2015-02-10 16:32] non commented on #168
I actually like the idea of a consistency check there -- it helps someone who overrides everything for performance avoid accidentally breaking an "implicit" invariant.

Why don't you leave the other check in for now and we can think about how best to support this situation?

[2015-02-10 18:07] stephenjudkins commented on #162
This is really ugly in Scalaz. Any thoughts on using quasiquotes for this kind of boilerplate? Is it worth it?

Here's a quick example showing that it might be possible to use macros to make boilerplate-heavy stuff like this readable: https://gist.github.com/stephenjudkins/796aacbe798f54269890

[2015-02-10 18:29] stew commented on #162
my only ask is that we keep good type inference as a high priority

[2015-02-10 18:32] stephenjudkins commented on #162
I'll give it a shot. If people are appalled we can go the copypasta route.

[2015-02-10 18:36] tpolecat commented on #162
@stew code of conduct forbids using "ask" as a noun. cut it out.

[2015-02-10 18:37] stephenjudkins commented on #162
I'm hoping my approach will give us some win

[2015-02-10 19:02] refried commented on #167
I would've expected that methods like `applyN` would be like Lisp, in that the order of evaluation is explicitly unspecified, e.g. they could be executed in parallel.  If that's true, then whichever implementation is faster is probably better.  If it's not true, then I don't have an opinion :-)

[2015-02-10 19:04] refried commented on #167
When you say Haskell has the opposite behavior, do you mean in some expression with performUnsafeIO?

[2015-02-11 08:20] stew commented on #62
this is certainly being wrapped up in the #150 PR, so I'm going to close this one

[2015-02-11 08:20] #62 closed

[2015-02-11 08:22] #156 closed

[2015-02-11 15:56] refried opened #179 "Mobile friendly docs layout"
See: http://imgur.com/ReppMGC

Someone think of the @ceedubs! :-)

[2015-02-11 16:15] non commented on #179
Haha, agreed.

[2015-02-11 16:31] ceedubs commented on #179
The 8% battery life in this image causes me an unreasonable amount of stress.

[2015-02-11 17:18] refried commented on #179
@ceedubs It was causing me stress too. :smile:  It was down to 1% before I made it to a charger.

[2015-02-11 21:35] fthomas opened #180 "Cokleisli compose is left-to-right composition"
Currently `Cokleisli#compose` is left-to-right composition `(F[A] => B) => (F[B] => C) => (F[A] => C)` while `andThen` is right-to-left composition `(F[B] => C) => (F[A] => B) => (F[A] => C)`. This is the opposite of how `compose` and `andThen` are defined for `Kleisli` and `Function1`. The composition functions should be consistent across `Kleisli`, `Cokleisli`, `Function1`, etc.

[2015-02-11 21:47] mandubian opened #181 "Add FreeApplicative Functor"

[2015-02-11 21:57] mandubian commented on #180
I take it

[2015-02-11 22:08] fthomas commented on #180
This will probably interfere wtih #141.

[2015-02-11 22:11] mandubian commented on #180
So let's wait until it's merged ;)

[2015-02-11 22:28] mandubian commented on #132
PR #121 has been merged so I think this issue can be closed

[2015-02-11 22:40] non commented on #132
Agreed.

[2015-02-11 22:40] #132 closed

[2015-02-12 01:35] non opened #183 "Move 'free' and 'arrow' packages out of 'core'"
We've been planning to do this for awhile, to try to keep 'core' lightweight.

I just created this issue to have a place to discuss the move, and also to help remind folks that it is going to happen.

[2015-02-12 03:28] #88 closed

[2015-02-12 07:52] stew opened #185 "its hard to use Id"
Because of the current structure with the Id type alias defined in pacakge.scala and the typeclass instances in the Id object, you can't use the Id object if you `import cats._`, Here's a repl session:

[code]

I think we might need to move the type alias to the Id object

[2015-02-12 08:08] mandubian commented on #183
Maybe I could do that first and then move my Free stuff to this new project to make everything clean

[2015-02-12 13:57] ceedubs commented on #185
Could someone please explain to me what goes wrong here? I see that it happens even if you just import `cats.Id` as opposed to `cats._`. I don't see why that should cause a problem. Is this just a wart in Scala, or is there a logical explanation of why this is problematic?

[2015-02-12 17:41] bvenners opened #189 "This just in from Fox News: Or in Cats is not right biased"
Hi All,

I wanted to start a discussion around whether Or in Cats should be left or right biased. It is currently right biased, and the concern I have is there's already an Or out there that's left biased. Scalactic Or has been out for about a year and a half, and I'm concerned that if Cats comes out with an Or that's right biased, it will confuse folks. So I'd like to suggest you consider making

[2015-02-13 03:58] refried commented on #189
I just thought it was because right was "right" and left was "sinister" (Latin).  Didn't know all of this about partially applied type constructor convenience.  I agree that Type Or Error reads more cleanly. *shrug*

[2015-02-13 05:59] #185 closed

[2015-02-13 06:49] rossabaker commented on #189
I'm glad we're challenging the decisions of our various forebears in building this library.  However, I expect Cats users will be more familiar with -- and more often interoperate with -- `scala.Either` than `org.scalactic.Or`.  Even though `scala.Either` is unbiased, it established a convention of success on the right that I would not overturn lightly.

[2015-02-13 06:56] tpolecat commented on #189
The convention is to assume partial application from the left (possibly because this is the easiest way to do it in Haskell) leaving the rightmost type parameter free. Scalaz `\/` is just one case of this; the `Functor` instances for `TupleN` are also right-biased. I guess there is no reason in principle why we couldn't bias to the leftmost parameter since partial application in Scala is equally i

[2015-02-13 07:03] wedens commented on #189
I don't find `Type Or Error` more readable than `Error Or Type`. When reading this type it looks equivalent.

[2015-02-13 10:38] japgolly opened #192 "Consistency in names of duals (and other prefixes)"
There is inconsistency in capitalisation the names of filenames, object/class/traits and methods of duals.
Eg. `CoFlatMap`, `Comonad`, `def coflatMap`.

I think a consistent strategy should be chosen early to save having to rejigg everything later.

Such a strategy should probably also bind other prefixes like `Bi` and possibly `Pro`.

[2015-02-13 13:42] julien-truffaut commented on #134
fix #190

[2015-02-13 13:42] #134 closed

[2015-02-13 13:46] julien-truffaut commented on #183
I can see the point for `Free` to have its own module as there are no typeclasses in `cats.free` but I don't see why `arrow` should go out of `core`.

[2015-02-13 14:01] rossabaker commented on #189
I am less attached to the name than the bias. I previously considered `Xor`, but never fell in love with `InclusiveOr` for a type isomorphic to `scalaz.\&/`, so I kept my mouth shut.

[2015-02-13 14:05] ceedubs commented on #189
@rossabaker is `AndOr` more palatable than `InclusiveOr`?

[2015-02-13 14:07] mpilquist commented on #189
I'm in favor of a left-biased `Or`. I agree with @rossabaker that early adopters of cats would be surprised by a left bias. However, one of the goals of cats is to bring functional programming to a larger audience. Anecdotally, when teaching Scalaz, I've seen the right-biased nature of various types confuse folks. I'm also fine with sticking with a right-bias if folks feel strongly about this.

I

[2015-02-13 14:10] mpilquist commented on #189
Oh, and I highly recommend everyone watch Bill's video above. It's interesting to reflect on what motivates each of us to contribute to cats in context of Bill's introduction.

[2015-02-13 14:14] julien-truffaut commented on #189
I believe it doesn't matter for person new to fp if `Or` is left or right biased. However, it would rather keep `Or` right bias for consistency with other languages like Haskell.

`\/` can be a symbolic type alias for `Disjunction`

[2015-02-13 14:18] milessabin commented on #189
Would it help to use `||` instead of `\/` or `v`? It's naturally left biased and would allow us to piggyback on peoples intuitions about `||` on booleans.

[2015-02-13 14:24] lvicentesanchez commented on #189
The convention for scala.Either is that Left is an error, Right is Success; given that Or is nothing more that a success biased Either, it make sense to keep consistency and make it right biased.

[2015-02-13 14:29] mandubian commented on #183
I agree arrow seems ok in core!

[2015-02-13 14:44] travisbrown commented on #189
I don't think anyone would argue that `Option`'s `Some` should precede `None` (either in the sense of its `Ordering` instance or the order of the arguments on its `fold`), or that `::` should precede `Nil`—you start counting at zero. Keeping `Or` "lined up" with `Option`, `List`, etc. seems like as good a reason as any for right-biasing.

[2015-02-13 16:10] mpilquist commented on #189
@milessabin `||` or even `|` is interesting. It's worth pointing out that `\/` and `||` typically represent *inclusive* disjunction in logic (Scalaz's `\&/`). Part of me wants a type operator `or` that's inclusive and another type operator `xor` that's exclusive, potentially along with `v` and `⊕` aliases. The lowercase signifies their use as a type operator and avoids clashing with scalactic.

[2015-02-13 16:42] bvenners commented on #189
@travisbrown One of my goals of left-biasing Or in Scalactic was an attempt to be consistent with the standard library. What I thought was most relevant were Try and Future, both of which have a notion of success and failure. The fold method on those types puts the success function on the left and the failure function on the right.

By contrast, neither Option nor List is focused on error handling

[2015-02-13 17:17] travisbrown commented on #189
@bvenners But `transform` isn't really the same as `fold`, and in my experience it's pretty rare to see in normal usage (I also personally don't think it's very well designed, if only because `Try#transform` and `Future#transform` do such different things).

Related question: I've always found it kind of odd that Haskell's writer and state are `(a, s)` while its functor for tuples is right-biased.

[2015-02-13 17:18] tpolecat commented on #189
Agree, I always expect `State` to be `s => (s, a)`. No idea.

[2015-02-13 17:19] rossabaker commented on #189
I have one issue with @mpilquist 's proposal, but it's a greater problem in the status quo: the inclusivity of  `or` is ambiguous in common usage.  The exclusive type is going to be more common, and I'm fairly certain I'd expect `or` to be inclusive having already encountered `xor`.  I think it's an improvement overall.

@ceedubs ' `andOr` gets high marks for communicating intent, but has neither

[2015-02-13 17:51] stew commented on #189
My gut tells me that a left bias is wrong, just to be in agreement with what I think is widespread convention, and consistency with scalaz and haskell.

I'm willing to not go completely nuclear on this before I have a chance to watch bvenners's talk as suggested by mpilquist, however :)

[2015-02-13 17:57] tpolecat commented on #189
Consider `Either[A,B]` vs `Function1[A,B]` vs `EitherT[F[_], A, B]` vs `Kleisli[F[_], A, B]`. With right-biasing we can easily find the parameter that varies with the `Functor` instance because it is consistently the rightmost one (and the `Contravariant` instance, if any, is the leftmost parameter of kind *). With sporadic left-biasing this becomes needlessly confusing. I doubt the Scala world is

[2015-02-13 18:02] mpilquist commented on #189
@tpolecat That's a great argument.

[2015-02-13 18:06] travisbrown commented on #189
I guess for me it comes down to the question of whether partial application is just about syntactic convenience. I personally feel pretty strongly that parameters that vary more should be more to the outside, whether they're types or values, and whether or not some particular language's syntax makes partial application convenient.

As @stew says, this is more a gut feeling than anything else. I re

[2015-02-13 18:25] tixxit commented on #189
I like the lower-case type operator name idea, @mpilquist (eg. `A or B`)

[2015-02-13 19:00] non commented on #189
I'm sort of ambivalent on the handedness question myself. I think @tpolecat's argument may be right -- it seems persuasive, I just need to think about it some more.

The one thing that bugs me is that in language we usually prefer to talk about the common case first, e.g. "Either Amazon sends you the *1977 Traveller boxed set* you ordered, or it refunds your money." If we planned to support `Copro

[2015-02-13 19:05] non commented on #189
Also, I consider this the nuclear option of type aliases:

[code]

http://en.wikipedia.org/wiki/Coproduct#Definition

[2015-02-13 19:12] stephenjudkins commented on #162
Is the consensus here that @travisbrown 's approach is the way to go? Easily gives us 2.10.x support, and no more complicated than the macro.

[2015-02-13 22:47] bvenners commented on #189
I just read through all the comments. It sounds as if cat-people are leaning more towards the right than the name Or. If cats picks a different name than Or, then that addresses my concern about user confusion.

@tpolecat your note about Function1 is interesting, because indeed Function1 is "right biased." I see the consistency benefit of always abstracting over the right hand type for Functors. B

[2015-02-13 22:53] tpolecat commented on #192
Agree. I vote for all such prefixes to *not* trigger camelcasing, i.e., `Bifoldable`, `CoflatMap`, `bimap`.

[2015-02-13 22:54] mpilquist commented on #192
Another +1 on no camel casing.

[2015-02-14 00:33] non commented on #192
Yes, I agree (and apologize for the initial inconsistency).

The literature capitalizes them as *Comonads*, *Cofunctors*, *Bifunctors*, etc. so I think we should follow that style.

[2015-02-14 00:40] rossabaker commented on #192
Is this the place to discuss what we do when the duals have their own well known names (e.g., Extend, Extract)?

[2015-02-14 12:59] ceedubs commented on #162
Fixed by #176

[2015-02-14 12:59] #162 closed

[2015-02-14 13:16] ceedubs opened #196 "Add Semigroup and Monoid laws/tests"

[2015-02-14 13:21] ceedubs commented on #17
This was finished a while ago! http://non.github.io/cats/

[2015-02-14 13:21] #17 closed

[2015-02-14 13:23] ceedubs commented on #61
Fixed by #64

[2015-02-14 13:23] #61 closed

[2015-02-14 13:25] ceedubs commented on #67
Fixed by #126

[2015-02-14 13:25] #67 closed

[2015-02-14 13:26] ceedubs commented on #118
Fixed by #138

[2015-02-14 13:26] #118 closed

[2015-02-14 13:54] #55 closed

[2015-02-14 14:22] lvicentesanchez commented on #196
I will take care of this one.

[2015-02-14 14:43] mandubian opened #197 "Add doc for FreeMonad (& FreeApplicative)"

[2015-02-14 14:43] mandubian commented on #197
I've started writing something on it

[2015-02-14 15:29] #180 closed

[2015-02-14 15:30] fthomas commented on #196
@ceedubs `Semigroup` and `Monoid` are coming from algebra. Why do we need tests for them in cats? Surely there are tests for them in algebra?

[2015-02-14 15:33] non commented on #196
Yes, Algebra already exports laws for these as well.

[2015-02-14 16:26] ceedubs commented on #196
Oops sorry. We should check these laws for our instances.
On Feb 14, 2015 10:33 AM, "Erik Osheim" <notifications@github.com> wrote:

[2015-02-14 16:39] fthomas commented on #192
`CoFlatMap` is the only offender right now, right?

[2015-02-14 16:42] lvicentesanchez commented on #196
Added SemigroupK/MonoidK instead.

[2015-02-14 16:46] refried commented on #192
Is FlatMap ok?

[2015-02-14 16:49] non commented on #192
@fthomas Yes, I think that's right.

@refried Yes, I think the basic convention is that a method called `flatMap` should correspond to a class called `FlatMap`, and the same with `coflatMap` and `CoflatMap`.

[2015-02-15 00:48] rossabaker commented on #192
I can take this one.  I have `CoflatMap` on the brain right now.

[2015-02-15 10:46] japgolly commented on #192
I just searched as well and `CoFlatMap` is the only outlier. #202 should do it.

[2015-02-15 14:56] #192 closed

[2015-02-15 21:56] refried commented on #122
@jdegoes Ok, so `MonadRec` only helps for recursive tail calls, but trampolining helps for general tail calls, right?

[2015-02-15 22:10] jdegoes commented on #122
@refried Trampolining is useful not just for tail calls, but any kind of recursion, even mutual recursion. Whereas `MonadRec` is only useful for tail call self-recursion.

[2015-02-15 22:30] refried commented on #122
@jdegoes I thought that's what I said :-)

`MonadRec` seems less useful (or not useful?) in Scala compared to PureScript, because if we use `for`-comprehensions, we always have that `yield`/`map` at the end.  Is that right?

[2015-02-15 22:52] jdegoes commented on #122
@refried Sorry, the part I was emphasizing is that trampolining is magical even for *non*-tail calls (of any kind). But yeah, same as what you're saying.

`MonadRec` is still useful as long as you don't perform the recursion inside the `for`-comprehension. The recursion is made explicit (it's really an unfold) in the return value of the function, which indicates to the parent loop whether or not t

[2015-02-16 01:30] refried commented on #122
@jdegoes Thanks.

Right, so the function either returns `loop(args for recursion)` or `done(result)`
I am starting to see that `MonadRec` looks like `StateT`!

[2015-02-16 03:30] refried commented on #122
@jdegoes I'd like to eventually understand the uses, strengths, and weaknesses of the different models, and get something nice going with the goal of being able to write fast, scalable FP.  I made some headway tonight (wip branch), but it's still a jumble.

[2015-02-16 13:45] jdegoes commented on #122
If you have stack-safe recursion or no recursion, then it makes sense to use the non-trampolined monads. OTOH, in many cases, the depth of the recursion is determined by values only available at runtime, so it's hard to guarantee stack-safe recursion for many use cases.

The non-trampolined monads will be the fastest, but also the least safe.

If you don't have stack safe recursion, but it's self-

[2015-02-17 02:09] fthomas opened #207 "Wrong source URLs in Scaladoc"
All source URLs in the Scaladoc point to: https://github.com/non/cats/tree/master$%7BFILE_PATH%7D.scala
See here for example: http://non.github.io/cats/api/#cats.FlatMap

[2015-02-17 16:15] #207 closed

[2015-02-18 13:09] mpilquist opened #212 "Add Alternative type class"
An `Alternative` is an `Applicative` and a `MonoidK`, where the monoid operations interact with the applicative operations according to some laws -- known in Scalaz as an [ApplicativePlus](https://github.com/scalaz/scalaz/blob/689bb4bf2603f2fd407ff4450cddc77e4ff15e7a/core/src/main/scala/scalaz/ApplicativePlus.scala).

For reference, Structures defines [Alternative](https://github.com/mpilquist/Str

[2015-02-18 16:11] lvicentesanchez opened #213 "Maybe data type alternative to Option."
Should cats include the Maybe data type as an alternative to Option?

[2015-02-18 22:08] #76 closed

[2015-02-19 19:41] fthomas commented on #135
I'll work on this one.

[2015-02-19 20:17] mpilquist commented on #135
@fthomas It might be good to do #212 first because MonadCombineLaws depend on AlternativeLaws.

[2015-02-19 20:22] mpilquist commented on #135
Oh, and in order to write AlternativeLaws, you'll need the soon to be merged MonoidKLaws

[2015-02-19 20:25] fthomas commented on #135
Thanks for the hint. I'll postpone the `MonadCombineLaws` then and just submit a PR for the `MonadFilterLaws`.

[2015-02-19 20:54] lvicentesanchez opened #216 "Check that scala.concurrent.Future instances obey all laws"
Now that there are laws for Monad instances, we should test that Future instance obey them.

[2015-02-19 20:55] lvicentesanchez commented on #216
I will take care of it.

[2015-02-19 20:55] non commented on #216
Good suggestions. Thanks!

[2015-02-19 22:33] rossabaker opened #218 "Add missing tests for cats.std"
1. Add test per type under `cats.tests`.
  1. Some are new (e.g., `VectorTests`)
  2. Split up `StdTests`.
2. Backfill tests that have been overlooked (e.g., `CoflatMap[List]`).
3. Flag instances of typeclasses with missing laws to shame us^W^Wguide further development.

[2015-02-19 22:34] rossabaker commented on #218
I'll work on this.

[2015-02-19 23:25] stew opened #219 "hook up scalatest === to cats' eq"
spoke @bvenners:

Not sure if you're aware, but you can teach ScalaTest's === to look for Cat's Eq instances, so the type checkiung comes from the presence of a Cats Eq instance but you still get decent error messages from ScalaTest when assertions fail.
I demoed how to do this in scalaz and spire a while back here:

https://github.com/bvenners/equality-integration-demo

[2015-02-20 16:21] fthomas commented on #196
@ceedubs, can we close this now that #198 is merged?

[2015-02-20 17:04] ceedubs commented on #196
:+1:

[2015-02-20 17:04] #196 closed

[2015-02-20 21:07] rossabaker opened #224 "Test `Traverse` and `Foldable`"
1. Need laws for `Traverse` and `Foldable`.
2. Need discipline tests for the same
3. Fill in tests for their instances.

[2015-02-23 09:11] adelbertc opened #229 "`OrT` monad transformer for `Or`"
I often work a lot with `scalaz.DisjunctionT/EitherT`, specifically in the form of `DisjunctionT[Task, Error, A]`.

[2015-02-23 12:28] ceedubs commented on #229
I definitely will want this as well. I think the main question is where it should go. As far as I know, we don't quite have our module structure figured out yet.

[2015-02-23 15:46] rossabaker commented on #229
I think it goes in data.  A separate transformers module would make it awkward to create any data types as an alias to a monad transformer applied to `Id`, should we ever follow that Scalaz pattern.

As the probable precedent setter for transformers, there's more to discuss:

* Is the `*T` convention something we want to continue?  I understand and expect it now, but I didn't when I came to Scalaz

[2015-02-23 15:49] rossabaker commented on #229
Speaking of transformer conventions, there's also a `StateT` baking on #122.

[2015-02-23 18:42] stephenjudkins commented on #213
Does `scala.Option` have any obvious deficiencies like `scala.Either`?

[2015-02-23 18:44] lvicentesanchez commented on #213
The most obvious to me is the `get` method that can raise an Exception if your Option variable contains a None.

[2015-02-23 18:46] mpilquist commented on #213
- The unsafe `get` method.
- Unnecessary boxing -- a value class that represents `None` as `null` at runtime, and hence disallows `Some(null)`.

Not convinced this belongs in cats though.

[2015-02-23 19:05] non commented on #213
Agreed. The value class idea is nice, but it isn't really an `Option[_]` replacement since it can't represent `Option[Option[_]]`.

[2015-02-23 19:09] tpolecat commented on #213
There's also the implicit conversion to `Iterable`, which can be a source of suffering. The `zip` method is particularly fantastic.

So I think `Maybe` would be nice to have, but in practice I think Scala developers learn what to avoid with `Option` and don't get tripped up very often. I do lean toward including these things in cats eventually, but I am in the minority and won't argue loudly. For

[2015-02-23 19:34] rossabaker commented on #213
I'm wary of trading the network effects of stdlib for these modest improvements.  I would still rather `cats.data` is for complementing stdlib and some other place for replacing it.  (See also: collections.)

[2015-02-23 20:19] adelbertc commented on #213
I'm OK with things like `IList` and `Maybe` existing and often time I will reach for them (quickly) for my own projects, but when working with existing code (e.g. at $JOB) where everyone else is using `List` and `Option` I'd still like to use `cats` without having to deal with stdlib types and cats equivalent. I suppose what this boils down to is for outside-facing things, say some stream iteratio

[2015-02-23 20:31] lvicentesanchez commented on #213
I agree that adding `Maybe` as a replacement for `Option` has less value than adding `Or` as replacement for Either and I totally agree that this should not go to `cats.data`.

[2015-02-23 20:36] lvicentesanchez commented on #229
I would find it weird if it didn't end in `cats.data`. And regarding the naming convention `*T` seems reasonable to me, I actually have serious troubles to find a better name... maybe `*Trans`?

[2015-02-24 01:05] rossabaker commented on #218
Closed by #223.

[2015-02-24 01:05] #218 closed

[2015-02-24 13:41] ceedubs commented on #167
@refried sorry I forgot about this for a while.

No, when I say that Haskell has the opposite behavior, I am not referring to cases of performUnsafeIO.

Here is some Haskell code that is roughly equivalent to my example (disclaimer - I don't know Haskell very well):
[code]

The output is:
[code]
and the returned value is `[1,2]`.

A version of the Scala example that would line up a little better w

[2015-02-24 13:54] ceedubs commented on #167
@refried I guess there could be an alternative point of view here that `applyN` and friends make no guarantees and that if you want sequential ordering you should use `flatMap` instead.

I guess that gets into the whole discussion of whether `flatMap` and `ap` need to be consistent and if so, whether side effects count as something they need to be consistent about.

[2015-02-24 13:56] ceedubs commented on #167
Sorry to spam this issue, but saying thoughts as they come to me:

It does seem like it would be a bummer to not be able to traverse a list into `IO` and have that execute in a predictable order. Our `Traverse[List]` implementation is depending on these side effects happening in a consistent order for this use-case. It's just that it is depending on them happening in the opposite order that I woul

[2015-02-24 14:07] tpolecat commented on #167
At least in scalaz the constructed `IO` program is associated to the right, so the elements are visited in reverse but the resulting program does what you want. It's important to distinguish these cases. (This may be what you're saying, sorry, I haven't had any coffee yet.)

In any case, see https://github.com/scalaz/scalaz/issues/886

[2015-02-24 14:13] ceedubs commented on #167
@tpolecat yes. I'm not sure whether or not that's what I am saying, but it sounds like we are on the same page.

[2015-02-24 14:24] refried commented on #167
Hi folks, I also haven't had coffee, and kind of forgot about this conversation too (double disclaimer) but if I understood @ceedubs correctly then I agree, `flatMap` is for sequencing operations, and nothing else is.

So again I'm not saying apply should be right to left, but that the order shouldn't be something we rely on. In a pure program, the order doesn't matter; side effects is the only pl

[2015-02-24 14:27] ceedubs commented on #167
@refried these are delayed IO effects (still side-effects though). The problem with what you are suggesting is that traverse only requires an applicative functor, not a Monad/FlatMap, so you can't rely on flatMap in your traverse implementation.

[2015-02-24 14:36] refried commented on #167
Sorry, I later noticed @ceedubs gave a few different viewpoints; I didn't mean to misrepresent.

[2015-02-24 14:44] refried commented on #167
Never thought I'd be saying github is too slow compared to IRC!

Hmm what about the rule of thumb "if your container supports sequencing, then use flatMap for its traverse"?  List and IO and Task all can.  Granted, I still haven't had coffee and I don't completely know what I'm talking about and I'm not at a compiler, but I will try to play with an example later to see if I can unconvince myself.

[2015-02-24 14:50] ceedubs commented on #167
@refried if you are traversing a `List[A]` with `A => F[B]`, where `F` has an applicative functor, then it doesn't really matter that `List` has `flatMap`. If `F` is `IO` then `F` would have `flatMap`, but you don't know that from the type signature of `traverse`, which just requires an applicative. So it's not really about whether your container supports sequencing, if I understand what you are s

[2015-02-24 18:47] refried commented on #167
You probably understood me right, and I am probably wrong, or at least confused because I'm pretty tired.  Would you be willing to show an example that uses `Task` or `IO`?  I didn't understand the part where you said "these are delayed IO effects (still side effects)" because I thought those meant kind of opposite things.

[2015-02-24 19:43] adelbertc opened #234 "Transformers for stdlib data types"
`ListT` and `OptionT` come to mind, I've found those to be useful from time to time. `Kleisli` as well.

Semi-related to https://github.com/non/cats/issues/229

[2015-02-24 20:48] ceedubs commented on #234
`Kleisli` is already there: https://github.com/non/cats/blob/master/data/src/main/scala/cats/data/Kleisli.scala

Agreed on the others.

[2015-02-24 21:11] rossabaker commented on #234
Quoth the README:

I'd say `ListT` and `OptionT` belong in std, and now wonder why not also `Kleisli` and `Cokleisli`?  Or, if these all get dumped into data, then maybe std should be redefined as simply "Standard type class instances."

[2015-02-25 01:13] ceedubs commented on #167
@refried Here is an example that uses scalaz.IO (with the help from @rossabaker's handy [scataz project](https://github.com/rossabaker/scataz) after adding a scalaz-effect to it locally). I'm calling `unsafePerformIO` but only at the "end of the world" so to speak.

[code]

Regarding "these are delayed IO effects (still side effects)": I don't know maybe I'm being loose with terminology here. I'm

[2015-02-25 02:36] refried commented on #167
@ceedubs Got it — thanks for the example, and the scataz link.

[code]
My thinking is that as long as this comes out in the right order, all is well.  What do you think?
[code]

[2015-02-25 02:52] ceedubs commented on #167
It seems unintuitive to me to have a list traverse that guarantees left to right effect order by depending on `map2`'s evaluation being right to left. My preference would be to have both be left-to-right like in Haskell and Scalaz. I seem to be alone in caring about this, though, so I am willing to let go of it.

Note that I'm fine with us visiting elements in the list in reverse order. I'm just s

[2015-02-25 04:21] refried commented on #167
For the record, I don't mind if it's swapped so that it is left-to-right, but my gut is worried about having a rule that it must be left-to-right.

I'm not sure if this example is any good, but how would you feel if it was mapN over `Future` (or something), and the arguments were evaluated in parallel and completed in an unpredictable order?

[2015-02-25 05:48] tpolecat commented on #167
Yep, I think @ceedubs is correct. When a monad is available `(a |@| b).map(f)` should be the same as `for { x <- a; b <- a } yield f(a, b)` but this is not the case. The poor man's `IO` above illustrates it, but you get the same result with `State` or anything else with effects.

[2015-02-25 07:21] stew commented on #104
I'm going to throw together a Validation class

[2015-02-25 13:17] mpilquist commented on #189
Not sure where we are on this. How do folks feel about this proposal:

 - Define `or` and `xor` types, where `or` is inclusive and `xor` is exclusive.
 - Type names and companions are lowercase, signifying their intended use as a type operator.
 - Constructors are `lor`, `ror`, `lxor`, and `rxor`.
 - Transformers are `OrT` and `XorT`.

[2015-02-25 13:48] ceedubs commented on #189
Thanks for coming up with a concrete proposal, @mpilquist. I vote for proposal 3. I like the consistency and that newcomers won't potentially be confused by the lowercase type names of 1 and 2. However, I don't have strong opinions here and I'm okay with other outcomes.

[2015-02-25 14:09] rossabaker commented on #189
Is there any precedent in the Scala community for a lowercase type operator?  It's cute, but I share @ceedubs' consistency concerns.

I prefer proposal 3, but am not sold on abbreviating Left and Right.  `rxor` gets me thinking of [warning: trigger word] reactive.

[2015-02-25 14:13] julien-truffaut commented on #189
I also prefer upper case type but I am indifferent regarding `Ior` or `Or`

[2015-02-25 14:42] refried commented on #167
@tpolecat Sorry to ask, but are you sure?

[2015-02-25 14:44] refried commented on #167
@tpolecat Or is there maybe some law that would settle it?

[2015-02-25 14:45] mpilquist commented on #189
@rossabaker et al -- How do you feel about `Xor.left` / `Xor.right` and `Ior.left` / `Ior.right` for constructor names?

[2015-02-25 14:55] mpilquist commented on #189
`left`/`right` constructors and `Left`/`Right` extractors are unambiguous as long as they aren't imported directly. I'm OK with this as I think it strikes a nice balance, though I've noticed some examples are importing `Or.LeftOr` and `Or.RightOr` currently.

[2015-02-25 15:09] ceedubs commented on #189
@mpilquist I like your `Xor.left` et al suggestion.

[2015-02-25 15:22] ceedubs commented on #167
Since this is dealing with side effects, I don't think this is the sort of thing that you can wrap a law around.

@refried I kind of feel like we are stuck in a loop :(. If you want to say that no order is guaranteed in `map2`, then you also need to be willing to say that there is no order guaranteed when traversing a list into `IO`. Earlier you said "The resulting IO should execute in the left-to

[2015-02-25 15:28] rossabaker commented on #189
I like `Xor.left` et al, too.

[2015-02-25 16:23] refried commented on #167
@ceedubs I'm leaning towards your side, I just don't understand it (and I may never, due to personal limitations) ;-)

To point 1 (laws vs side effects): Would it help if we look at it in terms of the `State` monad?

To point 2 (apply vs traverse): I started to wonder the same thing as I was posting, but I couldn't wrap my head around it.  Is there some rule that says `State` effects should execut

[2015-02-25 16:32] tpolecat commented on #167
It's about effects. Try `|@|` syntax with `State` and it goes the wrong direction. So we could switch the implementation of `ApplyBuilder` to pass its args backwards I guess, but it seems to me that we should just make it work like scalaz and call it good. I am confident that scalaz is correct.

[2015-02-25 16:34] refried commented on #167
Proof by scalaz.  It's ok with me though.

[2015-02-25 17:04] refried commented on #167
Err, wait!

@ceedubs re "traverse only requires an applicative functor, not a Monad/FlatMap, so you can't rely on flatMap in your traverse implementation.":  The `Traversable` instance is what provides the order, not the `Applicative` instance.

from Haskell docs:
[code]
So `traverse` imo should sequence effects "left to right", for whatever "left to right" means for that Traversable instance.

OT

[2015-02-25 17:26] ceedubs commented on #167
@refried I'm 100% for talking through this sort of stuff and learning more. I don't think I'm articulate enough to do it well over GitHub comments, though. Some time in the next few days I'll try to get a hold of you on Gitter and maybe we can discuss it some more there or on a google hangout or something. How does that sound?

[2015-02-25 21:29] refried commented on #167
@ceedubs Same here, sounds great.

[2015-02-28 12:38] ceedubs commented on #52
Fixed by #56

[2015-02-28 12:38] #52 closed

[2015-02-28 12:40] ceedubs commented on #83
It sounds like everyone agrees that this should be a separate repo. Since @rossabaker has created [scataz](https://github.com/rossabaker/scataz) I'm going to go ahead and close this issue.

[2015-02-28 12:40] #83 closed

[2015-02-28 12:57] ceedubs commented on #148
Fixed by #165

[2015-02-28 12:57] #148 closed

[2015-02-28 12:59] ceedubs commented on #212
Fixed by #225

[2015-02-28 12:59] #212 closed

[2015-02-28 13:33] ceedubs opened #243 "Add Split documentation"
At least a ScalaDoc. Possibly a markdown file for the typeclasses section of the website.

[2015-02-28 21:04] refried commented on #212
Btw, why is it called `Alternative`?

[2015-03-01 18:48] refried commented on #179
Should this issue have a `ready` tag?  I would try to fix it myself, but not CSS-savvy enough.

[2015-03-01 22:22] refried commented on #122
Sorry I've let this sit for a while.

We've got these 4-5 options; I wanted to collect some benchmarks before saying that 1-3 can be replaced by number 4.

1. Non-trampolined, `Id`-based State:  `S => (S,A)`
  * pro: simple, fast
  * cons: stack overflow (I've hit it.); special-case of StateT (DRY)
2. Trampolined, `Id`-based State:
  * pro: stack-safe
  * cons: slow; special-case of StateT? (DRY)

[2015-03-02 22:12] NightRa opened #247 "Kleisli monoid"
We should add the Kleisli monoid that comes from kleisli arrows; (Monad m) => Monoid (Kleisli m a a).
The instance in scalaz is the reader variant that requires the codomain to be a monoid.

Personally, I use the kleisli monad composition monoid **a lot**, and I haven't ever used the reader instance.
Opinions regarding what instance to implement?

[2015-03-04 21:47] #167 closed

[2015-03-06 01:19] #127 closed

[2015-03-06 18:32] stew commented on #179
this was fixed by #248

[2015-03-06 18:32] #179 closed

[2015-03-07 11:53] mandubian commented on #234
`EitherT` is quite useful too even if you often need to help a bit the compiler by specifying the types

[2015-03-08 14:09] ceedubs opened #255 "Add OneAnd tests"
At a minimum we can check laws for the instances it provides.

It's probably best to wait until #254 is merged before starting this work.

[2015-03-08 20:14] ceedubs commented on #122
I think we will at least want number 4: `StateT: F[S => F(S,A)]]`.

Some people may want number 1 for specific use cases, but I think generally this sort of thing is a ticking time bomb in a code base. I say we come back to this if someone really wants it.

Number 2 is a special case of number 4.

Number 5 sounds interesting and I should look into it more. We may want this in addition to number 4.

[2015-03-08 22:46] jdegoes commented on #122
@ceedubs Sure, happy to be of some assistance! I also agree that (4)'s the best one for inclusion (if you're only gonna do one), since `State` is potentially a special case of that, and "safe by default" is my preferred mantra. :smile_cat:

[2015-03-08 22:59] non commented on #122
I agree with @ceedubs (and @jdegoes) that (4) is the best place to start. Happy to add a type alias (and companion) for `State` in terms of `StateT` if it is useful, and happy to explore `MonadRec` in another PR.

I think this gives us a pretty clear way to move foward. What do you think @refried?

[2015-03-08 23:00] non commented on #122
(I'll also include a related point from Gitter.)

@refried:

@non:

(assuming std already depends on data.)

[2015-03-08 23:13] rossabaker commented on #122
I like @non's explicit instance idea, as long as it remains unusual.  If this technique becomes commonplace to work around our dependency graph, that's evidence that we need to rethink the dependency graph.

[2015-03-08 23:14] non commented on #122
@rossabaker: Agreed.

[2015-03-08 23:22] rossabaker commented on #189
Any lingering objections to the `Xor.left` proposal?

[2015-03-09 00:47] refried commented on #122
@non Yes.  Moving forward.

But, I've run into a snag.  I have an implementation of 4 that I thought was right (I think parametricity doesn't allow too many ways to do it?), but it still blows the stack, so it's not right enough.  Or maybe the problem is with my `freeInstance`, `trampolineInstance`, or `function0Instance`.  Or somewhere else...

[2015-03-09 03:06] refried commented on #122
Actually, is List.traverse[StateT[Trampoline,X],Y] even supposed to be stack-safe? or is it normal for that to blow up if the list is too big? @jdegoes

[2015-03-09 15:58] jdegoes commented on #122
@refried I'd suggest testing direct recursion, i.e. a simple function which calls itself N times. This way you can separate concerns, and such a function could be used for testing Trampoline directly, as well as for any monad transformer stacked on top of Trampoline.

[2015-03-10 00:18] refried commented on #122
@jdegoes Good idea, thanks.  As a sanity check, it's correct that:
* Id - not stack-safe (blows at ~2.7k deep)
* Function0 - not stack-safe (blows at ~39k deep)
* Trampoline - stack-safe (ok at ~1B deep)

[2015-03-10 01:32] refried opened #258 "Where should `Free`, `Trampoline`, and `function0Instance` live?"
"Our `data` depends on it!!"

Please discuss.

[2015-03-10 01:33] refried commented on #122
blocked by #258

[2015-03-10 01:35] refried commented on #258
Calling `Trampoline#run` requires a `Comonad[Function0]`

[2015-03-10 01:47] ceedubs commented on #258
Here are my thoughts:
You pretty much need `Function0` and `Function1` to do functional programming in Scala. I think they should be in `core`. I think instances for things like `Set`, `Vector`, etc should be in a separate module (like `std`), but I don't see much merit in keeping _everything_ from the standard library out of `core`. I think it would just be an uphill battle with no real return.

[2015-03-10 16:15] refried commented on #258
Sub-question: Currently I don't see any instances in `std` at all; should they go into the `Comonad` companion, for example?

[2015-03-10 16:19] refried commented on #183
Should we put a Ready tag on this?

[2015-03-10 16:23] mandubian commented on #183
where do we move it? (I've got another PR I coudn't finish yet containing Free doc & FreeApp)

[2015-03-10 16:51] refried commented on #183
`free.dependsOn(core)` and `free/` and `cats.free` ?

[2015-03-10 20:49] refried commented on #183
Why not move all of `cats.free` into `data`?  What is `data`?  Why not leave `cats.free` in `core`?  (Sorry.)

[2015-03-10 21:05] mandubian commented on #183
there have been some discussions about `data` status but I'm not sure where it ended because I couldn't follow cats recently

[2015-03-11 00:08] ceedubs commented on #258
I think we should probably follow the pattern used for `std` instances. I think it's going to be a pain if we have instances for a particular type spread among the companion objects for those type classes. We can probably combine `Function0` and `Function1` instances into a `cats.function._` import. Does that sound reasonable?

[2015-03-11 01:13] ceedubs commented on #183
I vote for what @refried said in https://github.com/non/cats/issues/183#issuecomment-78096432. There may be other modules that need to depend on free but don't want to depend on `data`. Moreover, I'd just like to see `State` get out the door and we can always move things around later if we start to see signs that our choice of module breakdown is wrong :)

[2015-03-11 08:25] mandubian commented on #183
Making `free` its own project would be interesting as we could also test other Free approaches in it.
`Free` is a subject in itself...

[2015-03-11 15:18] refried commented on #258
In scalaz, I think I only need to import `scalaz.std.list._` when I'm trying to pass an implicit `Foldable[List]` or `Plus[List]`.  And usually I hit the compilation error at least once, and then have to say "oh, right", and add that import.  Here, I need to import the instance for `List` because I'm explicitly using `List` in my code.

If I need to manually import `cats.function._` to be able to

[2015-03-19 07:18] adelbertc opened #260 "Serializable type classes"
A few folks may be using `cats` in conjunction with Spark which wants `Serializable` things. Related: https://github.com/non/algebra/issues/13

[2015-03-21 18:08] adelbertc commented on #122
Any room in Cats for `MonadState`? :-)

[2015-03-21 19:38] refried commented on #122
@adelbertc Get in line :-)

[2015-03-22 01:58] refried commented on #258
I could you could further make the argument that `Trampoline` is pretty much needed to do FP in Scala too though!  Hmm.

[2015-03-26 14:40] ngbinh commented on #18
:100: there is nothing more satisfying than working on a type check web client.

[2015-03-31 15:17] alexknvl commented on #229
Won't changing names make it harder for people to find documentation? At least with standard naming convention you can always find Haskell / Scalaz docs. Searching `StateTrans` on Google gives you no relevant results.

[2015-03-31 21:59] mpilquist commented on #189
If there are no further objections, I'll put together a PR for this.

[2015-03-31 22:30] rossabaker commented on #229
I've made my peace with the `*T` suffix.  `*Transformer` feels too long, and I can't think of anything else that improves the standard enough to merit diverging from the standard.

[2015-04-02 15:56] ceedubs commented on #216
Fixed by #217

[2015-04-02 15:56] #216 closed

[2015-04-06 13:45] #181 closed

[2015-04-06 17:32] #260 closed

[2015-04-08 22:43] mpilquist opened #273 "Create cats.data.Ior (inclusive-or)"
`Ior[+A, +B]` is an abstract data type with leaves `Left[A, Nothing](a: A)`, `Right[Nothing, B](b: B)`, and `Both[A, B](a: A, b: B)`. See #189 for suggested naming conventions.

[2015-04-08 22:48] mpilquist commented on #229
I'm going to start on this tonight. Speak up if you've already started working on it.

[2015-04-09 00:28] rossabaker commented on #229
It's going to be `XorT` now, right?

[2015-04-09 00:32] mpilquist commented on #229
Right -- wip branch is here: https://github.com/non/cats/commit/edac355a086597b020e3d3621502a37f9626ffb1

[2015-04-09 01:48] mpilquist commented on #229
What do folks expect the `===` method on `XorT[F, A, B]` to return? Scalaz's `EitherT` returns an `F[Boolean]`. I think folks typically expect to get a `Boolean` back though. The wip link above does the latter but I can change to the former if folks object. The same question exists for `compare`, `partialCompare`, and `show`.

[2015-04-11 23:55] benhutchison opened #277 "What's policy around typeclass instances for std lib collection classes?"
More a question, but seems too involved to ask on Gitter: what's the policy & thinking around what stdlib collections have typeclass instances provided? (ie in `cats.std`)

1. In scalaz, instances seem to be provided for `List` and `Vector` seqs. But I found it difficult to discover much discussion of why this choice was made, and some of the reasoning I did find ([IndexedSeq vs Vector](https://gi

[2015-04-12 05:00] tpolecat commented on #277
The big problem is that it tends to be impossible to define lawful typeclass instances for mutable structures because reference identity matters. For instance, `Functor[Array]` isn't lawful because you can't freely exchange `arr` and `arr.map(identity)` without [potentially] changing the meaning of your program. Same applies to `Seq` and `Iterable` because you must assume in general that they are

[2015-04-12 12:05] benhutchison commented on #277
Ok, thanks for explanation. Further questions:

* "Seq and Iterable because you must assume in general that they are mutable." Slightly confused - there are `immutable.Iterable` and `immutable.Seq` that both guarantee immutability, right? However, WRT my earlier-cited use case `immutable.Map#values: Iterable`, *that* Iterable is the generic form, so maybe that's what you meant?

* Where is stray c

[2015-04-12 15:13] tpolecat commented on #277
Hi, further potential answers:

- Even if you stick with `collection.immutable` you find that implementations are very unconstrained; some may obey a given typeclass's laws and others may not. For instance you could define `Functor[immutable.Iterable]`, but it wouldn't be lawful for `Set` or `Map`. I think this is a general problem with defining instances for non-final data types. Now, you might w

[2015-04-14 19:48] #189 closed

[2015-04-14 19:48] #273 closed

[2015-04-15 14:10] dwijnand opened #282 "No reference to the "free" module in README or the docs"

[2015-04-18 16:00] refried commented on #122
Bump; #183 #258 #284

[2015-04-18 16:29] refried commented on #122
I'm gonna put together a `state` subproject, and try to move forward from there.

[2015-04-18 19:29] refried opened #285 "`listInstance` inherits incompatible `sequence` signatures from `Applicative` and `Traverse`?"
[code]
Afaict, this makes it impossible to specify type args to the method.
[code]

It seems to be ok if the type args can be inferred:
[code]
...but it seems I can't do anything to help when type args can't be inferred:
[code]

I'm guessing that every instance that extends both `Traverse` and `Monad` is probably affected.

[2015-04-18 20:03] refried commented on #285
A type ascription removes the ambiguity, but seems silly to me:
[code]

[2015-04-18 20:09] refried commented on #285
I posted this as well: https://github.com/scalaz/scalaz/issues/926

[2015-04-19 04:11] stew opened #288 "Validated needs tests"
We should really have tests for all the concrete types. #239 adds a new Validated data type which doesn't have test coverage.

[2015-04-21 14:50] lvicentesanchez commented on #255
I will deal with this one if nobody has already started.

[2015-04-21 15:22] ceedubs commented on #255
Thanks @lvicentesanchez! As far as I know, nobody has started this work.

[2015-04-23 13:50] fthomas commented on #135
This should be fixed by #198, #215, and #223.

[2015-04-23 13:50] #135 closed

[2015-04-23 15:51] ceedubs commented on #104
Fixed by #239

[2015-04-23 15:51] #104 closed

[2015-04-23 15:54] ceedubs commented on #129
Fixed by #238

[2015-04-23 15:54] #129 closed

[2015-04-23 16:18] ceedubs commented on #145
I definitely would like to see these type classes.

I do like that Reducible would draw a parallel between foldLeft and reduceLeft. However, in the grand scheme of things, I'm wondering if Foldable1 would be more consistent/clear. Assuming we would have Traverse1/Traverse, the relationship between Foldable1/Foldable might be more clear. We have already chosen to use MonoidK and SemigroupK instead

[2015-04-23 18:22] ceedubs commented on #107
The data module has been merged into the core module, so I think this should be fairly straightforward to address now.

[2015-04-24 13:30] ceedubs opened #291 "Style convention for override modifier"
We should choose a convention for when we use the `override` modifier and be consistent with it.

See [this discussion](https://github.com/non/cats/pull/290#discussion_r28939702).

We can use the comments section of this issue page to discuss what we want our convention to be. Once we've reached a conclusion, someone can create a follow-up PR that updates code to follow the established convention.

[2015-04-24 17:33] fthomas commented on #183
Closing because `free` has been moved into a separate module in #205.

[2015-04-24 17:33] #183 closed

[2015-04-25 14:33] ceedubs commented on #247
Composition does seem more natural for combining arrows than using the `Monoid` of the result type to me. However, the composition approach could only provide a `Semigroup`, not a `Monoid`, couldn't it? I don't think that in the general case you can provide `empty` for `A => M[B]`.

[2015-04-25 14:38] ceedubs commented on #229
@mpilquist has submitted PR #287 for this. I think that one is close to getting merged, so I'm going to close this and we can continue any further discussion there.

[2015-04-25 14:38] #229 closed

[2015-04-25 15:19] ceedubs opened #293 "Type class instance naming conventions"
Currently Cats is using capital letters for type class instance parameter names, such as this:

[code]

It may be worth noting that this same convention is used by Scalaz.

This convention is fairly straightforward once you are used to it, and it is very concise. However, both @stew and I have seen people struggle with confusion with this convention.

I believe this confusion tends to stem from th

[2015-04-25 15:21] ceedubs commented on #293
See also this [gitter conversation](https://gitter.im/non/cats?at=553ba8adbbc455106370a5b8) in which @propensive weighs in with some thoughts.

[2015-04-25 16:52] ceedubs commented on #147
@non do you have an example of when using separate argument lists improves type inference? It seems like I've been aware of examples in the past, but I'm having trouble recreating one.

Option.fold is an example of a method in which I often run into type inference issues that wouldn't occur if it had only a single argument list. [Here](https://gist.github.com/ceedubs/f29df9d30ddd4b4994da) is an ex

[2015-04-25 17:05] ceedubs commented on #24
We now have `Xor` in the `core` module. I'm going to close out this issue, but I'm happy to reopen it if people want further discussion on whether that's the right long-term home for this.

[2015-04-25 17:05] #24 closed

[2015-04-25 23:25] refried commented on #285
:+1:

[2015-04-26 01:01] non commented on #293
Hmm. My gut reaction to `functorF` is pretty negative. I think there are two things I don't like:

1. I worry that repeating the word *functor* makes things more obscure in a certain way.
2. I find the names a bit ugly.

A great question is what alternative would I propose? I don't have a clear answer yet.

If everyone else wants to move to `functorF`-style parameters I won't stand in the way, but

[2015-04-26 01:03] non commented on #293
One question for @ceedubs and @stew:

Are people confused by seeing params like `F` and `G` used? Or is just the existence of the parameter that is confusing?

If it is the former, then trying to make it easier to avoid needing to reference the implicit params would be useful (and we could move to context bounds in many-but-not-all cases). If the latter, then trying to move to context bounds might

[2015-04-26 01:59] stew commented on #293
that we are using F to mean one thing in contexts and another in value contexts.

[2015-04-26 02:09] stew commented on #157
So now that I've made #294 I'm more familiar. so the way things are in that PR:

We have syntax for <+> (among others), to get it you have to import either:
`cats.syntax.all._` or `cats.SemigroupK.Ops._` or cats.syntax.semigroupk._`

I'm using this as an example instead of |+| because we get semigroup from algebra, not from cats directly. there is still usable syntax there, just not from simulacru

[2015-04-26 02:28] non commented on #293
I see. So it mirrors (but is possibly worse than) the confusion between a type `Foo` and its companion object `Foo`.

[2015-04-26 06:00] rossabaker commented on #293
In defense of the status quo, it simplifies refactoring whenever a context bound is found to be too strict or too lax.  I'm open to change here, but `functorF` has a faint odor of Hungarian notation.

[2015-04-26 06:17] tpolecat commented on #293
A problem with the `A`-convention is that it doesn't scale:

[code]

Can't be written using `A` for both parameters. In these cases I have punted and used `F` and `B`, but now I'm thinking maybe a middle ground like `evF` and `evB` would work. Lowercase makes the identifiers less jarring to see in term position, but they're still weird enough that you understand they're somehow distinct from norma

[2015-04-27 01:23] #285 closed

[2015-04-30 15:12] milessabin commented on #293
I'm really not a fan of Scalaz's single upper case term name convention.

In @tpolecat's example I would most likely use `fooA` and `barA` or possibly abbreviate to `fA` and `bA`. In the case of functors likely abbreviate `functorT` to `fT`.

[2015-05-04 16:50] xuwei-k opened #301 "Monoid[Double] and Monoid[Float] are incorrect"
https://github.com/xuwei-k/cats/commit/6dbad2ddff10

[2015-05-05 13:59] ceedubs commented on #291
I think I might have just found another benefit of using `override` everywhere it is allowed. [This comment](https://github.com/non/cats/pull/302#discussion_r29667659) made me look into whether we could have Scalastyle enforce that we have return types on public methods. It can, but this would probably require us to add explicit return types in a bunch of places where we are providing an implement

[2015-05-05 14:36] non commented on #291
Yeah, I pretty much think the type annotations should be on overridden methods too.

[2015-05-05 14:39] ceedubs commented on #291
Okay. I'll look into submitting a PR for that.

[2015-05-06 18:15] non opened #307 "Consider an `Empty[+A]` type class"
On Gitter @paulp brings up the possibility of a type class to represent emptiness. Here are some code snippets he posted:

[code]

My sense is that like Scalaz's earlier `Zero[A]` type class, many folks intuitively feel like something like this should exist.

Some possible problems I can foresee:
- Can we write laws about `Empty[A]` in isolation? If not, what laws can we write relative to other ty

[2015-05-06 19:45] rossabaker commented on #307
I wouldn't add `Empty` solely for this, but the [discussion of coflatMap and emptiness](https://gitter.im/non/cats?at=54e28036355bbcc86103e3ec) comes to mind.

[2015-05-06 22:30] paulp commented on #307
Yes, in that discussion we hear talk of ```def partialExtract(fa: F[A]): Option[A]```, but this is fully covered by ```def extract(fa: F[A]): A``` in combination with ```Empty[F]``` (that's ```* -> *```, not sure how the kind-polymorphism situation platys out) and avoids hardcoding Option into the interface.

[2015-05-07 13:38] ceedubs commented on #185
I separately ran into a similar issue with `StateT`/`State`. It looks like [SI-7139](https://issues.scala-lang.org/browse/SI-7139) is the culprit.

[2015-05-07 14:03] refried commented on #185
Same.
On Thu, May 7, 2015 at 09:38 Cody Allen <notifications@github.com> wrote:

[2015-05-20 03:05] #122 closed

[2015-05-20 03:51] travisbrown commented on #247
@ceedubs Because the composition monoid would be available for endomorphic arrows, the `empty` would just be `F.pure(_)`.

I know I've used the "reader" monoid for Kleisli arrows, and I'd prefer to provide the composition monoid via a newtype for endomorphic arrows (this seems arguably more intuitive and definitely more standard than the reverse).

[2015-05-20 10:13] ceedubs commented on #258
When working on `State`, [this](https://github.com/non/cats/blob/471553e81d79ab8aadfb12bfa1454f7305149ef4/state/src/main/scala/cats/state/State.scala#L109-L111) made me feel like the function instances (at least `function0`) should be in core.

Since (so far at least) the decision has been to use std lib's `Option` and `List` in Cats instead of creating our own versions, I am wondering if those in

[2015-05-20 10:16] ceedubs commented on #247
@travisbrown ah that makes sense. Thanks!

[2015-05-20 13:58] refried commented on #258
I agree; automatically finding instances in a suitable companion object is much more user friendly IMO than manual imports.

[2015-05-20 16:40] ceedubs opened #314 "Document State"
I think there are also a number of helper methods that are missing on State.

[2015-05-20 16:57] travisbrown commented on #314
Has there been any discussion of including something like Scalaz's `MonadState`? It really helps the usability of `StateT` stacks.

[2015-05-22 17:09] non opened #317 "Automatically publish snapshots (or versioned by Git hash)"
Pretty much what it sounds like. It would be good to automatically do this so that folks can quickly try out the newest and shiniest parts of Cats.

I have historically been against publishing `-SNAPSHOT` builds, but they are relatively easy, and have the nice property of not taking up a ton of space. I've heard of `sbt-git` but haven't used it yet, so that might be an alternative that would produ

[2015-05-22 17:20] non commented on #255
Is this still in progress?

[2015-05-22 17:25] non commented on #155
It sounds like @InTheNow is going to look into this.

@travisbrown do you feel strongly that we shouldn't set it up from Travis?

[2015-05-22 17:26] non commented on #317
It sounds like @InTheNow is going to look into this.

If people have strong feelings about `-SNAPSHOT` versus git-hashes, speak up now! :)

[2015-05-22 17:27] non opened #318 "Set up code coverage"
It would be nice to see how good our tests are.

I've used [scoverage](https://github.com/scoverage) a bit so maybe it's worth it to start there.

It would be *really* fancy to have Travis automatically calculate code coverage for us. One site I've seen that does this is [https://codecov.io/](https://codecov.io/). The Miniboxing project is using this right now and it seems interesting.

[2015-05-22 17:29] non commented on #318
It sounds like @InTheNow is going to look into this.

[2015-05-22 17:31] non commented on #197
@mandubian Do you still  have things you are working on for this bug? Should it be closed? Is there a status update we can post here?

[2015-05-22 17:34] non commented on #234
We have `XorT` already, and we have a PR for `OptionT` right now (#304).

I don't think there is a plan for `ListT` as of yet.

What should the scope of this issue be?

[2015-05-22 17:36] travisbrown commented on #155
No, going ahead sounds good to me!—at a glance it looks like it shouldn't be too hard to set this up with `deploy` or `after_success` to get around my concern.

[2015-05-22 17:36] non commented on #145
Fixed in #298.

[2015-05-22 17:36] #145 closed

[2015-05-22 17:39] non commented on #50
Fixed by #77

[2015-05-22 17:39] #50 closed

[2015-05-22 17:42] non commented on #87
@ceedubs would you say this is addressed now? I think we can close this.

[2015-05-22 17:42] non commented on #109
Did we decide to leave this out? @mandubian should I close this issue?

[2015-05-22 17:43] non commented on #94
Is there consensus here?

So far it seems like @ceedubs and @tpolecat would like to see this and @mpilquist is skeptical?

[2015-05-22 17:45] non commented on #31
Since we have a `Validated` type now, we can proceed on this issue.

[2015-05-22 17:47] non commented on #8
@julien-truffaut there hasn't been any discussion on this issue. Do you want to keep it open? Are there concrete proposals to move forward?

[2015-05-22 19:40] dwijnand commented on #317
Speaking as a non-maintainer of cats, my preference is for git hashes.

It would be easier to make a case for it if there were at least 1 release (tag) of cats, as one nice way to version builds is using `git describe` (which `sbt-git` supports) which amounts to:

[2015-05-22 19:44] non commented on #317
@dwijnand Interesting. I think we might be getting close to a 0.1 release if we can improve our documentation/test coverage.

[2015-05-22 20:38] julien-truffaut commented on #8
No we didn't have any discussion regarding this issue recently. So it is better to close it for the moment.

I think scalaz 8 is looking toward this approach, we can always monitor how does it go.

[2015-05-22 20:38] #8 closed

[2015-05-23 02:16] rossabaker commented on #155
http4s publishes from Travis.  We call this [bash script](https://github.com/http4s/http4s/blob/v0.7.0/bin/travis-publish) from after_success.  I don't think that's a drop-in solution for cats, but it's a starting point.

[2015-05-23 02:21] rossabaker commented on #317
Would these untagged releases go to Maven Central, or is that a holy place for tagged builds?

[2015-05-23 08:52] dwijnand commented on #317
Shapeless pushes to Sonatype snapshots, but perhaps bintray would be faster and/or easier.

[2015-05-23 09:55] mandubian commented on #197
I have published docs for FreeMonad in another PR and couldn't find time to work on FreeApp doc.
So you can close it for now, we'll open a new one later

[2015-05-23 09:58] mandubian commented on #109
Yes you can, I think Codensity is not so useful in real life. It's useful to know that you can use this technique in a structure but you rarely use Codensity directly except for PoC.

[2015-05-23 09:59] mandubian commented on #234
you could close it and create one for `ListT` alone. `ListT` could be useful in the future

[2015-05-23 10:13] InTheNow commented on #317
I copied some comments on topic to https://github.com/w3c/banana-rdf/pull/240. There is some b-rdf noise there, main points are that Maven 3 and Artifactory have (I think) already addressed these issues and hence, if possible, it would be best to use these rather than "role our own".

[2015-05-23 10:24] InTheNow commented on #155
@rossabaker thanks for the head start link and @travisbrown for the tip :)

[2015-05-23 11:47] InTheNow commented on #317
Further to my previous link from 06.03.2105, I've google'd some more on having auto-time stamped SNAPSHOTS as per Maven3:

- [SBT doesn't honor Maven's uniqueVersions #1322](https://github.com/sbt/sbt/issues/1322)
- [sbt-maven-resolver: Use Aether for resolving maven dependencies #1793](https://github.com/sbt/sbt/pull/1793)
- [sbt release 13.8 adds ](https://github.com/sbt/sbt/releases/tag/v0.13.8

[2015-05-23 14:45] dwijnand commented on #317
I apologise up front, but I had real difficulty understanding the details in that banana-rdf pull request.. but I'm actually interested, why you did you have to rollback using git hashes?

Even if there's prior art to making `-SNAPSHOT`s auto-timestamp, I would still go with something like `sbt-git`'s `enablePlugins(GitVersioning)`, as I find it useful to know the tag distance and commit SHA.

The

[2015-05-23 15:13] InTheNow commented on #317
We didn't _have_ to, rather I wanted to. The main point I guess I'm trying to get over is that the SNAPSHOT mechanism that people _think_ there is actually has actually changes; it's just that ivy has not caught up.

So in maven3, they always have a timestamp added for uniqueness. And is it is an in built feature, tools (other than ivy) know what to do with it, without having to explicitly update

[2015-05-23 15:40] InTheNow commented on #317
Here is a [random example](https://oss.sonatype.org/content/repositories/snapshots/io/airlift/dbpool/0.110-SNAPSHOT/)

`dbpool/0.110-SNAPSHOT` is one version snapshot, but there are 5 actual versions stored there. [The pom](https://oss.sonatype.org/content/repositories/snapshots/io/airlift/dbpool/0.110-SNAPSHOT/maven-metadata.xml) is accessed via `dbpool/0.110-SNAPSHOT` and points to the latest ve

[2015-05-23 15:44] dwijnand commented on #317
Ah, I see, so you're still depending on cats `0.1.0-SNAPSHOT`.

For various reasons, including repeatable builds and for `git bisect`, I would prefer using a stable identifier, so I would start by trying out cats version `0.1.0+3-1234abcd`, and then 3 days later, when there's some interesting change in cats I want to try out, I update it to `0.1.0+7-5678efgh`.

You could say perhaps I don't want a

[2015-05-23 15:55] InTheNow commented on #317
Ahh - but not necessarily, that's the point. In fact we have _both_ cases available: Examples:

- user @inthenow uses `0.1.0-SNAPSHOT` and will get the "automatic" one
- User  @dwijnand thinks that is a bad idea so uses  `0.1.0-SNAPSHOT-20150518.223019-1` and has a stable build, no matter if new snapshots are done. Then, and then 3 days later, when there's some interesting change in cats he wants

[2015-05-23 16:34] dwijnand commented on #317
Ah, sweet.

So now the question is between:
* A system that includes tag distance and exact SHA, but requires a little work (tooling) to later update version
* A system that is timestamp only, but which you can configure when to update (always/daily/never).

[2015-05-23 16:41] InTheNow commented on #317
:)

System b) that you mention is maven 3, and now part of sbt since 13.8 . So that would be my recommendation, _by far_

If you want the first, couldn't this be achieved artificially by a generic plugin seeing that there is an exact timestamp? ie you get the git info based on time stamp?

[2015-05-23 16:51] non opened #321 "Add documentation for FreeApplicative"
Basic explanation and usage example would be nice, similar to what we have for Free (the free Monad).

[2015-05-23 16:52] non commented on #197
Ok, I'm closing this issue in favor of #321

[2015-05-23 16:52] #197 closed

[2015-05-23 16:52] #109 closed

[2015-05-23 17:17] non commented on #317
My sense is that (b) is easier for us. I worry that (a) would be a lot easier for users if we set it up. But maybe if we document how to use timestamped snapshots (and ensure that old timestamped snapshots aren't clobbered by newer ones) then maybe things are OK?

A totally separate issue is if Sonatype will store a large number of timestamped snapshots? If not, how quickly will they be deleted?

[2015-05-23 17:24] InTheNow commented on #317
Already documented in sbt, we can always add our own introduction

Sonatype will not allow this

By default-ish, yes, as timestamped snapshots are recommended

Not sure if this can be set up within sonatype or we need to do it. will look int that

[2015-05-24 12:01] InTheNow commented on #317
See [Remove Snapshots from Repository in](https://books.sonatype.com/nexus-book/reference/scheduled-tasks.html).

[2015-05-24 12:05] non commented on #317
Right, that makes sense.

However, I wonder whether the task makes sense. I think part of the request for "versioned" snapshots was that they would be stable and permanent (so that N months down the line people's projects would still work). If we are deleting the timestamped snapshots, that means those dependent projects will still break N months out.

Maybe we should use un-timestamped snapshots

[2015-05-24 12:12] InTheNow commented on #317
from the docs "A value of -1 indicates that all snapshots should be preserved." So that would suffice.

In fact, as of maven 3_all_ snapshots are time stamped but we can see this when we start using it.

[2015-05-24 12:14] non commented on #317
OK, great. Sorry for my scattered thoughts on this.

It seems like you've got a handle on it, so I'll be quiet and see what the PR looks like. Thanks! :)

[2015-05-24 12:58] eed3si9n commented on #317
For untagged builds, my preference would be to:

1. use git SHA versioning
2. make a maven-snapshots repository on Bintray and publish to it
3. sync artifacts to both [JCenter][1] and [Maven Central][2]

sbt did add [Maven resolver plugin][3], but it's still experimental, and I see it more as a compatibility glue for legacy rather than a way forward. @jsuereth is the author for both sbt-git and th

[2015-05-24 13:44] InTheNow commented on #317
Hmm:

Bintray does not support snapshots, nor does JCenter.  What they do provide, via Artifactory, is [OJO](http://www.jfrog.com/confluence/pages/viewpage.action?pageId=26083425) "Host my snapshot build artifacts on the OSS Artifactory at https://oss.jfrog.org" See [example](http://oss.jfrog.org/simple/oss-snapshot-local/co/freeside/betamax/betamax-core/2.0-SNAPSHOT/)

The maven snapshots here ar

[2015-05-24 14:01] InTheNow commented on #317
But... as I really am not _that_ opinionated on the subject - I wonder if we can do all three, that is in addition to https://github.com/non/cats/issues/317#issuecomment-104917125:

- also add `git description` info to additional jars as an extra pom classifier or similar

[2015-05-24 17:45] refried opened #323 "Some github.io docs rendering issues"
I noticed a few places in freemonad.html where the markup isn't being displayed correctly:

1. "Run your program stack-safe" is "6." in the .md and "1." in the .html.  In fact, it looks like all of the numbered sections become "1." in the html.

2. At least one tut block is not rendering correctly; search for "// Pure computation";  I can't tell why it isn't.

[2015-05-25 02:08] refried commented on #285
The answer to scalaz/scalaz#926 was interesting; now I don't know what to think.

[2015-05-25 12:59] lvicentesanchez commented on #255
Sorry I was trapped by "real world" stuff. I will work on this the next couple of days and submit a PR.

[2015-05-25 17:54] non commented on #255
No problem, we are all volunteers here! :)

I just wanted to "unclaim" the bug if you were not going to be able to get to it.

[2015-05-26 13:27] ceedubs commented on #87
:+1:

[2015-05-26 13:27] #87 closed

[2015-05-28 12:43] InTheNow commented on #318
@non Although technically unrelated to sjs, are you OK if i do this on that branch? As we have code that is compiled twice, tested once (twice in the future) I would like to set things up with these scenarios already considered

[2015-05-28 15:35] non commented on #318
Sure, I am fine with that.

Worst-case, you or I can port the code from this branch to master if we feel like we need it sooner.

[2015-05-29 23:01] woparry commented on #224
I will add these tests.

[2015-05-30 19:01] woparry commented on #224
Pull request submitted, including bugfixes for List.traverse and Vectore.traverse.

[2015-05-30 19:01] woparry commented on #224
#328

[2015-05-30 19:09] woparry commented on #288
I will add these.

[2015-05-30 21:30] woparry commented on #288
created pr #329

[2015-06-02 00:14] woparry commented on #128
I will do this.

[2015-06-02 16:16] woparry commented on #128
#332

[2015-06-02 16:24] woparry commented on #107
I will do this as soon as PR #328 (Tests for traverse and foldable) is merged.

[2015-06-02 17:20] adelbertc commented on #107
An issue I had when I tried tackling this was `Foldable` requires `foldLeft` and `foldRight`. The "usual" means of defining `Foldable` in terms of `Traverse` is to fix the `Applicative` to be `Const[X : Monoid, ?]` which gives you `foldMap`, from which you can derive `fold{Left, Right}`. However for efficiency and laziness reasons it's not so simple as just defining them as stated above.

[2015-06-04 01:50] woparry commented on #107
I don't think it's possible to define foldRight [or partialFold which it requires] properly in terms of traverse as-is because we can't do a partial traversal.

Certainly we could make the default implementation eager (and override in the instances that support partial traversals).

Look for example at stream.scala - traverse is implemented by forcing a foldRight! There's no way this will not insp

[2015-06-04 01:52] woparry commented on #107
Does this indicate that Traverse should not imply Foldable? or do we split LazyFoldable out into a separate typeclass?

[2015-06-04 01:52] non commented on #107
We actually have a `partialFold` method precisely to allow composition of partial folds, check it out!

I'm not 100% sure if it will solve your problem, but I think it might.

[2015-06-04 01:55] woparry commented on #107
No, I need to _implement_ partialFold from traverse to successfully resolve this - the point is to have a default Foldable instance given Traverse.

[2015-06-04 01:56] non commented on #107
Aha, OK, I see what you mean. Sorry, ignore me!

[2015-06-04 17:16] adelbertc commented on #107
I suppose you could have a `Foldable[F[_]]` that has strict semantics which `Traverse[F[_]]` can implement fully, and then have a `LazyFoldable[F[_]] extends Foldable[F]` for the nice lazy fold stuff? Seems a bit strange though.

[2015-06-04 21:47] woparry commented on #258
When working on #107 I found it odd that I didn't have Monoid[Function1[A, A]] in core, but I did have the isomorphic Monoid[Kleisli[Id, A, A]].

[2015-06-04 22:27] non commented on #258
I'm finally ready to admit defeat on the modularization effort to keep `std` separate from `core`.

The design came from the Algebra project, where it still makes sense. However, it seems like it is causing a lot of inconvenience at every turn here in Cats. Since it primarily protects against a problem that we haven't had yet (privileging built-in implementations in a way that third-parties won't

[2015-06-04 22:28] non commented on #258
Obviously if someone disagrees with me and wants to defend the split I'm happy to talk about it more. But I think I was the person who pushed modularization the hardest, and I've decided that it seems to be more trouble than it is worth in this case.

[2015-06-04 22:30] non opened #333 "Fold cats.std into the core project"
I think we should move everything from the `std` project into `core` (preserving the `cats.std` namespace) and then get rid of the `core` project.

For a more detailed rationale, see discussion attached to #258.

What do you all think? If I don't hear anyone else pushing to defend the distinction I'll prepare a PR as soon as I can.

[2015-06-04 22:37] mpilquist commented on #258
:+1:

[2015-06-04 22:46] refried commented on #333
Wait, move everything into `core` and then get rid of `core`? :)

[2015-06-04 22:51] non commented on #333
No, no, I want to keep the other separations (free, state, and so on).

[2015-06-04 23:35] woparry commented on #333
I'm not so sure about this - the separation felt clean to me, and kept core relatively uncluttered (it didn't contain any instances).
Have we considered going the other way - breaking things up into much more granular modules, and explicitly declaring their dependencies and pulling in the things you need to work with them?

Under such a model, we'd have dependency diagrams like:

ApplicativeTypecl

[2015-06-04 23:48] non commented on #333
That's an interesting suggestion.

In projects like Spire, that wouldn't be ideal, since often you find yourself working with a concrete type (e.g. `Long` or `Double`) and want to import *all* the functionality Spire provides for that type. But it could work in Cats I suppose.

So in your scheme if I wanted to import instances for `Applicative[List]`, `MonoidK[List]`, and `Traverse[List]`, would I

[2015-06-04 23:57] woparry commented on #333
You'd need separate imports for at least all non-derivable instances - hopefully you going import Traverse and also get Foldable, for example.

The alternate organization where you can get all instances for a type is also interesting; in theory that could also be provided (ie. via a separate set of modules with dependencies like ListApplicative -> ListInstances <- ListTraverse etc).

My worry is m

[2015-06-05 00:22] non commented on #333
I agree that I'm worried about a big ball of mud, and heartened that you liked the previous split.

How do you like the current design? Right now, we've corralled instances into objects like `cats.std.list`, `cats.std.map`, and so on. In a few very cases in core we have instances (right now just for `Id[_]` and for type classes defined in Algebra).

[2015-06-05 06:53] stew commented on #258
I'm thrilled we tried the experiment. It is a great thing that we have this pristine project that nobody is relying on to launch their missiles with and we can experiment with. I think we can mark it as a win that we did the experiment, learned something, and exited gracefully, so I'm all for combining stuff.

I think that a trampoline is a first class abstraction when trying to present a core lib

[2015-06-05 06:55] stew commented on #30
I say kill the Bimonad

[2015-06-05 06:58] stew commented on #18
do we have concrete items that people can work on for this? I see testing in the older comments, but perhaps that has changed since these comments were made, as clearly there is a lot of momentum behind scalajs

[2015-06-05 07:03] stew commented on #93
so "do we implement general purpose datastructures" is like a can of worms. Do we just do this one? do we need a Dequeue? how about a Maybe? IList? ... slippery slope

My vote is that we label this stuff out of scope and put these data structures into a different project

[2015-06-05 07:05] stew commented on #95
ok, so we have sat on this for way too many months. can someone just integrate the @xuwei-k into our docs somewhere?

Is this something we can regenerate easily when stuff chnages? @xuwei-k ?

[2015-06-05 07:07] stew commented on #213
My gut feeling is that this stuff belongs in a separate project.

[2015-06-05 07:09] stew commented on #291
personally I'm in favor of putting it everywhere it is allowed, it just enables more compiler verification of types. I don't feel strongly enough to go to the matt with someone on it though

[2015-06-05 08:05] xuwei-k commented on #95
Please feel free to use this :)
- https://github.com/xuwei-k/cats/commit/4549ac6d58c8
- https://github.com/xuwei-k/sbt-class-diagram
- http://xuwei-k.github.io/cats-2015-06-05.svg

[2015-06-05 08:57] julien-truffaut commented on #93
I agree with @stew we can implement these sort of generic purpose data structures in another repo

[2015-06-05 09:02] julien-truffaut commented on #333
:+1:  for merging `std` into `core`, the two modules have the same dependencies, `std` will still be in its own package and it means we can use `std` instances in typeclasses default implementation.

[2015-06-05 09:22] InTheNow commented on #18
@stew - It's all well under way. eg https://github.com/non/cats/tree/topic/sjs . I'm a bit busy this minute, but later will write up what I've done, etc.

[2015-06-05 11:56] ceedubs commented on #93
Sounds reasonable.

[2015-06-05 11:56] #93 closed

[2015-06-05 19:57] woparry commented on #333
Yes - actually, #107 is making me think about whether we want to have default typeclass implementations at all (I assume we're taking about things like filling in the implementation of map given flatMap).

In most cases the default implementation of foldLeft/foldRight in terms of traverse is awful for performance/laziness/etc.

Why even bother with it? Why not leave them all abstract?

It should b

[2015-06-05 20:06] woparry commented on #333
Also: regarding "modules still being separate" - one consequence of moving data into core is that data things are starting to show up on changes to std - see my comment on #304. Removing the module-level between std and core will make this worse.

[2015-06-05 20:09] non commented on #333
@woparry I agree that in my experience one almost always wants to override all the methods defined by a type class. I've thought about a design where the typeclass itself is totally abstract, but then has one (or more) traits which provide defaults for users who want a terse definition (or for whom defaults are fine).

[2015-06-06 14:14] InTheNow commented on #18
The general process for adding Scala.js(sjs) support to a JVM project is to modify the build to :
- cross-compile the code, including the test code, to jvm/sjs. This is usually
achieved with the sjs CrossProject class
 (Alternatively, there is the shapless approach of having a git branch per platform)
- include sjs versions of libs for the sjs build, including any test frameworks, coverage tools,

[2015-06-06 14:42] mpilquist commented on #18
@InTheNow I'm all for doing whatever needs to be done to make simulacrum work with SJS. I didn't think we'd need to build SJS artifacts since simulacrum shouldn't be on the runtime classpath. That was just an assumption though.

[2015-06-06 14:44] InTheNow commented on #18
@mpilquist Excellent- I'll build all the modules locally first so I can be sure they all work as they should, are actually required, etc

[2015-06-08 17:29] woparry commented on #224
#328 was the PR for this - this issue should be closed (sorry for muddying up the issue tracker).

[2015-06-08 17:30] woparry commented on #288
#329 has been merged, this should be closed (sorry for muddying up the issue tracker).

[2015-06-08 18:32] woparry commented on #333
That sounds reasonable, especially if the default implementations are in a separate (optional) module.

[2015-06-08 19:00] woparry opened #334 "Typeclasses that ONLY define laws."
What do people think of adding typeclasses that only add new laws (ie. have no new functionality, but restrict which implementations are valid.)

I'm specifically thinking of something like CommutativeMonad, which would add a commutativity restriction to Monad (so that e.g. a distributive law can be derived which would allow composition, see #332 and the related discussion re: Traverse).

Since we

[2015-06-08 21:24] fthomas commented on #288
fixed by #329

[2015-06-08 21:24] #288 closed

[2015-06-08 21:26] #224 closed

[2015-06-09 16:26] #318 closed

[2015-06-09 20:19] woparry opened #335 "Better test coverage for Xor"
We should have more tests for Xor - it's currently at 40%.

https://codecov.io/github/non/cats/core/src/main/scala/cats/data/Xor.scala?ref=master

I will do this.

[2015-06-09 20:31] non commented on #335
@woparry Thanks! :cat2:

[2015-06-09 21:21] adelbertc commented on #255
What's the status on this? @lvicentesanchez if you're still trapped by stuff I can take this up.

[2015-06-09 21:38] adelbertc opened #336 "Better test coverage for `cats.data.Const`"
I'll work on this - hopefully incoming PR tonight.

[2015-06-09 21:39] lvicentesanchez commented on #255
yes. you should take it up I you can... I haven't had time to look at this
yet :(
On 9 Jun 2015 23:21, "Adelbert Chang" <notifications@github.com> wrote:

[2015-06-09 22:29] non opened #338 "Consider adding a MonadError type class"
EDIT: The consensus seems to be that a `MonadError` type class, a la Scalaz, is preferrable.

Haskell's monad typeclass has historically had a `fail` method.

[This proposal](https://github.com/quchen/articles/blob/master/monad_fail.md) proposes that Haskell introduce a `MonadFail` class to distinguish monads that have a sensible failure state from ones that don't.

Cats has never had a `fail` met

[2015-06-09 23:56] adelbertc commented on #255
I got this.

[2015-06-10 00:06] woparry commented on #168
Proposal:
Remove all default implementations from cats' typeclasses. It's almost always less performant to use them rather than the methods on the concrete types. This means that Monad would have abstract map, flatMap, etc.
Provide additionally a DefaultMonad that has these defaults and requires only flatMap and pure.
Add tests to the laws that verify consistency of your implementation with the de

[2015-06-10 00:09] non commented on #168
That's a really nice design, especially because it means we don't have to "double-encode" the default implementations in both the type class and the test.

I'm trying to think of a better name than `DefaultMonad` but other than that I like this proposal.

[2015-06-10 03:31] adelbertc commented on #255
To test the different instances with more general constraints (https://github.com/non/cats/blob/master/core/src/main/scala/cats/data/OneAnd.scala#L80-119), I was thinking of having something like this, possibly in `cats-tests`.

[code]

Note the lack of `implicit` on the type class instances - this would allow us to test each instance by wrapping the tests in it's own block with an implicit val as

[2015-06-10 06:08] adelbertc commented on #338
I'm not sure how I feel about `MonadFail` given the `String`-iness of `String -> m a` but I would be very interested in something like `MonadError`.

[2015-06-10 17:43] adelbertc opened #340 "`mtl`-esque type classes"
https://hackage.haskell.org/package/mtl

I've primarily found use in `MonadError` that allows you to `handleError: F[E, A] => (E => F[E, A]) => F[E, A]` and `raiseError: E => F[E, A]` - useful when handling `XorT`.

Other ones I can perhaps see as useful are `MonadState`, `MonadReader`, and `MonadWriter` (maybe not this one since Cats doesn't have a `Writer` (yet)).

[2015-06-11 01:25] woparry opened #341 "Better test coverage for Ior"
starting work on this

[2015-06-11 01:26] #335 closed

[2015-06-11 02:50] ceedubs commented on #340
@travisbrown also [mentioned](https://github.com/non/cats/issues/314#issuecomment-103958495) the usefulness of `MonadState`.

I haven't really worked these type classes into my code yet, but they do seem like they could be helpful.

[2015-06-11 15:52] woparry opened #344 "Better test coverage for Validated"
working on this since I left these out in the first pass

[2015-06-11 16:05] InTheNow commented on #317
@non To get this to work, we need a tag for git to work from. For this I added a tag "v0.0.0" and the initial commit, so please can you do this on master as well?

[code]

[2015-06-11 21:14] #341 closed

[2015-06-11 21:16] #344 closed

[2015-06-14 05:44] adelbertc commented on #336
Done https://github.com/non/cats/pull/339

[2015-06-14 05:44] #336 closed

[2015-06-14 11:24] channingwalton commented on #151
#147 is related.

[2015-06-15 12:38] japgolly opened #349 "Consider fine-granularity of typeclass instances"
This is just a suggestion. First, some background: Scala.JS compiles to JS using two alternate methods of generation: fast and full. One of the tools employed by full optimisation to produce small output is whole program optimisation. Only code that your entry point(s) transitively touch are included; the rest is discarded.

What this means for Cats specifically, is that when one uses a typeclass

[2015-06-15 13:33] InTheNow commented on #349
@japgolly Thanks for raising this issue and the /cc. For others, it's based on [this gitter chat] (https://gitter.im/japgolly/scalajs-react?at=557d4fee7d5adaae3b4efe39) that is the gitter for his scala.js interface to [facebook's react framework](https://facebook.github.io/react/)

What I think is really of interest to Cats is a real test case for cat's modularity in scala.js on a popular library.

[2015-06-15 18:15] refried opened #350 "non-compiling test not caught by CI?"
`tests/src/test/scala/cats/tests/ConstTests.scala` doesn't compile as of 0da98ce.

Is the `tests` project somehow not included in the CI process?  Main page says build is passing.

[code]

[2015-06-15 18:31] travisbrown commented on #350
This is probably just SBT not updating the Algebra snapshot. Can you try again after `sbt update`, and if that doesn't work try one more time after nuking the relevant directories under `~/.ivy2`?

[2015-06-15 21:54] japgolly commented on #349
Oh I don't mean this in relation to `IO` - that's separate *(and I ended up decided in japgolly/scalajs-react#145 we're going be self-sufficient there - maybe even entirely decoupled from Scalaz (and Cats) with those being ext modules)*.

I meant this just as a general point when using Cats with any Scala.JS lib. It was actually https://github.com/japgolly/scalacss/issues/17 I was thinking of. :sm

[2015-06-16 08:24] InTheNow commented on #349
Wow - so that's two use cases then :+1:

[2015-06-16 14:14] non commented on #349
@japgolly That's a great observation. I'll look into splitting up the instances where it makes sense.

[2015-06-16 14:37] InTheNow commented on #333
Perhaps also of interest, from scala.js world -  https://github.com/non/cats/issues/349: Consider fine-granularity of typeclass instances

[2015-06-16 22:25] adelbertc commented on #350
These were added by me and require the latest SNAPSHOT of `algebra` - I had to delete the `algebra` directories in `~/.ivy2/cache/org.spire-math` for it to work.

[2015-06-17 02:10] refried commented on #350
Yeah I guess that was it.  Do we want to do anything to pinpoint the versions we're dependent on, or is this good enough?

[2015-06-17 04:05] woparry commented on #168
I'll start of a sketch of this for one typeclass and if we like it we can go further.

[2015-06-17 05:25] non commented on #168
Sounds like a plan. Thanks! :8ball:

[2015-06-20 13:47] ceedubs commented on #338
I agree with @adelbertc. I don't see any reason to limit to String when we can abstract over the error. `MonadError` in scalaz seems to do a pretty good job of abstracting over error types for things like Future (where the error is always `Throwable`) but also for things like `Xor`, where the error type can vary.

[2015-06-20 13:49] ceedubs commented on #334
Sounds good to me.

[2015-06-20 14:07] ceedubs commented on #255
Fixed by #346

[2015-06-20 14:07] #255 closed

[2015-06-20 20:07] ceedubs opened #355 "Release candidate"
I am guilty of being a perfectionist and never feeling like my work is ready to be released. I want to make sure we avoid the same mistake in Cats.

Here is my proposal:

1. Collect feedback on what people think currently prevents Cats from being release-ready. You can leave comments on this issue with items you think should be considered as potential blockers.
2. Make sure all of these items are

[2015-06-20 20:42] rossabaker commented on #355
:+1:. I would also suggest that versions are relatively cheap while `majorVersion == 0`.  For all the excellent work on snapshots and git-described builds, an 0.x is going to invite even more people in for a test drive.  release-blockers should have a good reason they can't wait for 0.{x+1}.

[2015-06-21 09:24] milessabin commented on #355
:+1: ... we should avoid letting the best be the enemy of the good.

[2015-06-21 10:04] ngbinh commented on #355
if this https://github.com/non/cats/issues/18 is done then we will definitely jump on the bandwagon.

[2015-06-21 14:49] InTheNow commented on #355
re release blocker - why not just create a cats 0.1 milestone and add the issues there? eg [shapeless-2-3.0](https://github.com/milessabin/shapeless/milestones/shapeless-2.3.0). Of course, a generic "blocker" label could also be used in addition to the milestone.

Based on feedback I've had from others, the No.1 blocker - by a very wide margin - is documentation, followed by #18.

The reason for b

[2015-06-21 15:30] ceedubs commented on #355
@InTheNow I wasn't aware of GitHub's Milestone feature. I like your suggestion. Let's go with that unless someone brings up a compelling reason not to.

I agree regarding documentation. I would like to see #157 completed before a release.

[2015-06-21 15:37] ceedubs commented on #355
I created a [cats-0.1.0 milestone](https://github.com/non/cats/milestones/cats-0.1.0). Currently it's empty, but I'll add issues to it as we get more feedback.

[2015-06-21 15:51] ceedubs commented on #317
Adding cats-0.1.0 milestone per @milessabin's recommendation. If people feel that this should not be a blocker for release, we can consider removing it from the milestone.

[2015-06-21 16:18] #317 closed

[2015-06-21 16:26] ceedubs opened #358 "Link to "herding cats""
@eed3si9n has an excellent [herding cats](http://eed3si9n.com/herding-cats/) resource. We should link to it in our documentation.

The biggest question is where this link belongs. It would probably be nice to have a learning resources section on the [documentation site](http://non.github.io/cats/).

[2015-06-21 16:27] InTheNow commented on #317
@non don'f forget https://github.com/non/cats/issues/317#issuecomment-111186137 :

To get this to work, we need a tag for git to work from. For this I added a tag "v0.0.0" on the initial commit, so please can you do this on master as well?

`git  tag -m "v0.0.0" v0.0.0 9d1837e20a89c99c174723a2f112d84507b9ebdb`

[2015-06-21 16:32] ceedubs commented on #317
I'm not sure if this is related to https://github.com/non/cats/issues/317#issuecomment-113922974, but the build is now failing with:

java.io.IOException: Access to URL https://oss.sonatype.org/content/repositories/snapshots/org/spire-math/cats_2.11/0.1.0-SNAPSHOT/cats_2.11-0.1.0-SNAPSHOT.pom was refused by the server: Unauthorized

[2015-06-21 16:33] refried commented on #355
Maybe a dumb quesiton, but have any of us integrated cats into a real project in place of scalaz?  I keep trying but then backing off.  In particular, State + Lens support is what I get stuck on, but I suppose that would require a new project and new worms?

[2015-06-21 16:35] InTheNow commented on #317
As well as the the tag, this needs appending to build.sbt (from https://gitter.im/non/cats?at=5579ab11813c577e1cf60c66)

[code]

[2015-06-21 17:22] non commented on #355
@refried I agree about State.

As far as lenses go: my initial feeling had been that we should encourage folks to use Monocle for lenses. Is that a bad plan? What would we need to do to scratch your itch? Do we need need a *monocles for cats* integration project?

[2015-06-21 17:40] InTheNow commented on #355
https://github.com/non/cats/issues/349#issuecomment-112071369 refers to a scalajs project that uses scalaz state and Monocle....and not much else :stuck_out_tongue_winking_eye:

[2015-06-21 20:41] davidallsopp opened #365 "Broken link to typeclasses page from homepage"
The "Modularity" section of the homepage (https://github.com/non/cats/blob/master/docs/src/site/index.md) links to _tut/typeclasses.html, which results in a 404 Not Found. I'm guessing this should just be a link to typeclasses.html but I am not familiar with the tut structure and templates - there's a docs/src/site/typeclasses.md that includes _tut/typeclasses.md...

[2015-06-21 20:51] ceedubs commented on #157
Someone has pointed out to me that @non has put together a detailed [explanation](https://gist.github.com/non/a6ff3c0796e566db20d1) of the benefit that Machinist provides beyond value classes. This is too detailed of an explanation to absorb into the Cats docs, but it might be a handy resource to link to.

[2015-06-21 20:52] stew commented on #157
we aren't using machinist at all yet, right?

[2015-06-21 20:55] ceedubs commented on #365
Thank you for taking the time to create this issue, @davidallsopp!

[2015-06-21 21:37] #365 closed

[2015-06-21 22:01] ceedubs opened #367 "Unapply syntax for nested/specific types"
There are certain `Ops` classes that have special constraints of the type that they wrap. In many cases they require a nested type, but there are also other types of requirements.

Currently these types don't have `*SyntaxU` conversions to make them compatible with `Unapply`-aided implicit lookup.

Here are the `Ops` classes that I see currently falling into this category:
`FlattenOps`, `IfMOps`,

[2015-06-21 22:29] mdedetrich commented on #213
Throwing my own opinion in here, which pretty much echoes most people here

I feel very little benefit in cats having a `Maybe` type. Just because `Option` happens to have a single unsafe method, and that its an `Iterable` are very weak reasons. The boxing is a more legitimate concern, however something like `miniboxing` is the right approach there.

I think one of the things to learn from `Scalaz

[2015-06-21 22:37] mdedetrich commented on #355
I think we need to release some sought of preview (either a Milestone or Release Candidate) so that libraries can at least start contemplating/designing for cats. I think there is a lot of momentum for people to move to cats (I want to do this as well, wan't to start replacing `scalaz` with `cats` in our project), but it feels off if the project continuously feels like its in "preview" mode.

Do a

[2015-06-21 22:40] mdedetrich commented on #307
I may be missing something here, but what is the use case of `Empty` vs `Option`, is it just an `Option` that happens to be a `semigroup` or is there something more?

[2015-06-22 05:11] non commented on #358
Yes, I think a *resources for learners* section is a good idea.

[2015-06-22 05:21] non commented on #157
We are using Machinist in a few places currently (`EqOps` and `OrderOps`) and we should be using it in `SemigroupOps` as well. I've got a PR that will update those as well.

I don't know what the long-term picture for Simulacrum/Machinist integration looks like. In theory I'd like to use Machinist for all of our syntax where it is applicable, to improve the allocation/GC story. I'm not sure if mos

[2015-06-22 07:03] non commented on #95
I really like the idea of auto-generating diagrams a la *sbt-class-diagram*. However, I decided to take a crack at making a graph by hand to see if I could use color and layout to help give folks a better intuition about what is going on: http://plastic-idolatry.com/erik/cats-graph.png.

What do you all think? Auto-generating the graph (and keeping it automatically-updated) is really nice, but I t

[2015-06-22 08:06] julien-truffaut commented on #95
Nice, I think it is worth to have a hand made diagram, it can be much clearer and typeclasses should be pretty stable (in a few a releases).

[2015-06-22 08:55] julien-truffaut commented on #355
I can create an experimental module in Monocle for cats - state. I am not using state much so I would need some help.

[2015-06-22 09:37] kevinwright commented on #95
Can we have the best of both worlds?

If sbt-class-diagram is already there, then it seems we're okay with a
dependency on graphviz.
So how doable is it to annotate typeclasses with colour and grouping hints
that get passed through to the dotty source?

On 22 June 2015 at 09:06, Julien Truffaut <notifications@github.com> wrote:

--
Kevin Wright
mail: kevin.wright@scalatechnology.com
gtalk / msn :

[2015-06-22 11:32] ceedubs commented on #307
@mdedetrich From the description, it looks to me like `Empty` and `Option` are two different concepts. For example, we could have an `Empty[List[A]]` that says that `Nil` is the empty `List`. Or we could have an `Empty[String]` that says `""` is the empty `String`. I could also imagine a `getOrElseEmpty` method attached to `Option[A]` that is implemented as `getOrElse(Empty[A].emptyValue)`.

My ma

[2015-06-22 11:48] refried commented on #355
@non I think it’s a good plan, I use Monocle even to create lenses for use with scalaz. Lens lets you modify a component of your value.  State and Lens go hand in hand because as you are composing operations that affect your state, you want to throw in a few that were designed to affect just a component of your state. Basically the State version of lifting a function through a Lens.

I think Lense

[2015-06-22 11:50] refried commented on #355
sorry a few bad autocompletes that i guess i cant fix from the mobile interface.

[2015-06-22 15:11] non commented on #95
@kevinwright That's an interesting idea.

@xuwei-k Do you think it would be possible to provide styling grouping hints to sbt-class-diagram? Do you have a sense of how well that might work?

[2015-06-22 15:11] non commented on #95
(Also, here is the diagram for the C[_, _] type classes: http://plastic-idolatry.com/erik/cats-graph2.png)

[2015-06-22 15:18] non commented on #338
This all sounds fine. Let's reframe this issue to be about `MonadError` then.

[2015-06-22 16:44] paulp commented on #307
Right, no need to imagine.

[code]

[2015-06-22 17:25] non commented on #333
@woparry So having thought about this over the last couple of weeks, I think you've convinced me that default implementations on type classes should be optional (i.e. not built-in). However, I am starting to think that `std` instances should be folded into `core`. There are a few reasons for this:

1. It creates a model where `core` includes the relevant std instances and syntax classes for struct

[2015-06-22 18:32] non commented on #338
Closed in favor of #340

[2015-06-22 18:32] #338 closed

[2015-06-22 20:49] eed3si9n commented on #367
[day9]: http://eed3si9n.com/herding-cats/monadic-functions.html

Does `F[A, ?]` fit into this? From [herding cats day 9][day9]:

[code]

[2015-06-22 21:14] ceedubs commented on #367
@eed3si9n that actually corresponds exactly to the example I gave: a lack of `flattenSyntaxU`. We have syntax on some `F[A, ?]` cases, but not on this nested one: `F[A, F[A, ?]]`. I don't think that last part is actually valid kind-projector syntax for what I mean, but hopefully you know what I mean

[2015-06-22 21:17] ceedubs commented on #367
Currently our `flattenSyntax` requires an `F[F[A]]` which doesn't get picked up for type constructors with two type parameters without Unapply help. It looks like scalaz approaches this a little different by using `F[A]` and separate evidence that `A <~< F[B]`.

[2015-06-23 03:21] woparry commented on #168
#370

[2015-06-24 15:05] ceedubs commented on #355
I think Cats could certainly be helpful without scala.js support, but this is clearly something that people are excited about, so I've added #18 to the 0.1.0 milestone. If everything else for the release is finished and we don't have scala.js support yet, we can reconsider whether or not it should be a blocker.

[2015-06-24 15:16] InTheNow commented on #355
re scala.js support. One of the stumbling blocks for sjs support is that the CrossProjects did not work with scoverage, but a fix for that will be in next release of scalajs, about one week away :)

[2015-06-24 15:24] InTheNow commented on #349
:+1:  for this to be added to release 0.1.0 (will also be useful for banana-rdf, btw)

[2015-06-25 04:27] adelbertc commented on #340
`MonadError` PR here: https://github.com/non/cats/issues/340

[2015-06-25 12:18] ceedubs opened #377 "Spark friendliness"
I think that playing nice with Spark would/will be a big win for Cats.

I believe our [serializable tests](https://github.com/non/cats/blob/master/laws/src/main/scala/cats/laws/discipline/SerializableTests.scala) are ensuring that our typeclass instances can be serialized and used in Spark. However, I just wanted to make sure that someone had actually tried using Cats with Spark before we advertis

[2015-06-25 14:57] non commented on #377
So one thing we definitely need to do is cross-build for 2.10. I am submitting a PR to add that.

[2015-06-25 16:09] adelbertc commented on #377
We could maybe start a Spark sub-project in this repo (or perhaps another one?) with a simple Spark application (or several) that uses Cats that we may able to test against some Spark cluster?

[2015-06-25 21:16] non commented on #377
I just created a project that provides a few instances for Spark, and more importantly tests using some of our instances inside a Spark job: https://github.com/non/big-electric-cat.

[2015-06-25 21:16] non commented on #377
IMO we shouldn't include anything spark-specific in Cats itself, but I'm happy to collaborate with folks in that (hastily thrown together) repo.

[2015-06-25 21:17] tpolecat commented on #377
I approve of the project name.

[2015-06-27 06:29] adelbertc commented on #340
So we've got `MonadError` now - what do folks think about `MonadState` and `MonadReader` (or any other of the [mtl type classes](https://hackage.haskell.org/package/mtl) ) ?

[2015-06-27 07:09] adelbertc opened #382 "Reader/ReaderT alias?"
We have `Kleisli` and instances for `Function1`, would it be of interest to have something like:

[code]

[2015-06-27 10:03] InTheNow opened #383 "Add tests for Boilerplate generated code"
Code generated from `Boilerplate.scala` should be tested by generated tests.

[2015-06-27 11:27] ceedubs commented on #382
I think `Reader` makes sense. It may be less confusing to users if we pick one of either `ReaderT` or `Kleisli` instead of having both.

I wonder if it might actually be a good idea to rename `Kleisli` to `ReaderT`. It would make the relationship more apparent. And technically I think our `Kleisli` isn't quite a proper Kleisli category, since we don't require that `F` has a monad.

I'm interested

[2015-06-27 13:18] InTheNow commented on #128
Shouldn't this have been closed with #332?

[2015-06-27 13:20] ceedubs commented on #128
@InTheNow yep! Good catch.

[2015-06-27 13:20] #128 closed

[2015-06-27 14:03] InTheNow commented on #30
Please le me know before you kill it as it's the only thing I've used in porting banana-rdf to Cats!! Typical old use case:

[code]

And new version:

[code]

Perhaps independent of your decision, the general look'n'feel of the new is _much_ nicer, including  `copoint -> extract`

For the full picture, the default M we have is a `TryInstance`. Old:

[code]

New:
[code]

[2015-06-28 01:12] adelbertc commented on #382
I'm pretty interested in renaming Kleisli to ReaderT, would make it consistent with the other transformer names. Possibly make Kleisli the alias instead?

[2015-06-29 12:58] #314 closed

[2015-06-29 13:00] ceedubs opened #387 "Add StateT and trampolining to State documentation"
Documentation for `State` was added in #384. However, it still has a TODO at the end for documenting how `StateT` relates to `State` and how/why trampolining is used for `State`. This TODO should be replaced with documentation.

[2015-07-05 20:21] adelbertc commented on #382
Seems a few folks in the Gitter channel are in favor of renaming `Kleisli` to `ReaderT` - I know @travisbrown had reservations about it though regarding `Reader` being a special case of `Kleisli`.

One thing I ran into when I thought about working on this was that we also have `Cokleisli` - if we were to move forward with renaming to `ReaderT` would we then call this `CoReaderT` ?

Naming things i

[2015-07-05 21:43] travisbrown commented on #382
To recap my argument from Gitter: the problem isn't that `Reader` is a special case of `Kleisli` (they're exactly the same type), it's that "reader" is only one application of the more general concept of kleisli arrows.

One example of a use case that doesn't really look anything like the reader monad: Finagle represents RPC services as `A => Future[B]`, and it's useful to be able to work with the

[2015-07-06 01:22] non commented on #382
What if we supported both `ReaderT` and `Reader` via type aliases (and companion-esque objects) but kept `Kleisli` as the primary name?

[2015-07-06 02:50] mdedetrich commented on #382
With @non here, isn't a type alias the best way to fix this problem? I think having `Reader` is definitely useful if it helps newcomers understand what is probably the most common use of `Kleisli`.

Generally speaking, I think this is the debate of the whole "being completely and mathematically correct in terminology" vs "using terminology which makes it easier for people to pick up" debate. I mor

[2015-07-06 03:40] travisbrown commented on #382
I'm all for a type alias ([on the record](http://stackoverflow.com/a/29237252/334519)), but just to clarify: my objection to a rename isn't based on a desire for mathematical correctness—it's based on a desire not to have to say "it's called `ReaderT` but we're not really using it as the reader monad here" over and over.

[2015-07-06 12:28] ceedubs commented on #382
I guess I always thought of `Reader` as "read"ing an input in a pretty general sense. But looking through some reader monad docs, they do tend to emphasize the "environment" being the item that is read.

It sounds like everyone would be okay with having `Reader/ReaderT` be aliases for `Kleisli`. Since I had previously discouraged this approach, I thought I would weigh in saying that I support this

[2015-07-07 11:19] #382 closed

[2015-07-08 00:27] ceedubs commented on #355
I've been thinking about this some more, and I'm feeling like we should get out a minimal viable product as 0.1.0. As far as I'm concerned, a stable release of non/algebra may be all that's needed for an MVP.

I'm all for better documentation, Spark support, and scala.js support. But at the point that a library is extremely well-documented and runs on multiple platforms, I feel like it's at a 1.0

[2015-07-08 02:28] rossabaker commented on #355
:+1:  v1.0 is a solemn step.  v0.x is a casual invitation to wider use, which helps drive a better v1.0.  Let's not overthink this.

[2015-07-08 08:22] InTheNow commented on #355
re scalajs integratation, the only blocker is https://github.com/scalatest/scalatest/issues/631. Indeed, I could even publish an interim version and get everything ported in a few days....

Alternative suggestion: Just announce a release date (eg 1st August) and see what makes it...?

[2015-07-08 08:50] julien-truffaut commented on #355
:+1:  I agree with @rossabaker

[2015-07-08 08:57] InTheNow commented on #355
Another peanut from said gallery, why not just move issues/PR's that do not make 0.1.0 into the 0.2.0 milestone?

[2015-07-08 09:04] InTheNow commented on #18
Forgot to add link to https://github.com/scalatest/scalatest/issues/631, only known blocker.

[2015-07-09 21:20] non commented on #355
I agree with @ceedubs. I'll try to work to make this happen ASAP.

[2015-07-09 21:24] InTheNow commented on #355
:+1:

[2015-07-09 22:32] ceedubs opened #396 "Depend on stable Algebra release"
Before we can release a stable version of Cats, we need a stable version of its [algebra](https://github.com/non/algebra) dependency.

On hold until such a release exists (which should be very soon according to @non).

[2015-07-09 22:35] ceedubs commented on #355
For now I moved the existing 0.1.0 issues to a new (and arbitrary) [1.0 milestone](https://github.com/non/cats/milestones/cats-1.0.0). I'm not attached to this breakdown, so we can freely change this as time goes on. I just wanted to give these issues some sort of classifier since people thought they were important.

Now the only 0.1.0 issue is #396.

[2015-07-11 18:16] adelbertc commented on #333
"std project into core (preserving the cats.std namespace) and then get rid of the core project" - what would the new core project be called?

[2015-07-11 18:43] adelbertc opened #401 "Proper universally quantified `const`"
Would something like this be useful/belong in Cats?

[code]

[2015-07-11 19:18] ceedubs commented on #333
@adelbertc I'm guessing that @non meant to type "get rid of the std project".

[2015-07-11 20:05] edmundnoble commented on #247
I'm working on this right now, almost done. Pull request incoming.

[2015-07-13 09:51] noelwelsh commented on #307
After skimming this issue I think there are at least two notions of an empty element: identities and absorbing elements.

Identities have laws as defined for a monoid:
- there is a binary operation `*: (A, A) => A`
- there is an element `1` s.t. `a * 1 == 1 * a == a`

Absorbing elements are defined as:
- there is a binary operation `*: (A, A) => A`
- there is an element `0` s.t. `a * 0 == 0 * a ==

[2015-07-13 12:06] ceedubs opened #403 "Curate order of type class list in docs"
http://non.github.io/cats//typeclasses.html has a list of type classes present in Cats. Currently it is dynamically generated in alphabetical order. The fact that it's dynamic and therefore we don't need to remember to update it is great. However, it would probably be nice to introduce the simplest type classes first and progress to the more complicated ones.

For example it almost certainly makes