[2018-09-09 05:00] djspiewak commented on #2446
@johnynek We should start looking for a different venue in which to have this conversation. 😊 I think it’s solvable. I really do. So long as the compromises are consciously accepted.

Semver is probably a better default. I don’t mind that. People can always encode less strict semantics if they need them, but it’s a bit of a nudge in the right direction.

I’m not sure Scala can ever be the *easiest

[2018-09-10 14:44] YuvalItzchakov opened #2484 "Add scalafmt formatting"
I know this has a huge potential for bikeshedding, but I think it's worth it to keep the styling of the project in tact, especially for new comers (such as myself) who accidentally format using IDEA where each dev has his own custom setting.

I would be happy to take this on myself if this has consensus.

[2018-09-10 15:03] kailuowang commented on #2484
I am 👍 ,  the time-consuming part is to keep the new rules as consistent as the current styling as possible to avoid unnecessary reformating.

[2018-09-10 15:50] djspiewak commented on #2484
I love scalafmt in principle, and once the bikeshedding is done, the effect is usually very positive. *However* it's also very slow. This isn't really anyone's fault – the algorithm as designed is currently just slow, and there's an experimental replacement which is much faster – but it does mean that it can be impractical on certain codebases, even with plugins like neo-scalafmt.

This is what he

[2018-09-10 16:02] YuvalItzchakov commented on #2484
Perhaps conducting a small POC and comparing before and after? Or has that been done already?

[2018-09-10 19:44] LukaJCB commented on #2484
We don't have to run it on compile, right?

[2018-09-10 20:03] YuvalItzchakov commented on #2484
@LukaJCB If we want to enforce the style, it has to be on compile since not everyone uses the scalafmt plugin for IDEA.

[2018-09-10 20:26] rossabaker commented on #2484
http4s does not run it on compile, but tests it on CI (`test:scalafmt::test`).  This keeps the formatting consistent.  It also means a lot of PRs initially on that step, because few actually run the full `ci` step before opening a PR.  I tried enabling it at compile time, and found it added 30 seconds to the most trivial incremental builds.  On balance, I don't regret it, but it's not perfect.

Th

[2018-09-10 20:31] YuvalItzchakov commented on #2484
@rossabaker If the formatting happens only during CI, which steps formats and commits the correct style? Would we only let the CI fail the commit and have people manually fix it?

[2018-09-10 21:26] rossabaker commented on #2484
http4s fails the build and makes people fix it.  This is irritating.

An alternative model we've discussed, but not implemented, is to have Travis CI push a commit to the PR that fixes the formatting.  We have some misgivings about CI directly modifying PRs, although we already let it publish the jars and the docs and the tags.

[2018-09-10 21:29] djspiewak commented on #2484
@rossabaker There are some very rare cases where scalafmt can break things. Also some slightly less rare (but still rare) cases where it can get itself into loops (e.g. state **A** gets reformatted to state **B**, which gets reformatted to state **A**). It's hard to detect and resolve these things without human intervention.

[2018-09-10 21:33] mpilquist commented on #2484
FWIW, I use scalafmt on compile on lots and lots of projects, both open & closed source, and I've never had problems with speed or generating bad code or loops. If such things did occur, I'd add a no-format comment to disable the problematic area. My primary use case is encouraging better discussions / review practices as opposed to getting PR reviews full of syntax stuff.

[2018-09-10 21:38] djspiewak commented on #2484
It really depends on the size of the project and the complexity of the files in question (complexity as defined by scalafmt, not in any normal sense). On quasar, for example, having scalafmt on compile adds about 5 seconds to every compile, even if just editing a single file which does not need to be reformatted! To make matters worse, a couple files in quasar also exhibit the looping behavior (I

[2018-09-10 22:04] ceedubs commented on #2484
See also #1206 and #1731

[2018-09-12 00:01] sorenbug commented on #1549
## Status update:

I checked all of these PRs and either them or their replacements have been merged. :tada:

Scalacheck artifact publishing seems to be paused/abandoned? Last comment is past one month. [rickynils/scalacheck#396](https://github.com/rickynils/scalacheck/issues/396)

Discipline has a new issue:

The catalysts issue [typelevel/catalysts#11](https://github.com/typelevel/catalysts/issu

[2018-09-12 00:32] kailuowang commented on #1549
For catalysts, I am helping with maintenance, but could use some help on adding native support (once unblocked with scalacheck)

[2018-09-12 14:00] kailuowang opened #2486 "Cats logo"
The current log of cats is cute but a little bit out of place in the typelevel project family. I don't know its history and our commitment to it. Will us be open to change it, maybe to a more modern design with geometry shapes, more conforming to the typelevel and scala theme?

@thoefer designed one in #1807, see below: the one in the hexagon on the left.
![cats_friendly_big](https://user-images.g

[2018-09-12 14:03] kailuowang commented on #2486
page @non @ceedubs @tpolecat @adelbertc @rossabaker @djspiewak @johnynek @milessabin @LukaJCB @mpilquist @fthomas and all cats contributors.

[2018-09-12 14:29] longcao commented on #2486
I like the previous pixelated cat a bit more personally (in my head it's closely associated with the brand, so to speak), but I think this version could be made to work.

Maybe the original red from https://github.com/typelevel/cats/blob/f2850487732a185572b8a1752a24f13b875176d3/docs/src/main/resources/microsite/img/cats-logo.png? Keeping in mind that the original logo has a very slight gradient on

[2018-09-12 14:38] alexandru commented on #2486
Just one more thought for why the color of a "Cats friendly" logo should be less strident ... because it's going to be shown near other logos that may not share a similar color palette.

See for example [Monix](https://github.com/monix/monix#monix) which is OK near the "Typelevel red", because it's a cooler red, but would probably not be OK near this strident red:

![image](https://user-images.git

[2018-09-12 14:38] rossabaker commented on #2486
I like the Cats friendly graphic but I prefer the pixelated cat.  Even after realizing just now that the cat is asymmetrical.

Agree that the abstract cat could make a fine secondary logo.  favicon could be one  ideal context for it.

[2018-09-12 15:13] adelbertc commented on #2486
I like the original pixelated cats, probably for most things except, like @non mentioned, in maybe like really small sizes or something where due to the pixellation style it won't work out.

[2018-09-12 16:28] #2322 closed

[2018-09-13 05:57] ArturGajowy commented on #1222
Why not just provide the instances for `immutable.Seq`? Would such a PR be accepted? Would the issues @travisbrown [mentions](https://github.com/typelevel/cats/issues/1222#issuecomment-235696357) apply?

[2018-09-13 12:56] djspiewak commented on #1222
FWIW, I don't see anything unlawful about implementing instances for `immutable.Seq`. The issue would be more one of prioritization and ambiguity, but we already have that problem with the `traverse` and `monad` syntax, so… *shrug*. `Seq` is horrible, but people do still use it, unfortunately.

[2018-09-13 13:05] kailuowang commented on #2486
Looks like that we reached a consensus that we'd like to keep the original pixelated cat for logo. If we can create a smaller, i.e. more pixelated, version for smaller images it would be great too. @thoefer what do you think?

[2018-09-14 17:28] thoefer commented on #2486
@non Do you have your pixelated cat as vector image somewhere?

[2018-09-16 04:41] tom91136 opened #2491 "EitherIdOpsBinCompat0 causes scala-newtype tagged type to not compile"
Quite an interesting issue here. Basically, I was using [scala-newtype](https://github.com/estatico/scala-newtype) together with cats 1.4.0 which I upgraded from 1.2.0 just today and my project will not longer compile. I isolated the issue to this:
I had a `@newtype  case class Foo(value : String)` which, at some point, compiles to:
[code]
And the compiler says:

[code]
I've manually pasted the co

[2018-09-16 10:39] kailuowang commented on #2491
Thanks so much for investigating and reporting. This is rather unfortunate. Two value classes over compatible types can't share the same field name. We (cats) should have been more careful with polluting such a broad namespace.  At the moment I couldn't think of a fix that doesn't break binary compatibility.
A work around I can think of is creating a new cats.implicits and cats.syntax.all (with sl

[2018-09-16 10:47] kailuowang opened #2504 "Add release candidates to Cats release process"
I propose we start to release RC releases before official ones going forward. We missed several issues in the past couple of releases. I think a RC validated by the community would've caught them.
A 1.a.0-RCx release is backward binary compatible with 1.x (x < a) , but it might not be forward BC with the official 1.a.0 release. In another sentence, a 1.a.0 release is guarantee to be backward BC wi

[2018-09-16 11:55] kailuowang commented on #2491
I did some preliminary experiments, there might be a fix that is both source (mostly except the `value` field name, which shouldn't be called anyway) and binary compatible. The idea is to make the old implicit conversion package private, and then create a new public version with a better `value` field name (e.g. `value$catsSyntaxExtension` or something).
This way jars compiled against Cats 1.3.1 a

[2018-09-16 15:35] tom91136 commented on #2491
Sounds good. I'm all the for a `cats.implicits` that excludes all types. For now I've simply renamed my  fields to something else and all is fine. TBH the error is rather bizarre when just looking at the compiler output, the symbol `value` clash was not apparent until I individually checked out each revision to see where it stops compiling so making a less powerful implicit import is definitely a

[2018-09-17 10:11] jgogstad commented on #2152
Is this related to other incorrect red squiggles issues with cats and IntelliJ?

"Good code highlighted in red using cats mapN": https://youtrack.jetbrains.com/issue/SCL-12892
"False error (good code red): sequence from cats": https://youtrack.jetbrains.com/issue/SCL-10259

[2018-09-17 13:40] PeterPerhac commented on #2486
I must say I **love** the pixelated cat logo. Perfect for cross-stitching
![cats](https://user-images.githubusercontent.com/1763911/45626322-25a93e80-ba87-11e8-82f0-a512e78394d9.jpg) (but, yeah, it's annoyingly asymmetrical & slightly off-balance on the hexagonal background)

[2018-09-17 13:47] alexandru commented on #2486
There's beauty in asymmetry 😛

[2018-09-17 15:25] kailuowang opened #2508 "Make package private underlying value fields in all value classes."
In Scala 2.10 the underlying value field in a value class has to be public,
For example
[code]
In this particular case, it introduced a `value` val to all types that simply returns itself. There is no real use case for this it's only due to the limitation of value classes in 2.10. It collides with any implicit extension that adds a `value` too. See  https://github.com/typelevel/cats/issues/2491 fo

[2018-09-17 15:46] kailuowang commented on #2508
It seems out the solution isn't good enough, `package private` fields still collide with other implicit extension...
Will investigate more.

[2018-09-17 21:15] kailuowang commented on #2508
I am closing this for now since the solution didn't solve the collision.

[2018-09-17 21:15] #2508 closed

[2018-09-17 21:28] leusgalvan commented on #2447
Could I take this?

[2018-09-18 17:48] ceedubs opened #2513 "eqv alias for ===?"
Scalatest has its own `===` method, and it can get in the way when trying to use the Cats `===` in a unit test.

I thought that I could get around this by using `eqv` instead of `===`, but since cats-kernel doesn't use simulacrum, the `Eq` syntax is manually written and doesn't include the `eqv` extension. Should we add `eqv` as an alias for `===` on `EqOps`? Since the class is final, I think that

[2018-09-19 00:42] kailuowang opened #2514 "Value classes' public `val` field introduce unnecessary collisions"
In Scala 2.10 the underlying value field in a value class has to be public,
For example
[code]
In this particular case, it introduced a `value` val to all types that simply returns itself. There is no real use case for this it's only due to the limitation of value classes in 2.10. It collides with any implicit extension that adds a `value` too. See https://github.com/typelevel/cats/issues/2491 for

[2018-09-19 00:51] kailuowang commented on #2491
We are going to address this one in #2514

[2018-09-19 01:52] kailuowang commented on #2058
@johnynek well, now `dogs` become `cats-collections`, at least we don't need to re-setup a repo again.

AFAIK, having different versions on different modules is tricky business. If you have the cats-collections module depending on the cats-core, you are still forced to release cats-core whenever you release cats-collections.

[2018-09-19 01:56] kailuowang commented on #2463
Update: The collection library dogs becomes cats-collections thanks to Stew O'Connor's donation.
We need to finish https://github.com/typelevel/cats-collections/issues/105 (any volunteers?) then we shall be ready to add this there.

[2018-09-19 01:57] johnynek commented on #2058
hurrah!

I don't mind doing the release all at once and I think our users will appreciate adding more collection types to cats-collections.

[2018-09-19 14:11] LukaJCB opened #2516 "Maybe provide an escape hatch for UnorderedTraverse's commutative requirement"
A question that comes up a LOT in the gitter room is how to traverse a `Map`, our standard answer is that you can't unless you import alleycats instances or use `SortedMap` instead.

UnorderedFoldable and UnorderedTraverse are a very principled way of dealing with this issue, but maybe there needs to be a way to relax the strict requirement of commutativity.
I'm not exactly sure how best to addres

[2018-09-19 14:42] LukaJCB opened #2517 "Add FiniteDuration instances"
We currently have instances for `Duration` only, which means that you can use `FiniteDuration` with it, but must upcast it, which can be annoying:

[code]

[2018-09-19 14:52] LukaJCB commented on #2447
@leusgalvan Sure! Go right ahead :)

[2018-09-19 15:16] satansk commented on #2517
I will do it :)

[2018-09-19 18:05] adelbertc commented on #2517
I use `FiniteDuration`s all the time, `Duration`s not so much 💯

[2018-09-21 08:15] LukaJCB commented on #2041
Would we want a separate module without the `cats-core` dependency, or a "real" merge with the dependency or possibly even same module?

[2018-09-22 10:37] benhutchison commented on #2041
IIRC, Kernel was split out to enable the Algebra project to depend on Cats (and not the other way round). If that was the predominant reason (?), then I prefer condensing them into kernel than adding an intermediate node in the dependency tree.

[2018-09-22 12:35] binkabir commented on #2513
I have added the `eqv` and `neqv`  aliases which simply uses the `Eq` typeclass

[2018-09-22 13:44] DennisVDB commented on #2479
I'll be writing them for `Semigroup`, `Group`, and `Monoid`.

[2018-09-22 17:33] LukaJCB commented on #2041
What was the reason to split algebra into kernel? 🤔 Anyone of the old guard still have some info? @non maybe?

[2018-09-22 18:10] johnynek commented on #2041
There is a cats issue where it was discussed. The reason was cats wanted fewer dependencies I think and didn’t care about Rings.

[2018-09-23 12:34] thoefer commented on #1807
![cats_friendly_big](https://user-images.githubusercontent.com/202410/45928044-6dbfd980-bf3d-11e8-9159-14408d81f975.png)
![cats_friendly_normal](https://user-images.githubusercontent.com/202410/45928045-6dbfd980-bf3d-11e8-863d-2679b143ee55.png)
![cats_friendly_tiny](https://user-images.githubusercontent.com/202410/45928046-6dbfd980-bf3d-11e8-8693-c1285dae03ce.png)

Can we agree on that these are t

[2018-09-23 15:17] thoefer opened #2525 ""smart constructors" and type parameters"
`Validated.cond[A, B](test: Boolean, b: => B, a: => A):Validated[A,B]`vs. `Validated[+E, +A]` -- actually I'd prefer that `Validated.cond` uses the same name and semantic for its type parameters as Validated.

In this case intellij would show that: `Validated.cond[E, A](test: Boolean, a: => A, e: => E):Validated[E, A]`, which is properly aligned with the `Validated` type.

[2018-09-23 23:06] abdheshkumar commented on #2484
We could run format code by scalafmt cli in git **pre-commit** hook to check compilation and formatting. Here are some references:
https://gist.github.com/cvogt/2676ed6c6d1abafa3d6a
https://medium.com/zyseme-technology/code-formatting-scalafmt-and-the-git-pre-commit-hook-3de71d099514

[2018-09-24 00:09] johnynek opened #2526 "traverse_ could be on UnorderedFoldable"
Also, we should probably implement traverse_ in terms of foldMap not foldRight
[code]

foldRight is not the most efficient thing in the world since it leverages Eval (although, it may be that implementation is stack safe and the above is not.

[2018-09-24 00:11] johnynek commented on #2526
Well, I guess it would have to take a `CommutativeApplicative` so maybe it is not the same function on UnorderedFoldable.

[2018-09-24 09:06] LukaJCB commented on #2526
Yeah, I think you're right in that regard, probably should also think about how #2516 plays into this.

[2018-09-24 09:08] #2513 closed

[2018-09-24 15:14] joan38 commented on #1222
I was wondering is the new collections from 2.13 changing anything?
I'm saying that since `Seq` is becoming `immutable.Seq`

[2018-09-24 16:43] johnynek commented on #2516
Well I guess with a CommutativeApplicative it is okay too.

We could add a method using that and try to make sure as many as possible of the Applicative/Monad follow this.

I can see adding a method to Alleycats like traverseMap and sequenceMap which internally uses the unsafe traverse instance. This way users don’t import and unsafe instance and instead use an unsafe method at a particular call s

[2018-09-24 20:31] CucumisSativus commented on #2346
Guys, I'd like to work on this if its still relevant :)

[2018-09-24 20:50] LukaJCB commented on #2346
@CucumisSativus Go right ahead :)

[2018-09-25 14:05] kailuowang opened #2529 "Link to the new cats-friendly badge"
Add to README the links to the newly added "Cats Friendly" badges (see PR below) so that people can start to use.

https://github.com/typelevel/cats/pull/2524

The urls will be `https://typelevel.org/cats/img/XXXX.svg`

[2018-09-25 14:21] kailuowang opened #2530 "Add `Tuple2` as example of `Bifunctor`"
See comment in #2459 https://github.com/typelevel/cats/pull/2459#pullrequestreview-151860750

[2018-09-25 17:41] rossabaker commented on #2449
There is a deeper discussion of this on https://github.com/typelevel/cats/pull/2312 with a possible solution for cats-1.x.

[2018-09-25 19:12] easel commented on #2484
I'm a huge fan of scalafmt. Did we ever bikeshed out the appropriate settings? If not, let's do that and check them in. Then we can figure out out how to apply en-masse and enforce going forward.

[2018-09-25 21:34] #2447 closed

[2018-09-26 02:27] johnynek commented on #2449
@SethTisue cats-laws is not test-only, for that artifact, scalacheck is a regular dependency.

[2018-09-27 08:37] LukaJCB commented on #2041
I've been trying to find an issue that accurately describes the actual problem with having the `Ring` and `Lattice` family in cats, and I can't really seem to find a good reason anywhere? Is it bloat? Jar size? Compatibility guarantees?

[2018-09-27 11:49] REASY opened #2538 "Why EitherT is not covariant for the input types as Either from scala"

[2018-09-27 16:11] johnynek commented on #2041
I think it is just OCD around minimization. This code is very stable and had binary compatibility guarantees much longer than cats did.

[2018-09-27 19:40] kubukoz opened #2539 "Add NonEmptyChain/NonEmptySet(?) equivalents of NonEmptyList functions"

[2018-09-27 21:34] benhutchison commented on #2041
As I recall, it’s not that there was any explicit “problem” with
Ring/Lattice.

Rather Cats Kernel came into being as the minimum actual dependencies
shared by cats and algebra at that time. Prior to that, Cats depended on
algebra and that sat awkwardly with Cats stated goal as a foundation lib.
As Cats didn’t refer to eg Ring, it wasn’t folded into kernel. Yagni.

It’s probably a good time to re-

[2018-09-28 00:53] ctongfei commented on #2041
I think probably a separate package `cats.algebra` probably would be better since we could also add `Module`, `Field`, `VectorSpace`, `MetricSpace`, `AffineSpace` etc. into it. Merging all of these in `cats.kernel` seems to be bloating the jar size (and the encoding of these typeclasses might not be so stable to be put into `cats.kernel`).

[2018-09-28 00:56] mpilquist commented on #2041
My 2 cents: merge algebra, kernel, core, and free in to a single jar.

[2018-09-28 04:14] johnynek commented on #2041
Merging artifacts but not introducing a new package name can cause annoying binary issues: the old jar and the new jar get on the path (since the old jar isn’t evicted because it doesn’t exist anymore).

I’d rather rename the types in algebra if we merge: cats.algebra, but I wouldn’t at this point merge kernel and free due to the above issue (unless we renamed the types so there is no chance for c

[2018-09-28 15:01] ctongfei commented on #2041
@LukaJCB I still believe that making `cats.algebra` a separate package would be better: Typeclass encodings of these are nowhere as stable as `cats.kernel`. Merging these would be a pain for maintaining the binary compatibility of `cats.core` module. A separate module would allow us faster iterations of `algebra`.

[2018-09-28 15:06] seigert opened #2540 "Add Chain equals & hashCode methods (via Chain.iterator?)"
Currently `Chain[A]` only defines `===` operator and therefore different Chain instances with "same" contents are not `.equals` to each other:
[code]
Not only this leads to confusion, but also could lead to bugs if `Chain[A]` used in `Set` or as `Map` keys, or in `Eq.fromUniversalEquals`.

[2018-09-28 15:21] LukaJCB commented on #2041
@ctongfei you mean a separate module?

Hmm, I'm not fully sure I agree with that. AFAIK `algebra` hasn't had a single backwards incompatible change in the last 2 years.

[2018-09-28 15:29] ctongfei commented on #2041
@LukaJCB Or do we care about the `cats.core` module jar size? I actually plan to start a bunch of PRs adding new stuff to `algebra` (`Module`, `VectorSpace`, `MetricSpace`, `AffineSpace` etc. etc.)

[2018-09-28 15:46] johnynek commented on #2041
I think it would make sense to incubate a “Spaces” module outside algebra for a bit. I agree it can be useful but there are some decision decisions (e.g. does a metric space return a double for the metric value, or some other type).

Actually, on the jar size front. We should probably take a look at how big cats core, kernel and algebra are on 2.12 (on the phone at the moment). That might help us

[2018-09-28 15:57] ctongfei commented on #2041
Yeah the size of cats.core is a valid concern. We should get some data on that.
Also I think that `MetricSpace` should be `MetricSpace[A, R]` where the `R` = `float`/`double`/etc. could be customized.

[2018-09-28 16:57] denisrosset commented on #2041
Hohoho, beware of the module/vector spaces stuff.

Noncommutative modules are a thing, so you need left modules and right modules. With metric and normed spaces, you have the problem that the norm type is not necessarily the scalar type: for example, you can have a vector space over the rationals, but the Euclidean norm requires taking square roots. Or you have a complex vector space, and the scal

[2018-09-28 17:03] ctongfei commented on #2041
Completely agree with @denisrosset .

[2018-09-28 20:33] #2216 closed

[2018-09-29 02:15] calvinbrown085 commented on #2517
@satansk If you're still working on this feel free to keep going :) Can we just reuse https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/duration.scala

With `FiniteDuration` instead of `Duration?

Where do these instances go? @codecentric

Thanks!

[2018-09-29 08:19] LukaJCB commented on #2517
Yes the instances should be exactly the same :) and you should be able to place them analogously to where the duration instances are placed

[2018-09-29 13:56] ceedubs commented on #2539
See #2475 for context.

[2018-09-29 15:10] ceedubs commented on #2538
This has been discussed in #2310 and #556. I'm going to leave this issue open, because the fact that it keeps coming up is a sign that we really need to document this. I'll try to put something together.

[2018-09-29 15:59] calvinbrown085 commented on #2517
I opened a PR here, @satansk if you wanted to work on this i'm more than happy to close it!

[2018-09-29 16:09] satansk commented on #2517
@calvinbrown085 go ahead :)

I'm busy for a release in company, and I was planning to work on this on my 7 days vocation one day later. Since you already have made a PR, just keep on working on it.

[2018-09-29 16:14] calvinbrown085 commented on #2539
I can pick this one up

[2018-09-29 16:52] calvinbrown085 commented on #2517
@satansk Sounds good! Just making sure I don't trample on anyone :)

[2018-09-29 17:52] calvinbrown085 commented on #2462
Is this resolved with https://github.com/typelevel/cats/pull/2522 ?

[2018-09-29 18:51] ceedubs opened #2545 "Missing Contravariant instance for OptionT"
Currently Cats provides a `ContravariantMonoidal` instance for `OptionT` if its `F` has one, but we don't seem to provide a `Contravariant` instance if `F` has a `Contravariant` instance that doesn't form a `ContravariantMonoidal`. This should be possible in the same way that you can currently get a similar instance for `Nested`. See below:

[code]

[2018-09-30 00:41] ceedubs commented on #2514
If we make this package-private instead of `private`, would that make it so that it's only source incompatible and not binary incompatible?

[2018-09-30 15:42] ceedubs commented on #2545
I think that the same might be true for `Invariant`.

[2018-09-30 16:01] ceedubs commented on #2514
@kailuowang I see. Bummer. Option 2 sounds more appealing to me, but I have a bit of a lingering fear about it being less compatible than we think it is. @rossabaker do you know of any situation other than calling `value` explicitly where this might crop up in terms of binary compatibility?

[2018-09-30 16:02] barambani commented on #2545
if it's not taken I can have a look

[2018-09-30 16:39] barambani commented on #2545
I will makes suer Mima is happy 😄 , thanks a lot @ceedubs . Also I see that `Invariant` is missing somewhere else (like WriterT). In case I'll try adding it there as well.

[2018-09-30 22:45] ceedubs commented on #151
This was resolved some time ago. Closing this out.

[2018-09-30 22:45] #151 closed

[2018-09-30 22:46] ceedubs commented on #152
This is covered by https://typelevel.org/cats/contributing.html#write-tests now.

[2018-09-30 22:46] #152 closed

[2018-09-30 22:53] ceedubs commented on #367
Resolved by `-Ypartial-unification`!

[2018-09-30 22:53] #367 closed

[2018-09-30 22:57] ceedubs commented on #349
I'm going to go ahead and close this out. I think that it raises some good points, but there are lots of competing factors such as implicit ambiguities, and at this point Cats can't make significant changes in this regard due to compatibility constraints.

[2018-09-30 22:57] #349 closed

[2018-09-30 22:58] ceedubs commented on #413
These have been moved into cats, so I'm going to close this out.

[2018-09-30 22:58] #413 closed

[2018-09-30 23:00] ceedubs commented on #869
I'm going to go ahead and close this out as a stale issue. Cats seems to be pretty stable in having a few core monad transformers, and Cats-MTL provides further support.

[2018-09-30 23:00] #869 closed

[2018-09-30 23:02] ceedubs commented on #817
I'm going to close this out as a stale issue. I think that we are pretty stable on this front, with `ContravariantMonoidal` and friends.

[2018-09-30 23:02] #817 closed

[2018-09-30 23:06] ceedubs commented on #516
I think that this is due to #510, so I'm going to close it out as a duplicate of that.

[2018-09-30 23:06] #516 closed

[2018-09-30 23:06] ceedubs commented on #534
At this point it would needlessly break compatibility to change this, so I'm going to close this out.

[2018-09-30 23:06] #534 closed

[2018-09-30 23:10] ceedubs commented on #977
I'm going to close this out now that we have https://typelevel.org/cats/faq.html#listt documented. I think that `Nested` scratches most of the `ListT` itches without the `ListT` issues.

[2018-09-30 23:10] #977 closed

[2018-09-30 23:11] ceedubs commented on #1077
At this point making the move would needlessly break compatibility, so I'm going to go ahead and close this out.

[2018-09-30 23:11] #1077 closed

[2018-09-30 23:12] ceedubs commented on #1107
`toNested` was added in #1172, so I'm going to close this out.

[2018-09-30 23:12] #1107 closed

[2018-09-30 23:12] ceedubs commented on #1113
Resolved by #2080.

[2018-09-30 23:12] #1113 closed

[2018-09-30 23:13] ceedubs commented on #1118
This was resolved at some point.

[2018-09-30 23:13] #1118 closed

[2018-09-30 23:15] ceedubs commented on #1209
I think that this is probably resolved as we moved more syntax to be simulacrum-generated. Feel free to open new issues for any lingering problems.

[2018-09-30 23:15] #1209 closed

[2018-09-30 23:19] ceedubs commented on #1321
@johnynek at this point it seems like it would be pretty disruptive to make this change. Are you okay with closing this issue out? I'm not sure about your specific use-case, but I think that the support for `parTraverse` has made moving between accumulating and non-accumulating sum types easier for most of my use-cases.

[2018-09-30 23:28] ceedubs commented on #1791
This was mostly resolved by #1793, and at this point Cats 1.0 has been out long enough that I doubt anyone is only now upgrading to it. I'm going to go ahead and close this out.

[2018-09-30 23:28] #1791 closed

[2018-09-30 23:31] ceedubs commented on #2236
I'm going to go ahead and close this out as a stale issue. The comments propose some alternative solutions that are probably more robust and less likely to cause gotcha bugs for users.

[2018-09-30 23:31] #2236 closed

[2018-10-01 00:17] #1321 closed

[2018-10-01 02:11] ceedubs commented on #1321
@johnynek I see what you are saying. I agree that this is a bit unfortunate. When I made the change in #1034, Cats still had its separate `Xor` type which was meant to be the non-accumulating counterpart to `Validated` and I think that this change made more sense in that context. 😔

[2018-10-01 06:57] #153 closed

[2018-10-01 11:38] LukaJCB commented on #2244
Picking this up, should we provide `cats-testkit-spec2` and `cats-testkit-minitest` modules that depend on those two testing frameworks instead of ScalaTest? :)

[2018-10-02 00:53] kailuowang commented on #2415
hmm, these changes (removing a method from an existing trait or removing the trait all together) may be binary breaking.

[2018-10-02 01:15] kailuowang commented on #2296
I just realized that if we have 2.0 to continue support 2.11, the binary breaking change releases on 2.11 might render cats 2.x impractical to use on 2.11. It might be better off for 2.11 users if we either drop 2.11 altogether or we backport 2.0 changes into a 1.x branch and maintain it for another year or so. In another sentence, we probably shouldn't release binary breaking cats. 2.x on 2.11.

[2018-10-02 04:16] REASY commented on #2538
Thanks, @ceedubs !

[2018-10-02 17:58] johnynek commented on #2233
Another idea here is a `Sequential[A[_]]` type class which would be the dual of a `Parallel[M[_]]`

So, if you have an applicative, but you want to go sequential for a bit (I am using Validated, but here I need andThen) you take the `Sequential[ValidatedNec[String, ?]]` and then it can allow you to work with Either for bit and convert back to `ValidatedNec` at the end.

[2018-10-04 13:04] kailuowang commented on #2463
Cats-collections completed migration and is officially an external cats module now. @melrief if you are still interested in writing a Scala RandomAccessList, it is ready for you.

[2018-10-05 13:24] LukaJCB opened #2553 "Thinking Longterm, Dotty support means removal of all macros"
We should start discussing the best way to handle migration to Dotty.
Fortunately we don't have a lot of macros in cats, the few that I can think of are Simulacrum/Machinist and the `FunctionK.lift` macro. We could manually expand the former (as suggested by @smarter), but I'm not sure how to handle the latter. Maybe someone else has other good ideas :)

[2018-10-05 14:09] smarter commented on #2553
Seems like this only exists to work around the lack of polymorphic function types, so if it's really a blocker that could force me to prioritize getting them in sooner :). In fact, I'd like to add polymorphic SAM auto-adaptation too, so you could just write `val lifted: FunctionK[List, Option] = headOption`.

More generally, I'd welcome removing all macros from cats given its central place in the

[2018-10-05 14:47] LukaJCB commented on #2553
I played around with it a bit, and the fact that you can insert a type doesn't seem to cause any breakage, all of this compiles fine:

[code]

Scalafiddle: https://scalafiddle.io/sf/223M0ER/2

[2018-10-05 14:51] smarter commented on #2553
Note that there's no `forSome` in Dotty so you'd have to write `def lift[F[_], G[_], A]f: (F[A] ⇒ G[A])`

[2018-10-05 14:58] LukaJCB commented on #2553
Ideally with polymorphic functions that'd be (depending on syntax) `def lift[F[_], G[_]](f: (A -> F[A] => G[A])): FunctionK[F, G]`, correct? :)

[2018-10-05 15:01] smarter commented on #2553
modulo syntax yes

[2018-10-05 17:50] larsrh commented on #2553
When you want to provoke the CCE, you have to think like the CCE :stuck_out_tongue_winking_eye:

[code]

https://scastie.scala-lang.org/larsrh/gV8haQYCRtWDFU6JDi8NHA

[2018-10-05 19:07] LukaJCB commented on #2553
Oh wow I didn't know it would accept a `Option[String] => List[String]` yeah that's pretty broken 😌

[2018-10-06 22:02] agajek commented on #2438
I can take this one.

[2018-10-07 06:52] #2517 closed

[2018-10-08 01:40] calvinbrown085 commented on #2529
@kailuowang Hi! I'm happy to pick this one up, is there a specific place in the README https://github.com/typelevel/cats#libraries-with-more-specific-uses
maybe at the bottom of this page?

`The full-size Cats logo is available for use for Cats related projects, contents, souvenirs, etc.`

Possibly underneath this? I can create a quick PR to see what it looks like

[2018-10-08 01:42] rossabaker commented on #2529
I did it for http4s [like this](https://github.com/http4s/http4s/blob/4684dea66213a45964bf7314e35741aad05cdc52/README.md).  I'll bet it can be done better, but there's some prior art.

[2018-10-08 02:00] calvinbrown085 commented on #2529
Oh nice! I'm trying to think of a good way to advertise to other repositories that the badge is available?

I'm still thinking about that section I mentioned. I might be off in what we are trying to do here though. Happy to discuss!

[2018-10-08 02:44] calvinbrown085 commented on #1807
Hi @kailuowang I made a PR https://github.com/typelevel/cats/pull/2554 that adds the new "cats friendly" badge to the README, do you think this PR addresses this issue as well?

[2018-10-08 02:49] calvinbrown085 commented on #2346
@kubukoz @CucumisSativus Can we close this? Looks like the PR has been merged

[2018-10-08 03:06] calvinbrown085 commented on #2540
So, for this do we want a `==` method on `Chain` ?

[2018-10-08 06:02] CucumisSativus commented on #2346
@calvinbrown085 I split it into 3 PR to make reviews easier. One is merged. The second is awaiting second confirmation https://github.com/typelevel/cats/pull/2541 and my third is waiting for the second to be merged :)

[2018-10-08 12:01] calvinbrown085 commented on #2346
Ah fair enough :)

[2018-10-08 19:12] thoefer commented on #1807
Thanks @calvinbrown085 !!

[2018-10-13 21:35] Baccata opened #2556 "Get FunctorFilter on par with the other MTL typeclasses"
Provided a `FunctorFilter` instance for `F[_]` (and potentially additional constraints), it seems possible to provide `FunctorFilter` instances for `StateT`, `ReaderT`, etc ... and get it on par with the other MTL typeclasses.

I was in need of such instances and quickly hacked together an implementation, without checking the laws, and without trying really hard to relax the constraint as much as

[2018-10-14 10:39] kubukoz commented on #2540
You can't define `==`, but it's desugared to `equals` :)

[2018-10-14 16:05] ceedubs commented on #2540
I _think_ that it should be pretty straightforward to implement `equals` in terms of `===` and `Eq.fromUniversalEquals`; and `hashCode` in terms of `Chain.iterator`, `StaticMethods.orderedHash`, and `Hash.fromUniversalHashCode`.

[2018-10-14 16:06] ceedubs commented on #2529
Resolved by #2554

[2018-10-14 16:06] #2529 closed

[2018-10-14 16:09] #2545 closed

[2018-10-15 10:06] Avasil opened #2559 "Project not building in IntelliJ"
As reported [on gitter](https://gitter.im/typelevel/cats?at=5bc30453435c2a518ea4d2b9) the issue with IntelliJ seems to persist and unfortunately wasn't completely fixed by #2382 :(

When I clone fresh `Cats` repo and load into IntelliJ I get:

[code]

It's still possible to do code, it's possible to run tests in `sbt` etc. but it's a real pain without any indexes working

[2018-10-15 13:15] kailuowang commented on #2559
ah. seems that scalacheck hasn't publish scalanative artifact yet.
https://github.com/rickynils/scalacheck/issues/396
I'd propose we disable scalanative in cats before this is resolved.

[2018-10-15 19:36] agajek commented on #2559
Yep. I've just checked and this line is to blame
https://github.com/typelevel/cats/blob/master/build.sbt#L360

[2018-10-15 20:21] kailuowang commented on #2559
that was needed for adding a doctest, it might be possible to disable that dependency when it's on scala native.

[2018-10-15 20:32] kailuowang commented on #2559
sorry closed by accident.

[2018-10-16 19:37] djspiewak opened #2561 "Somewhat annoying to get at rethrow syntax due to invariance"
`MonadError` is invariant in `E`, which is problematic in turn because it means that `catsSyntaxMonadErrorRethrow` will not infer on `Either[E, A]` where `E <: Throwable`, which is *vastly* far and away the most common case. For example, if you have an expression that produces `F[Either[RuntimeException, A]]`, you might reasonably expect that `rethrow` would be available syntax on such a value (at

[2018-10-16 20:33] SethTisue commented on #2389
ScalaCheck and ScalaTest have published, but for JVM only at the moment, no Scala.js yet. but that should be enough for someone to at least work on this and make sure everything else is ready

in the Scala 2.13 community build at
https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1511/consoleFull I'm seeing:

[code]

[2018-10-18 02:03] kailuowang commented on #2559
I asked around, people have no objection if we disable scalanative until scalacheck unblocks. Anyone interested in creating a PR?

[2018-10-18 06:17] agajek commented on #2559
I'll do it today evening.

[2018-10-18 18:56] SethTisue commented on #2389
they're now both available for JS too

[2018-10-19 12:50] agajek commented on #2559
@kailuowang, ready to go.

[2018-10-19 13:51] durban opened #2569 "cats.evidence.Is and Scala 2.13"
As far as I can tell, [`=:=` in Scala 2.13](https://github.com/scala/scala/blob/v2.13.0-M5/src/library/scala/Predef.scala#L662) is very similar (identical?) in functionality to `cats.evidence.Is`. Would it make sense to revisit the decision regarding `Is.unsafeFromPredef`?

- One thing is the `unsafe` prefix. Is it really unsafe? Especially now that in 2.13, it seems possible to write `(A =:= B) =

[2018-10-19 14:20] #2559 closed

[2018-10-19 17:13] kailuowang opened #2570 "Get rid of `publish-travis.sh`"
The bash script is getting unmanageable.
Instead we can define travis jobs explicitly in a clearer jobs spec, here is a simplified example.

[code]

[2018-10-19 17:19] djspiewak commented on #2570
FWIW, there is no filesystem caching between job stages, and even if you emulate it by hand (e.g. by using S3 to pass files between stages), you still run into the fact that Zinc is irrationally picky about file state and will often refuse to incrementally compile.

[2018-10-20 16:34] ceedubs commented on #1807
This should be resolved by #2554.

[2018-10-20 16:34] #1807 closed

[2018-10-20 20:16] stephen-lazaro commented on #1801
I'll pick up `Profunctor` and `Strong` next unless someone beats me to it.

[2018-10-21 15:02] ceedubs commented on #2570
In case it saves anyone else some time, I went down a bit of a rabbit hole trying to use Travis CI's new "stages" feature, and ran into trouble. I don't entirely understand it, but it seems that the "stages" are part of the build matrix, as is the scala version, and there's some sort of interaction where it tries to create a default stage that just runs `test` no matter what you do. Or at least th

[2018-10-21 19:47] fmsbeekmans opened #2575 "Missing `Chain#distinct` and `NonEmptyChain#distinct`"
When converting some code that was using `NonEmptyList` to `NonEmptyChain` I noticed `distinct` wasn't implemented.

I've started adding `Chain#distinct` and `NonEmptyChain#distinct` [here](https://github.com/fmsbeekmans/cats/tree/chain-distinct).

[2018-10-21 19:51] fmsbeekmans commented on #2575
Relates to #2539

[2018-10-22 23:03] fmsbeekmans commented on #2575
#2579

[2018-10-23 14:05] #2530 closed

[2018-10-23 14:05] #2438 closed

[2018-10-23 15:02] ronanM opened #2582 "Compile error with PlayJson macro and `cats.data.Newtype` (via NonEmptySet)"
A minimal failing snippet:

`build.sbt`:
[code]

`NesPlayJson.scala`:
[code]

Compile error:
[code]

Gitter:
- https://gitter.im/typelevel/cats?at=5bcdd30f6e5a401c2db0e99a
- https://gitter.im/playframework/playframework?at=5bce2836ae7be940169c3707

[2018-10-23 16:14] ronanM commented on #2582
I change to:
[code]
Same compile error.

[2018-10-23 19:21] ronanM commented on #2582
I changed to:
[code]
Same compile error.

[2018-10-24 13:01] CucumisSativus commented on #2304
Hey @satansk are you still working on it? If not would you mind me taking it from you?

[2018-10-24 14:02] CucumisSativus commented on #2346
Okay, issue can be closed. All pull requests are merged

[2018-10-24 14:12] kubukoz commented on #2346
Closing ;) thanks!

[2018-10-24 14:12] #2346 closed

[2018-10-25 02:21] satansk commented on #2304
@CucumisSativus I almost forget about this issue, but I will continue to work on this :)

[2018-10-25 06:43] CucumisSativus commented on #2304
@satansk so, good luck with it! :)

[2018-10-26 03:43] SethTisue commented on #2389
is there anything any of us can do to help move this along...?

[2018-10-26 15:35] durban opened #2584 "UnorderedFoldable#isEmpty default implementation is incorrect"
The default implementation of `UnorderedFoldable#isEmpty` (and thus `nonEmpty`) seems to be incorrect.

[code]

[2018-10-26 21:55] SethTisue commented on #2389
one place where help is needed is in the typelevel/catalysts repo. see discussion beginning at https://gitter.im/typelevel/general?at=5bd369fabbdc0b2505a4d5d2

[2018-10-26 22:44] tpolecat commented on #2389
Catalysts is only used for `TypeTagM` in one file, and `Platform.isJVM`/`.isJS` here and there in the tests. Is it worth managing a dependency just for these two things?

[2018-10-28 19:04] brinklec opened #2585 "Tuple2 instances not imported with cats.implicits._"
As of 1.4, `Tuple2` instances covered by the specific imports `cats.instances.tuple.catsStdInstancesForTuple2` and `cats.syntax.functor.toFunctorOps` are apparently not covered by `cats.implicits._`.  It is possible to have both the general and the specific imports in the same location, which I believe would not be true if there were any overlap.  From comments by knowledgeable people on gitter, I

[2018-10-29 02:46] ceedubs commented on #2585
@brinklec could you please share an example of what is failing for you? Things seem to be fine as far as I can tell:

[code]

It's possible that they don't cause conflicts because of the details of implicit prioritization; I'm not sure. I'm not too worried about it as long as it doesn't cause anything to fail for anyone.

[2018-10-29 02:50] ceedubs commented on #2584
Ouch. It looks like the implementations of `isEmpty` and `nonEmpty` are switched around. The fix is easy, but we should also add some tests for this. This is a super busy week for me. Does anybody want to give it a go?

[2018-10-29 03:48] barambani commented on #2584
I can help with this if that's ok

[2018-10-29 19:34] brinklec commented on #2585
Looks like above comment was not saved when I thought it was.

I reported this because I was getting errors.  The subject code still has a few other issues, though, and the context is complex.  I just made an error reappear by commenting out the specific imports:
[code]
If you need an actual gist, I'd like to clean up the other issues first.  Hope to complete that today.

[2018-10-30 05:11] LeifW commented on #1559
For those looking, it's available in mouse: https://github.com/typelevel/mouse/blob/ce8cdb918f2430bfd923cd058b351e4c18a85905/shared/src/main/scala/mouse/any.scala#L7

[2018-10-30 07:54] johnynek opened #2587 "Stack-overflow using Eval.defer"
partial stack here:

https://gist.github.com/johnynek/2adb46aecde687e2ab993c3cf9c2deb0

Seems to possibly be memoization related.

[2018-10-30 07:54] johnynek commented on #2587
this is in 1.4.0.

cc @non

[2018-10-30 10:12] LukaJCB commented on #1935
Actually I closed to early as we do have an analogue to `Divisible`, but not to `Decidable`, so I'll reopen this :)

[2018-10-30 10:55] LukaJCB commented on #1935
To be honest, it'd be pretty cool to see something like this in Cats:

[code]

[2018-10-30 14:12] kailuowang commented on #2584
closed by #2586

[2018-10-30 14:12] #2584 closed

[2018-10-30 14:33] LukaJCB commented on #1935
Please feel free to go right ahead :)

[2018-10-30 15:21] travisbrown commented on #2389
@tpolecat +1 to getting rid of the Catalysts dependency.

[2018-10-30 17:02] brinklec commented on #2585
Hmm, almost done working through the other issues, but just retested with the specific imports removed, and now seem to have lost reproducibility of the issue reported here.  At any rate, if this comes up again, I can always reinstate the more specific imports again.

Many thanks for the support.

[2018-10-30 20:49] stephen-lazaro commented on #1935
@LukaJCB If I wanted to add a dependency on `typelevel/algebra` would that be acceptable? It would be useful to articulate `Semiring` constraints in some cases

[2018-10-30 21:31] LukaJCB commented on #1935
I don't think that's in scope right now, there some talks on merging it into the cats repo or maybe even the cats-kernel module, so I propose adding Decidable now and then adding instances using `Semiring` constraints later :)

[2018-10-30 23:12] kailuowang commented on #1935
Is there an issue for merging algebra into cats?

[2018-10-30 23:53] stephen-lazaro commented on #1935
I'm happy to do that if that's something we want, after I finish adding this.

[2018-10-31 08:12] LukaJCB commented on #1935
@kailuowang the discussion's mostly been going on in https://github.com/typelevel/cats/issues/2041 and https://github.com/typelevel/algebra/issues/218 :)

[2018-10-31 15:54] kailuowang commented on #2486
I think the decision was made to keep the original logo. closing for  now .

[2018-10-31 15:54] #2486 closed

[2018-10-31 17:15] LukaJCB commented on #1935
`Decidable` might be more tricky to add than I thought a day ago. I don't think we can derive `combineK` for contravariant and invariant structures, so that means there's no way to extend from `SemigroupK` :(
Maybe in the future we could add an invariant parent for `SemigroupK` that could also be a superclass for `Decidable`.
Possibly someone else has other ideas :)

[2018-10-31 17:56] stephen-lazaro commented on #1935
Hmmm, right. I think for now I might drop the `SemigroupK` dependency in favor of optimizing for the `sum` and `decide` operations.
I imagine that means we can't really add it at a later date, but oh well.

[2018-11-01 08:18] nasadorian commented on #2288
Hi @Obarros @LukaJCB was this issue already addressed in a PR? Happy to help out as it seems like somewhat low hanging fruit.

[2018-11-01 11:04] LukaJCB commented on #2288
Hi @nasadorian, as far as I know there's been no PR yet

[2018-11-01 14:34] #2439 closed

[2018-11-02 08:09] nasadorian commented on #2288
@LukaJCB https://github.com/typelevel/cats/pull/2592

[2018-11-03 09:36] LukaJCB commented on #2585
Can this be closed out now @brinklec? :)

[2018-11-03 11:40] nasadorian opened #2593 "Does a purely functional set based on Eq belong in cats?"
I noticed that the `distinct` implementations in cats data types are based on `Order` and using Scala's `TreeSet`. But what about a purely functional set based on `Eq`?

Upsides:
* Intuitively more performant with constant time lookup and insert vs logarithmic for TreeSet
* Small memory footprint
* Uses Eq
* Could give rise to a `Predicate` data type as a side effect, similar to the one in Haskell

[2018-11-03 12:47] kailuowang commented on #2593
Absolutely,  probably in the external cats-collections module https://github.com/typelevel/cats-collections

[2018-11-03 15:40] barambani commented on #2556
I have some time to have a look at this if that's ok

[2018-11-04 02:17] nasadorian commented on #2593
Ah makes sense @kailuowang. I can close this and reopen there. Definitely looking for some feedback from folks on what typeclasses to use for this. Any insight on reducing GC overhead too, because the add calls are essentially map operations that copy the class over and over.

[2018-11-04 02:59] #2593 closed

[2018-11-04 19:54] brinklec commented on #2585
Please feel free to use your best judgment.  I wish I has better insight into whether or not this no longer reproducible error was somehow merely a stateful consequence of another error now corrected, or a due to a possibly still existing corner case.  This makes me think I should not really trust a compiler error to be telling me the truth unless I can reproduce it in isolation from all others, b

[2018-11-04 20:34] barambani commented on #2556
@Baccata , I opened an initial PR with the instances described here and I wanted to finish it with the last bits at the bottom of your comment. Could you share with me a sample type signature of what you would expect from `FunctorFilter#fromOption` and `OptionOps.LiftToPartiallyApplied#flatten` or may be just a use case ? I drafted something but I see some overlapping with the `FunctorFilter`'s sy

[2018-11-04 21:39] Baccata commented on #2556
Writing from phone, so apologies in advance.

I've revised my opinion on this. Considering the Functor nature of the typeclass in question, having a "fromOption" on FunctorFilter would probably not be right since you'd probably need to rely on some applicative nature of the target type for implementation.

I was initially also thinking that having a `def flatten(implicit F : Applicative[A], FF : F

[2018-11-04 23:45] barambani commented on #2556
👍 , thanks for the quick reply.

[2018-11-05 03:48] kag0 opened #2595 "Typeclass similar to scalaz Alt or haskell Alternative"
It would be nice to have a type class that given two values, returns either the first defined value.

like
[code]

with behavior like
[code]

Lots of types already have `orElse` methods defined (including `Option`), and it would be nice to start building on those.

[2018-11-05 07:45] DennisVDB commented on #2595
Wouldn't that be `SemigroupK`? https://github.com/typelevel/cats/blob/2e781ae32fc35fee49f5b4f8b8cc675db3ed7eee/core/src/main/scala/cats/SemigroupK.scala

In case of an instance for `Option[A]` as we don't know what `A` you could only implement it with the behavior you showed.

[2018-11-05 12:49] rossabaker commented on #2595
An `orElse` typeclass is proposed in #2536.

[2018-11-05 17:23] kag0 commented on #2595
@DennisVDB `SemigroupK` does exhibit that behavior for `Option`, but it still combines things like `List`. I updated the example to highlight how behavior would be different.

@rossabaker Don't know how I missed that. I'll close this in favor of #2536.

[2018-11-05 17:23] #2595 closed

[2018-11-06 14:35] ceedubs commented on #2585
Thanks for the report @brinklec. I'm going to go ahead and close it out, and you can feel free to reopen it if you can reproduce the issue.

[2018-11-06 14:35] #2585 closed

[2018-11-06 16:06] #2288 closed

[2018-11-06 21:48] Daenyth commented on #219
Compiling still fails when you `import cats.implicits._`, due to ambiguous implicits.

[2018-11-07 16:44] nasadorian commented on #2479
@kailuowang So since Kleisli implements quite a few typeclasses, how much doctesting is too much? Should every method be covered?

[2018-11-07 16:54] kailuowang commented on #2479
@nasadorian hmm, good question. I think I would focus on methods that are not part of type classes. There a couple of them in `KleisliFunctions`. Thanks!

[2018-11-08 14:41] erikerlandson opened #2601 "Re-enable unit test that was disabled in pr #2589"
In #2589 a unit test was disabled as a temporary workaround for scala 2.13-M5, which should eventually be re-enabled.

[2018-11-08 14:42] erikerlandson commented on #2601
crossref https://github.com/scala/bug/issues/11242

[2018-11-08 14:44] ceedubs commented on #2601
Thanks for creating this @erikerlandson!

I don't know why I didn't just create it myself instead of suggesting that it should be created. In my defense it's not yet 7am for me :P

[2018-11-08 15:08] ceedubs commented on #2575
I believe this was resolved by #2579.

[2018-11-08 15:08] #2575 closed

[2018-11-09 12:12] Alistair-Johnson commented on #2389
Looks like this should be closed now?

[2018-11-09 12:13] #2389 closed

[2018-11-09 12:15] Alistair-Johnson commented on #2356
I'll grab this one :+1:

[2018-11-09 12:30] #405 closed

[2018-11-09 12:31] Alistair-Johnson commented on #2364
I'll grab this one too :+1:

[2018-11-09 23:06] stephen-lazaro opened #2604 "Contravariant instances for `Op`"
I noticed there are a number of possible contravariant instances for `Op` but currently none are there. Do we feel like any of these would be beneficial? For example...

[2018-11-10 13:46] Alistair-Johnson commented on #1206
This is is done and so can be closed?

[2018-11-10 14:01] kailuowang commented on #1206
closed by #2546

[2018-11-10 14:01] #1206 closed

[2018-11-10 14:16] Alistair-Johnson commented on #1549
re catalysts... see https://github.com/typelevel/catalysts/issues/11

[2018-11-13 10:36] mielientiev opened #2608 "Ambiguous implicit values for Functor[Kleisli[F, A, ?]]"
I see the next error in 1.4.0 and 1.5.0-RC0 cas:

[code]

[2018-11-14 09:50] wedens opened #2611 "MonadError syntax for OptionT uses incorrect instance"
This PR introduced the problem: https://github.com/typelevel/cats/pull/2299

`MonadError[OptionT[F, ?], Unit]` is given higher priority than `MonadError[F, E] => MonadError[OptionT[F, ?], E]`.

And, of course, syntax for `MonadError` always resolves the first instance making it useless for any `E` other than `Unit`.

[2018-11-14 10:05] SystemFw commented on #2611
:+1: to changing it back, http4s is affected, since you can't call `handleErrorWith` on `HttpApp` anymore (it's `Kleisli` of `OptionT`), basically for the purpose of using `MonadError` of `Unit`, which is close to a toy instance.

cc @rossabaker @ChristopherDavenport

[2018-11-14 13:55] kailuowang commented on #2611
+1 to fix this.
We have two options.
1, We can simply make the `Unit` instance explicit
2. We can switch the two and use this trick https://github.com/typelevel/cats/pull/2335#L421-L425 to bump the priority of `MonadError[F, E] => MonadError[OptionT[F, ?], E]`, (otherwise they probably will be of the same priority and causing ambiguity issue.)

[2018-11-14 15:42] ChristopherDavenport commented on #2611
Definitely, 👍  to this being fixed.

[2018-11-15 15:51] coltfred opened #2613 "Breaking change: NestedSyntax collides with Optionable in Scalatest causing codebases to no longer compile tests."
If you upgrade from cats 1.1.0 to 1.2+ and you use `OptionValues` from Scalatest you'll end up with errors like the following.

[code]

This is caused by the fact that `.value` is syntax added to the `Option` type as well as the NestedSyntax conversion are at the same implicit level. I hadn't upgraded my cats version in a while so I didn't notice this until now, but it's a *huge* PITA. It means pe

[2018-11-15 15:55] kailuowang commented on #2613
related issue https://github.com/typelevel/cats/issues/2514

[2018-11-15 23:35] barambani commented on #2611
I'm having a look if that's all right.

[2018-11-16 15:51] kailuowang commented on #2514
this is auto closed by #2614 but the scope of this issue is larger

[2018-11-16 16:36] coltfred commented on #2613
@kailuowang Should we close these on merge or when the release happens?

[2018-11-16 16:41] kailuowang commented on #2613
yeah we can close this one.

[2018-11-16 16:41] #2613 closed

[2018-11-16 22:48] kailuowang commented on #2608
This a bug caused by the two methods at the same trait and thus priority. https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Kleisli.scala#L294-L299

Looks like we can move either up or down. So we will have to insert a new trait into the chain
to reduce BC change maybe name it `KleisliInstances4a`?

[2018-11-17 00:57] calvinbrown085 commented on #2539
Can we close this one?

[2018-11-17 01:02] #2539 closed

[2018-11-17 18:19] barambani commented on #2608
On it 👍

[2018-11-19 15:59] #2611 closed

[2018-11-19 15:59] LukaJCB opened #2620 "Invariant super class of Alternative and Decidable"
This ties into #1935, but also #2400 and #1932.

I think we could do a lot better with the `Alternative` hierarchy and the `Decidable` PR shows, it might need some binary breaking changes.

Ideally we could replicate the `*Monoidal` hierarchy, but using sum types instead. Then at the end we'd have `InvariantSemiringal` and have `Alternative` and `Decidable` extend from that.

Some code I came up w

[2018-11-19 16:13] kailuowang commented on #2514
closed by #2617

[2018-11-19 16:13] #2514 closed

[2018-11-19 20:53] LukaJCB commented on #2620
/cc @stephen-lazaro

[2018-11-19 21:00] stephen-lazaro commented on #2620
Yeah, +1. After I (finally) finish the Decideable PR, I can take a shot at this.

[2018-11-19 21:02] LukaJCB commented on #2620
I think this will have to wait until 2.0, so no need to hurry, we've got tons of time :)

[2018-11-19 23:42] stephen-lazaro commented on #2620
That diagram has some actually delightful symmetry, sort of reminds me of the Zassenhaus Butterfly Lemma

[2018-11-20 14:14] leandroBorgesFerreira opened #2623 "Lift for Bifunctor"
Hello,

I was taking a look at the code for Bifunctor and I notice that it doesn't have the `lift` function.

Is there a special reason for this? Shouldn't Bifunctor have this?

Thanks!

[2018-11-20 14:36] #2364 closed

[2018-11-20 14:37] ceedubs commented on #2623
Could you please be more specific about what you mean by `lift`, such as providing a type signature?

[2018-11-20 16:37] leandroBorgesFerreira commented on #2623
Sure. In the Functor class there is:
[code]

Shouldn't it be the same method for Bifunctor? Like this:
[code]

[2018-11-20 21:41] LukaJCB commented on #2620
To keep breakage as small as possible it might be good to either
1. Wait with the `Decidable` PR until 2.0 Or
2. Add the invariant super classes now and only change the covariant ones (`Alternative`, `MonoidK` and `SemigroupK`) for the 2.0 release.

[2018-11-20 22:59] catostrophe commented on #2620
@LukaJCB There's no place for `def empty[A]: F[A]` in `InvariantAddMonoidal`, because it's a covariant combinator.

Invariant add monoidal should have `nothing`:
[code]

Then, for the covariant monoidals we can derive the following (preserving arrow direction):
[code]

For the contravariant monoidals we can derive (inverting arrows):
[code]

So `empty` can be derived from `nothing`, provided the w

[2018-11-20 23:06] stephen-lazaro commented on #2620
That's a good call @catastrophe. Good catch. Is it worth switching to `Divisible`? We went back and forth on the naming a bit on the first pass, and I felt at the end these weren't really well known enough by their traditional name, which doesn't describe things that well anyway (at least to me).

[2018-11-21 08:46] LukaJCB commented on #2620
@catostrophe Everything you're saying makes absolute sense to me, thanks a ton!

[2018-11-21 09:15] LukaJCB commented on #2620
Of course with `Nothing` come some very annoying problems, type inference regularly breaks when the signature contains `Nothing` somewhere and of course we run into the *dead code*  issue as well.

I wonder if we can avoid `Nothing` somehow.

[2018-11-21 09:22] catostrophe commented on #2620
Maybe `INothing` from fs2?

[2018-11-21 09:50] catostrophe commented on #2620
Or `Void` from scalaz-zio

[2018-11-21 09:59] LukaJCB opened #2631 "Fix InvariantMonoidal Laws"
InvariantMonoidal should have `InvariantSemigroupal` as its parent in its ruleset.
Furthermore the associativity law should be moved to `InvariantSemigroupalLaws`

[2018-11-21 13:37] Alistair-Johnson opened #2633 "Add support for Oracle Flight Recorder"
The `bench` project currently uses [jmh](https://github.com/ktoso/sbt-jmh) for benchmarks, but the plugin also supports [Oracle Flight Recorder (OFR)](https://github.com/ktoso/sbt-jmh#using-oracle-flight-recorder).

Whilst looking at OOM's in the core laws, I am reminded that one of the better ways to investigate such issue is by using the OFR.

The suggestion is we add some support for interactiv

[2018-11-21 14:03] Alistair-Johnson opened #2634 "Remove CommutativeGroup instance for BigDecimal from Kernel"
Yes...This will be a big issue for binary compatibility, so now that is out of the way...

Currently there is an instance for `CommutativeGroup[BigDecimal]` [in kernel](https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/bigDecimal.scala).

We know that [`Double` and `Float` are not associative](https://github.com/typelevel/cats/blob/master/kernel-laws/src/tes

[2018-11-21 15:21] LukaJCB commented on #2620
I added a WIP for the missing type classes (sans `Decidable`) here: https://github.com/typelevel/cats/pull/2632

[2018-11-21 17:08] johnynek commented on #2634
I disagree with this personally.

Float, Double, BigDecimal and other types are approximation types. Virtually everyone understands that they cannot be accurate representations of real numbers.

That said, they do fairly well. So, it isn’t that BigDecimal isn’t at all commutative: it is very nearly commutative up to the accuracy limits of the type.

We could define a weaker Eq instance for these t

[2018-11-21 20:12] Alistair-Johnson commented on #2634
@johnynek Sure I get those points....but it is "very nearly...", "almost" , "in the real world" would be another.

 ... but we _do_ get failed tests. That's why i suggested a move to alleycats, as that's really why it exists.

I don't want to start anything "Big" here (yes, pun intended), I had thought of bringing this up before, when preparing for a talk on Laws in Berlin. But I decided to just l

[2018-11-21 20:16] LukaJCB commented on #2634
How about we comment it out like we're already doing for double and float. That should be a backwards compatible hot fix. We can think about what to do long term afterwards :)

[2018-11-21 20:20] Alistair-Johnson commented on #2634
@LukaJCB This isn't, IMHO, super-urgent - nor do have any super-strong views on the matter. So yes, we could comment out the test but..,

As there is currently time and (hopefully) an abundance of goodwill, might be worth discussing the long term a bit more, first? Better might be to bundle this up with the more general cats/algebra discussion anyway

[2018-11-21 20:34] johnynek commented on #2634
Spire has these instances you are trying to push into alleycats:

https://github.com/non/spire/blob/master/core/src/main/scala/spire/std/double.scala#L11

yes, you could use computable real at great cost to performance. Is that what you meant?

I think it is more interesting going the other way: e.g. TPUs are all about being less accurate and going even faster:
https://cloud.google.com/tpu/

or fa

[2018-11-21 20:41] Alistair-Johnson commented on #2634
I personally have used `Rational` with great success, mainly as a  "drop in" for testing along with a `AlmostEq[Double]`, and then using `Double` in production. There's no doubting they are faster, are used in DB's and so on

Actually, all I'm suggesting is that we simply move the current instance to alleycats.

[2018-11-21 21:03] denisrosset commented on #2634
`AlmostEq` is going to be difficult to define in a law-abiding way, because the loss of precision depends on the chain of computations.

No hard feeling about whether those instances should be in `cats` or `alleycats`; but those instances have a place -- without them, it is not possible to write generic code that works on exact and approximate number types.

Concerning binary compatibility, Spire

[2018-11-21 21:08] Alistair-Johnson commented on #2634
Found it... there is  [`FPApprox` in algebra](https://github.com/typelevel/algebra/blob/master/laws/src/test/scala/algebra/laws/FPApprox.scala)

[2018-11-21 21:16] Alistair-Johnson commented on #2634
Interesting the [use in algebra](https://github.com/typelevel/algebra/blob/master/laws/src/test/scala/algebra/laws/FPApprox.scala) - uses both a restrictive range and approximation on the full range...but scala.js turned of...oops

Absolutely! So, as another example  option, could be that we add something like `FPEqual` to cats-laws or alleycats-laws, both for cats tests _and_ external use. Or...?

[2018-11-22 18:00] catostrophe commented on #2620
I just realized we have `pure` in `InvariantMonoidal` which is wrong and doesn't make sense (see my  https://github.com/typelevel/cats/issues/2620#issuecomment-440459517 above)

[2018-11-22 18:01] catostrophe commented on #2620
Should be removed in 2.0

[2018-11-22 18:35] catostrophe commented on #2620
I also have some arguments against the `Sum` suffix in the newly added typeclasses and the `sum` function.

It might be misleading as in the wrong analogy we've discussed recently with @LukaJCB in gitter. For `type Pred[A] = A => Boolean` one can think that if `InvariantMonoidal` provides `const(true)` as `unit` and `&&` as `product`, then `InvariantAddMonoidal` should provide `const(false)` and `

[2018-11-22 19:55] Alistair-Johnson commented on #2634
So I have a suggestion:

I have added a class to the tests in KernalLaws, so is private for now. It _could_ be made public. The tests are then modified so `Float, Double, BigDecimal` all pass. Personally, I'm Ok with the the instances in `kernel`, but TBH, they are only useful with some form of approximate equals. So we should supply _something_  ...

What do you think, in principle? The details c

[2018-11-22 21:15] denisrosset commented on #2634
How would you choose the "epsilon"? I have the impression that it would depend on the range returned by the `Arbitrary[A]` in the scope.

@johnynek do you know how the reduced precision types you mentioned are validated? Maybe there is prior art we could use?

[2018-11-23 08:51] denisrosset commented on #2634
I like the idea of testing number types up to a certain precision, but I dislike the idea of making `Eq` violate one of his laws: with the definition above it is no longer transitive.

It seems we are making `Eq` lawless to force `CommutativeGroup[Double]` to be law-abiding.

[2018-11-23 13:38] LukaJCB commented on #2620
@catostrophe do you mean `point`? I'm not sure I can deduce what's wrong with it.
Also I fully agree with your assessment on the two possible `InvariantMonoidal` instances for `Predicate`.
I do think though that the term `sum` makes sense as `Either` is primitive sum type just as `Tuple2` is the primitive product type.

[2018-11-23 13:51] catostrophe commented on #2620
Yes, I mean `point`, and I think it doesn't make sense for contravariant monoidal functors.
```point :: (() -> a) -> (f () -> f a)```
This is a covariant lift.

What does `InvariantMonoidal[Pred[Int]].point(42)` mean?

[2018-11-23 14:01] LukaJCB commented on #2620
It means the same as `unit.contramap[Unit, Int](_ => ())` which is the same as `trivial[Int]`. Of course the `42` gets discarded, but that's just the nature of implementing `imap` in terms of either `map` or `contramap` it will always ignore one side.

[2018-11-23 14:33] dcastro opened #2638 "Backwards and Reverse"
I was wondering what the maintainers think about adding something like Haskell's [`Control.Applicative.Backwards`][back] and [`Data.Functor.Reverse`][rev] to cats.
Or maybe something like this already exists in cats and I missed it.

### `Backwards`

`Backwards` is a newtype wrapper around any `f a`.
If that `f` has an instance for `Applicative`, then so does `Backwards f`.

With good ol' applicat

[2018-11-23 18:34] Alistair-Johnson commented on #2634
Well sure. But currently none of the `Double` instances are law abiding. And that new `Tolerance` is _almost_ lawful - it passes the scalacheck tests even though we know they occasionally will fail. But if epsilon is set to zero, then it is lawful 😸

At the end of the day, perhaps approximate types just aren't lawful, so we have to pass on that responsibility to the user to ensure lawfulness withi

[2018-11-24 22:30] schrepfler commented on #1549
This would be great to happen.

[2018-11-25 08:58] chuwy commented on #2638
Regardless of whether this should belong to cats core or not, I would like to have it in Scala.

[2018-11-25 10:51] LukaJCB commented on #2638
We have `newts` for these kinds of things. But maybe with #1800 and opaque types on the horizon, it might make sense to rethink the separation and consider moving them into the cats repo. :)

[2018-11-26 18:07] djspiewak commented on #2633
I'm a little confused by this. JMH *itself* supports JFR integration, and you're perfectly free to use it when running the benchmarks in `bench`. I actually do this quite frequently on other projects. What is it you think should be added?

[2018-11-28 13:48] ArturGajowy opened #2645 "Make ListWrapper part of cats-testkit"
All the reasons for ListWrapper's existence and usefulness in cats tests apply to any laws tests users might want to reuse for their own instances. Would you accept a PR moving the class to cats-testkit's src/main?

[2018-11-29 21:03] Alistair-Johnson commented on #2645
As I mentioned on gitter, I have found an OOM issue with ListWrapper...but so long as I push the PR fix before a release, then all's fine. Just mentioning in case I forget...

But I concur...good idea :+1:

[2018-11-29 22:52] Alistair-Johnson commented on #2645
So we _can't_ forget... https://github.com/typelevel/cats/pull/2648

[2018-11-29 23:17] Alistair-Johnson opened #2649 "Drop machinist for Dotty"
Ref https://gitter.im/typelevel/general?at=5c0072ae464b6c0fd667cdfc

[2018-11-30 17:19] tpolecat opened #2650 "Improve doc for Func"
Nobody knows what the hell `Func` does ... linking to a 25-page Haskell paper (even a good one) isn't ideal. Can we improve the doc, at least to the point of explaining why we need both `Func` and `Kleisli` and how you might use it?

There is some discussion [here](https://github.com/typelevel/cats/pull/388#discussion_r33928978).

[2018-11-30 17:57] tpolecat opened #2651 "Remove fine-grained imports from docs"
Some of the doc pages use fine-grained imports, which we should discourage as it's very tricky (so tricky in fact that most advanced users don't even try) and is a source of discouraging problems and many questions on the Gitter channel. Can we go through the doc and remove them?

[2018-12-01 15:41] catostrophe commented on #2553
Doing this with the partial type param application would be source incompatible. Providing both params is redundant and inconvenient.

We can make a source compatible PR to 1.6 and improve it later when we're working on 2.0. What do you think?

[2018-12-01 15:49] LukaJCB commented on #2553
That sounds good to me, thanks a lot!

[2018-12-01 17:16] catostrophe commented on #2553
The thing I didn't notice is that type inference is a bit worse with the new approach.
[code]

So, unfortunately, it cannot be a replacement for the macro generated `lift` in 1.x due to source incompatibility.

[2018-12-02 01:38] alexknvl commented on #2553
https://github.com/alexknvl/polymorphic/tree/master/src/test/scala

[2018-12-03 10:11] dcastro commented on #2638
@LukaJCB So, should this go in `newts` for now, and maybe be moved into cats later?

[2018-12-03 16:20] durban opened #2657 "Ambiguous duration instances"
The `ContravariantShow` instances for `Duration` and `FiniteDuration` are ambiguous. Thus, it is not possible to summon a `ContravariantShow[FiniteDuration]`. This also makes `FiniteDuration` unusable with the `show"..."` string interpolation.

[code]

[2018-12-04 11:31] anatoliykmetyuk opened #2661 "Proposal: lifting between monad transformers, simple effect types and raw types"
In practice, I often encounter situations when I need to lift `F[_]` to `EitherT` or `OptionT`. For `EitherT`, the only current option is `EitherT.right[E](foo: F[A]): EitherT[F, E, A]`. Compare that to `A`-`F[A]` interop or `OptionT`-`EitherT` interop:

[code]

Similarly, I think it is a good idea to have rich wrappers such as to allow:

[code]

The `EitherT.right(foo: F[A])` is a bit cumbersome

[2018-12-04 12:30] anatoliykmetyuk opened #2662 "Discussion: effect stack-aware composition methods"
# Transformer Effect Types composition methods family
`flatMap`, `map`, `semiflatMap`, `subflatMap`, `right` etc etc. Their names are clearly a cartesian product. For `EitherT`: `(left, bi, <empty>) x ((semi, sub) x flat), traverse, <empty>) x (map, empty)`. However, this fact is not abstracted in any way. The lack of abstraction leaves "holes" in the namespace (as per Cats 1.5.0):

- No `leftSubf

[2018-12-05 13:18] calvinbrown085 commented on #2651
Hi @tpolecat do you have an example here? I'm guessing it's somewhere we can import `._` instead?

[2018-12-05 14:01] LukaJCB commented on #2651
@calvinbrown085
In general when there's docs where anything apart from `import cats.implicits._` is used, change it to `cats.implicits._` instead. So e.g. in https://github.com/typelevel/cats/blob/master/docs/src/main/tut/typeclasses/applicative.md

you'll see this:

[code]

That should be changed to just
[code]

[2018-12-05 14:08] calvinbrown085 commented on #2651
@LukaJCB Ah, that makes sense! I can try to go through and find some of these to fix

[2018-12-05 14:45] matthughes opened #2663 "Add mkString_ that just takes separator string"
Cats provides a Show-compatible version of mkString but it requires all three parameters: prefix, separator, suffix.  The std library also provides a mkString that just takes a separator string; this is what I use 90% of the time.

Can we add this?  I'd be happy to PR.

[2018-12-06 18:55] kailuowang commented on #2657
yeah, this is tricky. We wanted `show"..."` to work when `Show` instance of supertype is available, but obviously, the variance is causing trouble when instances for both parent and child are defined.
One solution I can think of is that we add a new `show_"..."` that only takes `Show`.

[2018-12-10 14:58] ceedubs commented on #2657
It might be tricky to do in binary-compatible way (although I think that it might be able to be done), but one possible solution is to put the `Duration` and `FiniteDuration` instances into the same `trait` so that we can prioritize the two instances.

[2018-12-10 14:59] ceedubs commented on #2651
I think that this can be closed out now. Thanks, @calvinbrown085!

[2018-12-10 14:59] #2651 closed

[2018-12-10 15:08] ceedubs commented on #2649
I assume that we would still want to keep machinist for Scala versions before Dotty. How could we go about doing this? Is there a way to make Machinist a no-op for Dotty and still work the same for previous versions?

[2018-12-11 21:55] kailuowang commented on #2657
@ceedubs I think it's worth a try. and it should be easy to keep BC by just removing the `implicit` from old ones.

[2018-12-12 15:59] zy4 opened #2666 "if-conditions in for-comprehensions for EitherT"
When using an if-condition to filter an OptionT-Stack, one could simply write:

[code]

The same does not work for `EitherT` for which I would have expected the left side in case of false.

[2018-12-12 16:15] mpilquist commented on #2666
Consider a similar program using `Either[L, R]` instead of `EitherT[F, L, R]` -- it will similarly not work, with an error indicating that `Either` does not have a member named `withFilter`. The reason neither `Either` nor `EitherT` defines `withFilter` is that upon failure, you need to conjure up a value of type `L` to wrap in a `Left` constructor.

E.g., given `x: Either[String, Int]`, what shou

[2018-12-12 20:34] zy4 commented on #2666
Makes sense! I can always do something like `toOption.withFilter.toRight`, I guess.

[2018-12-12 20:34] #2666 closed

[2018-12-14 15:56] jeffwji opened #2667 "@op annotation doesn't work"
I'm very like the macro annotations which significantly reduce code. But recently I'm encountering a problem when I tried `@op`, compiler reported exception:

[code]

The example code below:
[code]

`@typeclass` works find! but just `@op` doesn't.  I have `org.scalamacros.paradise` plugin in build.sbt:
[code]

but eventually sbt reached
[code]

Not sure what is missing from there.

[2018-12-14 16:10] kailuowang commented on #2667
Have you tried to separate your type class definition and your test code into different objects?

[2018-12-14 16:22] jeffwji commented on #2667
Yes, I tried to separate, but got same error.

[2018-12-15 02:46] barambani commented on #2657
I would have some time. I could have a look if that's ok.

[2018-12-16 16:43] ceedubs commented on #1610
I think that this is still desired, but there are a number of design decisions that would need to be made, such as whether these isomorphism instances are auto-generated by the build. It might make sense to start this out as an experimental module (or even a separate repo) before we consider it to be part of Cats proper.

[2018-12-17 06:39] qingwei91 commented on #1610
@ceedubs Cool, is there a discussion somewhere around these design consideration?

I'll give it a go when I am free, do you think following what scalaz did is a good start?

[2018-12-18 15:07] kubukoz opened #2673 "Resolve TODO since 2.10 is dropped"
https://github.com/typelevel/cats/blob/master/docs/src/main/tut/guidelines.md#todo

[2018-12-18 15:54] #2645 closed

[2018-12-18 18:54] kubukoz commented on #2667
`scalacOptions ++= Seq("-Xplugin-require:macroparadise")`

I think you don't need that. Just having the compiler plugin should be enough.

Also, this isn't a Cats issue, so if you still have problems I recommend you open something in https://github.com/mpilquist/simulacrum :)

[2018-12-19 14:39] #2272 closed

[2018-12-19 16:13] wedens commented on #1935
Speaking of use cases, here is contravariant hierarchy used for logging: https://kowainik.github.io/posts/2018-09-25-co-log (haskell)

[2018-12-19 16:15] kubukoz commented on #2667
@jeffwji also, please make sure that you enabled the plugin in the sbt project you're using the `op` annotation in, not just in the build's root (if you have subprojects, of course)

[2018-12-19 18:04] jeffwji commented on #2667
@kubukoz , thanks for reply, I add it to project's build.properties file but still doesn't work..

[2018-12-19 18:09] kubukoz commented on #2667
Actually, I meant something else. In your build.sbt, if you have a few modules you should have a setup similar to this:

[code]

It won't work if you only have

[code]

.

[2018-12-19 19:07] jeffwji commented on #2667
I see, but I only have one sub module and I add this plugin under both root and build properties file.

[2018-12-19 19:10] jeffwji commented on #2667
And it works for @typeclass annotation but just not for this one which is in the typeclass.

[2018-12-19 19:14] kubukoz commented on #2667
The `build.properties` file has nothing to do with plugins ;)

This is strange. I suggest asking in simulacrum's repo.

[2018-12-20 02:55] kailuowang commented on #2484
I am going to close this one for now since it's already in place.

[2018-12-20 02:55] #2484 closed

[2018-12-20 13:43] randm-ch commented on #2195
@kailuowang would you mind taking a look at this issue? Sounds like everything's ready, but the original assignee became a ghost :wink:

[2018-12-28 16:10] #2275 closed

[2018-12-30 00:51] joan38 commented on #2161
Isn't this solved by `redeem`?

[2019-01-01 00:39] johnynek opened #2678 "Foldable could have foldRightDefer"
currently, we have:
[code]
which predates the `Defer[F[_]]` typeclass. In fact, I think in general, we could have:

[code]
e.g.
[code]

If we had this, all effects extend Defer, so we could do foldRight with `IO` without going through `Eval`.

[2019-01-01 00:41] johnynek commented on #2678
Note, `Free` has a `Defer` instance as well, as do many monad transformers, so there are many places you can use this.

[2019-01-01 00:45] johnynek commented on #2569
I think unsafe is the wrong prefix there. It is perfectly safe (as the PR to scala 2.13 showed).

Maybe the best thing is to add a new method without unsafe and mark the unsafe as deprecated. The new method can be an implicit from `=:=` possibly at a lower priority to avoid conflicts for the reflexive case.

The same is true for `As`.

[2019-01-01 00:52] johnynek opened #2679 "FoldableTests are not testing sequence_/traverse_"
see: https://github.com/typelevel/cats-collections/pull/152/commits/4812b86470b6b5255b6e145b40861d2c01565f30#diff-1f70710e148c78ab48fdd3687d6ecd0bR201

I had to add that to get full test coverage.

We could have a law that: `fa.sequence_ == fa.foldMap(identity)` where we construct the natural `Monoid[G[Unit]]` for an `Applicative`.

More generally, I think we should have a practice that each insta

[2019-01-01 01:17] johnynek opened #2680 "should we add TreeList to deal with stack safety and large traversals?"
I have been concerned for a while (e.g. #1473 ) that traverse/sequence is not stack safe in general, and several interesting Applicatives will throw in this case.

Recently, I have been implementing a list data structure by Okasaki which gives O(1) cons/uncons but O(log N) update/get.

see:
https://github.com/typelevel/cats-collections/pull/152

I realized while implementing this that the data str

[2019-01-02 16:10] kailuowang commented on #1610
👍 on an experiment module and following what scalaz did.

[2019-01-07 12:05] bplommer opened #2685 "MonadError#adaptError could be on ApplicativeError instead"
`MonadError#adaptError` is defined as
[code]
But it could be defined on `ApplicativeError` simply as
[code]
I haven't opened a PR because this would be a breaking change.

[2019-01-07 15:47] valydia opened #2686 "Provide an IndexedState data type"
It would be an alias for:
[code]

[2019-01-07 18:02] valydia opened #2687 "Provide an IndexedStore"
Analogue to https://github.com/scalaz/scalaz/blob/7e64f43872fc944b54a63e4262acaea2248f50c8/core/src/main/scala/scalaz/StoreT.scala

[2019-01-08 01:35] simonyun commented on #2540
🙋🏻‍♂️

Chiming in with a vote — this was causing my ScalaTest `assertResult` check to fail in the context of `ValidatedNec`.

[code]

So it looks like somehow the equality check works for two or fewer elements, but not for three. Obviously I will change my test to use `===`, but it'd be great to have `Object.equals` overridden and functioning here.

[2019-01-08 01:40] kailuowang commented on #2620
I might've missed something but is this not BC breaking on scala 2.12?

[2019-01-08 02:08] kailuowang commented on #2540
👍 on @ceedubs suggestion.

[2019-01-08 14:24] ceedubs commented on #2540
I'll give this a try.

[2019-01-08 16:51] LukaJCB commented on #2620
I honestly don't know if it is or not, it might be, but I'm not sure. It definitely breaks for 2.11 though.

[2019-01-08 17:12] ceedubs commented on #2540
#2690 submitted for this

[2019-01-08 18:32] bplommer commented on #2685
@kailuowang I'm happy to pick this up. I it will need a different name in the `ApplicativeError` syntax to prevent ambiguity - maybe `applicativeAdaptError`?

[2019-01-08 19:46] kailuowang commented on #2685
@bplommer thanks, yeah, that's a good catch. `applicativeAdaptError` sounds too long. how about `adaptErr` or `modifyError` with a comment on why it can't be the same as the one in MonadError for now? we shall be able to change this in 2.0.

[2019-01-09 18:45] #2540 closed

[2019-01-11 11:48] valydia commented on #2687
I am happy to provide an implementation if that's useful

[2019-01-12 18:44] diesalbla opened #2697 "Add FunctorK trait"
There are several transformers and data types in `cats` and associated libraries that are parameterised on a kind-1 type `F[_]` and a kind-0 type parameter `A`. For convenience, I called them the _effect_ type and the _value_ type, respectively. Some of these data types are `Nested`, `EitherT`, `OptionT`, `OneAnd`, `Kleisli`, `Free`.

In `cats-tagless` project defines a trait [_FunctorK_](https://

[2019-01-12 19:00] LukaJCB commented on #2697
For some history on this:
https://github.com/typelevel/cats/issues/1982
https://github.com/typelevel/cats/pull/1815
https://github.com/typelevel/cats/pull/1620

[2019-01-12 19:09] #2697 closed

[2019-01-12 19:19] LukaJCB commented on #2697
@diesalbla FWIW, I don't think we need to close this immediatly, we could discuss this again :)

[2019-01-14 01:13] djspiewak commented on #2697
As a quick intuition as to why this has historically been complicated…

Higher-kinded arities get complicated very quickly. The `FunctionK` defined in the OP issue here is pretty intuitive, and there are a lot of inhabitants, but it isn't strictly the higher-order version of `Function` in the way that `InjectK` is the higher-order version of `Inject`, or `MonoidK` is the higher-order version of `M

[2019-01-14 18:57] kailuowang commented on #2697
@djspiewak thanks for the helpful summarization of the problem. I am going to refer to it at the `FunctorK` definition in `cats-tagless`.

[2019-01-17 01:57] oscar-stripe commented on #2233
one work around I did internally was just make `Parallel1` very similar to @ChristopherDavenport 's example.

We could do that in cats core. 1 meaning 1 type parameter...

It's a bit of an ugly name but it makes it much more convenient to use and we don't need to wait until cats 3.0.

I think we have to accept warts if we want binary compatibility (which I do).

[2019-01-17 15:52] ceedubs opened #2701 "Ambiguous Eq instances for tuples"
I think that the situations in which this arises are somewhat uncommon, but I don't know of any good way to work around it when it does happen. For example here's what happens when you try to summon the `Eq[(Set[Boolean], Set[Boolean])]` instance:

[code]

Summoning `Eq[Set[Boolean]]` by itself works fine:

[code]

And summoning `Eq[(List[Boolean], List[Boolean])]` works:

[code]

I think that the

[2019-01-17 15:54] johnynek commented on #2233
Well my solution was to resolve Parallel using Parallel1 so Parallel1 is a wrapper for Parallel only used to ease implicit resolution.

Otherwise existing instances of Parallel wouldn’t be usable.

[2019-01-17 16:01] kailuowang commented on #2701
A slightly convoluted way to do it without breaking BC might be disabling the existing ones by making them not implicit and create a new hierarchy of traits and let the objects extending them. Of course, the fact these methods are all generated code makes things more complicated, but I feel that this should be possible.

[2019-01-17 16:02] ceedubs commented on #2667
This doesn't appear to be related to Cats, so I'm going to go ahead and close it out. Please report in the [Simulacrum](https://github.com/mpilquist/simulacrum) repository if you continue to see issues.

[2019-01-17 16:02] #2667 closed

[2019-01-17 16:11] ceedubs commented on #2701
Thanks @kailuowang that's a good idea. I can give it a try. Do we have a naming convention for the implicit methods that we wish had the name of the old versions that we had to keep around because of binary compatibility? 😅

[2019-01-17 16:18] kailuowang commented on #2701
It's not a very established convention, but we used `BinCompat` suffix a couple of times.

[2019-01-17 16:36] johnynek commented on #2233
Here is what I added:
[code]
Then you can use it with:
[code]

[2019-01-17 16:37] johnynek commented on #2233
We could probably also make `parallelFromParallel1` a low priority on the `Parallel` object and not even have the import.

[2019-01-17 16:38] ChristopherDavenport commented on #2233
Why not use `Par` and then existing users on `cats-par` can just migrate via changing imports?

[2019-01-17 16:39] ChristopherDavenport commented on #2233
It sounds a lot like you have spent time to recreate the work that has been built out incrementally in cats-par.

[2019-01-17 16:44] johnynek commented on #2233
No offense Chris, but this is 27 lines of code in total. It was less work that updating our builds to depend on a third party we would have to keep up to date with changes to cats/etc...

And as you note in your readme, I was the one that suggested this approach originally.

[2019-01-17 17:08] ChristopherDavenport commented on #2233
I totally was suggesting bringing it in. Not depending on the library.

[2019-01-17 17:39] ceedubs commented on #2701
Doing this generates a bunch of `ReversedMissingMethodProblem` mima errors. It's probably safe to exclude those since we only care about backward compatibility and not forward compatibility, right? Do we ever care about `ReversedMissingMethodProblem`?

[2019-01-17 17:41] kailuowang commented on #2701
I don't fully understand the ramification for `ReversedMissingMethodProblem`, but the best way to find out is to add tests to https://github.com/typelevel/cats/blob/master/binCompatTest/src/main/scala/catsBC/MimaExceptions.scala

[2019-01-17 17:48] ceedubs commented on #2701
Another good idea :)

I need to focus on work for a while, but I'll try to come back to this soon.

[2019-01-18 01:12] kailuowang commented on #2233
@ChristopherDavenport a mere rename is how I read your intention as well.
I think I like `Parallel1` siightly better, because it looks supplementary to `Parallel`, while it's harder to tell the difference between `Par` and `Parallel`. For `cats-par` users, they can do a replace
`import cats.temp.par._` to  `import cats.{Parallel1 => Par}`, not much extra cost to them.
a global replacement of Par t

[2019-01-18 01:34] ceedubs commented on #2701
Oh I get it now. The problem is with adding it to the trait pre-Scala 2.12. Hmmm I can't think of a way around this that's binary-compatible before Scala 2.12 😬.

[2019-01-18 01:36] calvinbrown085 commented on #2663
Hi @matthughes did you end up working on this?

[2019-01-18 01:41] kailuowang commented on #2701
I wasn't suggesting adding methods to exiting traits. I was suggesting adding a new trait hierarchy and only let  `cats.instances.all` `cats.instances.tuple` and `cats.implicits` extend it. Is that not going to work?

[2019-01-18 01:43] ceedubs commented on #2701
@kailuowang the `Order` instance for tuples is defined at the top level of the `TupleInstances` trait, so I _think_ that if we try to create a new `trait` and add an `Eq` or `Hash` instance to it, we could potentially end up with ambiguities when both are mixed into `all`/`tuple`/`implicits`. Correct me if I'm misunderstanding.

[2019-01-18 02:41] kailuowang commented on #2701
@ceedubs we can "move" the `OrderInstance` into the new hierarchy right?

[2019-01-18 16:19] ceedubs commented on #2701
Oh I see. This is going to get messy but yeah we could probably do that.

I'd like to see Cats move in a direction where we commit the reasonable
change to master and have some people working on backporting the messy
bincompat changes. This is a high burden to place on a non-maintainer who
wants to commit.

On Thu, Jan 17, 2019, 6:42 PM Kai(luo) Wang <notifications@github.com wrote:

[2019-01-18 17:29] kailuowang commented on #2701
TBH, a high burden for maintainers as well. Having dedicated force to do the backporting could be a good midterm solution to support 2.11 longer. (eventually, the diversion between this branch and master might be too messy to be sustainable).

[2019-01-18 20:56] FrancescoSerra commented on #1195
Can this be mark as closed, considering th work done for #2546 ?

[2019-01-18 21:45] #1195 closed

[2019-01-19 18:36] kamilkloch commented on #2650
I am still trying to understand the mechanics of the `AppFunc` with its embedded Applicative instance.

@eed3si9n  in [herding-cats, day 11](http://eed3si9n.com/herding-cats/combining-applicative.html#Product+of+applicative+functions) shows two benefits of `AppFunc`:
- `product`,
- nested `andThen`.

If I am not mistaken, neither of these make use of the `Applicative` instance. In fact, the only n

[2019-01-19 22:15] eed3si9n commented on #2650
Here's sudoku solved using Func - http://eed3si9n.com/sudoku-using-func
The point of AppFunc is that you can compose a bunch of together, and then call traverse on it once.

[2019-01-19 22:36] kamilkloch commented on #2650
Why can't one use `Kleisli`s traverse for that? The only difference between `AppFunc.traverse` and `Kleisli.traverse` is in the way the `Applicative` instance is provided - in AppFunc it is baked into the type and in Kleisli it has to be provided with traverse.

Can't all `AppFunc`'s functionality be provided within `Kleisli`? (I see only problematic nested `andThen`).

[2019-01-20 06:41] eed3si9n commented on #2650
Here's from [herding cats, day 11](http://eed3si9n.com/herding-cats/combining-applicative.html#Product+of+applicative+functions):

Using `Tuple2K` and `Nested` some typeclass instances `F1` can be composed with another `F2`. Writing that code out by hand is tedious, you can derive complicated one automatically using `AppFunc`.

[code]

The types gets more messy if we compose multiple levels. See [

[2019-01-20 23:06] kamilkloch commented on #2650
As an experiment, I made `WordCountSuite` work without `AppFunc`, only with `Kleisli`. Following addition to Kleisli was needed:
[code]
So, summing up:
- `Kleisli.traverse` works fine (just like `AppFunc.traverse`),
- `Kleisli.product` works fine (just like `AppFunc.product`),
- `Kleisli.andThenNested` works fine, albeit the method name is weird (`andThen` being taken).

Does this justify the addi

[2019-01-21 05:49] eed3si9n commented on #2650
Doesn't the name Kleisli come from Kleisli arrow in the Kleisli category `F` traditionally known as "Monad", and `FlatMap` in Cats? The point of Kleisli category is that it's a subcategory of `Functor` (endofunctor). With endofunctors, you stay in the same `F`.

The applicative function composition needs strictly weaker constraint, and it's more powerful because we are talking about typelevel `F`

[2019-01-21 16:11] matthughes commented on #2663
@calvinbrown085 I have not.  I wanted to see if there was interest before doing the PR as it's pretty simple.  Really just adding a new method that delegates to the form:

[code]

[2019-01-22 18:43] kailuowang commented on #2233
@LukaJCB so how about we create a new issue with @johnynek 's solution and label it with "help wanted"?

[2019-01-22 19:02] wojciechUrbanski commented on #2631
I'd like to take that one if that's ok

[2019-01-23 15:30] kailuowang commented on #2663
@calvinbrown085 I think this would be a good addition. And it's rather simple, the code you wrote and a doctest should do.

[2019-01-23 15:55] LukaJCB opened #2707 "Provide a `combineKEval` method"
For `Apply` we currently have `map2Eval`, which individual instances can override to get short-circuiting. Would be cool to have the same for `SemigroupK`, as I believe quite a few instances could do some short-circuiting in that way.

[2019-01-23 16:05] kailuowang commented on #2707
this would be binary breaking right?

[2019-01-23 16:07] LukaJCB commented on #2707
Yeah, atleast for 2.11 :(

[2019-01-23 16:09] LukaJCB commented on #2707
Though, maybe it's not such a bad thing, it could fit into other plans such as #2620

[2019-01-23 16:21] LukaJCB opened #2708 "Provide a Semigroupal instance for SortedSet"
Should be something like this:

[code]

[2019-01-25 12:37] calvinbrown085 commented on #2708
Hi @LukaJCB I'd be happy to give this a shot, would that go in here? https://github.com/typelevel/cats/blob/774fb51d1365e1adef7fa71f09b1410941264f60/core/src/main/scala/cats/instances/sortedSet.scala#L9

[2019-01-25 12:41] LukaJCB commented on #2708
Unfortunately I think it'd need to go in another trait for binary compatability.

[2019-01-25 12:51] calvinbrown085 commented on #2708
@LukaJCB if have a second, do you mind pointing me in the right direction? Or by `another trait` do you mean a new file? That we can create for bin compat issues

[2019-01-25 13:03] LukaJCB commented on #2708
Something like this one:
https://github.com/typelevel/cats/blob/774fb51d1365e1adef7fa71f09b1410941264f60/core/src/main/scala/cats/instances/option.scala#L130

You can't extend the trait directly so we mix it into the objects that need it, i.e. `cats.implicits` and `cats.instances.sortedSet`. :)

[2019-01-25 13:19] calvinbrown085 commented on #2708
Perfect, that's what I figured :)

[2019-01-25 14:46] calvinbrown085 commented on #2708
So I have that PR, I'm a bit confused on why it's failing the bin compat check

[2019-01-28 13:33] DavidGregory084 opened #2712 "Limit number of Scala.js linker tasks that can run at once"
We should limit the number of Scala.js linker tasks that can run concurrently once Scala.js 0.6.27 is released:

[code]

This is in the [0.6.x branch of the Scala.js plugin](https://github.com/scala-js/scala-js/pull/3541) now but not released as yet.

I'm not sure this will resolve all of the memory usage issues that we have been experiencing with the cats build but it should help.

[2019-01-31 10:50] LukaJCB opened #2714 "Map and SortedMap should have MonoidK instances"
Map#++ is associative and should also form a Monoid with Map.empty as the identity :)

[2019-01-31 17:09] wojciechUrbanski commented on #2714
I would like to take that one :)

[2019-01-31 19:08] johnynek opened #2715 "minimumOption and maximumOption could be on UnorderdFoldable"
Order.max/min is commutative, so it could be used with UnorderedFoldable/UnorderedReducible.

They should be moved down there in cats 2.0, which I think would be binary compatible in scala 2.12 since UnorderedFoldable is a subtype of Foldable.

[2019-01-31 19:14] johnynek opened #2716 "add method on `object CommutativeApplicative` to get `CommutativeMonoid`"
[code]

These show how UnorderedFoldable and UnorderedReducible can have a `def unorderedTraverse_` and `def unorderedSequence_`.

Which can be useful on things like hash-sets and hash-maps (and heaps).

[2019-02-01 09:04] dwijnand commented on #2663
Fixed by https://github.com/typelevel/cats/pull/2709

[2019-02-01 09:08] #2663 closed

[2019-02-01 09:34] dcastro opened #2718 "Chain.fromSeq vs NonEmptyChain.fromSeq"
There seems to be an inconsistency between these two methods.

`Chain.fromSeq` takes a `scala.collection.Seq`, whereas `NonEmptyChain.fromSeq` takes a `scala.collection.immutable.Seq`.

I assume the correct fix is to change `Chain.fromSeq` to take an immutable sequence, but that sounds like a breaking change...

Cats version: 1.6.0.

[2019-02-01 16:26] kailuowang opened #2719 "Cats 2019 Road Map"
This proposal is drafted based on [Cats ecosystem community survey 2018 results](https://typelevel.org/blog/2019/01/30/cats-ecosystem-community-survey-results.html).

## Overall strategy
A Cats 2.0 is released earlier in the year **without any breaking changes on most modules** except `cats-laws` and `cats-testkit`. We then start branching to allow the master branch to drop Scala 2.11 in Q2, but m

[2019-02-01 16:50] rnd4222 opened #2720 "Category instance for Is"
Is there any reason why **cats.evidence.Is** isn't a **Category**?
It's already have **compose** and **id** is **Is.refl**

[2019-02-04 15:48] ceedubs opened #2725 "CommutativeSemigroup[A] => CommutativeMonoid[Option[A]]"
It looks like having a `CommutativeSemigroup[A]` currently doesn't get you `CommutativeMonoid[Option[A]]`. I think that's something that we should be able to provide. Does anyone have a reason not to include this instance?

[2019-02-04 16:13] ceedubs commented on #2720
👍 I can't think of any reason.

[2019-02-08 16:38] ctongfei commented on #2725
Can we get a `Monoid[Option[A]]` from a `Semigroup[A]` in cats now?

[2019-02-08 17:13] LukaJCB commented on #2725
@ctongfei It's in fact the standard instance :)
See here: https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/option.scala#L9

[2019-02-08 17:34] ctongfei commented on #2725
@LukaJCB Ahh thanks!

[2019-02-08 20:50] kailuowang commented on #2725
to fix this we need to move the [current `Monoid` instance](https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/option.scala#L9) to `OptionInstances0`
This change will be binary breaking on scala 2.11 though.  There might be convoluted ways to do it in scala2.11 but it's not obvious to me. If it's not urgent, shall we schedule it to 2.1?

[2019-02-12 16:53] kailuowang commented on #2719
It seems there is no contention. I am going to proceed with this roadmap.

[2019-02-14 16:52] kailuowang commented on #2661
I agree `EitherT.right(foo: F[A])` is a bit of typing, on the other hand, I think there is a reason we might want to stick with it.
`(fa: F[A]).toRight[E]: EitherT[F, E, A]` will be ambiguous to read with the existing `a.asRight[E]: Either[A, E]`, so if we want to add this method the name has to be something like `asEitherTRight` to avoid the ambiguity. And if you do that, `fa.asEitherTRight` is e

[2019-02-17 23:15] ceedubs commented on #2570
I'm working on this. I'll submit a PR after https://github.com/typelevel/cats/pull/2732 is merged.

[2019-02-17 23:20] ceedubs commented on #2570
On that note: does anyone know why our publish command is `publish gitSnapshots publish`? Why does `publish` show up twice?

[2019-02-18 12:47] blitzkr1eg opened #2738 "MonoidK[Endo] is not stack-safe"
This throws java.lang.StackOverflowError
[code]

Maybe use cats.data.AndThen to make it stack-safe.

[2019-02-19 08:40] julien-truffaut commented on #2661
why not use `asRightT` to be similar to `asRight` for `Either` syntax

[2019-02-27 17:07] lolgab commented on #1549
Seeing no interest from Scalacheck maintainer on Scala native artifact publishing, I published it under my groupid.
You can use it: `"com.github.lolgab" %%% "scalacheck" % "0.4.1"`.

[2019-02-27 18:56] #2570 closed

[2019-02-27 23:59] schrepfler commented on #1549
So I guess now all we need is Discipline and Catalyst? Will anyone reach out to the project leads?

[2019-02-28 12:26] lolgab commented on #1549
I'm working on porting Catalyst.

[2019-03-01 03:05] denisrosset commented on #1549
Ohoh, it seems that cats-kernel already works. If algebra is ported (I don't see any obstacle), we'll see which parts of Spire cooperate well!

[2019-03-01 10:36] lolgab commented on #1549
I tried to port Catalyst. It uses a custom sbt plugin with all typelevel libraries versions.. And not all of them crosscompile. The plugin doesn't allow to use different groupids for the same artifact ( org.scalacheck for jvm and js and com.github.lolgab for native).
There is another problem, scalatest 3.1.x is not compatible with scalacheck, but uses its Generators. I ported upickle's scalacheck

[2019-03-01 12:11] schrepfler commented on #1549
We need some help from @kailuowang

[2019-03-01 18:41] kailuowang commented on #1549
@lolgab, thanks so much for spearheading this.
`sbt-catalyst` shouldn't be a problem. It is designed as a library rather than framework, so if there is any usage of it that doesn't support your use case you can just replace it with your own sbt settings. For example, if you want different groupids, you can just delete the specific sbt-catalyst usage and write that dependency setting the common way

[2019-03-01 22:55] lolgab commented on #1549
Rewriting tests for scalatest 3.1.x and use only on scalatest build can be useful in near future when scalatest 3.1.0 goes stable. You only need to move test folder from native to shared to update cats tests :)

[2019-03-01 23:28] kailuowang commented on #1549
Does scalatest 3.1 have cogen?

[2019-03-02 05:09] tkroman opened #2741 "More efficient Alternative#separate via Foldable"
I was looking at the current implementation of `separate` and looks like at least for the list-like `F`s we could benefit from a single-pass implementation (well, not for lists since list's combine is `++`, but for some structures which have more efficient `combine` implementations :)).

Compare current implementation:
[code]

to the one proposed:

[code]

In any case, for foldables this would at

[2019-03-02 11:17] lolgab commented on #1549
It seems to not have them. Then I have to find a workaround to integrate Scalacheck with it. I give a try and let you know.

[2019-03-04 14:04] kailuowang commented on #1549
Thanks!

[2019-03-05 18:41] alexeygorobets commented on #2714
Hey @wojciechUrbanski! Do you mind If I take this from you?

[2019-03-05 19:17] wojciechUrbanski commented on #2714
Hey @alexeygorobets. Sure, go on. Unfortunately i am a little bit occupied right now and cannot continue working on this one.

[2019-03-05 19:29] alexeygorobets commented on #2714
Thank you @wojciechUrbanski !

hi @kailuowang
Am I correct that I need to create a separate trait
`trait AllInstancesBinCompat4 extends SortedMapInstancesBinCompat1 with MapInstancesBinCompat1`
for maintaining binary compatibility?

[2019-03-06 16:54] kailuowang commented on #2714
@alexeygorobets that's correct. Thanks!

[2019-03-08 02:05] johnynek opened #2745 "add Selective"
https://www.staff.ncl.ac.uk/andrey.mokhov/selective-functors.pdf

[code]

Note the paper gives some interesting examples of things that don't have Monad but do have Selective, e.g. Validated.

[2019-03-08 10:05] LukaJCB commented on #2745
I think Selective is super interesting and I can't wait to dive into it more fully.
I also think we could benefit from a more "Scala-like" encoding, as the one in paper is based on `ap` which is hardly used in Scala, due to no auto-currying. I envisioned something like
[code]
modulo the inheritance bit.
I think this signature is equal in power, but doesn't involve any function application and is t

[2019-03-08 11:42] cb372 commented on #2745
I'm planning to take a stab at this today based on @johnynek's formulation. Can't guarantee I will get anywhere with it though.

[2019-03-08 14:53] LukaJCB commented on #2745
Not to discourage you @cb372, but I think it's a good idea to take our time and be patient with this. It's a very new and experimental abstraction, that could probably use some time discussing how to implement it, especially with how it fits in the cats hierarchy :)
Cats is supposed to be super stable, so anything that goes has to be "future-proofed" to some degree. With that said, I really apprec

[2019-03-08 16:14] johnynek commented on #2745
One idea might be to add some of the more interesting selective functions to Validated to see if we think those are useful.

Then consider are there interesting cases we care about beyond Validated.

[2019-03-08 20:10] alexeygorobets commented on #2716
So it is like
[code]

or I am missing something?

[2019-03-09 02:13] johnynek commented on #2716
I think that’s it.

[2019-03-09 13:23] cb372 commented on #2745
@LukaJCB How would you like to proceed with this? We can hold off on doing any more work on that PR, if you want some time to explore other designs. Hopefully the PR is at least useful as a reference/proof of concept even if it doesn't end up getting merged.

/cc @hamishdickson

[2019-03-09 17:08] hamishdickson commented on #2745
@cb372 that definitely sounds sensible, there's definitely a bit of discussion around the implementation that needs to be had - especially around the hierarchy

BTW @LukaJCB we didn't see your reply until we were very deep down the rabbit hole!

[2019-03-09 17:16] johnynek commented on #2745
One way to make the member Applicative more ergonomic would be to add an implicit:
[code]
Which we you can import or possibly be a low priority on Applicative if we can do it in a binary compatible way.

[2019-03-09 20:18] LukaJCB commented on #2745
I very much appreciate the PR, it's really great work!
I don't know if I'll personally have a lot of time to experiment in the near future, but to me, `Selective` seems huge. It's definitely an abstraction I've always wanted, seeing as monads IMO are way too strong and applicatives are too weak. I'm wondering if we've got the ergonomics figured it. I think as is, it might be a little awkward to us

[2019-03-10 04:10] jcouyang opened #2749 "should Kleisli contravariant on A?"
Kleisli[F[_], A, B] is supposed to be abstraction of `A => F[B]`, but `=>` has type of Function1[-A, +B], I can't figure out why Kleisli is invariant on both A and B, is there any benefit that it's design like this?

from what I observed, it will be much easier to let scala compiler find out what A should be

for instance, if I would like to choose from two Kleisli
### contravariant on -A
[code]

[2019-03-11 12:41] hamishdickson commented on #2745
That definitely sounds like a good solution about the separate module @LukaJCB - are you thinking some kind of `experimental` module? or literally just `selective` (I guess a bit like `free`)?

I think I'm missing something here - the laws and some of the combinators in the paper require `pure` - do you think there's a way to not use `pure` here?

It's a great abstraction - I'm really looking forw

[2019-03-12 10:44] sh0hei commented on #2631
Fixed by https://github.com/typelevel/cats/pull/2711 ?

[2019-03-12 13:10] LukaJCB commented on #2745
I think we could express associatvity and distributivity without `pure`, as well as a handful of combinators :)

[2019-03-12 13:17] LukaJCB commented on #2631
Indeed :)

[2019-03-12 13:17] #2631 closed

[2019-03-15 18:57] #2716 closed

[2019-03-18 18:01] psilospore opened #2751 "Add FlatMapRequested on Validated to alleycats like scalaz's Validation for convenience"
Although scalaz's Validation and cat's Validated are not monads. Scalaz provides a convenient import for providing flatmap on Validation to use on for comprehensions.

[code]

In our code base we simply import this right before we want to sequence our Validations. Example

[code]

Although I could use andThen to sequence I miss out on the nice for-comprehension syntax.

[2019-03-18 18:37] psilospore commented on #2751
I would be interested in working on this if it gets a 👍

[2019-03-19 06:28] chuwy commented on #2751
I think if this is going to be implemented it should be in alleycats. I personally prefer `Either` + `Parallel` in most cases to solve this problem.

[2019-03-19 12:58] diesalbla commented on #1723
@LukaJCB Are you still interested in pushing for this?

[2019-03-21 09:58] Baccata commented on #1549
👋 hi there, I'm a heavy cats user writing a library and I'm pondering whether to depend on cats in the core, as cross-compiling to native would be fairly desirable.

Anything I could help with on this ?

[2019-03-21 14:24] LukaJCB commented on #2745
Another thing worth discussing; should the second argument be strict, by-name or use `Eval` one prevalent use case in the paper is use of selective parsers, where laziness can be quite important

[2019-03-22 14:12] LukaJCB commented on #2745
I think we should set up a new repo `cats-selective` that contains the code for this for now, where we can easily create changes, and once we feel it's ready, we'll merge it into `cats-core` :)

[2019-03-24 18:31] LukaJCB commented on #2745
I have thought of a yet another thing we need to consider, what about the `Parallel` type class? Right now it represents going from a `Monad` to an `Applicative`, but I do wonder if it could be from `Selective` to `Applicative` instead 🤔

[2019-03-24 19:33] johnynek commented on #2745
@LukaJCB doesn’t that defeat the purpose of Parallel. We want to go from Either to Validated or IO to IO.Par. Cases like that are the motivation of the typeclass.

Also, in what cases are Selective map2 not what Applicative map2 would want? In IO and Validated map2 is not Parallel of course.

[2019-03-24 20:20] cb372 commented on #2745
I'll try and set up a new `cats-selective` repo in the next few days, based on the code in the PR.

I'm still not sure about @LukaJCB's idea of extending `Apply` instead of `Applicative`. Sure, we could probably work around the lack of `pure` for most of the combinators, but I'm struggling to see the benefit. It feels a bit masochistic.

[2019-03-24 20:26] LukaJCB commented on #2745
@cb372 I'm sorry if I created confusion, I just said I want to split up `Selective` into two classes, one extending `Apply` and another `Applicative`. Similar to how we have `FlatMap` and `Monad` today :)

[2019-03-24 20:37] cb372 commented on #2745
Ah ok that makes more sense 😄

[2019-03-24 21:38] LukaJCB commented on #2745
@johnynek, I guess you're right since there is no `apS = ap` law. Not sure if that means that it never makes sense, but I can't think of a situation right now.

[2019-03-25 11:10] LukaJCB commented on #2745
So what if I want to have a statically analyzable `IO`, it'd be nice to be able to express the difference between what is now `*>` and `&>` or `mapN` and `parMapN`. I could make `mapN` parallel by default for such a data type, but then I have to express any `Applicative` combinator I want to use in sequence with `select`. I think for a type like this, the problem that `Parallel` tries to solve rem

[2019-03-25 20:19] morgen-peschke opened #2757 "Should OptionT.mapFilter be implemented in terms of OptionT.subflatMap"
Is there a use case for having different implementations of `OptionT.mapFilter` and `OptionT.subflatMap`?

There's already a test enforcing the invariant that `mapFilter` should be consistent with `subflatMap`. Given this, should `mapFilter` delegate to `subflatMap`? If not, I'd be happy to add the reason to the scaladocs.

Having two implementations doing the same thing is a bit confusing, partic

[2019-03-25 22:38] cb372 commented on #2745
I've set up https://github.com/cb372/cats-selective (just in time before @LukaJCB explodes with excitement, based on his recent Twitter output)

It's still very bare-bones, pretty much the code that was in the PR, but it should be a good base for experimentation. I'm happy to transfer it to typelevel or leave it where it is.

Currently it's missing a licence. Is there a recommendation here? I see

[2019-03-26 01:40] kailuowang commented on #2757
They came from two different contexts. `mapfilter` is a method in the `FunctorFilter` type class while `subflatmap` is more native to the data type.
I agree that having OptionT.mapFilter be implemented in terms of OptionT.subflatMap would be less confusing.

[2019-03-26 01:43] kailuowang opened #2758 "doctest sbt command no longer fails when individual test fails"
This is quite puzzling to me.
When I run `sbt coreJVM/test` after intentionally breaking a doc test.
I can see
[code]
but the final result is
[code]

One thing I noticed that is the total test `66` seems very low.

[2019-03-26 09:13] snowleopard commented on #2745
@LukaJCB This property does hold for many selective functors, and we call such selective functors "rigid" in the paper. For example, all monads are rigid because `apS = ap` follows from `select = selectM`. You probably know this already but I thought it's worth mentioning just in case.

[2019-03-26 13:41] ceedubs commented on #2758
@kailuowang I can't explain it, but I think that #2734 fixes this issue. See my comment in #2735.

[2019-03-26 13:46] #2738 closed

[2019-03-26 13:51] kailuowang commented on #2758
ah I misread your comment there. thanks for pointing that out. In that case I propose we merge #2734 now just to fix this (it's scary to have failing test passing build)

[2019-03-26 15:47] kailuowang opened #2761 "Upgrade to scalatest 3.1.0"
Scalatest 3.1.0 is yet to be released.
We need to upgrade this to avoid potential compatibility issue with scalacheck 1.14 before we can release 2.0

[2019-03-26 15:51] kailuowang commented on #2758
Confirmed that this is closed by #2734

[2019-03-26 15:51] #2758 closed

[2019-03-26 22:17] LukaJCB commented on #2745
@cb372 I think mirroring Cats' usage of MIT license is probably easiest :)

[2019-03-26 23:59] kailuowang commented on #2745
@cb372 , this is awesome. Do you plan to release it to maven central through sonatype? Another option is to resurrect the idea of a `cats. experiment` module inside the main repo for such small but experimental things. WDYT @LukaJCB

On a side note,  `cats-tagless` license is inherited from Mainecoon but I think we should conform to Cats' MIT license.

[2019-03-27 13:40] cb372 commented on #2745
OK I'll put an MTL licence on it 👍

Sure, I can set up sonatype publishing when necessary. I'll have to change the organisation to my own `com.github.cb372` though.

[2019-03-28 13:39] #2757 closed

[2019-03-28 20:24] drdozer commented on #2649
I hit this today. The cats syntax macros broke my dotty use of the syntax. I think we can simply replace the macros with inline defs. Unless they are doing something very clever. So what's the magic for building two versions of the macros project, one using machinist, and one with manually plumbed inline defs?

[2019-03-29 09:45] wunderk1nd-e opened #2767 "Add CoflatMap instance for Kleisli"
Can't seem to find any that already exist in the codebase and the implementation passes all of the laws.

[2019-03-29 16:41] aaabramov opened #2769 "OptionT[Future]: Execution context"
Is there any reason to require an `ExecutionContext` for `OptionT.pure[Future](10)`?

I completely understand that `Future` instances could not be provided via`cats.instances.FutureInstances#catsStdInstancesForFuture` without implicit `ExecutionContext`.

But current implementation of `OptionT.pure[Future]#apply` is `Future.successful` which does not require an `ExecutionContext`.

[2019-03-29 17:04] kailuowang commented on #2769
logically it shouldn't require that EC but practically our code is design to be agnostic of which `F` you pass in when you do `OptionT.pure[F]` and that requires an `Applicative` instance for `F`, in the case of Future that means an `ExecutionContext` is required.
I am not sure if Cats can/should be changed to accommodate that. You can however write your own helper method that simply does a `def p

[2019-03-29 17:09] LukaJCB commented on #2769
There is no specific type class instance which has only `pure`, so I'm not sure this can be done.

[2019-03-30 09:31] aaabramov commented on #2769
I see, thank you.
Closing this one.

[2019-03-30 09:31] #2769 closed

[2019-04-02 13:43] denisrosca commented on #2678
Do you think this code would fit the required functionality:
[code]

with the following law added to `FoldableLaws.scala`:
[code]

[2019-04-02 15:00] SethTisue commented on #2355
cats is green in 2.13 community build, has been for a while

[2019-04-02 15:00] #2355 closed

[2019-04-02 16:07] johnynek commented on #2678
Yeah I think that should work if my mental evaluator is accurate. :)

[2019-04-02 20:01] ceedubs commented on #2634
FWIW this is still an issue, and tests are still occasionally failing because of this.

[2019-04-05 17:52] #2720 closed

[2019-04-05 19:38] lambdista opened #2774 "Duplicate method in WriterT"
Apparently `liftF` and `valueT`, in `WriterT`, do the same thing. Their signatures would be identical if not for that `F: Applicative[F]` in `liftF` which is useless given its implementation just uses `map` and `Functor` would suffice. Should we deprecate one of them? If yes which name should we keep? Also, in case we decide to keep `liftF` I think we should relax the `Applicative` constraint and

[2019-04-08 10:32] SethTisue opened #2776 "publish for Scala 2.13.0-RC1, please"

[2019-04-08 10:33] SethTisue commented on #2776
blocked by simulacrum at the moment, but there's probably other things too (catalysts?)

[2019-04-08 10:33] SethTisue commented on #2776
note that kind-projector moved from org.spire-math and org.typelevel in their version 0.10.0 release

[2019-04-08 13:06] kailuowang opened #2777 "Remove export-hook"
it's extensively used in alleycats, although there are no longer good reasons for it to remain so after kittens removed support for export-hook.

[2019-04-08 13:08] kailuowang commented on #433
shall we close this one?

[2019-04-08 13:36] milessabin commented on #433
Yup.

[2019-04-08 13:36] #433 closed

[2019-04-08 16:03] julien-truffaut opened #2778 "Add instances for Nothing"
What do you think about adding instances for Nothing like `Eq`, `Ord`, `Semigroup`?

I can submit a PR

[2019-04-08 16:59] kailuowang commented on #2778
Are you proposing adding them to `alleycats` or `cats.core`? I am asking because it seems to me that they have to be lawless instances right?

[2019-04-08 17:11] LukaJCB commented on #2778
Some precedence: https://hackage.haskell.org/package/void-0.6.1/docs/Data-Void.html

[2019-04-08 18:09] SethTisue commented on #2776
simulacrum has now published. not sure what the next blocker is

[2019-04-08 18:30] milessabin commented on #2778
What's the motivation? I'd be worried that those instances would increase the chances of unwanted nothings being inferred.

[2019-04-08 19:24] julien-truffaut commented on #2778
@kailuowang to `cats.core`, I believe they are completely legit since you can't ever produce a value of type`Nothing`.

@milessabin mainly because it is possible and `Nothing` is an important part of type theory. I am aware the compiler treats `Nothing` a bit differently but I can't tell if it would create any issue. I can think of some contrived examples where it could be used:

[code]

[2019-04-09 10:35] jatcwang opened #2779 "Order instance for NonEmptySet"
Since SortedSet has an ordered instance and `NonEmptySet ` is implemented based on that, should we implement an Order instance for `NonEmptySet`?

EDIT: Will put in a PR

[2019-04-09 14:03] kailuowang opened #2781 "unconventional package objects"
we have several package objects that are not really package object since there is no corresponding packages and folders. Also their name is not conventional `package.scala` which throws warning in compiler.
e.g. `kernel/instances/list`, `kernel/instances/tuple` etc.
We can't make them normal objects now since that will break BC. But we should at least address the compiler warning and move those to

[2019-04-10 08:57] SethTisue commented on #2776
I submitted some WIP at https://github.com/typelevel/cats/pull/2783 , not even sure if it's to the right branch, not sure what the plan is around ScalaCheck 1.14.0 being the only ScalaCheck available for 2.13 (for now? not sure if anyone has tried to push for 1.13.x release on 2.13)

[2019-04-10 09:06] SethTisue commented on #2776
catalysts, I think

[2019-04-10 16:35] denisrosca commented on #2781
There are a couple instances in there that are not marked as package objects (e.g. `package objects object eq extends EqInstances`). `finiteDuration` doesn't seem to have an object at all.

Should they be left untouched or would you prefer moving them to package objects for consistency?

[2019-04-10 16:42] kailuowang commented on #2781
Ieally all these objects should reside in a real package object like this
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/instances/package.scala
I suspect that moving the non-package objects from their files into the real package object will not break binary compatibility, so, maybe worth a try and run mima on scala 2.11.12.
We don't need to create an object if it doesn't e

[2019-04-11 02:11] rossabaker commented on #2714
Fixed by #2744.

[2019-04-11 02:11] #2714 closed

[2019-04-11 12:14] #2781 closed

[2019-04-13 14:17] travisbrown opened #2790 "Make instance packages more consistent"
There's currently a lot of inconsistency in the way `cats.instance` and `cats.kernel.instances` are implemented, which can be extremely frustrating, especially for [people trying to work with Cats from Java](https://stackoverflow.com/a/55023418/334519)), or for contributors who want to know where to add something (e.g. me, in the past), or for anyone thinking of pointing to Cats as an example of a

[2019-04-13 17:15] diesalbla commented on #811
@kailuowang It has been three years since this issue was opened. Looking at it for a minute, I can see only two ways forward:

The long way, and maybe right way, is to modify the traits `OrderSyntax` and `PartialOrderSyntax`, so that they no longer inherit from `EqSyntax` or each other. Each one would only provide the specific methods and operators introduced by their respective type-class, and no

[2019-04-13 17:41] kailuowang commented on #811
The fix requires breaking changes. I would vote for closing this issue. @lukajcb what do you think?

[2019-04-13 17:43] tpolecat commented on #811
Agree re: closing

[2019-04-13 17:43] diesalbla commented on #811
Are there any plans for a `cats 2.0` release, at some point, one in which breaking changes such as this one could be added?

[2019-04-13 18:02] kailuowang commented on #2790
:+1: We recently just merged a PR to fix package objects in kernel
https://github.com/typelevel/cats/pull/2785
I didn't know objects within package objects are pain for Java users. Under that light, I agree we should move them all to package objects.
We might be about to make the change without breaking BC in the following way:
Make current objects package private and deprecated. Create new replac

[2019-04-14 00:35] kailuowang commented on #811
The roadmap for 2019 is here https://github.com/typelevel/cats/blob/master/ROADMAP_2019.md
For breaking changes like the fix you suggested we'll have to wait for 3.0, which is likely to be post 2020.  It's not ideal to have inconsistencies, but we have to evaluate the benefit of fixing it against the cost of the breaking change for users.

[2019-04-14 00:36] kailuowang commented on #811
sorry accidentally closed it, I meant to wait on hearing luka.

[2019-04-14 13:10] kailuowang commented on #2449
This has been done.

[2019-04-14 13:10] #2449 closed

[2019-04-14 18:28] dwijnand commented on #2790
The best way I've seen to ensure good ergonomics in Java is by having Java tests (see akka/akka for examples of some duo-testing, maybe even some tidbits).

[2019-04-14 19:39] travisbrown commented on #2790
@dwijnand I'm not advocating putting a lot of effort into supporting usage from Java—this is more just avoiding gratuitously making life for Java users more difficult than it already is by doing stuff in Scala that isn't idiomatic anyway.

[2019-04-14 22:29] dwijnand commented on #2790
Even with the best intentions in mind, I've found the only way to safeguard is by actually writing the Java that uses the API.  You get to (re)experience all those wonderful differences in syntax, in type inference, in user-site vs definition-site variance, in nesting, in access modifiers, etc...  How much to invest in that, however, is up to the maintainers.

[2019-04-15 11:54] LukaJCB commented on #811
I also agree to closing this issue, we can discuss refinement of the roadmap in the appropriate issue :)

[2019-04-15 11:54] #811 closed

[2019-04-16 14:27] lolgab commented on #1549
Discipline depends on specs2 but I think the specs2 side is irrelevant for cats (it has 2 optional dependencies, specs2 or scalatest. How can we work around it? Port specs2 is hard..

[2019-04-16 15:20] kailuowang commented on #1549
@lolgab one way I can think of is to break out discipline's specs2 dependent code into a new module and thus rid of cats dependency on specs2 - maybe in that light, we should do the same with scalatest dependent code as well.
IIRC, it shouldn't take too much time.

[2019-04-16 22:04] mschuwalow commented on #2715
I added both to UnorderedFoldable, but I'm not sure how to do that in a binary compatible way. I'm currently getting these errors in the simulacrum generated Ops and would appreciate any help:
[code]

[2019-04-17 01:53] kailuowang commented on #2777
closed by #2794

[2019-04-17 01:53] #2777 closed

[2019-04-17 10:05] LMnet opened #2795 "Missing collectFirst on Chain and NonEmptyChain"
It would be useful to have `collectFirst` method on `Chain` and `NonEmptyChain`.

[2019-04-17 13:41] DavidGregory084 commented on #2712
This doesn't seem to cause a problem anymore as of #2737

[2019-04-17 13:41] #2712 closed

[2019-04-18 16:24] ShahOdin commented on #2157
`groupByNel` returns a sortedMap and needs an `Order` implementation. Would have been really nice if we also had the above version which doesn't need all that.

[2019-04-19 15:54] kailuowang opened #2800 "Consider remove dependency on scalacheck from cats-laws"
Consider abstract out the dependency on scalacheck from cats-laws with some intermediate type class. Then we can have a new module cats-testkit-scalacheck, which is more justfiable to have different versioning which could be more tied to Scalacheck breaking releases.

[2019-04-19 16:19] travisbrown commented on #2800
I'm a weak :-1: on this, at least off the top of my head, since ScalaCheck has been around a lot longer than Cats, breaks bincompat very rarely and only for good reasons, and has trustworthy / present maintainers. Also my guess is that plumbing `Arbitrary` and `Shrink` instances through this abstraction everywhere will be kind of messy—if someone shows that it can be done nicely I'd be happy to ch

[2019-04-19 16:29] mpilquist commented on #2800
I'm in favor of this so I can use ScalaTest's generators/property testing.
I'd imagine other folks might want to use scalaprops or one of the other
newer property testing libraries.

On Fri, Apr 19, 2019 at 12:19 PM Travis Brown <notifications@github.com>
wrote:

[2019-04-19 16:35] tpolecat commented on #2800
Also in favor, if it doesn't complicate things too much. ScalaCheck isn't really state of the art anymore and it would be nice to open things up if we can.

[2019-04-19 18:13] kailuowang commented on #2800
I added a proof of concept design, any thoughts?

[2019-04-21 06:31] Obarros opened #2802 "The scaladoc for `NonEmptyChain` ( `reduceRight` and `reduceLeft To` method) are duplicate"
This is the correct usage.
https://github.com/typelevel/cats/blob/4b562a85e6c34dadd70d06def24e0f3e8c3f9522/core/src/main/scala/cats/data/NonEmptyChain.scala#L286

This should be using `reduceRightTo` and the result is different if we use `reduceLeftTo` .
https://github.com/typelevel/cats/blob/4b562a85e6c34dadd70d06def24e0f3e8c3f9522/core/src/main/scala/cats/data/NonEmptyChain.scala#L319

[2019-04-22 07:51] LukaJCB commented on #2802
Closed by #2802

[2019-04-22 07:51] #2802 closed

[2019-04-22 08:29] travisbrown commented on #2800
@kailuowang Looks reasonable to me (you'll need to add `Shrink`).

[2019-04-23 22:42] mcanlas opened #2805 "Why does this sample program hang?"
Not sure what the problem is but this code sample hangs under some conditions (documented below).

[code]

[2019-04-23 22:46] tpolecat commented on #2805
Yes, errors in resource acquisition can cause `IOApp` to hang. I reported a similar thing and @SystemFw said it's a known problem in cats-effect that he thought would be fixed soon … Fabio can you comment?

[2019-04-23 23:14] barambani commented on #2805
Please see here for more details https://github.com/typelevel/cats-effect/issues/487. A release of the fix is planned soon as confirmed [here](https://gitter.im/typelevel/cats-effect?at=5cbf25566a84d76ed8e00ce9)

[2019-04-24 00:18] kailuowang commented on #2800
cc @larsrh, any thought?
From my preliminary poc, it seems possible to decouple law testing definition from scalacheck?  I introduced an intermediate type class `Checkable` (strictly speaking a series Checkables with a version for each arity).
Although the more I think about it, the more I think might force too many changes to the community as all laws tests have to be modified to use Checkable ev

[2019-04-24 00:31] SethTisue commented on #2776
#2791 and #2792 are both merged. is there more work to do before publishing levers can be pulled...?

[2019-04-24 01:31] kailuowang commented on #2776
@SethTisue I am waiting on a discipline maintainer releasing a milestone with this PR merged in https://github.com/typelevel/discipline/pull/89

[2019-04-24 03:39] SethTisue commented on #2776
@kailuowang I see, would that be @larsrh ?

[2019-04-24 04:25] mcanlas commented on #2805
Great! Filed in the wrong repo anyway. Closing as dupe.

[2019-04-24 04:25] #2805 closed

[2019-04-24 06:28] larsrh commented on #2776
0.11.2-M1 is on its way to Maven Central

[2019-04-24 06:28] larsrh commented on #2800
@kailuowang I have no opinion on this.

[2019-04-24 17:44] kailuowang commented on #2776
Last PR (i hope)  #2806 before 2.0-M1 release on 2.13-RC1

[2019-04-24 18:24] djspiewak commented on #2776
@kailuowang Are you going to do a cross-build in the 1.x line on 2.13?

[2019-04-24 18:53] kailuowang commented on #2776
@djspiewak we don't plan to release any non-bug-fix releases in the 1.x line. Cats 2.0 is binary compatible with 1.x on `cats-core` and `cats-free`.
The only major changes Cats 2.0 introduces is upgrading to Scalatest 3.1.0 and Scalacheck 1.14.0. (There are a couple of minor breaking changes in cats-laws and alleycats, but they are unlikely to impact use site)
These dependency upgrades are intertw

[2019-04-24 20:13] djspiewak commented on #2776
That's all very reasonable. I was mostly thinking about what I wanted to do with shims.

[2019-04-25 04:10] tpolecat commented on #2800
We do law-checking and I would be fine with mechanical changes. Honestly it's so complicated to get everything set up I can't imagine many people are doing it.

[2019-04-25 09:31] bplommer opened #2809 "MonadErrorOps#reject runs non-rejected effects twice"
Example ammonite script:
[code]

Fixed in https://github.com/typelevel/cats/pull/2810

[2019-04-25 15:22] #2809 closed

[2019-04-26 03:30] softinio commented on #2319
If a decision is made to move to circleci let me know as I would gladly help. Have used circleci last few years exclusively.

Are there any other alternatives being considered?

[2019-04-26 17:03] kubukoz commented on #2685
Can this be closed? :)

[2019-04-26 17:19] kubukoz commented on #1762
This issue hasn't aged well... at this point, I don't think it's that worth following, so does anyone mind if we close it?

[2019-04-26 17:24] kubukoz commented on #2287
Closing, the discussion can be followed on https://github.com/typelevel/cats/issues/2719

[2019-04-26 17:24] #2287 closed

[2019-04-26 17:26] kailuowang commented on #1762
@kubukoz there isn't much interest in this but I'd like to propose that we add it to the FAQ https://github.com/gabro/scalaz2cats and close this?  What do you think?

[2019-04-26 17:27] kubukoz commented on #2343
Probably not worth it (partial unification already mentioned in the readme). Closing.

[2019-04-26 17:27] #2343 closed

[2019-04-26 17:27] kubukoz commented on #1762
Sure, sounds good.

[2019-04-26 17:29] kubukoz commented on #1762
https://github.com/gabro/scalaz2cats/pull/11

[2019-04-26 17:29] #1762 closed

[2019-04-26 17:32] kubukoz commented on #2286
I didn't notice there was `groupByNem` already. Closing :)

[2019-04-26 17:32] #2286 closed

[2019-04-26 18:03] kailuowang commented on #2685
I still like to move this method in the type class in 2.1

[2019-04-26 18:06] kubukoz commented on #2685
On the >2.11 branch, right?

[2019-04-26 18:27] kailuowang commented on #2685
Right, which is master.

[2019-04-26 19:25] DavidGregory084 commented on #2319
I have also heard really good things about Semaphore and BuildKite, although BuildKite requires its own infrastructure (I can highly recommend packet.com for that) and Semaphore's OSS policy seems to have mysteriously become a "Please email us if you are an OSS project" policy

[2019-04-26 19:28] DavidGregory084 commented on #2319
I had a look at this a few days ago and my overwhelming impression was that it's hard to define a build matrix in a nice way in every one of the hosted services other than Travis. It's possible in Circle CI but relies on YAML dictionary operations rather than being a construct in its own right.

[2019-04-26 19:29] DavidGregory084 commented on #2319
Whether that's a problem or not depends on how much faster (if at all) the builds run on those services IMO 😀

[2019-04-26 20:17] kailuowang commented on #2319
Thanks guys. We haven't seriously looked at the any of the alternatives yet. But we probably should soon given the elevated uncertainty in Travis future and it's suboptimal reliability lately. An easier migration from Travis is a nice to have, reason being is we have to switch again, it's slightly more likely to find another service somewhat confirm to the Travis way. How easier to set up a trial

[2019-04-26 21:28] DavidGregory084 commented on #2319
I'd be glad to give a few different services a go and report back @kailuowang?

[2019-04-26 21:47] kailuowang commented on #2319
@DavidGregory084 that would be amazing. Thanks!

[2019-04-28 12:09] mat646 opened #2818 "Additional example for FreeT in docs"
Hi,
I have recently used FreeT and found that docs provide only pretty specific example with State monad.

Would you mind accepting docs PR with additional basic `Future` `Option` example?

After consulting on gitter I ended up with additional transformation for `Option ~> OptionT`, which I am not sure.

[code]

[2019-04-28 13:00] kailuowang commented on #2818
👍 for Option. Mix feelings for `Future`. `Future` is widely used but we should be encouraging people to move away from it. Maybe we should add a FAQ item on this topic?

[2019-04-28 16:48] mat646 commented on #2818
#2819

[2019-04-29 15:58] JLLeitschuh opened #2820 "[SECURITY] Releases are built/executed/released in the context of insecure/untrusted code"
[CWE-829: Inclusion of Functionality from Untrusted Control Sphere](https://cwe.mitre.org/data/definitions/829.html)
[CWE-494: Download of Code Without Integrity Check](https://cwe.mitre.org/data/definitions/494.html)

The build files indicate that this project is resolving dependencies over HTTP instead of HTTPS. Any of these artifacts could have been MITM to maliciously compromise them and infec

[2019-04-29 16:04] JLLeitschuh commented on #2820
Related locations:
- https://github.com/typelevel/sbt-catalysts.g8/blob/a74f48bdd0f5ed150c0881b4646a7d5137c84903/build.sbt#L11

[2019-04-29 23:26] DavidGregory084 commented on #2319
There's something interesting
![image](https://user-images.githubusercontent.com/2992938/56931226-35860800-6ad7-11e9-8ba7-b86a715ab0c7.png)
about testing new CI systems
![image](https://user-images.githubusercontent.com/2992938/56931242-459de780-6ad7-11e9-9a7a-78e5f71cb2b2.png)
that brings out all the weird bugs 😄

[2019-04-30 04:19] non commented on #2820
I don't think we need this anymore, since kind-projector has been on Maven Central for a long time.

(If there's something else I've published to Bintray recently please let me know and I'll publish to Maven Central.)

[2019-04-30 11:37] kailuowang commented on #2820
#2821 removing unused resolver was merged. I didn't get a chance to close this yet.

[2019-04-30 15:20] JLLeitschuh commented on #2820
Hi @non @kailuowang,

What is your plan on the public disclosure aspect?

[2019-04-30 16:48] kailuowang commented on #2820
@JLLeitschuh sorry I missed that part. I verified that post Cats 1.0, we have not downloaded any dependencies through that bintray repository. (actually it probably dates to much earlier, but I haven't got the time to pinpoint which release)
I will file a CVE to disclose that.

[2019-04-30 17:00] DavidGregory084 commented on #2319
Guys, I've opened a few PRs which demonstrate the config required to use different services.

I evaluated CircleCI too but I found that the container memory limit of 4GB was just not enough to run cats builds reliably.

These services do experience intermittent failures with builds, but they all seem to be caused by a single flaky test (ApplicativeTests.monoid.combineAll).

I think we should focus

[2019-04-30 19:11] kailuowang commented on #2319
Thanks, @DavidGregory084 that's a lot of work. I will checkout their configs in your PRs , and take stab at ApplicativeTests.monoid.combineAll.

[2019-04-30 19:57] non commented on #2820
Based on some archeology I did, we stopped using kind-projector 0.6.2 (the version resolved from Bintray) in August 2105: https://github.com/typelevel/cats/commit/8c2333c021

[2019-04-30 20:10] kailuowang commented on #2820
thanks @non. That  means Cats only released 3 unofficial releases that has the possibility of being compromised.  0.0.0, 0.1.0, and 0.1.1, not sure if we need to disclose those.

[2019-05-01 00:24] kailuowang commented on #2820
Just checked the only possibly affected cats releases are `0.1.2` and `0.1.1` released July 17 2015, and they were published under a different group id "org.spire-math" when the cats github repo was still under @non's account IIRC. https://search.maven.org/search?q=g:org.spire-math%20AND%20a:cats_2.10&core=gav
@JLLeitschuh I suggest we close this issue.

[2019-05-01 14:01] JLLeitschuh commented on #2820
Just clarifying, this code was never executed in the context of a release since version 0.1.2? If that's the case, this issue can be closed as fully resolved. Nice work.

[2019-05-01 16:07] #2795 closed

[2019-05-01 21:53] non commented on #2820
@JLLeitschuh that's right. thanks for bringing this to our attention!

[2019-05-01 22:00] djspiewak commented on #2820
Also worth noting that kind-projector only exists within the compile-time dependency set. Thus any hypothetical attack would involve a MITM attack on a cats developer, causing them to resolve a backdoored version of kind-projector which in turn generates backdoored code. This kind of attack is, technically speaking, an order of magnitude harder to execute than a conventional dependency backdoor du

[2019-05-02 04:56] JLLeitschuh commented on #2820
The risk in this kind of attack is mostly related to the following chain of events:
1. Download a compromised JAR
2. Run tests before a release with that compromised JAR's code now executing on your machine
3. Malicious JAR being executed as a part of the tests turns around and backdoors your JAR before being uploaded to Sonatype.

Since it's from 3 years and 10 days ago, and it's only two release

[2019-05-02 13:26] mcanlas commented on #2805
Confirmed fixed in newly available `cats-effect` 1.3.0

[2019-05-02 15:01] kailuowang commented on #2820
Great I am closing this. Thanks @JLLeitschuh for raising the issue. Thank you @non and @djspiewak for investigating.

[2019-05-02 15:01] #2820 closed

[2019-05-03 06:42] hamednourhani commented on #2479
Hi @kailuowang can i start for `Applicatives` ?

[2019-05-03 06:47] hamednourhani commented on #1835
Hi @kailuowang . can i start from here with some guid ?

[2019-05-11 07:34] vladislavGutov commented on #2708
Hi @LukaJCB
Seems like this one was forgotten.
I created PR https://github.com/typelevel/cats/pull/2840. When you have time, could look at it, please?

[2019-05-11 20:12] softinio commented on #2319
@DavidGregory084 Out of curiosity what specific memory related issues did you hit with CircleCI? Where you leveraging any of circle's parallel processing features?

[2019-05-12 16:19] calvinbrown085 commented on #2708
@vladislavGutov Thank you! I haven't had time to look at this unfortunately. I'll close this PR.

[2019-05-17 01:06] kaishh commented on #2553
Why not just:

[code]
?
It's impossible to refer to `T` outside of final object `FunctionK` and spoil this scheme, and in my experience the type inference for this kind of private 'pseudo-type-variables' is quite good.

[2019-05-17 02:25] SethTisue commented on #2776
https://repo1.maven.org/maven2/org/typelevel/cats-core_2.13.0-RC1/2.0.0-M1/

[2019-05-17 02:25] #2776 closed

[2019-05-17 19:55] diesalbla commented on #1361
Given that the types `Xor` and `XorT` were removed from `cats`, this issue is no longer relevant.

[2019-05-17 20:03] #1361 closed

[2019-05-17 20:53] blast-hardcheese opened #2849 "Can Free of monoidal structures be a Monoid?"
I see that there is no generic `Monoid` chainer for `Monad`s. I presume this is because `pure` into any arbitrary `Monad` is not guaranteed to work in a useful way, though I can't immediately see why.

That being said, is there a compelling reason why one of these should not work with `Free`, or is it just a case of no previous need for it?

I was able to write the following, which seems to work:

[2019-05-17 21:09] tpolecat commented on #2849
There is a generic monoid for applicatives that's defined as above but it's not implicit, I assume because it would conflict with things.

[code]

and it will work for your `Free` example.

[code]

[2019-05-17 23:27] djspiewak commented on #2553
You wouldn't be able to do `type T` in that fashion: it's abstract within an `object`. However, you could do something like a `sealed trait`. More precisely:

[code]

This is the Scala version of a trick that Kmett came up with (and if you're curious, tau is indeed the conventional name for the sentinel type). It type infers quite well in most cases and most definitely works, though I think a lot

[2019-05-17 23:32] smarter commented on #2553
You can have abstract types in objects in Scala.

[2019-05-17 23:41] djspiewak commented on #2553
You… can… what?

`/me frantically opens ammonite`

Holy shit.

[2019-05-18 00:27] alexknvl commented on #2553
@kaishh @djspiewak Both of your snippets are unsound. https://scalafiddle.io/sf/W0brrP1/0 That weird `AnyVal` + abstract thing there is to prevent not only referring to the type, but also being able to share the type across multiple invocations.

[code]

[2019-05-18 04:04] blast-hardcheese commented on #2849
Woah, neat.

Any ideas of why that's not implicit?

Alternately, was that something I missed in documentation, or should I have intuited its presence?

[2019-05-18 22:54] kaishh commented on #2553
@alexknvl

Oh, blast it, I use that everywhere!

You can probably omit the type parameter by attaching the disambiguator as a refinement instead. This should retain the exact same inference as plain `T` (although, that may indicate that type parameters will also retain the same inference)
[code]

[2019-05-19 16:34] julien-truffaut opened #2852 "Reduce constraint for foldMapM"
Currently

[code]

but as far as I can see, we can drop the Monad constraint to Applicative

[code]

For `Traverse`, it is easy to see why it is possible:
[code]

for `Foldable`, I still think it is stack safe because it is a `foldLeft` with `map2`

[2019-05-20 23:17] SethTisue opened #2853 "publish for Scala 2.13.0-RC2"
previous go-round was https://github.com/typelevel/cats/issues/2776

[2019-05-21 13:10] kailuowang commented on #2556
I believe this is closed by #2594, feel free to reopen if we have leftovers.

[2019-05-21 13:10] #2556 closed

[2019-05-21 13:46] LukaJCB commented on #2852
Should the same be done to `foldM`? I think stack-safety is the main concern here, I'm not quite sure what guarantees are currently in place (in terms of laws etc.). We'll have to do some more experimenting :)

[2019-05-21 15:16] kailuowang commented on #2708
closed by #2840

[2019-05-21 15:16] #2708 closed

[2019-05-21 20:07] DavidGregory084 commented on #2319
@softinio you can see the config I used [here](https://github.com/DavidGregory084/cats/blob/circleci/.circleci/config.yml). I tried using the cgroup memory limit detection (`-XX:+UnlockExperimentalVMOptions
-XX:+UseCGroupMemoryLimitForHeap`), which didn't work correctly on CircleCI and resulted in the JVM allocating way too much memory. I also tried reducing the JVM memory allocation to 3.5G but I

[2019-05-21 20:12] DavidGregory084 commented on #2319
@softinio it seems like exceeding 4GB of available memory requires using a paid plan; as an open source project we could probably use the `resource_class: large` if we contacted CircleCI support.

[2019-05-22 13:12] kailuowang commented on #2504
We started to do this

[2019-05-22 13:12] #2504 closed

[2019-05-22 16:17] #1930 closed

[2019-05-22 16:18] #1683 closed

[2019-05-23 03:22] eugeniyk commented on #1222
Imo `Seq` is good abstraction from the read side, but when it comes to modifications you either going to reflection dark world or have explicit-implicit factories, so.. _shrug_

[2019-05-23 15:37] kailuowang commented on #2634
FWIW, this error now happens more often on 2.13-RC1

[2019-05-23 17:48] LukaJCB commented on #1222
I think there's no real principled reason to leave out `immutable.Seq`, it has some problems and having  typeclass instances for both a supertype and a subtype in the same hierarchy can be a bit trickty, but we already have precedent on that with `Map` and `SortedMap`.
I'm therefore very neutral on this issue, but if someone wants to put together a PR to provide `immutable.Seq` instances, I'd be i

[2019-05-25 10:11] wojciechUrbanski commented on #2304
Hey @satansk, are You working on that issue? If not, can I take it?

[2019-05-25 18:51] SethTisue commented on #2853
anyone know where we stand with this? what are the next dependencies that need to publish?

[2019-05-25 18:55] rossabaker commented on #2853
I released it about an hour ago. Just waiting on the sync to Maven Central now.

[2019-05-25 18:55] #2853 closed

[2019-05-26 12:51] satansk commented on #2304
@wojciechUrbanski go ahead, it's yours :)

[2019-05-26 23:49] #2638 closed

[2019-05-27 11:38] diesalbla opened #2862 "Cats Microsite: add Github Links"
The [`cats` microsite](https://typelevel.org/cats/) has several pages explaining the data types. It would be useful if each of them could add a link to the page in the Github source code where that data structure is defined.

E,g: [Chain doc](https://typelevel.org/cats/datatypes/chain.html) and [Chain code](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Chain.scala)

[2019-05-30 20:12] SethTisue opened #2864 "publish for Scala 2.13.0-RC3"
previous go-round was https://github.com/typelevel/cats/issues/2853

[RC2->RC3 delta](https://github.com/scala/scala/pulls?q=is%3Aclosed+milestone%3A2.13.0-RC3) is quite small, so, and I don't want to jinx it but, I expect this will be a routine matter of incrementing numbers and pulling levers

kind-projector is at 0.10.2 now, Scala.js is at 0.6.28/1.0.0-M8, scalatest at 3.0.8-RC5 (and @cheeseng

[2019-05-31 14:22] d1skort opened #2867 "Move contains_ from Foldable to UnorderedFoldable"
Hi!

`contains_` defined in `Foldable`, not in `UnorderedFoldable`, so I can't do something like this:

[code]

I'm not sure, but just moving `contains_` from `foldableSyntax` to `unorderedFoldableSyntax` is breaking bin compat.

[2019-05-31 16:22] djspiewak commented on #2864
Blocked on:

- scalatestplus-scalacheck
- discipline
- machinist
- simulacrum

[2019-06-01 11:08] travisbrown commented on #2864
The scalatestplus thing and Discipline are out, and I've got (trivial) update PRs for the other two:

* https://github.com/mpilquist/simulacrum/pull/142
* https://github.com/typelevel/machinist/pull/51

[2019-06-01 13:28] travisbrown opened #2870 "Some Hydra sbt plugin error"
I have no idea what this is about but it's annoying. It's happening on current master on my machine.
[code]

[2019-06-01 15:34] #2864 closed

[2019-06-01 16:48] SethTisue commented on #2864
just to check, I think this was auto-closed by GitHub, is the publishing part still being worked on? no artifacts at https://repo1.maven.org/maven2/org/typelevel/cats-core_2.13.0-RC3/ yet

[2019-06-01 17:27] kailuowang commented on #2870
This is a regression from the Hydra plugin,  it shouldn't throw an exception when the license is missing. It should've carried on to use the regular scalac. cc @dotta

[2019-06-01 18:20] dragos commented on #2870
Very sorry about this. Will cut a release with a fix ASAP (The regression is in 2.1.5, 2.1.4 fine).

[2019-06-01 19:51] dragos commented on #2870
2.1.6 is out with a fix.

[2019-06-02 05:14] #2749 closed

[2019-06-03 11:22] Mullefa opened #2875 "Ordering of ensure / ensureOr arguments in MonadError"
Apologies if this has already been raised; I couldn't find any related Issues / PRs.

I'm just wondering what the reasoning is for the ordering of the arguments of `MonadError#ensure` and `MonadError#ensureOr`.

I think typical usage of them leads to code that reads confusingly e.g.
[code]

Instead, what are peoples' thoughts on something like:
[code]

[2019-06-03 12:32] LukaJCB commented on #2875
Hi @Mullefa thanks for bringing up this issue :)

I agree with the premise of your argument, though I'm not sure these small syntactical improvements are worth breaking backwards compatibility over. We could think about doing this for 3.0, but only with a ScalaFix that would automatically fix the breakage. Willing to discuss more

[2019-06-03 17:12] kailuowang commented on #2875
I agree that sequence is less consistent with how the logic is presented in a English sentence. However it's a convention to place the function parameter of a method/function in last parameter group and the motivation of that convention, I believe, is that it makes it more readable when you pass a relatively long anonymous function as a parameter.

i.e. it's more readable to have
[code]
than
[code

[2019-06-04 03:33] joroKr21 opened #2878 "Hash instances derived from Hash[Long] (e.g. Hash[List[Long]]) do not pass laws"
The failing law is `sameAsUniversalHash`:
[code]

Took me a while to realize this while working on `Hash` derivation over at `kittens`.

To be honest I'm not sure what's the point of that law.
Why would `Hash` exist if it's bound to be the same as `hashCode`?

[2019-06-04 18:00] kailuowang opened #2879 "Update release guideline"
the current release process guideline is outdated.

[2019-06-10 13:15] ctongfei commented on #2878
I'm the author who wrote that law.

The law `sameAsUniversalHash` is supposed to guarantee for common types and case classes, the derived `Hash` instances behave in the same way as `.hashCode` (Not for user-defined `Hash` instance s).

The standard library's `.hashCode` implementation for `List`s can be found at https://github.com/scala/scala/blob/2.12.x/src/library/scala/util/hashing/MurmurHash3.

[2019-06-10 13:27] kailuowang opened #2883 "Publish 2.0.0-RC1 for Scala 2.13.0"
here it comes.

[2019-06-10 19:09] SethTisue commented on #2883
I opened https://github.com/scalatest/scalatestplus-scalacheck/issues/10

[2019-06-10 20:03] joroKr21 commented on #2878
Makes sense to me :+1:

[2019-06-10 20:55] ctongfei commented on #2878
@joroKr21 So for your work in `kittens`, you should just test the `hashCompatibility` property.

[2019-06-11 18:43] #2751 closed

[2019-06-12 13:50] kevinwright commented on #2883
scalatestplus-scalacheck is released...

[2019-06-12 21:45] morgen-peschke opened #2887 "Should factories like Semigroup.instance be provided for other typeclasses?"
While `Semigroup` has [`cats.kernel.Semigroup#instance`](https://github.com/typelevel/cats/blob/774fb51d1365e1adef7fa71f09b1410941264f60/kernel/src/main/scala/cats/kernel/Semigroup.scala#L120), `Monoid` has no equivalent, which could be implemented as:
[code]

Looking at the various typeclasses in `cats.kernel`, there doesn't seem to be a pattern for which ones have factories, and which don't:

|

[2019-06-12 23:50] kailuowang commented on #2887
Thanks for identifying these potential factory methods. I think there are value in them. On the other hand, it raises a question in my head, will such methods gives user the false impression that implementing these instances is as simple as calling these methods? Maybe a more interesting question is how do we make it obvious to users that the instances must obey the laws and there are tests they c

[2019-06-13 15:41] #2879 closed

[2019-06-13 17:39] morgen-peschke commented on #2887
As `cats-laws` depends on `cats-kernel`, rather than the other way around, is it possible to include a link in the scaladoc to the laws it would need to conform to?

For example, would it compile to have a link to `cats.laws.discipline.FunctorTests` in the scaladoc for `cats.Functor`?

[2019-06-14 11:13] gr211 opened #2890 "No parsable content: expected string or bytes-like object"

[2019-06-14 11:43] LukaJCB commented on #2890
Can you expand?

[2019-06-14 13:36] durban opened #2891 "Ambiguous Vector instances"
The implicits `catsKernelStdPartialOrderForVector` and `catsKernelStdHashForVector` ([here](https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/VectorInstances.scala#L11)) are ambiguous if `A` has both `PartialOrder` and `Hash` instances, and we're looking for an `Eq[Vector[A]]`. (`List` seems to have the same problem.)

[2019-06-14 15:11] kailuowang commented on #2891
I am not sure if we can fix it for Scala 2.11 without breaking BC. We might have to leave it as is on 2.11 and do a scala version specific fix for 2.12+. Or we simply drop 2.11 which is more likely now than before.

[2019-06-17 18:06] elefthei opened #2892 "implicitNotFound annotation for Monoid and everything else"
What is the error message when an implicit is not found for a Monoid? I have something like

[code]

Should I file a PR or has this been addressed before? I can do it for everything not just Monoid.

[2019-06-17 18:34] kailuowang commented on #2892
I like the idea. I think a more helpful message might be something like "There is no `Monoid` instance in scope for ${T}, for more detail go to https://typelevel.org/cats/typeclasses/monoid "

[2019-06-17 18:56] elefthei commented on #2892
Does `@typeclass` generate better errors among other things? I am sceptilcal of using both `@implicitNotFound` and `@typeclass` annotations for some classes.

[2019-06-18 01:21] kailuowang opened #2893 "Fix all compiler warnings on Scala 2.13"
Fatal-warning was temporarily disabled on Scala 2.13. Removing them might require breaking changes, hence we'd better do it before 2.0-RC1

[2019-06-18 13:53] poslegm commented on #2893
Should cats 2.0 for Scala 2.13 contains instances for `Stream`? It's deprecated and replaced by `LazyList`.

[2019-06-18 14:06] kailuowang commented on #2893
@poslegm thanks for looking at this. I would say no, cats 2.0 code base should not have any deprecation warnings. Thus we need to move all the `Stream` instances to the scala version specific source folders `/core/src/main/scala-2.12-/cats/`. (and probably need a blank StreamInstances trait) in the 2.13+ folder For the first PR I don't think we have to add the LazyList instance yet, that can be a

[2019-06-19 14:20] kailuowang commented on #2893
@poslegm I realized that we probably still want to keep Stream instances in 2.13 but deprecate them only on 2.13, this will require duplication the code in two scala version specific folders. I think I am going to take stab myself.

[2019-06-20 14:17] LukaJCB commented on #2041
I'd like to move forward with this at some point, I can probably come up with a PR sometime this weekend to get the ball rolling unless there are any immediate objections :)

[2019-06-20 15:35] denisrosset commented on #2041
I need to write something more detailed, but I'm just back from ScalaDays and have 4 conferences/workshops in July... so here is my take.

Fundamentally, the hierarchy in typelevel/algebra is sound. I wish to split further the step `CommutativeRing` -> `Field` by including GCDs and Euclidean division: that's necessary to work with polynomials, and would match the level of detail we have for basic

[2019-06-20 16:00] LukaJCB commented on #2041
I'm not sure there's enough buy-in for a bubbling community panel. I think having the basic algebraic structures available in Cats would be a great first step in reviving interest. They require no macros and complement what's in cats-kernel perfectly IMO.
By basic algebraic structures I propose going with the various lattices and rings not including field.

What you're describing sounds like a ver

[2019-06-20 17:44] kailuowang opened #2903 "On Scala 2.13 replace `NonEmptyStream` with `NonEmptyLazyList`"
`OneAnd`'s `tailRecM` implementation is no longer stack safe on `LazyList`.
It's time to introduce a `NonEmptyLazyList` that is a new type to `LazyList` similar to other `NonEmptyXXXX` (e.g. ~NonEmptyVector~ NonEmptyChain) data types.

Then maybe (definitely in a separate PR) consider deprecate the `OneAnd` data type on 2.13 (need to duplicate the code to both 2.12- folder and 2.13+ folder and mar

[2019-06-21 01:12] kailuowang commented on #2893
Update `Stream` deprecations are resolved by https://github.com/typelevel/cats/pull/2904

[2019-06-21 03:03] kailuowang commented on #2903
I completed the 1st step in #2905. If anyone interested in continue on it please feel free to continue on it.

[2019-06-21 03:08] kailuowang commented on #2892
related https://github.com/typelevel/cats/issues/581

[2019-06-23 13:47] cosmin33 commented on #1812
This is the class called Hoist in scalaz (but with Monad requirement on F). There is also Cohoist with ~the same signature (but asking for Comonad in F). I think Hoist is the class corresponding with abstraction underlying mapk functions from all cats transformers (hence the Monad requirement from scalaz typeclass).
And there is also the higher level version from Greg Pfeil's work:
`
This is the c

[2019-06-24 12:00] LukaJCB commented on #1536
Hey @izeigerman are you still interested in getting included into Cats? I'm sorry no one ever got back to you, but I think this is definitely still on the table :)

[2019-06-24 15:52] djspiewak commented on #1812
Shouldn't this be `FunctorK`, keeping with the cats naming convention?

[2019-06-24 17:25] izeigerman commented on #1536
@LukaJCB, yes, I still am! Will create a PR soon.

[2019-06-24 17:30] LukaJCB commented on #1536
Awesome, thank you!

[2019-06-24 20:17] izeigerman commented on #1536
@LukaJCB Quick question though: I'm having a hard time coming up with laws for `Enum` typeclass. It doesn't appear that it has any. What makes the matter even worse is that similarly to its Haskell's counterpart, `Enum` is expected to return a runtime error under certain condition. Can you suggest the best way to handle this in `cats`?
I was going to place `*Bounded` typeclasses into the `kernel`

[2019-06-24 21:09] LukaJCB commented on #1536
I think we should start with adding `*Bounded` first and then discussing the specifics of `Enum` in the other ticket, #2342. :) If you need any help with setting up the laws and everything, please feel free to reach out in the `cats-dev` gitter channel!

[2019-06-24 23:41] johnynek commented on #2342
I have taken a stab at this before with mixed success:

https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/Successible.scala

Some challenges:
1. what if you are countable, but not bounded? e.g. BigInteger
2. what if you are upper bounded but not lower bounded?

If you have something unbounded, you want `def next(a: A): A`, but if you are bounded, yo

[2019-06-27 04:19] nathaniel-may commented on #2903
I've pulled your changes and I'm going to give it a try. This will be my first attempt at a cats issue 😬.

[2019-06-27 07:15] erwan commented on #581
I just did a PR in Simulacrum (with help from @larsrh) : https://github.com/typelevel/simulacrum/pull/144

[2019-06-27 07:21] larsrh commented on #2892
Closed as duplicate.

[2019-06-27 07:21] #2892 closed

[2019-06-27 10:52] kailuowang commented on #2903
Thanks @nathaniel-may, please don't hesitate to ask questions here or on cats-dev gitter chatroom. Also please merge in master, which has resolved some Scala 2.13 issues.

[2019-06-27 15:08] cosmin33 commented on #1812
There is also the cats-tagless direction of higher-kind traits. Both up their kindness towards different shapes. In comparison, along with their semigroupal class (cats-tagless FunctorK versus functork candidate named Hoist):
[code]
FunctorK may be anyone of the above, depending on the frequency of use or maybe finding better anchoring in cat-theory..

[2019-06-27 15:09] kailuowang opened #2919 "Add guideline for redundant tests"
Laws for type class inherited from a parent type class also includes laws for the parent type class. Thus when testing an instance it's redundant to test laws for both type classes.
The current code base is not consistent in regards to this redundancy. We need to come up with a principle and add to the guideline.

[2019-06-27 16:38] cosmin33 commented on #1812
In my experience, the cats-tagless encoding have proved more useful because the Hoist functor has to be constrained in the M[_] parameter to be truly useful. And in this encoding that is a constraint you cannot put, M[_] parameter being inside the trait.
That is why scalaz chose to constrain it to Monad (and Comonad for the covariant Cohoist) from the start:
[code]
... downgrading it from a Functo

[2019-06-27 17:38] LukaJCB commented on #1812
I think this discussion is super interesting, I wonder if maybe e

[2019-06-27 17:39] LukaJCB commented on #1812
Sorry for the accidental close

[2019-06-28 15:54] mcanlas commented on #2919
Are the tests truly “redundant”? Is the inheritance an inherent part of teach type class or is it an implementation detail?

[2019-06-28 19:51] denisrosset commented on #2041
I'll be busy until August; if you want to merge stuff in cats, I'm all for it -- but I'd love that it stays open for improvement.

Starting August, I'll have time to propose PRs to typelevel/algebra first.

As mentioned, the GCD, Euclidean/truncated division, absolute value stuff in Spire complements nicely what typelevel/algebra provides (not speaking of other type classes, there is a lot of hist

[2019-06-28 19:55] denisrosset commented on #2041
Oh yeah, and the goal is to get to Spire 1.0 by making sure we can maintain the high value stuff: for example, support for polynomials, root isolation is fantastic (@non and @tixxit are wizards). We need to ramp up the code coverage/documentation for these.

[2019-06-30 15:08] smarter commented on #2553
I've now opened a PR for removing machinist: https://github.com/typelevel/cats/pull/2925 and another PR for removing the FunctionK macro using @alexknvl trick: https://github.com/typelevel/cats/pull/2926. For kind-projector see https://github.com/typelevel/kind-projector/issues/108#issuecomment-507041136. The last remaining piece is simulacrum, I have a branch of dotty with a prototype (dotty does

[2019-06-30 16:04] erwan commented on #2862
Is it something that should be done manually on each page or is there a way to leverage the `source` header already present in most page?

(What is this header currently used for by the way?)

[2019-07-01 14:37] #2887 closed

[2019-07-01 14:59] kailuowang commented on #2919
If I understand your question correctly, the inheritance is an inherent part of the each type class.

[2019-07-01 18:07] LukaJCB opened #2927 "Migrate to mdoc"

[2019-07-02 12:28] ShahOdin opened #2928 "Obtaining typeTag of NonEmptySet"
The following:

    import scala.reflect.runtime.universe.typeTag
    implicit val tag = typeTag[NonEmptySet[Int]]

gives me:

Apparently this is some sort of an issue with Scala that's been [known](https://stackoverflow.com/questions/16988558/scala-no-typetag-available-exception-when-using-case-class-to-try-to-get-typet) for some time that "the case classes must be defined top level - they cannot

[2019-07-03 02:29] LukaJCB commented on #2779
Closed by https://github.com/typelevel/cats/pull/2787

[2019-07-03 02:29] #2779 closed

[2019-07-03 02:31] LukaJCB commented on #2561
Closed by #2880

[2019-07-03 02:31] #2561 closed

[2019-07-03 02:33] LukaJCB commented on #2462
Indeed :)

[2019-07-03 02:33] #2462 closed

[2019-07-03 02:42] #2058 closed

[2019-07-03 02:43] #2013 closed

[2019-07-03 02:48] LukaJCB commented on #1362
Closing this as the discussion has sort of moved to #2620

[2019-07-03 02:49] LukaJCB commented on #1381
`MonadCombine` hasn't been around for a while, closing this out :)

[2019-07-03 02:49] #1381 closed

[2019-07-03 02:53] #1316 closed

[2019-07-03 03:01] #1318 closed

[2019-07-03 03:04] #408 closed

[2019-07-03 03:05] #82 closed

[2019-07-03 03:06] #1593 closed

[2019-07-03 03:06] LukaJCB commented on #1536
Closed by #2913

[2019-07-03 03:06] #1536 closed

[2019-07-03 03:09] #1357 closed

[2019-07-03 03:09] #1328 closed

[2019-07-03 03:09] #1339 closed

[2019-07-03 03:10] #1362 closed

[2019-07-03 03:46] johnynek commented on #1316
Note #2279 pretty much solves this. If you have Defer and Applicative you can implement pureEval.

[2019-07-04 15:30] opensorceror commented on #2161
@joan38 It doesn't look like `redeem` is not available on `MonadError`. (It _is_ available, however, on the `cats.effect.IO` type.)

[2019-07-04 16:14] valydia commented on #2927
I can give a go to that one if that's ok

[2019-07-04 17:18] kailuowang commented on #2927
My concern is that mdoc has a curricular dependency on cats through Paige. It has more dependencies which delay adding Scala 2.13 support

[2019-07-05 18:40] davidabrahams opened #2932 "`TryT` Monad transformer for `Try`"
There is an `EitherT`, making it possible to rotate effects which can throw into `F[_]` by using `EitherT[F[_], Throwable, A]`. I think it'd be great if a similar thing existed for `Try`. Currently, this is possible by converting the `Try[A]` into `Either[Throwable, A]` with `try.toEither`. We could support `Try` by doing something like (thanks @LukaJCB for this code in the `cats-mtl` gitter):

[c

[2019-07-05 20:22] davidabrahams commented on #2932
I'm happy to make a PR for this if I can get some +1s :)

[2019-07-06 15:05] valydia commented on #2927
My understanding is that we wouldn't bringing in more dependencies - but switch the way `sbt-microsites` to use `mdoc` instead of `tut` - like that (see the [doc](https://47deg.github.io/sbt-microsites/docs/settings.html)):
[code]
Wouldn't that be ok this way?

[2019-07-06 20:55] joan38 commented on #2161
@opensorceror see https://github.com/typelevel/cats/pull/2237#issuecomment-508542321

[2019-07-06 22:59] kailuowang commented on #2927
Sbt-microsite already has a dependency on mdoc, which is preventing it from supporting Scala 2.13, which is preventing us from generating docs for Scala 2.13 and setting default Scala version to 2.13.

I hope that sbt-microsite makes this dependency on mdoc optional.  Right now the circular dependency is only by an unused dependency but if we migrate to mdoc it will be a closer circle.

[2019-07-06 23:41] ShahOdin opened #2933 "diverging implicit expansion problem with nested"
Here is a simplified version of a problem I am having. The following code:

    implicit class fooOps[F[_], A](foo: F[Either[String, Option[A]]]) {
      import cats.instances.option._
      import cats.instances.either._
      import cats.syntax.nested._
      def bar(implicit functor: Functor[F]): F[Either[String, Option[String]]] =
        foo.nested.nested
          .map(_.toString)

[2019-07-07 12:57] valydia commented on #2927
Fair enough! Thanks for clarifying 👍

[2019-07-08 14:11] djspiewak commented on #2932
Just to play devil's advocate here… What would the semantics of this be? `Try` catches in `map`/`flatMap`, would `TryT` as well? `Try` really isn't that different from `Either[Throwable, ?]`, except that it pretends to be a `Sync` in some ways by catching exceptions, so isn't it *correct* that the only way to use it in higher level abstractions is to go through `Either`?

I understand that `Try` i

[2019-07-09 10:29] ybasket commented on #2933
It works if you create the inner `Nested` first by mapping in `F` and ask for proof that the inner `Nested` type has a `Functor` (you could also require `G : Applicative, H : Applicative` to get this implicitly, but that's a bit stronger than your needs). So in a little more generalised form:

[code]

[2019-07-09 21:13] SethTisue commented on #2347
should this stay open? is any of this still pending?

[2019-07-09 23:06] LukaJCB opened #2936 "Add `attemptOption` to Alternative"
[code]

[2019-07-10 01:04] kailuowang opened #2937 "Remove all bincompat traits"
move methods into corresponding traits

[2019-07-10 01:19] LukaJCB commented on #2937
I think this is a duplicate of https://github.com/typelevel/cats/issues/2415 :)

[2019-07-10 01:20] kailuowang commented on #2937
oops. right.

[2019-07-10 01:20] #2937 closed

[2019-07-10 13:31] ybasket commented on #2936
@LukaJCB What use case(s) do you have in mind for that? Tried to find a good example for a doctest, but I can't come up with something "useful" - in fact, it has rather weird behaviour for some `Alternative` instances, for example `List`:

[code]
So it's pretty much fs2's `noneTerminate` on a `List`. `Option` itself seems also not very handy:
[code]

I would see a use case for `IO` (equivalent to

[2019-07-10 13:39] LukaJCB commented on #2936
If you're using mtl and have `OptionT` somewhere in your stack, this would allow you to materialize the option :)

E.g. something like `ReaderT[OptionT[IO, ?], R, A]`

[2019-07-10 14:24] ybasket commented on #2936
Maybe my head is a bit slow today - still can't figure out how you would use it. `ReaderT[F, _, _]` has an instance of `Alternative` iff `F` has and `OptionT` doesn't seem have any `Alternative` instance (only `MonoidK`). Can you maybe share a short code snippet that illustrates the use case?

[2019-07-10 14:37] LukaJCB commented on #2936
Oh that'd odd, I was sure `OptionT` had an `Alternative` instance 🤔

[2019-07-10 21:04] kailuowang opened #2938 "Proposal for change to Cats 2.0 plan"
@LukaJCB and I would like to propose a new plan for Cats major version release. We think this plan will ease our future evolution pain/anxiety, bring high value features sooner without negative impact on the user side.

Cats is in a similar situation as Scala stdlib as that it's relatively stable now and widely used by the ecosystem and thus must remain binary compatible for extended period. **Sca

[2019-07-11 10:55] kubukoz commented on #2938
I'm mildly 👎 because the whole ecosystem will be blocked for at least a month (I assume it'll take as much to get a release). I'd rather get 2.0 as it is now and start working on 3.0 that'd be released ~6mo from now, with all the breaking changes that were planned for the whole plan. Just my 5 cents.

[2019-07-11 11:09] kailuowang commented on #2938
@kubukoz thanks for your feedback. I thought about this idea but the issue is that once an 2.0 for Scala 2.13 is out it is much harder to break it, you will have to chase to upgrade the whole ecosystem. The much easier way is to sync it with Scala release. And breaking a major release in just 6 months might not be well received.
Another thing is that 2.0 is blocked by a Scalatest anyway (admittedl

[2019-07-11 11:14] erwan commented on #2938
I agree that it's a good opportunity to break compatibility now, when people are upgrading all their libraries for 2.13.

If cats breaks compatibility 6 months from now, people will have already done their big migration for 2.13 and this will be another round of upgrading several libraries at once (all libraries depending on cats). I suspect that many projects ("user" projects, i.e. applications)

[2019-07-11 11:15] erwan commented on #2938
just to be clear, @kailuowang , which of the 3.0 tickets would be candidate to be moved to 2.0?

[2019-07-11 11:29] travisbrown commented on #2938
As you know, I think this is a move in the wrong direction, for several reasons:

1. Extending bincompat guarantees prioritizes the needs of one set of users (commercial adopters with large codebases) over others (new users, new contributors, maintainers), and one set of values (low-cost adoption) over others (innovation, consistency, pedagogical usefulness, elegance).

2. Maintaining consistency

[2019-07-11 12:03] travisbrown commented on #2938
(For what it's worth I also think this proposal combines too many different kinds of things—e.g. I'm like 👎👎👎👎👎 on permanently syncing Cats major releases to Scala versions, but only like 👎👎 on completely separate 2.13 source for 2.0.)

[2019-07-11 14:35] djspiewak commented on #2938
I'm also 👎 on this, for slightly different reasons.

In my experience, breaking upgrades are best ingested one at a time. Nothing makes a breaking change (like a major Scala upgrade) quite as bad as when *everything* has also broken at the same time. What I mean by this is that, for a given version of Cats that is compatible with a given version of Scala, it should be (if at all possible!) the cas

[2019-07-11 14:41] kailuowang commented on #2938
@erwan
We haven't finalized the list yet. Here are some candidats

* Move Binary Incompatible instances and syntax into main traits #2415
* Use an abstract type member for the parallel type of the Parallel type class #2233
* Remove redundant Monad requirement when Parallel is provided  #2180
* newtypes based data type (e.g. MonadTransformers, NonEmptyXXXs)  #1800 (this one can be break into smalle

[2019-07-11 14:50] kailuowang commented on #2938
@travisbrown @djspiewak looks like the plan was not very clear in the detail and there is certainly some big devil there. I am going to spit out all the detail in the top post, which I believe will address most of your concerns.

[2019-07-11 15:11] kailuowang commented on #2938
I am closing this for now to avoid further confusion. Will restart the conversation once I have a clarified version.

[2019-07-11 15:11] #2938 closed

[2019-07-12 13:58] road21 opened #2940 "Cofree.cata is not stack-safe"
This throws java.lang.StackOverflowError (code from tests `CofreeSuite` but with bigger size)
[code]
`Eval.defer` can easily fix this:
[code]

[2019-07-12 17:17] davidabrahams commented on #2932
Ah, I didn't actually know `Try`'s `map` catches as well. I agree that making a transformer would have unclear semantics, and going through `Either` is probably best in this case. Thanks for discussion!

[2019-07-12 17:17] #2932 closed

[2019-07-12 17:46] #2940 closed

[2019-07-15 02:14] erwan commented on #2761
Do we have visibility on scalatest roadmap? Scalatest 3.1.0 is still not released, should this ticket still block cats 2.0?

[2019-07-15 05:46] kailuowang commented on #2761
Due to compatibility with scalacheck on Scala 2.13
, Cats-testkit has to depend on scalatest 3.1.0 . I am on my vacation ATM. I will try find a solution to unblock later this week.

[2019-07-15 19:39] kailuowang commented on #2347
Only one of the 5 was resolved. I will take a look of them later.

[2019-07-16 09:41] vasiliybondarenko commented on #2862
I guess it can be automated using header:
[code]

[2019-07-16 09:42] vasiliybondarenko commented on #2862
Can I create PR?

[2019-07-16 10:39] vasiliybondarenko commented on #2479
@kailuowang can I start with `OptionT`?

[2019-07-16 12:56] LukaJCB commented on #2479
@vasiliybondarenko go right ahead!

[2019-07-16 14:37] LukaJCB opened #2947 "Add bifold to Bifoldable"
Something like this:

[code]

[2019-07-17 02:34] SeanDaru opened #2948 "Scala 2.13.0 became partial unification on by default."
Scala 2.13.0 became partial unification on by default.
So, the following option is not necessary for scala 2.13.0, isn't it?
`scalacOptions += "-Ypartial-unification"`
(from [README.md:Getting Started](https://github.com/typelevel/cats/blob/master/README.md#getting-started) )

----
[Reference]
・[Release Scala 2.13.0 · scala/scala · GitHub](https://github.com/scala/scala/releases/tag/v2.13.0)
 -> L

[2019-07-17 06:07] kailuowang commented on #2948
That's right. A PR to update readme would be great!

[2019-07-17 23:12] schernichkin opened #2950 "ContT.map is not stack-safe"
ContT.map is not stack-safe because AndThan is assembled in wrong order and never get defused. Code to reproduce:
[code]
Current `map` implementation:
[code]
Implementation which does not stack overflow:
[code]
However it stops to fuse once reaching fusionMaxStackDepth. Probably AndThen broken itself.

[2019-07-18 23:44] morgen-peschke opened #2951 "Any way to chain `ApplicativeError`?"
When I need to do validation, I usually use either `Validated` or `Either`, depending if I need fail-fast or aggregating semantics, and this works great for most cases.

There are a couple of common operations that I'd really like to be able to use with both, and I'm almost there with `ApplicativeError`. Unfortunately, chaining is a bit of a problem. Basically, I'd like to be able to go from somet

[2019-07-19 17:43] travisbrown opened #2952 "Unlawful Hash instances for Function0"
I just noticed that `Hash[() => A]` doesn't match `hashCode`, and (possibly worse) it evaluates the function:

[code]
We should decide whether / how to handle this and add something like this to `LawTests` in the kernel-laws tests:
[code]
(I confirmed that it fails now.)

[2019-07-19 19:00] #2952 closed

[2019-07-19 19:48] kailuowang commented on #2952
Any reason why this is closed?

[2019-07-19 20:15] travisbrown commented on #2952
@kailuowang I'm not sure it's unintended / not the right behavior. Will take a closer look tomorrow.

[2019-07-19 20:23] kailuowang commented on #2952
thanks! FWIW, this is the PR that added the code. https://github.com/typelevel/cats/pull/1712

[2019-07-19 20:57] ybasket commented on #2951
Why do you want to use `Validated`/`ApplicativeError` though your computations (`stepN`) are sequential, hence indicating `MonadError`? Let's assume there was some magic way of defining your `extractF`, would you expect any difference in the results (`failingFast` vs `accumulating` - btw I assume you flipped the naming here)?
Because if you run this concrete example of your code:
[code]
we see tha

[2019-07-20 06:50] #2948 closed

[2019-07-20 13:35] schernichkin opened #2955 "Make IO serializable"
Sometimes it's useful to serialize IO action and pass it over wire. Monix and ZIO support that by extending `Serializable` trait, cats-effect - not.

[2019-07-20 13:36] schernichkin commented on #2955
Sorry, wrong project.

[2019-07-20 13:36] #2955 closed

[2019-07-22 16:16] morgen-peschke commented on #2951
Yes I did, thanks for catching that. It'd been corrected. The names were also not as clear as I'd thought when I originally wrote it, so I've tweaked them slightly.

The behavior in your example is exactly what I'd expect from that code, with the tweaked names in the example it'll hopefully be more clear that what I'm shooting for is the `stepN` functions to be primitives that can be used to build

[2019-07-22 18:02] ybasket commented on #2951
I see, but can't say I see a solution as well…just one thought:

You can abstract over the relation between `Either` and `Validated` using `Parallel`. Not sure whether that helps building exactly what you want, but as an inspiration:

[code]

Having both types around could be avoided with the `cats-par` library, so you could just require `MonadError` and `Par`:
[code]

That doesn't allow you to us

[2019-07-24 03:36] nigredo-tori opened #2958 "Add syntax for sequential operations with `Parallel`"
At the moment there are a few combinators leveraging `Parallel` instances, that allow using parallel applicative operations with monadic values  (`parAp` and so on). However, there are none that allow using monadic operation with applicative values. This is a problem in a context where applicative is the default mode of operation.

Consider `Validated`. When we need sequential logic, we have three

[2019-07-24 06:37] jeongwoo-ji opened #2959 "Chain.map seems not optimized"
Current implementation of Chain.map is
[code]
Why it isn't implemented like this?
[code]

I think the problem is:
[code]

[2019-07-24 06:56] taeguk opened #2960 "Why there is no `unapplySeq` in `Chain`?"
I found there is no `unapplySeq` in `Chain`.
So some pattern matchings can't be compiled:
[code]

Fortunately, there is workaround:
[code]
But, it is bothersome.

So, I want to know why there is no `unapplySeq` in `Chain`.

[2019-07-24 09:45] kailuowang commented on #2960
I don't think there is any particular reason other than no one ever got to it until...You!
Wanna try submit a PR? Some sort of uncon unapply would be great too!
[code]
so that you can pattern with `head ==: tail`
`Not sure if `==:` is the best symbol to use here. Ideally it should be something that resemble a chain?

[2019-07-24 09:53] kailuowang commented on #2959
I agree that your optimization makes sense. Would you like to create a PR?

[2019-07-24 17:54] morgen-peschke commented on #2951
Thanks @ybasket .
Performance is a decently important concern, so I think I'll stick with using `Validated` throughout. At least I know I'm not missing anything obvious.

[2019-07-24 17:54] #2951 closed

[2019-07-25 01:40] valenterry opened #2961 "Add `fromUniversalEqualsBy` method to `Eq`"
Sometimes I want to derive an `Eq` instance for a value case class, so I do `Eq.instance[CaseClass](_.value == _.value)`.
It would be nice to write that shorter as in e.g. `Eq.fromUniversalEqualsBy[CaseClass, String](_.value)` (similar to `Eq.by`).

[2019-07-25 06:26] kailuowang commented on #2961
Eq.by should work fine for your use case right? Since cats provides Eq instance for string.

[2019-07-25 06:33] valenterry commented on #2961
You are right, I missed the imports. It might still make sense to have that method, but probably not very often. I'll close it.

[2019-07-25 06:33] #2961 closed

[2019-07-27 12:26] lolgab commented on #1549
@kailuowang I made a PR to discipline to remove specs2 dependency from core:
https://github.com/typelevel/discipline/pull/105
There were only a Test I rewrote in scalacheck (because it is already a dependency of discipline).
https://github.com/typelevel/discipline/pull/105

[2019-07-27 15:33] lolgab commented on #1549
In the meantime I published some artifacts for Scala Native 0.3 and 0.4.0-M2 under my organization:
[code]

[2019-07-27 16:29] kailuowang commented on #1549
thanks @lolgab , let's see if we can get them to add a new active maintainer.

[2019-07-29 08:17] nafg commented on #2761
Here's the "countdown": https://github.com/scalatest/scalatest/issues/1656

[2019-07-29 13:06] alexandru commented on #1316
Thanks @johnynek

[2019-07-31 00:03] julienrf commented on #2761
May I ask what is the reason for that?

[2019-07-31 05:11] kailuowang commented on #2761
@julienrf
The reason is that Scalacheck .  Scalatest 3.0.x doesn't support Scalacheck 1.14 which is the only Scalacheck version that supports Scala 2.13.
I am on vacation right now. But if anyone has the time to strip out the scalatest dependent part from cats testkit out to a separate module and set it to be not published, and upstate the document teaching people how to integrate with scalatest t

[2019-08-01 03:27] nafg commented on #2761
So then how were cats 2.0-M4 and scalatest 3.0.8 built for scala 2.13?

[2019-08-01 03:28] nafg commented on #2761
Also, what's stopping an earlier version of scalacheck from being published for scala 2.13?

[2019-08-02 16:24] kailuowang commented on #2903
closed by #2941

[2019-08-02 16:24] #2903 closed

[2019-08-04 00:51] japgolly opened #2975 "Tight-coupling between Traverse and Foldable is a downstream burden"
Hi! I have many cases where I just need a `Traverse` instance for my data types (very common in recursion-abstraction as it's required for monadic morphisms, `{cata,ana,hylo,etc}M`). In Cats `Traverse` extends `Foldable` which requires me to implement `foldLeft` and `foldRight` even though I have no need of those. If the folds were implemented via traverse and overriding was for specialisation/opt

[2019-08-04 02:08] tpolecat commented on #2975
You can implement toList in terms of traverse with State, so it really does imply Foldable. But I agree it would be nice to have a default implementation instead of assuming you want to write out an optimized version.

[2019-08-04 13:42] LukaJCB commented on #2975
See also #107

[2019-08-07 09:40] SystemFw commented on #2975
:+1: This is quite annoying for simple things like `case class Entity[Id](id: Id, data: String)`

[2019-08-07 13:12] ChristopherDavenport commented on #2975
We could always write a non-performant default but highly encourage overriding.

[2019-08-09 09:07] travisbrown opened #2982 "We need to talk about Stream"
## Problem

The current Cats 2.0.0 release candidate (RC1) assumes that Scala 2.13 users will be able to alias the new `LazyList` to `Stream` (which is deprecated in 2.13.0). For example, the `cats.instances.stream` object doesn't actually provide instances for `Stream` on 2.13:

[code]
But it does provide `LazyList` instances:
[code]
There's also a `lazyList` object that provides exactly the same

[2019-08-09 09:09] travisbrown commented on #2982
(I should note that I'm happy to do all of the work required to make either of these proposals happen.)

[2019-08-09 09:26] travisbrown commented on #2982
Informal poll here: https://twitter.com/travisbrown/status/1159755371768139776

[2019-08-09 09:46] kailuowang commented on #2982
Won't that be circular dependency?
Principally I don't think cats should continue provide instance for deprecated things. If other libs choose to continue depends on that, a separate repo can provide such instances for their users (I myself am one of them).

The naming of stream related stuff in cats is for the sake of cross compiling. I am okay if we remove the `instance.stream` reference in 2.13

[2019-08-09 09:51] travisbrown commented on #2982
Oh, right. Something like that came up briefly in the conversation yesterday but I didn't really think it through.

[2019-08-09 15:52] Daenyth commented on #2982
That's not the only option, perhaps. You could use the `silencer` library to annotate those specific objects and suppress the deprecation warnings.

[2019-08-09 15:55] kailuowang commented on #2982
Well, those instance really should be deprecated.

[2019-08-14 08:23] Fristi opened #2988 "`Semigroup` for `Order`"
[code]

Based on https://hackage.haskell.org/package/base-4.12.0.0/docs/src/GHC.Base.html#line-390

Would make sense?

[2019-08-14 15:53] Fristi commented on #2988
Turns out you can you `Semigroupal` and `contramap`

[code]

[2019-08-14 15:53] #2988 closed

[2019-08-15 11:50] vasiliybondarenko commented on #2960
I've just added PR for this issue

[2019-08-15 14:03] kailuowang opened #2991 "[Vote] How to handle `Stream` -> `LazyList` migration"
Scala deprecated `Stream` and replace it with `LazyList` on 2.13, which means that cross compiling libraries have to decide on a strategy on how to handle this migration.

Please vote by thumb up or down the options listed in the two following comments.

Note that we will weight maintainers/code contributors' vote more because this decision has more impact to them.

[2019-08-15 14:04] kailuowang commented on #2991
Strategy 1:  Conflation with type alias,  i.e. make the references to the two types interchangeable through type alias.
   Cons:
      -  Reusing the same code for `Stream` on 2.12- and `LazyList` on 2.13 is not always sufficient. There are still cases needed for version specific code,  e.g. `Monad` instance.
      -  For users who continue to use `Stream` in 2.13, Cats no longer provides any supp

[2019-08-15 14:05] kailuowang commented on #2991
Strategy 2: all-in version specific - complete the removal of conflation by extending the effort of this PR https://github.com/typelevel/cats/pull/2983)
Cons:
      -  hard-to-discover code duplications in version specific code. Particularly `cats.instances.AllInstance`, `cats.instances.all` which are not obvious for people changing those files.
      - cross compiling users who are using Stream s

[2019-08-15 14:09] kailuowang commented on #2991
pin maintainers and some stakeholders @LukaJCB @djspiewak @rossabaker @tpolecat @fthomas  @johnynek @non @mpilquist @milessabin @ChristopherDavenport @alexandru @SystemFw @larsrh
Please feel free to ignore this if stdlib `Stream` and `LazyList` does not concern you.

[2019-08-15 14:16] travisbrown commented on #2991
As a footnote, there's some additional discussion here: https://github.com/typelevel/cats/issues/2982

It's worth noting that there are popular open source libraries that still use `Stream` in 2.13, so some users may not have a choice on whether or not they want to alias `Stream`.

[2019-08-15 19:07] alexandru commented on #2991
Where is `Stream` used in Cats (except for the instances I guess)?

If it's just a matter of instances, then Cats should provide instances for `Stream` for as long as it's not removed from the standard library. And it should provide instances for `LazyList` starting with 2.13.

[2019-08-15 19:35] travisbrown commented on #2991
@alexandru Agreed on the instances, but there’s also `NonEmptyStream`, etc.

[2019-08-15 21:29] djspiewak commented on #2991
I hate to say it, but I like the second one better. It's more work for us, I think, but it's better for everyone downstream and it ultimately leaves us with more flexibility. Even keeping the instances (but `@deprecated`) actually seems like a pretty decent idea, since people may as well get all the deprecation warnings if they're going to touch `Stream`.

The first one is definitely ideal for any

[2019-08-16 16:50] kailuowang commented on #2991
@djspiewak the main reason I can think of is that using version specific code to deal handle the two types `Stream` `LazyList` with different availability on different scala version cascades to other code that are not closely related to the two two types. So it's a significantly more effort ( and complexity/duplication spilled over to code unrelated to the two types. The Scala stdlib doesn't have

[2019-08-16 18:30] alexandru commented on #2446
As an update, I've published a micro-library for this here:

https://github.com/monix/implicitbox

[2019-08-16 20:22] rossabaker commented on #2991
http4s has that alias to support a private implementation detail.  We could easily rip out the alias, and I don't think we're using the instances anyway.

scalacheck doesn't depend on cats, so though that's a deeper use of the alias, I think it's not one affected by this decision.

[2019-08-16 21:28] kailuowang commented on #2991
I think we have enough votes to go option 2.

[2019-08-17 07:51] travisbrown commented on #2991
I can finish up #2983 Monday morning.

[2019-08-18 05:09] taeguk commented on #2960
This is fixed in #2990

[2019-08-18 05:09] #2960 closed

[2019-08-18 21:35] sorenbug commented on #2195
Any update on this? Scala.JS 1.x has some features I require for a project, and I'd like to be using fs2 for it.

[2019-08-19 21:29] Rich2 opened #2994 "Functor / Monad instance for ArraySeq"
There doesn't seem to be a Functor / Monad instance for ArraySeq, the new immutable covariant wrapper for Arrays in 2.13.

[2019-08-20 02:02] gagandeepkalra commented on #2959
I've just added PR for this issue.

[2019-08-20 04:27] #2959 closed

[2019-08-20 11:55] travisbrown commented on #2991
The pull request is enormous but MiMa and tests are green and it's ready for review: https://github.com/typelevel/cats/pull/2983#issuecomment-522979711 /cc @kailuowang

[2019-08-22 09:23] bblfish commented on #700
Very cool. Reading Bartosz Milewski's [Category Theory for Programmers, Scala edition](https://twitter.com/hmemcpy/status/1160870623943561216) I understood that continuations are essentially what the Yoneda Lemma is about. So I also looked around to get a better grip on how these tie in to practical applications. In a way it's not difficult - there are many examples of CPS in JS, etc... The tricky

[2019-08-22 21:24] japgolly commented on #700
FYI this might be helpful to learning too:
https://github.com/japgolly/scalajs-react/blob/master/core/src/main/scala/japgolly/scalajs/react/AsyncCallback.scala

It's ContT IO specialised for JS (where you read CallbackTo it's
effectively IO). It allows people to write async code in scalajs-react in a
manner similar to how people use Future, and purely.

On Thu, 22 Aug. 2019, 7:23 pm Henry Story, <

[2019-08-23 10:31] travisbrown commented on #2982
Fixed in #2983.

[2019-08-23 10:31] #2982 closed

[2019-08-23 10:31] travisbrown commented on #2991
I think we can close this now that #2983 is merged.

[2019-08-23 10:31] #2991 closed

[2019-08-26 10:32] travisbrown opened #3007 "The kitchen sink import should match the slightly smaller kitchen sink imports"
For example in 2.0.0-RC1:

[code]
…but:
[code]

Working on a PR now.

[2019-08-26 11:10] travisbrown opened #3008 "Decide how public-facing instance traits should be"
Right now we have `AllInstances` and `AllSyntax` traits that are in the public API and are sometimes used outside of Cats itself—for example in Circe we have a `CirceSuite` helper class that extends these traits so that we don't have to import `cats.implicits._` in every test file.

The problem with this kind of usage is that `AllInstances` and `AllSyntax` don't actually include all of anything, e

[2019-08-26 11:44] Krever opened #3009 "Applicative instances for homogeneous tuples"
Hey, I think there are no instances of Functor/Applicative for tuples other than pairs (https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/instances/tuple.scala#L29).

Example:
[code]

There is one significant problem that I see: scalac is not able to infer proper type without explicit type annotation. Do you see any way to fix that? Without it those instances are not very usef

[2019-08-28 17:59] ronanM opened #3016 "Add cats-testkit-scalatest microlibrary for V2.0.0"
Add the microlibrary `cats-testkit-scalatest` for testing with scalatest, containing `StrictCatsEquality`.

See this comment: https://github.com/typelevel/cats/pull/2970#issuecomment-521305922

[2019-08-28 23:15] ChristopherDavenport commented on #3016
I can grab this really quickly if no objections are taken to my template. Example in discipline-specs2 and discipline-scalatest.