[2019-08-29 10:39] ShahOdin opened #3018 "FunctorFilter instance for IO?"
Is there any reason why we don't have the following `FunctorFilter` implementation for `IO`?

[code]

[2019-08-29 13:00] jhnsmth commented on #3016
Maybe it makes sense to combine it with https://github.com/IronCoreLabs/cats-scalatest unfortunately it does not seems well maintained

[2019-08-29 13:07] kailuowang commented on #3016
We can do that later. Right now we need this for 2.0 release

On Thu, Aug 29, 2019, 9:00 AM Alex <notifications@github.com> wrote:

[2019-08-29 13:28] rossabaker commented on #2649
Fixed by #2925.

[2019-08-29 13:28] #2649 closed

[2019-08-29 20:18] mpilquist commented on #2553
There's roughly 50 uses of `@typeclass` in Cats. My advice is to remove them manually as part of Cats 3 development. I could definitely do that faster than writing a scalafix to expand the annotation. :)

[2019-08-29 20:27] ChristopherDavenport commented on #3016
cats-testkit-scalatest 1.0.0-M1 Released! https://github.com/typelevel/cats-testkit-scalatest

[2019-08-29 20:36] djspiewak commented on #3018
Better to ask this question on the https://github.com/typelevel/cats-effect project directly, rather than here. But the short answer is that there isn't an unambiguous zero. You used `new Exception("None")`, but I might have *expected* `new Exception("zero")`, or `new Throwable`, or any number of other things.

[2019-08-29 20:49] #3018 closed

[2019-09-02 23:05] kubukoz opened #3022 "Add `filterNot` to FunctorFilter syntax"
Just a general idea. If it sounds good, I'll implement it :)

[2019-09-03 07:16] julien-truffaut opened #3023 "add unzip to Functor"
what do you think about adding

[code]

potentially we could have optimised version per type

reference https://hackage.haskell.org/package/base-4.12.0.0/docs/Data-List-NonEmpty.html#v:unzip

[2019-09-03 20:19] stephen-lazaro opened #3025 "add uncozip?"
Would there be interest in adding something like this?
[code]

[2019-09-06 06:20] gagandeepkalra commented on #3023
Is it okay if I pick this up?

[2019-09-07 16:09] travisbrown opened #3032 "Parallel instances for EitherT and OptionT aren't in implicit scope"
I noticed this recently and wasn't sure if there was a reason for it: most of the types in `cats.data` have their `Parallel` instances in implicit scope, but the ones for `EitherT` and `OptionT` must be imported.

[code]

I've been thinking about this a little more and I'm pretty sure there's not a good reason for it, except maybe the fact that the `Either` and `Option` instances do legitimately h

[2019-09-07 17:15] kubukoz commented on #3009
I'd say we could use some generated newtypes for homogenous tuples of size up to 22... Then adding instances for these would be okay.

I'd certainly rather avoid having these available implicitly for normal tuples (it'd be unexpected behavior, given that Tuple2's functor maps on the right side and these would map on all fields of the tuple).

The newtyping solution could look like this:

[code]

[2019-09-07 20:52] #3032 closed

[2019-09-08 10:25] travisbrown opened #3036 "Finite duration instances in kernel don't have a package"
Just noticed that there's a `cats.instances.finiteDuration` but no `cats.kernel.instances.finiteDuration`, although the instances are in `cats.kernel.instances.all`.

I hate this, and it's going to bother me, but I don't think I have the energy to try to get it into 2.0.0.

[2019-09-08 11:48] travisbrown opened #3038 "Hash[SortedSet[A]]'s constraint seems too strong"
Right now we have the following:

[code]

I don't think we need `A: Order` here, just `A: Hash` (which implies `A: Eq`).

[2019-09-08 11:52] travisbrown opened #3039 "Hash[Map[K, V]] has unnecessary constraint"
Similar to #3038. Now we have:

[code]
But the `K: Hash` isn't used in the implementation.

[2019-09-08 18:08] kubukoz opened #3040 "Add `ifF` on Functor"
Signature:

[code]

Similar to `ifM` from Monad, but doesn't flatten.

Will be closed by #3058

[2019-09-09 07:50] LPTK commented on #2553
By the way, @alexknvl's encoding is _also_ unsound. The trouble is that you can't just cast random things to a trait, which is not erased on the JVM.

[code]

https://scastie.scala-lang.org/vpn9pRMFQ2CpnbawXaa2RQ

But even if that worked (e.g., using an opaque type), I'm confident we could still crash it by calling `lift#apply` inside of `lift` and mixing things up between the inner and outer invo

[2019-09-09 09:34] joroKr21 commented on #2385
@leusgalvan I found myself needing this very often. I mean one can just pass an `Order.by` explicitly but it's a thorn in my eye. Idk if you're still working on this but how about adding them just to `Foldable` for the time being? Otherwise it would be inconsistent to have `minimumByOption` but no `minimumOption` in `UnorderedFoldable`. We can then have a separate issue for moving those up to `Uno

[2019-09-09 14:49] stremlenye commented on #3040
Shouldn't it go to the `IfFunctorOps` like it was done for `Apply` and `FlatMap`?

[2019-09-09 14:54] kubukoz commented on #3040
I think it could be either of these places. Both in the type class with a default implementation and in the syntax. Probably only in the syntax until we drop 2.11 support though.

[2019-09-09 14:56] stremlenye commented on #3023
Wouldn't the implementation @julien-truffaut proposed invoke computation twice for the effect `F[_]`?

[2019-09-09 14:57] joroKr21 commented on #3040
That reads like "if and only if" :smile:
Should the branches be by-name though?

[2019-09-09 15:07] kubukoz commented on #3040
For laziness, they probably should, yeah.

Good point about the name, but it matches ifA and ifM.

[2019-09-09 16:54] hamednourhani commented on #2479
@kailuowang i checked Applicatives. That was done previously. I will work on EitherT

[2019-09-09 19:16] kubukoz commented on #3023
Also concerned about this. This would probably be fine in Foldable, but for effects it'll require evaluating twice or break referential transparency.

[2019-09-09 19:21] LukaJCB commented on #3023
We could call it `unzipDuplicate` or something to make this clear from the naming. WDYT? :)

[2019-09-09 19:25] kubukoz commented on #3023
I'd probably like it more with a comment than that name tbh 😆 let's see what others think

[2019-09-09 20:18] morgen-peschke commented on #3022
Seems like something that tends to make life easier, is easy to implement, and doesn't really add much (if any) cognitive complexity to `FilterFunctor`, so I like it (for whatever that's worth ;) )

[2019-09-10 00:08] kailuowang commented on #3023
The effect duplication seems pretty obvious in type (2 `F[A]`s out) to me. I agree that if we want to add a note a comment will suffice.

[2019-09-10 07:05] joroKr21 commented on #3023
I don't think there is a way to unzip an effect without running it twice unless we do some memoization, but that's cats-effect territory.

[2019-09-10 07:06] kubukoz commented on #3023
@joroKr21 even in cats-effect memoization without an additional effect breaks RT.

[2019-09-10 07:21] joroKr21 commented on #3023
Yes you would have to return `F(F[A], F[B])` which defeats the purpose.

[2019-09-11 20:41] hamednourhani commented on #2479
@kailuowang i will start `Validated`.

[2019-09-13 07:12] travisbrown opened #3059 "Move Parallel instances into instance packages for the type constructors they characterize"
It seems pretty reasonable to expect the following to work:

[code]
But it doesn't, because the `Parallel` instance for `Either` is in `cats.instances.parallel`, not `cats.instances.either`

After #3033, the only instances in the `parallel` instance package are for `Either`, `Stream`, and the `NonEmptyParallel` instances for `List` and `Vector`. I think all of these should be moved the instance pa

[2019-09-13 12:11] vasiliybondarenko commented on #3039
I'll create PR if nobody minds.

[2019-09-13 12:36] travisbrown commented on #3039
@vasiliybondarenko Sounds good to me, although the problem is that I don't think it's possible to fix it without breaking bincompat, which means the PR will be have to be parked for a long time.

[2019-09-13 13:35] kailuowang commented on #3039
as soon as https://github.com/typelevel/cats/pull/3051 gets merged we can fix this right without breaking BC: deprecate the current one and remove the `implicit` keyword and add a new one without the constraint.

[2019-09-13 13:41] travisbrown commented on #3039
@kailuowang Oh, I guess that's right—the erasure will be different so the names won't collide.

[2019-09-14 05:50] gagandeepkalra commented on #3040
shouldn't ifTrue and ifFalse be by name parameters ?

`def ifF[A](fb: F[Boolean])(ifTrue: => A, ifFalse: => A): F[A] = map(fb)(x => if (x) ifTrue else ifFalse)`

[2019-09-14 06:58] hamednourhani commented on #2479
@kailuowang i checked `Ior` data type. that was interesting and good opportunity to learn. I will start `Ior`.

[2019-09-15 04:31] sorenbug commented on #1549
Artifacts for Scalacheck/Native have been published! https://github.com/typelevel/scalacheck/issues/396#issuecomment-531527015

[2019-09-16 06:04] hamednourhani commented on #2479
@kailuowang i checked the `Chain` data type as it used widely in cats and like to add more doctest to it to learn more.

[2019-09-17 06:15] miklos-martin opened #3068 "Law testing documentation improvement"
Hi,

First of all, thank you all for your amazing work on cats.

I have recently upgraded to 2.0 and I had a semi-hard time figuring out how to make my tests compile again. Previously I have been using `CatsSuite` from `cats-testkit`. If I understand correctly, my tests broke because of 9ef3af09493d01bd8f73fd58c624b9b1733497b.

I had some trouble following the [Laws Testing](https://typelevel.org/

[2019-09-17 07:40] travisbrown opened #3069 "NonEmptyReducible doesn't have a companion object"
This is clearly a bug:
[code]
It's also the case that while the instances for `NonEmptyList`, etc. implement `NonEmptyReducible`, that isn't reflected in their static type. For example:
[code]
I can't think of a good reason for this, and would consider it also a bug, but maybe I'm missing something.

[2019-09-17 09:59] kailuowang commented on #3068
Sorry about the inconveniences, it's an oversight on our part, I did update the doc to point to the new way to use Catsuite, but we didn't publish the website, which I will do shortly. In the meantime, I think it's a good idea to mention dependency needed if you are not using Catsuite: a milestone release of discipline-scalatest in addition to cats-laws. A PR will be great!

[2019-09-17 13:45] LukaJCB commented on #3069
Maybe I'm missing something, but I always thought of `NonEmptyReducible` as a helper to define a `Reducible from `Foldable`, nothing more.
What is its use as a type class, should it really be used that way?

[2019-09-17 13:53] travisbrown commented on #3069
Hmm, I was going on the analogy of `NonEmptyTraverse`, but yeah, I guess it doesn't actually carry additional static guarantees in this case. I can take a shot at making the documentation clearer. Thanks, @LukaJCB.

[2019-09-17 13:53] #3069 closed

[2019-09-17 16:49] joroKr21 commented on #3069
Yes `Reducible` is the non-empty `Foldable`. We don't have a nice name for the corresponding `NonEmptyTraverse`.

[2019-09-19 15:21] miklos-martin commented on #3068
Fixed in #3072, thanks!

[2019-09-19 15:21] #3068 closed

[2019-09-20 09:02] rajit-iov42 commented on #3016
The only library I can find for Cats 2 providing `CatsSuite` is `cats-testkit-scalatest`. But this depends on bleeding edge `ScalaTest` libraries that contain significant breaking changes (e.g. `GeneratorDrivenPropertyChecks` no longer works with `Gen` instances from ScalaCheck). Is this the intention? It'd be great to be able to upgrade to Cats 2 without needing to worry about lots of tests break

[2019-09-21 19:51] barambani commented on #3059
If the work on this hasn't started yet I'd like to give a hand.

[2019-09-21 20:47] travisbrown commented on #3059
@barambani I've not done anything on it, so that sounds good to me! I think it's a pretty reasonable change that could happen in 2.1, but we'll want to make sure there's consensus about that.

[2019-09-21 23:36] barambani commented on #3059
Makes sense, I will wait for another while then, to give time to the discussion. Thanks 👍

[2019-09-23 16:11] LukaJCB opened #3082 "Deprecate the `Parallel` ZipLazyList instance"
`ZipLazyList` and `LazyList` have different behavior for `Applicative#pure` and therefore are not isomorphic in `pure` which is one of the laws of `Parallel`. We currently don't test this, but it would fail if we could, so we should deprecate and remove the instance.

[2019-09-23 17:07] kailuowang commented on #3082
Is this not written in the Parallel laws or is the instance not tested against the law?

[2019-09-23 19:14] LukaJCB commented on #3082
The latter

[2019-09-27 10:22] Twizty commented on #2947
Hi, is it still wanted? I'd like to implement that. I guess the previous attempt is abandoned.

[2019-09-30 15:10] ctongfei commented on #3039
I'm the author of that function.

`Hash[V]` is actually used in the implementation: to hash a map, we need to have the hash code for each `(K, V)` pair, which, in turn, requires an implicit `Hash[V]`.

See the implementation here: https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/MapInstances.scala#L33

[2019-09-30 16:15] #2385 closed

[2019-10-01 11:54] vasiliybondarenko commented on #3039
@ctongfei that's right. But we still don't need `Hash[K]`,  as key uses Scala's `hashCode`

[2019-10-01 11:56] vasiliybondarenko commented on #3040
Could anybody review my solution?

[2019-10-01 15:10] ctongfei commented on #3039
@vasiliybondarenko That is right. Scala's `Map` uses universal hash code, so `Hash[K]` is not needed.

[2019-10-01 15:43] ShahOdin opened #3093 "Why no FlatMap instance for NonEmptySet?"
NonEmptyList has instances for `Apply`, `FlatMap` etc whereas NonEmptySet doesn't have them. Is there any reasons for it?

Currently This is how I do my flatMaps with `NonEmptySet` instances.

    object demo extends App {
      import cats.data._

      import cats.instances.all._

      val foo = NonEmptySet.of(1, 2, 3)
      val bar = NonEmptySet.of(10, 20)

      val x: SortedSet[Int] = for {

[2019-10-02 20:33] DieBauer commented on #2347
Scaladoc and scoverage can be enabled. tut and doctest still have issues. Tut, as mentioned with the deprecation warnings and -Werror flag failing the build.
doctest, for what I can see, unused imports in some snippets.

I'll create a PR for the first two.

[2019-10-05 11:11] #3016 closed

[2019-10-05 11:12] larsrh commented on #3016
@rajit-iov42 There's currently an RC-quality version out. IMHO that should be sufficient for tests.

[2019-10-05 11:22] larsrh commented on #3093
The problem is more fundamental: there isn't even a `Functor` instance on `SortedSet`. The full signature of `map` from the stdlib looks as follows:

[code]

Mapping to a different type `B` requires an `Ordering[B]`, because it may change the structure of the underlying tree. Hence, `map`, `flatMap`, and some other operations too need to know about the target ordering.

Conversely, the `map` funct

[2019-10-09 06:40] DieBauer commented on #2347
I see two things, one is enable the 'full' build in sbt. e.g., all tasks can execute for both supported scala versions. The other is that the CI (travis) should be enabled for both versions.

For travis I can see that cross-compiling scalaJs, and scalaFmt should be enabled. I can create a PR for that.

[2019-10-11 09:25] joroKr21 opened #3108 "Instances for functions beyond Function1"
Instances for functions beyond `Function1` are missing. Theoretically we could define at least `Monad` instances for all FunctionN. `Functor` is especially useful because we can use `map` as  `andThen` which itself is missing from Scala.

I would say that if we want to implement this, then the instances would have to be code-generated.

Another alternative is to add them to `kittens` by utilizing

[2019-10-11 18:15] kailuowang opened #3109 "Enable Binary compatibility tests for scala 2.13"
This includes `binCompatTest` as well as mima tests

[2019-10-13 14:45] Krever opened #3112 "Add sum: (F[A], F[B]) => F[A Either B]"
Hey, I have

[code]
and would like to go from `(X[A], X[B])` to `X[Either[A, B]]`.

So similar to what `<+>` does (e.g. in http4s) but on two different types joined by `Either`. Right now I `map` and use `<+>` afterwards.

Signature proposed by @LukaJCB :

[code]

[2019-10-14 14:37] ShahOdin opened #3113 "Monads for nested"
For a certain catagory of monads, we can have a monad for their composition.

[code]

and

[code]

Being able to compose those class of monads "for free" is quite useful. What do people think about providing this composition for `Nested`? We could of course provide the said requirements on F & G through separate intermediary types and use those instead of `Nested`.

Fyi, This came up in my [attemp

[2019-10-14 14:42] LukaJCB commented on #3113
Related: https://github.com/typelevel/cats/pull/1478

[2019-10-14 14:45] LukaJCB commented on #3113
The problem is that the resulting monads might not actually be lawful and we generally don't want unlawful instances

[2019-10-14 16:31] djspiewak commented on #3113
Not guaranteed to be a lawful `Monad` or even a lawful `Applicative`, and also not guaranteed to be stack-safe (so shouldn't be using the `StackSafeMonad` mixin). Basically the only thing you can really guarantee is that such a composition forms a lawful `Functor`, but this is trivial and thus probably not useful.

[2019-10-14 16:44] ShahOdin commented on #3113
Thanks! ah I see. well that's a shame. :) It doesn't look like the other implementation has been looked at in that PR. I'd be curious to know if the other one would violate the exact same set of laws or another set.

[2019-10-14 17:10] djspiewak commented on #3113
I suspect it would have the same problem.

Ultimately, what this comes down to is the fact that effect sequencing is a fundamentally non-general problem. Some random examples:

- `State`
- `Cont`
- `List`
- `Either`

*Each* of these effects has a different strategy for composing over other effects. Monad transformers as a mechanism allow this to be handled because each transformer is fundamentally

[2019-10-15 10:53] #3113 closed

[2019-10-16 00:28] kailuowang commented on #2319
Update on this:  Semaphore would like to donate Cats 8 bare metal performance agents for cats CI. In my tests, it cuts Cats’ build time by half. I think we should consider migrating to Semaphore, main reason being that  we have so many TL projects on Travis all sharing 6 slow agents, it’s nice to have some more powerful CI resources.

[2019-10-16 18:09] #3093 closed

[2019-10-16 18:10] #3059 closed

[2019-10-16 18:28] #2162 closed

[2019-10-16 18:29] #2870 closed

[2019-10-16 18:30] #2686 closed

[2019-10-16 18:45] #2474 closed

[2019-10-16 18:46] #2360 closed

[2019-10-17 00:43] shomatan opened #3116 "Translate the document into Japanese"
Thanks for the great documentation (https://typelevel.org/cats).
I want to translate it into Japanese.
Do you have information on how to contribute?

[2019-10-17 08:10] vilu opened #3117 "Unexpected behavior of NonEmptyMap"
I noticed that NEM seems to prefer `.find` on Foldable rather on the concrete type when `cats.implicits._` or more concretely `import cats.instances.int._` is in scope. This confused me since I had everything working, I pulled in cats.implicits._ for some other reason and this broke the compile. What is the expected order of preference here?

[code]

scala version 2.13
cats version 2.0.0

[2019-10-17 14:39] kailuowang commented on #3116
That would be fantastic! Thanks the offering.
The documentation are all here, https://github.com/typelevel/cats/tree/master/docs/src/main/tut
I think you  can start by creating a new folder `locale/jp` in there and place translated files there. Later we can find out how to link to them on our website.

[2019-10-17 15:18] GodPlaysChess commented on #3117
should not foldable of NonEmptyMap be foldable over tuple? It would fix this issue

[2019-10-18 19:12] kubukoz commented on #3040
Merged to master in #3058!

[2019-10-18 19:12] #3040 closed

[2019-10-23 08:55] Krever opened #3119 "Add syntax for combineAllOption on Foldable"
There is
[code]
in https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Foldable.scala#L276

so it might be useful to have
[code]
WDYT?
Sounds like a candiate for `good first issue`

[2019-10-23 08:56] Krever commented on #3119
Sorry, duplicate of https://github.com/typelevel/cats/issues/2363

[2019-10-23 08:56] #3119 closed

[2019-10-23 09:09] pk044 commented on #3112
i'd be happy to give it a try :)

[2019-10-24 15:00] kailuowang opened #3121 "A new dedicated Cats ecosystem page(s)"
The cats ecosystem has grown tremendously in the past couple of years.
We should build a page to help people better navigate the ecosystem.
I think we can start with one page with 2 sections:
1. a complete list of ecosystem libraries, we can start with a consolidated list from [here](https://github.com/typelevel/cats/blob/master/README.md#general-purpose-libraries-to-support-pure-functional-progra

[2019-10-26 16:01] BluePat commented on #3109
Is help still wanted?  If it is, I would like to start working on it.
I am a Scala developer, not so experienced with cats. But hey, love the project, one needs to start somewhere.

[2019-10-26 20:02] kailuowang commented on #3109
Yeah, this is mainly a sbt task, thanks a lot!

[2019-10-27 08:08] BluePat commented on #3109
In that case, I'm on it.

[2019-10-30 11:46] travisbrown commented on #2685
For what it's worth it should have been possible to fix the syntax in 2.0 by making the `MonadErrorOps` `adaptError` package private, but I just tried it for 2.1 and ran into a compiler bug: https://github.com/scala/bug/issues/11787

(`private` or `private[MonadErrorOps]` avoid the bug but break bincompat.)

[2019-11-05 09:54] #1263 closed

[2019-11-05 13:32] #3112 closed

[2019-11-06 09:11] travisbrown commented on #2947
This is closed in #3088.

[2019-11-06 09:11] #2947 closed

[2019-11-06 11:12] gagandeepkalra commented on #3023
PR merged, closing this now, thanks everyone :)

[2019-11-06 11:30] #3023 closed

[2019-11-06 15:47] #3039 closed

[2019-11-06 16:23] travisbrown commented on #3117
This seems like a good argument against this newtype encoding (which to be honest I've always hated, so this feels kind of vindicating).

I think the issue is `Foldable` syntax, though, not the `Order` instance for `Int`:

[code]

I think we're stuck with this (at least until Cats 3), since the imported `Foldable` syntax will always outrank the `NonEmptyMapOps` syntax in implicit scope. The best w

[2019-11-06 16:59] travisbrown commented on #3109
Sorry, @BluePat, but I've gone ahead and done this in a PR I'll be opening in a few minutes, since I was afraid we might have let breaking changes slip through on 2.13 (and I was right 😦).

[2019-11-06 18:16] travisbrown commented on #2620
@LukaJCB Do you still want to try to get this into 2.1?

[2019-11-06 20:03] LukaJCB commented on #2620
@travisbrown let me figure out if this is binary compatible (I highly doubt it is)

[2019-11-07 15:05] #3109 closed

[2019-11-09 00:54] BluePat commented on #3109
My fault entirely, was to busy to do it ASAP. Thanks for letting me know.

[2019-11-12 11:24] LukaJCB opened #3140 "Add a Crosswalk typeclass"
Crosswalk allows iterating over a data structure using `Align` to accumulate, similar to how `Traverse` allows iterating over a data structure using `Applicative`. Haskell has this typeclass right here: https://hackage.haskell.org/package/semialign-1/docs/Data-Crosswalk.html

[2019-11-12 11:26] LukaJCB opened #3141 "Add foldA, reduceMapA and reduceA"

[2019-11-12 11:33] LukaJCB commented on #3140
I guess one issue here is that we need a monoidal version of `Align` first.

[2019-11-12 14:16] #2678 closed

[2019-11-13 08:56] travisbrown opened #3143 "Backport 2.1.0 changes for Scala 2.11"
As explained [here](https://www.reddit.com/r/scala/comments/dsf1xr/preparing_for_cats_210_help_wanted/) and in the [Cats 2019 roadmap](https://github.com/typelevel/cats/blob/master/ROADMAP_2019.md), we dropped support for Scala 2.11 on the Cats master branch after the 2.0.0 release, and we're relying on Scala 2.11 users to backport features from master to the `scala_2.11` branch for all future Cat

[2019-11-13 10:42] Twizty commented on #3141
Hi, I'd like to implement it.

[2019-11-13 11:01] LukaJCB commented on #3141
Hi @Twizty, go right ahead! You can have a look at https://github.com/typelevel/cats/pull/3130 for inspiration and do feel free to ask any questions you might have here or on the gitter channel :)

[2019-11-13 12:22] Twizty commented on #3141
@LukaJCB all these 3 methods should have the same signature as their monadic versions, but instead of `Monad[G]` they should have `Applicative[G]`?

[2019-11-13 12:27] LukaJCB commented on #3141
Pretty much, yeah :)

[2019-11-14 20:13] #2161 closed

[2019-11-14 22:04] #2685 closed

[2019-11-17 10:27] gagandeepkalra commented on #3022
Is it okay if I pick this up?

[2019-11-17 12:41] kubukoz commented on #3022
Sure, I don't think anybody is working on it

[2019-11-18 22:37] leigh-perry opened #3161 "Bug? Behaviour of SemigroupK instance for Kleisli"
The test code:
[code]
yields:
[code]
`Kleisli` for `SemigroupK` is implemented in `KleisliSemigroupK`:
[code]
which yields the unexpected (to me) behaviour for `Kleisli[List, A, *]`

I can yield my expected Kleisli composition behaviour, by using an explicit typeclass instance:
[code]

But firstly, is the existing behaviour considered a bug?

[2019-11-26 07:42] travisbrown commented on #2701
The fix in #3105 ended up breaking bincompat (MiMa missed it), so we had to revert it for now.

[2019-11-26 07:42] travisbrown commented on #2891
The fix in #3100 ended up breaking bincompat (MiMa missed it), so we had to revert it for now.

[2019-11-26 19:58] tg44 opened #3177 "EitherT.fromMonadError"
I think #1644 is related.

Basicly something like:
[code]

Or if we have this functionality already maybe it would worth a mention in the EitherT/MonadError documentation.

If others think this is useful, I try to PR it :)

[2019-11-27 04:19] djspiewak commented on #3177
I think this is neat, though I believe it could be more simply implemented with `attempt`. Something like this:

[code]

It's kind of like a mechanism for lifting into a redundant signal channel. I do stuff like this semi-frequently; I'm curious if others do as well.

[2019-11-27 08:37] joroKr21 commented on #3177
It comes up surprisingly often for me as well.

[2019-11-27 08:48] fthomas commented on #3177
It seems this already exists and is called [`attemptT`](https://github.com/typelevel/cats/blob/00ff6fe7107b895d5bb22875803cb8baa0fd0873/core/src/main/scala/cats/ApplicativeError.scala#L74-L78).

[2019-11-27 09:15] tg44 commented on #3177
Nice! So can we add this to the EitherT docs?

[2019-11-27 15:05] dabd opened #3179 "Documentation improvement suggestions"
- The `*` syntax for partially applied types is introduced [here](https://typelevel.org/cats/typeclasses/applicative.html) without referring to the [kind-projector plugin](https://github.com/typelevel/kind-projector#inline-syntax). It would be useful to add an explanatory comment in the code or a footnote linking to the plugin documentation.

- [Alternative](https://typelevel.org/cats/typeclasses/

[2019-12-03 09:23] travisbrown commented on #2553
I now have a branch with cats-core cross-compiling on 2.12, 2.13, and Dotty. I've opened a few PRs to fix code that's broken on Dotty in cases where the changes are at least arguably an improvement (or at worst a lateral move) on Scala 2:

* Add some parentheses: https://github.com/typelevel/cats/pull/3182
* Remove some redundant `final`: https://github.com/typelevel/cats/pull/3183
* Avoid eta-exp

[2019-12-04 15:44] travisbrown opened #3192 "Rethinking type class boilerplate generation"
This issue is a follow-up to #2553 that focuses on the Simulacrum question and gives a concrete proposal for a replacement.

The problem is that [Simulacrum 1](https://github.com/typelevel/simulacrum) is based on [Macro Paradise](https://docs.scala-lang.org/overviews/macros/paradise.html)'s macro annotations, which means it has a couple of disadvantages:

* It doesn't work on Dotty, which doesn't

[2019-12-04 15:57] smarter commented on #3192
If there was no need to cross-compile with Scala 2, and Dotty features could be freely used, would any part of simulacrum still be needed ? If not, maybe the cats typeclasses could be written using Dotty features and somehow Scala 2 code would be generated from that.

So dotty has a `-Ykind-projector` flag for this purpose, but it's not actually implemented yet :) https://github.com/lampepfl/dotty

[2019-12-04 16:16] travisbrown commented on #3192
@smarter

@mpilquist's [Spotted Leopards](https://github.com/typelevel/spotted-leopards) is an experiment in this direction. I'm not personally sold on this encoding of type classes (yet?)—I'd prefer to keep type class operations and syntax methods distinct.

There's also the `apply` summoner methods, etc., but I guess we could do those as a one-time thing.

Presumably we'd still want the

My unde

[2019-12-04 17:01] smarter commented on #3192
I think it's reasonable to extend the scope of Ykind-projector to also support the lambda syntax, it's just a bit more work.

Eventually dotty should have polymorphic SAM which should help, meanwhile I agree that writing out the `new` looks fine too.

[2019-12-04 17:06] travisbrown commented on #3192
@smarter That's great to hear! I don't want to sound impatient, but do you happen to have any sense of the timeline for work on `-Ykind-projector`? (I'd be happy to try to help out.)

[2019-12-04 17:17] smarter commented on #3192
No one is actively working on it, I'd like to do it but probably won't get to it in the short term, so if you or anyone else is interested, please have a look :) Since it's mostly parsing stuff it should be doable without any deep knowledge of dotty internals, and I'm more than happy to help along (I'm always on https://gitter.im/lampepfl/dotty)

[2019-12-04 17:44] smarter commented on #3192
As a first hint, you can get dotty to output the parser AST by running it with `-Xprint:parser`, furthermore you can see the raw AST instead of the pretty-printed trees by adding `-Yplain-printer` (and `Thicket(List())` is the same thing as `EmptyTree`)

[2019-12-06 16:03] nafg commented on #3192
FWIW the problem of generated members is relevant for monocle `@Lenses` too. There's no way to do that as generated sources, and I can't imagine the scalafix approach being very pleasant.

I think we really need to convince the Dotty team that being able to generate synthetic members is a really important feature.

[2019-12-08 16:08] ashleymercer opened #3196 "Implicit resolution fails for newtypes with shapeless `Lazy`"
Several types in cats such as `NonEmptyChain` are defined using the newts / newtypes approach: the advantage of this is that there is zero (runtime) overhead to using these types versus the possibly-empty equivalents; however, it leads to several issues, raised here and elsewhere:

- https://github.com/typelevel/cats/issues/3117
- https://github.com/typelevel/cats/issues/2928
- https://github.com/

[2019-12-09 11:37] #3022 closed

[2019-12-10 14:32] #3177 closed

[2019-12-10 17:47] travisbrown opened #3200 "Optimize or remove reduceMapM?"
We currently have `foldMapA` and `foldMapM` methods with identical semantics (apart from the constraint), because the monadic implementation using `tailRecM` [can be much faster](https://github.com/typelevel/cats/pull/3130#issuecomment-551531519) than the implementation that can only use `Applicative`.

We've recently added a `reduceMapA` with a similarly loosened constraint (see #3141, #3150, and

[2019-12-10 18:05] travisbrown opened #3201 "reduceLeftM doesn't short-circuit"
It seems like it should be possible for `reduceLeftM` to short-circuit, since e.g. `foldLeftM` does:

[code]

This is probably related to #3200, which isn't itself a bug, but if we had a working `reduceLeftM` we could write `reduceMapM` in terms of it.

[2019-12-10 20:01] travisbrown opened #3202 "More binary compatibility breakage"
Compile this with 2.0.0:

[code]

Then run it with 2.1.0-RC1 or RC2, and you get this:

[code]

This is the same basic issue as #3163 but my original MiMa fix didn't catch it. Working on a PR now.

[2019-12-10 21:45] joroKr21 commented on #3108
I actually tried adding them to `kittens` and it's not possible because we can't abstract over `(A1, ... An) => R` as an `F[R]` where `type F[x] = (A1, .... An) => x` unless we add some additional functionality to shapeless itself.

[2019-12-10 21:47] joroKr21 commented on #3108
On the other hand that would add a **lot** of code if we generate all upto `Function22` for all possible typeclass instances.

[2019-12-11 07:55] #3202 closed

[2019-12-11 08:07] nigredo-tori opened #3204 "RFC: Clean up NonEmptyMap interface"
`NonEmptyMap` is a bit annoying to use due to some inconsistencies:
- Although it has a `.keys` method like `Map` does, it doesn't have a corresponding `.values` method. There's something similar possible with `.toNonEmptyList` (from `NonEmptyTraverse`), but that's not very discoverable. I suggest we add `def values: NonEmptyList[A] = this.toNonEmptyList`.
- It has a `.toNel` method that produces

[2019-12-11 08:26] travisbrown commented on #3204
Strong :+1: from me. The `NonEmptyX` APIs are just generally an inconsistent mess and will need a major overhaul for 3.0. I've been avoiding this for the most part until then, but if someone wants to try to do some binary-compatible clean-up sooner I'm all for it.

[2019-12-11 10:09] travisbrown commented on #3192
@nafg You definitely could use generated sources for something like Monocle lenses (or derived type class instances, etc.). I'm experimenting with a couple of approaches for Circe codecs:

* Users write `object User extends UserCirceCodecGen` and the rule generates a `UserCirceCodecGen` trait in managed source and updates it as needed as part of every build.
* The rule generates definitions in the

[2019-12-11 12:07] kailuowang commented on #3204
If we are going to overhaul NEx in 3.0, I would like to bring back my original opinion back when they were organically introduced to cats: cats shouldn't be burdened with a collection library. I propose we consider moving them out in 3.0, keeping one for cats core's own use.

[2019-12-11 12:14] travisbrown commented on #3204
@kailuowang Agreed. There will be some work involved in extricating `Reducible` and some of the other `cata.data` stuff, but I think it'd be worth it.

[2019-12-11 17:47] dwijnand commented on #3202
Could you share what other changes were needed?  I don't see anything more recent in https://github.com/travisbrown/mima/commits/topic/cats-3162-check.

[2019-12-11 18:36] travisbrown commented on #3202
@dwijnand The version in that branch is what caught these—I'd been through a few iterations of filtering out synthetics, etc. before then and I must not have tried the final version on Cats, just on my test cases.

[2019-12-12 07:12] rwiskerke opened #3206 "Dead link in documentation to waffle.io"
In both the README.md and CONTRIBUTING.md waffle.io is mentioned as a way to find out who's working on what, but the link (and waffle.io in general) is dead.

[2019-12-13 14:10] travisbrown commented on #3192
@smarter I'm looking at `-Ykind-projector` implementation now and have a basic implementation working for `*`. What would be the best place to discuss the scope of the option (e.g. whether it should support `-*`, ``λ[`-α` => ...]``, etc.)?

[2019-12-13 14:41] smarter commented on #3192
@travisbrown I think it depends on how much complexity it brings, I asked Martin and he's OK with lambda syntax stuff like ``λ[`-α` => ...]`` so I suggest doing the minimum needed for cats.

[2019-12-13 14:42] smarter commented on #3192
(this could be discussed further on https://github.com/lampepfl/dotty/issues/7139)

[2019-12-17 18:23] kailuowang commented on #3206
Thanks for reporting. A PR to remove these links, from anyone, would be great.

[2019-12-18 15:32] travisbrown commented on #3141
Done in #3150 and some follow-ups.

[2019-12-18 15:32] #3141 closed

[2019-12-19 19:29] kubukoz opened #3220 "Add `Invariant[Numeric]`"
Here's a ready instance one can use:

[code]

Feel free to grab it if you have time before I do.

[2019-12-21 12:48] kubukoz commented on #3220
I'll do it now!

[2019-12-21 13:42] #2725 closed

[2019-12-21 23:39] #1572 closed

[2019-12-22 14:23] samthebest commented on #1192
I'm still stuck on 2.11 because I use EMR & Spark.

How do I get `Xor` now?

If your going to remove something, would be nice to document how to get it back somewhere.  This is ungooglable!

[2019-12-22 14:28] LukaJCB commented on #1192
@samthebest you can't get it back, unless you use 0.8.0, however, you can use `Either` with 2.11 and cats 2.0.0, because we have implicit enrichment of it, which makes it just as fully featured as on 2.12. As for documentation, we're all just a bunch of unpaid volunteers, if you want to add something to the docs, please consider creating a PR :)

[2019-12-24 19:11] diesalbla commented on #1727
Given that the use of Macros in Scala may be on the way out, it seems this won't be going forward.

[2019-12-24 19:11] #1727 closed

[2019-12-28 18:57] #2283 closed

[2019-12-28 18:58] #2289 closed

[2019-12-28 19:01] #2673 closed

[2019-12-29 04:28] kevinmeredith commented on #3201
FYI (to those following the issue out of curiosity like me), I had to supply type parameters for `s.foldLeft...` to compile:

[code]

[2019-12-29 09:44] travisbrown commented on #3201
@kevinmeredith You definitely _can_ provide the type parameters to resolve that issue, but you're far better off enabling `-Ypartial-unification` (or migrating to 2.13, where it's on by default), since this is something you'll run into all the time when working with Cats. See the [Getting Started](https://github.com/typelevel/cats#getting-started) section of the docs for more detail about the fix,

[2019-12-29 16:30] kubukoz commented on #1549
We should get back to this! It would be lovely to have cats & cats-effect published for Native, esp. for things like [decline](https://github.com/bkirwi/decline) and CLI tools written with it.

[2019-12-29 17:04] sorenbug commented on #1549
We're kind of blocked by Scala Native itself now, with it not supporting 2.12 nor 2.13 yet. It also hasn't seen a commit to `master` in about half a year.

We'll have to wait for 0.4.0-M3 _at least_ of SN, and then start the process of getting dependencies published again.

I don't remember if Threads are planned to be available in 0.4.0 or not. Would that be a blocker to CE or would it just hook

[2019-12-29 17:47] johnynek commented on #1549
I just want to mention, graal native image works great with cats and decline and I use it to make instantly starting and fast native builds of scala code. I’d recommend it to anyone.

[2019-12-29 17:52] rtar commented on #1549
Scala Native is a different and very interesting beast. I.e. it allows you to just go and use any C library with no or close to no boilerplate.

I ended up doing Scala Native apps whenever I need to use C library because it is... easier and more convenient than setting up Makefile etc. 😆

[2019-12-30 11:32] rtar commented on #1549
I think if it works for Scala.js where only one thread is available, it may, just as well, work for Scala Native.

[2019-12-30 18:42] sorenbug commented on #1549
Scala.js uses an event loop, so it would work for Scala Native under libuv. The thing is that libuv really defeats the point of going fast when you're bound to one thread with it.

[2019-12-31 15:35] rtar commented on #1549
I think it would be a temporary issue. And, as soon as multiple threads are implemented natively, the one would be able to get a free speed-up.

I think the secret weapon of Scala Native is awesome interoperability with existing C libraries and very little dependencies / bloat, which becomes very important in Kubernetes dominated world.

[2020-01-03 19:57] lolgab commented on #1549
Completely agree @rtar!

[2020-01-06 18:43] djspiewak opened #3240 "FreeT violates the monad laws"
[code]

The only reason we don't see this on a regular basis is the *order* in which the traits are composed together within `Kleisli`. For example:

[code]

This means we get `Applicative`'s `map` rather than `Monad`'s, which avoids the bug.

I *believe* this is being caused by the fact that `flatMap` is `shift`ed but `map` is not:

[code]

[2020-01-06 20:56] djspiewak commented on #3240
Update: I got Kleisli out of the picture. It's `FreeT`'s fault:

[code]

[2020-01-06 21:56] djspiewak commented on #3240
Actually minimized:

[code]

That test fails. The `runM` produces `None`.

[2020-01-09 17:05] travisbrown opened #3247 "Fix Scala.js Future tests"
Right now the Scala.js `FutureTests` use the `runNow` execution context, which was deprecated in Scala.js 0.6 and removed in 1.0. In #3246 I replace `runNow` with an equivalent implementation, since I want to unblock 1.0 compatibility, but this isn't a real solution (see e.g. [this issue](https://github.com/scala-js/scala-js/issues/2102) for discussion).

[2020-01-13 16:52] lavrov opened #3252 "Sponsor button is broken"
- pop-up says that there are errors when parsing `FUNDING.yml`
- external link leads to Donorbox https://donorbox.org/typelevel-sustainability-program-2019?default_interval=m

[2020-01-13 17:37] kailuowang commented on #3252
Thanks for raising it. Just fixed it.

[2020-01-13 17:37] #3252 closed

[2020-01-13 18:58] #3240 closed

[2020-01-18 02:15] #3206 closed

[2020-01-20 14:48] travisbrown opened #3262 "Use imports for instances and syntax in tests"
Over the weekend I hit a [Dotty bug](https://github.com/lampepfl/dotty/issues/8033) while trying to run the Cats tests on Dotty, and while the workaround is pretty trivial, it highlighted the fact that our tests aren't really exercising normal usage, since the instances and syntax come from traits that are mixed into `CatsSuite` (rather than imported from the usual objects).

This feels like overe

[2020-01-21 04:11] rossabaker commented on #3262
I think I'm responsible for this in the early days, and I agree with you now.

[2020-01-24 15:54] keiSunagawa commented on #3161
Kleisli is like Monad Transformer.
Monad Transformer has type signature `M[F[_], A]`.  e.g.  OptionT, EitherT, StateT
Those Monad Transformers  TypeClass instance has inner type F instance. and uses.
from this, I think that right Kleisli behaviour.

[2020-01-27 04:11] djspiewak opened #3270 "Add listen to IndexedReaderWriterStateT"
Implementation:

[code]

[2020-01-27 04:11] djspiewak opened #3271 "Add ContT.liftF"
Implementation:

[code]

[2020-01-27 06:02] LukaJCB commented on #3270
I think this is a duplicate of #2304

[2020-01-27 06:02] #3270 closed

[2020-01-28 03:20] strong-zero commented on #3161
Faced to a similar problem recently. It turned out we have to use `endoSemigroupK` explicitly:

[code]

It seems unclear to me this is ideal. But at least it is intentional: https://github.com/typelevel/cats/pull/1098

[2020-01-29 13:34] MarkusA380 opened #3275 "Incorrect behaviour of EitherT in for-comprehension"
Here's a [minimal code example](https://scalafiddle.io/sf/rVtGyhP/0):

[code]

Compilation leads to this error message (here in ScalaFiddle):

[code]

This seems to be incorrect behaviour as it is closely comparable to the [documentation](https://typelevel.org/cats/datatypes/eithert.html#eithert-1).

[2020-01-29 14:05] #2994 closed

[2020-01-29 18:47] #3271 closed

[2020-01-29 22:22] djspiewak commented on #3275
Unfortunately, `EitherT` is not covariant in its `A` or `B` parameters, meaning that the type of the expression to the right of `newResult` (which is `EitherT[Future, Nothing, B]`) is actually incompatible with the type of `value2` (which is `EitherT[Future, A, B]`). The documentation avoids this problem by having fully defined types in each case, while you're asking the compiler to do some extra

[2020-01-29 23:43] barambani commented on #2304
Happy to add it if no one is doing it.

[2020-02-01 11:02] scf37 opened #3280 "Add MVar.modify?"
Similar to Ref.modify, but using pessimistic lock.

It is very useful to guard shared state where state modification is effectful.

[code]

[2020-02-01 12:13] kailuowang commented on #3280
You might want to submit it to the cats-effect instead

[2020-02-01 12:14] scf37 commented on #3280
Opps, wrong repo indeed

[2020-02-01 12:14] #3280 closed

[2020-02-02 16:38] barambani commented on #2304
This can be closed now. Thanks.

[2020-02-02 16:39] #2304 closed

[2020-02-05 01:42] mrParabol opened #3286 "how do i read documents offline?"
how do i read documents offline?help me, please.

[2020-02-05 02:02] LukaJCB commented on #3286
What do you mean by documents? The cats documentation?

[2020-02-05 13:48] mrParabol commented on #3286
yes, please cats's documention.

[2020-02-12 09:23] #3275 closed

[2020-02-13 07:36] nigredo-tori opened #3293 "Generate Show instances for Tuple3 and higher"
Apparently, we have a hand-written `Show` instance for `Tuple2`, but no generation for other tuple types. This is surprising, since there are a lot of instances for more obscure type classes like `Band`.

[2020-02-15 19:42] barambani commented on #3293
I can look into this and try to have a Show for all n-tuples using the boilerplate generator if that's ok

[2020-02-16 14:50] diesalbla commented on #293
@ceedubs @tpolecat

Doing some issue archeology. Considering that the `F`-convention has scaped to other libraries (such as `cats-effect` or `http4s`), and that there is even a compiler plugin for generating that `F` name... Is this something you stil are interested to push?

[2020-02-16 15:03] ryan-richt commented on #1222
Just adding that this (only having instances for List and Vector for for instance, `NonEmptyParallel`) bit us today, and thanks to stack overflow found this thread. Maybe the instances could go in alleycats if there is dispute on purity, so users could invite those implicits in knowingly?

[2020-02-16 17:56] rossabaker commented on #293
We've spent 5 years building learning materials and precedent around this convention, which I think only raises the bar to a change that didn't gather critical mass 5 years ago.  I like questioning our old decisions, but I think at this point, a change here is as likely to confuse as to assist.

[2020-02-18 07:22] #293 closed

[2020-02-20 01:43] joan38 commented on #1222
Just got bitten again with a `Show[Seq[String]]`.
What's the status on this? Can't we at least add instances for `immutable.Seq`?
It's becoming a show stopper for beginners and I'm questioning if we should reduce our use of cats because even if I'm able to deal with this issue new comers to our codebase and Scala are starting to think Scala is a pain to use.

[2020-02-21 17:10] #2220 closed

[2020-02-22 01:00] Jorgeptz commented on #1125
Duplicado de #

[2020-02-22 09:15] larsrh opened #3313 "Possibly corrupted sjs 1 artifact"
See typelevel/paiges#243.

My suspicion is that a new Scala.js version requires a clean build, which may not have happened.

Mitigation is probably a 2.1.1 release, because Sonatype won't let you change released artifacts.

[2020-02-22 10:03] larsrh commented on #3313
Same issue here typelevel/cats-testkit-scalatest#48.

[2020-02-23 12:07] larsrh commented on #3313
And another one typelevel/cats-effect#796

[2020-02-23 16:36] #149 closed

[2020-02-23 17:21] jenshalm commented on #3313
I would omit the word "Possibly" in the description. :-)

I just ran into this myself and out of curiosity I browsed the sjsir files in the cats-core_sjs1 jar.
Somehow `/cats/syntax/package$hash$.sjsir` contains the version string 0.6.29 whereas most other files contain 1.0.

A 2.1.1 release would be great. I'm currently blocked on releasing Laika with Scala.js support, and I'm probably not the on

[2020-02-24 15:28] travisbrown commented on #3313
Oh, ouch, I ran this release and this is probably my fault. The tests were definitely passing. Has anyone tried publishing Cats locally for Scala.js 1.0.0 and using in these projects to make sure it's just an issue with the release?

[2020-02-24 15:30] travisbrown commented on #3313
I'd really like to get a Cats 2.2.0-M1 published this week and my inclination would be to wait for that, since then on the off-chance that there are ongoing issues we can iterate more quickly without forcing the 97% of Cats users who don't care about Scala.js to bump patch versions.

[2020-02-24 15:34] travisbrown commented on #3313
Also a lot of the ecosystem is still blocked on Shapeless, so while it would be nice to have working artifacts out there for Scala.js 1.0, I personally don't think it's worth triggering thousands of updates for JVM-only users by publishing 2.1.1 yet.

[2020-02-24 16:36] larsrh commented on #3313
You make a good point, although I don't think the cost of a patch release is high. Contrastingly, the cost of all the broken scala-steward PRs is quite high.

[2020-02-24 16:48] travisbrown commented on #3313
Okay, let me make sure I can publish a working Scala.js 1.0.0 release and I'll get 2.1.1 lined up.

[2020-02-24 17:07] travisbrown opened #3317 "CommutativeGroup for BigDecimal isn't actually commutative"
…but only since you can observe the `MathContext` it carries along with it:

[code]

This isn't cool, but I'm also not sure it's a major emergency, or even that it needs to be fixed, for a few reasons:

* The current behavior is the same as the standard library's and will be expected by many users. Changing it to enforce commutativity is likely to break at least some users' expectations.
* Java's

[2020-02-24 18:01] jenshalm commented on #3313
I just tested a local publish with current master and I progressed from the error about invalid sjsir files to linkage errors (which are pretty certain on my side as I am just about to add Scala.js support for the first time, so I expected some issues anyway)

[2020-02-24 18:20] travisbrown commented on #3313
What do you think about skipping 2.1.1 and doing a quick turn-around 2.2.0 this week? We can merge #3279 and #3316 pretty easily, publish a 2.2.0-RC1 tomorrow, and then do 2.2.0 on Thursday or Friday, both with Scala.js 0.6 and 1.0 support.

[2020-02-24 18:23] smarter commented on #3313
FWIW as it might affect your planning, Scala.js 1.0 will be officially announced tomorrow.

[2020-02-24 18:33] jenshalm commented on #3313
I think if it's just a delay for this week it might be perfectly reasonable (at least from my side). I would have expected the 2.2 cycle would have been longer and that probably would have been an issue for some.

But I have no idea how much noise the broken release might create for you in the meantime. :-) You might want to at least add a note to your Scala Contributors announcement in that case,

[2020-02-24 18:35] travisbrown commented on #3313
@jenshalm We haven't publicized the Scala.js 1.0.0 artifacts anywhere except for [this list](https://contributors.scala-lang.org/t/this-is-not-the-release-announcement-of-scala-js-1-0-0/4021/21?u=travisbrown), and I've flagged this issue there.

[2020-02-24 18:38] jenshalm commented on #3313
Ah, sorry, didn't see your comment yet (I am following via email notifications).
Sounds all good to me then.

[2020-02-24 20:19] travisbrown commented on #3313
Just staged a completely fresh release and added the staging resolver to Paiges and cats-testkit-scalatest and both are passing tests (`+js/checkCI` and `+coreJS/test` respectively), so I think we're okay to go when we decide what version we want to release.

[2020-02-24 20:32] travisbrown commented on #3313
/cc @kailuowang @djspiewak @LukaJCB @larsrh @fthomas @tpolecat @mpilquist

I seem to have messed up the Cats 2.1.0 release for Scala.js 1.0.0 last week (see the issue above for details; I think I didn't do a full clean before publishing). I've confirmed that I can publish it in such a way that it works now. The Scala.js 1.0.0 release announcement is tomorrow, and it'd be nice if we had a working C

[2020-02-24 20:35] larsrh commented on #3313
All things considered I'm in favour of 2.1.1.

[2020-02-24 20:49] tpolecat commented on #3313
Nope, this seems good to me. Thanks!

[2020-02-25 09:56] travisbrown commented on #3313
Okay, I just staged a normal 2.1.1 release from a0a440fcf7cecdf16c9f18de49e2514c8dd28eae on the `2.1.x` branch with `java -version`:

[code]
With the usual:
[code]
Then ran the following commands to stage the Scala.js 1.0.0 artifacts—probably overkill on the cleaning but I have no idea why it got messed up last time so I'm being careful:
[code]
I haven't promoted the release yet, because I wanted

[2020-02-25 10:35] milessabin commented on #3313
Not for too much longer: https://github.com/milessabin/shapeless/pull/967.

I need to find time to back publish.

[2020-02-25 12:29] jenshalm commented on #3313
Also tested the staged artefacts, they work well for me, all 1,600+ tests green. :-)

[2020-02-25 12:31] travisbrown commented on #3313
@jenshalm Thanks! The release is out now, so you can properly update. :smile:

[2020-02-25 12:31] jenshalm commented on #3313
Perfect timing. Thanks a lot for the quick fix!

[2020-02-25 15:33] travisbrown commented on #3313
Seems like everything's fine, closing this. Thanks for catching it, @larsrh.

[2020-02-25 15:33] #3313 closed

[2020-02-28 09:27] travisbrown commented on #3036
Closed in #3037.

[2020-02-28 09:27] #3036 closed

[2020-02-28 12:22] gagandeepkalra opened #3327 "TraverseFilter won't short circuit"
`TraverseFilter` won't short-circuit for `Set`, `LazyList`, `Vector` and `Queue`. For other instances, it's done correctly.

e.g.

[code]

[Conversation](https://github.com/typelevel/cats/pull/3292#discussion_r377590934) for reference.

[2020-02-28 13:42] mrdziuban opened #3329 "contramapN should come from syntax.contravariant._"
When using a la carte imports, I need to `import cats.syntax.apply._` to be able to call `contramapN`, but I expected to `import cats.syntax.contravariant._`. Here's a scastie to demonstrate: https://scastie.scala-lang.org/mrdziuban/IZmraJ4BRlugdmXfeUWoLg/3

[2020-02-28 14:14] travisbrown opened #3330 "Deprecate nonInheritedOps and ops objects?"
Cats currently has three ways of importing syntax methods for particular type classes. You can use the subpackage in `syntax` (this is the standard approach to à la carte imports):

[code]
You could also use the `nonInheritedOps` object in the type class companion, which does exactly the same thing:

[code]

Or you can use the `ops` object in the companion of any descendant type class:

[code]
Whi

[2020-02-28 14:37] travisbrown commented on #3329
I was just taking a look at this, and `contramapN` also requires a `Semigroupal` instance, so you'll need `contravariantSemigroupal` instead of `contravariant`, which does work now:

[code]
The current behavior is still wrong, though. There's definitely no reason `syntax.apply._` should bring in `contramapN`, or that `syntax.contravariantSemigroupal._` should give you e.g. `traverseN`.

[2020-02-28 14:42] travisbrown commented on #3327
Thanks for opening this, @gagandeepkalra! I'm planning to take a closer look at this in the next few days.

[2020-02-29 01:09] gagandeepkalra commented on #3143
@travisbrown is #3135 the correct Pull request for `Add foldMapA`, because I see another one there #3130, please confirm.

[2020-02-29 16:05] rossabaker commented on #3330
I generally disrecommend the standard à la carte imports, so I'm a strong :+1: to not having three ways to do them.

[2020-03-05 11:15] sirthias opened #3343 "Add `Either.unit`"
Working with `flatmap` stacks on `Either` I frequently find myself creating `Right(())` instances in cases where only the error channel is relevant.
For these it'd be great if `EitherObjectOps` came with this member:

[code]

which would help with reducing unnecessary allocations in application code.

As a consequence `EitherObjectOps` would have to be turned into an `object` (right now it's a val

[2020-03-05 11:21] travisbrown commented on #3327
One thing that's worth noting here: the bug doesn't extend to laziness of effect evaluation, in which respect (as far as I've checked) all of these instances are correct. The issue is that for strict types with a failed state (like `Either`) the function is applied in cases where it doesn't need to be, and where it isn't for e.g. the `List` instance.

[2020-03-05 12:37] travisbrown commented on #3262
Done in #3304.

[2020-03-05 12:37] #3262 closed

[2020-03-05 18:59] joroKr21 commented on #3343
You can cache the `Right(())` somewhere and just delegate to it:
[code]

[2020-03-05 19:12] sirthias commented on #3343
Yes, that's what I'm currently doing.
However, IMHO `Either.unit` would the perfect "place" for such a cache.

[2020-03-05 19:38] joroKr21 commented on #3343
It's too late for `Either.unit` in the std lib.

[2020-03-05 19:40] sirthias commented on #3343
Yes, that's why I'm proposing to add it to the `EitherObjectOps` in `cats.core`.

[2020-03-06 08:20] kevingomu opened #3345 "cats.data.ValidatedNel issue"
Hi all,

I am trying to run docker:publishLocal where I am faced with this error:

[error] /path/to/ClassA.scala:60:8: Cannot prove that cats.data.ValidatedNel[String,path.to.classB] <:< G[A].
[error]       .sequence
[error]        ^
Class A resides in project A, and classB is in project B, and they have this kind of structure:

|--projectName

|-----project A

|-----project B

|--build.sbt

The b

[2020-03-06 13:30] rossabaker commented on #3343
I've added a `RightUnit` to several projects, so I agree this would be nice.

Unless I misunderstand the approach, changing EitherObjectOps to an object would break binary compatibility.  We could add a def to a private, cached value.

It would also make sense to use it in the Applicative instance.

[2020-03-06 13:32] sirthias commented on #3343
Yes, right. As always I didn't think of breaking binary compat.
The delegate to a private cached value works even better then.

[2020-03-06 13:46] rossabaker commented on #3343
I wanted to prove to myself that the applicative part was right, and by that point, I had a working PR. :laughing:

I think your idea of changing it to an object would be viable in Cats 3.0.  The implicit would still need to wrap the `Either` companion, but the ops class doesn't need the reference and could therefore be an object if not for the bincompat concern.

[2020-03-06 13:54] sirthias commented on #3343
Yes, that was my thinking as well. 👍

[2020-03-08 11:31] ybasket commented on #3345
@kevingomu I doubt this problem has something to do with your project set up, it rather looks like your types don't work out. Unfortunately, your example code lacks important type information, so it's hard to help you based on this. I recommend extracting a minimal working (=reproducing behavior) example when you ask for help. That can be a little tricky, but often you'll find the fix for your pro

[2020-03-08 11:49] gagandeepkalra commented on #3143
Hello, I'm done with all of them, below is listed the status of those for which I didn't raise a PR.

Add ifF to Functor: #3040 => PR is already open #3131
Fix Vector instances: #3100 => This was reverted for broken BC
Fix Eq instances for tuples: #3105 => This was reverted for broken BC
Add foldMapA: #3135 => Need clarification, see comment [here](https://github.com/typelevel/cats/issues/3143#iss

[2020-03-10 08:04] #3343 closed

[2020-03-11 08:10] travisbrown opened #3353 "Investigate antisymmetry failure for UpperBounded for Duration"
This turned up in #3350 on Scala 2.12, and doesn't look familiar to me. It's not related to that change, so I'm just restarting the job there, but wanted to capture the failure.
[code]

[2020-03-12 08:56] travisbrown opened #3355 "Specify short-circuiting behavior and add tests or laws"
There's currently some inconsistency between our collection instances with respect to where short-circuiting happens. To take a couple of examples:

[code]
…or:
[code]
Some specific cases of this are tracked in #3327 and fixed in #3328, but even after those changes we don't have tests to make sure we don't introduce more inconsistency, and we don't do a very good job of communicating to users what

[2020-03-18 16:42] travisbrown opened #3360 "Consider removing attemptNarrow"
Somehow I'd never paid attention to `attemptNarrow`, which we added in 2.1.0. It has some problems. For example it's trivially easy to make it crash at runtime:

[code]
It can also be used to launder a runtime type check:

[code]
Maybe that's fine, and you should know that if you've got a `ClassTag` around you've given up any hope of parametricity, but that seems pretty far from the spirit of Cats

[2020-03-19 23:38] gagandeepkalra commented on #3355
I'll try attempt this.

[2020-03-20 08:10] travisbrown commented on #3360
This is partially addressed by #3361. In the longer run we should consider what to do with `attemptNarrow` and `catchOnly` (probably we should just add documentation about the risks, but we could also consider deprecation).

[2020-03-22 11:48] montrivo commented on #3355
Not related to the collection short-circuiting behavior, but would it make sense to implement `map2Eval` for `Future`?
It is currently not overriding the non-short-circuiting default behavior.
[code]

[2020-03-24 07:49] #3327 closed

[2020-03-24 13:46] massimosiani opened #3367 "Dual typeclass"
I am wondering whether it makes sense to add the Dual (aka Pairing) typeclass described [here](http://comonad.com/reader/2008/the-cofree-comonad-and-the-expression-problem/).
Its main use case is providing a pair between a DSL and its interpretation. You can see a very basic example [here](https://github.com/massimosiani/coscala), and further work [here](https://github.com/massimosiani/free-cofree

[2020-03-26 15:20] shomatan commented on #3116
I started to translate. I'm sorry for the delay in timing.

[2020-03-26 15:31] kailuowang commented on #3116
Thanks very much!

On Thu, Mar 26, 2020, 11:21 AM Shoma Nishitateno <notifications@github.com>
wrote:

[2020-03-26 21:23] morgen-peschke opened #3369 "Alternatives to #head for `NonEmpty*` classes"
One of the things which is comes up from time to time in code reviews is that it's not obvious if `foo.head` is a safe call to `NonEmptyList#head` or an unsafe call to `List#head`.

If it's something which would be helpful generally, I'd be happy to put together a PR adding a `safeHead` alias to the `NonEmpty*` classes to help cut down on the confusion.

[2020-03-29 03:38] rossabaker commented on #3369
I find that aliases tend to add more confusion than they resolve.

What about using a linter?  I think warrmover's TraversableOps would catch this.

[2020-03-30 23:54] morgen-peschke commented on #3369
Unfortunately the linter we use (scalastyle) doesn't include this rule, and the one I'm familiar with that does (scapegoat) required too much TLC to keep working.

Did you mean [Wartremover](https://www.wartremover.org/) ?

[2020-03-31 07:27] joroKr21 commented on #3369
That's a general problem with reviewing statically typed code. Ideally you should make use of types also when you review code. But the current tooling is not optimised for this. For example how do you know that a `.get` is called on a `ThreadLocal` and not on `Option`?

[2020-03-31 14:21] rossabaker commented on #3369
Yes, wartremover.  And yes, this is where a linter that runs after the typer is invaluable.  I've seen scalafix floated as a solution to this, but haven't found a standard set of rules that's easy to extend.

I'm still hesitant to add long term API for a short term deficit in tooling. I'd much rather we attack the latter problem.

[2020-03-31 15:06] morgen-peschke commented on #3369
Fair enough

[2020-03-31 15:06] #3369 closed

[2020-04-01 09:42] travisbrown opened #3377 "Semigroup for NonEmptyMap is kind of weird"
In any recent Cats version (back to before 2.0) `|+|` is `++` for non-empty maps:
[code]

I don't really use `NonEmptyMap`, so maybe I'm missing something, but this seems like the wrong thing to do, since `|+|` for other maps combines at the element level:

[code]
We can fix this but it'll take some fussing with, since we'll have to make the current `Band` instance non-implicit, add some new prior

[2020-04-01 13:44] gagandeepkalra opened #3381 "Optimise NonEmptyTraverse implementation"
The current `NonEmptyTraverse` for `List` goes something like,

    def nonEmptyTraverse[G[_], A, B](nel: NonEmptyList[A])(f: A => G[B])(implicit G: Apply[G]): G[NonEmptyList[B]] =
      Foldable[List]
        .reduceRightToOption[A, G[List[B]]](nel.tail)(a => G.map(f(a))(_ :: Nil)) { (a, lglb) =>
          G.map2Eval(f(a), lglb)(_ :: _)
        }
        .map {
          case None        => G.map

[2020-04-01 15:10] gagandeepkalra commented on #3355
@montrivo

I tried a `map2Eval` override for future, this seems to achieve short-circuiting behaviour.

      override def map2Eval[A, B, Z](fa: Future[A], fb: Eval[Future[B]])(f: (A, B) => Z): Eval[Future[Z]] =
        Eval.later(fa.flatMap(a => fb.value.map(b => f(a, b))))

But then again it costs parallelisation, this implementation defers running f on each successive A until the previous resul

[2020-04-03 16:27] lourkeur commented on #3360
I can't find any mentions of this on GitHub so, on the topic of `catchOnly`, it's possible to catch fatal exceptions in the sense of `scala.util.control.NonFatal`. To me that doesn't feel safe at all.
[code]

Looking at the hierarchy, it looks like the list of problematic type parameters would be limited to fatal exceptions themselves, which is obvious, but also `Exception` (due to`InterruptedExce

[2020-04-07 15:19] chwthewke opened #3385 "WriterTInstances: insufficient prioritization?"
The following snippet:

[code]

fails to compile with

    [E]      ambiguous implicit values:
    [E]       both method catsDataCommutativeMonadForWriterT in class WriterTInstances of type [F[_], L](implicit F: cats.CommutativeMonad[F], implicit L: cats.kernel.CommutativeMonoid[L])cats.CommutativeMonad[[?$3$]cats.data.WriterT[F,L,?$3$]]
    [E]       and method catsDataTraverseForWriterTId in cla

[2020-04-07 20:06] djspiewak commented on #3385
I agree this is a real issue. They should be factored across two traits.

[2020-04-07 22:36] djspiewak opened #3386 "Profunctor[PartialFunction]"
Relatively certain this is lawful (credit: @wemrysi). Should be straightforward to add.

[2020-04-08 08:58] lukoyanov commented on #3360
@travisbrown please consider keeping `attemptNarrow` with properly documented risks.

I found this method pretty convenient when you need to temporary put your business error from `F[Either[E, A]]` into `F[A]` with `rethrow` and then later extract it back with `attemptNarrow`.

[2020-04-08 09:00] travisbrown commented on #3360
@lukoyanov The current plan I think is to keep it but with a `<: Throwable` constraint on `E`. Does that affect your use cases?

[2020-04-08 09:02] lukoyanov commented on #3360
`<: Throwable` constraint on `E` looks reasonable, perfectly works for me.

[2020-04-11 08:38] larsrh commented on #2927
I will tackle this issue. It'll hopefully unblock #3368.

[2020-04-12 11:16] gagandeepkalra commented on #3386
@djspiewak Is it okay if I attempt this?

[2020-04-13 15:27] barambani commented on #3385
I'll look into this

[2020-04-13 20:22] #3385 closed

[2020-04-15 03:42] rmehri01 commented on #1835
Hi, I'm wondering if this is still being done?

[2020-04-15 17:35] ceedubs commented on #3192
@travisbrown boilerplate code generally feels bad, but I think that there are a couple of potential advantages to dropping the macro-based solution that you've only started to hint at with "The generated code is right there in front of you".

1. Source navigation. I've seen coworkers get tripped up with a scenario like:
    * What's this `bimap` method that's being called on `Either`?
    * Click

[2020-04-19 09:25] larsrh commented on #2927
I've stopped working on it because there are too many issues blocking a straightforward migration.

[2020-04-19 11:18] joroKr21 commented on #3377
I guess this would mean deprecating `Band` for `NonEmptyMap` because otherwise it would take priority. Which should be fine because `SortedMap` doesn't have a `Band` instance.

On the other hand seems to me that resolving #3223 first would be good.

[2020-04-19 12:21] jhnsmth commented on #2927
BTW @travisbrown also gave it a try while working on #3218

I will try to look into this on the next weekend

[2020-04-19 12:34] travisbrown commented on #2927
@larsrh Sorry I missed your comment last week, but yeah, I took an initial stab at this in December when I updated to sbt-microsites 1.x, and then tried again last month, when I spent a couple of hours trying to add `nest` and `reset-object` and some new `invisible` blocks to get things to work, and it's just an enormous horrible chore.

A couple of issues I ran into have been reported and resolve

[2020-04-19 12:38] travisbrown commented on #2927
(For what it's worth maybe the worst part is the extremely slow turnaround time during development—you change something and then wait 35 seconds to get the next error message. If I were going to try this again I'd probably try to set something up where I could run mdoc on individual pages, possibly outside of the sbt build altogether, just so I could get faster feedback. I didn't really look into

[2020-04-19 15:50] aherrmann13 opened #3398 "`EitherT.pure` does not call `F.pure` on the 'Right' value"
`EitherT.pure` (and `EitherT.rightT`) does not have the same behavior as `EitherT.leftT`

`EitherT.rightT`calls `EitherT.pure`, which calls `right(F.pure(b))`, which results in `EitherT(F.map(F.pure(b))(Right(_)))`

`EitherT.leftT` calls `EitherT(F.pure(Left(a)))`

when using `IO` the execution of converting `F[B] => F[Either[A, B]]` is delayed until IO is run on `EitherT.pure` and `EitherT.rightT

[2020-04-21 05:42] #3108 closed

[2020-04-23 11:00] vincenzobaz commented on #3286
You can build the website with the documentation by running `sbt docs/makeMicrosite` inside the repository folder.
If you refer to the API documentation defined in scaladoc, you can run `sbt unidoc` inside the repository folder.
These procedures are described [here](https://typelevel.org/cats/contributing.html).

[2020-04-23 14:14] milessabin commented on #2745
I found myself in need of this recently. It'd be great if we could move this forward in cats.

[2020-04-24 10:11] channingwalton opened #3400 "Macro Error in FunctionK.lift"
Hi,
I was wrapping doobie's liftIO in FunctionK:

[code]

and got

[code]

This fixed it:

[code]

@milessabin suggested the macro might have been confused about whether it was supposed to be looking at the Async.apply or the liftIO.

[2020-04-24 12:06] kailuowang commented on #3400
There have been some attempts to replace that macro with non macro solutions, but they fell short on being fully backward compatible.
But I think cats remains committed to remove all macro usages in the code base to ease transition to Scala 3.
In short, this issue is probably low priority.

[2020-04-25 06:34] joroKr21 commented on #3400
I think it's confused by the eta-expansion.

[2020-04-26 15:09] Adriani-Furtado opened #3406 "EitherT leftWiden no available for Nothing error type"
It seems `leftWiden` is no available for `EitherT` with type `Nothing` as the error.
A proposal was to add `leftWiden` directly into `EitherT` instead of having it be `implicit`

[code]

results in the following message:

[code]

[2020-05-02 11:35] kubukoz commented on #3406
I'm 👍 for having that in EitherT, but the problem touches all types with polymorphic errors. If I'm not too mistaken, it should be possible to special-case Nothing and add another implicit extension that only works if the error is of type Nothing.

[2020-05-07 18:48] joroKr21 commented on #3406
But that's a very general problem with `scalac` and implicits not resolving for `Nothing`.
The question is if Cats should add specialized instances for `Nothing`.
I couldn't find any precedent for that.

[2020-05-07 18:57] joroKr21 commented on #3398
I think we should use the more performant version 👍

[2020-05-07 22:59] #3398 closed

[2020-05-10 23:29] johnynek opened #3410 "Missing TupleK Semigroupal"
I don't see an implementation (although there is ContravariantMonoidal, which is more constrained).

I'll plan to send a PR, but if anyone sees a reason why this can't exist, please feel free to let me know.

[2020-05-11 00:04] johnynek commented on #3410
this seems to work just fine, and I think is lawful:
[code]

[2020-05-11 00:22] johnynek opened #3411 "implicit Tuple2K"
It is useful in some contexts to have:
[code]
for cases where we are letting implicit resolution drive some computations.

Any reason this should not be in the companion for Tuple2K?

[2020-05-12 16:09] LukaJCB commented on #3192
I think we've delayed this decision long enough and @travisbrown has found a solution that should work in a backwards compatible way. I suggest we start implementing this if there are no objections within the next ~10 days?

[2020-05-12 19:33] LukaJCB opened #3414 "Add a fproductLeft function to Functor"
Currently we have `def fproduct[A, B](fa: F[A])(f: A => B): F[(A, B)]` on `Functor`, it'd be nice to also have one that tuples on the other side, i.e.
`def fproductLeft[A, B](fa: F[A])(f: A => B): F[(B, A)]`

[2020-05-13 12:19] pk044 commented on #3414
i could take this one :)

[2020-05-13 13:27] LukaJCB commented on #3414
@pk044 go for it! :)

[2020-05-15 17:15] Daenyth commented on #3008
Just as a data point, I've used those in third-party code so that I could make one combined import for cats implicits + my library implicits + another library implicits, to help reduce brain effort on imports

[2020-05-15 17:26] djspiewak commented on #3008
As another random data point… I originally structured djspiewak/shims to hide the "All" traits, so the only way to actually get at anything was via the `shims._` import. The problem with this is it made it impossible for any third parties to participate in the implicit prioritization, which created unavoidable conflicts. Given Cats' nature, I would suspect similar problems if we privatized the tra

[2020-05-15 17:29] joroKr21 commented on #3008
But this is only relevant for syntax now, isn't it?

[2020-05-15 20:56] djspiewak commented on #3008
Yes, which significantly decreases (though does not entirely remove) the relevancy of interaction with prioritization.

[2020-05-16 14:23] ronanM opened #3420 "Add effectful groupByNelA(A => F[B]): F[SortedMap[B, NonEmptyList[A]]]"
Add to `cats.syntax.ListOps[A]`:
[code]

An optimised version of:
[code]

[2020-05-18 09:37] pk044 commented on #3420
@ronanM are you perhaps planning to implement this one? I can do it in case it's free to take :)

[2020-05-18 12:25] ronanM commented on #3420
It's free. ;-)

[2020-05-18 13:01] pk044 commented on #3420
i'll try to implement that then :)

[2020-05-19 15:07] saraiva132 opened #3422 "Add toNev combinator in NonEmptyList"
I wanted to get an instance of NonEmptyVector from a NonEmptyList and I noticed it was lacking that combinator.

Something like:

[code]

There might be more combinators missing.

[2020-05-19 15:58] saraiva132 commented on #3422
I can pick this up, I will scavenge a bit to see what else is missing

[2020-05-21 09:55] brunoatArgos commented on #3377
Hi @travisbrown, I had to face this issue and I resolved locally adding the following implicit:
[code]
to be used instead of the current implementation that uses `concat` for `combine`
https://github.com/typelevel/cats/blob/f5a61725653cfb6d509ad90594d0aea6628b88a4/core/src/main/scala/cats/data/NonEmptyMapImpl.scala#L315-L317

[2020-05-21 20:01] #3414 closed

[2020-05-21 20:01] #3422 closed

[2020-05-22 11:32] travisbrown commented on #3192
I opened a PR (#3424) that splits this out from the Dotty cross-build (which has some open questions like which Dotty version we should support, since we're still missing e.g. the scalatestplus dependency for 0.24).

[2020-05-24 09:42] #3355 closed

[2020-05-24 10:41] ivan-klass opened #3427 "Add EitherT and IorT constructors from Option with monadic default"
In practice the `OptionT[F, A]` => `EitherT[F, E, A]` transformation may also require the left to be calculated as `F[E]`, but all current helpers accept plain `E` using `Functor[F]`
 I didn't find anything handy neither in `OptionT` nor `EitherT` having to work-around with `.leftSemiflatMap(identity)` like
[code]
or
[code]

There is a small PR https://github.com/typelevel/cats/pull/3426 addressin

[2020-05-24 11:02] travisbrown commented on #3192
Done in #3424.

[2020-05-24 11:02] #3192 closed

[2020-05-25 11:16] travisbrown commented on #3353
Similar failure on bc77b900801c70800405a2b374c4dc25b2123ea1 for 2.13:

[code]

[2020-05-27 01:39] LukaJCB opened #3434 "Add auto-widen/auto-narrow implicits"
It can be quite frustrating sometimes to insert `widen` or `narrow` calls sometimes just to make the compiler happy, so we thought it could be a good idea to have two little implicits you could import:

[code]

[2020-05-27 02:40] ChristopherDavenport commented on #3434
Might be good to try this in a few downstream projects and confirm this doesn't break something.

[2020-05-27 03:09] djspiewak commented on #3434
Add it to something like `cats.implicits.variance._` or something like that in 2.2.0. Then take a survey and see how people like it before 2.3.0, when we could move it to the global.

[2020-05-27 15:04] djspiewak commented on #3434
So as a random datapoint… I added these implicits to every scope in https://github.com/precog/quasar. Everything compiled just fine before and after. There was a 12% performance hit (which is actually a bit less than I was expecting) in compile time after everything was warmed up. To be clear, quasar makes very aggressive use of implicit search across a large section of the codebase, as well as so

[2020-05-29 04:55] #2244 closed

[2020-05-29 13:22] mpilquist commented on #3330
:+1: Let's deprecate. The `ops` import is from the original Simulacrum encoding and the `nonInheritedOps` was to avoid the loss of syntax from common ancestors when importing multiple. They both predate mixing all syntax enrichments in to a single object (or rather, I was experimenting with an encoding that wouldn't require a `Scalaz._` import).

[2020-05-29 13:45] travisbrown commented on #3330
Thanks, @mpilquist—I didn't really have any idea what the original context was, but that makes sense.

[2020-05-31 14:07] barambani commented on #3353
It seems that what fails is the `antiSymmetryEq` law in [here](https://github.com/typelevel/cats/blob/master/kernel-laws/shared/src/main/scala/cats/kernel/laws/EqLaws.scala#L15). It's pretty systematic, it only takes more cases to trigger (increasing the min successful [here](https://github.com/typelevel/cats/blob/master/kernel-laws/shared/src/test/scala/cats/kernel/laws/LawTests.scala#L140) and r

[2020-05-31 18:39] #2707 closed

[2020-05-31 18:48] LukaJCB opened #3447 "Add more foldMapK shortcircuiting"
We added short-circuting for Vector and List in #3446, but it's still missing a few others, namely:

- Stream/LazyList
- NonEmptyList
- NonEmptyLazyList/Stream
- SortedMap
- Queue
- Chain
- NonEmptyChain
- NonEmptyVector
- SortedSet
- NonEmptySet

[2020-06-01 01:20] #3434 closed

[2020-06-01 13:07] barambani commented on #3447
I can look into this if that's ok.

[2020-06-01 13:24] LukaJCB commented on #3447
@barambani please by all means do 😊

[2020-06-01 18:08] justinhj opened #3450 "Kleisli ap method in Applicative has arguments reversed"
Most Applicative instances have an `ap` which implements function application where both the function and the parameter are in an effect type. Most instances take the function first and the parameter second, but the Kleisli (and therefore the Reader) instances have the order of arguments swapped.

Concretely:

[code]

Having spoken to @djspiewak on gitter about this, it's recommended to fix it. Th

[2020-06-01 18:48] barambani commented on #3447
I have a couple of questions about this. Now that there's a `combineKEval` I was wondering if changing the `foldMapK` in `Foldable` to
[code]
instead of specializing it in the instances would break any assumption (the tests and Mima checks pass). It would delegate the short circuiting behavior to the `MonoidK` for any implementation, so it looks more general.
Also, the way the `ShortCircuitingLaws

[2020-06-01 19:26] LukaJCB commented on #3447
@barambani great catch, I think that should be fine if it passes the `ShortCircuitingTests`.
I'm not exactly sure what the reasoning is for it not being part of the more general laws, but it's possible that some people don't care about the short-circuiting and just want to have the "standard" laws checked.
We could however make the `foldable` laws the parent of the `traverse` laws in `ShortCircuit

[2020-06-01 19:39] barambani commented on #3447
Makes sense. Thanks a lot :).

[2020-06-02 05:43] justinhj commented on #3450
Will take a stab at this.

[2020-06-02 08:00] #3447 closed

[2020-06-03 16:11] djspiewak opened #3452 "Add implicit variance materialization for profunctor"
Similar to #3436, we should have a simultaneous co- and contravariant materialization for any `F[_, _]` that forms a `Profunctor`.

[2020-06-03 20:33] johnynek opened #3454 "some/many on Alternative"

[2020-06-03 20:38] johnynek commented on #3454
That said, I can basically only see these as useful for parsers, so I am not sure we should bother adding it. On the other (other) hand, having this method here means you can code a lot of parser code against just Alternative and Defer and then you could share parsers more easily.

[2020-06-03 21:15] LukaJCB commented on #3454
Possibly related to #3446

[2020-06-04 13:20] #3381 closed

[2020-06-04 20:06] djspiewak commented on #3411
I can't think of any harm in this. It's certainly not going to resolve the way you want it to in many cases, but for the cases where it doesn't resolve properly, I'm quite certain it doesn't *break* anything when it's on the companion.

[2020-06-05 12:45] psttf commented on #2195
Can this issue be closed now?

[2020-06-05 18:01] djspiewak commented on #2195
Most definitely. Thanks for the reminder!

[2020-06-05 18:01] #2195 closed

[2020-06-07 19:49] #3420 closed

[2020-06-08 17:38] arosien opened #3460 "Describe example questions at top of nomenclature page."
[Comment from reader](https://gitter.im/typelevel/general?at=5ede73972c49c45f5ace5711):

https://typelevel.org/cats/nomenclature.html

This page could preface those questions the paragraph that currently follows them:

☝️ suggested copy

[2020-06-09 14:13] dmndpl commented on #3450
I tried adding the following
` def ap[B, C](fa: Kleisli[F, A, B])(f: Kleisli[F, A, B => C]): Kleisli[F, A, C] =
    fa.ap(f)` in `KleisliApply[F[_], A]` and setting the previous `ap` to `private[data]` however the compiler is not happy.

`double definition:
override def ap[B, C](f: cats.data.Kleisli[F,A,B => C])(fa: cats.data.Kleisli[F,A,B]): cats.data.Kleisli[F,A,C] at line 620 and
def ap[B, C](f

[2020-06-09 15:06] djspiewak commented on #3450
The definition in `KleisliApply` is actually correct. The definition in `Kleisli` *itself* is what's wrong. What we need to add is the following:

[code]

Or something like it.

[2020-06-09 20:33] justinhj commented on #3450
That's right, I've spent a bit of time trying to make this work but the types blow my mind a bit. The "As" syntax above looks perfect but it doesn't seem to compile. I've been trying to do something with asInstanceOf which is what the generic version of ap does in Apply.scala

[2020-06-09 21:12] djspiewak commented on #3450
It doesn't? It should. What error do you get?

[2020-06-09 21:27] justinhj commented on #3450
"Not found type As"
I'm looking at it in VS Code, so maybe bloop is having a problem with it that sbt won't. I'll try it there.

[2020-06-09 21:31] justinhj commented on #3450
Hmm yeah I get the same error in a REPL

[code]

I haven't see that syntax before, is it regular Scala or am I maybe missing a plugin?

[2020-06-09 21:33] djspiewak commented on #3450
Ah. :-) `import cats.evidence.As`

[2020-06-09 23:13] justinhj commented on #3450
Working on a draft PR. I think I should probably not need the instanceOf below, but not sure how to leverage that "As" implicit to do so...

[code]

[2020-06-10 09:48] dmndpl commented on #3450
I managed to get the compiler to play nicely with the following:

[code]

[2020-06-10 18:00] saraiva132 opened #3465 "Add parallel variant for TraverseFilter"
Has it been considered to add parallel variants for `TraverseFilter` ? I suppose `ParTraverseFilter`

` def parTraverseFilter[G[_], B]...`

` def parSequenceFilter[G[_], B]...`

Anything preventing us from adding these ?

I would be happy to add these :)

[2020-06-12 04:47] rmehri01 commented on #3460
Hi, I'd like to help with this! Just to clarify, do you mean these questions should be moved to FAQ or just moved below the paragraph you suggested?

[2020-06-12 16:16] arosien commented on #3460
I meant the latter, move the questions below the suggested paragraph. (And make the questions a regular font size, not the giant size it is now)

[2020-06-12 16:17] arosien commented on #3460
And thanks for your help!

[2020-06-12 16:33] rmehri01 commented on #3460
Ah okay, no problem :)

[2020-06-12 17:40] djspiewak commented on #3454
I wrote a very long diatribe on these functions here: https://github.com/scalaz/scalaz/issues/1097#issue-132780274

[2020-06-12 20:21] johnynek commented on #3454
Daniel, I don't think I agree. you claim there are only two implementations (really they are both familes of the same:
[code]
That is not what many actually does since you are ignoring the role of `combineK`. So clearly there are more implementations that the one you claim.

My implementations above rule out the concerns you had about non-termination because they always terminate due to using Defe

[2020-06-12 22:21] rmehri01 commented on #3410
Hi, I can try to add this. Just one thing, why are there so many Tuple2KInstances (the abstract classes)? I'm guessing there's some structure to them?

[2020-06-13 20:22] johnynek opened #3472 "absorption/lifting typeclass to generalize a few concepts"
We have FunctorFilter and TraverseFilter. I have in the past proposed a generalization (FunctorFlatten, later AlternativeFlatten: #1337).

But it seems to me the above are actually doing something like:
[code]
In the case of `FunctorFilter[F]` what you are saying is you have `Functor[F]` and `Absorbs[F, Option]`. In the case of `FunctorFlatten` what you are saying is that you have `Functor[F]` and

[2020-06-13 20:33] djspiewak commented on #3472
As a note on related works, take a look at `MonadPartialOrder`, which was originally introduced by Oleg (I've been told; I have yet to find the reference) and is now one of the underpinnings of cats-mtl.

[2020-06-13 20:38] johnynek commented on #3472
Yeah, it seems that `MonadPartialOrder` is more restrictive:
https://github.com/typelevel/cats-mtl/blob/master/core/src/main/scala/cats/mtl/MonadPartialOrder.scala

it requires the outer `F[_]` to be a `Monad`. In the above, I limit to `Functor` and I think keep it lawful. Moreover, the cases I was thinking of (scalding, spark, other data-infra systems) are not generally `Monad`s, they are `Altern

[2020-06-13 20:44] djspiewak commented on #3472
Regarding some more general thoughts…

[code]

Something I definitely *don't* like about this: there is no distinction at all between `FlatMap[F]` and `Absorbs[F, F]`. They're actually very literally the same thing. That does rather imply that `Absorbs` generalizes `FlatMap`, but `FlatMap` still exists as a nominal thing.

Thinking a little more deeply about this… It is actually quite intuitive th

[2020-06-15 16:24] #3460 closed

[2020-06-16 07:47] #3386 closed

[2020-06-16 17:27] #3465 closed

[2020-06-18 02:26] gagandeepkalra commented on #3452
Is it okay if I give this a go?

[2020-06-18 03:30] rossabaker commented on #3452
@gagandeepkalra Absolutely. Thanks for volunteering!

[2020-06-19 18:36] justinhj opened #3489 "Announce releases on official Typelevel twitter"
Would it be possible to announce Typelevel library releases on the `typelevel` Twitter account? Ideally this could be automated to avoid putting additional burden on volunteers, but it would be nice have a place to see what's going on.

[2020-06-21 07:58] adrian-salajan opened #3494 "Weird new `Could not find implicit`if comonad is defined"
I encountered a very strange issue while writing tests using cats-laws.
After defining an implicit instance for comonad, my tests using cat-laws does not compile anymore, failing with:

[code]

If i just make the comonad instance private, and rebuilt, the problem is fixed.
I'm not sure if this is a cats or SBT issue.

How to replicate:
checkout branch weirdBug: https://github.com/adrian-salajan/di

[2020-06-22 14:53] djspiewak commented on #3494
You need to merge together your functor, applicative, monad, and comonad definitions all into one. Something like this:

[code]

The reason being that `Monad` and `Comonad` both inherit from `Invariant`, which in turn implies `Isomorphisms`, which is why you're getting the error. As a general rule, *any* instances you wish to define for a datatype which are within the functor hierarchy (i.e. anyth

[2020-06-22 23:40] johnynek commented on #3472
Actually, related to your generalization of `Functor` above, I wonder if what I'm really talking about is something like a generalization of functor:

[code]
and so the law you want is `f.map(c1).map(c2) == f.map(c1.andThen(c2))` and `f.map(category.id) == f`.
Then `FilterFunctor` is on the category `A => Option[B]` whereas the above `Absorb` the category is on `A => G[B]` for some `Monad[G]`.

Ou

[2020-06-25 01:44] LukaJCB commented on #2620
Turns out, this might be binary compatible after all!

[2020-06-26 03:22] tmccarthy commented on #3220
Would there be any issues doing this for `scala.math.Integral` and `scala.math.Fractional` as well? These inherit from `Numeric`.

[2020-06-27 20:34] johnynek commented on #3472
Here's another Haskell typeclass exploring the space of FilterFunctor:

https://hackage.haskell.org/package/compactable

[2020-06-28 05:25] rmehri01 commented on #3410
Hi, I can try adding this.

[2020-06-29 19:23] #3452 closed

[2020-07-01 08:37] Jasper-M opened #3503 "Emit scaladoc for package private classes"
If I want to find out where the `validNel` extension method is coming from, one option is to search for it in the scaladoc. I will find https://typelevel.org/cats/api/cats/syntax/package$$validated$.html and https://typelevel.org/cats/api/cats/syntax/ValidatedIdSyntax.html. Mystery solved.

If however I'm looking for `validNec` I will find nothing because it's in another trait `ValidatedSyntaxBinc

[2020-07-02 02:48] johnynek commented on #3411
BTW: @djspiewak can you give an example of it this not resolving the way you want? This seems to me to be quite natural.

[2020-07-02 02:58] #3410 closed

[2020-07-02 05:38] rmehri01 commented on #2936
Hi, I can try to help with this. Does an `Alternative` instance need to be added for `OptionT` then?

[2020-07-05 23:13] #2569 closed

[2020-07-08 13:01] vasilmkd commented on #3329
It seems that all of these syntax functions come from `TupleSemigroupalSyntax.scala` which is an autogenerated boilerplate code. Any ideas on how this should be handled? Should these `TupleNSemigroupalOps` classes be split into smaller classes offering 1 method each? (e.g. one class for `mapN`, one for `imapN`, one for `contramapN`, etc.)

[2020-07-10 13:01] robstoll opened #3512 "add toValidated and co. to TryOps"
IMO it is cumbersome to use `toEither.toValidated` thus I suggest to provide the same shortcuts we provide for EitherOps.
Surely only some sugar but intuitively I am looking for `toValidated`

[2020-07-12 03:06] johnynek opened #3517 "stack safe traverse"
I have thought a lot about stack safety. For Monad/FlatMap we have tailRecM, which seems to solve the problem and seems to be implementable by virtually all monads.

For Traverse, the story is harder: we are interacting two typeclasses: Traverse and Applicative. We can't specialize the operation on both (not easily at least). Generally, we have to write traverse we no assumption about the Applicat

[2020-07-14 01:39] johnynek commented on #3517
It occurs to me, in the above PR I made a binary tree, but the approach works just as well with any number of children > 1. So, we could have say 16 or 32 children for each node and it will probably be faster:

we make blocks of 32, we do linear map2 on each of the items in that list, and then we recombine at the next layer up. This is still O(N log N) but the base is much larger so that in practi

[2020-07-14 21:04] johnynek commented on #3517
I implemented the improved idea in fs2 with a fan out of 128 and it gave a 2x lift in performance for smaller traversals over the standard foldRight + vector based approach, and it also scales up to giant sizes without throwing (unlike some cases with foldRight).

I think this should be considered as the new standard.

In the cases where you can't access items in the `F[_]` in O(1) (unlike chunk),

[2020-07-15 03:21] johnynek commented on #3517
okay, I opened #3521 which implements this for all the cases I saw in cats.

[2020-07-15 18:52] #3517 closed

[2020-07-16 03:10] ctongfei commented on #3472
@johnynek I think I actually have a use case for your generalized Functor:
[code]
This can be used in autodiff programs (neural networks). `C == ~>` is the category of differentiable functions, and `F[A]` is the type of derivative-traced expressions. Then you have
[code]
This says that you can only map a traced expression by a differentiable function.

[2020-07-16 03:18] johnynek commented on #3472
@ctongfei that's a really interesting example.

[2020-07-16 03:28] johnynek commented on #3472
Another example that seems close is in distributed computing. You can `map` if you have `A => B` and `Serialization[A] => Serialization[B]`. So, that pair forms a category too: `case class SerPair[A, B](fn: A => B, ser: Serialization[A] => Serialization[B])` since it is just a pair of two functions.

That said, I'm not too sure what to do with a functor... if we could build this up to Applicative

[2020-07-16 14:23] Daenyth opened #3523 "Add a documentation page on error handling"
There's some major gaps around error handling in the official docs, especially painful because the whole ecosystem relies on them - library users are often instructed to use MonadError/ApplicativeError error handling code, but it's not present in the documentation

- Add a page on ApplicativeError/MonadError (one page, likely)
  - Either on that page or on its own page, provide a "cookbook" of com

[2020-07-16 16:40] #2587 closed

[2020-07-16 20:51] johnynek commented on #3472
Okay, here is a sketch that takes it through to Traverse.

[code]
Here, the category for traverse is still `A => B` it is just the category for composition of Applicatives that is `C[_, _]`. You could imagine generalizing the category on traverse, but I don't see the use of that at the moment.

I do see the value of changing the category for e.g. Functor, e.g.:
[code]

Similarly, a distributed dat

[2020-07-16 21:33] LukaJCB commented on #3472
@sellout gave a talk on this a couple years back: https://www.youtube.com/watch?v=QE3zqV4kVEo
I believe I saw someone try even before that though, but not sure where exactly

[2020-07-16 21:42] ctongfei commented on #3472
Actually in the scenario of differentiable functions, I'm thinking that we can get up to `Applicative` and `Monad` and they have interesting correspondences to current deep learning practices.

[code]

`GenApplicative` corresponds to TensorFlow-style static computation graph engine, where you can always construct traced nodes in computation graphs `F[A]` (`tf.Tensor`), but you cannot get the value

[2020-07-17 20:57] sideeffffect commented on #2342
this ticket can be closed
cc @LukaJCB @travisbrown

[2020-07-17 21:50] LukaJCB commented on #2342
good call, thanks @sideeffffect!

[2020-07-17 21:50] #2342 closed

[2020-07-23 09:51] akopich opened #3529 "Positive integers and non-empty collections"
# Positive integers and non-empty collections

Hi all. `cats` implements non-empty collections such as `NonEmptyList`. I think we might squeeze a little more out of the concept. Wouldn't it be nice to have a type `PosInt` (for positive integers) and define
[code]
Moreover, this would allow us to add safer alternatives to functions which accept `Int` and produce a `List`. E. g. `replicateA`
[code]

[2020-07-24 10:22] akopich commented on #3529
And it doesn't seem to involve any rocket science. Just define two classes — for natural and positive integers.

[code]
And functions to increment `Nat` and decrement `PosInt`
[code]
At this point we can define a trait `HasSize[F[_], S]` for a container `F` of size typed as `S`
[code]
and provide instances of type `HasSize[List, Nat] ` and `HasSize[NonEmptyList, PosInt]`.
Finally, we are ready to

[2020-07-27 20:31] LukaJCB opened #3534 "Consider migrating to Munit"
ScalaTest is making it quite hard to keep up with the dotty milestones, we really don't need any of the functionality that ScalaTest provides, so migrating to Munit should be fairly straightforward, even if it's a lot of work.

[2020-07-28 12:35] mrdziuban opened #3536 "Future instances not in implicit scope"
Importing `cats.instances.future._` is still required to summon typeclass instances for `scala.concurrent.Future`, e.g.

[code]

This was the only `cats.instances` import I needed to keep around when upgrading a large codebase that strictly uses a la carte imports from v2.1.1 to v2.2.0-RC2.

[2020-07-28 14:15] LukaJCB commented on #3536
Thanks for bringing this up! Will have a look soon

[2020-07-29 07:36] travisbrown commented on #3536
I believe there was some discussion about this somewhere, and that excluding them was a design decision, but I don't remember the details, and I'm not committed to either including or excluding them from implicit scope.

[2020-07-29 07:38] travisbrown commented on #3534
I very strongly support this move. I've had only good experiences with MUnit (in DhallJ, an in-progress Circe migration, etc.).

[2020-07-29 13:09] akopich commented on #3529
I've implemented the idea here. https://github.com/akopich/scala_pure_random

[2020-07-29 14:18] barambani commented on #3536
This https://github.com/typelevel/cats/issues/2334 may or may not be what @travisbrown is referring to, but I'm adding it here for reference as that discussion is still open and marked for milestone 3.0

[2020-08-01 16:15] #3534 closed

[2020-08-03 02:20] #3427 closed

[2020-08-03 16:22] justinhj commented on #3489
This can probably be closed, as i see that recent releases have been announced on @typelevel twitter. Also github users can watch the project for "Releases Only" to be sure not to miss anything.

[2020-08-03 22:55] emilypi opened #3547 "Feature Request: Smash Product, Wedge Sum, Pointed Product"
Some new abstractions that provide some useful and principled variations on a theme:

- Slides: https://github.com/cohomolo-gy/Hulk-Smash/blob/master/Smash.pdf
- Arithmetic derivation: https://github.com/emilypi/smash/tree/master/smash-core/README.md

Happy to help explain and guide the implementation of these (including their monad transformers and optics).

[2020-08-03 23:22] djspiewak commented on #3547
Hmm, do you have a set of identities governing the behavior? I didn't see that in the haskell docs. Obviously most of it is relatively straightforward from the types, but I'm always leery whenever zeros are involved. I'm also curious about other inhabitants if you have any nice examples off-hand (didn't read through the presentation entirely, so if they're in there, feel free to redirect).

[2020-08-03 23:37] #3489 closed

[2020-08-03 23:46] LukaJCB commented on #3547
Just looking at the haskell type signatures this seems pretty neat and I've wanted a `Wedge` data type at some point. Do you have any cool usage examples for these?

[2020-08-04 01:06] emilypi commented on #3547
@djspiewak I wrote these down in the headers to the modules and in the README for that  package:

### Can:

`Can` is a pointed product. This means it's a discrete limiting diagram `Hask -> */Hask` from `Hask` to the category of pointed spaces (the slice category of `Hask` under the terminal object), which preserves the usual associativity, symmetry, and distributivity over pointed coproducts that

[2020-08-04 16:58] djspiewak opened #3550 "FreeT is stack-unsafe"
...somehow.

[code]

That goes on for a while and turns into an SOE. Staring at the source code, it *looks* like a recursive `flatMap` is causing it, but it's hard to say exactly.

[2020-08-08 14:23] #2130 closed

[2020-08-09 14:06] #1070 closed

[2020-08-11 18:42] alissapajer commented on #3550
Exciting! Do you have a reproduction?

[2020-08-11 22:35] djspiewak commented on #3550
Nothing minimized! I did discover it was a straight-up recursive definition though. I'm guessing that it's a left-associated bind where the recursion is on the left side. That's something that `FreeT` should still be fine with, but apparently it isn't handling that case (or something like it) very well.

[2020-08-12 08:36] cb372 opened #3563 "Scalafix rule to help migration to 2.2.0"
I'm really looking forward to upgrading to 2.2.0 and deleting all my `cats.instances.*` imports!

Is it worth providing an official scalafix rule to help people do this?

It could be just a simple grep to delete all `import cats.instances.*` lines, or it could be a bit smarter and also delete `import cats.implicits._` lines that are only being used to import instances, not syntax.

[2020-08-12 17:46] cb372 commented on #3563
Started work on a rule here: https://github.com/cb372/cats/tree/scalafix-rules-2.2.0

Now I just need to draw the rest of the owl...

[2020-08-12 17:53] joroKr21 commented on #3563
There was an issue with `Future`'s instances through.

[2020-08-13 08:48] cb372 commented on #3563
Yes, I saw the discussion about that. I think it should be pretty simple to make the rule do special handling for `Future` instances.

[2020-08-13 16:02] fthomas commented on #3563
It would be great to add this migration rule to [Scala Steward](https://github.com/scala-steward-org/scala-steward/blob/master/docs/scalafix-migrations.md) so that it can be used for the PRs that update Cats to 2.2.0.

[2020-08-13 16:53] cb372 commented on #3563
Sure! If my PR gets merged, I'll make a PR to add it to Scala Steward.

[2020-08-14 11:41] travisbrown opened #3568 "toRightAssociated test failure in CI"
Just noticed this test failure in [this job](https://travis-ci.org/github/typelevel/cats/jobs/717834344) for #3567, probably related to #3527:

[code]

I don't personally think this should block the next release candidate, but we should look into it. @johnynek, any idea?

[2020-08-14 16:10] johnynek commented on #3568
I'll try to debug today and send a PR.

[2020-08-14 19:04] travisbrown commented on #3568
@johnynek Thanks! For what it's worth I spent five minutes trying to reproduce the error locally by setting the seed and the test didn't fail, so it might just be a matter of lower `-Xss` settings or whatever on Travis CI?

[2020-08-15 07:22] #3568 closed

[2020-08-16 18:23] johnynek commented on #2680
I think #3521 closes this. I don't think we need to import TreeList from cats-collections to get this, Chain is enough.

[2020-08-16 18:23] #2680 closed

[2020-08-17 09:03] barambani commented on #3536
Referencing relevant discussion here https://github.com/typelevel/cats/pull/3566#issuecomment-674367117

[2020-08-19 14:50] #3536 closed

[2020-08-24 15:01] gagandeepkalra commented on #3512
is it okay if I attempt this?

[2020-08-25 15:31] seigert opened #3583 "Either's `ApplicativeError.ifA` sometimes return wrong branch"
I'm not even sure this is a right repo for this issue and looking at code I could not determine what is the could cause this, but...

The following ammonite test script fails first test:

[code]

Versions: AdoptOpenJdk 8u265 & OpenJDK 11.0.2, Scala 2.13.3, kind-projector 0.10.3, cats 2.1.1, scalatest 3.2.2, scalatestplus-scalacheck-1-14 3.2.2.0, scalacheck 1.14.3

---
Edit: add Ammonite script to

[2020-08-25 21:11] djspiewak opened #3584 "Override *> / <* in Monad"
At present, they delegate down to `ap` and `pure` and `Function1`, which in turn delegates down to `flatMap`. It would be a nice efficiency win to override these to correspond directly to `flatMap`, similar to `>>`

[2020-08-26 05:39] fthomas commented on #3583
`A.ifA(Right(b))(Right(1), Left("left"))` always returns `Left("left")` independent of the value of `b` because the [implementation of `ifA`](https://github.com/typelevel/cats/blob/7c07f71e73e691469d07e79044674c325c7daaa7/core/src/main/scala/cats/Apply.scala#L256-L258) always combines of the effects of the condition and both branches. Since it is defined on `Apply`, there is no way to not take the

[2020-08-26 10:14] seigert commented on #3583
I'm not sure I follow: what the point of `ifA` if it only ever returns `else` branch? Then it would be equivalent to `map(product(fcond, product(ifTrue, ifFalse)){ case (_, _, false) => false }`

`Apply.ifA` implementation clearly includes auxiliary function [`ite`](https://github.com/typelevel/cats/blob/7c07f71e73e691469d07e79044674c325c7daaa7/core/src/main/scala/cats/Apply.scala#L257) which in o

[2020-08-26 11:06] fthomas commented on #3583
It returns the else branch because that is a `Left`. If the condition or any of the branches is a `Left` the whole expression evaluates to a `Left`. Only if all three are `Right`s you'll get the result of `ite`.

`ite` has type `def ite(b: Boolean)(ifTrue: A, ifFalse: A): A`. `A` is `Int` in your case, so it can't be `if (b) Right(1) else Left("left")`. `ite` can only be called if there are two `I

[2020-08-26 13:31] seigert commented on #3583
Yeah, I think I understand: `ifA` defined through `ap2` and `ap2` defined via `map` and `product` and both of them only ever continue evaluation in case of `Right`'s and short circuit in case of `Left`. And as soon as we introduced already evaluated `Left("left")` to `ifA`, `product(fa, product(fb, ff))` will became `Left("left")` an so on.

Thanks!

[2020-08-26 13:31] #3583 closed

[2020-08-26 22:17] SimY4 commented on #3584
Can I take a stab at this one?

[2020-08-26 22:37] LukaJCB commented on #3584
Go for it!

[2020-08-26 23:44] SimY4 commented on #3584
I experimented a bit with this and it seems that cats 2.1.1 is already working like you suggested.

`Apply` methods `productL` and `productR` already overridden in `FlatMap` so whenever you use `Apply` syntax for `Monad` or `FlatMap` type class, you get `flatMap` semantics there.

Or maybe I misunderstood the problem.

[2020-08-28 10:38] SimY4 opened #3587 "Future Apply to regain parallelism"
I noticed that because Monad instance for scala Future is not defining its own apply method (ap, ap2, map2, product, productL, productR), their implementation is coming from `FlatMap` typeclass where they are defined in terms of flatMap.

Which in turn cause that `Apply` composition of Futures actually has sequential semantics rather than parallel as you would expect.

We should probably override

[2020-08-28 10:42] joroKr21 commented on #3587
Actually once a future is created it is already running, so `mapN` and `sequence` are parallel, but `traverse` is sequential.

[2020-08-28 10:55] SimY4 commented on #3587
My bad, I can see that Future itself internally is just doing flatMap on them.

[2020-08-28 10:55] #3587 closed

[2020-08-28 14:38] djspiewak commented on #3587
This is an interesting discussion, but just to be clear, there are *two* possible `Apply`s for `Future`: one defined in terms of `flatMap`, and another defined in terms of `zip`. However, *by law*, `ap` needs to be defined in terms of `flatMap`, otherwise you could change your program significantly by refactoring. For example:

[code]

These should be the same program, right? Except one of them is

[2020-08-28 14:41] joroKr21 commented on #3587
But this breaks down when it comes to `Future` because `fa >> fb` and `fa *> fb` could in practice make the difference between sequential and parallel (depending on whether `fa` and `fb` are vals or defs).

[2020-08-28 14:45] djspiewak commented on #3587
Right, `Future` is basically just a terribly confusing type. :-) It isn't referentially transparent in conventional usage, so you can poke holes in pretty much every possibly "safe" refactoring (up to and including functor identity). This is kind of a fundamental problem with `Future` though, but I think it's important not to make it *even worse*. :-)

On a prior art note… Scalaz used to define `a

[2020-08-29 14:14] shomatan commented on #3116
Hi, I'm trying to run `sbt docs/makeMicrosite` on the master branch(latest). But it fails with the following error.

[code]

What should I do?

[2020-08-29 22:11] dhinojosa commented on #3523
Can I take this? I had been doing some trials on this, and this would help me understand them a bit better @Daenyth @barambani

[2020-08-29 23:22] Daenyth commented on #3523
@dhinojosa Absolutely! Please hop on gitter and ask around if you run into anything you want help with while working on it. We're always very happy to have new contributors, and documentation makes the library better for all users :)

[2020-08-30 11:32] barambani commented on #3523
brilliant @dhinojosa , thanks for doing it

[2020-08-30 21:35] dhinojosa commented on #3523
Thanks all, I have been meaning to add and join for a long time

[2020-09-02 21:38] #3563 closed

[2020-09-03 22:22] dhinojosa commented on #3523
`ApplicativeError` is up for approval. #3593

[2020-09-04 02:38] aherrmann13 opened #3594 "No instance of Invariant for Numeric"
I can't find an instance of `Invariant` typeclass for `Numeric`.  Is there a reason this does not exist?  If not I can go ahead and implement it

[2020-09-04 21:06] keynmol commented on #2927
I'll try to give this a go (if anything, add my username to the tombstone of people that tried), because I've done the same thing for my ongoing migration of squants' docs

[2020-09-06 12:38] keynmol commented on #2927
@travisbrown regarding faster feedback, I've realised mdoc allows argument override when you shellout to Mdoc process:

[code]

Which means you can run mdoc in watch mode (hot compiler, much faster recompilation), and also run on individual files and folders.

This helps a lot

[2020-09-08 13:30] keynmol commented on #2927
This should be ready: https://github.com/typelevel/cats/pull/3595

[2020-09-09 15:35] benkio opened #3599 "`doc/makeMicrosite`, tut compilation errors"
Hi there,
I just cloned the repository, compiled and I was generating the site running `doc/makeMicrosite`, but I got quite some errors. Mainly about non-exhaustive pattern matching. I paste the errors in here, without all the output. Does anyone knows why? Am I doing something wrong?
Thank you in advance for your help
[code]

[2020-09-09 22:23] dhinojosa commented on #3599
Yes, I got the same, I am wanting to update with ApplicativeError and MonadError. There is a #2927 which will replace tut with mdoc.  As soon as that is updated we probably will have a better experience with docs. ;)

[2020-09-10 04:11] dhinojosa commented on #3523
Waiting until the mdoc #3595 is approved and I will write the docs in mdoc.

[2020-09-10 12:14] benkio commented on #3121
Hi there,
I'm interested in picking up this one since is a first issue + not a high priority one.
Right now, I cannot compile the microsite because of #3599, but I think I can start anyway.
I have a couple of questions:
- Where do you think is the right place for the page on the site?
- Can we have a quick, first, groom about the content of the list at point 2?
thank you :pray:

[2020-09-10 12:40] kailuowang commented on #3121
Thanks so much!
I am thinking, for the recipe list, we can start with a couple of examples as a good start for the community to contribute more (which we might be able to solicit on SNN regularly).
Some other quick examples I can think of (of course they might be expanded a bit).

* How to retry an effect? Take a look at Cats-retry
* How to properly do logging? Take a look at log4cats
* How to aut

[2020-09-10 12:47] benkio commented on #3121
Additional question :sweat_smile: , for the libraries list:

Do we want to unify all the projects and libraries using `cats` in a single place, and then go on the other pages and just put a link there, like the links you inserted above, or do the other way around (putting links to the other lists in this new page)?

I'm Asking because I think we should avoid duplication

[2020-09-10 13:46] kailuowang commented on #3121
IMO I wouldn't worry too much about the duplication across projects. A central place is useful searching libs in the ecosystem while each project might have their own reason to have a libraries list and they can decide if they want to link to the central one.

[2020-09-10 17:13] ChristopherDavenport commented on #3121
Here is a gist I wrote a little bit ago with my libraries available. If anyone reminds me I can check and add more when I inevitably end up creating more.

https://gist.github.com/ChristopherDavenport/5b900d471922b4da5de7a3dc51edd8d8

[2020-09-10 18:16] benkio commented on #3121
Great!
I will check that out ASAP to see if I miss some.
At the moment I'm using gists as well while waiting for the doc to be migrated 😉

[2020-09-11 18:20] #2927 closed

[2020-09-11 18:33] keynmol commented on #3599
@benkio can you try again on latest master? #2927 has just been merged and should make things better

[2020-09-12 11:49] benkio commented on #3599
That's a great news, thank you.
Just tried right now and I got no errors, BUT, the generated microsite seems to have problems linking the resources!
I paste in here the commands I run, the output and the screenshot of the site (without css and resources)

I followed the instructions in here: https://github.com/typelevel/cats/blob/master/CONTRIBUTING.md#generating-the-site
Plus I also run a `rm -rf

[2020-09-12 12:00] keynmol commented on #3599
@benkio ah, that's a fun one.

Basically cats has a setting for the [base url](https://github.com/typelevel/cats/blob/master/build.sbt#L185) and that setting is respected when the microsite gets published from SBT.

But when you run it directly via jekyll, every asset is referenced at the wrong path.

So you need to force jekyll to run it at a particular path:

[code]

Which I checked on master an

[2020-09-12 13:08] benkio commented on #3599
hi @keynmol,
you're right, with that command now it looks fine :wink:

Then I will produce a PR with that change to the Contributing.md and close this Issue as well
Thanks

[2020-09-12 14:20] benkio commented on #3121
I share with you the screenshot of the first version of the page. Any feedback is appreciated.
I have just a couple of concerns:
 - I feel we should wrap the head around the _How to_ section since right now it only has the Q/As @kailuowang suggested above.
 - At the moment I created a standalone page that appears into the menu as well. Let me know if you want to put that in an existing menu item o

[2020-09-14 04:43] #3599 closed

[2020-09-16 19:44] #2093 closed

[2020-09-17 15:31] benkio commented on #625
https://typelevel.org/cats/api/cats/data/WriterT$.html

Scaladoc already exists. I could write a page about the most common Monad Transformers since I don't find any on the site!
:wink:

[2020-09-17 15:48] benkio commented on #1801
I take `WriterT` as requested here #625 as well :wink:

[2020-09-20 11:49] benkio opened #3613 "Question: Unnecessary `Applicative`, required just `Functor`"
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/WriterT.scala#L330

In here `liftF` requires an `Applicative`, but it just uses `map`, why just don't require a `Functor` instance?
Cheers

[2020-09-20 13:06] #3613 closed

[2020-09-22 10:56] tmccarthy commented on #3594
Related are #3220 and #3222.

[2020-09-26 21:41] dhinojosa commented on #3523
PR up for review.
https://github.com/typelevel/cats/pull/3616

[2020-09-27 05:53] #3494 closed

[2020-09-27 15:37] montrivo opened #3617 "alleycats - no default instance for Empty[Option[T]] if T is not a monoid"
There is no default instance for `Empty[Option[T]]` if `T` is not a monoid. But there is one for collections.
Would it make sense to add an `Empty[Option[T]]` instance that behaves like the collection default ones?

[code]

[2020-09-30 14:44] adrian-salajan commented on #3617
If I'm not misunderstanding something,
work for me with 2.2.0

[code]

[2020-09-30 15:46] montrivo commented on #3617
Indeed, I got confused while trying to minimize the example. I'll rewrite the example with a type for which a Monoid wouldn't make sense.

[2020-10-01 14:42] #1222 closed

[2020-10-01 15:15] djspiewak opened #3622 "Follow up to Seq Instances"
They don't appear to be working quite correctly? Follow up to #3620

[code]

I'm guessing we need to add some tests here and see if we can introspect what's going on, but I would have expected this to work.

[2020-10-01 15:21] djspiewak commented on #3622
Update to the above: these are Scala 2.12 problems. On Scala 2.13, more of it works:

[code]

So the semigroup syntax still doesn't quite work, but the monad resolution does. The final expression though is something we should probably talk about, since I think a lot of us would have expected that to fail to compile.

[2020-10-01 16:27] joan38 commented on #1222
Damn! Finally!
Thanks @JosephMoniz

[2020-10-02 17:05] JosephMoniz commented on #3622
For 2.12 `Seq` aliased `mutable.Seq` and in 2.13 it now references `immutable.Seq`. This just means that to use these typeclasses pre 2.13 you need to explicitly convert your datastructures to `immutable.Seq`. I think most people were previously getting around this by explicitly converting to either `List` or `Vector` and in 2.12 land they should continue to do that imo.

The way to make it work w

[2020-10-06 18:56] samidalouche opened #3628 "Spark 3 / Cats 2.2.0 classpath issue"
A small project with minimal dependencies as well as instructions on how to reproduce the issue is available at:

https://github.com/samidalouche/spark3-cats220

Executing this code works fine with cats `2.1.1` but fails with cats `2.2.0`, which is quite surprising since the spark and cats dependencies are pretty much distinct from each other.

[code]

Thanks in advance for looking into this.

I s

[2020-10-06 19:50] Wosin commented on #3584
I think the idea here is to overwrite the `*>` and `<*` inside `Monad` to directly call `flatMap`, but correct me if I'm wrong @djspiewak

[2020-10-06 22:45] SimY4 commented on #3584
@Wosin @djspiewak that's what already happening. `<*` and `*>` are just syntax extensions for Apply.productL and Apply.productR which has overrides in `FlatMap` type class. I believe Monad can't make them more effective that implementation provided in FlatMap.

[2020-10-09 19:05] djspiewak commented on #3622
This is compelling, IMO. We shouldn't implement the instances for `mutable.Seq` (they wouldn't be lawful anyway). The mutable/immutable `Seq` aliasing issue is a common issue pre-2.13, so this is just another instance of it. Cool!

[2020-10-09 19:05] #3622 closed

[2020-10-10 07:23] SimY4 opened #3632 "cats foldable syntax unnecessarity has Foldable implicit in its signature"
when you import:

[code]

You got two methods which look very similar in terms in what they do:

[code]

In case of a second one, it's not necessary to capture Foldable at the point of invocation. Because Foldable typeclass was already established prior to this point. It also providing monoid instance explicitly harder because of additional Foldable instance that I have also supply.

[2020-10-10 17:26] JosephMoniz commented on #3584
Ah yeah, `productR` and `productL` already are overridden on `FlatMap` here:
https://github.com/typelevel/cats/blob/76edb1094331e610e4913ad3c0e393e066bbf373/core/src/main/scala/cats/FlatMap.scala#L100-L104

The question is, do these overrides get picked up and used when a `FlatMap` instance is in scope?

[2020-10-12 02:51] SimY4 commented on #3584
@JosephMoniz yes, if `FlatMap` is in scope.

[2020-10-12 05:01] djspiewak commented on #3584
Ah interesting! I'm not sure why I was seeing the non-overridden variants in my testing, but they are clearly there. I'm going to close this because Monad can't do any better than what's already in FlatMap.

[2020-10-12 05:02] #3584 closed

[2020-10-12 19:47] #625 closed

[2020-10-13 14:54] Jasper-M commented on #3628
Spark seems to have a (possibly transitive) dependency on cats-kernel 2.0.0-M4 (!) which seems to be confirmed by that stacktrace and [this list of dependencies](https://github.com/apache/spark/blob/v3.0.1/dev/deps/spark-deps-hadoop-2.7-hive-2.3#L29).

[2020-10-13 14:59] samidalouche commented on #3628
@Jasper-M Thanks, you are right indeed. Spark 3 has a dependency on cats-kernel_2.12-2.0.0-M4.jar that spark 2.4 did not have. Thanks for looking into this.

[2020-10-13 15:04] Jasper-M commented on #3628
Looks like spark-mllib depends on breeze 1.0 which depends on a milestone version of Spire and so on.

[2020-10-13 15:33] djspiewak commented on #3628
This definitely needs to be reopened on Spark's issue tracker. Cats doesn't guarantee binary compatibility with milestones. If they can update their dependency to at least 2.0.0, the problem will go away. In the short term, users can probably work around this by `exclude`ing the transitive dependency coming in via Spark.

[2020-10-13 15:33] #3628 closed

[2020-10-13 19:53] djspiewak commented on #3628
Holy crap…

[2020-10-16 14:54] mcanlas commented on #3628
Better double check that Spark is working on it since the filed issue (Spark side) is currently closed.

[2020-10-17 12:41] larsrh commented on #2553
Full Dotty support has landed in #3636.

[2020-10-17 12:41] #2553 closed

[2020-10-18 13:25] JosephMoniz commented on #3632
I think either I might be interpreting the code in master wrong or I'm having a hard time understanding the issue. @SimY4 could you please link to the problematic lines of source more explicitly?

[2020-10-18 19:34] dhinojosa commented on #3523
PR up for review for `MonadError`, let me know what you think @Daenyth. I haven't added your tupling recommendation yet that you suggested in the previous PR.

#3639

[2020-10-19 03:25] SimY4 commented on #3632
@JosephMoniz There are two sources for foldable syntax. One is generated by simulacrum here:

https://github.com/typelevel/cats/blob/61a4a4641f084e8ad8d9fd5a52aed71b5022250d/core/src/main/scala/cats/Foldable.scala#L924

The other one is custom:

https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/syntax/foldable.scala#L9

In custom one foldable evidence is provided at the moment

[2020-10-19 12:43] JosephMoniz commented on #3632
ah, I see it now.

From a first glance, it would appear to be the case that the reason for not capturing the foldable instance on syntax lookup would be to preserve the AnyVal semantics of the FoldableOps enhancement class. Adding an additional capture would cause AnyVal to break and boxing to always happen.

The tradeoff here is ergonomics vs allocation minimization.

In this case though, if the

[2020-10-19 13:03] joroKr21 commented on #3632
To be honest I always wondered if that is better or worse.
What if the instance itself incurs allocations (`implicit def`), wouldn't we then allocate it twice?

[2020-10-20 15:17] larsrh commented on #2319
Since nobody has worked on this for quite a while, I'm closing all old CI-related PRs.

[2020-10-20 15:17] #2319 closed

[2020-10-21 14:27] kubukoz opened #3643 "Add `.sum` method on Foldables using `scala.Numeric`"
It would be good to have to enable summing NonEmptyLists like standard collections, similarly with other structures.

[2020-10-21 14:27] kubukoz commented on #3643
cc @hmemcpy

[2020-10-21 14:29] kubukoz commented on #3632
@joroKr21 we will do that regardless of whether the constraint is on the class or on the method - call that def as many times as many extension-method-calls are made.

[2020-10-21 14:30] hmemcpy commented on #3643
Thanks! Yeah, I migrated some code from `List` to `NonEmptyList` and had to scratch my head for a second about `.sum` being an extension for `SemigroupK`. Replaced with `.reduce` and carried on, but it would be good to have `.sum` on a NEL that works as `List.sum`

[2020-10-21 14:37] joroKr21 commented on #3632
@kubukoz I mean that for each call we will allocate `Foldable` (if it's an `implicit def`) twice rather than once:
[code]

And I tend to agree that a missing implicit error is easier to solve. On the other hand it will cause some pollution because you will have those methods available for any `F[A]` but I think that is the lesser evil.

[2020-10-21 14:40] kubukoz commented on #3632
Oh, I see. Yeah, that'd be twice and it's not cool

I suppose this can be avoided by using selective syntax imports, which many IDEA users do (not as many Metals users AFAIK, personally I have seen the performance impact is very low and it doesn't hurt as much to see more methods to choose)

[2020-10-21 15:10] kubukoz commented on #3643
Oh no, I didn't realise it was SemigroupK syntax... we'll need to find another name to avoid conflict, then.

[2020-10-21 18:37] kubukoz commented on #3643
I would suggest `addAll`.

And now that I think about it, we should have `product` too, but that's definitely overloaded as well from Semigroupal. So I'm thinking `addAll` / `multiplyAll` or `sumAll` / `productAll`.

[2020-10-22 11:00] larsrh opened #3645 "Microsite not automatically updated"
I wonder why nobody has noticed this before, but the last update was in November 2019.

[2020-10-22 11:01] #3121 closed

[2020-10-22 17:28] Lealea9 commented on #3643
Lange hab ich mich mit den Codes rumgeschlagen, jetzt beschäftige ich mich lieber mit Eigentumswohnungen. Zum Beispiel die von [www.vandenberg-berlin.de/eigentumswohnungen/](url).

[2020-10-22 19:33] LukaJCB commented on #3643
Deleted a comment that was spam

[2020-10-28 20:16] johnynek commented on #3643
I would really rather we not use scala.Numeric. I think we should instead be using Ring from algebra, which we have talked about merging into this repo as a separate subproject.

[2020-10-30 01:11] bbstilson opened #3650 "Add `grouped` to NonEmptyCollection"
I chatted with @johnynek on Gitter about adding this. For example, in Scala one can call `grouped` on any `Iterable`:

[code]

My current plan is for grouped to return an `Iterable[NE[A]]`, but I'm also open to returning the same collection type, e.g.,`NE[NE[A]]`. As for handling invalid grouped size, I am open to ideas. I'm not a fan of throwing exceptions. One option is to make the name obvious,

[2020-11-02 00:49] johnynek commented on #3472
I noticed this, and it seems that SelectiveZero is enough to absorb option:

https://github.com/snowleopard/ideas/blob/7692eba70758a48cf2dc9224627df906fe078a9b/src/SelectiveZero.hs#L41

[2020-11-03 09:47] fixxer opened #3662 "Typo in the OptionT#foldF scaladoc"
According to the signature, the scaladoc should say "Transform this OptionT[F, A] into a F[B]"

[2020-11-03 09:47] fixxer commented on #3662
https://github.com/typelevel/cats/pull/3661

[2020-11-03 19:30] kubukoz commented on #3650
I think we'll be fine with a runtime check on `size`, we do that on `Monoid.combineN`, AFAIK. Users will be able to use a refined type on their own, plus `refined.auto._` for convenient auto-unwrapping.

[2020-11-03 19:43] djspiewak commented on #3645
It should be possible to layer this on top of the gh actions change I just made

[2020-11-04 08:21] hmemcpy opened #3663 "unapply for NonEmptyList (and friends)"
I wonder why there aren't any `unapply` functions on structures like the NEL? It would allow me to safely operate on lists in pattern matching without explicitly wrapping them in NEL, e.g. given:

[code]

Then I could use it like:

[code]

Any reason not to include it?

[2020-11-04 09:45] fixxer commented on #3662
https://github.com/typelevel/cats/pull/3661 was merged

[2020-11-04 09:45] #3662 closed

[2020-11-08 11:01] oybek opened #3670 "foldLeftWhile method"
Very often I meet cases when I need to do foldLeft, but interrupt it if I got some acc value

May be add method:

[code]

which does foldLeft until predicate on acc is true

[2020-11-10 17:30] Lealea9 opened #3676 "Wie habt ihr euch abgesichert?"
Ich informiere mich derzeit über Eigentumswohnungen u.a. von [www.vandenberg-berlin.de/eigentumswohnungen/](url), könnt ihr mir Tipps geben?

[2020-11-10 18:02] LukaJCB commented on #3676
spam

[2020-11-10 18:02] #3676 closed

[2020-11-15 19:42] yangzai opened #3684 "Inconsistent `ApplicativeError` behaviour for `OptionT[F[_], A]` / `EitherT[F[_], A, B]` if `F[_]` also has an `ApplicativeError` instance"
For example, if `F[_]` is `Either[Throwable, *]`, there would exist 2 instances of `ApplicativeError` for `OptionT[Either[Throwable, *], *]`:
[code]
The instance derived from `F[_]` would be higher in priority and this would result in inconsistency with the default behaviour (when `F[_]` does not have an `ApplicativeError` instance), e.g.:
[code]

The same issue exist for `EitherT`:
[code]

[2020-11-15 21:17] djspiewak commented on #3684
This is basically by design, though it's fair to argue whether or not it's intuitive or correct. When you nest EitherTs, you will, by definition, get several MonadError instances out of it. Cats prioritizes these so that it doesn't cause ambiguity, but it can feel a bit arbitrary at times.

[2020-11-15 22:19] joroKr21 commented on #3684
But if you use `ApplicativeError[EitherT[Either[Throwable, *], Throwable, *], Throwable]` it will derive the outer one, not the inner one so that has higher priority I believe.

[2020-11-16 05:21] yangzai commented on #3684
@joroKr21 You are right, the priorities are reversed for `EitherT`, which is still confusing that they are different.

@djspiewak In my case I was looking for a neat way to handle both errors but in @joroKr21 's example where the error types are the same there would be no way to explicitly summon the alternative instance either. Maybe in Scala 3 something like `ApplicativeError[OptionT[Either[Thro

[2020-11-16 22:41] djspiewak commented on #3684
IMO as long as it's unambiguous, it's okay, but I think we can hold off on closing it until we hear others' opinions.

[2020-11-19 12:18] bastewart opened #3687 "`whenA` and `unlessA` by-name makes syntax inconsistent with typeclass"
`Applicative.whenA` and `Applicative.unlessA` are defined using a by-name argument. Syntax extension is via a value-class though which naturally can't use a by-name in it's constructor. This means that calling `whenA` is either eager or lazy depending on whether it is called from the typeclass (lazy) or the syntax (eager).

Definition:
[code]

Syntax:
[code]

I had a brief discussion with @SystemF

[2020-11-19 16:53] djspiewak commented on #3687
This is fixable but keeping bincompat is complicated

[2020-11-19 17:01] SystemFw commented on #3687
how to fix is also up for debate, and hinges on some I think fundamental aspects of what cats aims to do, which I want to stress is different from cats-effect.

As an example
[code]

[2020-11-19 18:03] djspiewak commented on #3687
I tend to think of by-name as being justified only when we're expecting users to apply combinators in recursive contexts and the combinator implements internal branching. In this case, `whenA` doesn't implement internal branching (though I would expect it in a recursive context), so I'm tentatively on the side of "it should have always been eager".

Conversely, `>>` is almost constantly used in re

[2020-11-19 19:07] joroKr21 commented on #3687
But it does implement internal branching:
[code]

[2020-11-19 20:52] djspiewak commented on #3687
Oooooh I was thinking of ifA. So then yeah, if it's commonly expected to be used in a recursive context, then I think the laziness is justified.

[2020-11-20 07:41] nigredo-tori commented on #2327
I'd say this is due to these classes being `private[syntax]`.

[2020-11-20 08:07] m50d commented on #2327
Well, I'm not too concerned about the details of how it's implemented, but `mapN` is an important API that ought to have scaladoc available *somehow*.

[2020-11-20 14:13] keirlawson opened #3689 "addLeft/addRight convenience methods for Iors?"
Whilst contributing to a cats-based codebase that makes extensive use of Iors (https://github.com/gemini-hlsw/gsp-graphql/pull/96) I found myself needing a "addLeft" function, which given an Ior would either `combine` the new value with the existing LHS or in the case where it was a `Right`, turn it in to a `Both` with the new value on the left, ie

[code]

Would this be something that would make

[2020-11-20 17:24] arosien commented on #2327
I removed the `private[syntax]` and then `mapN` and friends appear in the scaladocs:

[code]

![index_html_search_mapn](https://user-images.githubusercontent.com/31163/99830147-254ad900-2b12-11eb-80f8-1f9736884af2.png)

[2020-11-20 17:49] arosien commented on #2327
I'm not sure why the implicit classes are marked private in the first place.

[2020-11-20 20:00] #3670 closed

[2020-11-20 20:01] oybek commented on #3670
foldLeftSome exists

[2020-11-22 04:52] LukaJCB commented on #3689
Sounds like a good addition to me :)

[2020-11-22 14:22] larsrh opened #3690 "Sponsor logos are broken in README (and on website)"
![Screenshot_2020-11-22 Cats Home](https://user-images.githubusercontent.com/923079/99906303-96d38480-2cd6-11eb-8a89-613c4b020e21.png)

[2020-11-23 17:31] LukaJCB commented on #2327
Yeah I think that PR would be appreciated, I wonder why they were marked private too

[2020-11-23 17:52] joroKr21 commented on #2327
Probably to prevent anyone from using them explicitly 🤷

[2020-11-25 17:26] #3353 closed

[2020-12-06 09:48] #3689 closed

[2020-12-06 10:16] #3400 closed

[2020-12-06 11:23] channingwalton commented on #3400
Awesome, thank you.

[2020-12-07 14:34] kubukoz opened #3707 "Add Free.liftK, Free.liftId"
I think these would be quite useful:

[code]

[2020-12-08 03:43] rossabaker commented on #2745
Here's a real-world, open-source Selective use case: https://github.com/typelevel/cats-parse/pull/101

[2020-12-08 04:09] johnynek commented on #2745
I think it is pretty clear that Selective is as useful as many of the typeclasses in cats.

One thing I would vote for: I don't see the value in making a default implementation from Selective using Apply. If you don't get laziness in the second parameter, I don't see a big win of Selective and would rather encode such eager methods directly on Apply.

I think the paper calls these "tight". I think

[2020-12-09 17:39] phongngtuan commented on #3707
Hi, can I pick this one up?

[2020-12-09 18:07] kubukoz commented on #3707
Go ahead ;)

[2020-12-09 18:40] tpolecat commented on #2041
@larsrh and I had a quick chat and it seems like we can set this aside for now (since there seem to be some design issues to work out), which would allow Someone™️ to go ahead and get algebra working on Scala 3, which will then unlock Spire (which is likely to be a lot of work so it would be good to get going on it).

[2020-12-09 20:23] muskan3006 commented on #2479
I'll pick Show

[2020-12-10 14:52] txsmith opened #3712 "Applicative functions like map2, product, etc are defined in terms of flatMap"
in `FlatMap`, you'll find the following implementation for various functions:

[code]

This makes it such that whenever I define a `Monad` that has a parallel implementation of `ap`, none of the other functions will have the parallel behaviour!

Is there a reason these methods are defined in terms of `flatMap` and not in terms of `ap`?
For example, I would expect map2 to be implemented as:
[code]

[2020-12-10 17:02] djspiewak commented on #3712
This is why you don't want to do something like this. :-D

The relationship between `ap` and `flatMap` such that `ap(ff)(fa) <-> flatMap(ff)(f => map(fa)(f))` is actually by *law*; this is what `Monad` is defined to be. So if you're defining an `ap` which is magically parallel on an `F[_]` which forms a `Monad`, then you're violating that law, which will cause downstream code to break in very subt

[2020-12-10 19:40] txsmith commented on #3712
Thanks for the detailed info! That's interesting, I was not aware that this is an actual Monad law, but intuitively I can imagine this to be a desirable property. Out of curiosity, are there any known/documented cases where violation of this law has caused problems? I'm not sure I see an immediate and concrete problem given our use-case, especially since flatMap is still sequential and it would pa

[2020-12-15 19:56] johnynek commented on #3712
but @djspiewak I think this explanation misses something: equivalence does not mean it is equally efficient. I really don't see why anyone bothered to override these in FlatMap. They are already defined in Apply and it can be a deoptimization.

I had to override these methods in Parser cases, because, yes it is equivalent, but flatMap is expensive compared to product: you can skip calling a functi

[2020-12-15 22:37] djspiewak commented on #3712
Yes! `Future` is the canonical example, since it is relatively easy to implement `ap` against `Future` such that it is inconsistent with `flatMap` and magically parallel. However, this results in downstream surprises and unexpected performance characteristic shifts in the face of refactorings which would rationally be expected to be identity (e.g. `*>` vs `>>`).

Conversely, you don't actually kno

[2020-12-16 18:54] johnynek commented on #3712
I hear you Daniel, but if we reread the original question: he is saying he has a Monad that *does* have a parallel ap, but the way FlatMap has defaulted it has gone out of its way to destroy that parallelism.

If we were to minimize code, we would not have added these implementations, since by law, they are equivalent. So, we have already expended effort and added code under the belief that on bal

[2020-12-16 23:02] djspiewak commented on #3712
And what I'm saying is that monad is *already* broken and will cause other problems inevitably as people attempt to use it. Just as `Future` does if you don't carefully implement *its* `ap` in terms of its `flatMap`. Giving `ap` and `flatMap` divergent runtime semantics (such that these implementations are *not* at the very least substitutable absent performance questions) is kind of like giving `

[2020-12-17 02:38] johnynek commented on #3712
Daniel,

look man... you are too fixated on IO.

1. you can have perfectly lawful Monads where product is not implemented by flatMap, *yet given equivalent values despite non-equivalent runtime*. (e.g. Parser, Gen, Function0, Function1, etc...)
2. no one is saying to make them have different values that I can see. Please stop arguing against that since no one is proposing that in this particular t

[2020-12-19 12:22] larsrh opened #3719 "Potential trait encoding binary compatibility issues"
Since #3596, MiMa recognizes more potential binary compatibility issues. The cause for those is documented in that PR.

Eventually we should try to fix these problems, possibly in Cats 2.4.0.

[code]

[2020-12-19 12:56] #3707 closed

[2020-12-23 06:45] tplaskowski opened #3720 "Ambiguous implicit values for derived `Show` in 2.3.x"
After instances for `Seq` was introduced in 2.3.0 code such
[code]
started to fail with, a rather unfriendly, error:
[code]

The `Shown` derivation gives better error to understand what happened:
[code]
[code]

I suppose that this is because we need `ContravatiantShow[-T]` and you can easily fix the problem with importing the `List` instances. But it would be nice to either fix it somehow - maybe

[2020-12-23 21:30] djspiewak commented on #3720
This definitely seems like a rather serious oversight...

[2020-12-24 07:47] tplaskowski commented on #3720
I've just checked that the code above compiles if I will change `import cats.syntax.all._` to `import cats.implicits._`. So maybe it wasn't caught because people are not migrated yet?

[2020-12-25 14:30] SarpongAbasimi opened #3725 "Why is a List not a functor?"
I started reading the book scala with cats and it states that
`Option`, `List`, and `Either` are all functors.

<img width="563" alt="Screen Shot 2020-12-25 at 14 14 40" src="https://user-images.githubusercontent.com/37377831/103136814-a110e600-46bb-11eb-97dd-b22560497147.png">

I created a simple method

[code]
but this does not work because `List(1,2,3)` is not a functor
<img width="395" alt="Sc

[2020-12-25 20:14] rossabaker commented on #3725
A `List` is a `Seq` because there is a _subtype_ relationship: `sealed abstract class List[+A] extends AbstractSeq[A]`.  You can write code that is _polymorphic_ for `Seq`s -- in other words, you can give it a `List` or a `Vector`.   But that polymorphism extends only to types that _extend_ `Seq`.  That means that it only works for types that know about and are compiled against `Seq`.

By contrast

[2020-12-25 20:46] SarpongAbasimi commented on #3725
Thank you @rossabaker I think I understand it much better now.
so in short
`List`, `Option`, `Either` are not `Functors` per say, they can act as `Functors` when we do have their `Functor instances` in `scope`.

Which also means that the method below is actually wrong because we do not have a `type class` instance for a `Functor[Int]`.
[code]

[2021-01-09 18:01] bblfish opened #3729 "Serialization of Free Monads/Applicatives ?"
Nearly two years ago I asked on the Spotted Leopards repository (which was preparing cats for Scala 3) if it would be possible to [enable serialization of Free Monads](https://github.com/typelevel/spotted-leopards/issues/3) and got some very interesting answers. Perhaps some things have changed since then, so I thought I'd ask again.

Use Case: Essentially about 7-8 years ago I used Free Monads as

[2021-01-13 22:34] Slakah opened #3734 "CI Test Errors FiniteDuration antisymmetry"
Some CI failures on Scala 3.

CI failure from https://github.com/typelevel/cats/pull/3727 :
<details>
  <summary>Click to expand!</summary>

[code]
</details>

CI failure from https://github.com/typelevel/cats/pull/3730 :

<details>
  <summary>Click to expand!</summary>

[code]

</details>

[2021-01-14 20:40] rossabaker commented on #3734
Thanks for capturing these!  Note that in both cases, the arguments are equal, but have different units:

[code]

That suggests a problem with the `Cogen` instance, whereupon we find https://github.com/typelevel/cats/pull/3470, and its reversion in https://github.com/typelevel/cats/pull/3694.

Does the plot thicken with Scala 3?

[2021-01-19 10:08] majk-p opened #3741 "EitherT scaladoc"
Current description of `EitherT.rethrowT` says:

When you look at `attempT` it's:

And then `attempt`'s scaladoc actually explains the behavior. This introduces unnecessary difficulty of learning Cats to newcomers.

I'd like to extend `EitherT.rethrowT`'s scaladoc with something like:
[code]

WDYT? If it's okay, I'll prepare a PR.

[2021-01-19 21:18] LukaJCB commented on #3741
I think that would make a very reasonable addition, thank you @majk-p :)

[2021-01-20 07:19] majk-p commented on #3741
@LukaJCB great, the PR is ready :wink:

[2021-01-20 10:21] ruurtjan commented on #1549
Scala native 0.4.0 has been released, so I guess that removes a blocker from this issue :)
https://scala-native.readthedocs.io/en/v0.4.0/changelog/0.4.0.html

From the release notes:

[2021-01-20 12:58] kubukoz commented on #1549
I guess we'll worry about concurrency when we get Cats published and it's time to work on cats-effect 😅 AFAIK ZIO made it, so we might be able to as well.

[2021-01-20 16:43] #3741 closed

[2021-01-23 10:36] #3725 closed

[2021-01-24 12:36] lolgab commented on #1549
I'm interested in contributing to port the cats and other typelevel libraries to Scala Native.
Read [here](https://twitter.com/typelevel/status/1352970122785419265) about opening an issue on Github. Where am I supposed to open it?
Anyway, I openen a PR to add Scala Native to discipline-munit here: https://github.com/typelevel/discipline-munit/pull/73
It is already green on CI ✅

[2021-01-29 07:46] arashi01 commented on #1549
Okay so all cross module currently building and testing for me locally. See #3750

`discipline-munit` is the only think holding everything up. If someone can have a look at typelevel/discipline-munit#73 mentioned above, and cut a discipline-munit release then we can resolve this soon!

[2021-01-29 08:15] lolgab commented on #1549
@arashi01 There is `discipline-scalatest` too. If it's fine for you to depend on Scalatest `2.3.4-M1` I can send a PR there too, otherwise we can wait for Scalatest `2.3.4`

[2021-01-29 09:53] arashi01 commented on #1549
@lolgab I think easiest is to just wait for a `discipline-munit` release including your PR to be cut. I think the general direction is to move from Scalatest to MUnit, since MUnit has better support for current Dotty versions.

c.c @larsrh !

[2021-01-29 09:57] larsrh commented on #1549
I will take a look.

[2021-01-30 10:08] #2347 closed

[2021-01-30 10:09] larsrh opened #3751 "Clean out warnings from Dotty"
There's a bunch of warnings that Dotty emits, e.g. type tests that cannot be checked at runtime.

I suspect many of them can be resolved in a way that are compatible with Scala 2.

[2021-01-30 12:05] larsrh commented on #1467
I'm going to close this for now. In case there are any concrete instances missing, let's open dedicated issues for that.

[2021-01-30 12:05] #1467 closed

[2021-01-30 12:06] larsrh commented on #1297
Closing this one for inactivity. (Also it's too late to change anything like that now.)

[2021-01-30 12:06] #1297 closed

[2021-01-30 12:08] larsrh commented on #3594
Closed as duplicate of #3220.

[2021-01-30 12:08] #3594 closed

[2021-01-30 12:10] larsrh commented on #3143
I'm closing all 2.11-related tickets since there is not enough community interest in further releases.

[2021-01-30 12:10] #3143 closed

[2021-01-30 12:29] #543 closed

[2021-01-30 12:29] larsrh commented on #544
New macros are definitely out of scope now.

[2021-01-30 12:29] #544 closed

[2021-01-30 12:31] #1501 closed

[2021-01-30 12:31] #291 closed

[2021-01-30 12:32] #963 closed

[2021-01-30 12:32] #1941 closed

[2021-01-30 12:33] #1715 closed

[2021-01-30 12:35] #2210 closed

[2021-01-30 12:36] #1940 closed

[2021-01-30 12:36] #2633 closed

[2021-01-30 12:36] #2356 closed

[2021-01-30 12:37] #2601 closed

[2021-01-30 12:38] larsrh commented on #2296
Since 2.0 has been out for a while, this issue is no longer relevant.

[2021-01-30 12:38] #2296 closed

[2021-01-30 12:38] #2152 closed

[2021-01-30 12:39] #2381 closed

[2021-01-30 12:39] #2331 closed

[2021-01-30 12:40] larsrh commented on #2719
2019 is over :wink:

[2021-01-30 12:40] #2719 closed

[2021-01-30 12:40] #2849 closed

[2021-01-30 12:41] #581 closed

[2021-01-30 12:42] #2761 closed

[2021-01-30 12:43] #3286 closed

[2021-01-30 12:44] larsrh commented on #3247
Seems like this is not an issue any more.

[2021-01-30 12:44] #3247 closed

[2021-01-30 15:37] diesalbla opened #3755 "Functor: rename the `as` operator."
Scala 3 has redefined `as` as a keyword for pattern-matching, _as_ an alternative to the `@` operator.
https://github.com/lampepfl/dotty/issues/9829

The `Functor[F]` typeclass defines a method also called `as`, that we need to rename.

[code]

Here are some possible names, to open some suggestions:

- Haskell-inspiration: `$>` operator. https://hackage.haskell.org/package/base-4.14.1.0/docs/Data-

[2021-01-30 15:38] mpilquist commented on #3755
`as` is a soft keyword in Scala 3 and hence we don't need to deprecate it on Functor.

[2021-01-30 15:42] diesalbla commented on #3755
Provided that we may keep using `as` for this purpose, without

1. Do we want to keep a possible confusion with the Scala language? No keyword is
2. Is the `as` word the best name we can give this method? Normally, saying "take string as key" means that the string is the key; but this operator is about _modifying_ the contents or returns of the `F` to replace it with a constant value...

[2021-01-30 15:47] mpilquist commented on #3755
I'm definitely in favor of keeping `as` as-is. :)

That's why I clarified this on the PR that introduced the soft keyword: https://github.com/lampepfl/dotty/issues/9829#issuecomment-695786657

I suspect there might be other conflicts with other new soft keywords as well, but haven't gone through them exhaustively.

[2021-01-30 16:18] ashleymercer opened #3756 "Provide BoundedEnumerable[Byte] instance"
Following on from https://github.com/typelevel/cats-collections/issues/315 it seems that there is no `BoundedEnumerable[Byte]` instance but I think it should be easy to provide (following the same pattern as `Int`, `Long` and so on).

I'm happy to try to put together a PR for this, although might need some guidance on binary compatibility if it's an issue, since the obvious fix would be to make:

[2021-01-30 17:30] djspiewak commented on #3755
I think that we would probably choose a different name here for Cats 3, which is intended to be Scala 3-only, but we can just embrace the soft keyword for Cats 2.x

[2021-01-30 17:50] mpilquist commented on #3755
We can debate during Cats 3 development, but I'd object to changing `as` even then. The cost of changing such a commonly used name isn't worth the added clarity of new name.

[2021-01-30 20:55] joroKr21 commented on #2296
Dare I suggest cats 3.0 be only Scala 3.x+?

[2021-01-30 22:19] rossabaker commented on #2296
The thought of Cats 3 makes a lot of us chasing Scala 3 and Cats Effect 3 want to curl up under our desks, but it is important to have a roadmap.  I think that's a separate issue (or discussion) that should result in a doc on the site.

[2021-01-31 00:23] kailuowang commented on #2296
I drafted an evolution plan last year. @LukaJCB and I advocated that we only bring break binary compatibility changes to new scala major version (3.0 now).
I still believe that this is the only viable path for cats to evolve.

https://gist.github.com/kailuowang/81eafd4f6b0defa36d3ea179105f0bf2

[2021-01-31 02:01] rossabaker commented on #3756
I think that will be binary compatible.  Trying it and running `mimaReportBinaryIssues` is the way to be sure.

If it doesn't work, a strategy I've used before is to make the old value explicit and deprecated, and create the new implicit that you want.   But I don't anticipate that being necessary here.

[2021-01-31 09:29] larsrh opened #3757 "Cats 3 Roadmap"
Continued from #2296.

* @joroKr21 suggests that Cats 3 is Scala-3-only.
* @LukaJCB and @kailuowang advocated that we only bring break binary compatibility changes to new Scala major versions.
* @kailuowang [drafted a plan in 2019](https://gist.github.com/kailuowang/81eafd4f6b0defa36d3ea179105f0bf2).

[2021-01-31 09:29] larsrh commented on #2296
Let's discuss this in a new thread (#3757).

[2021-01-31 12:35] ashleymercer commented on #3756
@rossabaker `mimaReportBinaryIssues` came back clean so we should be good to go - thanks :)

[2021-01-31 13:44] joroKr21 commented on #3757
I think there is tension when relying on major Scala releases to sneak in breaking changes. When there is a new Scala release users and downstream libraries want to have a Cats release ASAP. This leaves us no time to experiment with new features of the language and making Cats better. Take for example Scala 3.0 - we're not using any of the features geared towards better FP (type classes, extension

[2021-01-31 16:26] larsrh commented on #3757
My take on this: we should strive to be cross-compatible for as long as possible between Scala 2 and 3. I'd personally think that we should wait after the Scala 3 final release for community uptake. Only then can we consider refactoring our code to be Scala-3-only. I'd rather avoid any kind of perceived pressure, even when Scala 3.1 comes out.

[2021-01-31 16:52] kailuowang commented on #3757
If Cats are allowed to evolve with breaking changes, the community has to pay some cost - think of the Scala collection breaking change in 2.13. Some argues that paying this cost on top of the cost of migrating to Scala 3.0 is too much burden for the community, and I agree that it's probably true, but my evalution is that the cost of trying to do it independent of Scala major release is inhibitive

[2021-01-31 17:08] djspiewak commented on #3757
My take: it's okay to break *binary* things under the surface between Scala 2 and Scala 3, simply because cross-compilation is already happening (see @kailuowang's point), but it's not okay to break *source* things simply because the churn is too intense. Cats 2 has a particular API surface area, and that API surface area should not change between Scala 2 and Scala 3 (and at present, it doesn't).

[2021-02-01 10:00] TimWSpence opened #3762 "Laws failure for Order[FiniteDuration]"
I got hit by this on https://github.com/typelevel/cats/pull/3747 (as certain as I can be that it's unrelated)

failing seed for order.antisymmetry eq is Ue31ofRHQVK9wcbnhBqISNebQdvZZhUREH6EgJBgjHB=
==> X cats.kernel.laws.Tests.Order[Duration]: order.antisymmetry eq  0.041s munit.FailException: /home/runner/work/cats/cats/kernel-laws/shared/src/test/scala/cats/kernel/laws/LawTests.scala:200
199:  c

[2021-02-01 17:33] #3756 closed

[2021-02-01 17:35] #2207 closed

[2021-02-01 22:26] ean5533 opened #3763 "NonEmptyChain.toList?"
When working with non-cats APIs I often find myself converting `NonEmptyChain`s into `List`s via `nec.toChain.toList`. I'm mildly surprised that this doesn't already exist in NEC:

[code]

Is there a good reason not to add it?

[2021-02-02 19:40] johnynek commented on #3757
So, I think the main scala 3 goodie I would like are putting the operators directly on the type class. I can't think of any major problems otherwise. What problems are you seeing with the type class encoding, @djspiewak ?

that said, the main win for users would be to avoid having to do the syntax import.

I think it would also be interesting to consider if some match types or inline methods could

[2021-02-02 21:13] djspiewak commented on #3757
It is effectively impossible to have multipath resolution. The infamous `: Traverse: Applicative` problem is almost the only instance of this in the current hierarchy, but Cats Effect has a *ton* of problems related to this. The CE hierarchy is distorted appreciably by the fact that it needs to be linear on top of `Monad`, and even with that distortion it still has effectively two encodings baked

[2021-02-02 21:49] johnynek commented on #3757
re: testing:

if we solved this issue:

https://github.com/scala-steward-org/scala-steward/issues/1877

then we could possibly use scala-steward to pull all the projects that depend on cats, bump to a snapshot version, and see if they compile (or maybe even have their tests pass). That would be pretty heavy weight for every PR potentially, but maybe before release we could do it.

[2021-02-02 22:54] joroKr21 commented on #3757
I think it's pretty clear that Cats is prime for a rewrite with Scala 3 features. Source compatibility should definitely be a goal but binary compatibility is just not possible. Still not clear to me is if we want to tie this to some future breaking Scala release or we can do this on our own timeline.

Curious, what do you have in mind? Note that in Scala 3 we can use regular scope (e.g. a local g

[2021-02-02 23:04] mpilquist commented on #3757
I'm not yet convinced of this and worry that if we assume it, we'll end up rewriting things that don't need to be rewritten. I agree the binary compatibility is not a target but source compatibility should be. Timeline wise, I think we're looking at 1-2 years in the future at the earliest.

[2021-02-02 23:04] joroKr21 commented on #3757
Actually source compatibility for implementing type class instances might be not so straightforward precisely because we would like to use extension methods.

[2021-02-03 11:41] diesalbla opened #3766 "Proposal: merge `cats-time` into `cats`"
[`cats-time`](https://github.com/typelevel/cats-time) is a microlibrary that implements instances of kernel typeclasses, such as `Show`, `Ord`, `Eq`, or `Hash`, for the classes of the `java.time` package. This package was introduced in version 8.0 of the JDK, in order to replace previous unsatisfactory classes (such as `java.Date`), and was derived from [`joda-time`](https://www.joda.org/joda-time

[2021-02-03 11:54] DavidGregory084 commented on #3766
Since cats already requires Java 8+ as of version 2.1.0 because it's only published for Scala 2.12+, I think this proposal is very sensible

[2021-02-03 20:11] djspiewak commented on #3766
The only major concern here would be around ScalaJS support.

[2021-02-03 21:33] diesalbla commented on #3766
In other projects there is a separation of sources that are JS-specific or JVM-specific. Perhaps we can do the same here?
As noted, this already happens with `UUID`.

[2021-02-03 21:52] rossabaker commented on #3766
Strong :+1:.  We shouldn't accept a lesser experience on our flagship platform when a feature is not supported by a secondary platform.  And for the Java 8 requirement, public support for Java 7 ended in 2015.

[2021-02-03 23:57] diesalbla commented on #3766
Taking existing support into account, I have opened issue to integrate this into the `cats.kernel`...

[2021-02-04 11:32] ashleymercer opened #3769 "Add BoundedEnumerable.reverse"
Following on from https://github.com/typelevel/cats-collections/issues/315 would it be sensible to add `BoundedEnumerable.reverse`, similar to `Order.reverse`?

[2021-02-04 12:41] TimWSpence commented on #3762
Actually I see this has been discussed previously in https://github.com/typelevel/cats/issues/3353.

I'm a bit confused by the law actually - it seems to me that it need not hold in general
[code]

This law relies upon the function `f` being well-defined (`x == y => f x == f y`), where equality is determined by `Eq`. But of course in Scala we can write ill-defined functions eg by pattern matching.

[2021-02-04 17:13] rossabaker commented on #3755
I also am unsure that it is even still a soft keyword as of M3: https://dotty.epfl.ch/blog/2020/12/18/scala3-m3.html#drop-as-in-patterns

[2021-02-05 07:17] larsrh commented on #3769
Happy to merge such a PR :slightly_smiling_face:

[2021-02-06 12:27] larsrh commented on #3762
Seems to be a duplicate of #3734.

[2021-02-06 12:27] #3762 closed

[2021-02-06 12:28] larsrh commented on #3734
@TimWSpence also observed this in #3762. I'm tempted to agree that either `antiSymmetryEq` should go, or the `Cogen` instance for `FiniteDuration` is borked.

[2021-02-06 12:32] larsrh commented on #3353
Now tracked in #3734

[2021-02-06 14:42] larsrh commented on #3734
Fixed by #3772.

[2021-02-06 14:42] #3734 closed

[2021-02-07 12:21] #1549 closed

[2021-02-07 12:23] larsrh opened #3775 "Remove some unneeded `Arbitrary` and `Gen` instances"
Follow-up to #3772.

ScalaCheck already provides instances for `Duration` and `FiniteDuration`. We should use them and delete ours. If it turns out that the ScalaCheck provided instances don't work for us, we should fix them upstream.

Requires deleting some lines in https://github.com/typelevel/cats/blob/master/kernel-laws/shared/src/test/scala/cats/kernel/laws/LawTests.scala.

[2021-02-07 18:28] djspiewak opened #3776 "Parallel for EitherT and IorT is probably over constrained"
For more discussion on this, see https://github.com/typelevel/cats-effect/issues/1645. The short form is that EitherT and IorT require a Semigroup/Monoid on their error type to derive a Parallel. This gives rise to semantics which are inconsistent with more fundamental derivations of the Parallel type.

At the present moment, it is undecided how best to resolve this, but one possibility is to chan

[2021-02-07 22:27] Slakah commented on #3763
It's worth mentioning that due to all the `NonEmpty*` stuff having a `NonEmptyReducible` typeclass, a `toList` syntax will be available with an import.

In ammonite:

[code]

[2021-02-08 05:36] LukaJCB commented on #3776
Urgh this is totally my bad. It's because the semantics are taken from `Either`, which through `Parallel` turns into `Validated` and therefore requires the monoid constraint. Seemed like a good idea at the time...

[2021-02-08 08:41] Baccata commented on #3776
@djspiewak says :

@djspiewak, how are the derivations you're thinking of more fundamental ? The layering of semantics via a monad stack is interesting because the composition of layers respect the semantics of each layer individually. I'd even go as far as saying that this quality should be a *fundamental law* to the very concept of monad transformer :

* given `M` a Monad and `MT[*[_], *]` its t

[2021-02-08 09:52] TimWSpence commented on #3734
@rossabaker What difference does scala 3 make sorry? The law seems somewhat fundamentally broken to me - if you have a non-trivial `Eq` instance like `FiniteDuration` then you can write perfectly reasonable functions that aren't well defined wrt `Eq` (ie `x == y` does not imply `f x == f y`) eg by pattern-matching on the time unit like in the `Cogen` instance above

[2021-02-08 13:05] Baccata commented on #3776
Alright, so I take it there are four cases to this problem :

| F[_] \ E    | Semigroupal                                                                              | Non-semigroupal                                                          |
|-------------|------------------------------------------------------------------------------------------|--------------------------------------------------

[2021-02-08 16:07] ean5533 commented on #3763
Yup, that works, thanks.

[2021-02-08 16:07] #3763 closed

[2021-02-08 17:49] Baccata commented on #3776
Alright so after a chat with @djspiewak, here's my current state of thoughts (echoing https://github.com/typelevel/cats/pull/3777#issuecomment-775317341):

1. there is no intuition about these things that is inherently correct because the concept of MonadTransformer doesn't come with Laws, and that Parallel itself (despite being a lawful construct) is rather ad-hoc : its meaning is not as well out

[2021-02-09 07:14] majk-p opened #3780 "Add `versionScheme` to build.sbt"
With the release of sbt 1.4.0 the [`versionScheme`](https://www.scala-sbt.org/1.x/docs/sbt-1.4-Release-Notes.html#ThisBuild+%2F+versionScheme) has been added.
With sbt 1.5.0 (which is [on the way](https://github.com/sbt/sbt/milestone/68?closed=1)) a plugin called [`sbt-eviction-rules`](https://github.com/scalacenter/sbt-eviction-rules) will be integrated into the tool.

In one of my projects I'm a

[2021-02-09 19:06] #3776 closed

[2021-02-09 19:08] #3293 closed

[2021-02-09 19:10] #3650 closed

[2021-02-09 20:09] #3220 closed

[2021-02-10 09:42] Baccata opened #3783 "Follow-up : IorT's Parallel's need amending as well"
### The actual issue, following Daniel's axiom of "the outer most effect should take precedence in parallel composition"

Re-re-re-reading IorT code, this line needs changing to avoid error aggregation on the unhappy-path : https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/IorT.scala#L452

Follow-up to https://github.com/typelevel/cats/issues/3776

### Regarding cats-effe

[2021-02-10 10:31] Baccata commented on #3783
Actually it may

[2021-02-10 12:31] larsrh opened #3784 "Roll back #3702 and release 2.4.1"
See https://github.com/typelevel/cats/pull/3702#issuecomment-776499664 why this PR needs to be rolled back.

[2021-02-10 15:58] #3784 closed

[2021-02-10 16:48] larsrh commented on #3784
2.4.1 release is running

[2021-02-10 23:24] #3780 closed

[2021-02-11 01:56] djspiewak opened #3786 "Proposal: ParallelLike machinery to open implicit summoning"
Cats Effect has an unfortunate problem with `Parallel` in that it defines a more primitive typeclass, `Spawn`, from which `Parallel` can be derived. The most intuitive user experience is that `Spawn` implies `Parallel`, and in fact this is *so* intuitive that the fact that it isn't true has tripped me up on several occasions.

In Cats Effect 3, we attempt to address this by providing an orphan ins

[2021-02-12 13:54] djspiewak opened #3790 "Optimize traverseWithChain for StackSafeMonad(s)"
The `traverseWithChain` implementation is really good and performs well in benchmarks on downstream datatypes, but it has a meaningful flaw: it forces added allocations through `Eval` at every step of the iteration. This is something that is definitely necessary when you're trying to implement it on an arbitrary applicative, but that really isn't the case most of the time.

The common scenario I'm

[2021-02-15 00:07] tmccarthy opened #3794 "Add Invariant[Fractional]"
`Invariant[Numeric]` and `Invariant[Integral]` were added in #3773, but I left out `Invariant[Fractional]` primarily because it can't be tested using `MiniInt`.

I'm raising this issue to track the lack of `Invariant[Fractional]`. I'm working on this in the background and hope to have a PR in the coming weeks.

[2021-02-16 07:15] #3783 closed

[2021-02-16 07:16] #3769 closed

[2021-02-17 09:22] nigredo-tori opened #3802 "Add a combinator like partitionEither for FunctorFilter"
The current implementation of `partitionEither` requires `Foldable` and `Alternative` (`Applicative` + `MonoidK`). These requirements mean that, for example, `SortedMap[K, *]` can't be partitioned! This is surprising, since there's a trivial `partitionEither` for any `FunctorFilter`:

[code]

I can't say for sure whether this requirement is **weaker** than the one we have now - but off the top of

[2021-02-17 09:28] nigredo-tori commented on #3802
In the same fashion, we can reimplement `partitionEitherM` using only `TraverseFilter[F]` and `Applicative[G]`.

[2021-02-17 12:43] #3663 closed

[2021-02-18 09:00] nigredo-tori commented on #3377
I've just hit this as well... I'm used to the "deep combine" behavior for `SortedMap`, and the destructive behavior for `NonEmptyMap` came as a shock. Thankfully, I happened to catch this before it led to any issues - but It's easy to miss a `Semigroup` instance where there shouldn't be one. I feel like this has a potential to introduce a lot of subtle errors.

[2021-02-18 11:48] nigredo-tori opened #3804 "Add Ior#mergeWith and Align#alignMergeWith"
These are versions of `Ior#merge` and `Align#alignCombine` that use explicit functions rather than `Semigroup` instances.

Motivation: `alignMergeWith` is useful in cases where the logic in case of a "conflict" doesn't match the default `Semigroup` instance. It is also useful in places where relying on a specific `Semigroup` makes the code brittle. For example, when combining nested `Map`s and `No

[2021-02-22 22:02] oyvindberg opened #3812 "Foldable for tuples?"
Hey there.

In https://github.com/typelevel/cats/pull/3299 (I think. at least in 2.4.x) tuples gained a `Foldable` (among others, naturally) instance, which only considers the right-most element.

I guess I'm opening up a discussion of whether this makes any sense?
[code]

The issue I see is I associate `Foldable` with "handle all values" rather than "handle a subset of a value".

### How this bre

[2021-02-22 23:44] jatcwang commented on #3812
Thanks for documenting this issue and I agree with you that behaviour is weird. Not sure what we can do here (except that you'll have to avoid using Foldable for now)...

[2021-02-27 15:01] tnielens commented on #3775
Removing cats overrides of `Duration` and `FiniteDuration` crash the tests on at least the two following issues:
- integer overflow
[code]
- `Duration.Undefined` not being equal to itself
[code]

[2021-02-27 15:40] tnielens commented on #3645
See #913.

[2021-02-27 15:46] larsrh commented on #3775
Is this something we can fix upstream?

[2021-02-27 16:23] tnielens commented on #3775
What's the policy for scalacheck default `Arbitrary` instances? Is "it breaks cats law tests" a sufficient reason for accepting changes?
`Duration.Undefined` breaks most laws. It indeed makes implementation of a lawful  `Order[Duration]` for example (and probably many others) impossible.

As for the overflow issue, I'm giving a second look at cat's current law tests implementation as it uses defau

[2021-02-27 16:32] larsrh commented on #3775
Are you sure it's the `Arbitrary` instance that breaks the laws, and not the `Cogen` instance?

[2021-02-27 16:34] larsrh commented on #3775
If it's just about `Duration.Undefined` I'd prefer taking the upstream instance and filtering out this value. It's cleaner and more explicit than to define our own instance that happens to omit `Undefined`.

[2021-02-27 20:09] tnielens commented on #3775
The tests still pass when I remove cats' overrides of the `Cogen` instances. They fail when I remove the `Arbitrary` overrides.

Will try that.

As for the overflow, Duration has an exception-throwing implementation of addition and substraction upon overflow, contrary to numerical primitives which silently overflow. The default instance must be constrained further.

[2021-02-27 20:23] larsrh commented on #3775
Thanks a lot for your investigation.

[2021-02-28 11:12] tnielens commented on #3775
It seems that filtering the default instances from scalacheck doesn't work.
Here is my attempt:
[code]
- there are still issues with `Duration.Undefined` as adding `Duration.Inf` and `Duration.MinusInf` yields `Duration.Undefined`. The  Monoid and Group laws bump into this.
- the fitlering discards too many results: `Gave up after 99 successful property evaluations. 938 evaluations were discarded.

[2021-03-01 20:14] #3775 closed

[2021-03-01 20:24] tnielens commented on #3775
Thanks @larsrh for opening this small issue and for the high reactivity :+1:

[2021-03-01 20:25] larsrh commented on #3775
Thank you for taking care of it :smile:

[2021-03-04 21:42] kubukoz opened #3819 "Idea: covariant monad transformers with invariant"
Not sure if this has been explored before.

The reason why monad transformers couldn't be covariant in their result / extra types was mostly that if the transformer were to be covariant, we would need to make the `F[_]` covariant as well (`F[+_]`).

Here's an alternative idea for making it work:

[code]

[2021-03-04 22:36] djspiewak commented on #3819
I think it's worth exploring. We did it for Resource, which is basically the same thing. It definitely might take some work on the compatibility side though.

[2021-03-05 03:36] zhenglaizhang commented on #3751
Recently I am looking at this wonderful lib, and I think I can investigate and try to clean out.

[2021-03-06 13:09] 18mkt opened #3821 "Title"
#

[2021-03-06 13:10] #3821 closed

[2021-03-06 13:10] 18mkt commented on #3821
#3813 #3820 #3807 #3751 #3819

[2021-03-10 06:28] GrigoriiBerezin commented on #3643
Maybe we can use Semigroup in case the algebra is not merged into this repo yet?

[2021-03-11 02:53] nigredo-tori opened #3826 "Add parProduct* to parallel syntax"
Currently we only have [`&>` and `<&` operators](https://github.com/typelevel/cats/blob/f820eca5bb869e2fe5de6bd82812ae084aeb8aa0/core/src/main/scala/cats/syntax/parallel.scala#L194) as a syntax. Cats-specific symbolic operators hurt readability, so I'd like to have an option to write `fa.parProductR(fb)` and so on.

[2021-03-11 23:06] #3755 closed

[2021-03-14 01:11] benkio opened #3830 "Google Plus Logo Broken Link"
![image](https://user-images.githubusercontent.com/4698396/111054165-26f23100-8462-11eb-8760-d578b77fe695.png)

[2021-03-14 03:34] #3826 closed

[2021-03-14 04:48] djspiewak commented on #3830
Should probably just remove it since G+ no longer exists.

[2021-03-15 02:17] diesalbla commented on #1473
I have just tested this code snippet using several versions of `cats`, in an Ammonite REPL. I run `TravTest.test(N)` with N being 1_000, 10_000, or 100_000

Using version 2.0.0, we still get a stack overflow. However, it seems that at least since version 2.2.0, this problem has been solved.

[2021-03-15 02:27] rossabaker commented on #1473
Thanks, @diesalbla. For posterity, do we have any idea how it was fixed?  I don't see a linked ticket.

[2021-03-15 02:34] johnynek commented on #1473
I fixed it in #3521

Forgot to link here. Sorry.

[2021-03-15 15:23] rossabaker commented on #1473
:+1: Thanks for retesting, and thanks for digging up how it was fixed.

[2021-03-15 15:23] #1473 closed

[2021-03-15 18:30] diesalbla commented on #2718
This seems to have been solved, or at least worked around, in #3133 .

[2021-03-15 18:33] #2718 closed

[2021-03-15 18:36] rossabaker commented on #1723
Didn't achieve critical mass, and the names are further entrenched now.  Let's close it.

[2021-03-15 18:36] #1723 closed

[2021-03-19 02:44] diesalbla commented on #1800
@LukaJCB Good evening.

I have been sweeping a bit through old issues of `cats`. It has now been three and a half years since you once opened this issue, and IIUC it never got to fruition. Given that Scala 3 is to provide its own solution for [Opaque Type Aliases](https://dotty.epfl.ch/docs/reference/other-new-features/opaques.html), should we close this one?

[2021-03-19 02:50] diesalbla commented on #1667
Considering that the use of macros to generate boilerplate, such as done in https://github.com/typelevel/cats/pull/2925, it seems unlikely that this will be taken up.

[2021-03-19 02:59] rossabaker commented on #1667
I agree, and the complexity only gets worse during the Scala 3 transition.

[2021-03-19 02:59] #1667 closed

[2021-03-19 07:29] joroKr21 commented on #1800
I think we should consider Cats 3.0 for Scala 3 using opaque types

[2021-03-20 10:28] #3377 closed

[2021-03-20 10:29] #3804 closed

[2021-03-20 17:56] Maatary commented on #2749
Hi @jcouyang I wonder if you could help me with some pointers on the issue you raised.

Although I understand the explanation above, and experienced it when composing Kleisli, I am looking for the formal definition of things.

What is the machanism that enable to compiler to infer ```A2 with A1```, is it LUB in the context of contravariant. It seems to me that ```A2 with A1``` is the LUB of ```A1`

[2021-03-21 16:28] #3643 closed

[2021-03-23 00:43] diesalbla commented on #157
What would be the status of this issue? Currently, `simulacrum` is in Scala 2-maintenance mode, whereas `machinist` repo has been closed and incorporated into the `spire` project. At this point, and given lack of traction here, I would suggest closing this issue.

[2021-03-23 00:53] diesalbla opened #3835 "Scala-3.x Introduce Opaque Types"
Scala 3 introduces [Opaque Type Aliases](https://dotty.epfl.ch/docs/reference/other-new-features/opaques.html). Although Scala 2 already had type aliases and `AnyVal`, opacity is relevant in two ways:
- Opaque types should not be as fragile and restrictive as the `AnyVal` wrappers were.
- Unlike Scala-2 type aliases, opaque types are different symbols for implicit resolution, and thus allows us to

[2021-03-23 01:55] #157 closed

[2021-03-30 15:17] kubukoz opened #3842 "untilM and friends: check condition first"
Currently, `ef.untilM_(cond)` seems to first run the `ef` effect, and only then run the condition effect and check it.

However, `whileM_` runs the condition first. I think that's a surprising inconsistency.

While it would be harmful to any users of the existing methods to change the behavior, I think we should support both `do while` and `while` scenarios in the methods, so the remaining ones (v

[2021-04-01 01:23] jcouyang commented on #2749
hi @Maatary I think it is the other way around, A1 is upper bound of `A2 with A1` so `A2 with A1` is Highest Lower Bound of A1 or A2, since `A2 with A1 <: A1` also `A2 with A1 <: A2`. + means subtype can be in supertype's place by covariance, now A is `-A` so supertype`Kleisli[F, A1, B]` is safe to be in its subtype `Kleisli[F, A2 with A1,B]` place
it should be pretty easy for compiler to infer a

[2021-04-01 22:41] chaitanyawaikar commented on #3830
I looked into the code and I can nowhere find any references for `google plus`, or even `twitter` or `Watchers`.
The library `sbt-microsites` seems to be performing some kind of magic as I was not able to even locate any images for the given icons :(

[2021-04-01 22:56] chaitanyawaikar commented on #3830
I cannot find any references of `Google Plus` or even `Twitter` or `Watchers` in the code. Moreover, I tried to find the `.svg` for the files present in the header, but could not find them. I believe there is some high level abstraction provided by the `mdoc` library and without knowing it, it is difficult to make progress here. Any help will be highly appreciated. Thanks

[2021-04-02 01:25] rossabaker commented on #3830
It was in [sbt-microsites](https://github.com/47degrees/sbt-microsites/commit/37b5f97cace0a79ccd54b70d6da6722ecace4ea0#diff-3f1cb76fd03a6d69fa37b46b5ad1b2400e6961ef769d45700b368f0dc2f4a831).  I think we just need to republish the site on a version >= 1.3.2.

[2021-04-02 12:49] Daenyth opened #3849 "Update 'Jump Start Guide' page to modern cats"
https://typelevel.org/cats/jump_start_guide.html

The page is written for cats 1.0.1 and contains advice about using a-la-carte syntax imports (generally considered a bad practice), and has sections on instance importing (obsolete).

We should update the recommendations to use modern style and streamline the page.

[2021-04-02 20:28] chaitanyawaikar commented on #3849
I can pick this up.

[2021-04-04 15:57] chaitanyawaikar commented on #3830
@rossabaker Does this require any code changes ? I can see that the `sbt-microsites` version is already `1.3.3`

[2021-04-04 20:10] Daenyth commented on #3849
Thanks!

[2021-04-05 01:23] rossabaker commented on #3830
I don't think so.  I think republishing the site would be enough.

[2021-04-05 14:12] chaitanyawaikar commented on #3849
Created this PR https://github.com/typelevel/cats/pull/3851

[2021-04-06 21:53] #3720 closed

[2021-04-08 14:03] joroKr21 commented on #2254
Why can't we change it? Implicits can be changed in a binary compatible way by making the old ones non-implicit and adding the new ones.

[2021-04-08 19:14] morgen-peschke opened #3855 ".show appears to find more implicit instances than show"""
This seems to be related to the additional indirection of the type tag, though it seems odd that it would affect `show""` and not `.show`. I'm opening an issue here because it looks like the primary factor may be the way the `show""` interpolator is written.

This fails to resolve the implicit for `show"..."`, the version using `.show` works if the failing line is removed:
[code]
[scastie](https:/

[2021-04-09 08:36] tnielens commented on #3830
How can that be done?  #3645 notes that the site updates haven't been published since November 2019.

[2021-04-09 20:15] tnielens commented on #3038
This was already implemented:
https://github.com/typelevel/cats/blob/9753b344df3c75e71799ea666d2018ee5f19747f/kernel/src/main/scala/cats/kernel/instances/SortedSetInstances.scala#L11

[2021-04-10 03:10] rossabaker commented on #3038
Yep.  Thanks for the nudge.

[2021-04-10 03:10] #3038 closed

[2021-04-10 09:48] larsrh commented on #3830
I've just redeployed the website.

[2021-04-10 09:48] #3830 closed

[2021-04-11 20:49] tnielens commented on #3517
Hello @johnynek,

I'm thinking about another approach to this issue.
As you describe it, tailRecM takes care of stack safety for monadic recursion. What about Applicative looping/iterating.
Can't we leverage `map2Eval` and the stack-safety of `Eval` here?

Here is an example, we can "stage" the function composition evaluation of `Eval[Function0].map2Eval` if we overwrite it like this:
[code]
With

[2021-04-12 07:28] haaami01 commented on #3849
Tank You

[2021-04-16 09:50] chessman opened #3859 "No Bifoldable for cats.data.ValidatedNec"
[code]

But it works for the unaliased type:
[code]

[2021-04-17 17:54] johnynek commented on #3757
Here's an old idea, but maybe useful.

We could have a `cats.v3.` package. We would try to be source compatible (will be hard to test this), but embrace all of scala3.

The goal would be to change import from cats to cats.v3 and still have things compile.

I know people usually react negatively to versioning in package names but frankly scala 3 is going to take many years to adopt I expect (imagin

[2021-04-17 22:39] kailuowang commented on #3757
If it's scala 3 only and source compatible, what benefits does a separate package bring v.s. just make it only available in the scala3 artifact.

[2021-04-17 22:44] johnynek commented on #3757
The motivation is that 2.13 and 3.0 can share artifacts, and I imagine folks will, and they will create transitive class paths that clash.

But if we set that aside, I guess you could have some sbt tricks to keep both versions (2.12/2.13 and 3.*) in the same branch.

[2021-04-18 12:07] #2254 closed

[2021-04-22 13:22] mpilquist commented on #3757
I unarchived [Spotted Leopards](https://github.com/typelevel/spotted-leopards) and updated for Scala 3.0.0-RC3. Feel free to PR features there as a way to test drive new Scala 3 features before having to worry about bincompat issues with Cats.

[2021-04-23 04:20] nigredo-tori opened #3865 "Add attemptT variant accepting a partial function"
I sometimes find myself trying to recover some `Throwable`s as `Left` in `EitherT`. It gets noisy:
[code]
It would be nice to have a combinator that would encapsulate this pattern:
[code]
We can also have an `Either` version of it, as a more general version of `attemptNarrow`.

[2021-04-24 18:39] djspiewak commented on #3757
IMO we shouldn't be sniffing a Scala 3-only Cats 3 until Scala 3 adoption is sufficiently ubiquitous as to support that kind of assumption. I do believe that targeting exclusively Scala 3 with Cats 3 *is* the right approach, but it's going to be a couple years in the future at least.

[2021-04-24 18:59] kailuowang commented on #3757
not a contradiction, I believe the only viable way to have a binary breaking cats release is to sync with a binary breaking scala, it could be Scala 3.0 or  Scala 3.1.
We might also learn a lot from the ongoing cats-effect ecosystem migration to 3.0.

[2021-04-24 19:03] smarter commented on #3757
Note that Scala 3.1 won't break binary-compatibility with Scala 3.0 (cf https://github.com/lampepfl/dotty/issues/10244)

[2021-04-26 08:46] joroKr21 opened #3870 "Use helper constructors to instantiate type classes"
Since we don't support Scala 2.11 anymore this is an option.
See https://www.scala-lang.org/news/2.12.0/

"No class file is generated" sounds pretty good to me 🤓

[2021-04-27 08:22] joroKr21 commented on #3870
Unfortunately this is mostly useful only for Scala 3

[2021-04-27 09:55] joroKr21 commented on #3870
I looked for a scalafix rule but it doesn't exist yet.

[2021-04-27 15:59] tpolecat opened #3874 "some tuple syntax doesn't work in Scala 3"
I don't know how general this is, but functor syntax for tuples don't work in Scala 3 (tested with 3.0.0-RC3). The instance is there but the syntax doesn't work.

[code]

[2021-04-27 16:06] smarter commented on #3874
It's because the map defined on Tuple takes priority, and that map is polymorphic: https://github.com/lampepfl/dotty/blob/3d8b6a1df0b316b7c2d8be72085478dc6606d4ec/library/src/scala/Tuple.scala#L54

[2021-04-27 16:14] tpolecat commented on #3874
Ok I guess the solution is to use `fmap`.

[2021-04-27 16:14] #3874 closed

[2021-04-27 16:20] smarter commented on #3874
It's very awkward but you can also do something equivalent with the polymorphic map:
[code]
The match type is needed to map subtypes of `Int` like `1` to `Int` and the `: MapInt[t]` ascription is needed for inference to figure out what's going on (but it shouldn't need to really).

[2021-04-29 19:00] armanbilge opened #3876 "Monoids/Groups with absorbing elements (aka Binoid/Monoid0 and Group0)"
I recently had a need for a Monoid and Group which also have an [absorbing element](https://en.wikipedia.org/wiki/Absorbing_element) *a* defined by

[code]

These seem to go by various names, including ["monoid/group with zero"](https://math.stackexchange.com/questions/1517237/is-there-a-name-for-a-monoid-with-a-distinguished-absorbing-element), ["0-group"](https://math.stackexchange.com/questions

[2021-04-29 20:50] armanbilge commented on #2041
Are you still looking for help with this? (With a little guidance) I might be that Someone™️. I've been hacking at a [new project](https://github.com/armanbilge/schrodinger) that would definitely benefit (essentially, a re-imagining of Spire's `Dist` as a monad transformer that implements Cats [Effect] typeclasses; thanks to @SystemFw for suggesting this construct to me on gitter a couple months a

[2021-04-30 06:08] larsrh commented on #2041
So far I think nobody has tackled this, so it'd be great if you could work on it.

[2021-05-03 03:36] rossabaker commented on #3876
I thought something like this might exist in Algebra, but my search only pulled up an [old Frank gist](https://gist.github.com/fthomas/5d13d36e8c6ff64685df).  Anyway, pinging @fthomas for his thoughts. :smile:

[2021-05-03 03:37] rossabaker commented on #3870
What makes this mostly useful only for Scala 3?

[2021-05-03 06:33] fthomas commented on #3876
That gist was written in [response](https://twitter.com/fst9000/status/617761460102545409) to a [question](https://twitter.com/noelwelsh/status/616136837636182017) and [blog post about annihilators](https://underscore.io/blog/posts/2015/07/02/annihilators-in-scala.html) by @noelwelsh. I found the type class interesting because it has the same structure as `Monoid` but different laws, but I never n

[2021-05-03 06:36] armanbilge commented on #3876
Thank you both for following up! [My use-case](https://github.com/armanbilge/schrodinger/#datatypes) is for a `Writer`-style datatype that short-circuits subsequent computation (like option) once the log type `L` enters the absorbing state.

[2021-05-03 07:40] joroKr21 commented on #3870
There is a problem in Scala 2 for SAM traits with method implementations (i.e. having concrete methods that derive from the single abstract one which all type classes in Cats do):

 * Methods implemented in traits that can be translated to interfaces become default methods in the byte code. But the compiler also uses a method called `isInterfaceMember` to determine if a trait needs an initializer.

[2021-05-06 04:30] rossabaker commented on #3876
Two libraries serve as precedent in Haskell:

* [zero](https://hackage.haskell.org/package/zero): this one introduces a `Zero[A] extends Semigroup[A]`.
* [monoid-zero](https://hackage.haskell.org/package/monoid-absorbing-0.1.0.4/docs/Data-Monoid-Zero.html): introduces a `MonoidZero[A] extends Monoid[A]`.  Also has a `MonoidLZero` and `MonoidRZero`.

Wikipedia calls it a [null semigroup or zero sem

[2021-05-06 04:47] armanbilge commented on #3876
Wow, thank you for looking into this in such depth, much much appreciated (next time I know to look to Haskell for precedents :)

Makes sense :+1: I'll do some more research into use-cases and I'm also curious how those Haskell libraries are used in the wild.

I'd be more than happy to spin this up :) and then, how to make people aware of it?

[2021-05-06 05:02] rossabaker commented on #3876
We could added it to typelevelEcosystem.md, which would get it on the Cats site as a related project.  We can also mention it in the Cats channel and I'd be happy to retweet it.

If you need any help deciphering the Haskell, that's my daytime language. :smile:

[2021-05-06 18:56] armanbilge commented on #3876
@rossabaker Thank you for your support. If you wouldn't mind reviewing my implementations at https://github.com/armanbilge/litter/pull/1 I would really appreciate it! :pray:

[2021-05-11 09:10] froth opened #3882 "The cats friendly badges disappeared"
https://typelevel.org/cats/img/cats-badge.svg returns 404, did the url change or is it gone for good?

[2021-05-13 16:54] larsrh opened #3888 "Disable publishing of cats-jvm and cats-js artifacts"

[2021-05-14 08:59] chuwy opened #3889 "Deprecate and remove `ifA`"
I recently ran into a very dangerous bug thinking `ifM` and `ifA` have the same semantics. It can be repdocued with:

[code]

I'd argue that we never ever ever want to use this just with `IO`. But it's not much better (at first glance) with other data types:

[code]

I do understand now that this is an intended behavior of executing all three effects and we simply cannot do what I wanted to do wit

[2021-05-17 03:18] armanbilge commented on #3876
I finally found the answer that I was looking for for @rossabaker's question. As I mentioned above, my use case for a `ZeroSemigroup[A]` (aka a semigroup with an absorbing element) is to support

I just learned about the MTL type class [`Chronicle`](https://typelevel.org/cats-mtl/mtl-classes/chronicle.html) with a very similar purpose.

In `Chronicle`, to short-circuit the user must explicitly `co

[2021-05-18 07:35] diesalbla commented on #3870
@joroKr21 From the last message, can we understand that you would like to withdraw this proposal? Is this something that should be reconsidered once we deprecate Scala 2.13?

[2021-05-18 07:38] joroKr21 commented on #3870
@diesalbla no, the proposal just evolved to using helper `instance` methods - best to take a look at #3871

[2021-05-19 03:08] arosien commented on #3690
https://github.com/typelevel/cats/tree/gh-pages/img doesn't contain the `sponsors` subdirectory, so I suspect they weren't copied during the build of the site. However, the source for sbt-microsites hints that [the image directory _should_ be copied recursively](https://github.com/47degrees/sbt-microsites/blob/6fd0ac6bde9187d3aee56e3e45e8b4064960d612/src/main/scala/microsites/util/MicrositeHelper.

[2021-05-22 16:04] diesalbla commented on #700
Good afternoon!

So, looking at the current `main` branch, we already have a transformer `ContT` and a type alias `Cont`, so it would seem that the changes requested or proposed by this issue have already be done. Is there anything else needed to complete the work of this issue?

If there is a desire to add the `IndexedCont` or indexed continuations, perhaps that can be a separate issue with a sep

[2021-05-22 17:57] johnynek commented on #700
Yeah I forgot to link to this from #2506

Indexed has not been done that I know of.

[2021-05-24 15:04] kubukoz commented on #3882
Noticed this today, the file is indeed gone on the `gh-pages` branch...

[2021-05-24 15:06] kubukoz commented on #3882
https://github.com/typelevel/cats/pull/3863 could be related too

[2021-05-24 15:41] joroKr21 commented on #3882
Hmm why do you think #3863 is related 🤔

[2021-05-24 15:43] kubukoz commented on #3882
I think it _could_ 😅 like maybe the syntax change resulted in different handling of operator precedence? Probably not though, could be a red herring.

[2021-05-29 00:16] qwbarch opened #3912 "MonadError missing a raiseWhen method"
Is there a reason for [IO#raiseWhen](https://github.com/typelevel/cats-effect/blob/b54a38483376c0a5050593c0174aa5b3b5680ed9/core/shared/src/main/scala/cats/effect/IO.scala#L1128) being omitted from ``MonadError``?
MonadError has [ensure](https://github.com/typelevel/cats/blob/303f2a648df72939ad3c3bbc17ebc6960598680f/core/src/main/scala/cats/MonadError.scala#L13), but if ``[A]`` is ``Unit``, this i

[2021-05-30 22:30] #3889 closed

[2021-06-11 19:50] chrilves commented on #3628
I managed to get rid of a similar error by setting these two options via spak-submit

[code]

I don't know how safe it though.

[2021-06-13 16:43] ExpandingShapes commented on #3849
I think the issue can be closed now

[2021-06-14 13:41] #3849 closed

[2021-06-14 14:23] keyno63 opened #3927 "cats friendly batch 's link is dead"
An image url of the batch is specified "https://typelevel.org/cats/img/cats-badge-tiny.png" by [this](https://github.com/typelevel/cats/blob/d8045b1cac84944cf770fd2ddb1ccceabf141924/docs/src/main/mdoc/typelevelEcosystem.md).
[code]

but, the link is dead (return 404).

where is a new link ?

[2021-06-18 10:59] reibitto opened #3928 "Call-by-name parameters for `NonEmptyLazyList`"
Methods like `#::` and `prepend` on `NonEmptyLazyList` are not call-by-name currently, which causes misuse of it to blow up eagerly. For example:

[code]

I would understand the argument that this is misuse and it's not worth being defensive against it, but my thinking was for the sake of consistency with `LazyList`. Also, I think this is the same reason why methods like `cats.effect.IO#as` are al

[2021-06-18 11:06] reibitto commented on #3928
I didn't know how far to take this. I see things like `+:` are also defined on `NonEmptyLazyList` directly, so those could be modified too... but plain `LazyList` does not have this because it relies on the one defined in `SeqOps`. Which feels inconsistent to me, but that's how the standard Scala collections work I guess.

[2021-06-18 21:39] erikerlandson commented on #3927
upvote

[2021-07-20 09:45] ziggystar opened #3946 "Call-by-name parameter for `as`"
This issue in http4s shows that `Functor.as` (and all the paths leading there) should evaluate its argument lazily. Maybe... Please evaluate.

https://github.com/http4s/http4s/issues/4971

[2021-07-20 09:48] froth commented on #3927
Possible dublicate of https://github.com/typelevel/cats/issues/3882

[2021-07-20 11:22] joroKr21 commented on #3946
It's very tricky to explain when "you should use `map(_ => x)` instead of `as(x)`".

[2021-07-20 12:46] keyno63 commented on #3927
@froth
thank you.
I missed to find it.

[2021-07-20 12:46] #3927 closed

[2021-07-20 15:33] catostrophe opened #3947 "Stack-safety issues in `Kleisli` instances"
Repro 1:
[code]

`traverse_` relies on `List`'s`foldRight` and `Kleisli`'s`map2Eval` under the hood, which in turn relies on `F.map2Eval`

Repro 2 (involves Cats Effect):
[code]

Thus, using `Kleisli[IO, R, A]` may result in SO at runtime if operations involving `IO.Par` are used, e.g. `parTraverse_`.

[2021-07-29 16:59] geirolz opened #3953 "Add EitherThrow type alias"
It would be useful to have a type alias like this in Cats, following the same approach of `MonadError` and `ApplicativeError`
[code]

[2021-07-29 17:22] rossabaker commented on #3953
Is it just to be more concise?  I've done a lot of aliasing of concrete types, and come to regret most of them.

[2021-07-29 17:36] geirolz commented on #3953
@rossabaker Yes, just to have a more readable code. Currently, there are `MonadThrow` and `ApplicativeThrow` type aliases so I wonder if `EitherThrow` can be useful.

I did the same, at some time you have to read the alias every time to understand the code...but in this case, I think can but clear, often `Either` is used with `Throwable` on the left side

[2021-07-29 17:58] rossabaker commented on #3953
I agree these aliases can make the code a bit easier to read, but a tradeoff is that compiler errors get more difficult.  The code says one thing, but the errors say another, and I've seen beginners struggle with this.

I think `MonadThrow` and `ApplicativeError` carry a bit more weight.  Being able to express constraints with kind `F[_]` instead of `F[_, _]` alleviates the cognitive burden of kin

[2021-07-29 18:43] geirolz commented on #3953
Yea, you're right. Type classes have more benefits with aliases than concrete types, having one single parameter often helps(context-bound without a wild card for example).

Now, I'm not sure that this alias should be integrated with cats. Maybe it's not totally wrong but, as you said, using aliases you have more difficult errors. Since we don't have a characters tax maybe is better to avoid it

[2021-07-30 08:05] geirolz commented on #3953
Let's close this, is better to avoid this change

[2021-07-30 08:05] #3953 closed

[2021-07-31 21:53] rossabaker commented on #3946
Yes, this is a frustrating one.

How might we fix it in a compatible fashion?  Could we overload it, making the existing one non-implicit and private?  Can anyone think of instances that override the default, and if so, exploit its strictness?

[2021-07-31 22:04] djspiewak commented on #3946
Overloading works, particularly since we can make the old one `protected`. We actually had to do that in Cats Effect 3 since we accidentally defined `SyncIO#as` to be lazy.

The overriding is… more of a problem. I'm not sure if we can fix that, since overloading would take away all of the overridden call sites.

[2021-08-02 04:15] rossabaker commented on #3946
I found no overrides in Cats with GitHub search, but it's worth checking with proper tooling.  Even then, there are of course instances outside Cats.  Like `Sync`.

[2021-08-05 16:24] arosien commented on #3690
FYI the images are ok on in the README, but are still broken on the website, which as noted above, is probably something to do with the site packaging.

[2021-08-05 16:35] rossabaker commented on #3690
I'm very sorry for the delay.  This is the first I've seen this, and I am allergic to Jekyll, but I'm digging in now.

The site hasn't been published since April.  I'm going to try to build it locally, and if that works, manually republish.

[2021-08-05 16:50] rossabaker commented on #3690
Well, it's not copying them locally, either.

[2021-08-05 17:11] rossabaker commented on #3690
I took the image directory produced by #3956 and manually synchronized that directory on the gh-pages branch.  It's loading for me now.

If anything else got overlooked, please let us know.

[2021-08-05 17:11] #3690 closed

[2021-08-05 17:13] arosien commented on #3690
Thanks @rossabaker!!!!!! I do worry, however, that the next update will run into the same problem. Any tips that could be documented?

[2021-08-05 17:16] rossabaker commented on #3882
This was also fixed by what I did in #3690, and a more persistent fix is proposed in #3956.

[2021-08-05 17:16] #3882 closed

[2021-08-05 17:16] arosien commented on #3690
FYI there are non-sponsor broken images with the URL https://placehold.it/15/f03c15/000000?text=+. New issue?

[2021-08-05 18:38] rossabaker commented on #3690
For the individuals?  I'm not seeing anything with that URL in the source.  New issue would be good.

I think the linked PR will make sure that this fix doesn't get reverted, provided that there is no release before the merge.  If it doesn't attract a review soon, I'll merge by fiat before it gets forgotten.

[2021-08-06 08:24] domaspoliakas opened #3957 "`Eq[NonEmptySet[A]]` requires `Order[A]`, but only needs `Eq[A]`"
Hello folks 👋

[`NonEmptySetEq[A]`](https://github.com/typelevel/cats/blob/main/core/src/main/scala/cats/data/NonEmptySet.scala#L426) has an `Eq[A]` member, but the implict construction of `NonEmptySetEq[A]` [here](https://github.com/typelevel/cats/blob/main/core/src/main/scala/cats/data/NonEmptySet.scala#L413) declares an `implicit A: Order[A]` parameter, meaning that you can't have a `Eq[NonEmpt