[2017-11-29 21:27] ctongfei commented on #2041
+1

[2017-11-29 23:42] johnynek commented on #2041
on second thought... I don't know why I said that. The artifact can be the same: `org.typelevel:algebra` so I don't see why we would have the artifact ID collision.

So in that case, it is best to just keep it as it is.

[2017-11-30 18:01] #2051 closed

[2017-11-30 22:02] kostonstyle opened #2055 "How to stop running"
Hi all

I have the following code, that I have to stop it manually:

[code]

How to stop it and to back to the main?
Thanks

[2017-11-30 22:32] benhutchison commented on #425
Just learned about https://github.com/julien-truffaut/newts in this space

[2017-11-30 22:35] SystemFw commented on #425
This issue should probably be closed since we have #1800

[2017-11-30 22:36] #425 closed

[2017-12-01 14:32] LukaJCB opened #2058 "Consider another module for collections not needed in cats-core."
Right now we have `NonEmptyVector` and `OneAnd` that aren't actually used inside core. There's also been some people that really wanted a `NonEmptySet` and `NonEmptyMap` as well as collections that don't use universal hashing, but the new `Hash` type class would also allow us different kinds of these. e.g. `NonEmptySortedSet` and `NonEmptyHashSet`

So one idea to accommodate these and preserve mod

[2017-12-01 17:36] johnynek commented on #2058
I think it makes sense to have separate modules when we have separate dependencies. For these cases, we don't have any additional dependency.

I'm -1 on complicating the build for users just to separate these things for a reason I don't understand.

I think the cats-free situation is a mistake and a needless complication for our users. I hope we won't repeat it.

[2017-12-01 18:25] LukaJCB commented on #2058
Just to clarify, you'd just put these in `cats.data` @johnynek?

[2017-12-01 18:44] johnynek commented on #2058
yessir

[2017-12-01 18:47] tpolecat commented on #2058
Agree. There's an engineering benefit to layering but I don't think we're there yet.

[2017-12-02 13:59] ceedubs commented on #2006
@durban preserving backwards binary compatibility is only one component. There still doesn't seem to be consensus that `catchNonFatal` shouldn't exist.

[2017-12-02 14:05] ceedubs commented on #2055
Hi @kostonstyle. This sounds like a question about [cats-effect](https://github.com/typelevel/cats-effect). I'm not sure that I understand what you are looking to do exactly, but in short, you can't really `shift` back to the main thread. If you want the main thread to wait on the execution of the `IO`, then you might need to use `unsafeRunSync`. Hopefully that helps, but if not I encourage you to

[2017-12-02 14:05] #2055 closed

[2017-12-02 14:14] ceedubs commented on #1994
First of all, I want to really thank @kailuowang @LukaJCB and @johnynek for keeping Cats moving. You've put in hard work, and it's greatly appreciated.

I tend to agree with @johnynek's comments. I know that the slow pace can be frustrating, but I think that it's better than not getting several sets of eyes on changes. It also sounds like we have some people who are willing to step up and spend so

[2017-12-02 14:19] kailuowang commented on #1994
@ceedubs yeah, I agree we no longer need to change this policy. I think the issue has been mostly addressed thanks to more maintainers engaging in reviewing. We have been able to move fast since then.

[2017-12-03 20:39] coltfred commented on #123
@lancewalton This looks awesome! Thanks so much for working on it.

[2017-12-06 01:36] kailuowang opened #2066 "update Symbol table in faq"
to reflect the changes made in #2038 and #2043 and #2063

[2017-12-06 03:13] stephen-lazaro commented on #2066
I can do this tomorrow.

[2017-12-06 03:15] stephen-lazaro opened #2067 "Add ArrowChoice"
Would something like the ArrowChoice typeclass from https://hackage.haskell.org/package/base-4.10.1.0/docs/Control-Arrow.html#t:ArrowChoice be of interest in `cats.arrow`?
Every Kleisli arrow is an instance for monads, and I have an application that is not strictly a Kleisli arrow but a sort of wrapped one at my workplace that I contemplated using this for.
I can work on a PR If so.

[2017-12-06 13:47] kailuowang commented on #2067
Sounds a good addition to me. And we still have time before the Dec 12 deadline (after which we should still be able to add it but won't have the syntax available from `cats.implicits._ `)

[2017-12-06 14:02] kailuowang opened #2069 "Get `Semigroupal` from `Arrow` for free"
We could add the following to `Semigroupal`'s companion
[code]
#2063 is adding a `merge` method, so this instance can just delegate to that.
To test this we might need to create a new `case class MyFunc[A, B](f: A => B)` and an `Arrow` instance for it and then test the Semigroupal laws against it.

I set the milestone to be 1.1, but it can certainly be done by 1.0

[2017-12-06 15:03] LukaJCB commented on #2069
Would this be a binary compatible change?

[2017-12-06 15:25] stephen-lazaro commented on #2067
Cool, I'll try to cook something up. Thanks Kailuo.

[2017-12-06 15:34] kailuowang commented on #2069
I think so.

[2017-12-06 16:15] ceedubs commented on #2069
A relevant question would be whether there are conceivable `F` types that form an `Arrow` but that we _wouldn't_ want to derive this implicit `Semigroupal` for. I can't think of anything that might fall into that realm, but it's probably worth thinking about.

[2017-12-06 16:18] #2066 closed

[2017-12-06 16:19] kailuowang commented on #2069
@ceedubs are you suggesting making it explicit?

[2017-12-06 16:48] ceedubs commented on #2069
@kailuowang that was one thought that I had. But I don't know if there's really any reason to that. Just my usual paranoia :). I'll ponder this a bit and give others a chance to weigh in over the next day or two, and if nobody can think of a reason that this implicit def shouldn't exist, then maybe it's either good or mostly harmless.

[2017-12-06 16:54] #1877 closed

[2017-12-06 20:26] fommil opened #2075 "Traversing an infinite stream into Id runs forever"
[code]

runs until approximately forever.

As a comparison, Scalaz finished immediately.

[2017-12-07 04:46] stephen-lazaro commented on #2069
I can open a PR for this. I think you can reasonable strengthen it to `Apply` as well, after playing with it a bit. Given that that's a fair amount stronger, it might lend more weight to explicitness over implicitness here.

[2017-12-07 23:34] cb372 commented on #1549
I managed to cross-build cats-kernel for scala-native. Here's the [commit](https://github.com/cb372/cats/commit/f44b13fe0917710502c8a84fbf2b434b8f455809) with my changes. Happy to submit a PR if it's deemed useful.

I made a [toy project](https://github.com/cb372/try-scala-native/blob/master/src/main/scala/Main.scala) that uses cats-kernel and actually works in scala-native, which is pretty cool!

[2017-12-08 20:27] emilypi commented on #1983
@SystemFw this works for me. Any English name is going to be substandard. Name it something that recalls some other gibberish we all know, instead of some counter-intuitive abomination.

[2017-12-08 21:08] kailuowang commented on #1733
@johnynek sorry I missed your reply. Yeah, that's how I understand it as well. it's sort of a work around, not a change to the Kleisli. Is this idea similar to what is suggested in https://twitter.com/puffnfresh/status/939083836628930560 ?

[2017-12-09 20:25] ceedubs commented on #2075
Thanks for pointing this out, @fommil.

This is more subtle than it would first appear, as Cats and Scalaz make different trade-offs here. For example, consider the following snippet:

[code]

In Cats this returns `res0: Option[Stream[Int]] = Some(Stream(1, ?))`. Cats will eagerly evaluate until it gets to a "terminating" result from the `map2Eval` call, but it won't evaluate more after that (`Id`

[2017-12-09 21:07] ceedubs commented on #2049
I'm going to go ahead and change this from "triage-needed" to "on-hold". We can't do this with the current formulation of `IndexedStateT`.

[2017-12-09 21:08] ceedubs commented on #1994
@kailuowang do you think that we should close this out?

[2017-12-10 01:04] #1994 closed

[2017-12-10 02:11] ceedubs commented on #1665
Resolved by #1670.

[2017-12-10 02:11] #1665 closed

[2017-12-10 02:26] ceedubs opened #2089 "Remove OneAnd?"
`OneAnd` doesn't seem very useful to me now that Cats has first-class `NonemptyList` and `NonemptyVector` types. It can be awkward to work with, especially if you don't have type aliases and "companion" object set up for the type that you are working with.

It keeps its head element separate like a cons-list, making it not very efficient to use with a vector-like structure, but it `combine`s by de

[2017-12-10 20:23] LukaJCB commented on #2089
I'm generally +1 on this, but would like to see a replacement for things like `NonEmptyStream` first :)

[2017-12-11 14:20] denisrosset commented on #2041
What is the timeframe for that move? I'd like to discuss in algebra some changes I am making in the Spire hierarchy, so that could impact what goes finally into cats.

[2017-12-11 14:22] denisrosset opened #2093 "Code review: cats-kernel"
Hi all,

as algebra, and by extension spire both depend on cats-kernel, I quickly went through the cats-kernel package. Please find my observations below.

There are a few small inconsistencies that could be corrected before freezing binary compatibility. I also think that, while typeclasses and data types are documented, the motivation for the default instances is sometimes missing.

I'm not aski

[2017-12-11 17:01] kailuowang commented on #2093
@johnynek , will you work with @denisrosset prioritizing the desired changes of Cats-kernel before 1.0 from Algebra/Spire/Algebird's perspective?

[2017-12-11 17:50] johnynek commented on #2093
@denisrosset Thanks for thinking about all these things. I'm happy to talk through some of these things.

What is the best way to reply? In most cases there are answers. In many cases these questions were brought up during review. In some cases I think you can answer the question perhaps at the repl (I believe UTF-8 was designed to have the same ordering as a byte-wise ordering (and thus, char-wis

[2017-12-11 18:13] Andrea commented on #1017
HI there, kind of starting to look at this. Where should this live? Maybe `cats/docs/src/main/tut/JumpStart`  ?

[2017-12-11 18:29] kailuowang commented on #1017
@Andrea thanks! that location looks good to me.

[2017-12-12 00:07] denisrosset commented on #2093
@johnynek Yes, let's move to a Google Doc. Here is it:

https://docs.google.com/document/d/1qTkUoBzEEL1yQ2GbJkJ0HwzymhjzcChojEVHmwfEoSs/edit?usp=sharing

Most (all?) of these remarks can be addressed by adding documentation. To not waste time, I will add comments in the code based on our discussions.

[2017-12-12 18:53] #2014 closed

[2017-12-13 13:40] PawelLipski commented on #1017
@Andrea @kailuowang I'm the author of the mentioned blog post, please contact me at plipski-at-virtuslab.com about using the examples from the blog in the library docs

[2017-12-14 10:26] Andrea commented on #1017
hey @PawelLipski  emailed you yesterday :D

[2017-12-15 03:46] stephen-lazaro commented on #2067
Resolved in #2096

[2017-12-15 03:46] #2067 closed

[2017-12-15 09:32] iravid opened #2109 "cats.kernel.Comparison not exported by the cats package object"
Contrast with cats.kernel.Order which is exported.

Is this on purpose? This means that to pattern match on the result of `v1 comparison v2` one must import `cats.kernel.Comparison` in addition to importing `cats._`.

[2017-12-15 10:30] LukaJCB commented on #2069
Fixed by #2078

[2017-12-15 10:30] #2069 closed

[2017-12-15 13:54] kailuowang commented on #2109
Doesn't seem intentional to me. We should add it.

[2017-12-15 20:23] #2109 closed

[2017-12-15 20:37] #1983 closed

[2017-12-15 21:16] stephen-lazaro commented on #1801
I'll start on the `Alternative` docs, unless someone else beats me to it.

[2017-12-16 15:27] rsoeldner opened #2113 "Add contains, collectFirst and mkString to NonEmptyList"
I would like to add these functionality to NonEmptyList, what do you think ?

[code]

I'm quite unsure about my mkString :smile:

[2017-12-16 15:51] johnynek commented on #2113
Contains would need an Eq and mkString should take a Show.

[2017-12-16 16:08] rossabaker commented on #2113
`collectFirst` is already on `Foldable`.  `mkString` isn't, but some use cases are handled by `intercalate`.

I've needed `contains` and `mkString` on `NonEmptyList` before.  My instinct is to provide these for all `Foldable`, but our `Eq`- and `Show`-based versions would have a name clash with the standard library's foldables.

[2017-12-16 20:57] kailuowang commented on #2113
I would prefer to add contains and mkstring to Foldable too, but we already passed the deadline for non bug bin compat breaking PRs...

[2017-12-16 23:29] rossabaker commented on #2113
Yeah, I failed to think about that. 😞

To speak to the usefulness of the request, I have a [syntax extension with the same three methods](https://github.com/http4s/http4s/blob/a3a74eee11152826e7f579615bd459f29dc37b4f/core/src/main/scala/org/http4s/syntax/NonEmptyListSyntax.scala), and feel like a jerk for not creating a PR in time.

[2017-12-17 00:20] tpolecat commented on #2113
`mkString` can be generalized to any monoid in the same way `intercalate` is. I call it `foldSmash` in doobie and would be pleased to see it in cats with a better name.

[2017-12-17 01:50] johnynek commented on #2113
@tpolecat actually Semigroups can be generalized in this way: if a+b is monoid, then a+z+b is a semigroup for all z. That’s one way to think about this: you are transforming the Monoid and then doing a combine.

[2017-12-17 04:35] kailuowang commented on #2093
I submitted #2116, any other items that are potentially binary breaking and thus blocking RC2 release ?

[2017-12-18 13:33] rsoeldner commented on #2113
I ended up with
[code]

But it feels a bit strange. I couldn't find a use-case to abstract out the String. What do you think ?

[2017-12-19 16:20] ctongfei opened #2120 "Remove conversion from `Hash` to `Hashing`"
`scala.util.hashing.Hashing[A]` presupposes universal equality using `==` -- `a == b` implies `hash(a) == hash(b)`.
`cats.kernel.Hash[A]`'s underlying `eqv` is based upon `cats.kernel.Eq` which is customizable -- `eqv(a, b)` implies `hash(a) == hash(b)`.
One cannot convert a `cats.kernel.Hash[A]` to `scala.util.hashing.Hashing[A]` without compromising the typeclass instance's semantics.
@kailuowan

[2017-12-19 16:47] kailuowang commented on #2120
@ctongfei thanks for point it out. We had a discussion with @denisrosset in #2116, according the [scala API doc](https://static.javadoc.io/org.scala-lang/scala-library/2.10.0/scala/util/hashing/Hashing.html)

So it seems that we should be able to convert `Hash` to `Hashing` and `Eq` to `Eqiv`?

[2017-12-19 22:38] LukaJCB commented on #2113
Hey @rsoeldner, first of all thanks a lot for bringing this up!
I think it would look something like this if I understood Rob correctly:

[code]

Not sure if these would be binary compatible, if so, we could easily bring them in for the next release :)

[2017-12-19 23:59] ceedubs commented on #2113
I'm guessing that there aren't many instances that would actually override these values. So putting some of these methods in the `Foldable` companion object might provide 90% of the benefit without binary incompatibilities.

[2017-12-20 05:26] ctongfei commented on #2120
Thanks @kailuowang for pointing out that. I agree with your justification.

[2017-12-20 05:26] #2120 closed

[2017-12-20 05:53] rsoeldner commented on #2113
@LukaJCB Thank you for the help.
But with this implementation we are limited to the same type of A (prefix/suffix/delim and F[A]).
I mean for example, if you have a List[Int] and Strings, with `Show` we are able to get every showable smashed together.

[2017-12-20 06:25] chuwy commented on #2113
For this use-case we can always coerce to necessary type:

[code]

I think this is right balance between too generic and special implementations.

[2017-12-21 19:44] rsoeldner opened #2127 "Add EitherT#catchNonFatal"
Is there a reason not to add `EitherT#catchNonFatal` ?

[code]

If not, I would be happy to open a PR :+1:

[2017-12-21 20:22] rsoeldner commented on #2127
As @SystemFw teached me, `catchNonFatal` is availible for all `ApplicativeError`.

[2017-12-21 20:22] #2127 closed

[2017-12-27 06:50] ctongfei commented on #2041
@johnynek I prefer `cats.algebra`. Sometimes you have your own package called `X` and you have a package `X.algebra` and this sometimes causes path collision -- to refer to Typelevel Algebra you must do `_root_.algebra`. See use cases like this:
https://github.com/ctongfei/nexus/blob/master/algebra/src/main/scala/nexus/algebra/IsReal.scala#L12:15

So maybe `cats.algebra._` is a better choice?

[2017-12-27 17:49] jiminhsieh commented on #2004
@arosien Do you mean the "Documentation" link at the right side of GitHub linked to https://typelevel.org/cats/api/cats/index.html in header?

[2017-12-28 17:07] arosien commented on #2004
@jiminhsieh, yes, that link. My issue is that the page itself (https://typelevel.org/cats/) *is* the documentation, and that link is to the scaladoc / API documentation, so I want the link to be more precise.

[2017-12-29 03:26] kailuowang opened #2130 "Long term roadmap - a 2.12 binary compat Cats 2.0?"
1.x will be maintained for at least a year and will be fully binary compat as promised.

How about we have a 2.0 that maintains binary compat with 1.x but this compatibility is only guaranteed on Scala 2.12.X. This would give us significantly more leeway in providing addition to the API. Right now the vast majority of bin breaking changes are simply new methods with default implementation to trait

[2017-12-29 03:44] johnynek commented on #2130
I think this sounds like a good plan. That said, I don’t think we should gratuitously break APIs. Long lived APIs are valuable and reduce costs for our users. I hope we can maximize the cross section of source and binary compatibility for a long time.

[2017-12-29 04:32] kailuowang commented on #2130
I 100% agree we shouldn't gratuitously break APIs. The main incentive for this 2.0 proposal is to extend the binary compatibility beyond 1.x.

Another consideration is that Scala 2.11 is near EOL. In the [2.11.12 release note](https://github.com/scala/scala/releases/tag/v2.11.12) from Nov 9th

I'm not sure how long we should be held back by 2.11 and 2.10. If our user community is moving towards 2.

[2017-12-29 06:04] deusaquilus commented on #983
Markus's talk is also on youtube: https://www.youtube.com/watch?v=C2hCOGYRxP0

[2017-12-29 20:33] johnynek commented on #2130
Can’t we use the sonatype download statistics to get an idea how many
2.10/2.11 users we have?

Also, since spark has still not done a 2.12 release a lot of folks are
still on 2.11.

On Thu, Dec 28, 2017 at 18:32 Kai(luo) Wang <notifications@github.com>
wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2017-12-29 22:48] kailuowang commented on #2130
@johnynek sorry I didn't mean to suggest a 2.0 in the immediate future. Just want to start thinking about the long-term so that we can make short-term decisions accordingly and communicate to our ecosystem well in advance.
For 2.0 I was really thinking Q4 2018, roughly one year after Scala 2.11 active maintenance stopped.  We can gauge download statistics then.

[2017-12-31 06:20] fanf opened #2131 ""-MF" is not a special version and so "1.0.0" < "1.0.0-MF""
In maven ordering, a shorthand milestone identifier ("m") must be followed by a number to be considered as such, else the segment is not special. See https://github.com/apache/maven/blob/master/maven-artifact/src/main/java/org/apache/maven/artifact/versioning/ComparableVersion.java#L176 (only spec I know of for maven version rules).

So it means that `cats-core_2.12-1.0.0` is considered to be befo

[2017-12-31 06:38] tpolecat commented on #2131
Ugh, grim. Releasing `1.0.1` seems good to me.

[2017-12-31 06:56] paulp commented on #2131
As an aside, it also means the MF version was "newer" than the RCs. One can imagine ways that could have lessened the exercise received by the RCs (but I really have no idea.)

[2017-12-31 07:07] fanf commented on #2131
@paulp : I think it should have been ok, as the version weren't binary compatible, there is very little chance that anybody used anything but the exact version number. A chance that binary compatibility is not a given! (sorry)

[2017-12-31 13:54] kailuowang commented on #2131
1.0.1 on the way to maven central. Will announce later

On Sun, Dec 31, 2017, 02:07 Francois Armand <notifications@github.com>
wrote:

[2018-01-02 15:35] fanf commented on #2131
Now that 1.0.1 is published, that issue can be closed. I'm not sure about cats level process, who should do it?

[2018-01-02 15:37] #2131 closed

[2018-01-04 18:01] gabro opened #2136 "Trailing comma in rewrites currently breaks Scalafix"
When loading the scalafix rewrites with

[code]

they get downloaded, parsed and classloaded by Scalafix.
Unfortunately Scalafix uses the Scala 2.11 dialect, so the rewrites currently don't work due to a parser error.

Reported on gitter https://gitter.im/typelevel/cats?at=5a4e26b929ec6ac311b9f025

[2018-01-04 18:52] #2136 closed

[2018-01-04 20:22] kailuowang opened #2139 "Update CONTRIBUTING.md"
- [ ]  In the write test section, link to https://typelevel.org/cats/typeclasses/lawtesting.html
- [ ] add a step of checking binary compatible: `++2.11.12` and then `mimaReportBinaryIssues`
- [ ] in the write code section, copy/consolidate the discussion from the linked issues to [Guidelines.md](https://github.com/typelevel/cats/blob/master/docs/src/main/tut/guidelines.md) and then link to it.
-

[2018-01-08 14:13] #334 closed

[2018-01-08 17:07] kailuowang opened #2142 "Guideline for adding functionality without breaking binary compatibility."
To maintain binary compatibility we can't add new methods with default implementation to existing traits. However we can add new traits with those and have classes extending them.
For example, we want to add a new method to a Typeclass TC[F[_]]. we could either provide a syntax trait that provides that method like
[code]
If this new method cannot be provided as a syntax to the data types we can ad

[2018-01-08 17:37] V-Lamp opened #2144 "Add Bitraverse[Ior]"
Hi, I see that there is no `Bitraverse` instance defined for `Ior`.

Am I missing something? Is it unlawful maybe? It doesn't look so from plain intuition check :)

I have created one and am happy to contribute it, with tests etc.

Should I just make a PR for this?

[2018-01-08 23:38] #694 closed

[2018-01-09 20:03] alexandru commented on #2130
I don't have an opinion about the timeline, just a general desire for taking backwards compatibility seriously, more seriously than what we've been doing in the Scala ecosystem until now.

At the same time we can't guarantee binary compatibility for Scala < 2.12 because of traits, fixed partially in Scala 2.12 due to Java 8. That's simply a temporary limitation of the runtime for older Java versio

[2018-01-10 17:57] jtjeferreira commented on #2039
If anyone is missing the `Applicative#sequence` when use in a composed Applicative like in `Applicative[Future].compose[MyValidatedNel].sequence(segments)`, then an workaround described in
https://gitter.im/typelevel/cats?at=5a564e2f232e79134dedaad5

[2018-01-11 00:15] andyscott opened #2147 "Missing syntax import for `.unorderedTraverse`"
The import `cats.syntax.traverse._` doesn't provide the `.unorderedTraverse`. This is inconsistent, as the import `cats.syntax.foldable._` does provide the `unorderedFold` syntax.

Unfortunately I think an immediate fix for this would break binary compatibility. `import cats.UnorderedTraverse.ops._` can be used for the time being.

[2018-01-11 00:40] kailuowang commented on #2147
`cats.syntax.traverse` can extend an extra trait without breaking bin compat. So I think we should be able to fix this one

[2018-01-11 02:11] andyscott commented on #2147
If that's the case, I'll submit a PR shortly.

[2018-01-11 11:51] gabro commented on #1762
It seems the right place where to drop this https://github.com/gabro/scalaz2cats.

⚠️ Big disclaimer: the project above is meant for my needs, and it's very overfitted over a project I've migrated at $JOB.

That said, it may serve as an inspiration/base for more general migrations :-)

[2018-01-11 12:13] #1848 closed

[2018-01-12 13:19] kailuowang opened #2152 "IntelliJIDEA's support for simulacrum disabled in cats"
IntelliJIDEA's support for simulacrum is disabled by this [trick](https://github.com/typelevel/cats/blob/master/build.sbt#L40-L44) to enable compile-time-only dependency.

See discussion here.
https://youtrack.jetbrains.com/issue/SCL-13221

IntelliJ is a great tool to navigate the code base, without simulacrum support, it would be less useful in the Cats codebase.

3 Options I can see:
1. keep as

[2018-01-14 16:58] non commented on #2049
Just leaving a note here, it seems like `IndexedStateT` is already not stack-safe due to the use of `andThen` to compose functions. 😰

I was able to fix it by substituting `Composed(f1, f2)` for `f1 andThen f2` (as per https://gist.github.com/non/0d3a9b05a4892afabe0749a0ab79fbcc).

Not sure if anyone has seen this in action? I noticed it based on the benchmarks [here](https://github.com/iravid/tra

[2018-01-15 01:17] kailuowang commented on #2049
I am intrigued by the idea of a  `Free` based `State` in cats as well. Cc @iravid

[2018-01-15 06:12] iravid commented on #2049
👋

Nice! I was pretty annoyed by the getAndSet benchmark crashing here and was going to investigate later this week. `Composed` looks like a pretty cool solution - type-aligned list all the things ;)

Re a free structure based `State` - I think this would be really helpful. Unless someone beats me to it, I'm definitely going to work on a free indexed RWS (that can be special cased to RW/WS/RS etc.

[2018-01-19 06:17] wjlow commented on #1089
I'm at the point where I would like to have NonEmptyStream currently.

I have a `Stream[A]` at the moment that I know is never empty and `A` is a `Semigroup` without a `Monoid`. Would be good to be able to `reduce` it safely without having to do `stream.reduce(_ combine _)`, which is unsafe.

[2018-01-19 06:56] johnynek commented on #1089
@wjlow or you can use OneAnd right? https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/OneAnd.scala

[2018-01-19 13:16] BennyHill commented on #2130
re scala 2.10

The last release of [Scala.js, 1.0.0-M2](https://www.scala-js.org/news/2017/11/29/announcing-scalajs-1.0.0-M2/) was the last release that they will be doing...

So I would guess that the release of scala.js 1.0 and cats usage of it would provide a reasonable time to drop  2.10 for cats, too. I know it's not _necessary_ for cats to be in absolute sync with sjs, just an easy and reaso

[2018-01-19 13:23] BennyHill commented on #2130
scalfix with `macro-compat` style compatibility is ideal for this. `cats` can use the latest, and the rewrites fix the new code to work with the old scala/libs.

Once we add scala.js 1.0/0.6 as mentioned ^^, things get trickier as the release matrix also has to take into account that as well. ie scala 2.11/2.12 and scala.js 0.6/1.0 would require 4 released libs. AFAIK, sbt cannot do this type of c

[2018-01-19 13:38] chuwy opened #2157 "Add NonEmptyList.fromListGroupBy"
Name probably can be improved (`fromListGroupedBy`?), implementation needs to be improved for sure - I and will be happy to work on it if feature looks useful for someone. Basically idea is following:

[code]

We always know that if `List[A]` is not empty then values in `Map` will be `NonEmptyList`.

This also can be implemented along with https://github.com/typelevel/cats/pull/2141 as there's cle

[2018-01-19 13:45] LukaJCB commented on #2130
Another challenge will be 2.13 and the new collections, not sure exactly how much will break for us, but it will very probably cause problems with cross builds, no?

[2018-01-19 13:49] LukaJCB commented on #2157
That function already exists here: https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/syntax/list.scala

:)

[2018-01-19 13:50] chuwy commented on #2157
Ah, thank you very much, @LukaJCB. I was looking in `NonEmptyList`. Closing.

[2018-01-19 13:50] #2157 closed

[2018-01-19 13:52] chuwy commented on #2157
...and even in 0.9.0. SIgh.

[2018-01-19 13:54] BennyHill commented on #2130
From [their blog](https://www.scala-lang.org/blog/2017/02/28/collections-rework.html) :

I might guess that they currently plan a 2.12->2.13 one off rewrite, rather than a compile time 2.13->2.12 rewrite as a mentioned ^^. But this would hopefully be covered, and is "easier" in the sense that it's not another 3rd party lib to add to the release matrix

[2018-01-19 13:56] BennyHill commented on #2130
I guess I'm trying to sound out interest in doing more work for [catz-cradle](https://github.com/typelevel/catz-cradle) that covers these type of issues

[2018-01-19 16:44] kailuowang commented on #2130
Looks like that if we release against scalajs 1.0 we will have to drop Scala 2.10. So for this release we have to decide:
1. whether to bump the major version (but maintain bin comp with 1.x on scala 2.11 and 2.12)
2. if we don't bump, we are pretty much saying that we won't continue maintain a version with 2.10 and scalajs 0.6 since we won't have a version available for that branch except the bug

[2018-01-22 03:50] wjlow commented on #1089
Yes, thanks!

[2018-01-23 22:26] LukaJCB opened #2160 "Consider adding an InvariantMonad"
I came across the need for one recently and I think they can be fairly useful sometimes.
I've sketched out something based on @mpilquist's article
[code]

I think all of our current instances of `InvariantMonoidal` can also be `InvariantMonad`s. I think it comes up enough to be useful in cats-core, but one could also envision this belonging into something like the proposed `cats-more`.

[2018-01-23 22:35] johnynek commented on #2160
can you give some examples of the type class?

[2018-01-23 22:38] LukaJCB commented on #2160
Oh sorry, I forgot to link the actual article: https://mpilquist.github.io/blog/2015/06/18/invariant-shadows/

[2018-01-24 11:38] #2144 closed

[2018-01-24 13:29] ceedubs commented on #1184
@benhutchison @kailuowang after #1682 we are probably good to close this one out, right?

[2018-01-24 13:50] #1184 closed

[2018-01-25 12:12] #2147 closed

[2018-01-25 12:13] kailuowang commented on #2142
#2148 provides a fine example.

[2018-01-25 14:59] ceedubs commented on #997
@aaronlevin I'm coming back to this ancient issue. There is now a bit of information about this in the [guidelines](https://typelevel.org/cats/guidelines.html#a-idimplicit-priority-hrefimplicit-prioritya-implicit-instance-priority) doc. What do you think? Should we close this issue out or do you think that the info should be more detailed?

[2018-01-25 23:26] alexandru opened #2161 "Proposal: MonadError.transformWith"
So `MonadError` has `attempt` and `handleErrorWith` and for many use-cases one has to introduce both `map` / `flatMap` transformations and `handleErrorWith` handlers in the same "frame".

E.g. what happens for data types implementing `cats-effect` like `cats.effect.IO` and `monix.eval.Task` is something like this

[code]

This is more or less the equivalent of this pattern:

[code]

Well the probl

[2018-01-30 12:47] alexandru opened #2162 "Please bring back followedBy and forEffect"
I find this deprecation to be very unfortunate:

[code]

While I agree with the reasoning given in https://github.com/typelevel/cats/issues/1983, as their definition should have been on `FlatMap` instead, since their naming implies some ordering of effects, the problem is that their deprecation has left a void waiting to be filled, being a case of throwing the baby with the bathwater.

`*>` is jus

[2018-01-30 12:53] alexandru commented on #2162
PS: here's an instance where laws where broken due to this seemingly innocent switch — https://github.com/typelevel/cats-effect/issues/82

[2018-01-30 16:36] johnynek commented on #2162
I’m -1 on moving things into FlatMap or Monad just because we fear someone wrote a broken typeclasses that violates the laws.

If we start with that where does it end?

[2018-01-30 16:46] tpolecat commented on #2162
I'm confused. Applicative effects absolutely are ordered. The effects in `a *> b` are left to right just like `a >> b`.

[2018-01-31 21:47] SethTisue commented on #1648
Scala 2.13.0-M3 is out.

(With M3 just out, and with the big push to Cats 1.0 now complete 🎉, perhaps this would be an opportune time for someone to revisit this...)

[2018-01-31 23:26] BennyHill commented on #1648
https://github.com/typelevel/catalysts/issues/14#issuecomment-362104625

Links to the bulk of the work I did last year. I will revisit this on Friday, if thats OK.

[2018-02-10 00:50] ceedubs opened #2168 "Scaladoc link not working"
The "Documentation" ScalaDoc link on the website doesn't seem to be working. The API docs do exist at http://typelevel.github.io/cats/api/cats/index.html though. @larsrh is this something that might have been affected by the changes to the Typelevel site that you made a while back? cc @kailuowang who may also have insight.

[2018-02-10 08:24] larsrh commented on #2168
Strange. I just went to https://typelevel.org/cats/, clicked on documentation, and arrived at the documentation. What page were you looking at?

[2018-02-10 11:37] denis-it commented on #2168
+1
Sometimes "Documentation" link is https://typelevel.org/api/cats/index.html.

[2018-02-10 11:43] kailuowang commented on #2168
Doesn't work when you use typelevel.org/cats without trailing / , fixed by https://github.com/typelevel/cats/commit/8db3501e2026fdfe94a44affbf5acaa64c433f51
But we can't publish website until next release due to yet to release new API additions.
Hopefully we can release soonish

[2018-02-10 22:11] ceedubs commented on #2168
@kailuowang ah okay thanks for clearing that up.

[2018-02-12 19:32] SethTisue commented on #1648
in the context of 2.13 community build, I'm finding that discipline and catalysts are building fine, so it's just cats that doesn't compile yet

[2018-02-13 11:19] LukaJCB commented on #1648
@SethTisue I think we need to upgrade Machinist to M3, before we can build `cats`.

[2018-02-16 01:06] SethTisue commented on #1648
https://github.com/typelevel/machinist/issues/22

[2018-02-18 17:46] LukaJCB commented on #1648
We're still blocked by https://github.com/mpilquist/simulacrum/pull/99

[2018-02-18 19:04] Andrea commented on #1017
Sorry about the delay, I was hoping to work with some other peeps on this but it's taking too long so I started myself

[2018-02-19 03:18] bkirwi opened #2172 "`ap` ordering is inconsistent"
In `Apply`, `ap` is defined like so:

[code]

If we're using the generated typeclass syntax, that means user code looks like `function.ap(value)`.

Unfortunately, when `ap` is explicitly defined, it's almost always defined the opposite way. For example, on `Validated`:

[code]

This gives us usage code like `value.ap(function)`. Knowing which ordering to expect is pretty confusing: it varies depen

[2018-02-19 15:33] pauljamescleary commented on #1017
fwiw - I was planning to do a write up on abstractions used in the microsite I am building for https://github.com/pauljamescleary/scala-pet-store

[2018-02-19 18:11] PawelLipski commented on #1017
Ok great @Andrea, please keep me posted, once you create a PR I can populate the guide file content (in markdown)

[2018-02-20 16:51] LukaJCB commented on #1648
Still blocked by https://github.com/scoverage/scalac-scoverage-plugin/issues/214 :/

[2018-02-25 20:52] kubukoz commented on #434
What's the status on this? Are there any reasons not to make transformers non-final?

cc @kailuowang @LukaJCB

[2018-02-26 04:09] SethTisue commented on #1648
the action's over at #2173 now

[2018-02-26 15:54] kailuowang commented on #434
The implicit search scope includes the object where the alias is defined. So there is less need for an official companion object.  That is you can define instances in the same object where alias is defined.

[2018-02-26 21:51] Jacoby6000 commented on #1559
I think this can be closed.  flatTap was introduced already.

https://github.com/typelevel/cats/pull/1958

I'd personally like to see a `tap` as well, but I understand the hesitation there.

[2018-02-27 10:20] tilmanrossmy opened #2175 "Abstract Method error"
I have an Abstract Method error in an ammonite script of mine that I can't seem to resolve:
java.lang.AbstractMethodError: cats.implicits$.cats$kernel$instances$BitSetInstances$_setter_$catsKernelStdPartialOrderForBitSet_$eq(Lcats/kernel/PartialOrder;)V
  cats.kernel.instances.BitSetInstances$class.$init$(bitSet.scala:9)
  cats.implicits$.<init>(implicits.scala:3)
  cats.implicits$.<clinit>(implic

[2018-02-27 11:34] #1559 closed

[2018-02-27 12:33] LukaJCB commented on #2175
I think you're running into binary compatability issues, you should check that you have the latest versions of all your libraries.

[2018-02-28 07:20] omrihq opened #2176 "How to return Tupel in EitherT"
I have
[code]
in a `for` comprehension,

and on compilation I get
[code]

[2018-02-28 08:02] guersam commented on #2176
You need to convert `(Future[C], Future[D])` to `Future[(C, D)]` with `Future#zip` to get `EitherT[Future, (C, B)]`.

If you're using old scala version that doesn't have `Future#zip`, try `cats.Apply#product`.

[2018-02-28 08:03] guersam commented on #2176
oh, you got twitter's future, not scala stdlib... then it's `Future#join`.

[2018-02-28 12:14] alexandru commented on #2162
I'm speaking of suspended side effects. `Applicative` cannot force ordering of side effects, either via its signature or laws. If it did, then `cats.Parallel` would not be possible or useful, depending on how you look at it.

We prefer to say that if the type has a `Monad` implementation (an extra restriction that comes after `Applicative` gets implemented), that we'd rather have coherence between

[2018-02-28 14:39] SystemFw commented on #2162
:+1:

Otoh, `followedBy` is often just not the right name.

[code]

Doesn't do what you think it'll do.

[2018-02-28 16:13] mfirry commented on #1791
I've just tried this migration and I get a weird import fix:

[code]

[2018-02-28 18:52] omrihq commented on #2176
Thank you!!

[2018-02-28 18:52] #2176 closed

[2018-03-01 09:05] alexandru commented on #2162
How about `bindL` / `bindR`, or `chainL` / `chainR`? 🙂

[2018-03-01 17:34] PawelLipski commented on #1017
@Andrea @kailuowang just created a PR https://github.com/typelevel/cats/pull/2178

[2018-03-03 20:56] barambani commented on #620
I would look into this one if that's ok.

[2018-03-09 16:53] ceedubs commented on #2175
I agree with @LukaJCB -- make sure that your library and all of its dependencies are on the same version of cats. You may find a tool like [sbt-dependency-graph](https://github.com/jrudolph/sbt-dependency-graph) useful for this.

Since this thread has gone silent for a little while, I'm going to go ahead and close it out.

[2018-03-09 16:53] #2175 closed

[2018-03-09 16:54] ceedubs commented on #2172
I agree this is inconsistent/confusing/unfortunate. There's some related discussion in #2074.

[2018-03-10 00:19] alexandru commented on #1733
Hi all,

Trying to implement `Sync[Kleisli[F, R, ?]]` in cats-effect, I realized that the correct implementation would be:

[code]

This fixes the issue because it introduces a "lazy boundary" before "fa.run(r)", so it suspends evaluation before "fa.run" happens, so a new `flatMap` no longer has an opportunity to increase the stack size of the previous one.

Now @edmundnoble is telling me that doi

[2018-03-10 06:46] bkirwi commented on #2172
Ah, I see there's some history here! If this is a duplicate of an existing thing, we can maybe close?

I ran into this problem when trying to implement [an applicative `for` comprehension](https://github.com/bkirwi/applicative-syntax) -- that sort of syntactic abstraction relies on the same name meaning the ~same thing in different contexts, and would benefit from the improved type inference you g

[2018-03-10 11:38] alexandru commented on #1733
Update, I now have a PR in Cats for your consideration: https://github.com/typelevel/cats/pull/2185

[2018-03-10 12:30] alexandru opened #2186 "IndexedStateT is stack unsafe for left associative binds"
This test will fail with a stack overflow:

[code]

Note that the usual 10,000 iterations that we've been using for testing stack safety aren't enough, because for `IndexedStateT` the stack size doesn't grow that fast. But the error can be seen for 100,000.

This is a problem for projects like `cats-effect` that need to provide a lawful `Sync[StateT[F, S, ?]]` instance.

NOTE: similar with #1733

[2018-03-10 13:00] alexandru commented on #2186
And the PR is now here: https://github.com/typelevel/cats/pull/2187

[2018-03-10 13:08] alexandru commented on #1733
Related, the issue and fix for `IndexedStateT`:

- https://github.com/typelevel/cats/issues/2186
- PR https://github.com/typelevel/cats/pull/2187

[2018-03-11 15:54] ceedubs commented on #2172
@bkirwi the one that I linked is closed, so I think that we should keep this one open.

We used to have the function on the right and it caused lots of confusion because for a proper `ap` implementation the effect of the `F[A => B]` needs to be applied before the effect of the `F[A]`. There was a fair amount of discussion on this and we decided to change the order of the arguments to correspond to

[2018-03-13 00:13] Mullefa commented on #1818
Hey - some related ramblings - hopefully they'll be of some use.

We're currently using cats in the payment-api we're working on at The Guardian (still relatively new to it all, but improving slowly). We utilise `EitherT[Future, A, B]` a lot since most of our computations are asynchronous and sequential. However, at one point we want to make 2 concurrent, independent network requests and accumulat

[2018-03-13 01:57] akilegaspi commented on #620
I think this should be closed since @barambani already finished it and it has been merged to master

[2018-03-13 06:34] #620 closed

[2018-03-14 12:42] matthughes opened #2193 "Deprecate foreach in API"
On principle, Cats has not provided `foreach` methods for most of its datatypes as this method implies side-effects.  To be consistent, the following methods should be marked deprecated, documenting the suggested workarounds of either:

* using IO.traverse or
* using alleycats `foreach` additions to Foldable

[code]

[2018-03-14 14:52] #1733 closed

[2018-03-14 15:05] kailuowang commented on #1648
removed the milestone since the #2173 is already in 1.1 milestone (although if it doesn't get unblocked soonish it might get delayed to the next release)

[2018-03-14 18:11] #2186 closed

[2018-03-15 16:30] ghost opened #2195 "Cross build for Scala.js 0.6.x and 1.x"
see https://www.scala-js.org/news/2018/02/01/announcing-scalajs-1.0.0-M3/, esp [the tips on cross-building](https://www.scala-js.org/news/2018/02/01/announcing-scalajs-1.0.0-M3/#cross-building-for-scalajs-06x-and-1x).

Also of interest _may_ be [sbt-dynscalajs](https://github.com/sjrd/sbt-dynscalajs), but read the disclaimers first.

This task may be worth doing in conjunction https://github.com/t

[2018-03-15 16:32] kailuowang commented on #2195
maybe we should consider using adding this support to sbt-catalysts and start using it in cats?

[2018-03-16 06:33] ryanstull commented on #2093
Not sure if this issue should still be open since cats 1.0.0 was released.  I just added #2197 for adding Magma to the kernel, it still probably needs a bit of work though, and it might be worth it to add Quasigroup and Loop too if we decide to add this.

[2018-03-18 23:07] bkirwi commented on #2172
A nice incremental step might be to add the "ideal" signature as a new method / syntax extension, with the idea that we might switch  in a future major release. My inclination would be to add to `F[A]` something like `def applyMap[B](fn: F[A => B]): F[B]`, with left-to-right effect order. Does that seem plausible?

[2018-03-19 15:06] LukaJCB opened #2201 "Const should have a CommutativeApply/CommutativeApplicative instance"
Whenever `C` has a `CommutativeSemigroup/Monoid` instance. We should be able to add these in a backwards compatible way, no?

[2018-03-19 15:08] kailuowang commented on #2201
Yes. Adding instances is usually binary compatible in cats. I went through all of the instance definitions to make sure they are abstract classes before the 1.0 release.

[2018-03-19 15:11] barambani commented on #2201
it should be pretty similar to the stuff I've looked into recently. I would try it if that's ok

[2018-03-19 19:06] longcao opened #2202 "Port Alleycats README"
I found the [README for Alleycats](https://github.com/non/alleycats/blob/master/README.md) to be pretty useful for understanding why it exists as another module with separated typeclasses. It doesn't look like it was ported in with https://github.com/typelevel/cats/pull/1984 - would it be useful to have some rendition of it again somewhere in this repo?

[2018-03-19 19:53] BennyHill commented on #2202
ref https://gitter.im/typelevel/cats-dev?at=5a99bffa6f8b4b9946e0c3c6 so another :+1:

[2018-03-19 20:31] BennyHill commented on #1336
ref https://gitter.im/typelevel/cats-dev?at=5a99bffa6f8b4b9946e0c3c6

Could this now be closed?

[2018-03-19 20:31] BennyHill commented on #307
ref https://gitter.im/typelevel/cats-dev?at=5a99bffa6f8b4b9946e0c3c6

Could this now be closed?

[2018-03-19 22:23] AlejandroME commented on #2139
@kailuowang Can I take this?

[2018-03-19 22:53] johnynek commented on #307
I think so. I don't see any laws this follows and I think we try to avoid lawless typeclasses.

[2018-03-19 22:53] #307 closed

[2018-03-19 23:44] kailuowang commented on #2139
of course. @AlejandroME Thanks!

[2018-03-19 23:45] kailuowang commented on #1336
MonadFilter moved to cats-mtl.

[2018-03-19 23:45] #1336 closed

[2018-03-20 00:33] mdedetrich commented on #2130
@BennyHill

This isn't going to be possible any time soon due to how SBT is designed, I have experienced this issue in working with scalajson (which is also designed to be extremely strict in terms of binary compatibility), see https://github.com/portable-scala/sbt-crossproject/issues/47 for more info (its basically a fundamental limitation in SBT)*

* @sjrd Did do scalajs-dyna lib plugin for SBT

[2018-03-20 00:41] BennyHill commented on #2130
@mdedetrich Thanks for the feedback, and yes, I agree that sbt won't support this anytime soon :worried:

But based on other work I've done here and there, it _might_ be possible to cobble something together . So I guess earlier, I was just trying to sound folk out, before spending too much time :wink:

[2018-03-20 01:42] paulp commented on #307
@johnynek I think the reasoning was more that [it has since been added](https://github.com/typelevel/cats/blob/master/alleycats-core/src/main/scala/alleycats/Empty.scala). Which is not to say it is lawful, but your response implies it never came to be.

[2018-03-20 04:22] johnynek commented on #307
Sorry @paulp I didn't know it was added to alley-cats.

Indeed alley-cats is our collection of less-than-lawful typeclasses and instances, and it was merged into cats as a submodule to ease publishing and adoption.

[2018-03-20 16:34] valydia opened #2207 "Remove / Deprecate Free.inject in cats 2.0"
This is to follow up a TODO that has been added on `Free.inject` method which has been superseded by `Free.liftInject` as part of this PR https://github.com/typelevel/cats/pull/2169.

[2018-03-20 23:28] martin-g commented on #2130
@BennyHill @mdedetrich Mill seems to support this already: https://github.com/lihaoyi/mill/blob/46c516893a641a283f11a46f5c45a5cf1b4af373/scalajslib/test/src/mill/scalajslib/HelloJSWorldTests.scala#L28

[2018-03-21 07:07] alexandru commented on #2130
@BennyHill just one thought — if Cats supports both Scala.js versions, then that's going to be the expectation for the other Typelevel projects.

So if you cobble something together, maybe you can write an article, a gist or something to let the other project maintainers know what to do.

[2018-03-21 08:05] sjrd commented on #2130
The recommended way to cross-compile for Scala.js 0.6.x and 1.x is explained at the bottom of [the 1.x milestone release notes](https://www.scala-js.org/news/2018/02/01/announcing-scalajs-1.0.0-M3/). sbt-dynscalajs should be used only if the recommended setup does not suit you.

You could also use Mill, as mentioned, but I would wait until more projects *start* their development with Mill and kick

[2018-03-21 16:13] DavidGregory084 commented on #2130
I can highly endorse Mill, but it's worth bearing in mind that cats makes quite extensive use of SBT plugins, for which replacements might not yet exist in Mill

[2018-03-22 02:21] jupco opened #2208 "EitherT should have a type constructor from a Foldable"
It would be useful to have a way to easily build an `EitherT` from a `Foldable`, e.g. a `List`, of `EitherT`, what I'm proposing is a sequence method in the companion object as it's in other monads, e.g. `io.monix.Task`. all of this preserving, of course, the fail fast nature of EitherT.

So if we have a `List(EitherT[Id,String, Int](Right(3)), EitherT[Id, String, Int](Right(2))) ` we could get an

[2018-03-22 12:58] fdietze opened #2210 "Either pattern match Right before Left"
Since `Either` is right-biased, wouldn't it make sense to change the order for pattern matching to match `Right` first? Right should be the common non-error case.

[code]

In the code I see it the other way round: https://github.com/typelevel/cats/search?utf8=%E2%9C%93&q=case+Left&type=

Performance wise this should only make a tiny difference. I found a benchmark from 2011: https://stackoverflow.

[2018-03-24 15:26] ceedubs commented on #1640
I'm pretty sure that this is resolved, so I'm going to close this out. @djspiewak please speak up if I'm mistaken.

[2018-03-24 15:26] #1640 closed

[2018-03-24 20:21] BennyHill commented on #2130
@mdedetrich, @martin-g, @alexandru, @sjrd @DavidGregory084 - Many thanks for the comments!!

So for now, looks like it is worth moving _some_ of the discussion here to https://github.com/typelevel/cats/issues/2195 that, I think, pre-dates these later comments.

[2018-03-24 21:36] ceedubs commented on #2201
Resolved by #2204

[2018-03-24 21:36] #2201 closed

[2018-03-24 21:37] ceedubs commented on #2168
This is fixed.

[2018-03-24 21:37] #2168 closed

[2018-03-24 21:42] ceedubs commented on #2113
@rsoeldner should this be closed out now that #2123 is merged?

[2018-03-24 21:46] ceedubs commented on #2208
@jupco this is already possible for any traversable functor (`Traverse`), such as `List` in your example.

[code]

Are you specifically interested in a case in which you have a `Foldable[F]` instance but not a `Traverse[F]` instance?

[2018-03-24 21:48] ceedubs commented on #2075
I'm going to change the title of this to more accurately reflect the issue.

[2018-03-24 22:14] TimEve opened #2212 "StackOverflowError on traverse[Kleisli[F, A, ?], B]"
The following snippet throws a StackOverflowError (assuming kind-projector plugin):
[code]

The equivalent snippet without Kleisli (`List.fill(100000)(1).traverse[F, Int](a => Applicative[F].pure(a))`) runs as expected.

Top of the stacktrace:
[code]

[2018-03-24 22:27] ceedubs commented on #2212
@alexandru recently did some nice stack-safety work for `Kleisli` in #2185. I've confirmed that this is still the case after that merge (which makes sense, since it was done on `flatMap`). @alexandru do you think that there might be any similar fixes possible in this sort of context?

[2018-03-24 22:31] ceedubs commented on #123
This was resolved (at least for sorted sets) by #2143.

[2018-03-24 22:31] #123 closed

[2018-03-24 22:40] ceedubs commented on #556
I'm going to go ahead and close this out for a few reasons:

- It's quiet for a long time.
- As mentioned above, there are issues with forcing variance into type constructors that are used within `EitherT`.
- Now that we have `widen` and `leftWiden`, this is easier to work around.

[2018-03-24 22:40] #556 closed

[2018-03-24 22:46] ceedubs commented on #430
All of the data types in https://github.com/typelevel/cats/issues/430#issuecomment-129741788 now have docs. I'm going to close this out and we can open new tickets for anything that we find is missing.

[2018-03-24 22:46] #430 closed

[2018-03-24 22:49] ceedubs commented on #514
I think that this was improved by #2052. I'm going to go ahead and close this out. @non feel free to reopen if you think that there are still improvements that could be made here.

[2018-03-24 22:49] #514 closed

[2018-03-24 22:52] ceedubs commented on #540
I'm going to go ahead and close this out. We have settled on a convention. It may not be perfect, but to change it now would probably cause more of a headache than it would be worth. @adelbertc let me know if you have any lingering concerns here.

[2018-03-24 22:52] #540 closed

[2018-03-25 00:04] peterneyens commented on #2212
Overriding `map2` in `KleisliMonad` using the `pure` + `flatMap` suspension trick, doesn't overflow the stack for `Eval`

[code]

Maybe we can come up with something better though ...?

---

The easiest solution at the moment (I think) is to lift to `Free`, like @johnynek mentioned in #1733:

[code]

[2018-03-25 06:07] rsoeldner commented on #2113
@ceedubs yes :+1:

[2018-03-25 06:07] #2113 closed

[2018-03-25 07:12] danslapman commented on #700
For all, who needs continuation monad, I just ported IndexedContT from scalaz: https://github.com/danslapman/cats-conts

[2018-03-25 15:51] ceedubs commented on #576
I think that now that we are past a 1.0 release it would be a hassle and _more_ confusing to make any of these name changes now. I'm going to go ahead and close this out.

[2018-03-25 15:51] #576 closed

[2018-03-25 16:16] ceedubs commented on #629
Resolved by #893

[2018-03-25 16:16] #629 closed

[2018-03-25 16:21] ceedubs commented on #776
I guess that we dropped the ball on resolving the discussion on this one. @rklaehn I think that you bring up good points. But at this point it would be rather disruptive to change these names, for marginal benefit. I'm going to go ahead and close this out.

[2018-03-25 16:21] #776 closed

[2018-03-25 16:26] johnynek commented on #2212
This feels a little off to me, like we are smuggling a suspend into Monad.

I mean, we could have a function like that with the only law that it is the same as identity, but it feels like code smell.

I hate to copy that pure/flatMap snippet around though because we somehow feel that is okay but naming it is not.

Maybe unsafeSuspend?

I would prefer a more direct assault on Traverse stack safety.

[2018-03-25 17:24] ceedubs commented on #817
Is this effectively taken care of now?

[2018-03-25 17:26] ceedubs commented on #869
@adelbertc what do you think -- should we keep this open for consideration in future versions of Cats, or do you feel comfortable with the convention that we have settled on?

[2018-03-25 17:26] ceedubs commented on #529
Resolved by #1758

[2018-03-25 17:26] #529 closed

[2018-03-25 17:31] BennyHill commented on #529
from ^^

https://github.com/typelevel/catalysts/ :wink:  see also https://gitter.im/typelevel/cats-dev?at=5ab7bb09e3d0b1ff2c66cb35

 But yes. this particular issue should be closed

[2018-03-25 17:37] ceedubs commented on #932
While there are various points of view on this, it seems that the majority of Cats maintainers don't think that `Read` belongs in Cats. For real-world use-cases you probably want more than an `Option` as a result, as you probably want to know a reason that a `String` failed to be parsed. I'd recommend a parsing library such as @adelbertc recommended [here](https://github.com/typelevel/cats/issues/

[2018-03-25 17:37] #932 closed

[2018-03-25 17:39] ceedubs commented on #944
@alexandru is this now satisfied by type classes in cats-effect?

[2018-03-25 17:42] ceedubs commented on #965
This is no longer relevant after #1621.

[2018-03-25 17:42] #965 closed

[2018-03-25 17:43] ceedubs commented on #1016
We seem to have gone in the opposite direction here, with alleycats being absorbed into this repo. At this point there seems to be marginal benefit to putting free into a separate repo, so I'm going to close this out.

[2018-03-25 17:43] #1016 closed

[2018-03-25 18:03] ceedubs commented on #1341
I think that this is resolved. @non feel free to reopen if I'm mistaken.

[2018-03-25 18:03] #1341 closed

[2018-03-25 18:08] alexandru commented on #944
The ideas I had in this issue are old and my attempt obsolete.

Also at this moment `Eval` can't be described by the type classes in cats-effect, the issue being that for now we needed `MonadError`, see discussion at: https://github.com/typelevel/cats-effect/issues/67 - but on the other hand we are able to work with `EitherT[Eval, Throwable, ?]`.

So that said I'm not interested in pursuing this a

[2018-03-25 18:18] ceedubs commented on #944
👍 thanks, @alexandru

[2018-03-25 18:18] #944 closed

[2018-03-25 18:25] alexandru commented on #2212
You mean we need a name for `F.unit.flatMap(f)`? I could agree with a name. `defer` is available.

That said Kleisli's current encoding is `A => F[B]` and the `flatMap` takes an `f: B => Kleisli[F, A, C]`. And we are in a tough spot with this one because:

1. we need that `A` input twice, once for generating `F[B]` and a second time for generating `F[C]`
2. whatever we do, we'll end up building an

[2018-03-25 18:26] ceedubs commented on #1630
I'm going to go ahead and close this out, because I think that in #1662 we decided that this shouldn't exist. @djspiewak feel free to reopen this if I'm mistaken.

[2018-03-25 18:26] #1630 closed

[2018-03-25 18:28] ceedubs commented on #1689
@ctongfei thanks for raising this concern. This wasn't changed before 1.0 and I think that it would be unnecessarily disruptive at this point, so I'm going to go ahead and close this out.

[2018-03-25 18:28] #1689 closed

[2018-03-25 19:26] ceedubs commented on #1909
I'm going to go ahead and close this out now that we have `NonEmptySet` available. The behavior can still perhaps be surprising, but hopefully now people have less of a reason to try to use `OneAnd` with `Set`.

[2018-03-25 19:26] #1909 closed

[2018-03-25 20:38] ceedubs opened #2216 "cats.implicits._ doesn't include Show[Duration] instance"
I think that fixing this would involve a binary incompatibility for scala < 2.12, so we probably can't fix this until Cats 2.0.

[code]

[2018-03-25 20:47] peterneyens commented on #2216
Not sure, but can we do something for `instances` like we did for `syntax` with [AllSyntaxBinCompat0](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/syntax/all.scala#L56-L59) (introduced in #2148)?

[2018-03-25 21:31] ceedubs commented on #1968
Closing as a duplicate of #383.

[2018-03-25 21:31] #1968 closed

[2018-03-26 01:43] ceedubs commented on #2216
@johnynek in the past I recommended making our instance mix-in traits package-private to ease binary compatibility. However, if I recall correctly, some people didn't want that specifically because they _did_ want to be able to extend the instance mix-in traits. Considering this, we probably shouldn't assume that people aren't subclassing our instance traits.

Binary compatibility becomes much les

[2018-03-26 16:04] jupco commented on #2208
I don't know if that case can happen, but I was more interested in the fact that Traverse.sequence needs an Applicative of EitherT which can only be provided when you know the other 2 type parameters of it, as in this case `Id` and `String` so there is no way to use this in a type parametric function, because the compiler is unable to find a suitable implicit for Applicative

[2018-03-26 19:30] peterneyens commented on #2208
I don't understand what you mean with

but you can write at the moment :

[code]

[2018-03-26 21:27] jupco commented on #2208
but it is attached to a `List` not to a generic `Foldable`

[2018-03-26 21:59] peterneyens commented on #2208
Like @ceedubs commented, you can do this for all traversable functors:

[code]

[2018-03-27 15:39] jupco commented on #2208
Sorry you're absolutely right, when I tried it with a Traverse, it didn't work for me, would you mind to explain to me why this doesn't find the implicit as yours? Thanks

[code]

[2018-03-27 15:44] LukaJCB commented on #2208
Your `M` type parameter is missing a monad instance :)

[2018-03-27 15:56] jupco commented on #2208
Thank you  :)

[2018-03-27 21:36] kailuowang commented on #2216
should be pretty trivial to add it, just let add the `cats.instance.DurationInstances` to `cats.implicits` and `cats.instances.all`. We can't change `cats.instance.AllInstances` and thus `cats.tests.CatsSuite`, those would have to wait for cats 2.0

[2018-04-05 08:09] Rlucas12 commented on #2139
Is this done ?

[2018-04-05 13:58] AlejandroME commented on #2139
@Rlucas12 WIP, pushing the first draft between today and tomorrow.

[2018-04-05 14:20] fosskers opened #2220 "StateT Performance Regression"
Between 1.0.0 and 1.1.0 (and previously between 0.9 and 1.0.0), `StateT` has suffered a performance regression. I discovered this when updating versions for [scalaz-and-cats](https://github.com/fosskers/scalaz-and-cats).

For:
[code]
we see this runtime drop from **8,920,953 ns** to **9,744,808 ns**. This is after a 2x slowdown between 0.9 and 1.0.0 which @iravid said had something to do with `Ind

[2018-04-05 14:32] kailuowang commented on #2220
Thanks for reporting this. It's probably introduced in this PR https://github.com/typelevel/cats/pull/2187 which improves the stack safety of StateT.
A very interesting alternative solution might be @iravid 's [FreeState](https://github.com/iravid/transformer-benchmarks), which seems to be 1 order of magnitude faster.

[2018-04-05 14:36] fosskers commented on #2220
Can't really get mad about a regression if it's for safety/correctness eh?

[2018-04-07 20:33] PawelLipski commented on #1017
@Andrea @kailuowang @adelbertc pls take a look at the PR #2178

[2018-04-09 15:22] longcao opened #2224 "Type class infographic on its own page"
Per [my tweet](https://twitter.com/oacgnol/status/983362988676665344), I think it would be nice to have the [cats-infographic](https://github.com/tpolecat/cats-infographic) svg on its own page rather than on https://typelevel.org/cats/typeclasses.html, which is getting to be quite a large page.

[2018-04-09 18:27] #2202 closed

[2018-04-13 05:21] satansk opened #2227 "Is there a way to treat Tuple as Applicative?"
If I have a list of tuples:

[code]

I can use `List.unzip` to get a tuple of lists:

[code]

But is there any way to do something like this ?

[code]

Since the type of `xs` is `List[Tuple2[A, B]]`,  and what I want is `Tuple2[List[A], List[B]]`, it seems like what `Traverse.sequence` does. But to archive it, we have to be able to treat `Tupple` as `Applicative`.

Thanks :)

[2018-04-13 18:56] LukaJCB opened #2228 "Add MonadError instance for OptionT where F is a Monad"
Currently we have `(Monad f) => Monad (OptionT f)` as well as `(MonadError f e) => MonadError (OptionT f) e`, but we could just as well change that first definition to have a `MonadError[OptionT[F, ?], Unit]`. :)

[2018-04-13 19:14] LukaJCB commented on #2228
I've even got a free implementation to give away:
[code]

[2018-04-13 19:27] oleg-py commented on #2228
Btw, is `MonadError[Option, Unit]` actually useful?

[2018-04-13 20:30] LukaJCB commented on #2228
As useful as it ever as, I wager ;)

[2018-04-15 14:41] kubukoz commented on #2216
If it's OK, I'd like to contribute this (add `cats.instance.DurationInstances` to `cats.implicits` and `cats.instances.all`) :)

[2018-04-15 14:44] LukaJCB commented on #2216
I think before we do that, we need to figure out a branching strategy :)

[2018-04-15 14:45] kubukoz commented on #2216
One PR could do that, and a second one (forking the first one's branch) would move these extensions to `AllInstances` - would that work?

[2018-04-15 14:53] kubukoz commented on #1534
Seems to have been fixed by https://github.com/typelevel/cats/pull/2169

[2018-04-15 15:05] #1534 closed

[2018-04-16 14:51] LukaJCB opened #2229 "Add a type class for principled error handling"
We currently have `ApplicativeError` and `MonadError`, but as I argue in [this blogpost](https://typelevel.org/blog/2018/04/13/rethinking-monaderror.html) it has some limitations that I'd like to overcome. I'd be happy to lead the charge on this if no one else steps up and I'd be even more happy to get some help on naming things :)

[2018-04-16 15:04] kailuowang commented on #2229
I think this as transmission between MonadError and Monad, so we might need to have Monad in the name. With that consideration names that come to my head is `ErrorHandling`

[2018-04-16 15:19] LukaJCB commented on #2227
This doesn't really work as of right now, `Applicative` takes a type constructor with a single argument, and `Tuple2` takes two. You can form an `Applicative` for `Tuple2[A, ?]`, but that's not what you're describing in your case.

[2018-04-16 16:02] LukaJCB commented on #2229
I like it! Though I think people might get confused when `MonadError` defines `handleError` and `ErrorHandling` does not. Maybe a different verb, `ErrorControl`?

[2018-04-16 16:39] LukaJCB commented on #2229
The laws did need them at some point, but I've revised them a lot so it might be that they no longer do.  😄 I think we need atleast `ApplicativeError` to get `raiseError` and formulate the laws, though then we no longer get the `ensure` counterpart `assure`. The `G[_]` part currently only uses `pure` after removing a discarded law, so that should work :)

[2018-04-17 16:39] LukaJCB opened #2233 "Use an abstract type member for the parallel type of the Parallel type class"
Right now we're using two type parameters which essentially means bidirectional functional dependencies. However all of our functions making use of parallel are uniquely determined by `F`, meaning we can make `G` an abstract type parameter which would get rid of the some of boilerplate when writing abstract code over `Parallel`. This is a breaking change, so would need to go to cats 2.0. :)

[2018-04-20 10:17] n3ziniuka5 opened #2236 "Add .isEvaluated to Eval"
This is a feature request to add `.isEvaluated: Boolean` to `Eval`.

Another possibiltiy would be add `.toOption: Option[A]`. The result of that would be `None` if it wasn't evaluated.

My usecase is that I have a `Free` algebra that composes other algebras that depend on various resources (httpClient, database, etc.). To be able to compose those algebras freely I have a single `Deps` object with

[2018-04-20 17:25] johnynek commented on #2236
I don't think we want to do this. As cats-effect has spun up we have generally regarded the idea that Eval can do effect capture as a bad thing.

See two recent PRs:
exec alias for eval
https://github.com/typelevel/cats-effect/pull/178

resource, which seems like what you want:
https://github.com/typelevel/cats-effect/pull/188

the problem is, the type of Eval implies it is safe, but only maybe no

[2018-04-21 07:34] n3ziniuka5 commented on #2236
I get your point and understand that something like this makes more sense in cats-effect.

For the time being I just wrote a small class that solves this particular problem for me. I'll be able to move to a cats-provided solution if one becomes available at some point.

[2018-04-24 15:11] onzo-vlamp commented on #2160
Hi, just to add a concrete use case I found:

[code]
We often have a more raw representation of a record for storing that is then transformed into a friendlier representation after some validation. But going back from the friendlier format to the raw cannot fail. Also found similar needs for encoder/decoder representations.

Hope it helps drive this 🙂

[2018-05-02 19:20] johnynek opened #2242 "Add `or` to ApplicativeError"
[code]

Also, this implies you can make a `SemigroupK` if you have a MonadError. With an example error, you can make a `MonoidK`. Or, if you have a `MonadError[F, Unit]`, such as Option, you have an Alternative, I guess.

[2018-05-02 19:29] kailuowang commented on #2242
we can add this to [ApplicativeErrorOps](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/syntax/applicativeError.scala#L52) in 1.x.

[2018-05-02 19:37] johnynek commented on #2242
true, handleErrorWith is all that is needed here.

[2018-05-02 23:36] johnynek commented on #2242
@barambani Please!

[2018-05-03 13:46] dwijnand commented on #2130
I think this one makes the most sense.

Stick to the 1.x version strategy, with the next 1.2.0 release only for Scala 2.12+ and Scala.js 1.x. The 1.1.x version series of Cats would be the last one to support Scala 2.10/2.11 and Scala.js 0.6, and only (serious) bug fixes be back-ported and released.

Dropping support doesn't mean the library in its current state is no longer available, it just mean

[2018-05-03 14:14] kailuowang commented on #2130
@dwijnand to be clear, I was not talking about dropping Scala 2.11 in 1.x, only 2.10 and scalajs 0.6.
With so many users stuck with 2.11 due to Spark and other reasons, I don't know if we want to cross 2.11 out that quick.
cats-core_2.10 is about 1% of the downloads now while cats-core_2.11 is more than 50%

[2018-05-03 14:25] dwijnand commented on #2130
I see, thanks for clarifying!

Then I say make 1.1.x is the last version series for 2.10. Keep releasing cats for 2.11 and 2.12 in 1.2+.

Then when it makes sense and/or you get tired of being held back by Scala 2.11, then the version series around that time, say 1.3.x, becomes the last series for Scala 2.11, and 1.4+ becomes Scala 2.12+.

I think it makes things simple, linear, and easier to main

[2018-05-04 18:02] ChristopherDavenport commented on #2233
I've created a temporary lib to deliver this feature until we can get this for 2.0.

Let me know if anything would like to be tweaked or to initiate a PR upstream to cats. Everything is working for me so I'm inclined to release a `0.1.0`

https://github.com/ChristopherDavenport/cats-par

[2018-05-04 19:15] LukaJCB opened #2244 "Cats testkit based on other testing frameworks?"
Right now our cats testkit is based on `ScalaTest`, personally I don't really like that testing library all that much, so it'd be great if we could offer an alternative that's just as integrated for law testing.
I think Monix/minitest would be a good candidate to get this going :) what do you think?

[2018-05-04 19:19] tpolecat commented on #2244
I'm not a fan of any existing test framework at this point because all of them are side-effecting, but I would definitely prefer something lighter like minitest.

[2018-05-04 19:34] kailuowang commented on #2244
I am curious what people would need from the cats-testkit if they are using `minitest`. In mainecoon I am using ScalaTest and I don't even need `cats-testkit`.

[2018-05-04 19:40] tpolecat commented on #2244
The main feature is setting up law-checking, which isn't even remotely obvious. Also providing a combination of deps that work together. This stuff was always a nightmare in scalaz.

[2018-05-04 19:44] LukaJCB commented on #2244
It also comes with discipline integration so you can do `checkAll` for law tests, which is really the main reason I do it, tbh

[2018-05-04 19:48] kailuowang commented on #2244
dicispline comes with cats-laws, you don't need cats-testkit. You can do law-checking without cats-testkit.

[2018-05-04 19:49] kailuowang commented on #2244
maybe we should update the documentation to make this less confusing.

[2018-05-04 19:50] tpolecat commented on #2244
As far as I can tell there is exactly zero doc for discipline so I don't consider it something we can expect people to use directly. So yeah maybe we could fix that.

[2018-05-04 19:59] ChristopherDavenport commented on #2244
A better guide for discipline would be extremely useful. As without it being easy to put into place unlawful instances will likely proliferate outside of libraries that have overcome that entry-barrier.

[2018-05-04 20:16] kailuowang commented on #2244
`Discipline` comes with two tiny parts.
One is to help define hierarchical laws
https://github.com/typelevel/discipline/blob/master/shared/src/main/scala/Laws.scala
The other part is two helpers to generate ScalaTest and Spec2 tests using laws - i.e. the `checkAll` thing.
The `ScalaTest` one is like three lines
[code]
I guess what we really need is to provide `checkAll`s for other test frameworks

[2018-05-04 20:26] kailuowang commented on #2244
I am modifying the documentation.

[2018-05-06 02:55] johnynek commented on #2242
@kailuowang do we have a list of changes that we hacked onto AnyVal classes that we would like to undo?

Side question: should we prefer to keep typeclasses minimal, and have most methods on anyval extensions? It seems that we have almost all methods on the typeclass rather than thinking much about what could plausibly be optimized per type. I guess if binary compatibility was not a problem, and i

[2018-05-06 20:23] jmcardon opened #2250 "Consider Async.deferFuture"
Current interop with future is:
[code]

I propose:

[code]

Reasons:
- This is a common operation for people.
- (Minor reason) `fromFuture` is 3 extra allocations and evals used right: Pure + Suspend (defer) + Bind + Async. This would only be `Async`.
- `fromFuture` allows you to construct non-RT values with `IO.pure` or whatever. While you can go wrong with `deferFuture` at least it is explicitly

[2018-05-06 20:30] kubukoz commented on #2250
Of course, it'll have to be a function in the `Async` object though :P

Also, can we use `r.toEither`?

[code]

[2018-05-06 20:34] LukaJCB commented on #2250
I think this should go to `cats-effect`, no? :)

[2018-05-06 20:35] jmcardon commented on #2250
@LukaJCB I'm an idiot. Whoops. Wrong repo. lmao

[2018-05-06 20:35] #2250 closed

[2018-05-06 20:35] kubukoz commented on #2250
@jmcardon I didn't notice either 😂 we're all idiots

[2018-05-09 17:16] #2242 closed

[2018-05-10 12:15] oleg-py opened #2254 "Syntax extensions for Parallel require Monad[M], but implementation doesn't"
I discovered today that to use syntax extension for `parTraverse`/`parSequence`, a `Monad[M]` instance is required.

[code]
While `Parallel.parTraverse` is defined as follows (notice lack of `Monad[M]`)
[code]
Same is true for `parSequence`. Is that an oversight?

[2018-05-10 12:18] LukaJCB commented on #2254
Yes it is, unfortunately we can't change it until cats 2.0.
There's already a PR at https://github.com/typelevel/cats/pull/2180

[2018-05-10 19:15] guizmaii opened #2255 "`parFlatTraverse` as a syntax extension"
Hi,

I was wondering if it's imaginable for you to add the `parFlatTraverse` as a syntax extension ?

For now, it only exists in the `Parallel` companion object.

Thanks,
Jules

[2018-05-10 21:00] Avasil commented on #2255
@guizmaii
Do you plan on doing PR for that? If not I'm happy to do this :)

[2018-05-10 21:09] guizmaii commented on #2255
@Avasil I don't have enough time to do this. I still have to finish another PR here. I'm already waiting for your PR 🙂

[2018-05-11 02:51] rgkirch opened #2257 "where is rightmap in bifunctor.scala"
Why is there a a leftMap in src/main/scala/cats/Bifunctor.scala but there is not rightMap?
Searching rightMap in the github issues shows a commit adding leftMap and rightMap to bifunctor but it is not in the current version and I did not find the commit that removes it.

Thanks.

[2018-05-11 21:49] durban commented on #2257
It have been removed in #1230. The reasoning seems to be that everything which has a `Bifunctor` also tends to have a `Functor` on the right type param (I don't know if this is actually true). If so, then `rightMap` is simply `map`.

[2018-05-12 21:11] rgkirch commented on #2257
Ok thanks. Yea, I tested it and map just applies to the right member of a tuple. Thank you.

[2018-05-12 21:11] #2257 closed

[2018-05-20 17:33] oleg-py opened #2261 "Given MonadError[F, Z], EitherT[F, E, ?] should provide a MonadError[..., Either[Z, E]]"
The title says it all, basically.

It's a known fact that something like `EitherT[IO, E, ?]` has two channels of failing: by raising the `Throwable` in `IO` and by raising a `E` in an inner `Either`. Instead of prioritizing the former, I suggest we expose the ability to work with both channels of failure directly by using a coproduct type.

Same applies to `OptionT[F, A]`

[2018-05-21 10:47] iravid opened #2263 "Add a Binested data type"
A newtype wrapper like `Nested` for values of the form `F[G[A], H[B]]`.

[2018-05-21 15:01] barambani commented on #2261
I can give a look if that's ok

[2018-05-22 07:26] #1017 closed

[2018-05-23 09:44] BennyHill commented on #2244
Catalysts provides all of this, and has done so for a few years. And was based on work done in cats, spire, algebra, shapeless, etc.

Its fine if folk decide on another solution, but we may well be going round in circles here.

[2018-05-23 09:48] BennyHill commented on #2244
Btw, maybe not obvious, but discipline is well documented in the scaladoc.

[2018-05-23 15:19] BennyHill commented on #2195
Quick update on this:

This change requires the change to the newer crossproject. Coupled with that,  I recently did a PR for SBT that introduces composite projects - see https://github.com/sbt/sbt/issues/3042 and https://github.com/sbt/sbt/pull/4056

So I'm waiting for sbt 1.2, that hopefully will be out soon

[2018-05-23 21:12] BennyHill opened #2267 "Publish for 2.13.0-M4"
Here we go again...

[2018-05-23 23:36] #2255 closed

[2018-05-24 12:49] skibaa opened #2268 "Infix operators for flatMap, coflatMap and coKleisli composition"
Cats already has the infix operator for Monad >>= which is very useful and expressive for chaing efectful functions.

Both haskell and scalaz also provide the fish operator >=> for kleisli composition, and also their right-to-left versions =<< and <=<

There are also the same operators for comonads: =>>, =>=, <<=, =<=

I would be glad to create a pull request for these if nobody objects.

[2018-05-24 13:05] LukaJCB commented on #2268
I like the kleisli composition operators, but not so sure on the comonadic ones, another question is do we define them for `A => F[B]` or `Kleisli[F, A, B]`?

[2018-05-24 13:11] skibaa commented on #2268
I think it is more natural in Kleisli[F, A, B], just next to the existing compose method.

And why are not you sure on comonadic ones? What's the reason to not have them, except presumably less familiar to some people?

[2018-05-24 13:13] ericaovo opened #2269 "Adding biSemiFlatMap to EitherT"
Looking into the methods available on an `EitherT` instance I came across the need of having something like the following:

[code]

Here's an example:
[code]

Happy to open a PR if it sounds reasonable.

[2018-05-26 14:27] kubukoz commented on #1801
I would like to do `Order`, unless you think `PartialOrder` should come first :)

[2018-05-26 14:33] kubukoz commented on #1287
I think it should be possible to find all the instances we define using Scalameta...

Possibly even something like `A, Monad[F] => Monad[Kleisli[F, A, ?]]`.

Do you think it's worth taking a look? I'd gladly try doing a prototype myself, if it sounds like a good idea.

[2018-05-26 16:43] #2139 closed

[2018-05-26 19:45] Baccata commented on #107
Hello everyone,

I'm current using recursion schemes patterns at work. I'm re-implementing the few functions the project uses (rather than depending on Matryoshka), using cats typeclasses in place of the Scalaz ones.

Recursion schemes rely on hand-made "pattern functors", which usually means the developer has to implement Functor/Traverse instances. The fact that the `Traverse` interface pushes m

[2018-05-27 03:31] kailuowang commented on #1287
@kubukoz sounds a good idea to me.

[2018-05-28 22:46] abhishek7 commented on #2228
@LukaJCB I'm new to Cats and wanted to help contribute. While I'm not familiar with the code base yet, I'm happy to give this a try if we think it's appropriate for a newcomer?

[2018-05-29 09:10] LukaJCB commented on #2228
Sure, go right ahead, I'll guide you through it if you hit any hurdles! :)

[2018-05-30 09:14] gvolpe opened #2271 "Define `flatten` for `EitherT`"
After a [user's question](https://gitter.im/typelevel/cats?at=5b0e644e16f6496124f0636c) on the Gitter channel I realized there's no `flatten` method defined in `EitherT`. If you're guys okay with it, I can work on a small PR to add it :)

[2018-05-30 09:15] oleg-py commented on #2271
I would appreciate `.leftWiden` too 👍

[2018-05-30 11:13] gvolpe commented on #2271
@LukaJCB just found out `flatten` syntax does not work for `EitherT[Future, A, EitherT[Future, A, B]]` if there's no `ExecutionContext` available, damn `Future`.

I'll close this issue. @oleg-py if you still want to add `.leftWiden` might be better to raise a separate issue.

[2018-05-30 11:13] #2271 closed

[2018-05-30 14:22] kailuowang opened #2272 "Document why monad transformers don't have Applicative instances."
see https://github.com/typelevel/cats/pull/2181#issuecomment-370098157
Probably in the FAQ section, maybe also mention in the guideline.

[2018-05-30 16:43] kubukoz commented on #2272
I could implement this sometime this week if it's OK.

Worth noting (from gitter: https://gitter.im/typelevel/cats?at=5b0ed363361a950a6629f2a4)

[2018-05-31 03:06] johnynek opened #2273 "Proposal: adding a Suspend typeclass"
It is often useful to have a way to see if a type constructor supports laziness.

Consider:
[code]

Note, that cats-effect has this method (called suspend) on Sync: https://github.com/typelevel/cats-effect/blob/master/core/shared/src/main/scala/cats/effect/Sync.scala#L37

In cats, the law would be:
[code]
along with the ad-hoc law that:
[code]

Some example instances:
[code]
and Kleisli, IndexedSt

[2018-05-31 03:12] johnynek commented on #2273
To be clear: the point here is not to capture effects, but to write certain recursive algorithms.

For instance:

[code]

[2018-06-01 07:14] LukaJCB commented on #107
Hi @Baccata, I'm not sure about the law failure, but I agree with you that we should offer a way to derive `Foldable` by just implementing `traverse`. 👍

[2018-06-01 07:52] Baccata commented on #107
Hey @LukaJCB, a fellow redditor helped me out : my foldLeft was actually folding right 😅  . Here's what I ended up with, laws are all green : https://gist.github.com/Baccata/0b972953cd65421d6a475b37aadad65b#file-foldablefromtraverse-scala

[2018-06-01 17:35] LukaJCB opened #2275 "Add foldMapK and reduceMapK"

[2018-06-01 19:58] erik-stripe commented on #2273
Abstracting over whether or not a monad supports this kind of deferment/suspension is useful. 👍

[2018-06-01 20:13] non commented on #2273
Abstracting over whether or not a monad supports this kind of deferment/suspension is useful. 👍

[2018-06-02 14:34] djspiewak opened #2276 "Id instances cannot be removed from the scope"
This is the best thing ever:

[code]

No imports. That compiles. Credit to @edmundnoble for finding the original issue here: https://github.com/djspiewak/shims/issues/20

The problem here is that `catsInstancesForId` is defined in the `cats` package object. This is a problem because the `cats` package is a *component* of the `cats.Id` type, and the `cats` package object is its own companion, meani

[2018-06-02 14:54] kailuowang commented on #2276
Thanks for reporting this. Do you mind provide a bit more specifics on how this hurts people with scalaz in class path? I mean all data types defined in cats have instances defined in companion objects and thus in scope without imports. I understand Id is special but curious how it affects differently in this scenario. Thanks!

[2018-06-02 19:11] johnynek commented on #2276
Actually removing implicit annotation is Mima compatible. So, we could keep the vals/defs but remove implicit.

[2018-06-02 22:40] djspiewak commented on #2276
@johnynek Oh good call! Not source compatible, but binary.

@kailouwang It affects people in the scalaz namespace (as scalaz affects people in the cats namespace) as described in the linked shims ticket. It appears that the compiler considers both Id types to be equivalent by some notion of compatibility when viewed *through* the shims implicit mechanisms. This may be a bug in scalac, I’m not sure

[2018-06-03 20:01] kubukoz commented on #2275
`foldMapK` would look something like this, right?

[code]

[2018-06-03 20:12] kubukoz commented on #2275
hmm, I think I wouldn't be able to implement that without an `Applicative[G]`, which is probably not the point, so I must've got the signature wrong

[2018-06-03 22:05] kubukoz commented on #2275
`def foldMapK[G[_], A, B](fga: F[A])(f: A => G[B])(implicit G: MonoidK[G]): G[B]` sounds more like it, WDYT?

[2018-06-03 22:29] LukaJCB commented on #2275
Yes `A => G[B]` is what I had in mind :)

[2018-06-03 22:38] kubukoz commented on #2275
Cool, I'll work on it then

[2018-06-03 23:06] kubukoz commented on #2275
I'm wondering how we can test this.

Should there be a new law that says `foldMapK(fa)(f) <-> fa.map(f).foldK`? That'd require a `Functor[F]` in the first place, and there are probably types out there that have a Foldable but not a Functor.

Alternatively, we could have tests for some concrete instance that the equivalence holds, or have a law that reuses what's in the implementation (although I d

[2018-06-04 08:39] LukaJCB commented on #2275
I think a better law would be `foldMapK(fa)(f) <-> foldMap(fa)(f)(MonoidK[G].algebra)` :)

[2018-06-04 08:44] kubukoz commented on #2275
Could be :sweat_smile: that's actually what I meant by having a law that reused the implementation we're going to have - but I guess it would suffice for testing people's implementations if they decide to override

[2018-06-04 14:15] kailuowang commented on #2276
Thanks for detail @djspiewak

[2018-06-05 13:51] johnynek opened #2281 "Monad[Free[Id, ?]] cannot be found"
[code]

Note that there is no problem with `implicitly[Monad[Free[Option, ?]]]`. I wonder if this could be related to the possible compiler bug found in #2276

[2018-06-05 13:53] johnynek commented on #2281
note I discovered this in #2279 where I found that I also could not resolve `Defer[Free[Id, ?]]`

[2018-06-05 21:09] kubukoz opened #2282 "Add `groupByNes`"
Sometimes it'd be nice to group a Set to non-empty Sets, like:

[code]

I suggest that a `SetSyntax` trait is added with syntax for this, similar to the existing `ListSyntax`.
The way `ListOps#groupByNel` is implemented (`list.toNel.groupBy(...)`)suggests that this could also involve having `groupBy` in `NonEmptySet`.

I'll gladly contribute that, given some pointers :)

[2018-06-05 21:17] kubukoz opened #2283 "Consider adding a documentation page for newtypes"

[2018-06-05 21:22] kubukoz commented on #2227
@satansk do you think we can close this issue?

[2018-06-05 21:33] kubukoz commented on #2210
IMO if it doesn't profit performance, then there's no point in matching to `Right` first - and depending on your usecase, you might encounter `Left`s more often - then matching on `Right` first would be the slower solution for the whole thing.

[2018-06-06 15:39] satansk commented on #2227
@kubukoz yes, sorry for my delay, let me close it :)

[2018-06-06 15:39] #2227 closed

[2018-06-07 05:01] alexandru commented on #1329
Cleanup.

[2018-06-07 05:01] #1329 closed

[2018-06-07 16:48] djspiewak commented on #2267
I took a few minutes to look at this. In no particular order:

- [x] Updated `.travis.yml`
- [x] Updated sbt-scalajs
- [x] Updated scalatest
- [ ] Add sbt-crossbuild (since that mechanism is deprecated in the scalajs plugin)
- [ ] Patch the partial-unification plugin to no longer add `-Ypartial-unification` flag (it was removed in 2.13.0-M4) fiadliel/sbt-partial-unification#4
- [ ] Update catalyst

[2018-06-09 09:17] LukaJCB commented on #1935
This can be closed now after #2034

[2018-06-09 09:51] Obarros commented on #2282
@kubukoz I can take a look on this one.

[2018-06-09 09:52] kubukoz commented on #2282
Sure, go for it :)

[2018-06-09 12:00] kubukoz opened #2286 "Make NEL#groupBy return a non-empty map"
Breaks source compatibility I guess.

Related: #2285

[2018-06-09 12:04] Obarros commented on #2004
I can take a look on this one.

But maybe it will require a change on the sbt-microsite plugin.

https://47deg.github.io/sbt-microsites/docs/settings.html

[2018-06-09 12:08] kubukoz opened #2287 "Meta: 2.x branching strategy"
Since there already issues that can't be resolved without breaking binary compatibility, a 2.x branch could be created to allow submitting PRs against it.

This issue can be the home of discussions about how that'll be handled.

[2018-06-09 16:38] johnynek commented on #2287
Could we add a link to the issues we think need 2.0 to fix and also some notion of how severe each issue is?

[2018-06-09 17:29] LukaJCB opened #2288 "Add an update method to NonEmptyMap"
Something along these lines:

[code]

Unfortunately `SortedMap` doesn't expose such a method.

[2018-06-09 17:48] johnynek commented on #2288
Why is this different from mapValues or the Functor map?

[2018-06-09 17:48] johnynek commented on #2288
Oh, I see. Only update one key. Duh.

[2018-06-09 20:35] kubukoz commented on #2288
You surely meant `updated`, right? :P

[2018-06-09 20:36] kubukoz opened #2289 "ApplicativeError from EitherT/OptionT"
I was encountering a situation where some service calls would give me a `val result: OptionT[F, A]`. The expected type of the whole function was `F[E[A]]`, and there was an `E: ApplicativeError[E, LoginError]` in scope.
If the result was empty, that was a `userNotFound: LoginError`, so what I'd normally do is:

[code]

Maybe it would be a common enough scenario so that some utilities for working w

[2018-06-10 10:51] SimY4 opened #2290 "Id[A] syntax additions"
Hi,

Are there any plans of adding ID[A] composition syntax similar to Haskell `(&)` and Scalaz's `|>`?
It's usually helpful when used with lenses:
[code]
I'm happy to raise a PR for this if you think it would be usesul.

[2018-06-10 13:33] kubukoz commented on #2290
Did you consider working around it using function composition? this is essentially
[code]

I agree that Scala's way of handling functions here might require doing weird things like adding `(_)` to every composed function though. However, it might also be the case if we had `|>` (and last time I was doing that, it didn't really help).

Also, I think you can `map` on `Id`, so `obj.map(f)` should be

[2018-06-10 15:13] kubukoz commented on #2275
I'm working on the laws, apparently adding a new type parameter (`G[_]`) breaks tens of other tests, so bear with me

[2018-06-10 17:14] LukaJCB commented on #2275
You could use `Id` like is done for `foldM` :)

[2018-06-10 17:15] kubukoz commented on #2275
You're telling me now 😂

I already did it for `G[_]` and passed Option everywhere (as is the custom that I saw in the use sites), in case it's too much to add I can hardcode `Id`. I'll open a PR now so you can see what it looks like

[2018-06-11 14:54] kailuowang commented on #2287
@johnynek [here are some](https://github.com/typelevel/cats/milestone/8) that requires some level of binary breaking. The only main thing is IRT to `Parallel`. But even with that, personally, I don't see the urgency of starting a binary breaking branch out weight the benefit of stability.

We still don't have a clear roadmap on how long we want to maintain binary compatibility on Scala 2.10, 2.11

[2018-06-11 15:01] kailuowang commented on #2233
Not trying to be annoying but I'd like to point out that I did mention the risk of releasing something in as stable before it's battle tested. https://github.com/typelevel/cats/pull/1837#issuecomment-333116634
If we chose to roll this one out in a more gradual way ( e.g. released in an experiment module first) we might avoided this problem. Of course, there would be other trade-offs.

[2018-06-11 15:14] ceedubs commented on #2281
Scalac generally has issues with inference with `Id`. I think that this is a bit different than #2276. I think that this just requires specialized instances for `Id` like we've done [here](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Kleisli.scala#L177) for `Kleisli`.

[2018-06-11 15:18] ceedubs commented on #2290
This syntax can be handy at times. One option to consider would be to add it to [mouse](https://github.com/typelevel/mouse). cc @benhutchison

[2018-06-11 23:22] benhutchison commented on #2290
It’s already in mouse!

[2018-06-12 00:04] ceedubs commented on #2290
Ah so it is. I don't think that the README is currently advertising it :)

@SimY4 in that case I'm going to go ahead and close this out and recommend using mouse to get this syntax. While it is generally handy, it's not tied to any type classes or data types in Cats.

[2018-06-12 00:04] #2290 closed

[2018-06-12 10:02] #2269 closed

[2018-06-13 20:11] LukaJCB commented on #1800
I would like to reopen this discussion :)
Especially in light of 2.13 adding opaque types, I think we should consider our options again.
I don't remember who, but someone said somewhere that a macro internal to cats would be good because we could target pre-existing solutions (like those already done for `NonEmptySet` and `NonEmptyMap`) for older versions, while at the same time making use of the

[2018-06-13 20:17] kailuowang commented on #1800
It might be me, but a macro based solution can probably support cross build. It could be internal to cats or since cross building new type would be very commonly used, cats can depend on https://github.com/estatico/scala-newtype and help support it.

[2018-06-14 08:39] LukaJCB commented on #1800
I like the idea! I'm not super sure how stable that project is, but I've used it a lot and had only good experiences so far 👍

[2018-06-14 09:29] LukaJCB commented on #1800
I did those benchmarks for a very simple `parTraverse` over `Either`, results seem very promising:

[code]

Full code here:
https://github.com/LukaJCB/newtype-bench

[2018-06-14 11:42] kailuowang commented on #1800
This will be a real reason to go cats 3.0 (assuming 2.x maintains BC on Scala 2.12). Do we know the timeline of adding opaque type to 2.13?

[2018-06-14 12:03] kubukoz commented on #2282
Closed in #2285

[2018-06-14 12:03] #2282 closed

[2018-06-14 12:09] LukaJCB commented on #1800
IIRC, the timeline is Q3 for 2.13.0 and Q4 for 2.13.1 and I think Opaque types will be in the 2.13.1 version (it turned out to be harder to implement than originally thought)

[2018-06-14 14:15] letalvoj opened #2295 "Ambiguous values for Aplicative[Kleisli[F,A,?]]"
Hi,

after upgrading cats from `1.0.0-MF` to `1.0.1` i am getting an ambiguous implicit values error.

The following example, which I got from [here](http://codegists.com/snippet/scala/cats-readerscala_ilya-murzinov_scala) (i.e. I am not the only one getting it) demostrates it.
[code]
yields

[code]
likely related to the following PR https://github.com/typelevel/cats/pull/2078

[2018-06-14 14:34] kailuowang commented on #2295
hmm, I couldn't repeat the error on cats 1.1.0 or 1.0.1 . The instance definition inside `Kleisli` should more specific and thus takes higher priority.  You enabled partialUnification right?

[2018-06-14 14:44] letalvoj commented on #2295
Nope. I mean I even had to google what `-Ypartial-unification` is 😅

But at the same time I added `circe-core` as a dependency ... That's why I bumbed up the version to match the one required by `circe`. It comes with a paradise plugin. I'll check whether it's caused by one of these.

I thought that it was wierd, that I'd be the first one to experience this.

[2018-06-14 14:45] kailuowang commented on #2295
try enable `-Ypartial-unification` to see if you still see the error. This setting is going to be enabled by default starting scala 2.13

[2018-06-14 15:30] kailuowang commented on #2295
no problem. closing.

[2018-06-14 15:30] #2295 closed

[2018-06-14 20:47] kailuowang opened #2296 "[Meta Thread] Post 1.2 Roadmap"
There has been some discussion around 2.0, 3.0 here and there. Let's consolidate them here.

### Option 1:
* 1.x: continue current supports and BC
* 2.0: binary compatible with 1.x on Scala 2.12, still supports 2.11, drops 2.10
* 3.0: break with 1.x and 2.x,  Supports 2.12 and 2.13, drops 2.11, support which could potentially use a different group name and namespace to avoid conflicts.

### Option

[2018-06-14 20:55] kailuowang commented on #1800
@LukaJCB Just created https://github.com/typelevel/cats/issues/2296

[2018-06-15 00:15] johnynek commented on #2296
if we use a different group name, we should use a new package as well, otherwise we have identically named classes in different maven groups which leads to pain.

[2018-06-15 09:02] LukaJCB commented on #2004
Yes, I think we should add an issue to microsites to figure out if we can add a feature for it :)

[2018-06-17 20:05] Obarros commented on #2004
Great, I create the issue.

https://github.com/47deg/sbt-microsites/issues/267

I will be happy to create the PR there, let's see the feedback and update here later.

[2018-06-18 23:31] kubukoz opened #2300 "Missing instances for Cofree"
https://hackage.haskell.org/package/free-4.1/docs/Control-Comonad-Cofree.html

There are some instances/derivations in the Haskell version of Cofree that might be useful for some people (I for one would welcome Eq):

- Eq
- Ord
- Show
- `Alternative f => Monad (Cofree f)`
- Distributive

Possibly more, but these are the ones I noticed missing now.

I'd love to take a shot at implementing them, if

[2018-06-19 20:12] kailuowang commented on #2267
- [ ] update sbt-partial-unification dependency https://github.com/typelevel/cats/pull/2302
- [ ] update scalacheck https://github.com/rickynils/scalacheck/pull/411
- [ ] update scalatest https://github.com/scalatest/scalatest/pull/1383

[2018-06-19 21:32] Obarros commented on #2004
@LukaJCB, new version of the `sbt-microsites plugin` (0.7.20) with the PR merged released with the change we need to make this happen! 👍

I will create a PR to address it!

[2018-06-22 03:51] adelbertc commented on #107
An interesting perspective on the relationship between `Traverse` and `Foldable` [here](https://twitter.com/jb9i/status/1008700885684445190) and the [linked Haskell mailing list thread](https://mail.haskell.org/pipermail/libraries/2018-May/028767.html).

[2018-06-22 15:45] Jacoby6000 commented on #2160
Is there a version of this which uses

[code]

?

I would think that iflatMap would adjust both `f` and `g` equally, to return an `F`.

[2018-06-23 21:19] LukaJCB opened #2304 "Missing functions for RWST"
We're currently missing `listen` from `Writer` and `local` from `Reader`.

Here's an easy implementation:

[code]

[2018-06-23 22:06] kubukoz commented on #2304
You're spoiling the fun with these easy implementations!

[2018-06-23 22:06] kubukoz commented on #2300
I'm working on this (slowly), so far got the `Monad` instance, should have the rest in the upcoming week

[2018-06-23 23:07] LukaJCB commented on #1235
Can probably closed now :)

[2018-06-23 23:07] #1235 closed

[2018-06-23 23:21] dadepo opened #2305 "Specify the source of the autogenerated boilerplate"
Found the location out by asking on Gitter... maybe having the location specified in the comment might have been helpful?

Thus, Is this https://github.com/dadepo/cats/commit/52729ddc95dedd595059343c1032669761bfbf40 considered to be something helpful?

[2018-06-24 20:29] kubukoz commented on #2288
Nobody said they were working on it, so I guess you're good to go :P

[2018-06-25 18:08] dadepo commented on #2305
Done and opened a pull request at https://github.com/typelevel/cats/pull/2307

[2018-06-26 09:32] LukaJCB commented on #2304
Speaking of `listen`, we should add that one to `Writer` as well.

[2018-06-26 14:33] SethTisue commented on #2267
machinist 0.6.5 is out now for M4, so is ScalaTest 3.0.6-SNAP1

[2018-06-26 14:44] kailuowang commented on #2267
Awesome, if nobody beats me, I'll create a PR enable 2.13M4 and drop 2.10

[2018-06-26 16:11] #2305 closed

[2018-06-27 11:35] calvinbrown085 commented on #2304
Hi @LukaJCB I wouldn't mind picking this one up.

[2018-06-27 20:54] kubukoz opened #2308 "Add higher kinded versions of `Eq`, `Order`, `Show`"
...or at least some of them.

Reasoning: in #2300, I was trying to implement `Eq[Cofree[S, A]]` using implicit instances of `Eq[S[Cofree[S, A]]]` and `Eq[A]`. That would look like this:

[code]

However, any attempt at e.g. `Eq[Cofree[List, Int]]` will fail compilation due to an diverging implicit expansion - and it makes sense, since `Eq[List[Cofree[List, A]]]` needs an `Eq[Cofree[List, A]]`, whi

[2018-06-27 21:20] kubukoz commented on #2308
Initial discussion about the old `EqK` and drawbacks:

https://gitter.im/typelevel/cats?at=5b33fa45479ca26689854ba6

Looks like the reason to remove `EqK` originally was to loosen the requirements for tests - in places where an `EqK[F]` and an `Eq[A]` was required, the removal made it just a requirement on `Eq[F[A]]`.

I believe we could leave these tests unchanged and still have `EqK` in the libr

[2018-06-28 06:34] amilkov3 opened #2309 "Add `flatTransform` to `OptionT`"
[code]

[2018-06-28 11:02] kubukoz commented on #2288
Btw. wouldn't it be better to have `modify` in the name? `update` reminds me of the standard library's `updated`, which just takes a key and a new value, but this is more like `modifyAt` if you look at how `modify` is named in `Ref`: https://github.com/typelevel/cats-effect/blob/master/core/shared/src/main/scala/cats/effect/concurrent/Ref.scala#L115

[2018-06-28 11:04] kubukoz commented on #2308
Also, maybe we don't need to support binary type constructors as well - the usecase in which I'm hitting this wall is `S[_]`, so it can't be a type of an arbitrary kind. If `S[_]` were `Either[Int, ?]` or `Either[?, Int]`, we should be able to define an `EqK` for both of these variants.

[2018-06-28 18:14] Obarros commented on #2288
Yeah, good point @kubukoz.
When I look at `updated` usually I think of something that will create a new map obtained by updating `this` map with a given key/value pair as well ...
Here we are after Modifying the initial state using `f`, it would make sense to make it part of the name somehow.

[2018-07-01 22:08] abhishek7 commented on #2228
@LukaJCB, appears that this already had a PR merged. I guess we can go ahead and close this open issue? I'll try to pick up another open one.

[2018-07-01 23:42] abhishek7 commented on #2309
@amilkov3 was giving this a try, but a bit confused with `OptionT(t.value.flatMap(f))` on the last line. Isn't `flatMap` not a member of `F[Option[A]]`?

[2018-07-01 23:44] amilkov3 commented on #2309
@abhishek7 it is if you give `F` a `FlatMap` constraint

[2018-07-02 00:35] #2228 closed

[2018-07-02 23:51] kubukoz commented on #2309
Since only `flatMap` is needed, I'd leave a constraint just for `FlatMap`.

[2018-07-03 08:00] julien-truffaut opened #2310 "Variance"
Do you know why `Validated` is covariant on its two type (like `Either`) but `EitherT` is invariant?

[code]

[2018-07-03 11:09] johnynek commented on #2310
Wouldn’t it require `F[+_]`? Which limits us. Note Functor has widen and Bifunctor has leftWiden which you can use like explicit covariance.

[2018-07-03 12:38] julien-truffaut commented on #2310
@johnynek you're probably right, make sense. I guess it is just annoying that we have to treat `Either` and `EitherT` differently in a for comprehension. It doesn't help that intellij doesn't recognize `leftWiden` (but that's another issue).

[2018-07-03 13:51] kubukoz commented on #1549
Update for Scalacheck - https://github.com/rickynils/scalacheck/pull/368 is merged, but the artifacts seem not to be published yet. Progress in https://github.com/rickynils/scalacheck/issues/396

[2018-07-03 21:50] djspiewak commented on #2267
1.3.x is kind of a long time to wait for 2.13 support. I'm a little vague on the timelines, but I get the impression that 2.13 will actually be *released* by that point. Given how foundational cats is to such a large swath of the ecosystem, waiting that long is probably not a good idea. I know the issues with scalacheck and what not, but it's probably worth fiddling around with annoying matrix bui

[2018-07-03 23:20] johnynek commented on #2267
This issue is another reminder of the non-zero costs of dependencies. It would be nice to see about minimizing dependencies (would some of our dependencies be open to being submodules, e.g. machinist, discipline, so more of the cats ecosystem is publishable atomically).

[2018-07-05 13:53] djspiewak commented on #2267
@johnynek The downside to moving things like machinist and discipline into cats as submodules is now they cannot be published *apart* from cats. So that's great for cats and everything self-contained within the repository… and terrible for everything else downstream. Philosophically, you either have to go all-in on the monorepo or all-in on polyrepo, and there's really no middle ground. OSS librar

[2018-07-05 15:32] kailuowang commented on #2267
The plan I suggested on [gitter](https://gitter.im/typelevel/cats-dev?at=5b3ba57103235c461fa3c08e) is to release 1.2.0 on 2.10 -2.12 first, cut a branch, update to 2.13.0-M4 and release 1.2.0 for 2.13.0-M4.

[2018-07-05 20:24] djspiewak commented on #2308
I'm relatively certain `Delay` solves this problem.

[2018-07-06 01:04] abhishek7 commented on #2309
@amilkov3 I like the alternative you provided! If it's alright with you, I'll open up a quick PR with that implementation along with a test? Let me know if you, @kubukoz, or anyone else has any other suggestions.

[2018-07-06 09:13] YuvalItzchakov commented on #2304
@calvinbrown085 Did you end up working on this?

[2018-07-06 12:40] calvinbrown085 commented on #2304
@YuvalItzchakov I have not yet, I have not found the time! If someone else would like to pick this up please feel free!

[2018-07-06 17:37] BennyHill commented on #2267
Also worth checking up on (these normally crop up when catalysts is compiled, but needed by cats as well:

- scoverage
- tut

Once tut is done, sbt-microsites is also needed.

[2018-07-07 09:34] randm-ch commented on #2195
@BennyHill SBT 1.2.0-M1 [is out](https://github.com/sbt/sbt/releases/tag/v1.2.0-M1) :) Any ETA on this?

[2018-07-07 10:54] BennyHill commented on #2195
@randm-ch Also required is the new crossproject to use this, but looks like that work is done already - https://github.com/portable-scala/sbt-crossproject/pull/99.

So nothing holding back on moving this forward now... but I'm away on holiday for another week.

But the tentative release for sbt 1.2 is only 16th July, not far way in any case

[2018-07-07 11:07] BennyHill commented on #2195
However, in https://github.com/typelevel/cats/issues/2267 @djspiewak notes that sbt-crossbuild is required for 2.13.X, so I'm wondering if it may be better/quicker/easier to split the task up to:

In Parallel:
- update catalaysts build to use sbt-crossproject, leave everything else as-is (N.B. this requires sbt-catalysts changes)
-  update cats build to use sbt-crossproject, leave everything else

[2018-07-07 14:29] kubukoz commented on #1549
Aaand I added an issue for Discipline: https://github.com/typelevel/discipline/issues/57

[2018-07-08 12:20] xuwei-k commented on #2308
FYI https://github.com/typelevel/shapeless-contrib/pull/9/files

[2018-07-08 18:23] andyscott opened #2317 "Publish milestone with 2.13-M3(M4?) support"
Can we cut a milestone release with the added 2.13 support? This will unblock downstream projects from testing their preliminary support for Scala 2.13.

[2018-07-08 20:28] djspiewak commented on #2317
Duplicate :-)

[2018-07-08 20:28] #2317 closed

[2018-07-09 06:54] #2310 closed

[2018-07-09 16:02] kailuowang opened #2319 "Evaluate moving to Circle CI"
Travis' memory issue is a bit too much and our build there now takes more than 3 hours.

[2018-07-09 16:42] kailuowang opened #2320 "`Representable` instance for `Eval`"
[As suggested by @johnynek](https://github.com/typelevel/cats/pull/2284#discussion_r201058327)

[2018-07-09 17:37] tpolecat commented on #2319
Might also look at [BuildKite](https://buildkite.com) if we can get people to donate hardware. It's easy enough for me to set up, which means it's easy. An agent running on @larsrh's 3874629847653-core machine would be 🔥

[2018-07-09 18:08] larsrh commented on #2319
@tpolecat That won't work, unfortunately. That machine is university property.

On 9 July 2018 19:37:21 CEST, Rob Norris <notifications@github.com> wrote:

[2018-07-09 20:59] raulraja opened #2321 "Is there interest in `cats-tagless` ?"
One of the frequent issues I see as a consultant in the Scala space is how teams adopting tagless final in their code base struggle with common things like:

- Getting an instance of their algebra implicitly `Component[F]` because of the related boilerplate necessary to expose them implicitly
- Composing interpreters with `mapK` and others.

A few libs out there like [sphynx](https://github.com/Lu

[2018-07-09 21:08] kailuowang commented on #2321
If moving [mainecoon](http://github.com/kailuowang/mainecoon) to typelevel/cats-tagless can help improve FP Scala adoption I am all for it.

[2018-07-09 21:16] LukaJCB commented on #2321
Same for me and [sphynx](https://github.com/LukaJCB/sphynx) :)

[2018-07-09 21:18] longcao commented on #2321
I generally like the idea but would want to know what the scope of this could be... one of the appeals of tagless final to me has been not _needing_ an extra lib to make working with tagless final nicer, whereas when working with Free monads having the coproduct and algebra boilerplate and whatnot abstracted away was almost necessary after a certain project size.

Consider me a less opinionated vo

[2018-07-09 21:28] raulraja commented on #2321
@longcao IMO there is still the boilerplate of exposing the algebra implicitly in the companion, creating mapK and other methods that are always the same and when all coded manually in complex code bases it adds unnecessary complexity because the implementation of the methods and implicits machinery it's always the same.

[2018-07-09 21:31] raulraja commented on #2321
@LukaJCB added sphynx to the original thread, sorry I missed it earlier

[2018-07-09 21:34] raulraja commented on #2321
@kailuowang I believe that would be awesome and a great foundation, thanks for offering that!

From the Freestyle side of things we feel the same way and would love to get rid of the tagless related macros in core.

[2018-07-09 23:22] lloydmeta commented on #2321
I've been happily using [diesel](https://github.com/lloydmeta/diesel) in my own projects for a while now, but am happy to consolidate to improve the ecosystem.

AFAIK, the main innovation that diesel has in this area is the aliasing-inscope-`Component[F]`-to-companion:

[code]

If that's something that is deemed useful, then I'm happy to contribute it to this new initiative 😄

[2018-07-10 10:50] raulraja commented on #2321
Perhaps we can get started with a design document where we outline the features and usage we'd like to achieve based on what the libs expose and try to come up with a coherent approach. Does that sound like a good start? Where would be a good place to host that and collaborate to get this rolling?

[2018-07-10 11:47] LukaJCB opened #2322 "Add partial folding methods to Foldable"
We can define functions that only tear down a subset of the structure by using something like a `PartialFunction` or `Option` to exclude individual elements from the aggregation.
E.g.:

[code]

These should be equivalent to `collect(f).fold` and `filter(f).fold` respectively, so we could add some laws for that.

[2018-07-10 12:09] satansk commented on #2322
Let me give it a try :)

[2018-07-10 12:10] LukaJCB commented on #2322
Go ahead :)

[2018-07-10 18:46] kailuowang commented on #2321
@raulraja TBH,  I kind of feel that going back to the drawing board might be an overkill. Simply moving mainecoon to typelevel/cats-tagless and merge in utilities from Sphynx and Freestyle and the `aliasing-inscope-Component[F]-to-companion` from diesel would be a low hanging fruit. Just my 2 cents.

[2018-07-10 20:23] kubukoz commented on #2308
I don't like the idea that having `Eq` for `Cofree` would require another dependency, let alone shapeless (if we were to implement instances for cats simpilar to what you did in that PR for scalaz)... but if there's a decision that we don't want to add `Delay` in some shape of form, that might be the best option indeed

[2018-07-10 21:20] SethTisue commented on #2267
all of cats's dependencies are now green in the Scala 2.13 community build, which is good news

that means the door is now open to try to get cats itself green, too. but currently it doesn't compile

seen at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1226/consoleFull

[code]

[2018-07-10 22:06] SethTisue commented on #2267
tut ticket is https://github.com/tpolecat/tut/issues/205, maybe Rob could use some volunteer help

[2018-07-10 23:35] xuwei-k commented on #2308
https://gist.github.com/xuwei-k/118230f49c6522bddfcf1ef137c11945 byname implicit (since Scala 2.13)

[2018-07-11 00:07] tpolecat commented on #2267
tut 0.6.6 is out for 2.13.0-M4, sorry for the delay

[2018-07-11 05:54] xuwei-k commented on #2267
https://github.com/scala/scala/pull/6918 I have sent pull request which add deprecated reduceOption etc.

[2018-07-11 07:38] raulraja commented on #2321
@kailuowang sounds good, let's do that. The document was more of a wish list and description of what the lib does but not suggesting we start from scratch. We can take the approach you mentioned and look into the code once we have the repo and the lib features merged in.

[2018-07-11 09:03] peterneyens commented on #2322
I wonder in what way this relates to `FunctorFilter` and `TraverseFilter` that were moved to cats-mtl ( `FunctorEmpty` and `TraverseEmpty`).

[2018-07-11 10:44] milessabin commented on #2308
You definitely **don't** want to be using `Lazy` at this point ...

[2018-07-11 10:57] BennyHill commented on #2267
I have a PR that I'm just finishing for the new sbt-crossBuild stuff...20 minutes

[2018-07-11 11:49] kubukoz commented on #2308
guess we'll just have to wait for 2.13 ;)

[2018-07-11 12:30] BennyHill commented on #2267
https://github.com/typelevel/cats/pull/2323

[2018-07-11 15:41] kailuowang commented on #2321
@raulraja great. Let me propose it in the typelevel general gitter room.

[2018-07-11 15:58] BennyHill commented on #2267
For future reference, we need to add scala-logging to the (indirect) build deps see https://github.com/lightbend/scala-logging/issues/127

[2018-07-11 22:20] pshirshov commented on #1648
What about `-M4` ?..

[2018-07-11 22:55] SethTisue commented on #1648
the M4 ticket is https://github.com/typelevel/cats/issues/2267

closing this one since M3 is obsolete.

[2018-07-11 22:55] #1648 closed

[2018-07-12 04:55] davidrpugh opened #2324 "Apply, Applicative, Monad for contravariant functor?"
I have the following trait...

    import cats._
    import cats.implicits._

    trait Preference[-A] {
      self =>

      def compare(a1: A, a2: A): Int

      final def ordering[A1 <: A]: Ordering[A1] = {
        new Ordering[A1] {
          def compare(a1: A1, a2: A1): Int = {
            self.compare(a1, a2)
          }
        }
      }

    }

    object Preference {

      implicit val c

[2018-07-13 01:37] xuwei-k commented on #2267
fixed. another new errors https://github.com/scala/bug/issues/11009

https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1236/consoleFull

[code]

[2018-07-13 08:19] henricook commented on #2310
Has anyone got any clue why IntelliJ doesn't recognise leftWiden?

[2018-07-13 15:19] SethTisue commented on #2267
@johnynek y'all at Twitter might try a pilot with twitter-util? I've opened a ticket here: https://github.com/twitter/util/issues/219

in general, the collective experience so far seems to be that we're discovering and fixing lots of little issues that are getting fixed for M5, but nobody that I know of has hit any actual blockers yet. (oops, jinxed it...)

we could discuss further on that ticket

[2018-07-14 13:03] mosesn commented on #2267
@SethTisue, I sent some [feedback][0] to contributor.scala-lang.org before about issues we ran into with trying to migrate twitter/util.  The verdict seemed to be that it was just going to be incredibly hard to migrate to 2.13 and there wasn't much you could do about it?

[0]: https://contributors.scala-lang.org/t/2-13-x-migration-and-source-compatibility/2000

[2018-07-15 12:33] BennyHill commented on #2195
Status/fyi :

See pr https://github.com/typelevel/cats/pull/2323

[2018-07-16 18:39] ceedubs opened #2326 "FAQ on IO is out of date"
https://typelevel.org/cats/faq.html#task is pretty outdated. Specifically, Cats-effect has support for parallelization. There may be other items that should be addressed, but I don't have much experience with Cats-effect or Monix. I'm hoping that someone with more experience with these projects would be willing to get us up to date.

cc @alexandru

[2018-07-17 15:38] m50d opened #2327 "No scaladoc for `TupleNSemigroupalOps` classes (e.g. `mapN` method)?"
It looks like there's no scaladoc for the various Tuple\*SemigroupalOps classes - e.g. on https://typelevel.github.io/cats/api/cats/syntax/package$$apply$.html there is a link to `ApplyOps` documentation but not to `Tuple2SemigroupalOps`. And searching for `mapN` returns nothing. I assume that's because these classes are generated from `Boilerplate.scala` rather than existing directly in the codeb

[2018-07-18 03:35] SethTisue commented on #2267
@mosesn let's continue there, I guess, if there are points you've raised that haven't been covered yet. (we do consider normal — not desirable, but the best we can do — that some projects that integrate closely with collections will need Scala-version-specific source directories.)

[2018-07-18 03:37] SethTisue commented on #2267
@xuwei-k are you stuck, is there something we should be discussing? (perhaps this is a case where the file in question will need to be duplicated in Scala version specific source directories?)

[2018-07-18 10:22] diesalbla commented on #2324
@drbild The contravariant counterpart of `Applicative` is called a `Divisible`. A Haskell documentation can be seen [here](http://hackage.haskell.org/package/contravariant-1.5/docs/Data-Functor-Contravariant-Divisible.html#g:1)

A _covariant_ functor carries the intuition of being like a function that _produces_ a type of outputs.
A contravariant functor, instead, carries the intuition of being li

[2018-07-18 10:30] LukaJCB commented on #2324
We already have these type classes, they're named `ContravariantSemigroupal` and `ContravariantMonoidal` :)

[2018-07-18 10:31] diesalbla commented on #2324
It seems this was already done, or suggested, in https://github.com/typelevel/cats/issues/1935

[2018-07-18 10:36] davidrpugh commented on #2324
@diesalbla Thanks for the link. I also posted this on [SO](https://stackoverflow.com/questions/51306354/apply-applicative-monad-etc-for-contravariant-functors-in-cats).  The answer there suggested that `ContraVariantMonoidal` is cats equivalent of `Divisible`.

I am still confused though because `ContravariantMonoidal` and `ContravariantSemigroupal` type classes define a `product[A,B](fa: F[A, fb:

[2018-07-18 10:47] LukaJCB commented on #2324
`product` is inherited by the invariant version of `Semigroupal`. If you want to "an input (A,B) into a computation that consumes the A and one that consumes the B." You'll need to combine ,`product` with `contramap`. For `Apply` that is `ap` or `map2` or `mapN`, for `ContravariantSemigroupal` that's `contramap2` or `contramapN` :)

[2018-07-18 15:22] davidrpugh commented on #2324
Right. So I guess I just need to read through the Haskell docs for `Divisible` and look through the code for `ContravariantSemigroupal` and `ContravariantMondoidal` to understand how the pieces fit together.

In sum, contravariant versions of `Apply` and `Applicative` already exist and there is no contravariant equivalent of `Monad`.

[2018-07-18 15:31] diesalbla commented on #2324
Here is a discussion about the subject: https://twitter.com/mpilquist/status/431122935081078784

[2018-07-18 18:47] LukaJCB commented on #2324
Yup Contravariant Monad doesn't really make sense. If you think about a contraFlatMap:
[code]
You realize that implementing something like this is practically impossible for almost all types.
With that said, I'm going to close this issue now, unless someone has any other concerns :)

[2018-07-18 18:47] #2324 closed

[2018-07-19 08:09] denisrosca commented on #2322
@LukaJCB afaict `Foldable` doesn't have `collect` and `filter` defined so I'm not sure how the laws you propose would be implemented?

[2018-07-19 08:16] LukaJCB commented on #2322
@denisrosca they'd have to be implemented on `FunctorEmpty` in cats-mtl, though I guess we could formulate some different laws, i.e. by using `toList` or using some other properties:

For example:
[code]

[2018-07-22 19:41] kubukoz commented on #2321
Just an update: https://github.com/typelevel/cats-tagless

[2018-07-22 19:42] kailuowang commented on #2321
Thanks @kubukoz closing now.

[2018-07-22 19:42] #2321 closed

[2018-07-23 16:26] schernichkin opened #2331 "Typeclasses do not play well with type aliases"
It seems Scala fails to find correct implicits when using type aliases:
[code]
Similar code written in Haskell compiles fine:
[code]

[2018-07-23 17:50] djspiewak commented on #2331
This is a known issue with dealiasing. Sometimes scalac just isn't particularly good about throwing away the hidden identity of the type alias and that can result in situations like this. In practice, this *usually* isn't a problem since you're often going through abstractions (e.g. `def foo[F[_]: Functor]`) which will force the dealiasing by definition, but sometimes you can see it. `State`/`Stat

[2018-07-23 18:09] schernichkin commented on #2331
Is there any workaround? I have several nested types in my project, and type signatures mind be much nicer if i'll be able to use type aliases.

[2018-07-23 18:21] tpolecat commented on #2331
Type aliases aren't as innocent as they look … in this case you're changing the shape from `F[G[?]]` to `F[?]`, which is significant in Scala. In fact for several years we relied on this behavior to work around legendary issue SI-2712.

As far as I know the only general solution is "don't do that".

[2018-07-23 19:23] djspiewak commented on #2331
"Don't do that" or "always go through some abstraction `F[_]`".  I generally find myself structuring my code according to the latter.

[2018-07-24 12:20] schernichkin commented on #2331
What do you mean by going through some abstraction? Е.g. having function `foo[T]: MyData[Option[T]]`how it could be modified to use shorter abbreviation for `MyData[Option[T]]` other than by using type alias?

[2018-07-24 14:55] ChristopherDavenport opened #2334 "Instances for Future"
`Future` is largely known to not be referentially transparent. As it starts execution immediately and caches the result.

While it may have been largely necessary for these instances to be in cats before cats-effect, with that solution coming in maturity it may be time for Future instances to be pushed to alleycats.

Imports
[code]

Example 1 - Prints Once on the first line
[code]

Example 2 - Pri

[2018-07-24 15:18] djspiewak commented on #2334
Instances like `Monad[Future]` and `Applicative[Future]` are really really dangerous. They've caused problems in scalaz for years. They should definitely be in alleycats, if we have them at all.

[2018-07-24 16:10] johnynek commented on #2334
My view is that any instance that is not lawful should not be in cats proper.

In this case, you have treated Future as though it were a Sync instance, which it is not. You put in side effects, print, and had some idea in mind. I think you can come up with other similar examples with other types with call by name arguments. If users see a call by name parameter as an invitation to put a side effec

[2018-07-24 16:55] tpolecat commented on #2334
I agree in principle that it's "user error", but the error is committed when using the data types *as intended*. `Future` instances are fine if you never side-effect; `Try` instances are fine if you never throw; cigarettes are fine if you never smoke them. I think we can identify a qualitative difference here that justifies warning labels.

As a practical matter I think this hits beginners hardest

[2018-07-24 17:10] johnynek commented on #2334
They were in alleycats, we had this discussion, we moved them back. Do we keep having this discussion every year or so and flip flopping? I guess anyone can do a PR and now cite the prior view they agree with and get two cats maintainers to ship it and we can switch.

The catch is we can only flip flop on binary incompatible releases.

PS: I really disagree with the Try example even more. cats-eff

[2018-07-24 17:16] johnynek commented on #2334
One more thing: @tpolecat , I feel like your point is true about anything less than always doing pure functional programming, which I like, but cats has not been so idiomatic in the past. For instance, even in cats-effect we recently added non-referentially-transparent methods to allocate deffered instances:

https://github.com/typelevel/cats-effect/blob/master/core/shared/src/main/scala/cats/effe

[2018-07-24 17:18] tpolecat commented on #2334
My position is that *allowing* the instances is the extremist position. I want to make things safer for people who aren't 100% there yet.

[2018-07-24 18:41] oscar-stripe commented on #2334
@djspiewak I disagree with your example. If you have no side effects, those two are the same. If you are expecting runtime to be the same for all rewrites of the code, that is another property not referential transparency. Note, checking the clock is an effect, so if you are timing things, you are back to an effect space. I don't recall any time we have previously argued that substitutions must ha

[2018-07-24 18:43] djspiewak commented on #2334
@oscar-stripe So your argument then is that `Future = Identity`? If you ignore the effect of controlling CPU scheduling, there is no measurable difference between the types.

[2018-07-24 18:53] kailuowang commented on #2267
Update: I managed to get all dependencies to 2.13-M4 (had to publishLocal sbt-scoverage but I think they'll release soon).
That being said, I think cross compiling against the new collection seems to be more work than I thought.
There are many places that we encounter backward breaking deprecations. It means to cross compile we'll need to create 2.13 specific code for them. @SethTisue I assume thi

[2018-07-24 18:53] tpolecat commented on #2334
I think `Future` = `Try` = `Id` as far as equational properties are concerned. For pure computations they are interchangeable.

[2018-07-24 19:09] johnynek commented on #2334
@tpolecat yeah, I agree with that take.

Note: I work often in data-engineering areas, where we use Future to get concurrency to do computations in parallel: aggregate a tree of operations, not stateful side effects in many cases. (we actually use Twitter Future, which doesn't have the same `Future.apply`, you have to explicitly use a FuturePool, which is a bit clearer).

[2018-07-24 19:13] SethTisue commented on #2267
deprecation warnings are expected when cross-compiling. (using scala-collection-compat would eliminate many of them; you could take it on as a dependency, or you might decide that you don't want to deal with the extra dependency, either as maintainers, or because you don't want to impose it on your users, or both. cherry-picking the source code for the pieces you need into your project seems like

[2018-07-24 19:31] kailuowang commented on #2267
@BennyHill  thanks for the update. Take your time. Catalyst isn't a blocker right now.

[2018-07-24 19:32] kailuowang commented on #2267
@SethTisue thanks for the info, very helpful

[2018-07-24 19:45] BennyHill commented on #2267
@SethTisue Only slightly annoying issue I had was with macro annotations, fixed by adding `"-Ymacro-annotations"` The error message was

[code]

I'm OK now, but for the next guy, where is that change nicely documented? And would a more friendly error message be suitable here? Like "add the option...."

[2018-07-24 19:47] BennyHill commented on #2267
fyi, I found it by greping the [simulacrum build file](https://github.com/mpilquist/simulacrum/blob/master/build.sbt#L123-L125)

[2018-07-24 20:06] djspiewak commented on #2334
@johnynek @tpolecat If they're all equivalent, then why have them all? Why are people wanting to use `Future` at all? Just use `Id`. `Id` has a `Monad`. If you don't need `Future` (because it's just `Id`) then clearly we don't need `Monad[Future]`.

The point is that they're *not* equivalent. And critically, they're not equivalent in exactly the way that `Future` is also not referentially transpar

[2018-07-24 20:17] tpolecat commented on #2334
Right, I mean precisely that. They are equivalent in the sense that they compute the same answers (assuming pure computations). And this is why they're useful! The fact that running time is unobservable means we know something extra, and we can use this to confidently refactor our program for better performance, knowing that it will compute the same answer. Applying the functor law to fuse map ope

[2018-07-24 20:30] SethTisue commented on #2267
in the M4 release notes, https://github.com/scala/scala/releases/tag/v2.13.0-M4

fsvo of "nicely" anyway

note that this error message isn't coming from the Scala compiler, it's coming from some particular macro annotation in some dependency of yours

it's unfortunate that we ended up in a situation where everyone pasted this error message into their code from the example in macro annotation docum

[2018-07-24 22:43] non commented on #2334
Hey folks, I thought I should chime in on this one.

First of all, I think you all have done a good job of re-framing the discussion away from the question of whether `Monad[s.c.Future]` is lawful (I think it is per: https://gist.github.com/non/4d1f49fe41e2f12c463ae075bf5d0f06) and instead toward the actual issue: concern that authors are going to misuse `s.c.Future` and a desire to indemnify ours

[2018-07-25 09:31] gbersac opened #2336 "List of EitherT sequence does not work"
The following code :

[code]

Produce the following error when compiling :

[code]

Adding `import cats._` and `import cats.data._` does not solve the problem. Unlike what the doc state, it is not enough to have all this import to make cats working. Can you fix this issue please ?

[2018-07-25 09:49] LukaJCB commented on #2336
Do you have an implicit execution context in scope?

[2018-07-25 10:02] gbersac commented on #2336
@LukaJCB What yes I do.

[2018-07-25 10:33] LukaJCB commented on #2336
Partial unification enabled?

[2018-07-25 10:54] LukaJCB commented on #2336
This compiles fine for me:

[code]

And also on [scalafiddle](https://scalafiddle.io/sf/yaJbVC2/0)

[2018-07-25 15:45] djspiewak commented on #2336
This definitely sounds like you're missing partial unification. Note the first part of [this section](https://github.com/typelevel/cats#getting-started) in the readme.

[2018-07-25 15:58] djspiewak commented on #2334
Well, in part. I believe my point was that either a) `Monad[Future]` is equivalent to `Monad[Id]`, in which case it's purely redundant, or b) `Monad[Future]` is unlawful because code involving `Future` is not referentially transparent. Expanding on (b), we can't talk about the laws *at all* because code written with `Future` does not form a function, just like code that closes over `var`s doesn't

[2018-07-26 02:36] #2326 closed

[2018-07-26 14:10] arosien commented on #2334
Removing `Monad[Future]` would really bug all of my clients who I've convinced to use `cats`, and thus it would bug me, transitively.

[2018-07-26 14:12] arosien commented on #2334
@tpolecat I'd be happy to help document the issues if you can help me collect them.

[2018-07-27 12:01] LukaJCB opened #2341 "Syntax for `parTraverse_` and `parSequence_`"
Seems these are missing, should be fairly easy to add :)

[2018-07-27 14:31] kubukoz opened #2342 "Add `Enum` type class"

[2018-07-27 14:36] kubukoz opened #2343 "Add issue template that asks "have you turned partial unification on?""
Maybe it'll be easier for newcomers to find out they're just missing a compiler flag (like in #2336)

[2018-07-27 14:38] kubukoz commented on #2336
@gbersac did you get it to work? Can we close this issue?

[2018-07-27 14:38] kubukoz commented on #2341
I'd like to add these beautiful traversals 🚲

[2018-07-28 16:27] kubukoz opened #2346 "Add NEM[K, V] => NEL[(K, V)] and vice versa, NEL#toNes"

[2018-07-28 19:15] kailuowang opened #2347 "Reenable full build on 2.13"
Right now several steps in build on 2.13-M4 were disabled temporarily to help release 2.13-M4 artifacts quickly

- [ ]  code coverage disabled, due to lack of scoverage on 2.13-M4  [blocking issue](https://github.com/scoverage/scalac-scoverage-plugin/issues/225#issuecomment-405698919)
- [x] deprecation were ignored. need to find a way to cross-compile deprecated collection API, for now, it's just

[2018-07-29 11:10] gbersac commented on #2336
@kubukoz I can't add another sbt plugin for my project without asking for permission... I can't implement the solution, but let's close the issue.

[2018-07-29 11:10] #2336 closed

[2018-07-29 11:18] LukaJCB commented on #2336
@gbersac You don't need to add a plugin if you're on scala version 2.12.x or 2.11.9 or later :)
Just add the `-Ypartial-unification` compiler flag.

[2018-07-30 08:12] gbersac commented on #2336
It's right, my @LukaJCB , it was already set on the project, and I still had the error.

[2018-07-30 12:42] LukaJCB commented on #2336
What Scala version are you on @gbersac?

[2018-07-30 12:44] kubukoz commented on #2336
Also note that it's fairly common to make a mistake and do `scalacOptions += ...` instead of `scalacOptions in ThisBuild += ...` if you have a multi-project build.

But yeah, it all depends on the Scala version.

[2018-07-30 14:46] LukaJCB opened #2348 "Move FunctorEmpty and TraverseEmpty back into cats-core?"
`FunctorEmpty` and `TraverseEmpty` (used to be `FunctorFilter` and `TraverseFilter` were moved to `cats-mtl` when that was extracted from cats-core, as it was one of multiple leaves for `Functor`.
However, when I look at these two type classes, they seem to be awfully unfit for `cats-mtl`, as they don't have anything at all to do with monad transformers and can't even be lifted through monad stack

[2018-07-30 15:17] denisrosca commented on #2346
Wouldn't `NEL[(K, V)]` have to change to `NEM[K, NEL[V]]`? Or should the transformation require `V: Semigroup`?

[2018-07-30 15:20] kubukoz commented on #2346
I think that would resemble `groupBy` or something like that.

What I meant in the issue was equivalents to stdlib's `Map#toList` and `List#toMap` :)

Also, adding `NEL#toNes` to the issue as I've had a few usecases for it recently too.

[2018-07-30 16:14] kubukoz commented on #2308
Closing, I suggest to wait with the original issue until 2.13 is available, then we can use lazy implicits to add an instance to cats. I'll post more in the issue.

[2018-07-30 16:14] #2308 closed

[2018-07-30 16:16] kubukoz commented on #2300
I suggest waiting until 2.13 is released until we go forward with this - lazy implicits make it possible to implement the recursive instances (`Eq`, `Show`, `Order` and maybe more).

If anyone stumbles upon this issue and needs an instance before that, I suggest copying code from https://github.com/typelevel/shapeless-contrib/pull/9/files and porting it to Cats.

[2018-07-30 16:17] kubukoz commented on #2300
@kailuowang might adding an "on hold" label?

[2018-07-30 17:19] djspiewak commented on #2336
It's definitely an SBT misconfiguration. If it was a Scala version mismatch then there would have been a different error complaining about the unrecognized option.

@gbersac You can do `show scalacOptions` to see whether or not it has been correctly set. More than likely, you need to do a `in ThisBuild` on your setting.

[2018-07-30 17:21] kailuowang commented on #2300
added. thanks @kubukoz

[2018-07-30 17:24] kubukoz commented on #2300
Thanks :)

[2018-07-31 08:35] gbersac commented on #2336
@LukaJCB `scalaVersion := "2.12.4-bin-typelevel-4"`. De plus, après vérification l'option `"-Ypartial-unification"` est bien activée. Ceci dit, je ne savais pas que l'on utilisait le compilateur de typelevel. Mais ce n'est censé être qu'une extension du compilateur lightben.

[2018-07-31 08:43] gbersac commented on #2336
@LukaJCB the version of my scala compiler is `scalaVersion := "2.12.4-bin-typelevel-4"`. This is an alternative compiler (I didn't knew we were using an alternative compiler on the project 😱 ). But since the typelevel compiler is just an extension of the lightbend one, that shouldn't be an issue.

@djspiewak thanks, I didn't knew about the `show scalacOptions` commands. On the project I tried to i

[2018-07-31 21:14] SethTisue opened #2355 "RepresentableSuite.scala doesn't compile in Scala 2.13 community build"
[code]

this is on 2.13.0-pre-ba03b6d

not sure what to make of this; the code compiles on 2.13.0-M4, so I suppose this is due to some post-M4 change in scala/scala

tracking this down could be tricky. 277 PRs (!) have been merged, as of scala/scala@ba03b6d, since M4, and Cats has a bunch of dependencies so it's not easy to build and test everything against 2.13.0-pre-ba03b6d

can someone who know

[2018-08-01 13:45] ghost opened #2356 "Add dotty build for kernel"
/cc @smarter

[2018-08-02 14:35] LukaJCB opened #2358 "Move fs2 Catenable into cats.data"
`Catenable` is a really nice data structure that gives great performance for things like appending. It'd be great to have it in `cats.data`. @mpilquist agreed that this would be a good idea.

[2018-08-02 15:00] djspiewak commented on #2358
I'm leery of putting fancy data structures into cats just to have a place to put them. To me, this seems like something that belongs more in a project like dogs. Even `NonEmptyList` is kind of pushing it, IMO. And unlike NEL, there's no strong integration between `Catenable` and other structures/classes.

[2018-08-02 15:23] LukaJCB commented on #2358
@djspiewak There's been some similar discussion in https://github.com/typelevel/cats/issues/2058.
I'm still open to the idea, but I don't think `dogs` has really worked out.

[2018-08-02 15:41] djspiewak commented on #2358
I feel like `dogs` mostly hasn't worked out for other reasons, one of which being differentiation on the data structures. Not a lot of people care about `IList` or `ISet`, but if you gave them a `HashMap` backed by a bitmapped trie that works via typeclasses, or a `Catenable`, etc etc, now suddenly it's a more interesting dependency. Pushing `Catenable` into cats-data just perpetuates the root pro

[2018-08-02 15:45] johnynek commented on #2358
I’m +1 on taking it in core. I have previously made my views on this known in #2058

[2018-08-02 15:50] djspiewak commented on #2358
@johnynek A lot of this is the poly/mono debate. I will note that I am in agreement with you on things like cats-free, which doesn't really serve a purpose at all since it a) has the same upstream dependences, *and* b) is version- and compatibility-locked to cats-core. If either of those were false, there would be value in having it separated. In the case of a hypothetical data structures project

[2018-08-02 16:20] tpolecat commented on #2358
👍 for `Catenable` because it's not at all speculative. I like it when generic stuff gets pushed upstream from proven libraries.

And more generally I'm 👍 for more functional data structures in `cats.data` … dogs isn't working and we need this stuff.

[2018-08-02 16:44] djspiewak commented on #2358
Let's dwell on that point for a second: *why* isn't dogs working? Is it the limited data structures currently implemented? @stew's restricted availability of free time? What exactly?

[2018-08-02 17:05] tpolecat commented on #2358
Yeah I think it hasn't gotten enough attention for people to feel confident using it. If it were a cats module (or just got GC'd over into `cats.data`) or otherwise demonstrated signs of life we might get to a critical mass where there would be some uptake. But it's often easier to pile onto an already-critical mass.

[2018-08-02 17:55] djspiewak commented on #2358
@tpolecat That's part of what I'm afraid of. Huge surface area on API makes compatibility extremely hard, releases slow and bulky and painful. It means that data structure fixes and tweaks (which are quite common!) get conflated with core typeclass fixes and tweaks (which are unbelievably rare). I think cats-effect demonstrates that separate-but-closely-related ecosystem projects *can* work, it ju

[2018-08-02 18:00] tpolecat commented on #2358
I don't get the sense that it has been a problem for scalaz, although Kenji is some kind of mighty space robot so he may have managed a lot of hassles we never heard about.

[2018-08-02 18:11] djspiewak commented on #2358
It's been hugely annoying for scalaz, resulting in issues not actually being addressed in things like `Task` and `Actor` over the years. It also kind of freezes `IList`/`IMap` in place in a lot of unfortunate ways, especially from the standpoint of optimization and API tweaks.

[2018-08-02 18:39] johnynek commented on #2358
we just finally executed a fairly painful update to cats 1.1. It was a lot of work, and no one thought it was fun.

To me, locking APIs is exactly the value add of stable libraries. I am willing to compromise API beauty for reduced cost on the ecosystem to upgrade.

I'm already looking at 2.13, and I'm a bit skeptical I will ever use it. Getting cats to work with it was hard enough. I can't imagin

[2018-08-02 18:41] johnynek commented on #2358
side note: I wish we could communicate the eng-hours cost of breaking APIs back to library authors. Currently there is no real mechanism except hearing that adoption isn't great. I think people would be shocked at the collective eng-hours these breakages cause.

[2018-08-02 20:52] BennyHill commented on #2358
Perhaps one solution to help ease the pain and suffering for multi-billion dollar companies might be that said companies invest some of their hard-earned pocket money into the open source projects?

It's just not true that there is "no real mechanism"...it's an open community. Just join in the fun.

[2018-08-02 21:18] djspiewak commented on #2358
This is a bigger can of worms but the short answer is that they often do. Objectively not as much as they should but it still happens, especially in areas of upgrades.

In my experience, the problem often boils down to the developers and immediate team leads "in the trenches": they're just not comfortable jumping into OSS like that. Most people don't have a long history of work done on github. Mos

[2018-08-02 21:38] BennyHill commented on #2358
Well I've done my time in companies ten times+ the worth of Twitter, so for sure I get your points. Often, people just aren't allowed to engage with OSS - it really is that simple.

But here's a flip: I get paid zero for any work in any programming language, so really, why should I care? I do care about some things, but not about faceless, imaginary things...it's just not possible.

[2018-08-03 00:43] SethTisue commented on #2355
uh, I don't remember, but they both currently compile on 2.13.0-M4.

(as an aside, I had hoped the problem might be reproducible outside dbuild with `; ++2.13.0-pre-329c477! ; set every scalaBinaryVersion := "2.13.0-M4" ; testsJVM/Test/compile` but no, we've made binary-incompatible collections changes since M4 so that bombs)

scala/community-builds@https://github.com/scala/community-builds/commit

[2018-08-03 00:51] SethTisue commented on #2355
PR: #2359

[2018-08-03 00:54] SethTisue opened #2360 "OpSuite fails in Scala 2.13 community build"
(after first applying #2359 so the tests compile on Scala 2.13.0-pre-329c477)

well, this looks pretty hairy:

[code]

<details>

[code]
</details>

[2018-08-03 09:46] LukaJCB commented on #2358
Answering Kai's questions

I think `Catenable` can be considered fairly stable, AFAICS it's been in fs2 for over two years and has barely had any changes since, its algebra is very straightforward and very unlikely to change. I can envision additions to its api, but I don't think compatibility breaking changes are likely at all.

I'd argue it's really useful, when working with monoids in e.g. `Wri

[2018-08-03 15:01] LukaJCB commented on #1800
@estatico What do you think of the idea of having cats depend on `scala-newtype`? Do you think it will be stable enough, or a bad idea? Would love to hear your thoughts :)

[2018-08-03 15:27] kailuowang commented on #2296
update from https://issues.apache.org/jira/browse/SPARK-14220, looks like that the next release of Spark  might be going to be on 2.12

[2018-08-03 16:57] djspiewak commented on #2358
@kailuowang On the subject of `Catenable` in cats-core specifically… One problem we're going to hit if we *do* pull it into core is we sort of obviate the whole notion of dogs. It doesn't make any sense to have one data structure in core and all the others somewhere else, and once `Catenable` is in core, it's very very difficult to get it back out again. So this is part of why I think the general

[2018-08-03 16:58] tpolecat commented on #2358
Maybe we can convince Haoyi to let us borrow his time machine.

[2018-08-03 17:43] kailuowang commented on #2358
@djspiewak I see your point.
Let's take one more step back and state the specific problem as follows:
`Catenable` is useful, we want to enable more projects to use it without fs2 dep.

Right now we have mainly 3 options:
1. a new project just for `Catenable`
  sounds like too much infrastructure cost to provide a single feature.
2. put it in `cats-core` the foundation of an ecosystem
If something

[2018-08-03 17:48] djspiewak commented on #2358
It does. Just so my preferences are clear at a high level:

- 3
- 2
- 1

(1 is a distant last place)

Obviously 3 is contingent on being able to resolve the maintenance and stability problems. I really wish I could just straight up volunteer to take it on. I certainly have the interest, I just don't have the time right now (similar to the situation @stew is in, I would assume).

[2018-08-03 18:43] johnynek commented on #2358
2, 3, 1

PS: I think Haoyi's time machine is that he doesn't really engage in democratically run projects, and he can quickly make decisions/changes. Secondly, he gets things in a decent shape, and moves on to the next project.

I think for long term governance, cats' approach works well, it won't die if any one person leaves, but it does create costs as we struggle through areas where we disagree

[2018-08-03 19:05] LukaJCB commented on #2358
I also vote 2,3,1.

I'm not sure I like the idea of a "benevolent dictator". I'd rather we actually have something like a formal vote instead. :)

[2018-08-03 19:24] mpilquist commented on #2358
2, 1, 3 personally with 1 and 3 close.

[2018-08-03 19:43] djspiewak commented on #2358
@johnynek In fairness, I think we would all pretty much defer to @kailuowang. I'm not necessarily averse to what you're saying, just pointing out that, at least for the time being, things aren't exactly ambiguous.

[2018-08-03 19:45] kailuowang opened #2362 "[Meta] how to make decisions as a team during disagreement"
In the past, there were a couple of times when discussions went into a stalemate but we also kind of really need to make the decision to move ahead. In some of those cases, I jumped out of nowhere and listed the options and propose a vote, and we did and moved forward.
In other situations, when the need to make a decision is not compelling, the usual outcome is simply no decision which results in

[2018-08-03 19:45] kailuowang commented on #2358
I have to say I am honored to be mentioned by @johnynek in regards to such a role - I am not so sure about that, but let's discuss in a separate thread (created #2362)

[2018-08-03 20:05] djspiewak commented on #2362
My vote would be for a sort of de facto fiat meritocracy. This is a terrible system for most things, btw, and probably terrible for software too, so take my recommendation with a grain of salt.

Basically, whoever does the work, gets the final say. And by "does the work" I mean "takes point on project maintainership/leadership/all-the-non-sexy-things." You've been doing that for cats. @alexandru h

[2018-08-03 20:33] carymrobbins commented on #1800
@LukaJCB I like it! Do you think cats will look to use mostly the annotation macros (`@newtype` / `@newsubtype`)? I'm thinking before newtype gets a 1.0 release (which I think should happen before we have cats depend on it) we should consider removing the legacy encoding. If that works for you, then at this point the API should be considered pretty stable. A good plan of action may be to -

- [ ]

[2018-08-03 20:41] BennyHill commented on #2362
Very briefly... I think we need a "place" to put the long term, big issues as opposed to the short term ones. @djspiewak has been very good at promoting the root causes recently, as has @johnynek with, for example, BC and related issues. But of course, these can conflict with short term issues and PR's, etc.

So just having some "roadmap/strategy" issues/docs might help out to help steer things al

[2018-08-03 21:55] djspiewak commented on #2362
Agreed with @BennyHill. A more cynical view of my "very good at promoting the root causes" might be to say that I'm just armchair obstructing real work. 😃 Some more explicit roadmap/strategy/acceptance-criteria/stuff would be really great, especially when things come up like the `Monad[Future]` discussion.

[2018-08-04 00:44] johnynek commented on #2362
The rust community has recently had some concerns with hashing things out in an issue, then people not realizing it was happening and coming after the decision was made to rail against it.

I might suggest that we have a discussions directory and work on proposals as docs, and then use the PR to see if it should be adopted.

Things like: why we currently include the Monad on Try (or Future) refere

[2018-08-04 02:47] jrduncans opened #2363 "Add combineAllOption to Foldable"
`combineAllOption` should be added to `Foldable` as a parallel to `combineAll` for `Semigroup` instead of `Monoid`

[2018-08-04 04:26] johnynek commented on #2363
Seems like a nice PR but will have to be done with careful binary compatibility concerns.

[2018-08-04 09:26] alexandru commented on #2362
A process requiring voting feels too formal and should be done only when there's disagreement. Voting involves politics and I'd rather avoid that if possible. For example @kailuowang is very involved in the development and maintenance of Cats, I saw him fix incomplete PRs and push releases forward. There's no question in my mind that he's currently qualified to settle harsh decisions.

There are i

[2018-08-04 16:25] LukaJCB commented on #1800
I think we'll primarily use `@newtype`, I don't think we'd use `@newsubtype` anywhere really.
I really like that plan and hope we can get it started ASAP :)

[2018-08-04 17:11] LukaJCB commented on #2296
If the timing of the next major Cats release is still a year from 1.0, will we let go of 2.11? That would be in december, which seems a tad bit premature, or no?

[2018-08-04 18:03] johnynek commented on #2296
I like option 1: cats 2.0 is still binary compatible for 2.12, but still publish for 2.11 and 2.13.

[2018-08-04 18:46] LukaJCB commented on #2296
In Scenario 1, what would be the timeline for 3.0? Release at the same time as 2.0?

[2018-08-04 19:10] johnynek commented on #2296
I think we should take a step back. I think the timeline should come after the goals.

Maybe it is time to make a clearer plan for 2.0 and 3.0. A tracking issue with a list of changes desired would be good.

I would also advocate against being too concerned with warts. I don’t like them either but I can hold my nose to avoid putting a migration cost on people.

Lastly, it would be interesting to t

[2018-08-04 20:06] LukaJCB commented on #2296
Sorry pressed close by mistake.

One thing that I really really want to see is newtypes for all of our data types, I had some benchmarks and they all pointed to enormous performance gains. We could easily pull that off in a fully source compatible way, but even in 2.12 I fear it won't be binary compatible. :/

[2018-08-05 10:26] LukaJCB commented on #2296
As to a list of changes that are incompatible, I only see two right now (three if we count removing `Future` instances) if we look at the issues: https://github.com/typelevel/cats/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.0+label%3A%22API+Breaking%22

[2018-08-05 10:29] LukaJCB commented on #1930
I think this can be closed now, right? :)

[2018-08-05 10:30] LukaJCB commented on #1681
This should be done with https://github.com/typelevel/cats/pull/2033 and https://github.com/typelevel/cats/pull/2000 :)

[2018-08-05 10:30] #1681 closed

[2018-08-05 10:43] LukaJCB commented on #1175
This can be closed now that we have `ArrowChoice` :)

[2018-08-05 10:46] LukaJCB commented on #1152
Implemented in https://github.com/typelevel/cats/pull/2059 :)

[2018-08-05 10:46] #1152 closed

[2018-08-05 12:09] ghost opened #2364 "Use composite projects in build"
Ref https://github.com/portable-scala/sbt-crossproject/pull/99

[2018-08-05 13:49] tel commented on #1175
I disagree! Choice is still too strong. This stuff needs to be defined below Category. A Choice profunctor which doesn’t admit an identity is a real thing. For instance, Fold[A, B] which consumes any number of As and emits on B is a choice profunctor without being a category.

[2018-08-06 15:59] kailuowang commented on #1800
If we go with the option 1 [in this roadmap](https://github.com/typelevel/cats/issues/2296), this will be Cats 3.0 right?

[2018-08-06 16:28] kailuowang commented on #2296
Here is what I am thinking IRT goals and timeline and I probably missed a bunch of things that should've been taken into consideration.

### 2.0 (maintains BC with 1.x on 2.12),

#### Goals:
* Move a bunch of methods from those shim traits back to the original intended traits
* Take full advantage of the better BC on 2.12 going forward.

#### Timeline:
We can probably target it to be released a bi

[2018-08-08 04:34] ctongfei opened #2370 "Making Eq/Order/Hash contravariant?"
Since https://github.com/scala/bug/issues/2509 is now fixed by https://github.com/scala/scala/pull/6037, should `Eq`/`Order`/`Hash` be contravariant on its type parameter in a later version of Cats?

[2018-08-08 06:09] johnynek commented on #2370
This is behind a flag even in 2.13. I think it will be a while before we can leverage this.

[2018-08-08 08:01] ctongfei commented on #2370
Yeah -- something along Cats 2.0 ?

[2018-08-08 08:37] LukaJCB commented on #2358
So what is the best way to unblock this issue, given that this should probably happen before fs2 1.0 rolls out?

[2018-08-08 09:03] LukaJCB commented on #2296
Will 2.0 still support Scala 2.11 in that scenario @kailuowang? :)

[2018-08-08 10:42] kailuowang commented on #2296
@LukaJCB I'd say yes. I don't see much cost of keeping it. Do you?

[2018-08-08 10:46] kailuowang commented on #2358
Looks like 2 got the majority vote here, also 3 has a contingency issue (dogs maintainence) yet to resolve.
I'd say let's move it in to cats.data

[2018-08-08 10:52] kailuowang commented on #2370
Might be even later. 2.0 is likely to be mainly a continuation of 1.x on Scala 2.12, 3.0 is unlikely to drop 2.12 support. So maybe 4.0?
In the meantime, kittens provides auto instance derivation for these type classes, might help you a bit.

[2018-08-08 10:54] LukaJCB commented on #2296
Fully agreed, just wanted to make sure :)

[2018-08-08 15:27] ceedubs commented on #2296
I just wanted to chime in and say that I completely agree with @kailuowang's proposed 2.0 plan.

As for 3.0, I'm less sure, because it's early in the days of opaque types and the last that I knew there wasn't One True Newtype for Scala.

[2018-08-08 16:47] SystemFw commented on #2358
Maybe it's really stupid, but I feel that `dogs` would benefit from being called `cats-data` instead. It kinda gives it that stamp of approval that `cats-effect` has

[2018-08-08 18:25] ctongfei commented on #2370
Got it. Let's revisit this for Cats 4.0 :-)

[2018-08-08 18:25] #2370 closed

[2018-08-09 13:31] ChristopherDavenport commented on #2358
I would personally prefer a `cats-data` library rather than loading these up into cats. If everything moves into cats, then we start to lose the modularity that has so far been a feature to the ecosystem.

[2018-08-09 13:49] martin-g commented on #2358
I meant just their names, because of `dogs would benefit from being called cats-data instead. It kinda gives it that stamp of approval`.
I like the renaming of `dogs` to `cats-data`, it is much more clear what to expect from this library.
`kittens` just moved to `typelevel` organization in GitHub. If it is `stamped` then maybe its name should be improved too, to `cats-derive` or something.

[2018-08-09 14:44] mpilquist commented on #2358
:+1: for an official cats collections library. I'd avoid calling it cats-data as that conflicts with `cats.data` package in cats-core and packages shouldn't be split across jars/modules. And we can't remove `cats.data` from core b/c it's too intertwined with other parts of core. Hence, I'd rather just put everything in 1 JAR and move on.

[2018-08-10 00:34] sarahgerweck opened #2375 "ApplicativeError's `orElse` should accept widening?"
With the exception of the new (as of Cats 1.2) `orElse` in `ApplicativeError`, most other places (including [in](https://typelevel.org/cats/api/cats/data/Validated.html#orElse[EE,AA%3E:A](default:=%3Ecats.data.Validated[EE,AA]):cats.data.Validated[EE,AA]) [Cats](https://typelevel.org/cats/api/cats/syntax/EitherOps.html#orElse[C,BB%3E:B](fallback:=%3EEither[C,BB]):Either[C,BB])) that have an `orEls

[2018-08-10 02:04] kailuowang commented on #2375
It is inconsistent with `orElse` in other places and a bit inconvenient, but it's consistent with all the other error handling methods in `ApplicativeError`.
That being said, I am not against the change you are proposing. I believe such a change is binary compatible (tested with mima). Not 100% sure if it's going to be source compatible though - if `F` is contravariant, the return type might chang

[2018-08-10 04:10] johnynek commented on #2375
I think all applicatives are covariant (since they are Functors and all functors are)

If this is compatible I’m for it.

[2018-08-11 09:33] thoefer commented on #1807
![versions](https://user-images.githubusercontent.com/202410/43990285-4b8301da-9d5a-11e8-82d5-6abb858b2dd6.png)

[2018-08-11 09:35] thoefer commented on #1807
proposals, hints, suggestions?

[2018-08-11 12:19] ghost opened #2381 "Add scaladoc flags for implicits"
Eg `-implicits -implicits-show-all`

From discussion on cats gitter https://gitter.im/typelevel/cats?at=5b6e0aaa179f842c971eeeb2

[2018-08-11 17:57] djspiewak commented on #2358
IMO, anything that uses the `cats` top-level package should be named cats-*something* as a project. This was the rationale behind cats-effect, originally. Using the `cats.data` namespace for a cats collections library would be awesome, but there's simply no way to do it without package splitting, which is a non-starter.

I don't think `dogs` is necessarily a bad name. I agree cats-data would be be

[2018-08-11 18:04] johnynek commented on #2358
I would argue that Catenable (or Chain) should potentially be in core because it would show up in typeclasses. For instance on Foldable we have toList but that forces and order of construction.

With Catenable/Chain we could do toChain and many structures could more efficiently be created (e.g. pretty much any tree structure not already a linear graph)

[2018-08-12 05:13] kubukoz opened #2385 "Add Foldable#[max|min]ByOption, Reducible#[maxBy|minBy]"

[2018-08-12 18:35] ghost opened #2389 "Prepare for 2.13.0-M5"

[2018-08-12 19:36] milessabin commented on #1807
:+1: for "Cats friendly".

[2018-08-12 20:12] johnynek commented on #1807
👍 cats friendly, but I like using the hexagonal cat vs lambda, which I think is more distinctive (lambda being very generically used across FP).

[2018-08-12 21:47] BennyHill commented on #1807
Cats friendly + hexagonal cats => :+1:

[2018-08-13 08:38] davegurnell commented on #1807
+1 for hexagons and "cats friendly" :)

If people are interested I could speak to Jenny, the artist for the Scala with Cats book (http://underscore.io/books/scala-with-cats). She's more of a comic book artist and IMO what's needed here is pixel art, but I can have the conversation and see what she says.

[2018-08-13 11:37] thoefer commented on #1807
@davegurnell Polishing an icon at the pixel level is what I usually do last. Right now the interpolation is somehow arbitrary and not optimized for being show at this small size. The end result is a more crisp icon, what you maybe expect. Nevertheless: I'd not consider that final icon to be "real" pixel art.

[2018-08-13 14:41] kailuowang opened #2391 "Update AUTHORS.MD"
We haven't got the time to update the authors list since 1.1.0 release. We need to go through the 1.2.0 release notes and update the list with new contributors.

[2018-08-13 15:37] kailuowang commented on #2281
fixed by @barambani in #2383

[2018-08-13 15:37] #2281 closed

[2018-08-13 19:28] djspiewak commented on #2319
@kailuowang I'm a bit out of the loop, I think. The build takes 3 hours? How long does it take locally? What is it doing? Thanks to working at SlamData, I have a remarkably vast swath of experience debugging slow Travis builds. I'd be happy to take a look if you want.

[2018-08-13 19:34] BennyHill commented on #2319
the 2-3 hours is the combined total of the builds, each job is typically 20-30 minutes - https://travis-ci.org/typelevel/cats/builds/415542808

And a lot of that time is coverage testing, tut testing, doc testing, site building and so on.

[2018-08-13 19:38] djspiewak commented on #2319
Ok taking a quick look at things, literally the first things that occur to me:

- Oh god, you're using a separated build script… I hate that convention.
- Why is `sudo: required`? I'm relatively certain those VMs are slower. Is it just for `codecov`? See below.
- The `travis-publish.sh` script goes to great lengths to push things all into a single SBT instance. In my experience, this is exactly th

[2018-08-13 19:50] BennyHill commented on #2319
The build script actually does invoke `sbt` multiple times, but for jvm we could split even more as per the js build - but the jvm issue normally happens relatively early in the build.

for the sudo - that is a slower startup but you get the 7.5 Gb memory, we could try a lower setting. ref https://docs.travis-ci.com/user/reference/overview/

[2018-08-13 19:51] rossabaker commented on #2319
`sudo: required` gets [7.5 GB as opposed to 4GB](https://docs.travis-ci.com/user/reference/overview/#virtualisation-environment-vs-operating-system).  http4s adopted it because the IO was untenable on the container builds, but that should be far less a factor in cats.

:+1:

[2018-08-13 19:53] BennyHill commented on #2319
My main concern _before_ moving would be to ensure that it really is not our build at fault!  one simple option is to add `parallelExecution := false` to the jvm settings, already in js

[2018-08-13 19:58] BennyHill commented on #2319
re scoverage times... be careful here. The scoverage tests _also_ run the scalacheck tests, but  with larger parameters than js. And after a successful coverage run, the code is just rebuilt not tested.

So whilst coverage will always be slower, i doubt it's causing any issues. What we might want to do is try running the scoverage with very low parameters (just to get coverage) and then run the fu

[2018-08-13 19:59] kailuowang commented on #2319
@djspiewak thanks so much for helping. And @BennyHill thanks for answering some of the questions.

Here is some context

* I'm not a fan of the separated build script either. Maybe we can replace it, but it didn't bother me enough to spend time on that either.
* that is, errr, a way to tell Travis to use a different VM (see @BennyHill's answer above). I don't believe sudo is actually needed for th

[2018-08-13 20:03] BennyHill commented on #2319
re the `parallelExecution := false` idea, this came up the other day on the scala native channel -  https://gitter.im/scala-native/scala-native?at=5b6d631fa6af14730b170260

[2018-08-13 20:14] BennyHill commented on #2319
Finally, re the "separated build scripts"  this was orignally done [as per the ci docs](https://docs.travis-ci.com/user/customizing-the-build/#implementing-complex-build-steps ),

But of course, that was a while back , so perhaps we can revisit that

[2018-08-14 08:06] LukaJCB opened #2399 "Add a `Compose` instance for `Map`"
Should be relatively easy to define and lawful as well :)

[2018-08-14 09:26] LukaJCB opened #2400 "Consider using a composition based encoding for type classes to avoid implicit collisions"
We've already adopted this pattern for a few of our type classes to avoid the well known problem that inheritance based type classes bring. All of `cats-mtl`, as well as `Representable`, `Parallel` and `NonEmptyParallel` already make use of this encoding and can therefore be safely used with the other more canon type classes.

If we look closely at the [cats typeclass diagram](https://github.com/t

[2018-08-14 09:50] LukaJCB commented on #2400
A fairly old PR that does part of the work can be found here: https://github.com/typelevel/cats/pull/1379

[2018-08-14 09:52] DavidGregory084 commented on #2319
If you drop `sudo: required` it would be a good idea to add `-XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap` to ensure that the heap size is set according to the container's memory limits

[2018-08-14 10:09] LukaJCB commented on #2322
@satansk Have you had a shot at this? Are you blocked by something? Is it something I could help with? :)

[2018-08-14 14:25] ceedubs commented on #2348
I'm a bit partial to these type classes being in core, but I'm also the person who originally added them, so I'm a bit biased.

Note that this is also somewhat relevant to #1755.

I think that there are others who are more qualified than I am to weigh-in on the composition-based type class encoding component.

[2018-08-14 14:42] kailuowang commented on #2348
As far as I recall that was the main drive, although there might've been some technical reasons as well. I believe @edmundnoble also mentioned some kinkiness in writing laws for them. But I don't recall the detail and from the law code in cats-mtl, I didn't immediately see any technical issues (if to move them to core.) I'd say worth a try.

I missed having these classes in core a couple of times.

[2018-08-15 15:54] satansk commented on #2322
@LukaJCB thanks, and yes, I did encounter a problem, I can't import the project into intellij idea, and here is the error message:

[code]

And I found @LukaszMarchewka  had encountered the same problem: https://github.com/typelevel/cats/pull/2382, maybe this can be solved by some sbt settings?

[2018-08-15 15:59] #2358 closed

[2018-08-15 20:27] LukaszMarchewka commented on #2322
@satansk I have had exactly the same problem, #2382 fixes this.

[2018-08-16 05:53] #2399 closed

[2018-08-16 08:41] LukaJCB opened #2415 "Move Binary Incompatible instances and syntax into main traits for 2.0"
This involves moving the `*InstancesBinCompatN` into `*Instances` and moving `*SyntaBinCompat` into their respective type classes. :)

[2018-08-16 08:46] LukaJCB commented on #2322
I'm sorry that this seems to make it hard for IntelliJ users :(
For now maybe you can just manually use @LukaszMarchewka workaround before it's merged hopefully soon.

[2018-08-16 23:38] satansk commented on #2322
@LukaszMarchewka thanks, it did work :)

[2018-08-17 09:12] ronanM opened #2419 "Add syntax for `Chain`"

[2018-08-18 20:14] thoefer commented on #1807
![versions2](https://user-images.githubusercontent.com/202410/44302850-8f6fe480-a331-11e8-8142-f227e2a7c5ed.png)

The design process flows (as usual; at least for me) from top left to right bottom. In the first half of everything I tried a pictographic cat, which I abandoned at some point. I simply tried a view concepts. In the final pieces on the right, especially bottom-right I tried to visually

[2018-08-18 20:51] gberlanga commented on #2419
Could you elaborate more?
This `myList.chain` should return what?

[2018-08-18 21:13] ronanM commented on #2419
[code]
Like `Chain.fromSeq(myList)`, isn't it ?

[2018-08-18 23:04] leusgalvan commented on #2391
Can I take this? If I understand correctly I should just go to https://github.com/typelevel/cats/releases/tag/v1.2.0 and add the names to AUTHORS.md keeping it sorted and duplicates-free :smile:

[2018-08-18 23:45] johnynek commented on #2419
I think we could do .toChain for any Foldable using `foldMap(Chain.one)` or foldLeft, although for any Seq using fromSeq would be faster (O(1) vs O(N)).

I’d prefer toChain if we did this at all, but in -1 on if I would say. I’m +1 on adding toChain to Foldable in the future since you can optimize it for Seq cases.

[2018-08-19 02:02] LukaJCB commented on #2391
Feel free, and thank you! :)

[2018-08-20 04:04] kubukoz commented on #2309
Closed by #2314

[2018-08-20 06:34] #2309 closed

[2018-08-20 14:03] LukaJCB opened #2429 "Replace all usage of the list Monoid in the docs with the chain Monoid"
Using `Chain`s Monoid instead of `List`s can give us an enormous performance boost. We should encourage our users to use it instead of list in many cases, such as, `Validated`, `Ior`, `Writer` or `Const`.

[2018-08-20 19:53] kubukoz opened #2432 "Add Kleisli#contramapK"
Same as `mapK(F ~> G)`, but in reverse.

[2018-08-20 19:55] kubukoz commented on #2432
Now that I'm at it, maybe an alias of `local` (`contramap`) could go there as well.

[2018-08-21 14:18] LukaJCB commented on #2432
I'm not sure how that'd work, `Kleisli` is covariant in `F`, so I don't think it's possible to provide `contramapK` at all.

[2018-08-21 14:39] LukaJCB commented on #2268
Sorry I never got back to you @skibaa, if we define them on `Cokleisli` instead of `F[A] => B`, they'll be scoped very nicely and are therefore a great addition I think.
A lot of our syntax has to be imported through `cats.syntax`, which can be quite cumbersome the more we add to it, but as a method on `Cokleisli` itself it should be alright :)

[2018-08-22 04:54] LMnet opened #2434 "Rename NonEmptySet to NonEmptySortedSet"
Current implementation of  the `cats.data.NonEmptySet` confuses, because it's not `NonEmptySet`, it's `NonEmptySortedSet`.

When it was introduced in cats 1.1.0 I was very excited about it, because there is a lot of use cases in my codebase for the `NonEmptySet`. But when I tried to use it I noticed that it uses `Order` typeclass and in general this new `NonEmptySet` was based on `SortedSet`, not

[2018-08-22 08:00] LukaJCB commented on #2434
Hi @LMnet What kind of set, would you like to see as the canonical `NonEmptySet`?
The problem is that the std lib `Set` type is unparametric and a non-empty version purely based on that one wouldn't find a place in cats. Any set based on hashing would have to take a `Hash[A]`.

[2018-08-22 08:08] LMnet commented on #2434
I think it's not necessary to have `NonEmptySet` (without sortable property) in cats if there are some issues with implementation. But at the same time, I don't think that it's a good idea to use `NonEmptySortedSet` as `NonEmptySet` in terms of naming.

[2018-08-22 08:09] LukaJCB commented on #2434
I can empathize with that :)
`NonEmptySortedSet` is a bit long, so maybe `NonEmptyTreeSet` would be better, but still kind of long.

[2018-08-22 08:17] LMnet commented on #2434
I pushed from the standard scala library naming. `NonEmptyTreeSet` sounds like a good name for an implementation, but not for an interface. And it's shorter only by 2 letters :)

I believe that even if the name is a bit long, but it's fully semantically correct, it's ok. So, in my opinion, `NonEmptySortedSet`'s name length is not a big deal.

[2018-08-22 18:26] BennyHill commented on #2389
2.13.0-M5 is now staged at https://oss.sonatype.org/content/repositories/staging/org/scala-lang/scala-compiler/2.13.0-M5/

Any ideas on the timelines for this yet, please?

[2018-08-22 23:10] pferrel opened #2436 "The docs require login"
Why do I have to login to read the docs??? You may think you are being clever by running the example code but why not just show the result so I don't have to give you access to my github info. Remember MS owns them now.

[2018-08-22 23:12] tpolecat commented on #2436
Where are you seeing this? I can see everything in an anonymous browser session.

[2018-08-22 23:44] BennyHill commented on #2436
Looks like this is from another site.

https://www.scala-exercises.org/cats/semigroup

[2018-08-22 23:54] pferrel commented on #2436
Oops, my bad. Sorry for not reading Google more carefully.

[2018-08-22 23:54] #2436 closed

[2018-08-23 00:09] BennyHill commented on #2436
Np...have fun!!

[2018-08-23 09:20] ochrons opened #2438 "Add biFlatMap to EitherT"
`EitherT` has a `bimap` but no `biFlatMap`. This would be useful when chaining computations and needing to process both sides of the `Either` with functions that return an `EitherT`. For example:

[code]

[2018-08-23 10:37] Bhudjo opened #2439 "Rename Ior to Or"
To my understanding, there was an historical reason for specifying two kinds of Or:
an inclusive one and an exclusive one (`Either` was not right biased).

Since `Xor` has been renamed to `Either`, both in stlib and in cats, I'm suggesting that `Ior` could be renamed as `Or`.

Benefits:
- Immediate understanding of the name to newcomers
    - > what even is this `Ior` thing?
- _Or gate_ is always

[2018-08-23 11:31] LukaJCB commented on #2385
@leusgalvan go right ahead!
You'll have to add these to a separate syntax trait, due to bin compatibility, just a heads up :)

[2018-08-23 14:05] johnynek commented on #2439
It is appealing to imagine perfecting cats. Yet, I don’t like thinking of releases as a chance to break a bunch of stuff. Each break decreases the chance each user can easily adopt the new version.

We want as many users as possible to contribute and help find bugs. Breaks work against that goal.

[2018-08-23 14:15] mpilquist commented on #2439
I agree with @johnynek. Also note that the name `Or` is taken by `org.scalactic.Or`.

[2018-08-23 14:24] catostrophe opened #2440 "Add missing semi-/sub-/-F/-Tap versions of flatMap to monad transformers"
Monad transformers lack some `semi-`/`sub-`/`-F`/`-Tap` versions of `flatMap` that free a user from manual lifting or mapping.

I find the following items reasonable for implementation as to make structures and transformers more consistent:
- OptionT:
  - [x] add member methods `flatTap`, `flatTapF`, `semiflatTap`, `subflatTap`
- Either:
  - [x] add extensions `flatTap`, `leftFlatTap` to `EitherOp

[2018-08-23 16:40] Bhudjo commented on #2439
--
Ouch, org.scalactic.Or is even left biased 😓

[2018-08-24 12:22] schernichkin opened #2441 "Applicative.ap fails to typecheck then function excepts tuple argument (Scala 2.11.12)"
[code]

[2018-08-24 14:05] johnynek commented on #2441
`(Int, Int) => Unit` is a Function2. You need an extra set of parents: `((Int, Int)) => Unit`

This is a bit of a scala gotcha.

[2018-08-24 15:39] schernichkin commented on #2441
Wow, thanks, closing.

[2018-08-24 15:39] #2441 closed

[2018-08-24 17:57] johnynek commented on #2439
By the way, one of my favorite features of scala is aliasing imports:

[code]
if you like. One extra line of code... I still think the "inclusive" or is useful to understand what is going on here.

[2018-08-24 19:43] ryan-williams commented on #2439
fwiw, I use a small DSL around Cats' `Ior` in this spirit [here](https://github.com/hammerlab/math-utils/blob/types-1.3.1/types/shared/src/main/scala/hammerlab/or.scala#L7):

[code]

as usual, you can `import hammerlab.or._` directly, or mix `or` in to a package object to have it in scope in a whole package

I'd forgotten that I'd done this until I read this thread 😆 I don't think I use it super o

[2018-08-25 13:13] catostrophe commented on #2440
All changes are binary compatible. All done except for open questions. Tests to be written.

[2018-08-26 10:07] Michaelt293 commented on #1536
I like the idea of adding these type classes to Cats. Just a couple of ideas, I think the laws could be expressed as `minValue <= a` and `maxValue >= a`. The implementation provided by @izeigerman looks good. I just wonder whether using `IndexededSeq` in `EnumIndex` is the way to go since it would then be possible to provide an empty sequence to an instance. An exception would then be thrown when

[2018-08-26 12:49] Michaelt293 commented on #2342
See https://github.com/typelevel/cats/issues/1536#issuecomment-416027544

[2018-08-26 14:07] thoefer commented on #1807
![cats_friendly_big](https://user-images.githubusercontent.com/202410/44628798-b341b480-a947-11e8-966f-ce1e121d78ad.png)
![cats_friendly_normal](https://user-images.githubusercontent.com/202410/44628799-b341b480-a947-11e8-97a2-267b60707b6c.png)
![cats_friendly_tiny](https://user-images.githubusercontent.com/202410/44628800-b341b480-a947-11e8-9412-6a6ef3fba05e.png)

@kailuowang Does that come close

[2018-08-26 14:54] LukaJCB commented on #1807
That looks great @thoefer :)

[2018-08-26 15:36] thoefer commented on #1807
Thanks @LukaJCB !

[2018-08-27 11:47] marcin-rzeznicki opened #2443 "MonadError with Liskov"
I think it is possible to derive an instance of `MonadError[M, E1]` from `MonadError[M, E]` if we can prove that `E1<~< E`. I tried to implement it and came up with:

[code]

The "shady" part is `handleErrorWith` where we need to check at runtime whether we have the right type (hence the `ClassTag`). I thought it would not work, but it seems to pass all the `MonadError` laws:

[code]

Conversely,

[2018-08-27 11:49] thoefer commented on #1807
I can extract the polycat from the badge, no problem.

[2018-08-27 14:06] #2075 closed

[2018-08-27 17:51] johnynek commented on #2443
I think this it not okay. If it were okay, we would have `Functor[M[F, ?]]` instances on `M[F, E]` when we have `ApplicativeError[M[?, E]]`.

The issue here is that any E that is not an `E1`, because it is in the super type, cannot be recovered. I fear the laws don't exercise that, which is why things passed.

[2018-08-27 19:08] marcin-rzeznicki commented on #2443
Yes, indeed - you cannot recover from such an error. OTOH, you  cannot raise such an error either. So the only issue is with constructs such as:

[code]

Whether or not this is the right thing is debatable - after all `ApplicativeError[F, E1]` promises to handle `E1` errors in context of `F`. Anyway, if this is wrong, which it very well might be, then sorry :-(

[2018-08-27 22:00] johnynek commented on #2443
you can't raise the error with this instance, but you could with another instance since someone could have that one around, no?

Just as you have done here, you have raised the error not using the instance in question, and that value, I think, should break a law, e.g. that recovering everything should not be an error in the end.

[2018-08-28 00:31] marcin-rzeznicki commented on #2443
Well, yes, unless you mean _everything_ to be _everything of declared error type_ .But I fully understand your objections. Thank you for the discussion. Should I close this issue?

[2018-08-28 00:42] johnynek commented on #2443
It's an interesting issue, not sure if others want to weigh in, but to me, I'd be `-1` on merging this instance due to: 1. using reflection 2. a feeling that this *should not* pass the laws, although it currently does.

To me, the latter issue is a very interesting question. Do we have an issue with the current laws for MonadError/ApplicativeError or is it my intuition that is incorrect?

[2018-08-28 01:14] marcin-rzeznicki commented on #2443
My reasoning goes along these lines:
1. How do we treat, for instance, `MonadError[Future, IOException]`? Clearly, a failed `Future` can contain more than `IOException`, but for me it is useful to think of this instance as a way of saying - I can deal only with this subclass of all possible failures. Thus, it is OK to have a failed `Future` after `recover` because this implies an _unexpected_ fail

[2018-08-28 01:31] johnynek commented on #2443
I would have thought we have a law like:
[code]
is never finally an error. But I don't know exactly what that means. We can't test that easily. We want to say something like `.onError(fn)` is never called after a totally handled error.

But maybe this is wrong intuition that would break something else.

[2018-08-28 02:37] leusgalvan commented on #2385
@LukaJCB sorry for the delay. Would love to know a little bit more about how bin compatibility is managed in Cats, is there any source you can point me to? In particular I'd like to know the relationship between the *Syntax, *Ops and *Compat classes.

From what I've read in the contributing guide I can use mimaReportBinaryIssues to detect the issues.

Thanks in advance!

[2018-08-28 08:34] LukaJCB commented on #2385
The *Ops classes are classes that add direct syntax to certain type classes.
A *Syntax class has several implicit conversions from a type to their corresponding *Ops class, to provide the given syntax.
*Compat classes are the same as *Syntax classes, but are named differently because they're only needed because we can't put anything new inside existing *Syntax classes without breaking binary compa

[2018-08-28 12:06] #2391 closed

[2018-08-29 05:51] thoefer commented on #1807
Good idea with adding it to the repo, I'll do that asap.

[2018-08-29 10:10] alexandru opened #2446 "Add Priority / OrElse implicit search helper"
Samples:

1. https://github.com/typelevel/algebra/blob/master/core/src/main/scala/algebra/Priority.scala
2. https://github.com/milessabin/shapeless/blob/master/core/src/main/scala/shapeless/orelse.scala

I've also encountered cases in which I wished to have this helper available with the `Async` / `Concurrent` type classes in Cats-Effect.

I think it's time we add this to `cats-kernel`.

[2018-08-29 20:10] johnynek commented on #2446
This would be good. A common example is having a Group vs a Monoid can make a perf difference.

That said, this approach has been criticized since it encourages the user to ignore perf impacts.

[2018-08-30 11:08] LukaJCB opened #2447 "Add `count` method to Foldable"
I'm thinking of this one here:

[code]

We could also provide these specialized for the various collections we have :)

[2018-08-30 18:41] johnynek commented on #2447
`count(f) = foldMap { if (f(_)) 1 else 0 }`

I think we need commutative foldMap, which we could use here and get probably all of the performance wins of a specialized function.

[2018-08-31 00:06] stew commented on #2358
dogs doesn't get attention because nobody is using it, including myself. (I'm not using scala for anything at the moment and haven't been for some time). The reason nobody is using it is likely that it doesn't get any attention, etc. I would love for someone to pay attention to it, I don't have the time or motivation currently

[2018-08-31 00:16] johnynek commented on #2358
It would be nice if we had tooling to version and publish all "the typelevel stack" together. We could do that in one large repo, or we could have some tooling and maybe an sbt plugin that allows you to get the right version of all projects in the typelevel stack such that you know they were tested together.

I think adding modules to cats proper is a good solution in the mean time, especially for

[2018-08-31 15:08] letalvoj commented on #107
@Baccata `defer` did not save the save the stack safety

[code]
fails with
[code]

[2018-08-31 16:48] avdv opened #2449 "Upgrade scalacheck to 1.14.0"
I am using specs2 4.3.x and I want to use cats-laws with it.

Unfortunately, [specs2-scalacheck](http://www.mvnrepository.com/artifact/org.specs2/specs2-scalacheck_2.12/4.3.4) >= 4.2.0 requires scalacheck 1.14.0 but [cats-laws](http://www.mvnrepository.com/artifact/org.typelevel/cats-laws_2.12/1.2.0) 1.2.0 is build with scalacheck 1.13.5 which is [binary incompatible with each other](https://githu

[2018-08-31 17:12] johnynek commented on #2449
We can't do that until we break binary compatibility (cats 3.0 is our current plan, cats 2.0 will be binary compatible for scala 2.12, but not 2.11). scalacheck should ideally be using mima, and they should have bumped to scalacheck 2.0.0.

cc @non

[2018-08-31 17:43] johnynek commented on #2447
+1 to use Long, +1 to put it on UnorderedFoldable.

[2018-08-31 17:44] johnynek commented on #2447
PS: we do have a commutative foldMap for those following along: UnorderedFoldable.unorderedFoldMap.

[2018-08-31 18:06] ceedubs commented on #2439
I agree with @johnynek and @mpilquist that any potential benefits of this are outweighed by the headache that it would cause by breaking compatibility. And I do think that it does make the difference between this data structure and `Either` a bit clearer/more explicit.

[2018-08-31 18:08] ceedubs commented on #2439
Thanks for opening this and for working toward a better Cats @Bhudjo.

It sounds like so far there are several maintainers who are against this for compatibility reasons. I say that if there isn't much support for this vocalized in the next 2 weeks we go ahead and close it out.

[2018-09-01 09:41] satansk commented on #2322
[code]

[2018-09-01 15:50] satansk commented on #2322
Finally, I use the following properties using `toList`:

[code]

[2018-09-01 16:02] satansk commented on #2304
@calvinbrown085 so I will take it :)

[2018-09-01 18:31] ceedubs opened #2453 "Multiple Invariant[Monoid] instances"
As @floating-cat pointed out [here](https://gitter.im/typelevel/cats?at=5b8a1ec160f9ee7aa4be883e) in Gitter, there are currently two `Invariant[Monoid]` instances in Cats. One is inside the `Invariant` companion object. Another is the `InvariantSemigroupal[Monoid]` instance that is located [here](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/instances/invariant.scala). In

[2018-09-01 19:46] ceedubs commented on #2006
The majority of people who have weighed in on this vote to keep it the way that it is. Since this seems to have stagnated, I'm going to go ahead and close it out.

[2018-09-01 19:46] #2006 closed

[2018-09-01 22:18] ceedubs opened #2455 "Possibility of eventually moving to stdlib Equiv/PartialOrdering/Ordering"
The `Eq`, `PartialOrder`, and `Order` type classes in `cats-kernel` closely resemble the `Equiv`, `PartialOrdering`, and `Ordering` from the standard library, however there are currently some differences (which I'll discuss below).

In this issue, I'd like to have a discussion on:

- why `cats-kernel` has its own version of these type classes as opposed to using the ones from the standard library

[2018-09-01 22:32] kailuowang commented on #2455
Related information, there's discussion on moving kernel into Scala std lib or becoming a Scala module, and the proposal is that we continue to own them. That would be a good path to solve this

[2018-09-01 23:28] ceedubs commented on #2455
I also view cats-kernel as quite mature (with a notable exception being the unanswered questions about machinist that I referenced above).

I do think that there are some parts of kernel that are a bit more opinionated than others. For example, `Semigroup.combine` takes two strict arguments, as opposed to the equivalent function in haskell/scalaz. There are some useful properties in at least the s

[2018-09-01 23:58] johnynek commented on #2455
I think the cats position is that if you want laziness you can work with `Eval[A]`.

[2018-09-02 03:13] ceedubs commented on #2455
@johnynek since the `Eval` companion object has `implicit def catsSemigroupForEval[A: Semigroup]: Semigroup[Eval[A]]`, you are kind of playing with fire if you define your own `Semigroup[Eval[A]]` and expect it to be used. Depending on imports and implicit prioritization I could see someone accidentally summoning the non-lazy `Semigroup` instance when they don't expect to.

[2018-09-02 05:01] johnynek commented on #2455
SIP-35 is my go to answer here.

The cost of making everything lazy when almost nothing leverages it still seems a bad call to me. Also it’s not clear which side should be lazy. Some types would want left or right.

[2018-09-02 05:41] johnynek commented on #2455
`opaque type LazyOption[A] = Eval[Option[A]]`

Since it is opaque, you don’t have issues with finding the correct instance.

That’s all I meant. So there is no problem with the instance defined in the Eval companion.

[2018-09-02 05:43] ceedubs commented on #2455
@johnynek ah okay I see what you are saying. 👍

[2018-09-02 08:17] LukaJCB commented on #2455
`cats-kernel` in Scala 2.14, would be really amazing, let's lobby for that :+1:

[2018-09-02 21:43] Bhudjo commented on #2439
Thanks for your kind comment @ceedubs.
I'm happy to have raised my point here, I also do understand yours.
Feel free to close this down whenever is appropriate.

[2018-09-03 08:32] jan0sch commented on #2429
Do you have a small example? Then I'll try to do this.

[2018-09-03 12:17] #2348 closed

[2018-09-03 14:47] LukaJCB commented on #2429
For example, you could start by using `NonEmptyChain` instead of `NonEmptyList` for the `Ior` docs :) https://typelevel.org/cats/datatypes/ior.html

[2018-09-04 12:44] #2429 closed

[2018-09-04 12:49] LukaJCB opened #2462 "Add convenience functions for NonEmptyChain in Ior"
We currently have `Ior.leftNel` and `Ior.bothNel`, let's add `NonEmptyChain` versions.

[2018-09-04 13:10] melrief opened #2463 "Add RandomAccessList"
Add purely functional random-access list as described in [this paper](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.55.5156&rep=rep1&type=pdf) by Okasaki. The random-access list support all the list operations in time O(1) and lookup/update in O(log n).

I have an implementation and I think I can add it to Cats.

[2018-09-04 14:05] kailuowang commented on #2463
That sounds a great idea. For some context, we are thinking about creating a new `cats-collection` project. The main benefit of having this in that new project is that it would allow its API to evolve over a couple of releases. In `cats-core` things are more rigid due to binary compatibility requirements.

[2018-09-04 14:09] LukaJCB commented on #2463
Related: #2058

[2018-09-04 14:44] kailuowang commented on #2463
I just assigned #2058 to myself. Hopefully, we'll get a cats-collection going soon.

[2018-09-04 15:00] kailuowang commented on #2358
@johnynek the vision for sbt-catalyst is to become such a tool to coordinate the typelevel stack releases - with a single bump of sbt-catalysts version, you automatically get the latest releases of all your typelevel dependencies that work together properly. Though we never had the time to implement such a community build in it.

[2018-09-04 15:29] kailuowang commented on #2058
I still vote for a separate repo which gives it independent release cycles. Cats' BC requirements make it particularly rigid for trying new things.

[2018-09-04 16:04] johnynek commented on #2058
We don’t have to have the same. Binary compatibility guarantees for all modules, but it is a pain to have to use a version number implying stability.

I guess I’m a bad scala person but I have a bunch of libraries I haven’t published *solely* because setting up sbt, cross build, travis and publishing usually hits several snags for each new project. I try and put ina few hours here and there to do

[2018-09-04 17:56] tpolecat commented on #2358
I have not used sbt-catalysts because it does a lot of stuff I don't understand and it kind of weirds me out. If the only thing it did was provide versions then maybe it get more uptake.

[2018-09-04 22:59] mberndt123 opened #2468 "use an abstract type member for ApplicativeError's error type"
Hi,

I stumbled upon an interesting problem recently. As a motivating example, consider `Option`'s toRight method. cats also adds a `toValid` method. Both of these are clearly useful, and they can be easily generalized to arbitrary ApplicativeError instances:
[code]
But this function is quite hard to use because the type parameters need to be specified manually in all but the most trivial cases.

[2018-09-05 08:04] Baccata commented on #107
@letalvoj, looks like you [managed to implement it](https://github.com/typelevel/kittens/pull/103#issuecomment-418194172). From what I gather, `Function1.andThen` is not stack safe and cats has a (although private) implementation that uses constant stack space which you leveraged to solve the stack safety problem. Am I correct ?

Do you have a snippet by any chance ? I'd be really interested to se

[2018-09-05 09:08] letalvoj commented on #107
Well there is the `AndThen` impl which is supposed to solve that. Yet it is not commutative ;-) Unfortunatelly it happened to me that the underlying `foldMap[F[_],A,B:Monioid]`, where `B` was `AndThen` interleaved the aggregated sequence with `Monoid.empty` - which does not affect the outcome, yet it invalidates the internal counter of `AndThen`.

I solved that by ignoring the zeros with - by impl

[2018-09-05 09:12] mberndt123 commented on #2468
Haha, interesting to see that somebody else already had the idea just a few days ago.

1. The Aux pattern is needed if the error type is relevant. I think that's OK

1. The error type might be ambiguous for something like `EitherT[IO, E, A]`. I personally think that having two `ApplicativeError` instances in the transformer stack is a bit of a code smell, because then you can throw errors on diffe

[2018-09-06 12:00] asoltysik opened #2474 "Additional methods for Bitraverse"
What do you think about adding any/all of the following functions to `Bitraverse`? IMHO `leftTraverse` and `leftSequence` would be most useful.

[code]

The code above is only a draft, might not compile.

[2018-09-06 14:32] marcin-rzeznicki commented on #2468
Let me point out the issue I raised some time ago #2443 . There are some concerns raised by @johnynek, but maybe this is a solution. WDYT?

[2018-09-06 17:52] johnynek commented on #107
Small note, I think it would be a bad idea to make the above the default on the typeclass.

The performance of the above appears to be (though we should benchmark) seems likely to be poor.

If we add this, we could add something like `trait DefaultTraverse[F[_]] extends Traverse[F]` (as you have done here with MkTraverse, but we should comment it is likely to give much worse performance than imple

[2018-09-06 19:06] letalvoj commented on #107
Yeah, well it could be optimized a bit yet the amount of unnecessary calls
to empty which I observed was in my particular usecase was huge. Plus the
double stack safety handing in both folds and reverse...
On Thu, 6 Sep 2018 at 19:53, P. Oscar Boykin <notifications@github.com>
wrote:

[2018-09-07 09:12] mberndt123 commented on #2468
fwiw, I found a simpler way to implement my motivating example that doesn't require this new ApplicativeError encoding: just pass an implicit ApplicativeError[F, _ <: E]. I'm always a bit sceptical about wildcard types, but they seem to be the right thing in this case. My proposal may have other advantages as you suggested, but it's not necessary to implement my motivating example.

[2018-09-07 12:39] mberndt123 commented on #2468
Ugh, and now I realized that [it actually already exists](https://github.com/typelevel/cats/blob/caa54cb221b7b6fb4a28a8f0b6650f744376bfc5/core/src/main/scala/cats/syntax/option.scala#L189). So I'll close this here.

[2018-09-07 12:39] #2468 closed

[2018-09-07 15:38] kailuowang commented on #2415
@LukaJCB I propose we remove the "help wanted" since this one is on hold, i.e. not ready? Just want to make life easier for people looking for Cats issues to contribute to.

[2018-09-07 16:31] kailuowang commented on #131
fixed by #898

[2018-09-07 16:31] #131 closed

[2018-09-07 16:40] kailuowang opened #2479 "Add doctests (excellent first-time issue)"
Doctests are a great way to provide compilable and testable example code for scaladoc. We should cover as many methods with doctests as possible.
[Here is an example of PR adding doctests](https://github.com/typelevel/cats/pull/898/files).
Note that to test the doctests run `sbt coreJVM/test`
This issue encompasses the effort of adding more doctest coverage to our type classes and data types.
It w

[2018-09-07 18:02] djspiewak commented on #2446
I don't have a strong opinion on this, but I'd like to note that these sorts of helpers often have to take subtly but critically different forms depending on application. For example, here's a variant of `OrElse` in shims: https://github.com/djspiewak/shims/blob/8ab307f0837e11505e0e958879c6889176f9ac9f/core/src/main/scala/shims/util/capture.scala#L33-L40

I need a custom version for two reasons:

[2018-09-07 18:50] johnynek commented on #2446
y'all's build pain tolerance is so much higher than mine if you want to put a single scala file into it's own sbt/travis/mima/sonatype nightmare.

[2018-09-07 19:13] djspiewak commented on #2446
@johnynek Or we just have plugins and templates which take care of it for us. :-D Can recommend. I can spin up and publish a microlibrary which contains `OrElse` in about the same amount of time it took me to type this comment.

[2018-09-07 20:45] SystemFw commented on #2446
@djspiewak Would be interested to see some of this templates and plugin since, while I do have some automation, this part is still painful for me :)

[2018-09-08 01:15] djspiewak commented on #2446
@johnynek @SystemFw This is definitely getting a bit off-topic for the thread at hand, but it's an important subject and I don't want it to get lost in the wash.

*The* reason that these sorts of plugins don't get widely shared/used is simply that they are, by definition, quite specialized. Or at least, that would be the perception of the authors (such as myself). Just off the cuff, if you used [m

[2018-09-08 01:17] SystemFw commented on #2446
Thanks for the answer Daniel :)
I'll take some time to chew on it and evaluate

[2018-09-08 19:13] leusgalvan commented on #2385
I've had more time to work on this and I'm almost finished adding the implementations to Reducible, Foldable and UnorderedFoldable.

I added the [max/min]ByOption to both Foldable and UnorderedFoldable through syntax. I provided the overriden implementation in Foldable because there I can use reduceLeftOption not available in UnorderedFoldable.

However, for cases where a type is both Foldable and