[2016-03-19 13:05] ceedubs commented on #810
@paulp I haven't really looked yet, so I could be totally wrong, but my guess is that those compile errors are in places where we've assumed that if we have an `Arbitrary[A]` we have an `Arbitrary[X => A]`. That was true with previous versions of Scalacheck, but only because it only produced arbitrary functions with a constant result value. I'm guessing we'll have to pass along those arbitrary fun

[2016-03-19 13:15] xuwei-k commented on #810
You should define [`org.scalacheck.Cogen[X]`](https://github.com/rickynils/scalacheck/blob/1.13.0/src/main/scala/org/scalacheck/Cogen.scala) and `Arbitrary[A]` if you need `Arbitrary[X => A]`.

- https://github.com/rickynils/scalacheck/pull/171
- https://github.com/rickynils/scalacheck/blob/1.13.0/src/main/scala/org/scalacheck/ArbitraryArities.scala#L12

[2016-03-19 13:23] ceedubs commented on #810
Thanks, @xuwei-k.

[2016-03-21 07:02] adelbertc commented on #810
An attempt: https://github.com/typelevel/cats/pull/942

[2016-03-21 12:23] ceedubs opened #943 "Cannot find implicit Functor for Kleisli of ValidatedNel"
The `Functor` for a `ValidatedNel` is found just find. But for some reason trying to find the `Functor` for a `Kleisli` where the effect type is `ValidatedNel` doesn't work. I haven't yet tried to debug what's going wrong here.

[code]

[2016-03-21 14:57] travisbrown commented on #943
This looks kind of like [an issue I opened years ago](https://issues.scala-lang.org/browse/SI-6895) that was eventually closed as a duplicate of SI-2712.

[2016-03-22 14:29] alexandru opened #944 "Eval should have a corresponding type-class"
Thinking of our prior discussions, on making `Eval` asynchronous for making it equivalent to a `Task`, I think that what was missing is that `Eval` is too specific and we need type-classes to represent it.
- [Evaluable](https://github.com/monixio/monix/blob/master/monix-types/shared/src/main/scala/monix/types/Evaluable.scala) ([laws](https://github.com/monixio/monix/blob/master/monix-types-laws/sh

[2016-03-23 08:18] etorreborre commented on #933
I would be interested in seeing the practical differences with `FoldM` as defined in [origami](https://github.com/ambiata/origami/blob/master/core/src/main/scala/com/ambiata/origami/FoldM.scala). In `origami` I choose to have a pure `fold` operation but since the type `S` inside the `FoldM` instance can be a `N[X]` (where `N` has a `Monad` instance) you can still do "monadic folding" if you want t

[2016-03-23 09:46] lunaryorn commented on #930
@ceedubs I'm closing this issue.  My question is answered :)  Thanks for your help.

[2016-03-23 09:46] #930 closed

[2016-03-24 11:40] etorreborre opened #945 "Rename `cats.Id` (the value, not the type alias) to `cats.idInstances`"
This will make it easier to remove the id instances from the implicit scope when importing `cats._` at the moment excluding `Id` with `cats.{Id => _, _}` will also exclude the type alias.

[2016-03-24 17:23] davegurnell commented on #561
I'm in need of `raiseError`. I'll knock up a PR for `ApplicativeError` covering:

- `raiseError`
- `handleErrorWith`
- `handleError`
- `attempt`
- `attemptT`
- `recover`
- `recoverWith`

[2016-03-25 12:02] ceedubs commented on #934
@edmundnoble I've thought several times about adding those methods to `Functor` and `Contravariant`. The thing that keeps holding me up is that I start asking myself whether we could potentially run into any issues if we just use `asInstanceOf` instead of the more correct but less performant `map(identity)`.

[2016-03-28 08:26] adelbertc opened #957 "s/ListWrapper/OptionWrapper"
Lots of Lists flying around makes build times slow and sometimes time out.

[2016-03-28 11:04] ceedubs commented on #957
I've thought about this in the past. One downside is that we only have some type class instances (`Semigroup`, `Monoid`) for `Option[A]` if we have a `Semigroup[A]` instance, which isn't the case with `List[A]`. You can create an alternative version of `Semigroup[A]` that uses `orElse` and doesn't require `Semigroup[A]`. I think that I advocated for this in an issue way back but ultimately we deci

[2016-03-30 20:15] julien-truffaut opened #963 "Typeclass implementation in scato"
What do you think of the proposed implementation of typeclasses in scato ([see](https://github.com/jbgi/scato/raw/master/TypeClassesInScato.pdf)) ?

It seems to remove the need of complex instance hierarchy definition and it is convenient for default implementation.

[2016-03-31 14:27] refried commented on #963
I think I like it.

[2016-04-01 07:17] #945 closed

[2016-04-02 19:55] mikejcurry commented on #935
I think this should be closed after: #946

[2016-04-02 19:57] mikejcurry commented on #823
Should this one be closed now that #830 has been merged - or am I wrong and is there something left on it?

[2016-04-02 20:31] #935 closed

[2016-04-03 10:28] etorreborre commented on #945
Thanks for this.

[2016-04-03 15:25] ceedubs opened #965 "Follow up on def vs val in #940"
In #940 some implicit instances that seemed like they should be able to be `val`s were forced to be `def`s. It would be nice to follow up on that - to try to figure out why that was and whether we can do something about it.

cc @djspiewak

[2016-04-03 23:57] travisbrown opened #966 "Let's talk the next release (0.5.0)"
Previously: #486, #594, #834. I think we were planning to get the cats-kernel rearrangement into 0.5.0, but it's been two months since 0.4.0, a lot has happened since then, we have at least [one person with a good reason](https://gitter.im/typelevel/cats?at=5701a92576b6f9de194dbfe2) to want a new stable version, and I'm planning to release circe 0.4.0 in the next day or two, so I think it's worth

[2016-04-04 00:01] adelbertc commented on #917
@djspiewak can we call this closed?

[2016-04-04 00:29] adelbertc commented on #966
Things of interest to me:

* Define `map` and `product` in terms of `ap` (or vice versa) for `Applicative` until we have a solid proposal for breaking out default implementations (https://github.com/typelevel/cats/issues/904)
* MonadWriter https://github.com/typelevel/cats/pull/911
* Compose data type https://github.com/typelevel/cats/issues/900

[2016-04-04 00:43] adelbertc commented on #900
(This would also make it consistent with how we treat product composition via `Prod`

[2016-04-04 05:00] adelbertc commented on #933
@etorreborre I'm interested in it because, if I understand it correctly, a `Fold` can be run against a `List` or `Stream` or a FS2 Stream or an iteratee or whatever, is that correct?

I'm also wondering if this should be a separate library or put in Cats proper.

Either way, I'd be interested :-)

[2016-04-04 05:51] etorreborre commented on #933
In `Control.Foldl` a `Fold` or `FoldM` can be run against any `Foldable` instance, so yes this is correct. In `origami` there is a special `FoldableM` typeclass which also "understands" `Folds` which break-out early (and any `Foldable` has a `FoldableM` instance).

[2016-04-04 07:00] adelbertc opened #968 "Type class composition"
A couple type classes like `Functor`, `Apply`, `Bitraverse`, etc support two kinds of composition: `F[G[_]]` and `(F[_], G[_])`. Let's call the former "nested composition" and the latter "product composition."

For type classes of kind `(* -> *) -> *` (e.g. Functor, Apply) we have nested composition as a method on the type class, e.g.

[code]

but for product composition we delegate to `cats.data.

[2016-04-04 07:01] adelbertc commented on #900
Closing in favor of https://github.com/typelevel/cats/issues/968

[2016-04-04 07:01] #900 closed

[2016-04-04 07:01] adelbertc commented on #874
Closing in favor of https://github.com/typelevel/cats/issues/968

[2016-04-04 07:01] #874 closed

[2016-04-04 17:00] adelbertc commented on #966
Oh one thing that I think a lot of folks may want is a new Algebra release. We've been asked about the tuple stuff for `Monoid` and co. a couple times now which is in master but hasn't been released yet.

[2016-04-04 17:08] djspiewak commented on #917
Yep

[2016-04-04 17:08] #917 closed

[2016-04-04 17:11] djspiewak commented on #965
Here's a quick instance where this happens: https://github.com/typelevel/cats/blob/7cdd66136a0ddd13522a3f6492627ec38d657dc0/core/src/main/scala/cats/data/OptionT.scala#L140  Haven't tried in a while, but when I first wrote this line, swapping it from a `def` to a `val` made the implicit it provides unresolvable.

[2016-04-04 17:13] ceedubs commented on #965
@djspiewak yes, I saw the same behavior when I didn't believe you and tried to change it to a `val` :P

[2016-04-04 17:13] ShaneDelmore commented on #966
I would love to see https://github.com/typelevel/cats/issues/695 in 0.5.0.  My team has been working around it just fine but it is causing new contributors to our code some confusion as they don't understand why "if" doesn't work in for comprehensions as they would expect.

[2016-04-04 17:13] djspiewak commented on #965
@ceedubs Doubter…  ;-)

[2016-04-04 21:31] ceedubs opened #969 "Kleisli.apply isn't what it seems like it should be"
In [this gitter discussion](https://gitter.im/typelevel/cats?at=5702da0fe4a8384a1bbec87f) we realized that `Kleisli.apply` should probably be renamed `Kleisli.ap`.

We probably also want to create a new `apply` method that looks like `def apply(a: A): F[B] = run(a)`.

[2016-04-05 12:40] travisbrown commented on #966
I agree that all these things are valuable but I'm quickly becoming less convinced that I want the circe 0.4.0 release to wait for Cats 0.5.0.

[2016-04-05 18:01] #904 closed

[2016-04-05 18:02] adelbertc commented on #969
fixed by #970

[2016-04-05 18:02] #969 closed

[2016-04-05 20:20] liff commented on #658
Obsolete due to #858?

[2016-04-05 21:38] ceedubs commented on #658
@liff yep, thanks for pointing that out.

[2016-04-05 21:38] #658 closed

[2016-04-06 11:02] ceedubs commented on #657
Obsolete because of #910.

[2016-04-06 11:02] #657 closed

[2016-04-06 11:02] ceedubs commented on #729
Obsolete because of #910.

[2016-04-06 11:02] #729 closed

[2016-04-11 00:47] Jacoby6000 opened #974 "Create a copair typeclass"
I was speaking with @tpolecat in the gitter channel, and I was looking to generalize some things, where I'd like to accept `Either`, `Xor` and `Validated`. Rob mentioned that this would be called a `Copair`.  I've done a very small (tiny) amount of work on this so far, but I know there's more.  I'm working to fully implement this now.  To provide an idea, my first pass implementation looked like t

[2016-04-11 17:08] adelbertc commented on #963
One thing this solves (I think) that I like is making it easier to program in an "MTL" style, e.g. currently,

[code]

to define a `MonadFoo` for some type we need to also implement `Monad` which may well already be defined in Cats (or somewhere else) which is now duplicating work and morally required another round of law-checking.

[2016-04-13 01:12] leandrob13 opened #977 "Considering creating ListT"
I am currently working on a project and I find myself needing the ListT abstraction. I read in [#766](https://github.com/typelevel/cats/issues/766) that there was some issues with consistency, also that you were considering adding the transformers to a separate project. The question is: should I start working on ListT or there is some sort of objection about this ADT?

[2016-04-13 01:49] xuwei-k commented on #977
https://github.com/scalaz/scalaz/issues/921

[2016-04-14 02:21] mpilquist opened #980 "Remove scoverage dependency from POMs"
The cats-core 0.4.1 POM has the following entries:

[code]

These should be removed, via pomPostProcess perhaps.

[2016-04-14 13:46] rossabaker commented on #980
* Related upstream discussion: https://github.com/scoverage/sbt-scoverage/issues/153
* Related upstream PR: https://github.com/scoverage/sbt-scoverage/pull/166

[2016-04-15 00:01] kailuowang commented on #966
I agree with these valuable things, but to make all the other already implemented features during the last 2 mo, shall we consider a 0.5.0 release now and a 0.6.0 later? Or just a 0.5.0-M1 release would help.

[2016-04-15 20:33] travisbrown opened #981 "Add withFilter to OptionT"
`-Xfuture` on 2.11 doesn't allow `filter` methods to be used in `for`-comprehensions, which means e.g. this won't compile with `-Xfuture` on:

[code]

It [sounds like](https://gitter.im/typelevel/cats?at=570fba504c2125fc3f0260fa) there's no reason not to add a `withFilter` method to `OptionT`.

[2016-04-16 00:09] bqm opened #983 "Hybrid free monad / free applicative"
Hello,

I am new to the cats project & open source in general - cats is a great project & I learnt a lot from it :)

I've been exploring free monads recently & my understanding is that we can't express parallel operations with them. Free applicatives on the other hand, allow us to express parallelism but we can't express sequential operations.

It seems that it could be interesting to have a data

[2016-04-16 01:35] adelbertc commented on #983
So the interesting thing is that it allows you to control the `ap` behavior - in [Haxl](https://github.com/facebook/haxl) this is leveraged to give you "implicit parallelism" when using `Applicative` operations like `traverse`. However it introduces the danger of having inconsistent `ap`-`bind` behavior. For instance, accumulating errors (e.g. `Validated`) vs. fail fast (e.g. `Xor`). One could arg

[2016-04-16 01:48] xuwei-k commented on #981
FYI: There is `MonadPlusOps#withFilter` in scalaz.
- https://github.com/scalaz/scalaz/blob/v7.2.2/core/src/main/scala/scalaz/syntax/MonadPlusSyntax.scala#L12

[2016-04-16 04:17] adelbertc commented on #981
I like the idea of putting it on `MonadFilter`, but when defining a `MonadFilter` instance for `OptionT`:

[code]

Related: https://github.com/typelevel/cats/pull/698

[2016-04-16 16:13] leandrob13 commented on #977
@xuwei-k I have checked the alternative https://wiki.haskell.org/ListT_done_right and saw the problem you posted here https://github.com/scalaz/scalaz/issues/921. I checked the implementation of scalaz StreamT as suggested in the gitter channel and found out that it is done with the same principle as in the haskell wiki post. I am not ready to give up on this so I am working on a similar implement

[2016-04-16 17:08] xuwei-k commented on #977
I implemented the same thing before. It satisfy laws. IIRC it is hard to use because not stack-safe.

[2016-04-16 23:20] OlivierBlanvillain commented on #914
Your example can be slightly simplified using:

[code]

(it also works for more than 3 algebras)

[2016-04-17 18:30] non commented on #966
Should we just release what we have as 0.5.0?

[2016-04-17 18:57] travisbrown commented on #966
@non That sounds reasonable to me.

[2016-04-17 19:34] adelbertc commented on #966
I'd at least like:

Review MonadWriter: #911 (just needs one more +1)

and

Publish a new Algebra release and depend on it here. (people have been asking for tuple instances for a while)

[2016-04-17 21:44] #889 closed

[2016-04-17 23:18] leandrob13 commented on #977
Should we work on doing it safe then? http://functorial.com/stack-safety-for-free/index.pdf
Maybe we could use Trampoline or the equivalent MonadRec for Cats?

[2016-04-18 11:27] ceedubs commented on #981
I'd vote for adding `withFilter` to `OptionT` now and worrying about the `MonadFilter` component later as a resolution to #694 (which I'm guessing we won't get around to for a while).

[2016-04-18 15:17] adelbertc opened #987 "Coproduct#fold"
Like `Xor#fold` but for functors

[2016-04-23 14:35] ceedubs opened #992 "Separate default implementations from type class definitions"
There has been quite a bit of discussion about this going on for a long time, in #168, #370, on Gitter, and at the Typelevel Summit in Philly. But while #168 and #370 are highly relevant, there hasn't been an issue tracking this specifically.

At the Typelevel Summit in Philly, people seemed to come to a consensus that it would be good to not have type classes automatically provide default impleme

[2016-04-23 19:02] adelbertc commented on #992
There is also the approach taken by [scato](https://github.com/aloiscochard/scato), tracked in this issue : https://github.com/typelevel/cats/issues/963 which certainly looks interesting to me.

[2016-04-23 21:01] ceedubs opened #993 "Document conventions for symbol usage and aliases"
I think we've kind of settled on using the non-symbolic form of operators and types even when a symbolic form is provided as an alias. This tends to make it less bewildering and easier to google or ask questions about for newcomers. But I can't seem to find anywhere that we have documented this convention in the contributor guide. We should probably do that.

[2016-04-24 11:58] ceedubs commented on #513
I'm working on this.

[2016-04-24 17:49] aaronlevin opened #997 "Confusion about Instances{peano}: document reasoning behind Instances0, Instances1, .."
I submitted my first, albeit small PR just now. One thing that confused me was the presence of traits like: `XInstances0`, `XInstances1`, `XInstances2`, etc. I understand the existence of `XInstances` but why are they spread over the naturals like that?

This gave me a little anxiety when I was submitting my first PR because I wanted to ensure I put my first instance in the right place. I have no

[2016-04-25 14:20] ceedubs commented on #983
@adelbertc It only introduces danger of having inconsistent `ap`-`bind` behavior if the data structure you are interpreting it into already has inconsistent `ap`-`bind` behavior. So I'm not sure that's a big concern.

There is the question of whether certain execution semantics (such as `ap` running computations in parallel while `flatMap` runs them sequentially) qualify as inconsistencies. Origin

[2016-04-25 14:22] ceedubs commented on #983
Oh and by the way, thanks for bringing this up @bqm :). This is something that I've thought about and discussed with several people, but I don't think it ever made itself into a GitHub issue.

[2016-04-25 20:21] adelbertc commented on #983
Can this use case be solved by newtype-ing (wrapping in a value class/tagged types) and overriding the `ap` behavior?

[2016-04-25 22:15] ceedubs commented on #983
@adelbertc I think only if you reify an `Ap` constructor into `Free` as done in this example. If you just have `GoSub`, then you don't have a way of representing things that can run in parallel.

[2016-04-25 23:41] mpilquist commented on #963
Seems like this would drastically impact cats-kernel and cats-core, impacting users quite a bit. I think I'd rather see how Scato plays out in other libraries before adopting this style.

[2016-04-25 23:53] non commented on #963
I concur with @mpilquist. It's an interesting idea (separating out the OO encoding from the type class itself) and it seems like the encoding could be compatible with a Simulacrum-like approach. But I think it would be pretty disruptive at this point to consider changing all our encodings.

The flip side to this is that if you do think it is worth it to delay cats 1.0 so we can experiment with thi

[2016-04-26 00:14] ceedubs commented on #963
I'm definitely intrigued by this approach. My inclination would be to not delay cats 1.0 for it, but if someone was feeling very ambitious and submitted a PR this week or something, I would certainly give it careful consideration.

Some questions that come to mind for me are:
- It looks like it could result in slightly more overhead in certain situations, but how significant would it be?
- Would t

[2016-04-27 10:45] ceedubs commented on #997
@aaronlevin thank you for bringing this up. I agree that we need to properly document this (probably in the contributing guidelines, because end-users shouldn't have to worry about it).

This is exactly the sort of thing that I was referencing in https://github.com/typelevel/cats/pull/996#discussion_r61078415 :). I don't have time to put together proper documentation for this this week. A quick ex

[2016-04-27 13:03] ceedubs commented on #513
I have a good start on this in a local branch, but this week got busy. I'm hoping to submit a PR next week.

[2016-04-27 19:15] bqm commented on #983
@ceedubs Thanks :)

As @ceedubs mentioned, I believe that we need `Ap` and the case classes defined by `Free` in order to materialize parallelism in our new data structure.

What would be the best next steps - should we wait for more opinions before doing a PR?

[2016-04-27 19:35] adelbertc commented on #983
Probably waiting on this as well https://github.com/typelevel/cats/pull/990

[2016-04-28 13:59] aaronlevin commented on #997
@ceedubs oh, wow, thanks for the explanation! I am happy to try and write something up if you can point me to where in the docs this would go!

[2016-05-02 19:26] adelbertc commented on #992
One issue with the current approach is if you want to do MTL style programming, you end up having duplication. A short, contrived, example:

[code]

Now I want to define `MonadMagic[Option]`.. but that means I also need to re-implement the `Monad` `flatMap` and `pure` methods, which leads to duplication and makes me uncomfortable. I suppose it could be solved by putting the `Monad[Option]` definit

[2016-05-03 00:01] yilinwei opened #1012 "Add WriterT Monoid"
I would like to add an implicit `Monoid` for `WriterT`. I've copied the implementation from scalaz [here](https://github.com/yilinwei/cats/commit/542b971f1c442eb8f04389f99ff695c943d463bf).

I would like to add some tests for the commit but am having a little trouble understanding how the tests work and should be structured. My initial attempt is [here](https://github.com/yilinwei/cats/commit/cfc2c

[2016-05-03 00:12] adelbertc commented on #1012
You'll also have to test the `Monoid` laws for it

[2016-05-03 01:06] yilinwei commented on #1012
I had some issues finding them at first (which was what I meant to ask) because I didn't realise they were under `GroupLaws` in `kernel`.

I've now added the test [here](https://github.com/yilinwei/cats/commit/d48c051a8c530eeeedcbeb7e387cfe285d0ec70e).

[2016-05-05 09:11] alexknvl commented on #932
[code]
And that looks a lot like a [prism](http://www.slideshare.net/JulienTruffaut/beyond-scala-lens). And prisms (and all other optics) have laws, form categories, splits, etc. As far as I understand, `Read[A]` and `Show[A]` could be collapsed into a lawful type class:

[code]

I personally don't see much of a point in having `Show[A]` considering that there is a `_.toString` method on every cla

[2016-05-05 14:25] ceedubs commented on #785
Update: Since #990 was merged, this no longer applies to `free`.

[2016-05-05 14:26] ceedubs commented on #321
This has existed for a while, so I'm going to close this issue: http://typelevel.org/cats/tut/freeapplicative.html

[2016-05-05 14:26] #321 closed

[2016-05-05 14:28] ceedubs opened #1016 "Move free module to a separate repo?"
In #990, `free` became its own module. In that same PR there was some discussion about whether it should be an entirely separate repository. This issue is to continue that conversation.

[2016-05-05 17:07] adelbertc opened #1017 "Jump start guide"
One of my coworkers was looking at the GitHub repo and website and was confused at first because he didn't really understand what constituted "abstractions for functional programming." He said something that would be really helpful is if there was a "jump start guide" of sorts that gives short examples that can get you started.. examples I can think of are `Validated`, `Xor`, `Traverse/Applicative

[2016-05-05 20:56] rabbitonweb commented on #932
Just quick thought: If you are going to implement Read typeclass, please don't call it Decode :) It might be just confusing for anyone coming from ScalaZ, Haskell etc.

[2016-05-06 11:34] ceedubs commented on #631
Tuple instances should be available as of cats 0.5.0. I'm going to go ahead and close this out. Please feel free to open up a separate issue if you run into any specific instances that are missing.

[2016-05-06 11:34] #631 closed

[2016-05-06 11:39] ceedubs commented on #888
@notxcain sorry I missed this issue when you first opened it, but I was thinking the same thing the other day. I would expect the errors to combine for `Validated` but not for `Xor`.

There was a [conversation](https://gitter.im/typelevel/cats?at=572b8d2d12cceadb7b1afe25) about this on Gitter yesterday.

[2016-05-08 02:26] #615 closed

[2016-05-08 13:35] ceedubs commented on #646
I believe this is resolved by #1001, so I'm closing it out.

[2016-05-08 13:35] #646 closed

[2016-05-08 13:36] ceedubs commented on #603
I believe this was resolved a while back. Feel free to reopen if there is more that you would like to see happen.

[2016-05-08 13:36] #603 closed

[2016-05-10 12:23] ceedubs opened #1026 "Use uber import in code examples"
Currently we have both ScalaDoc examples (via sbt-doctest) and tutorials (via tut) that import specific typeclass instances (ex: `import cats.std.option._`). At the Typelevel summit in Philly, several people mentioned that they had seen people struggle a lot with imports. There seemed to be a consensus that we should use `import cats.implicits._` in code samples to encourage people to start with t

[2016-05-10 12:58] rabbitonweb commented on #1026
I will be willing to contribute if u point to resources which should be updated.

[2016-05-10 13:14] ceedubs commented on #1026
@rabbitonweb thanks for volunteering! Let's wait for a couple maintainers to 👍 this to make sure we want to go forward with this before you put too much effort into it. @non @adelbertc @tpolecat?

To find the resources, the best approach I can think of is to grep for `import cats.std` and `import cats.syntax` and ignore the ones that are happening inside tests or at the top of source files. Really

[2016-05-10 16:47] peterneyens commented on #1026
While this will undoubtably remove some confusion for those getting started with (a library like) cats, I find that examples with the specific imports help those a little farther down the road to understand what is going on. It is an easy way to make the connection between a function and the underlying type class. Trying to use the right imports at least helped/helps me to improve my understanding

[2016-05-11 05:40] etorreborre commented on #974
I am wondering if `Copair` is not actually a `Coproduct` as described in Alissa Pajer's presentation: https://vimeo.com/channels/flatmap2016/165852490.

[2016-05-11 08:01] #513 closed

[2016-05-11 11:00] ceedubs commented on #785
Oops I just realized that `State` has already been moved to the `data` package. Looks like it's time to close this out.

[2016-05-11 11:00] #785 closed

[2016-05-11 20:38] rabbitonweb commented on #607
Since #928 is merged, shouldn't this issue be closed?

[2016-05-11 21:56] ceedubs commented on #607
@rabbitonweb I suspect there are more missing, but this is a pretty broad/vague issue, so if we find any we should probably create a separate issue for them. Thanks for the heads up - I'll close this out.

[2016-05-11 21:56] #607 closed

[2016-05-11 22:39] rabbitonweb commented on #607
@ceedubs I'm sort of looking for a low hanging fruit - an entrypoint to contribution to cats, maybe if u could find one for, creating a Show instance would be a good starting point

[2016-05-13 10:59] ceedubs opened #1030 "lazy `foldM`"
`Foldable.foldM` is a really handy function. For example, the following code will sum the input numbers until the sum reaches 10. Once 10 is reached, it will return a `Left`, or if 10 is never reached, it will return a `Right` with the final sum.

[code]

Unfortunately, in its current form, it will eagerly evaluate the entire input stream, because it's implemented in terms of `foldLeft`. You can s

[2016-05-13 11:11] ceedubs commented on #1030
cc @eed3si9n @TomasMikula

[2016-05-13 11:50] eed3si9n commented on #1030
Sounds exciting. `LazyMonad`, `EvalFlatMap`, `EvalT`?

[2016-05-13 12:05] ceedubs commented on #1030
@eed3si9n that's a good question. I'm currently re-reading http://functorial.com/stack-safety-for-free/index.pdf and thinking about whether/where `Eval` fits into the picture here. Especially since I just moved `free` back into its own module which I'm now hoping wasn't a mistake...

[2016-05-13 18:17] TomasMikula commented on #1030
I wasn't able to come up with an implementation that is both stack-safe and able to terminate early. What is yours (given that you have `flatMapEval` at hand)?

I was only able to imagine one if the return type of `f` (the accumulation function) indicated that there is no need to process any more elements, for example by returning a `M[B] Xor M[B]`.

Maybe the current `foldM` should be renamed to

[2016-05-13 22:03] ceedubs commented on #1030
@TomasMikula I don't think you can create a general solution that satisfies both requirements via `foldLeft`/`foldRight` (even with `flatMapEval`), but instances for specific types can implement this. For example, I think that this works for any type that can return an iterator:

[code]

So I guess that `Iterator` is a better abstraction than `Foldable` ;)

[2016-05-13 22:05] ceedubs commented on #1030
I meant to include in my last comment that the Stack Safety for Free paper specifically mentions `foldM` as something that can be implemented safely via `MonadRec` (using `FreeT`). I haven't given this a try in the scala world yet.

[2016-05-13 23:18] TomasMikula commented on #1030
@ceedubs Can your implementation terminate early, e.g. for an infinite `Iterator`? I don't see how.

[2016-05-13 23:24] TomasMikula commented on #1030
Intuitively, the decision about termination needs to be made by `f`. I can imagine two ways `f` can execute/indicate such decision:
 - take a lazy argument that it never evaluates (the `foldRight` style); or
 - indicate the wish to terminate in the return type (such as `G[B] Xor G[B]`, where `Right` means "done" and `Left` means "continue").

None of these is the case in your implementation, so I

[2016-05-14 02:27] ceedubs commented on #1030
@TomasMikula yeah as long as the `flatMapEval` implementation is sufficiently lazy, it terminates early. For example, consider this implementation of `flatMapEval` on `Option`:

[code]

If we use the `foldM` method I pasted above with `Stream`, then you get this:

[code]

Once we return `None`, the `flatMapEval` call doesn't evaluate `f(a)`, so we don't `loop` on the rest of the iterator. This is

[2016-05-14 02:30] #1012 closed

[2016-05-14 02:31] ceedubs commented on #1030
@TomasMikula I pushed the code I was playing around with [here](https://github.com/ceedubs/cats/commit/5c260d25f9c5f24e12845d788027ee131317defd).

[2016-05-14 04:04] TomasMikula commented on #1030
Yeah, but can you terminate early and return something else than `None`?

[2016-05-14 11:50] ceedubs commented on #1030
@TomasMikula not when working with `Option`, but I guess I would just view that as inherent to what `foldM` is. I would use `Xor` instead of `Option` if I wanted to terminate the computation early (with a `Left`) and still return a value.

[2016-05-14 12:10] ceedubs commented on #1026
@peterneyens thanks for sharing your thoughts. I definitely have a similar hesitation.

Ultimately I think I'd rather reduce the barrier for people who are new to the library (and possibly FP). If you get to the point where you really want to figure out how the piecemeal imports work, you are probably at a stage where you are willing to put a bit more effort into peaking under the hood.

I am not

[2016-05-14 12:15] ceedubs commented on #997
@aaronlevin thank you for volunteering to write something. Sorry that I didn't get back to you for a while. My delay was because I'm not sure exactly what to say. For a long time we have had [this TODO](https://github.com/typelevel/cats/blob/master/CONTRIBUTING.md#write-code) in the contributor guide. I don't like the idea of having a humongous contributor guide that might be intimidating for new

[2016-05-14 12:16] ceedubs commented on #987
@adelbertc just to be clear for someone who might want to work on this - this would take two `NaturalTransformation`s as opposed to ordinary functions, right?

[2016-05-14 12:17] ceedubs commented on #981
Added in #1028.

[2016-05-14 12:17] #981 closed

[2016-05-14 12:22] ceedubs commented on #966
I just updated the checkboxes. We opted to not wait for a couple of the items, but this release has happened, so I'm going to close out this issue.

[2016-05-14 12:22] #966 closed

[2016-05-14 12:24] ceedubs commented on #943
It appears that this isn't an issue in projects that use the [SI-2712 fix plugin](https://github.com/milessabin/si2712fix-plugin). I'm inclined to say that we should encourage people who are running into this sort of thing to use that plugin as opposed to pursuing too cumbersome of a workaround for this within cats.

[2016-05-14 12:29] ceedubs commented on #881
@oseval thanks for this. Sorry for the lack of response. To me this sort of things seems like something that may be better to submit as a PR to the scala standard library itself - have you considered that? I think that the people who have contributed `Future` there would probably be more familiar with the implications/benefits of this sort of change.

[2016-05-14 12:32] ceedubs commented on #811
I don't know of any way that we can work around this within cats, but I think that we should be sure to address the conflicting import problem in any import guide that may be created as part of #1026.

[2016-05-14 12:35] ceedubs commented on #777
This was resolved with #1001.

[2016-05-14 12:35] #777 closed

[2016-05-14 12:36] ceedubs commented on #810
I haven't seen this problem after some scala.js and scalacheck config changes that were introduced in recent months. I'm going to go ahead and close this out. Feel free to reopen it if it becomes a problem again.

[2016-05-14 12:36] #810 closed

[2016-05-14 12:39] ceedubs commented on #693
I'm going to go ahead and close this out since it was resolved with #698 and #695 tracks the follow-up.

[2016-05-14 12:39] #693 closed

[2016-05-14 12:53] ceedubs opened #1031 "Create FAQ"
There are certain questions that come up repeatedly on Gitter. I think we should create a FAQ for easy reference. Even if it doesn't prevent the questions from coming up, it should at least provide an easy explanation to link to instead of repeating a previous conversation.

Some common questions that come to mind:
- [x] What imports do I need for `<x>`? (see also #912)
- [x] Why am I still gettin

[2016-05-14 13:34] hamishdickson commented on #1031
Would this be a good place to add something about the use of kind projector in the docs? Or would that be better placed in the docs themselves?

[2016-05-14 13:37] ceedubs commented on #1031
@hamishdickson I'm inclined to think that we should use type aliases instead of kind-projector in the docs wherever possible so we aren't throwing multiple things at people at once. If there are any docs that _do_ need to use kind-projector, then I think we should have a message in front of the first usage.

[2016-05-14 13:40] hamishdickson commented on #1031
👍 thats a much better idea

[2016-05-14 13:57] ceedubs opened #1033 "Avoid kind-projector in docs where possible"
The kind-projector usage in the docs trips up a lot of people (as evident by it frequently coming up in Gitter questions). I think that where possible we should use simple type aliases instead of kind-projector syntax.

If we have any cases where a simple type alias isn't possible, I like using kind-projector instead of a type lambda, but I think that we should preface the first such usage on each

[2016-05-14 14:03] ceedubs commented on #377
@adelbertc @non would you say that cats qualifies as Spark-friendly at this point? I'm wondering if we can close out this issue, but I have no experience with Spark.

[2016-05-14 15:21] ceedubs commented on #1031
@hamishdickson I created #1033.

[2016-05-14 16:00] adelbertc commented on #987
Yep
On May 14, 2016 05:16, "Cody Allen" <notifications@github.com> wrote:

[2016-05-14 17:32] TomasMikula commented on #1030
@ceedubs that doesn't seem very satisfying indeed. You basically use the monadic effect for early termination, which means 1) you cannot use the monadic effect for something else, and 2) `Xor` is about the only monad you can use for that.

So why not use `f: (B, A) => G[B Xor B]` and then it should be possible to use `BindRec` for stack safety. I could flesh out the implementation later this weeke

[2016-05-14 18:53] yilinwei commented on #1031
I think it would be awesome to have a glossary of operators for symbols such as `|@|` or `>>=`.

[2016-05-14 19:06] ceedubs commented on #496
I'm going to close this out. I've think we've pretty much settled on a convention somewhere in the middle.

[2016-05-14 19:06] #496 closed

[2016-05-15 10:48] #987 closed

[2016-05-15 18:13] sscarduzio opened #1037 "import cats.data.State not found"
I'm following the Free monad example: when you propose a pure interpreter using the State monad, my code does not compile.

[code]

sbt run complains:

[code]

[2016-05-15 18:41] sscarduzio opened #1038 "Why there's no cats.std.Try?"
I saw an implementation for Future, Option, Either, etc. But not for Try.
Is there a reason?

I'm getting
` could not find implicit value for parameter M: cats.Monad[scala.util.Try]`

even if I have imported:

[code]

[2016-05-15 18:49] rossabaker commented on #1038
There is an instance in the alleycats project, along with a comment about
why it's an alley cat.

https://github.com/non/alleycats/blob/master/core/src/main/scala/alleycats/std/try.scala
On May 15, 2016 2:41 PM, "Simone Scarduzio" <notifications@github.com>
wrote:

[2016-05-15 19:00] sscarduzio commented on #1038
OK makes sense. BTW, quite instructive, thanks.

[2016-05-15 19:00] #1038 closed

[2016-05-15 20:26] yilinwei commented on #1037
You need to import `cats.data._` since the `State` alias is on the `package` object. The documentation needs to be updated.

[2016-05-15 20:31] yilinwei commented on #1037
Which version of cats are you using? I'm resolving it fine on the REPL for 0.5.0.

[2016-05-15 21:22] peterneyens commented on #1033
In the [`Functor` documentation](https://github.com/typelevel/cats/blob/master/docs/src/main/tut/functor.md#creating-functor-instances) there already is an explanation about the kind projector plugin.

Do you suggest writing something similar on the other pages where we can't replace it by a type alias, or should we create a new page about kind projector where we could link to ?

[2016-05-15 22:32] sscarduzio commented on #1037
https://gist.github.com/sscarduzio/c80da3d89e9c33f2e01c99d0423db3a4

my deps:
[code]

sbt clean compile
[code]

[2016-05-15 22:56] ceedubs commented on #1037
It looks like that version of rapture-circe depends on a version of circe (0.2.1) that depends on a very old version of cats (0.2.0): http://mvnrepository.com/artifact/com.propensive/rapture-json-circe_2.11/2.0.0-M5

[2016-05-15 23:02] sscarduzio commented on #1037
Nice find @ceedubs.
Damn, that's tricky. Any workarounds beside changing rapture backend to Jackson?

[2016-05-16 11:06] ceedubs commented on #1037
@sscarduzio I imagine that @propensive would be open to a Rapture PR that updates the circe dependency. In the meantime, I believe you should be able to depend on the older `cats-state` module where `State` should be in the `cats.state` package.

[2016-05-16 11:08] ceedubs commented on #1033
@peterneyens I guess it would depend on how many can't be replaced by a simple type alias. If it's only one then inline is probably fine, but otherwise we should probably create a new page. Either way having a new page that we link to probably wouldn't be a bad thing.

[2016-05-16 11:39] sscarduzio commented on #1037
Yeah good idea, I'll open an issue on Rapture right away.

[2016-05-16 13:29] ghost opened #1039 "Eval documentation"

[2016-05-16 13:29] dialelo commented on #1039
I'm going to work on this, will open a PR soon.

[2016-05-16 13:43] ceedubs commented on #1037
I'm going to go ahead and close this out since it's not really an issue with cats.

[2016-05-16 13:43] #1037 closed

[2016-05-16 13:57] ceedubs commented on #1030
@TomasMikula You should be able to use `XorT` if you want both the possibility of early termination and another effect. I think there are quite a few use-cases where you want to fold across the entire structure as long as your monadic binds succeed, so it would seem unfortunate to me to force users into `Xor` if they don't need the "early termination" effect.

I say that specifically with regard t

[2016-05-16 18:29] TomasMikula commented on #1030
Makes sense. I didn't mean to impose `Xor` on all users of `foldM`, I imagined that would be a different method, providing a more explicit support for early termination.

[2016-05-16 18:38] TomasMikula commented on #1030
Given this signature of `tailRecM`

[code]

this could be the implementation of `foldM` for `List`:

[code]

[2016-05-16 18:48] ceedubs commented on #1030
@TomasMikula nice - thanks! I was scratching my head trying to figure out how to do things with `tailRecM`. I was trying to do this for a generic `Foldable`, not specifically a `List`, which added to the confusion. It was so easy when I just delegated to a `FreeT` of `Id` :). I hope to follow up on this in the near future.

[2016-05-16 19:26] TomasMikula commented on #1030
Yeah, I don't think we can generalize this to any `Foldable`, but we sure can to any `Uncons` (which I'm not sure would be a lawful typeclass, though):

[code]

Regarding your `FreeT` experiment, assuming you are using `FreeT[Id, M, A]`, I think you should be able to replace it by `Free[M, A]`, if you also add `Free.foldMapRec`, i.e. a stack-safe version of `foldMap` (or just strengthen the constr

[2016-05-16 21:33] TomasMikula commented on #616
I assume the `cats` name for `BindRec` will be `FlatMapRec`.

Two more questions to answer:

1. Also add `MonadRec`, or just `FlatMapRec`?
  (`scalaz` added only `BindRec` and where `MonadRec[M]` is needed, it requires both `BindRec[M]` and `Applicative[M]` instead.)
2. The signature of `tailRecM` transcribed directly from the paper is

[code]

  but should the order of arguments be switched in or

[2016-05-16 21:37] ceedubs commented on #616
@TomasMikula my 2 cents:

1) I'd be inclined to add `MonadRec`. In the very little I've played around to this, I found it annoying to have `Applicative` and `BindRec` littered all over the implicit params.
2) Yes, I like your idea to switch the params order.

[2016-05-17 09:42] #589 closed

[2016-05-17 10:59] ceedubs commented on #1033
I'm working on this.

[2016-05-17 18:03] rabbitonweb commented on #82
Maybe it's worth starting to work on migration guide, step by step, things getting more stable I guess?

[2016-05-18 06:43] #1033 closed

[2016-05-19 01:03] ceedubs commented on #802
Sorry for not responding for so long but I started pondering a project today that I think could really benefit from this. Now that free has its own module again, I'm less concerned about adding more structures to it. :+1: from me.

[2016-05-19 01:04] ceedubs commented on #802
Uh ignore my last comment. I had forgotten there is an open PR for this.

[2016-05-19 13:34] #888 closed

[2016-05-19 20:28] TomasMikula commented on #721
We can implement a stack-safe `foldMap` using `MonadRec[M]`. The question is, do we
 1. keep `foldMap`, stack-safe only for lazy (trampolined) monads and add the stack-safe version as `MonadRec`
 2. change the current method, only allowing `foldMap` to tail-rec monads.

I would be leaning more towards 2., to promote stack-safety by default. For cases where people don't have a stack-safe monad, but

[2016-05-19 20:53] mandubian commented on #721
I suppose it brings also constant-stack execution, right?
By default, stack-safety is clearly preferred because when it bites, it bites hard & randomly.
But, it would be cool to check the cost on perfs with MonadRec.

[2016-05-19 21:39] TomasMikula commented on #721
@mandubian my definition of _stack-safety_ is constant-stack usage, so I don't understand your first question.

Regarding the latter, are there some existing `Free` benchmarks?

[2016-05-19 22:13] mandubian commented on #721
I don't think there are benches but it would be useful ;)

[2016-05-21 18:53] 3rdLaw opened #1054 "filterM broken?"
I ran the following in sbt console after a git pull:
[code]

Compare this to scalaz's results:
[code]

[2016-05-22 11:40] ceedubs commented on #1054
@3rdLaw thanks for bringing this up. The `filterM` in cats indeed isn't the `filterM` in Haskell or scalaz. It doesn't even have quite the same type signature: the one in cats is not specialized to `List` and returns an `F[A]` result as opposed to `F[F[A]]`.

We should probably do something to avoid confusion. @non it looks like you originally added `filterM` - what are your thoughts?

[2016-05-22 11:57] dialelo opened #1055 "Migrate `tut` blocks to `tut:book` format for copy-pasting to a REPL"
Recently `tut` introduced a new modifier for source blocks, `:book`:

By default, the `tut` code blocks include a `scala>` prompt and results of the REPL aren't commented out, which makes copy-pasting the examples impossible. I think that switching to `tut:book` blocks from plain `tut` blocks would be a great improvement for people reading the docs and trying things as they go.

Note that the `tut

[2016-05-23 18:55] 3rdLaw commented on #1054
Thanks for the clarification @ceedubs; I clearly assumed this was the same as Haskell/Scalaz's, so some documentation would be helpful.

Does cats have an equivalent to `filterM` in Haskell or scalaz?

[2016-05-24 01:02] fkz opened #1058 "regarding property-based testing: allow equality to only return Prop instead of Boolean"
For some types, equality is not decidable, but it's still possible to find counterexamples to equality. One of the simpler examples is function application. Consider we introduce

    trait PropEq[A] {
      def eqv(left: A, right: A): Prop[Boolean]
    }

Then we can use this for functions:

    implicit class functionEq[A, B](f: A => B)(implicit arbitrary: Arbitrary[A], eq: PropEq[A]) extends Pr

[2016-05-24 09:48] dialelo commented on #983
I think we could benefit from a proof-of-concept PR now that #990 is merged, perhaps taking your experiments as a starting point @bqm?

[2016-05-24 15:19] non opened #1061 "Uniquify implicit names"
Paul Phillips mentions that in a widely-used library it's important to minimize the chance that the names of its implicits will be used by others. To that end I suggest that we review our implicits and rename them according to the following rules:

1. Make sure that the implicits start with *cats* -- it's less likely that a third-party will do this.
2. Make sure that both the type and the type cla

[2016-05-24 15:21] non commented on #1061
Since a single across-the-board PR is likely to conflict with every other open PR, we should either accomplish this piecemeal, or coordinate ahead of time. If you want to work on this issue please comment here so we can avoid duplicating work and plan for a minimum amount of conflict.

[2016-05-24 15:22] ceedubs commented on #1061
As an example of how name collisions can be problematic, in [this](https://gitter.im/typelevel/cats?at=5743073fd3f431720bb2e52c) gitter conversation, an upgrade from cats 0.5 to 0.6 broke someone's code because of a collision on the name `listMonoid` (they had created one for `java.util.List`).

[2016-05-24 15:32] dwijnand commented on #1061
Note that not only implicits that provide typeclass instances, but also syntax/enrich-my-type implicits suffer from the same exact problem.

A banal example is having two different implicit classes from different libraries called `AnyOps`.

[2016-05-25 12:28] InTheNow commented on #1061
Would this also be an issue for simulacrum generated implicits?
For example, for `Invariant`, we get `implicit def toInvariantOps`. Should that be `implicit def toCatsFunctorInvariantOps`?

N.B. Note the inclusion of the full package names, should this be standard as well?

[2016-05-25 12:42] milessabin commented on #1061
Potentially yes.

Bear in mind that this can't be fixed by using `freshName` in a macro, because the names, even if they're never typed by a human, are public definitions and have to be stable between builds. There's some [code in export-hook](https://github.com/milessabin/export-hook/blob/master/core/src/main/scala/export/export.scala#L110-L114) to deal with this.

[2016-05-25 12:58] alexandru commented on #980
See the commit of this guy: https://github.com/rozza/mongo-spark/commit/21eab2096ca8f453648ce92a14dcfa88b06fe591

[2016-05-25 15:16] InTheNow commented on #472
Is this worth adding to the https://github.com/typelevel/cats/milestones/cats-1.0.0 milestone?

[2016-05-25 15:23] milessabin commented on #472
Bumped by #1059.

[2016-05-25 15:57] ceedubs commented on #472
My main concerns here are those that I stated in https://github.com/typelevel/cats/issues/472#issuecomment-134554879 and that I'd be hesitant to have this included in the cats root project. The readme says to add `libraryDependencies += "org.typelevel" %% "cats" % "<version>"`, and I'd hate for people to pick up potentially troublesome instances/types/etc without explicitly opting into them (hopef

[2016-05-25 16:06] InTheNow commented on #472
@ceedubs But as per https://github.com/typelevel/cats/issues/472#issuecomment-133703261 , to actually use them, you have to explicit import them, eg  :

[code]
So the "warning" is quite explicit in the code, far better than in a build file

[2016-05-25 16:13] InTheNow commented on #472
OTOH.....I would rather have them in the cats repo than not in, even if that meant they are not in cats root.

Somewhere, I also think also by @ceedubs, there was also the concern that the root project just pulled in everything, even if people did not want everything - ie cats root should never be used for production, but just as a quick "get started". Given that we should highlight this fact rega

[2016-05-25 16:19] ceedubs commented on #472
@InTheNow that's a fair point. Sorry I had forgotten about that and didn't notice it when I was skimming this issue again :)

[2016-05-26 10:07] #1055 closed

[2016-05-26 12:31] oseval commented on #881
Ok, there is no big problem.

[2016-05-26 12:31] #881 closed

[2016-05-27 01:09] kailuowang commented on #1061
I can work on this one. How about just tackle the std first?

[2016-05-27 08:43] weihsiu commented on #983
just a heads up on [this video](https://vimeo.com/channels/flatmap2016/165928373) which, towards the end, combines both Free and FreeApplicative using Coproduct.  i couldn't find the source code for the example though.

[2016-05-27 09:50] yilinwei opened #1064 "Remove boilerplate for n-ary typeclasses"
Since simulacrum now supports [n-ary typeclass constructors](https://github.com/mpilquist/simulacrum/pull/59) though not typeclasses of the form `TC[F[_], A]` (yet!) I'd like to start removing the boilerplate and adding some symbolic ops to some of the less used packages.

In particular I'm thinking of the `arrow` package.

[2016-05-27 13:07] ceedubs opened #1065 "Rename NaturalTransformation to FunctionK?"
Recently @paulp [suggested](https://gitter.im/typelevel/cats?at=573ddd230cb634927f80758c) that `NaturalTransformation` should be renamed to `FunctionK`. This does seem to fit nicely with the convention used by other types such as `SemigroupK` and `MonoidK`. What do people think?

Note: I (and I imagine others) would still want to keep the `~>` alias around.

[2016-05-27 15:50] ceedubs opened #1067 "`Profunctor` instance for `StateT`"
@vmarquez pointed out to me that `StateT` forms a `Profunctor`

[2016-05-27 19:28] InTheNow commented on #501
There is the [.jvmopts file](https://github.com/typelevel/cats/blob/master/.jvmopts) in the root dir, and in the README.md "We suggest you use Paul Philips's sbt script that will use the settings from Cats."

Is that enough?

[2016-05-27 20:03] kailuowang commented on #1065
👍

[2016-05-27 20:30] InTheNow commented on #501
Forgot to add that I have tried running with GC1 and saw a negative improvement. I think one issue _could_ be that the provided `.jvmopts` will _not_ be picked up sbt. So if you start playing with the settings, you will no doubt see an improvement, but only because they will improve the default sbt settings.

To use `.jvmopts`, you have to use PP's sbt script or similar

[2016-05-27 21:30] kailuowang commented on #1067
I gave it a try and failed, since `S` appears in both input and output, it looks to me that for `S` it has to be invariant (you need both `S => NewS` and `NewS => S`.
@vikraman or @ceedubs mind give some further instruction?
Here is my attempt
[code]

I need a `C` in the place of `???` but in `p` I got only a `S`

[2016-05-27 21:34] vmarquez commented on #1067
Err, I think I pointed out *Indexed*StateT is one. ;-)

[2016-05-27 21:42] kailuowang commented on #1067
ah, makes sense. since cats doesn't have `IndexedStateT` shall we close this one?

[2016-05-28 11:15] ghost opened #1069 "Mixed use of symbols in Kind projections"
Independent to https://github.com/typelevel/cats/issues/993, there is currently a mixed use of `Lambda` and `λ` in kind projections. Eg

`def compose[G[_, _]](implicit ev: Bifoldable[G]): Bifoldable[Lambda[(A, B) => F[G[A, B], G[A, B]]]]`

`def compose[G[_]](implicit GG : Applicative[G]): Applicative[λ[α => F[G[α]]]] =`

Whatever the chosen convention, it should be applied consistently.

[2016-05-28 21:16] yilinwei commented on #1064
So I've made a start on it [here](https://github.com/yilinwei/cats/tree/arrow).

I've got a few questions about some of where the operations have come from - in particular I'm wondering if the `choice` operation on the `Choice` is named correctly since it seems to be identical to fan in according to [hackage](https://hackage.haskell.org/package/base-4.9.0.0/docs/Control-Arrow.html).

I'm also a li

[2016-05-30 14:32] non commented on #377
Yes -- I think Cats is doing everything it needs to, and there is an integration project (https://github.com/adelbertc/frameless) that is getting some love.

[2016-05-30 14:32] #377 closed

[2016-05-30 14:35] ceedubs commented on #1026
@rabbitonweb are you still interested in working on this? From some gitter conversations it sounds like people are happy with moving forward on this.

[2016-05-30 14:36] non commented on #425
So, I'm sitting with @ceedubs and here is what we think should be done:

1. We should have a separate project to provide a good type tags implementation.
2. There should be a project that provides useful tags for Cats (either in a Cats subproject, or in a Tags subproject, or elsewhere).
3. Cats should accommodate use of type tags.
4. Cats should not require type tags (i.e. should still allow users

[2016-05-30 16:04] ceedubs opened #1070 "Reenable scaladoc for 2.10"
Revert #1051 once we are able to, as it sounds like SBT 0.13.12 will have a fix for the issue that caused disabling scaladoc for 2.10.

[2016-05-30 16:10] ceedubs opened #1071 "Document cats' stance on currying"
Cats seems to have settled on a convention to curry when it helps scalac infer types for function arguments but to otherwise generally avoid currying. We should document/explain this convention (and probably also make sure we are being consistent about it).

See also #950.

[2016-05-30 16:43] bqm commented on #983
@weihsiu Thanks for the link, nice keynote! This is an interesting encoding which is I believe is close to `Free[FreeApplicative[MyADT, ?], A]` (i.e coproduct left case can be seen as a free applicative with only one element).

@dialelo Cool! I will work on a proof of concept PR.

[2016-05-30 20:26] ceedubs opened #1073 "Figure out how to handle SI-2712 fix"
The infamous [SI-2712](https://issues.scala-lang.org/browse/SI-2712) is fixed under the "experimental" compiler flag in scala 2.12. The fix is available via a [compiler plugin](https://github.com/milessabin/si2712fix-plugin) for scala 2.10 and 2.11. We should figure out how cats is going to handle this change. Should it remove `Unapply` and ask people to use one of these two approaches if they wan

[2016-05-30 21:51] kailuowang commented on #1073
If the SI2712 fix is required on the use site, would that mean that all libraries they use must be also at least SI 2712 fix compatible (i.e. hide their unapply properly) ?

[2016-05-31 11:13] ceedubs commented on #1073
I'm hoping @milessabin can weigh in, as he probably has a better idea on when problems can arise. At work we added the SI-2712 fix plugin to a project that uses scalaz heavily, and we were able to change a bunch of `traverseU` calls into just `traverse` and didn't seem to have any issues. I'm guessing that potential issues come up if you call code that uses something like `Unapply` (instead of cha

[2016-05-31 11:15] ceedubs commented on #1067
Oops I hadn't thought that through very well :)

Sorry for the false alert. Thanks for giving it a try @kailuowang and thanks for your input, @vmarquez.

[2016-05-31 11:15] #1067 closed

[2016-05-31 11:58] ceedubs commented on #537
Yesterday @non and I discussed this for quite a while, and we both seemed to settle on the idea that there should be a `cats.data.NonEmptyList` class specialized to `List`.

The `OneAnd` approach is lacking, more difficult to reason about, and isn't really a very general solution (it doesn't work for `Set` or `Map`, and treating `Vector` like a `Cons` isn't very efficient). We'd be in favor of rem

[2016-05-31 12:00] mpilquist commented on #537
👍 I'd like `NonEmptyVector` to stay though, even if in 1.0 it is a cons.

[2016-05-31 12:08] ceedubs commented on #616
Added in #1041.

[2016-05-31 12:08] #616 closed

[2016-05-31 13:46] peterneyens opened #1077 "Moving Eval to cats.data ?"
`Eval` seems to be the only non type class in `cats._`, should we move it to `cats.data._` to be more consistent ?
Moving `Eval` would add a lot of `cats.data.Eval` imports, but that is currently already the case for `cats.data.Xor`.

Thoughts ?

[2016-05-31 18:15] milessabin commented on #1073
The plugin would be required downstream for 2.10.x and 2.11.x. The fix can be backported (basically already has been), and we might be able to persuade Lightbend to make a 2.10.7 and 2.11.9 release with it included.

[2016-05-31 18:33] adelbertc commented on #425
For #2 I would vote to have it as a cats subproject. Reason is I've often found myself wanting something like the `First` and `Max` monoid and would expect it to be in the "official" project somewhere. I would like to see this before we hit 1.0.

Another thing that came up when discussed on the Gitter channel a week or so ago was the variety of approaches for such a tags project. There were issues

[2016-05-31 19:31] #721 closed

[2016-06-01 13:19] ceedubs opened #1080 "Add Functor.widen"
I think that we should have something like `def widen[A, AA >: A](fa: F[A]): F[AA]` on (covariant) `Functor`. People who are working in code that is a hybrid of OO and FP (which is pretty much everyone who uses FP in scala, since subtyping is used for sum types) often find themselves wanting something like this.

A straightforward implementation is `map identity`, but this solution is often not ve

[2016-06-01 13:38] ceedubs opened #1081 "Add Traverse[Try] instance"
Follow up to https://github.com/typelevel/cats/pull/1059#issuecomment-222554220

[2016-06-01 15:53] julienrf commented on #1080
Out of curiosity, what are the arguments to not make Functor's type parameter covariant?

[2016-06-01 18:22] peterneyens commented on #31
@ceedubs There currently is a reference from the [`Xor` docs](http://typelevel.org/cats/tut/xor.html) to `Validated`. I suppose this issue can be closed ?

[2016-06-01 18:46] ceedubs commented on #31
@peterneyens I agree. Thanks for pointing that out.

[2016-06-01 18:46] #31 closed

[2016-06-01 18:53] ceedubs commented on #934
Resolved in #937.

[2016-06-01 18:53] #934 closed

[2016-06-01 18:53] ceedubs commented on #1065
Resolved by #1072.

[2016-06-01 18:53] #1065 closed

[2016-06-01 21:58] #899 closed

[2016-06-01 22:05] ceedubs commented on #1081
I'll work on this.

[2016-06-02 00:59] kailuowang commented on #1073
BTW, if nobody has reported yet, I tested cats with SI-2712 fix plugin and some tests failed to compile due to ambiguous instance. Maybe the first step should be fixing those?

[2016-06-03 17:37] InTheNow opened #1086 "Publish 2.12.0-M4 version"
See the other [projects already available](https://github.com/scala/make-release-notes/blob/2.12.x/projects-2.12.md)

[2016-06-03 23:12] ceedubs opened #1087 "Create cats.data.NonEmptyList"
We seem to have arrived on a decision in #537 that `NonEmptyList` should have its own data type. Let's go for it!

[2016-06-03 23:17] ceedubs opened #1088 "create cats.data.NonEmptyVector"
We seem to have arrived on a decision in #537 that NonEmptyVector should have its own data type. Let's go for it!

Since representing a `Vector` as `case class NonEmptyVector[A](head: A, tail: Vector[A])` is not very efficient for quite a few operations, @non has suggested that we create a class that wraps a `Vector` that it knows to be non-empty. We can guarantee this by making the companion obje

[2016-06-03 23:20] ceedubs opened #1089 "Create cats.data.NonEmptyStream?"
Once #1087 and #1088 have been completed, I think that we should probably drop `OneAnd` from cats. At that point, I think that `NonEmptyStream` would be the only data structure referencing it. We can probably drop `NonEmptyStream` at that point, but I created this issue to let people weigh on if `NonEmptyStream` is something that they would really want in cats. I suspect that it's not really used.

[2016-06-03 23:21] ceedubs commented on #537
It sounds like we've arrived at a decision here. I'm closing in favor of #1087, #1088, and #1089.

[2016-06-03 23:26] #537 closed

[2016-06-03 23:48] ceedubs commented on #1064
@yilinwei this is great!

Other than being in the same package, is there anything else that makes you think that `Choice` should inherit from `Arrow`?

The idea of `arrow` being its own package is interesting. To me `FunctionK` seems like something that should be in `core`, but I'm not so sure about the other stuff - it's not stuff that I see people use often. Anyone else have thoughts on this?

@

[2016-06-03 23:54] ceedubs commented on #1077
The breakdown of the packages has always felt a bit arbitrary to me. For example, I don't really think of `Eval` as a data structure, but then I don't really think of `Kleisli` as a data structure either. Having said that, every line that I try to draw seems arbitrary short of just shoving everything into the `cats` package. I don't have any very strong opinions on this, but I think that when a ca

[2016-06-03 23:58] ceedubs commented on #1061
@kailuowang do you think that this is done after #1066 and #1068? Or should we cover the other modules too? Collisions outside of the `std` package seem unlikely to me since people don't have to import the instances explicitly, but I guess there is something to be said about consistency.

[2016-06-04 00:16] kailuowang commented on #1061
I was thinking about doing syntax after the first two parts merged. I am out of the country now but i should be able to resume the work a week or so later.

[2016-06-04 00:19] ceedubs commented on #1061
@kailuowang ah, I hadn't thought about syntax - that sounds like an important one. Thank you!

[2016-06-04 00:54] yilinwei commented on #1064
@ceedubs

It's not entirely clear to me where the `Choice` comes from - I had suspected it was the `ArrowChoice` in which case, the problem with not inheriting from `Arrow` is that certain operations on the `Choice` can't be derived (if choice is indeed written with the wrong signature currently, then `|||` can't be derived without the `lift` on the arrow) which means that it's of fairly limited u

[2016-06-04 01:34] ceedubs commented on #1031
I'll work on this.

[2016-06-04 21:05] #1086 closed

[2016-06-05 13:21] benhutchison opened #1091 "Size or length operation on Foldable"
Please provide a `size` method, with the ordinary meaning eg:
[code]

Both (a) to provide a convenient default impl for a common operation, and (b) to allow instances to define their own faster size computation.

[2016-06-05 13:22] benhutchison commented on #1091
background context from haskell: https://www.reddit.com/r/haskell/comments/xo05l/why_isnt_length_part_of_foldable/

[2016-06-05 14:22] ceedubs commented on #1091
👍. I've also wondered if we should have a similar method that would be safe on infinite streams - something like "size, but stop calculating if it's over N".

[2016-06-05 16:02] peterneyens opened #1092 "Enforce kind projection style"
Now we have settled on using Greek characters in our kind projections in #1079, we should try to keep it consistent.

I was thinking about a scalastyle rule to check that files don't contain `Lambda[`.

This could look like the following (but I have been unable to test it, since running `scalastyle` gives me `[info] Processed 0 file(s)`) :
[code]

[2016-06-05 19:37] fthomas commented on #1092
@peterneyens I think we need to update our scalastyle configuration, see: https://github.com/scalastyle/scalastyle-sbt-plugin/issues/47

[2016-06-05 21:06] #1081 closed

[2016-06-07 21:03] edmundnoble commented on #1080
I believe the "singleton instance trick is unsafe" article does not apply in this case. The reason for its unsafety is singleton type patterns, however I don't believe they are unsound in this case:
[code]

As you can see, having `widen` is a function from F[B] to F[A]. Implementing `widen` as an unsafe cast of F[B] to F[A], we can then use a singleton type pattern to... unsafely cast an F[B] to a

[2016-06-07 21:04] edmundnoble commented on #1080
Also (sorry for the spam) I plan to tackle this with a PR later today.

[2016-06-08 13:52] non commented on #1026
I agree with @ceedubs. I want the global import to be what we advertise. I'm fine with people using piecemeal imports but the bar for them is necessarily a lot higher, and I don't want to give the impression that everyone else just psychically knows where they are (because we often don't and have to search the code). 👍

[2016-06-08 21:40] #1092 closed

[2016-06-09 06:44] benhutchison opened #1101 "cats.Order: Support for pattern matching on comparison results"
When doing comparisons with cats.Order, would be desirable to pattern match on the cases, like eg:
[code]
Order.compare returns an Int for performance and Java 1.7 compat reasons, which is fair enough, when you need that. But that requires an if (c <0) ... else if (c == 0) .. else ... construct to handle a comparison; less readable than the above alternative IMO.

Proposal is a function, implement

[2016-06-09 07:24] julienrf commented on #1101
Note that you can still get quite the same syntax without changing `Order`:

[code]

[code]

[2016-06-09 12:00] ceedubs commented on #1101
@julienrf I thought the same thing at first. The problem is that while you do get the syntax, you don't get the exhaustive matching. So if you match on the `GT` and `LT` case but forget the `EQ` case, your code will just blow up at runtime.

[2016-06-09 12:02] julienrf commented on #1101
Fair point :)

[2016-06-09 21:04] #1101 closed

[2016-06-09 21:55] tbrown1979 opened #1107 "Applicative/Functor instance missing for OptionT"
Missing for when F doesn't have a Monad

[2016-06-10 02:00] yilinwei commented on #1107
This is absolutely the case because a monad transfromer is not the same as a `Nested`.

See explanation here #1106.

[2016-06-10 02:15] yilinwei opened #1109 "Remove `Applicative` instances for MonadTransformers"
See #1106.

A monad transformer should not have an `Applicative` which is derived from the `Applicative` of `F`, even in the cases where both are the same.

If indeed want an `Applicative` for `F[G[_]]` we should delegate to Nested.

[2016-06-10 12:13] peterneyens commented on #1107
It would still be possible to add something like `scalaz.OptionT[F, ?].app`, but it would give the same result as `Nested[F, Option, ?].ap` so that wouldn't be that useful probably.

I was wondering if we should add some sort of `toNested` on  `OptionT` and `XorT`, in that way you could do `OptionT(List(Some(1))).toNested.ap( ... )`.
We could probably also use it to implement methods like `OptionT

[2016-06-11 13:09] ceedubs commented on #869
I think that I could be convinced either way on this.

However one thing that bothers me a bit (@non and I discussed this a little while ago): as with `free`, it seems like a fairly arbitrary way to define a module. It seems unlikely that I either want all the transformers or none of them (or similarly all of the free structures or none of them). Most likely there are a couple that are more common

[2016-06-11 13:16] ceedubs opened #1113 "Put arity functions into separate scaladoc groups"
Currently certain scaladocs (such as [Apply](http://typelevel.org/cats/api/#cats.Apply)) contain a whole bunch of generated methods of various arities. This makes it really tough to find the "core" methods that people are probably interested in. I think that we should move the arity methods (at least for 3 or 4 and above) into a separate scaladoc `@group`s.

One downside is that methods in groups

[2016-06-11 15:42] peterneyens opened #1116 "MonadCombine and MonadFilter weak laws"
`MonadCombine` Instances for `XorT` and `OptionT` fail the following laws (all defined in `AlternativeLaws`):

- right absorbtion
- right distributivity
- left distributivity

`MonadFilter` instances for `XorT` and `OptionT` fail the right empty law (defined in `MonadFilterLaws`).

@mpilquist mentioned in the code when he created `XorT` that we could split both laws in weak/strong versions.

[2016-06-11 18:24] ceedubs commented on #968
@adelbertc I think that we can close this out now, right?

[2016-06-11 18:25] adelbertc commented on #968
I still want to figure out what we want to do with the Bifunctor and
friends classes
On Jun 11, 2016 11:24, "Cody Allen" <notifications@github.com> wrote:

[2016-06-11 18:27] non commented on #1073
Here's my 2¢:

I think the easiest thing is to leave the unapply machinery in, and not use the SI-2712 fix in Cats, but to try to ensure that everything we provide can be used with the option/plugin by downstream libraries and end users. Until there are early adopter reports for the fix I think it's likely that there will be other people who are nervous about it, so I'd like to support them in the

[2016-06-11 18:28] non commented on #425
I still want to do this, but I'm moving it out from the 1.0 milestones. I think it is a nice-to-have but not essential.

(If anyone disagrees, feel free to move it back and we can talk about it here.)

[2016-06-12 08:25] adelbertc opened #1118 "Reconcile "Getting Started" and "Modules" sections in README"
For instance, the [Getting Started](https://github.com/typelevel/cats#getting-started) section mentions the recently added `kernel` project, but the [Modules](https://github.com/typelevel/cats#modules) section does not.

Perhaps we update one of them or we remove one of them.

[2016-06-13 15:39] kailuowang commented on #1061
It seems to me that most implicits names are uniquified after the 3 mentioned PRs.

[2016-06-13 19:09] ceedubs commented on #1087
@WarFox is working on this in #1120.

[2016-06-13 19:19] ceedubs commented on #814
Closing in favor of #608, as this referred to a branch that didn't end up getting merged.

[2016-06-13 19:19] #814 closed

[2016-06-14 13:08] ceedubs opened #1124 "Add Monoid syntax"
Currently we have [Semigroup syntax](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/syntax/semigroup.scala) but lack something similar for `Monoid`. This means that you can do something like `1 |+| 2`, you can't do something like `1.isEmpty` (even though `Monoid[Int].isEmpty(1)` works).

[2016-06-14 13:17] ceedubs commented on #1124
Note: I think that `isEmpty` is currently the only method that we can really add to this syntax.

[2016-06-14 13:19] hamishdickson commented on #1124
I'll have a look at this today

[2016-06-14 13:35] OlivierBlanvillain opened #1125 "Give more visibility to the documentation"
I think the cats documentation is a bit hard to reach from the README, this is the expected path to [`SemigroupK`](https://github.com/typelevel/cats/blob/master/docs/src/main/tut/semigroupk.md):

- Land on https://github.com/typelevel/cats
- → click Documentation#website link
- → click Typeclasses
- → scroll down
- → click SemigroupK

As an example, I find it way more accessible on [`scalajs-react

[2016-06-14 14:08] durban commented on #1080
Well, technically it is possible to use this to perform an unsafe cast (tested with b149835):
[code]
This produces:
[code]

[2016-06-14 15:29] non opened #1126 "Add Kailuo Wang as a Cats maintainer"
I propose that we add @kailuowang as a maintainer. He's helped with several of the past releases and has been great about submitting and helping review PRs.

Kailuo, is this something you'd be interested in? What do the other maintainers think?

[2016-06-14 15:33] mpilquist commented on #1126
👍

[2016-06-14 15:35] kailuowang commented on #1126
I am truly honored. It is my goal to contribute to cats as much as I can and as long as I write code in scala. ( a language I love and probably won't change in the foreseeable future)

[2016-06-14 15:53] non commented on #1126
It seems like this won't be necessary this time, but maintainers should feel free to voice any concerns privately to me and I can share them here.

[2016-06-14 19:36] peterneyens commented on #1116
It seems this is a duplicate of #694

[2016-06-14 19:36] #1116 closed

[2016-06-15 05:27] non commented on #1126
It looks like we have heard from 8/11 of the current maintainers. I think it's safe to say "welcome!"

[2016-06-15 05:27] #1126 closed

[2016-06-15 12:20] ceedubs commented on #968
@adelbertc I'm inclined to hold off on things like `Biprod` and `BiNested` until someone has a compelling use-case for them. When I try to come up with use-cases, they all seem pretty contrived. This ticket is currently part of the 1.0 milestone, and to me these don't seem like items that should block a 1.0 release. WDYT?

[2016-06-15 12:29] ceedubs commented on #1125
@OlivierBlanvillain I totally agree that our docs aren't very discoverable. @non has a branch where he has done a bit of cleanup, but we still have a long way to go. Part of our strategy with his branch was to have less noise on the readme so that the things that _are_ there are more noticeable.

It may be nice to have a big list of links like that, but I think there may be even better options. I

[2016-06-15 12:48] OlivierBlanvillain commented on #1125
For a result similar to the book of doobie, I think that Gitbook could be a really good candidate. In a [few lines of shell](https://github.com/jto/validation/blob/v2.0/misc/build-book.sh#L4-L11) you can go from https://github.com/jto/validation/tree/v2.0/docs/src/main/tut to http://jto.github.io/validation/docs/book/, it also has a search thing which works pretty well. If you think that's a good

[2016-06-15 12:55] ceedubs commented on #1125
@OlivierBlanvillain oh wow that looks pretty nice. I remember @adelbertc mentioning Gitbook at some point, but I never took the time to look into it. It looks like in your example your code in your book is still compiled via tut - is that right? This looks great to me!

[2016-06-15 13:02] OlivierBlanvillain commented on #1125
Yes, it's .tut → .md → .html :). The last step is done via an [open source node.js tool](https://github.com/GitbookIO/gitbook), https://www.gitbook.com/ makes it sound like it's all hosted but you can actually do everything locally.

[2016-06-15 13:16] mpilquist commented on #1064
I agree with moving `FunctionK` to `cats` package and then possibly moving `cats.arrow` package to its own JAR.

I don't see any risk doing this before 1.0. +1 from me.

[2016-06-15 16:00] adelbertc commented on #968
Let me take a look to make sure there's no inconsistencies, otherwise fine
by me. I'll move the ticket out
On Jun 15, 2016 5:20 AM, "Cody Allen" <notifications@github.com> wrote:

[2016-06-15 16:58] adelbertc commented on #968
@ceedubs This should do it: https://github.com/typelevel/cats/pull/1133/files

[2016-06-15 19:58] adelbertc commented on #968
Okie dokes

[2016-06-15 19:58] #968 closed

[2016-06-16 11:37] #1124 closed

[2016-06-16 13:16] ceedubs opened #1135 "std in instance/syntax imports"
Currently if you want to import the type class _instances_ for `Option`, you `import cats.std.option._`. If you want to import the _syntax_ for `Option`, you `import cats.syntax.option._` (note the lack of `std`). This seems inconsistent and/or backwards to me. Since instances for Cats types are in their companion objects, I don't think I'll ever need to import instances for anything _other_ than

[2016-06-16 14:06] kailuowang commented on #1135
I vote for 2 as well. I like the `std` package convention.

[2016-06-16 14:11] philwills commented on #1135
I'd vote for 1. The `std` thing has always seemed a bit odd and unintuitive to me.

[2016-06-16 14:14] non commented on #1135
What if we rename `std` to `instances`? To me `std` is the place where implicit instances go and `syntax` is the place where implicit syntax goes.

[2016-06-16 14:18] ceedubs commented on #1135
@non I like that. I had thought of that but was thinking that we had some non-instance things in there like the `none[A]` syntax. It looks like that's in `syntax`, so as long as we don't think we'll have non-instance things in there, 👍 from me.

[2016-06-16 15:16] kailuowang commented on #1135
👍  on renaming `std` to `instances`.

[2016-06-17 00:45] benhutchison commented on #472
Coming late to the party.. Im a +1 to this proposal.

I expect that alleycats will become a standard tool in my kit, so having it more integrated with cats releases would suit well. Also Im already observing some [close coupling](https://gitter.im/non/alleycats?at=57622c14b8ad3d5d7ee09da2) between alleycats and cats code  that suggests they should live close by.

[2016-06-17 10:40] yilinwei commented on #992
I have a few observations I'd like to make/points I would like to clarify.

1) There exist some combinators `pureEval`, `replicateA` on `Applicative` which essentially act as utility functions defined on top of the base combinators. I don't think there's much value in not having the methods defined on the trait and forcing anyone who extends from the trait to override those.

2) I almost feel as t

[2016-06-17 14:30] zainab-ali commented on #1088
I'm working on this

[2016-06-17 20:26] peterneyens opened #1139 "MonadState instance for StateT with get as val not serializable (for List)"
The `MonadState[StateT[List, Int, ?], Int]` instance is not serializable if `get` is implemented as a `val`.

 #1138 changes/changed the `val` to a `lazy val`.

[2016-06-18 13:18] ceedubs commented on #1139
Good catch @peterneyens!

I'm wondering if it should be a `def` instead of a `lazy val`. The overhead of `lazy` may be worse than the extra allocations, and I'm always a bit skeptical of `val`s in `traits`. WDYT?

[2016-06-18 14:53] ceedubs commented on #1080
@durban yeah, that does bother me a bit. I think it can only be a problem when reference equality is used (this is how `case _: b.type` works), which means breaking parametricity. It seems unlikely to me that this would be a problem in practice, as it seems like you kind of have to make a concerted effort to make this produce unsound results. For those reasons, and since it's likely to be much mor

[2016-06-18 17:53] ceedubs commented on #1107
@peterneyens I like your idea of `toNested`.

[2016-06-18 17:55] ceedubs commented on #1091
This was introduced in #1114.

[2016-06-18 17:55] #1091 closed

[2016-06-18 17:56] ceedubs commented on #1069
I think this was fixed by #1079 (and even with a scalastyle rule to make sure we are consistent in the future!), so I'm going to close this out. Please feel free to reopen if I'm missing something.

[2016-06-18 17:56] #1069 closed

[2016-06-18 17:57] ceedubs commented on #1061
I think this is all wrapped up now.

[2016-06-18 17:57] #1061 closed

[2016-06-18 17:59] ceedubs commented on #1026
I think this is resolved after #1104 and #1115.

[2016-06-18 17:59] #1026 closed

[2016-06-18 18:00] ceedubs commented on #943
I'm going to go ahead and close this out in favor of #1073.

[2016-06-18 18:00] #943 closed

[2016-06-18 18:02] ceedubs commented on #919
@davegurnell sorry for the long delay, but I think this was fixed in #1001 and should be in the most recent release. I'm going to go ahead and close this out. Please feel free to reopen it if I've missed anything.

[2016-06-18 18:02] #919 closed

[2016-06-18 18:04] ceedubs commented on #855
@non @johnynek @tixxit so should we be changing this in cats-kernel?

[2016-06-18 18:07] ceedubs commented on #823
It sounds like all of these are taken care of except for `filterM`, which is being tracked by #1054, so I'm going to go ahead and close this out. Feel free to reopen if I've missed something.

[2016-06-18 18:07] #823 closed

[2016-06-18 18:17] ceedubs commented on #1125
@OlivierBlanvillain I realized that I never explicitly said this, but if you are interested in giving a cats git-book a try, I think that would be fantastic.

[2016-06-18 18:22] yilinwei commented on #1125
I really like the book of doobie, thanks for linking that!

I've been wanting to clean up the docs as well not just from a beginner perspective but as,

- migration/differences from scalaz
- library authors
- new contributors
- new users of FP

[2016-06-18 18:39] yilinwei commented on #1109
I think it's OK when both are consistent, in the other case captured by @peterneyens comment in #1107.

[2016-06-18 18:39] #1109 closed

[2016-06-18 18:41] ceedubs commented on #791
@benhutchison should we close this out now that [https://github.com/benhutchison/mouse](mouse) is a typelevel incubator project?

[2016-06-18 18:54] ceedubs commented on #749
The official recommendation is now to use [mouse](https://github.com/benhutchison/mouse) for syntax enrichments to std library types that aren't really closely related to cats. I'm going to go ahead and close this out.

[2016-06-18 18:54] #749 closed

[2016-06-18 18:56] ceedubs commented on #773
I'm going to go ahead and close this out, because I think we now have a message about kind-projector on all of the code examples that use it. Please feel free to reopen if we've missed any or if you think there's another way we could make this clearer.

[2016-06-18 18:56] #773 closed

[2016-06-18 19:24] ceedubs commented on #957
@adelbertc since our builds haven't been timing out for a long time now, I'm going to go ahead and close this out. See also the experiment in #1143.

[2016-06-18 19:24] #957 closed

[2016-06-18 19:27] ceedubs commented on #1054
@non to avoid confusion, what do you think about renaming our `fliterM` to `flatFilter` to parallel the relationship between `map` and `flatMap`?

[2016-06-18 19:40] ceedubs commented on #1054
@non on second thought, can you think of any practical example of using the method as it currently exists in cats? `Option` is about the only type that I imagine myself using it with, and in that case it would be pretty easy to use `flatMap` with `filter` instead.

[2016-06-18 19:48] zainab-ali commented on #1125
Could we add experienced users of FP to that list? i.e. users who understand FP, but are new to the way it is implemented in cats.

[2016-06-18 20:46] OlivierBlanvillain commented on #1031
The scala doc could be used a symbol index: http://typelevel.org/cats/api/#index.index-_

[2016-06-18 20:57] OlivierBlanvillain commented on #932
I think cats should adopt the same position than the one with `Task` and recommend other libraries instead of adding a `Read` typeclass.

[2016-06-18 21:07] ceedubs opened #1146 "Use Simulacrum Ops for Traverse syntax"
I just noticed that our `Traverse` syntax seems to be manually-built instead of using the simulacrum ops. It doesn't seem like this should be necessary to me. Does anyone know of a reason that we can't use the simulacrum ops instead?

cc @stew because I think that you originally added it and @mpilquist because simulacrum

[2016-06-18 22:21] davegurnell commented on #919
No worries. Awesome news that it was fixed - thanks for the update!
On Sat, 18 Jun 2016 at 19:03, Cody Allen <notifications@github.com> wrote:

[2016-06-19 17:38] fommil commented on #403
This confused the hell out to me. Trying to use scala-exercises toguide me but there are still cyclic deps, Traverse/Reader

[2016-06-19 21:12] johnynek opened #1150 "pureEval vs a typeclass"
Apologies if this was discussed, but I wonder why `pureEval` was added to `Applicative` vs something like:

[code]
with the law that `Eq[F[A]].equiv(pureEval(e), pure(e.value))`

Seems like making that always present but by default forcing `.value` it removes the ability of the caller of `pureEval` to know if `value` is called immediately or not. With a new type, it would not be optional laziness,

[2016-06-20 00:29] adelbertc opened #1151 "Make FreeApplicative stack safe"

[2016-06-20 07:26] mkotsbak opened #1152 "Add ValidatedIor"
From Gitter:

@mkotsbak 00:03
How is sequence/traverse working with Ior? Could I get it to collect all errors (left sides) so that I end up with IoR[Nel[String], R]?

@sellout 04:26
@mkotsbak Interesting. I’ve been wanting the same thing – basically, a Validated on Ior rather than Xor. For collecting warnings in addition to errors.

@mkotsbak 08:59
Japp, I'm not sure if Ior is designed for that ca

[2016-06-20 08:41] durban commented on #1080
@ceedubs Yeah, I guess a warning in scaladoc is the least bad thing to do. I agree, that in practice, this probably rarely causes a problem, and can appreciate the efficiency argument.

What really bothers me though is that the root cause (if I undestood correctly) is that we're lying to scalac: `Const` is in effect covariant (or, I guess in this case it's phantom-variant), but scalac doesn't know

[2016-06-21 15:40] afiore opened #1156 "Implement Zippers"
I have noticed that, while ScalaZ provides an implementation for [Zippers](http://learnyouahaskell.com/zippers), cats doesn't seem to have one yet. Would that be a useful addition to this project?, and if so, should we use the ScalaZ implementation as a reference?

According to the [Haskell wiki](https://wiki.haskell.org/Zipper#Further_reading), the concept was first formulated in [a paper by Gera

[2016-06-21 17:30] adelbertc commented on #1156
I've found the occasional use of zippers in the past. If we include this I would vote to have it in a separate project or a `cats-zipper` project.

[2016-06-21 17:32] kailuowang commented on #1156
@adelbertc did you consider using shapeless zipper?

[2016-06-21 20:43] #980 closed

[2016-06-24 18:19] adelbertc opened #1158 "FreeT"

[2016-06-25 07:41] adelbertc opened #1160 "Make implicit priority and similarly purposed traits private"
See: https://www.javadoc.io/doc/org.typelevel/cats-core_2.11/0.6.0 - I believe stuff like `OneAndLowPriorityN` should be private.

[2016-06-26 12:26] ceedubs opened #1161 "Run mima check in build"
This is a followup to #1159. We should make the build perform the mima compatibility check (for at least kernel) after our next release (probably 0.7).

cc @johnynek

[2016-06-26 12:27] ceedubs commented on #1161
This is closely related to #608, but this is specifically for kernel, which we will likely enable compatibility checks for before we will other modules.

[2016-06-27 14:41] ceedubs opened #1164 "Create max/min methods for Foldable and Reducible"
We should have methods like `maximumOption`/`minimumOption` on `Foldable` and `maximum`/`minimum` on `Reducible`. The default implementation can simply `foldLeft`/`reduceLeft` through the structure and keep track of the max/min. These methods would require an implicit `Order` instance.

[2016-06-27 14:50] ceedubs opened #1165 "Order instance for String?"
It should be possible to create an `Order[String]` instance. Is this worth adding?

[2016-06-28 10:45] GodPlaysChess opened #1166 "Convenient usage of isomorphisms"
Many times, writing the production and non-production code, I was having isomorphisms, but did not use it because of an absence of convenient syntax for it. Writing Iso.to(instance) defeats the purpose, especially for simple ones.

The idea is to provide implicit conversions to `from` and `to`, to be able to use isomorphic instances interchangeably.

If you agree, that it makes sense, I will do pu

[2016-06-28 11:55] ceedubs commented on #1165
Oops I was looking in the wrong file. This already exists.

[2016-06-28 11:55] #1165 closed

[2016-06-28 12:08] ceedubs commented on #1164
I'll work on this.

[2016-06-28 23:53] yilinwei commented on #1064
Apologies @mpilquist, @ceedubs I've been caught up in the Brexit stuff so haven't been on top of PRs. Will do this, this week.

[2016-06-29 00:59] ceedubs commented on #1064
@yilinwei no need to apologize. That's certainly a bigger issue than this one. Thanks for volunteering -- let us know if you'd like to tag someone else in.

[2016-06-29 19:07] zainab-ali commented on #1158
This sounds interesting.  Presumably something along the lines of
[code]

[2016-06-29 20:07] raulraja commented on #1158
@adelbertc We have two use cases for `FreeT` at 47 both for `Fetch` and `Github4s`. I recall discussing with you back then that stack safety was a concern for implementing `FreeT` and some other areas needed to change to support that. Do you know out of the top of your head if this limitation is cleared? If so we can take a shot at contributing `FreeT` to cats. thanks!

[2016-06-29 22:10] ceedubs commented on #1158
@zainab-ali not quite like that. http://functorial.com/stack-safety-for-free/index.pdf contains some more information (though it uses PureScript as opposed to scala), and scalaz also has one.

[2016-06-29 23:00] adelbertc commented on #1158
@raulraja Hm I don't quite remember the "other areas needed to change" but I suppose yeah, `FreeT` I'm guessing would need to be stack safe for all choice of `F[_]` so we need to be careful with that.

[2016-06-29 23:15] raulraja commented on #1158
Cool, I'll look into it as soon as we get Scala Exercises out this week. Thanks @adelbertchang

[2016-06-30 02:14] benhutchison commented on #1101
IMO this isnt _quite_ done, since there's no [syntax](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/syntax/order.scala) to enable `a comparison b`.

I think (?) Ive seen some syntax in the cats project autogenerated, maybe from `@typeclass`; why doesnt `Order` use that?

[2016-06-30 02:28] adelbertc commented on #1101
@benhutchison Ah true, oops forgot about that.

I believe kernel doesn't use simulacrum to minimize dependencies

[2016-06-30 13:24] beefyhalo commented on #1158
This would be great 👍

[2016-07-03 04:28] tel opened #1175 "Add Choice Profunctor"
Useful for bootstrapping pure profunctor lenses

[code]

[2016-07-03 09:09] fthomas commented on #1175
There is an open PR (#324) by @julien-truffaut that adds this type class under the name `ProChoice`. AFAIC it just needs a bit polishing/documentation.

[2016-07-03 14:45] tel commented on #1175
Yep! Is there a reason it's `ProChoice` instead of just `Choice`, though? Not to bikeshed, but I'm new to the project and that seems very odd to me.

[2016-07-03 16:04] fthomas commented on #1175
One reason for not calling it `Choice` is probably because there is already a different [`Choice`](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/arrow/Choice.scala) type class.

[2016-07-03 18:01] tel commented on #1175
At a high level that seems sort of backwards, though. Arrow `Choice` should just be Profunctor Choice to begin with. The only extra thing you get is the codiagonal bit.

[2016-07-03 18:02] tel commented on #1175
Maybe I should change this PR to "Generalize `arrow.Choice`"?

[2016-07-04 04:33] tel opened #1176 "Profunctor instances for Function1"
These should be natural:

[code]

If `Tuple` had bimap then the definitions would be parallel, interestingly enough.

[2016-07-04 05:43] tel commented on #1175
Also, fwiw, here's a use case I'm developing

https://github.com/tel/scala-telescope/blob/master/src/main/scala-2.11/jspha/telescope/Prism.scala

[2016-07-04 17:50] tel opened #1177 "Add Leibniz equality"
This might fall a bit outside the standard "only the things you need" toolkit, but having a notion of Leibniz equality makes handling type equalities much easier and is useful for some pure functional idioms. Scalaz's implementation is more powerful to account for subtyping, but a simpler version might be the following

I also propose calling it something less scary than "Leibniz equality", so `Te

[2016-07-05 00:13] tpolecat commented on #1177
I think both `Leibniz

[2016-07-05 03:21] tel commented on #1177
I'm a little curious about Lizkov and the subtyping parameters around Leibniz.

Also, any thoughts on `TEq` as the name? The other option I thought about was `Is`.

[2016-07-05 04:13] adelbertc commented on #1177
I've found these to be useful, :+1:

As for naming, I would prefer `Leibniz` and `Liskov` if only to provide access to the general Google-able principle

[2016-07-05 05:13] tel commented on #1177
I suppose I'm not sure how that particular bikeshed is painted in Cats. `A Is B` reads nicely to me and I like the infix, but `Leibniz` is also fine in my opinion. Is it sufficient to just document the technical term?

[2016-07-05 05:19] tel commented on #1177
I'll turn this into a PR to make the discussion a bit more concrete.

[2016-07-07 18:30] tel commented on #1177
@non, to be clear, I think this is a valuable shed to paint in a project like this and I definitely defer to those familiar with the style and spirit of the project!

[2016-07-10 00:37] schrepfler opened #1181 "Scalacheck is polluting end distributable"
I've noticed cats-kernel, cats-kernel-laws and cats-laws import scalacheck (possibly to use discipline?) which then inadvertently leaks upstream as it's not in test scope. Shouldn't it be set as test scope? (this got leaked into the scalajs distro as well which prompted me about it as I think it generates (I think) around 1.3MB of code) I've raised this against discipline as well.

[code]

[2016-07-10 01:13] travisbrown commented on #1181
The cats-kernel artifacts definitely shouldn't have ScalaCheck dependencies, and from a glance at the `_sjs0.6_2.11` pom it doesn't look like they do.

The Discipline dependencies seem totally reasonable to me—it's a testing library, and relies on ScalaCheck for some of its core functionality. Why do you need a non-test dependency on Discipline?

[2016-07-10 01:35] benhutchison opened #1182 "Aliasing `cats.kernel.Order` in `cats._` package leads to ambiguous reference error"
Im using `cats.kernel.Comparison`, which isn't aliased and so requires `import cats.kernel`. I generally have a wildcard import policy for cats packages, which leads to:
[code]

IMO, there are two sustainable options:

* Policy to alias the entire public API of `cats.kernel._` into `cats._`. Implies PRs etc aren't complete until the alias is added.

* Don't alias anything. People have to import bo

[2016-07-10 11:37] schrepfler commented on #1181
I'll inspect the dependency tree in depth when I'm home, it's either from algebra or cats, but it's something that pulls in 1.3 MB of is code where there's probably no need.
https://github.com/schrepfler/crdt-kit/blob/master/build.sbt

[2016-07-10 11:55] benhutchison commented on #1181
The README is directing people to this [dependency](https://mvnrepository.com/artifact/org.typelevel/cats_2.11/0.6.0) which is depending on cats test infrastructure, eg cats-laws.

[cats-core](https://mvnrepository.com/artifact/org.typelevel/cats-core_2.11/0.6.0) seems to be the dependency most people would want I think.

I wonder, whats the intended use for the `cats` dependency, as opposed to `c

[2016-07-10 13:41] travisbrown commented on #1181
In my view the `cats` dependency is more trouble than it's worth—I think the idea is that it's only intended for pedagogical use.

[2016-07-10 19:32] schrepfler commented on #1181
After removing cats it looks much better now, sorry for the false alert. No idea why I chose cats vs cats-core!

[2016-07-10 19:32] #1181 closed

[2016-07-11 06:20] benhutchison commented on #1181
IMO we shouldn't close this just yet, to me its not a false alert.

The badge on the front page is still telling people to use a `cats` dependency, which should be `cats-core` I think.

And ideally an explanation of what `cats` dependency is intended for, perhaps [here](https://github.com/typelevel/cats/blob/master/DESIGN.md#modules).

[2016-07-11 11:03] travisbrown commented on #1181
@benhutchison Maybe we should open a new issue to propose getting rid of the `cats` artifact altogether? The only real role it plays is bundling `core`, `free`, and the laws / tests packages, and it's just as easy to explain how and when users need each of those individual pieces.

[2016-07-11 11:33] benhutchison opened #1184 "Propose stop publishing `cats` bundle"
(Channeling @travisbrown) I propose getting rid of the cats artifact. The only real role it plays is bundling core, free, and the laws / tests packages, and it's just as easy to explain how and when users need each of those individual pieces.
#1181 is example of confusion caused

[2016-07-11 13:35] ceedubs commented on #1181
I'm also in favor of directing people toward the `cats-core` dependency. I think that there's a natural progression of people starting with that and potentially later adding `free` or `laws` as needed for their use-case. I think that @non liked the idea of recommending the "batteries included" version and letting people trim off pieces once they were ready for production usage. I can see some bene

[2016-07-11 13:40] ceedubs commented on #1182
Thanks for brining this up, @benhutchison. I agree that this is something that people shouldn't have to mess with.

I'm inclined to go with the first option (alias the entire public API of `cats.kernel._` into `cats._`). This lines up the most with the current setup. We _could_ make people explicitly import everything from kernel, but personally I view the kernel/core distinction as an implementat

[2016-07-11 23:49] benhutchison commented on #1184
Im actually having second thoughts myself..

@ceedubs clarified the thinking behind the cats artifact: "I think that there's a natural progression of people starting with that and potentially later adding free or laws as needed for their use-case. I think that @non liked the idea of recommending the "batteries included" version and letting people trim off pieces once they were ready for production

[2016-07-12 00:58] travisbrown commented on #1184
I don't really like the "here's how you do this thing (but remember not to ever _actually_ do this thing, because weird stuff will happen)" model of pedagogy. :smile:

In particular I'm not sure there's ever a good reason to have a non-test dependency on cats-laws or cats-tests, and this necessarily makes them a non-test dependency. Apart from them there's just cats-free, and if you get a compiler

[2016-07-12 01:11] benhutchison commented on #1184
Agree on removing cats-{laws/test} from `cats` bundle.

Still see value in "batteries included" though. Right now there's only cats-free but more could be added, eg there's some talk of alleycats coming into cats. If `cats` is "everything you might need for runtime use", then there isn't such a clear need to trim it later.

[2016-07-12 19:49] tdrozdowski opened #1187 "Documentation - Example for Semigroup won't compile SBT/IntelliJ"
Either via sbt compile on command line or in IntelliJ, the examples that are with the Semigroup documentation just don't work.

I had to change things up a bit (looking at your syntax unit tests) to get something to work...

I seems if I import cats.std.AllInstances & cats.syntax.AllSyntax and then add them to an object, I can get that object to compile in both.

i.e.:

[code]

If you don't extend

[2016-07-12 20:23] tdrozdowski commented on #1187
Just realized...

The documentation asks for:

import cats._
import cats.std.all._
import cats.implicits._

And my compiles fail with those imports.

However I remove import cats.std.all._ line - and they all work.  In SBT, in IntelliJ & even in the IntelliJ worksheets...

[2016-07-12 21:01] adelbertc commented on #1187
Hm what you're seeing seems right to me - with `cats.std.all._` and `cats.implicits._` you're probably getting conflicting implicits. Which `Semigroup` documentation are you looking at? If it's the tut ones I'm surprised they compile..

[2016-07-12 21:05] tdrozdowski commented on #1187
http://typelevel.org/cats/tut/semigroup.html

So yeah - the tut ones...

Is there a better set?  Trying to learn/evaluate the framework - and present it to my local Scala UG this week...

[2016-07-13 01:09] benhutchison commented on #1187
IMO root problem is that the docs source (
https://github.com/typelevel/cats/blob/master/docs/src/main/tut/semigroup.md),
which is *correct*, is de-synced from whats at:
http://typelevel.org/cats/tut/semigroup.html .

Terrence, use the source as workaround.

How does it get published to typelevel.org?

On Wed, Jul 13, 2016 at 7:05 AM, Terrence Drozdowski <
notifications@github.com> wrote:

[2016-07-13 09:02] peterneyens commented on #1160
Fixed by #1171.

[2016-07-13 09:02] #1160 closed

[2016-07-13 10:37] peterneyens commented on #1071
This is a more general version of #147.

[2016-07-13 12:05] ceedubs commented on #1176
Since `Arrow` extends both `Profunctor` and `Choice`, I think all of these should be provided by [this instance](http://typelevel.org/cats/api/index.html#cats.std.FunctionInstances@function1Instance:cats.arrow.Choice[Function1]withcats.arrow.Arrow[Function1]). @tel please let me know if I'm missing something or if there is a way we could make this better documented or otherwise clearer.

[2016-07-13 12:10] ceedubs commented on #1187
Thanks for bringing this to attention @tdrozdowski. I'm not quite sure how this came to be.

@benhutchison currently publishing the site is a manual step in the [release process](https://github.com/typelevel/cats/blob/master/PROCESS.md#post-release). We like to keep the site in sync with the latest stable release, so unfortunately it's not as simple as just publishing the site off of the current h

[2016-07-13 12:12] ceedubs commented on #1187
I've just created #1190 to fix this.

[2016-07-13 12:15] ceedubs commented on #1135
Fixed in #1140.

[2016-07-13 12:15] #1135 closed

[2016-07-13 12:17] ceedubs commented on #1139
Fixed by #1138.

[2016-07-13 12:17] #1139 closed

[2016-07-13 12:54] #1187 closed

[2016-07-13 16:35] tel commented on #1176
Hm, that seems correct. Maybe I was misusing something in that I got implicit resolution problems. I'll take another look.

[2016-07-13 17:22] #1146 closed

[2016-07-13 18:48] soc opened #1192 "data.Xor and instances/either.scala: Either is now right-biased"
Either has become right-biased in Scala 2.12, so I think it would make sense to

- check whether instances/either.scala can be cleaned up/stream-lined
- consider whether keeping `Xor` has benefits that are greater than converging on a single `Either` implementation in the Scala ecosystem

[2016-07-14 12:59] ceedubs opened #1195 "Scalastyle rule for javadoc-style comments"
We have settled on javadoc-style indentation for comments such as:

[code]

However, often PRs use the scala-style indentation such as:

[code]

It would be nice if we could force consistency via a scalastyle rule.

[2016-07-14 13:13] ceedubs commented on #1195
I've created a scalastyle feature request for this: https://github.com/scalastyle/scalastyle/issues/211

[2016-07-14 13:15] mpilquist commented on #1195
Note scalafmt supports changing this automatically: https://olafurpg.github.io/scalafmt/#Formattingrules

[2016-07-14 13:42] ceedubs commented on #1195
@mpilquist ah thanks for pointing that out. I had heard of scalafmt, but I never gave it a proper look. I'm always a bit skeptical of code formatters, but I think that for some simple rules like this one and whether there is a space after commas it would be great (better than us nitpicking minor formatting concerns in PRs). That sounds promising to me.

[2016-07-14 17:43] #1176 closed

[2016-07-14 19:53] ceedubs opened #1199 "Machinist issues in scala 2.10?"
I've created a minimal project that just has this in the `build.sbt`:

[code]

And this in `src/main/scala/Test.scala`:

[code]

When I `sbt run` it with scala 2.11.8, I see `2` printed, just as I would expect.

When I do the same with scala 2.10.6, I get the following:

[code]

Note: this happens with cats 0.6.0 as well.

Paging @non or others with macro experience such as @mpilquist, @fthomas, o

[2016-07-14 20:16] mikejcurry commented on #1199
I guess that's using the scala 2.11 specific artifacts with scala 2.10. You can see that there are only 2.11 versions if you look at the reconstructed classpath line

_I think_

`libraryDependencies += "org.typelevel" % "cats-core_2.11" % "0.6.1"` says Use 2.11 version.

`libraryDependencies += "org.typelevel" %% "cats-core" % "0.6.1"` says to use the version that is binary compatible (`%%`)

Anyw

[2016-07-14 22:46] adelbertc commented on #616
@paf31 I wonder if there is such a thing/need for something like `ApplicativeRec` or `ApplyRec`? In exploring the MTL/tagless final stack safety question which `Free` gets.. for free, I figure this is where `MonadRec` comes into play... e.g. instead of

[code]

you would have

[code]

But there's also `FreeApplicative`.. so what of that?

[2016-07-14 22:53] paf31 commented on #616
Is there a good definition of "applicative tail recursion"?

[2016-07-14 23:50] adelbertc commented on #616
I suppose I'm looking for something where

[code]

doesn't block stack (when "run")

[2016-07-15 12:04] ceedubs opened #1204 "Reconsider overloading in NonEmptyVector"
Currently [NonEmptyVector](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/NonEmptyVector.scala) has overloaded `concat` and `++` methods supporting both `NonEmptyVector` and `Vector` as the arguments.

In general I'm a bit skeptical about overloading. In this specific case the main downside I see is that it prevents us from turning `NonEmptyVector` into a value class (

[2016-07-15 17:28] #1054 closed

[2016-07-16 11:41] mikejcurry commented on #1204
:+1: on removing the overloading as a general principle. Also, having a value class would be useful in specific use cases.

The syntax is still useful for working with Vectors directly though. Maybe a rename to `concatVector` or `appendVector` and a different operator such as `+++`.

As an aside, with regard to value classes, it is worth bearing in mind that, as I understand at least, invoking any

[2016-07-16 15:17] ceedubs opened #1206 "Consider adding scalafmt"
As @mpilquist pointed out in #1195, [scalafmt](https://olafurpg.github.io/scalafmt/) can both check that javadoc-style comments are used _and_ automatically format them for you. We may want to consider incorporating it into the project in some way.

[2016-07-16 22:27] yilinwei opened #1209 "Check syntax for typeclass piecemeal imports"
As demonstrated by @ShaneDelmore in the gitter channel, `syntax.flatMap._` doesn't have the functor syntax. I suspect that was because `FlatMap` had some new syntax added on and it doesn't extend the ones that simulacrum generates in the `ToOps`.

We should probably catch these in some tests.

[2016-07-17 05:21] adelbertc commented on #1184
I would like to see a `cats` that includes all modules except test-related things, and then perhaps a `cats-testing` or similar for laws and tests.

[2016-07-17 06:02] adelbertc opened #1210 "Better accommodate MTL style"
**EDIT** Better written post about why the current (at the time of this writing, Oct 9, 2016) type class encoding is insufficient: http://typelevel.org/blog/2016/09/30/subtype-typeclasses.html )

---

One issue with the current approach is if you want to do MTL style programming, you end up having duplication. A short, contrived, example:

[code]

Now I want to define `MonadMagic[Option]`.. but th

[2016-07-17 20:55] mikejcurry opened #1213 "tailRecM on NonEmptyVector seems unsafe."
I would argue `MonadRec` for `NonEmptyVector` is unsafe/impure. This is evident in the implementation which uses `NonEmptyVector.fromVectorUnsafe(buf.result())` to build the final `NonEmptyVector`, and which may throw an `IllegalArgumentException`.

Given the signature of `tailRecM`, I'm not sure it is reasonable to provide an implementation of `MonadRec` for any data type which does not support s

[2016-07-17 21:30] mikejcurry commented on #1213
Actually, I'm just being stupid. Just read the docs and it will keep calling until an Xor.Right is returned.

Closing.

[2016-07-17 21:30] #1213 closed

[2016-07-17 22:15] peterneyens opened #1214 "NonEmptyVector unsafe apply method"
With the `apply` method we get because `NonEmptyVector` is a case class, we can create an empty `NonEmptyVector`.

[code]

Should we turn it into a regular class with the following private `apply` method ?

[code]

[2016-07-18 05:06] adelbertc commented on #1210
Related issue, it seems we also currently suffer from ambiguous implicits:

[code]

The above doesn't work because both `MonadReader` and `MonadState` give a valid `Monad[F]`. If we remove one of them, it works fine:

[code]

[2016-07-18 11:08] ceedubs commented on #1214
Ouch, good catch. For some reason I was thinking that the generated `apply` was private when a case class constructor is marked private.

This is beginning to seem like the right solution to me. If it stays a case class we'll need to override both the `apply` and the `copy` method to make them `private`. And even then we don't _really_ want either of them to exist, because we'd prefer to just have

[2016-07-18 19:02] johnynek commented on #1210
we would not need implicit conversion would we? For instance this would work:

[code]

The ambiguous implicits problem of the second example is a bigger problem if you ask me. That said, I'm pessimistic about solving it. Cats uses extension pretty heavily throughout the design. One alternative could be something like:
[code]
This is anti-modular because subtypes implicit resolution looks up, while

[2016-07-18 19:32] adelbertc commented on #1210
I think the approach you sketched out is similar to the approach taken in [scato](https://github.com/aloiscochard/scato) which is also the approach taken in [scalaz8](https://github.com/scalaz/scalaz/tree/series/8.0.x).

Completely agree on the ambiguous implicits being more serious, but I do think it needs fixing/looking into. The small example I used is a completely reasonable use case, it just

[2016-07-19 10:52] peterneyens commented on #579
I think #1211 added the last missing `Contravariant` instance, so I am closing this issue.
We can still reopen this if someone finds a missing instance.

[2016-07-19 10:52] #579 closed

[2016-07-20 09:21] ceedubs commented on #1080
@durban I agree that it's unfortunate that `Const` is phantom-variant but that we have no way of representing this with Scala's support for variance. I think it would be arbitrary to mark it as either covariant or contravariant, so I'm not sure either of those make much sense.

I'm going to go ahead and close this out since #1208 was merged. But please feel free to continue this conversation.

[2016-07-20 09:21] #1080 closed

[2016-07-20 12:02] ceedubs opened #1219 "More Tuple2 instances"
I think there are some more useful instances that we could have for `Tuple2`.

Some that come to mind are:

- [ ] `Traverse`
- [ ] `Comonad`

[2016-07-20 14:42] kailuowang commented on #1219
fixed by #1220

[2016-07-20 14:42] #1219 closed

[2016-07-21 18:50] #1164 closed

[2016-07-22 12:31] ceedubs commented on #574
I'm quite happy to close this out in favor of the SI-2712 fix. There's #1073 to track the details of that transition for Cats.

[2016-07-22 12:31] #574 closed

[2016-07-22 13:57] aebrett opened #1222 "No typeclasses for Seq"
I see there are typeclasses under cats.std for List and Vector (among others), but none for Seq. Is there a reason no typeclasses for Seq are provided? If it's simply that there's been no demand previously, then I'm happy to raise a PR to add this.

[2016-07-22 17:28] ceedubs commented on #1222
Thanks for bringing this up, @aebrett. This is a question that comes up every once in a while on Gitter, but it looks like we currently don't have an explanation of this in the docs anywhere (such as in the [FAQ](https://github.com/typelevel/cats/blob/master/docs/src/main/tut/faq.md)).

The short answer is that `Seq` doesn't tell you much. Unlike `List` or `Vector`, you don't know what the perform

[2016-07-22 18:41] johnynek commented on #1222
While I agree that `Seq` is not the greatest abstraction (for many of the reasons mentioned above), it is the standard library and users will sometimes have to deal with Seq.

It is unfortunate that `Seq` may or may not be mutable, but would it violate any laws to implement `Foldable` or `Traversable` or `Monad`?

I don't see how. Can you demonstrate a failure case?

I also think we do more servic

[2016-07-22 18:49] ceedubs commented on #1222
@johnynek I think it depends on what your definition of equality is for the laws. For example, the functor laws say that I should be able to freely replace `fa.map(identity)` with `fa`, but that's not necessarily the case with mutable sequences. See [this conversation](https://gitter.im/typelevel/cats?at=574da9f4da3f93da6f21fa7e).

Also, are we referring to `scala.collection.Seq` or `scala.collect

[2016-07-22 20:04] johnynek commented on #1222
"On the other hand, I think that people probably generally know that if they mutate objects then that will affect the results that they get."

I agree with this.

In my view, we should show a problem using best practices. If we have to use exceptions, nulls, casting, or mutation to show an issue, in my mind, that is mostly showing the danger of those practices and not reason to avoid support in ca

[2016-07-23 11:03] carldong opened #1224 "Should there be an IO Monad?"
I noticed that Cats does not have an IO monad, while Scalaz does. Is there a reason not to include it in the current implementation? Or is it just "unimplemented"?

[2016-07-23 21:15] adelbertc commented on #1224
I believe the omission of an IO or Task monad in Cats is on purpose. I've tried to list the reasons below:

1. There can only be one IO monad since it sits "at the bottom" and it is sketchy to interpret from one IO/Task monad to another due to execution semantics. That being said, between libraries like [FS2](https://github.com/functional-streams-for-scala) and [Monix](https://github.com/monixio)

[2016-07-24 02:21] carldong commented on #1224
Does it have something like an IO monad, then? Or is it just not a common pardigm used in Scala?

If so, what is used to explicitly "mark" impure functions (although I know Scala is an impure language)?

[2016-07-24 16:34] ceedubs commented on #1150
In case it's of any interest, today on Gitter @tpolecat [had me questioning](https://gitter.im/typelevel/cats?at=5794dc4c1b9de56c0edd887a) `pureEval`.

[2016-07-24 22:32] yilinwei commented on #1224
@carldong

If I want what @adelbertc calls a pure IO Monad I simply alias a `type IO = Reader[World, A]` where `World` has the subset of features which delegates to a suitable library such as java nio. This is (usually) sufficient to mark effects.

[2016-07-24 23:19] adelbertc commented on #1224
@carldong If stack safety is not a concern a plain encoding can be used:

[code]

Short of that, for now you'll have to use something from an existing lib like FS2's Task or Doobie's IOLite: https://github.com/tpolecat/doobie/blob/series/0.3.x/yax/core/src/main/scala/doobie/util/iolite.scala

[2016-07-25 02:55] tpolecat commented on #1150
What does "true laziness support" mean? Would it be a guarantee that the `Eval` is forced always (and only) on `ap`? We can't state that as an identity because it would only be observable in the presence of side-effects (including non-termination). So I take this as a hint that it's probably not a real abstraction.

[2016-07-25 11:10] carldong commented on #1224
I am more used to Haskell programming so I guess stack safety is pretty important... I will try, though.

[2016-07-25 11:33] ceedubs commented on #1224
FYI I've created #1227 to add a note about `IO`/`Task` (or the lack thereof) to the FAQ.

[2016-07-25 11:36] aloiscochard commented on #1210
Hey @adelbertc,

Yes this is exactly the approach taken initially in `scato` which serve now as a basis in `scalaz8`, we are moving forward with it and it seems to works well.

The only thing is that I don't think it's realistic to expect being able to encode the hierarchy in the companion of the type classes, we basically use a big `TC` module that is part of the root scope.

This way we can fine

[2016-07-25 12:33] zainab-ali commented on #556
I prefer invariance for the reasons above, but still need a workaround to widen errors.
What do you think about adding a `leftWiden` on `XorT`?  I'd be happy to make a PR for it.

[2016-07-25 16:25] adelbertc commented on #1224
@carldong If you're going to end up using streams, then bringing in something like scalaz-stream (aka FS2) (or Monix) is probably the way to go. If you also end up doing some database or HTTP work, there's also libraries like Doobie and HTTP4S that have bindings to scalaz-stream.

[2016-07-25 17:25] johnynek commented on #1150
@tpolecat yeah, I think that's right. You could test that by using a `var` that you increment in an `Eval.Once` and verify it has not been incremented after `pureEval`.

Is it a "real abstraction"? I don't know, but I know some `M[_]` do support laziness (for instance twitter's Future), which can have some implications for resource or stack safety.

That said, I am wondering if we just want to hav

[2016-07-26 01:05] kevinmeredith opened #1232 "filterM - Not Behaving Like Haskell's for Powerset?"
Looking at `filterM`:

[code]

As I partially understand, `cats`'s `filterM` does not behave like Haskell's:

[code]

Why is that?

[2016-07-26 01:06] kevinmeredith commented on #1232
Closing per @travisbrown's https://twitter.com/travisbrown/status/757743698511794180.

[2016-07-26 01:06] #1232 closed

[2016-07-26 01:39] benhutchison commented on #1184
I started a PR to try close this, that'd remove test-related things from `cats`, but got stuck on some [SBT voodoo](https://gitter.im/sbt/sbt?at=5795a2a21b9de56c0ee44c43) in [build.sbt](https://github.com/typelevel/cats/blob/master/build.sbt#L179).

If anyone knows too much about Ivy Configurations and could educate & unblock me, I'll be very grateful and send a PR to close this issue in return ;)

[2016-07-26 13:22] ceedubs opened #1233 "Document version compatibility goals"
I think that we should document what our goals are with respect to binary/source compatibility as we reach 1.0.

I'd be inclined to propose the following:
- A change to only the patch version will always be binary compatible. For example `1.0.2` is binary compatible with `1.0.0` and `1.0.1`.
- A change to the minor version number may not be binary or source compatible. For example, `1.1.0` is not

[2016-07-26 14:08] kailuowang commented on #1233
I pondered a bit on the 2 year support. If there is no new minor release, shall we continue supporting it after 2 years? As such a foundational library I can see the possibility of it remaining binary compatible for more than 2 years (probably not 1.0 but maybe 1.3, 1.4), no?
(Of course we don't want to support an outdated minor release for too long)

[2016-07-26 14:17] kailuowang commented on #1233
Just my 2 cents.
Shall we also include in the vision that we should try to maintain binary comp between minor versions also as much as possible? Or maybe be specific about a certain target minor release's binary compatibility goal on a case by case basis?
As such a foundational library, binary comp is really important, I am not sure a guarantee of only patch version binary comp is strong enough, a

[2016-07-26 16:22] adelbertc commented on #1150
Another concern I ran into yesterday was that `pureEval` defaults to calling `pure` with `eval.value` - if anything I feel this should be the other way around, that `pure` calls `pureEval` with `Eval.now(a)`.

The specific situation I ran into is writing an `IO` type with a `MonadCatch` type class. One of the laws of `MonadCatch` involves "throwing" an exception which relies on a lazy `pure`. When

[2016-07-26 17:50] johnynek commented on #1233
In my view, version numbers are cheap but compatibility promises are valuable. I would go for something closer to semantic versioning:

After 1.0.0, changes mean:
patch level change: zero API or semantic change, only method local changes for bug fix or performance fix.
minor level change: any API *addition* that is source and binary compatible (at least binary compatible because we have a tool to

[2016-07-27 00:25] ceedubs commented on #1233
@johnynek are there examples of other prominent libraries in the scala ecosystem using that sort of versioning scheme? Out of all of the libraries that I've had to worry about version compatibilities in recent years (scalaz, shapeless, akka, scodec), minor versions track binary incompatibilities and major versions track significant changes to the library (rewrites, major overhauls, etc). I don't h

[2016-07-27 00:31] ceedubs commented on #1224
I'm going to go ahead and close this out since there's now [an item in the FAQ](https://github.com/typelevel/cats/blob/master/docs/src/main/tut/faq.md#task) for this. Thanks for reminding me that it should be added @carldong.

[2016-07-27 00:31] #1224 closed

[2016-07-27 01:57] rongcuid opened #1235 "`Reader` is not an instance of `MonadReader`?"
Not sure if cats try to make use of MTL-like programming idiom. Currently when trying the `Reader` monad I found that it is not an instance of `MonadReader`, which means `ask`, `local` cannot be used. However, I notice that `State` has its `get`, `put`, etc. So can I guess that `Reader` has the functions unimplemented?

[2016-07-27 04:13] adelbertc commented on #1235
`Kleisli` should have it: https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Kleisli.scala#L114

and `Reader` is just `Kleisli[Id, _, _]`. Maybe a SI-2712 issue? Try annotating types

[2016-07-27 04:53] carldong commented on #1235
Then what am I supposed to use in a `for` comprehension?

Currently I have to

[code]

Is the correct way like this?

[code]

[2016-07-27 04:55] adelbertc commented on #1235
So `Kleisli` has an `ask` method directly on the companion object, so you can do something like `env <- Kleisli.ask[Option, Int]`. If you want to use `MonadReader` you should be able to get the instance via `MonadReader[Kleisli[Option, Int, ?], Int]` (if you have kind-projector)

[2016-07-27 05:36] carldong commented on #1235
Then what am I supposed to use in a `for` comprehension?

Currently I have to

[code]

Is the correct way like this?

[code]

[2016-07-27 09:11] olafurpg commented on #1206
I'm happy to answer any questions. I am also open to add new flags to capture the Typelevel coding style.

[2016-07-27 11:42] mkotsbak commented on #1152
Hmm, would this be a monad supporting map/flapMap like Ior, or not like Validated?

[2016-07-27 12:24] ceedubs commented on #1235
@carldong here is a small example of using `MonadReader` with `Reader`:

[code]

I think it'd be great if we could add some documentation for this sort of thing. Currently there is some [documentation on `Kleisli`](http://typelevel.org/cats/tut/kleisli.html), but it doesn't really go into anything like this.

[2016-07-27 12:26] ceedubs commented on #1206
@olafurpg thank you, that's a very kind offer!

I'm not sure that I'll get to this right away, but I definitely want to look into it. And maybe someone else will beat me to it :)

[2016-07-27 12:36] ceedubs commented on #1152
@mkotsbak if it collects errors then I think it would need to _not_ be a monad (like `Validated` isn't). If it _did_ have a `flatMap`, it would run into the same issue where `flatMap` and `ap`/`map2` wouldn't be consistent.

@sellout @mkotsbak do you have a handy example of how you might use this? I'm not opposed to it, but I can't think of a time that I've run into a need for this. I've used some

[2016-07-27 13:43] carldong commented on #1235
Huh, I thought `import cats.implicits._` should do it. Should ther be something like `implicit val readerM[E] = MonadReader[R, E]` defined? Or am I understanding Scala implicits incorrectly(because I came from Haskell and there these things just work)

[2016-07-27 14:07] ceedubs commented on #1235
@carldong you are correct that `import cats.implicits._` _does_ bring in all of the type class instances that you need (via implicits). _However_, the MTL style is just kind of awkward in Scala (or at least the way that Cats has encoded type classes/MTL). In theory you could just `import Klielsi._` and that would bring its `ask`, `pure`, and `local` methods into scope and you could do exactly what

[2016-07-27 14:34] carldong commented on #1235
OK... Kind of hard to get used to a quite-functional-but-totally-not-pure language... I'll try to understand the implicits and type inference magics(for me).

Plus I'd check Fredge too.

[2016-07-27 15:24] #1150 closed

[2016-07-27 19:02] sellout commented on #1152
@ceedubs That `WriterT` won’t maintain the warnings after a failure, though. I think `ValidatedT[Writer[List[Warning], ?], Nel[Err], ?]` is more the type I wanted (maintaining the warnings even with fatal errors, and accumulating errors as well). But that doesn’t exist either.

[2016-07-27 19:39] travisbrown commented on #1222
Another issue with `Seq` instances is that we have to worry about prioritization with respect to the instances for `List`, `Vector`, etc. Even apart from that, unless we introduce a bunch of `CanBuildFrom`-like machinery, we're going to end up pushing types up to `Seq` in ways that may be surprising to people who are used to the standard collections library.

I personally couldn't care less about

[2016-07-27 20:10] andyscott opened #1237 "Possible to add MonadError[Option, A]?"
There's already an instance of `MonadError[Option, Nothing]`. Would it be possible to add `MonadError[Option, A]` implicit instances?

[code]

I could see there being some issues with `handleErrorWith`. Not sure.

[2016-07-27 20:45] johnynek commented on #1237
is there a law that:

``` handleErrorWith(raiseError[A](a))(pure(_)) == pure(a)```

I would think we would want something like that, and the above violates it.

PS: `x.orElse(None) == x`

[2016-07-27 23:17] ceedubs commented on #1237
@andyscott what's the value in being able to pass in an `A` value if it's always ignored?

I think that this would violate at least one of the laws in `ApplicativeErrorLaws`/`MonadErrorLaws`, but I haven't taken a close look yet.

[2016-07-28 08:45] wedens commented on #109
@mandubian I think Codensity is quite useful in real life. Example: https://github.com/scalaz/scalaz/pull/1224

[2016-07-28 18:50] andyscott commented on #1237
I'd like to be able to do the following abstraction:

[code]

Currently this yields `could not find implicit value for evidence parameter of type cats.MonadError[Option,Throwable]`

[2016-07-29 11:36] ceedubs opened #1242 "Sproradic (but frequent) JS build failures"
Recently we started seeing the following sporadic build failures (during JS phase). Do any folks with scala.js experience know what might be going on here?

I _think_ that the first time that I noticed it was after #1231, but I'm not sure. I'm pretty sure that I _did_ see this happen at least once before the recent switch from scala.js 0.6.8 to 0.6.11.

Below is an excerpt from the logs. You can a

[2016-07-29 12:47] ceedubs commented on #1206
@olafurpg I just gave scalafmt a spin on the cats codebase. To start off, I just used all of the default parameters except used `--javaDocs` since we've settled on that convention. I've had a skepticism with code formatters in the past, but I'm delighted to say that I was really pleased with the results! You've done an excellent job.

There are only 2 items that I've noticed so far that I'm not en

[2016-07-29 18:41] adelbertc commented on #1210
So I randomly tried this:

[code]

and it seems to work? I'm expecting this to fail somewhere else you would want it to work... leaving here for feedback

[2016-07-29 19:07] andyscott commented on #1237
I've played around with this a bit and it definitely breaks the existing laws for `MonadError` (and `ApplicativeError`). Regardless, I'd like some way to perform the abstraction in my previous comment. Any ideas?

[2016-07-30 00:35] mikejcurry commented on #1214
I believe this is resolved by #1212

[2016-07-30 00:36] mikejcurry commented on #1204
Believe this should be resolved by #1212

[2016-07-30 02:01] #1214 closed

[2016-07-30 02:02] #1204 closed

[2016-07-30 09:14] aloiscochard commented on #1210
@adelbertc we did experiment a bit with this, but due to the limitation you are facing we decided to keep this approach only for the template system.

You can find the latest revision of the template system (designed mainly by @jbgi) that should be merged soon in this PR: https://github.com/scalaz/scalaz/pull/1217

For example: https://github.com/jbgi/scalaz/blob/d5f101700c50a7930141f212a6f23bce95

[2016-07-30 10:51] ceedubs commented on #1237
@andyscott `ApplicativeError` is an abstraction representing both the ability to raise errors _and_ to recover from them. In your case it seems like you can't recover from them, because in certain cases you are throwing the errors away.

You may want to create your own type class that extends `Applicative` and adds `raiseError` but not `handleErrorWith`. However, such a class wouldn't have very st

[2016-07-30 10:51] #1237 closed

[2016-07-30 14:31] ceedubs commented on #1064
@yilinwei are you still pursuing this? I was thinking it would be nice to get going on this, and I'm happy to take over the effort if you can't get to it at the moment.

[2016-07-30 21:27] yilinwei commented on #1152
@sellout Applicatives compose so I think you could use a `Nested` for that behaviour?

[2016-07-30 21:28] yilinwei commented on #1064
@ceedubs

Feel free to take it up - the `Arrow` syntax should probably be a different issue since I was still mulling over some of the ways we're using it in our code before committing to a particular syntax.

[2016-07-31 23:17] kovszilard opened #1252 "Rearrange Typecalsses in tutorial in a easy to follow manner"
Currently on the bottom of the Typeclasses tutorial page the list of all the Typeclasses are in alphabetical order. It would be easier to follow the tutorial for example in this order:
Semigroup, SemigroupK, Monoid, MonoidK, Functor, Apply, Applicative, Monad, MonadCombine, MonadFilter, Foldable, Traverse, Id, Show, Invariant, Contravariant

I might be wrong but i think it can be done by renaming

[2016-08-01 15:43] olafurpg commented on #1206
That makes me happy to hear, thanks!

This is a bug, there should be no space there. I've opened an issue https://github.com/olafurpg/scalafmt/issues/375

I agree that scalafmt should be more consistent there. According to my expectations, the `outer =>` in the second example should stay on the same line as the opening `{`. I've opened an issue https://github.com/olafurpg/scalafmt/issues/376

Than

[2016-08-01 16:02] travisbrown opened #1253 "Draft 0.7.0 release notes"
We'd like to publish an 0.7.0 release in the next few days, and we need release notes. Since this release includes a number of large breaking changes (I just updated circe and my other Cats-dependent projects to the 0.7.0 snapshot yesterday and it took a couple of hours longer than I expected), I think it'd be a good idea to include something like a migration guide in addition to the summary of pu

[2016-08-02 02:11] adelbertc commented on #1192
I have a preference towards moving to the stdlib `Either` in Scala 2.12 - especially with it becoming right biased my guess is libraries will begin converging towards using that and converting back and forth is tedious and annoying. That being said I would also like to see more useful methods being added to `Either`. There will also undoubtedly be methods we'd like to see on `Either` that won't ex

[2016-08-02 12:45] mpilquist commented on #1192
@adelbertc Any thoughts on 2.10/2.11 compatibility? E.g., would `import cats.implicits._` patch right-biasness on to `Either`?

[2016-08-02 16:58] adelbertc commented on #1192
@mpilquist Yeah that's what I was thinking. Users will have to pay a penalty if they wish to stick with a la carte imports, I'm guessing via `cats.syntax.either._` or something like that. Though that also opens the doors for Cats beginning to support syntax for stdlib types, something in the past we've decided not to do. But I do think the benefit of moving onto stdlib `Either` is something worth

[2016-08-02 17:11] adelbertc commented on #1192
Oo I also just realized you can do (possible immoral) tricks like this:

[code]

[2016-08-02 21:21] soc commented on #1192
@mpilquist You could have a version-specific import, which would add the missing methods to Either on 2.10/2.11 and would be empty on 2.12.

[2016-08-02 22:58] tpolecat opened #1260 "CartesianBuilder's .map is slightly irritating"
So, when we copied scalaz's `ApplicativeBuilder` syntax `(a |@| b |@| ...)(f)` we changed the final `.apply` to `.map` which is an innocent but perhaps unhelpful change. My particular issue is that I'm trying to maintain code that needs to compile with both cats and scalaz; most code works fine just by changing/renaming imports, but this syntactic difference requires additional machinery.

Right n

[2016-08-02 23:29] rossabaker commented on #1260
I'm currently [experimenting with syntax](https://raw.githubusercontent.com/http4s/http4s/wip/cats-fs2/core/src/main/scala/org/http4s/compat.scala) to smooth the transition from scalaz to cats.  (Somehow I missed CartesianBuilder thus far!).  I've wondered about spinning this off as a library, with everything deprecated, so that `s/import scalaz/import cats` holds the developer's hand through find

[2016-08-03 01:43] kailuowang commented on #1260
Just want to link PR #1112 here since it proposes to rid of the `|@|` syntax.

[2016-08-03 06:57] julienrf commented on #1260
Since the applicative builders work with applicative functors as well as with applicative contravariant and invariant functors, I don’t think it is a good idea to make `.apply` a shorthand for `.map`. The name `.map`, `.contramap`, etc. makes it clearer what the intention of the user is.

[2016-08-03 07:54] tpolecat commented on #1260
@julienrf ah ok, I didn't know there were other operations. That makes sense. Ok, I'm convinced.

[2016-08-03 07:54] #1260 closed

[2016-08-03 15:17] #1242 closed

[2016-08-03 18:47] markus1189 commented on #1151
I would be interested as well, @adelbertc are there any pointers how to do this?

[2016-08-03 19:03] ceedubs commented on #1113
I have this working on a local branch that I need to get around to turning into a PR.

[2016-08-03 19:03] ceedubs commented on #1088
Resolved by #1137

[2016-08-03 19:03] #1088 closed

[2016-08-03 19:04] ceedubs commented on #1087
Resolved by #1231

[2016-08-03 19:04] #1087 closed

[2016-08-03 19:05] ceedubs commented on #1206
@olafurpg fantastic. Thanks!

[2016-08-04 07:25] adelbertc opened #1263 "Align type class"

[2016-08-05 13:58] Atry opened #1268 "Arrow and Choice does not have Ops"
Since https://github.com/mpilquist/simulacrum 0.8.0 support generating `Ops` for type classes of higher kinded types. I wonder if we could upgrade `simulacrum`.

[2016-08-05 15:02] ceedubs commented on #1268
This is happening in #1247.

[2016-08-05 19:57] adelbertc commented on #1192
So assuming nobody objects to this today I'll start work on this tomorrow. My plan:

1.  Add any missing methods currently available on `Xor` to `Either` via an implicit class available under `cats.syntax.either`
2. Redo `XorT` to be centered around `Either`
3. Fix the compiler errors (yay types!)

[2016-08-05 23:28] travisbrown commented on #1192
I finally get to use the :-1: on GitHub! :smile:

As I said on Gitter, I'm strongly opposed to removing `Xor` (or replacing it with `Either` in the Cats API), at least until we stop supporting 2.11, and probably after.

Relying on extension methods for something as basic as `flatMap` on a core type like this just isn't worth whatever interop benefits we'd get by using `Either` everywhere. It's eit

[2016-08-05 23:34] adelbertc commented on #1192
@travisbrown Is there as big of a performance difference with an implicit value class?

[2016-08-05 23:56] travisbrown commented on #1192
@adelbertc It helps in the `for`-comprehension case, but then you're balancing a `flatMap` you get directly vs. the one you get from the `Monad` instance and syntax, you've got different sets of imports that do the same thing but work very differently, and in general it's just a whole big awful bag of half-broken Scala magic instead of nice and simple `Xor`.

[2016-08-05 23:59] soc commented on #1192
@travisbrown This sounds all very unspecific to me. Are there some specific issues that you can share?

[2016-08-06 00:26] travisbrown commented on #1192
@soc For the record, here's [one concrete example](https://gitter.im/typelevel/cats?at=57a52c88483751d50f2d62fd) of that kind of prioritization issue.

[2016-08-06 02:07] djspiewak commented on #1192
Strongly in favor.  Data classes like `Xor`, `State` and (to a lesser extent) `Kleisli`) are incredibly hard to work around, compatibility wise, when you're talking in terms of middleware frameworks.  fs2 is already using `Either`, and it seems like http4s is going to standardize on `Either` for broadly the same reason.  Even if cats keeps `Xor`, there's a very real chance that no one will use it

[2016-08-06 02:27] travisbrown commented on #1192
@djspiewak I don't understand what you mean by the `Xor` companion object here, or how you could make `Either` behave consistently across 2.11 and 2.12 without imports.

[2016-08-06 02:28] djspiewak commented on #1192
@travisbrown Oh derp.  For some reason I thought we could put the implicit magic in `Xor`'s companion and somehow have that resolve for `Either`.  Blame it on travel fatigue.  Imports are clearly required.

[2016-08-06 05:52] alexandru commented on #1192
In my projects I already preferred Either to Xor, even before finding out that Either will be right biased in 2.12. The reason is that Either is standard and in use much more than alternatives like Xor will ever be. And this is important for interoperability and learning curve. Don't get me wrong, the right bias is cool, but using a right projection on Either is a bearable nuisance. Plus I actuall

[2016-08-06 07:11] adelbertc commented on #1192
Since it looks like there's a bit of debate going on I'll hold off on submitting a PR (if necessary) until we reach some sort of agreement.

[2016-08-06 14:33] olafurpg commented on #1206
Both of these issues have been fixed now. I'm hoping to get a release out this weekend. If you stumble into other issue please let me know :)

[2016-08-06 22:38] adelbertc opened #1272 "Make cats-kernel law organization consistent with cats-core"

[2016-08-07 05:14] rossabaker commented on #1192
The commit above has an exploratory, ugly implementation of this.  I won't step on @adelbertc's toes for a pull request, but the commit discusses some pros and cons in the context of a cats library that has to deal with `Either` anyway.

[2016-08-07 15:21] ceedubs commented on #1206
Thanks a bunch, @olafurpg!

[2016-08-07 20:49] adelbertc opened #1274 "Add Arbitrary instances for all data types"

[2016-08-08 02:25] adelbertc commented on #1192
It seems the fiddly-ness with regards to getting right-biased behavior on stdlib `Either` is entirely on our side. Assuming we do it correctly users need not know what's going on, which I think is fine.

As for the behavior for Scala 2.1{0, 1} and Scala 2.12, it should just work right? It won't look or an implicit conversion/class unless the method is missing. In Scala 2.1{0,1} calling `flatMap` w

[2016-08-08 03:57] rossabaker commented on #1192
`batteries` is a concept to reduce branch divergence while I attempt to support http4s on two stacks for a bit.  Here it is with more traditional a la carte imports (Scala 2.11.8, cats 0.6.1):

[code]

This is only going to bite people not using SI-2712, supporting Scala < 2.12, with `_[_]` type aliases for `Either`.  This might be a small population, but it bit me almost immediately.

[2016-08-08 11:16] philwills commented on #1192
In general I'm all for both using stdlib types and optimising for the future, but the kind of subtle inconsistencies that @rossabaker and @travisbrown mention do make me nervous.

I wouldn't know which way to cast a vote, so I'm not sure this is a terribly helpful contribution, but I'm glad to see it getting plenty of thought.

[2016-08-08 21:50] jonoabroad commented on #1192
Keeping `Xor` around until 2.12 is out seems like less work for those of us relying on it.

[2016-08-09 01:04] jdegoes opened #1275 "Attribution or original author clause as part of contributor agreement"
See [here](https://twitter.com/puffnfresh/status/762790754066440192) for context.

Quick thoughts:

1. I'd suggest the CLA (which the project does not appear to have yet) mandate original authorship or proper attribution. Once such a policy is instantiated, every contributor could be contacted to certify original authorship or provide proper attribution, thus catching contributions up to the polic

[2016-08-09 01:15] travisbrown commented on #1275
👎 to a CLA, 👍 to more explicitly forbidding copy-paste without proper attribution.

[2016-08-09 01:17] johnynek commented on #1275
+1 to this. It is fine to share code, but copyright and license annotations should be preserved.

I don't know the exact solution here because I am not familiar with what fraction of the code is copy/paste or trivial modifications of existing code.

One solution Brian mentioned was: https://twitter.com/puffnfresh/status/762811494719291393 but I don't think that's such a great solution as:
1. many

[2016-08-09 01:26] jdegoes commented on #1275
For some, "contributors" may imply endorsement and / or intentional activity, so "Attribution" or some other section distinct from contributors and prefaced appropriately may be a more broadly appreciated way of providing attribution.

[2016-08-09 01:32] johnynek commented on #1275
So, this file is here (as pointed out in gitter):
https://github.com/typelevel/cats/blob/master/COPYING

which contains the scalaz notice.

That may not be enough. I still think if you contribute something you should state where it came from if not original work (whatever that means in this area that is so highly derivative of other work generally).

[2016-08-09 01:48] jdegoes commented on #1275
Indeed, the wording makes it seem like this was a one time thing that stopped in 2014 (based on the copyright). Not that it is being "continuously derived" from Scalaz, including recent 2016 code, and including many contributors not mentioned in the copyright notice, such as Brian McKenna.

👍 In many projects, I often see these notices in the code itself, e.g. `This function was based on so and so

[2016-08-09 01:58] stew commented on #1275
@jdegoes note that when you say "the wording makes it seem like this was a one time thing that stopped in 2014", that we MUST not change this wording. It is exactly what is required by the scalaz redistribution license, see here:

https://github.com/scalaz/scalaz/blob/series/7.3.x/etc/LICENCE#L7-L8

If this copyright notice is to change, it should only change after scalaz changes their license.  W

[2016-08-09 06:11] fommil commented on #1275
A CLA is a good thing but only if it agrees word for word with the License that is offered to the public. Don't do what Lightbend do and accept Apache code, but release under the weaker modified BSD.

This isn't a CoC concern. It's a legal and licencing concern. Let's not mix it up.

Attribution is a legal requirement if the original code has a copyright notice and a modified bsd style license (as

[2016-08-09 08:50] aloiscochard commented on #1275
There is legal framework, for which you might give a shit but I don't. Then there is moral and netiquette.

For the later I think you should clearly attribute copy/pasted works, I think it's a shame it was not done properly before.

[2016-08-09 10:23] fommil commented on #1275
The scalaz license is here https://github.com/scalaz/scalaz/tree/series/7.3.x/etc but there is no license for 8.x and until there is, I recommend not deriving any works from it.

They could change to a license that is not compatible with cats. You cannot assume that the previous license applies.
Indeed, they are breaking their own license terms and a disgruntled contributor could kick up a fuss ab

[2016-08-09 12:29] jdegoes commented on #1275
Exactly. IMO a copyright license is not the rug to sweep all attributions under.

Note that a CLA provides other features important for some businesses, such as offering legal protection against submitting non-original work for which the submitter does not have sufficient rights; protection against use of patented materials or trademarks, etc. Some companies will not allow use of open source proje

[2016-08-09 12:29] #1275 closed

[2016-08-09 13:58] fommil commented on #1275
@jdegoes

a CLA can't possibly protect against this, unless it requires the submitter to take the liability, which would be unlimited. All a CLA can realistically do is remind the contributor that they should only be submitting original content or flagging up derivatives work.

Agreed. I consider such minimal CLAs to be good CLAs. Although I may add a gentle reminder about non-original works to al

[2016-08-09 15:15] mpilquist opened #1277 "Semantics of `Free.suspend` changed in 0.7.0"
I'm not sure if this is an issue or not but we changed semantics of Free.suspend in 0.7:

[code]

Whereas in 0.6.1:

[code]

This is because step [eagerly evaluates `FlatMapped(Pure(x), f)` when stepping](https://github.com/typelevel/cats/blob/97fc7625923076180a5a2dd7f03798882c85c26d/free/src/main/scala/cats/free/Free.scala#L39), which used to be safe in presence of `suspend`, b/c [`suspend` inclu

[2016-08-09 15:32] mikejcurry commented on #1277
@mpilquist - I think you meant @non as opposed to `d6`? - apologies if I got that wrong.

[2016-08-09 15:32] mpilquist commented on #1277
@mikejcurry Indeed, thanks, and my apologies to `d6`. :)

[2016-08-09 16:46] adelbertc commented on #1275
Legalities aside, I think it is important as a matter of good form that original authors are credited where credit is due. To that end I think https://github.com/typelevel/cats/issues/1276 is a fair start. I hope moving forward Cats continues to credit original authors, be it from papers, Haskell, OCaml, Scala, any other language, and folks who've translated it from another language.

In the inter

[2016-08-09 18:43] djspiewak commented on #1275
Something which hasn't been mentioned here…  (disclaimer: I'm not a lawyer, just a legal hobbyist who's been around the OSS community for while)

US copyright law dictates that, in the event of a legal challenge on a copywritten work, at least 51% of all rightsholders must be notified and named.  This figure is not based on "lines of code" or anything intuitively obvious like that, but actually ba

[2016-08-09 19:33] travisbrown commented on #1275
Well, maybe you _cannot_, but 99% of the open source projects I've ever contributed to _do_, and many of them have organizations with big legal departments as adopters, sponsors, and contributors.

I'm also not a lawyer, and to be honest I don't care about this legal stuff half as much as I probably should, but potential contributors _will_ bounce off a CLA that requires more participation than be

[2016-08-09 19:54] djspiewak commented on #1275
You don't have to take my word for it.  Look up anything related to the contributor process at Eclipse, Apache, Mozilla, or the other big organizations.  Look up *why* it is the way it is.  If I recall, Ian at the Eclipse Foundation actually has an essay about this somewhere.

Ignore it the issue if you like.  But I want you (well, really typelevel) to be absolutely clear on *exactly* the risk you

[2016-08-09 20:44] milessabin commented on #1275
@djspiewak a lot of what you say makes sense in the context of US IP law. However things are very different elsewhere ... for instance, in Germany copyright assignment is impossible, even for work done for hire.

All Typelevel projects are international, Cats included, and it's important not to get bogged down in parochial concerns. I'd happily defer to @fommil, but my understanding is that Apache

[2016-08-09 20:48] djspiewak commented on #1275
@milessabin I agree fully.  In as it is important to ensure that typelevel projects are keeping their ducks in a row with respect to US IP law, other countries are just as important.  I certainly didn't mean to marginalize IP law elsewhere, I simply have no knowledge whatsoever on the subject outside of the US.

Apache 2.0 is a very safe bet.  I don't know anything more definitive about it than "y

[2016-08-09 21:03] johnynek opened #1278 "Proposal: move tailRecM to FlatMap and remove FlatMapRec"
See this PR: https://github.com/typelevel/cats/pull/1216

Note the discussion about adding two different implementations of many of the methods, one using tailRecM the other not.

It seems that all the monads in cats can support tailRecM. In fact, it seems that if look at two classes of Monads we have "strict" (Option, Xor, Either, List, Vector, ...) and "lazy" (Free, Eval, State, ....)

In the ca

[2016-08-09 21:24] fommil commented on #1275
If I'm being deferred to :-P I'll say that Apache 2.0 with a CLA that basically **is** the Apache 2.0 is about as good as you can get if you want to go the permissive licensing route. ENSIME uses https://cla-assistant.io/ highly recommended. A typical ENSIME CLA looks like https://gist.github.com/fommil/211088434c6187218ffa

[2016-08-09 21:50] djspiewak commented on #1275
Here's a random example of a "shrink wrap CLA": https://github.com/RichRelevance/scalaz-netty#license (also with apache 2.0).

[2016-08-09 21:59] johnynek commented on #1206
I'm +1 to this.

[2016-08-09 21:59] fommil commented on #1275
@djspiewak there are also PR templates in github now. A cheap alternative to a CLA checker would be a template that just says "I agree to contribute this code under the terms of X"

[2016-08-10 01:14] mbrcknl commented on #1275
@fommil:

Whoa! I think you might have missed some steps in the legal argument there. (Since you're making legal arguments).

One question that has not been asked: If @puffnfresh is not represented in the scalaz license, do you have the rights to use his scalaz contributions *at all*?

IANAL, so I have no idea.

[2016-08-10 06:01] adelbertc commented on #1192
I think if we manage to solve the `_[_]` alias problems (perhaps with `Unapply`) that covers most if not all use cases (does anyone type alias `Either` with 3+ type params?). How do we want to move forward with this?

[2016-08-10 06:12] fommil commented on #1275
@mbrcknl no steps missed. That's the way it works. I really wish developers would care about these things and understand the licenses that they use. As copyright owner you are entitled to be *recognised* as the author, which could be verbal, or a letter, but there is no obligation for distributions or derivative works (source or binary) to list your name anywhere. This is exactly why the BSD licen

[2016-08-10 07:59] mbrcknl commented on #1275
@fommil

My question concerns *whether @puffnfresh applied the license to his scalaz contributions*. No-one other than @puffnfresh can do that, not scalaz, not you.

At a glance, I see no explicit shrink-wrap CLA in the scalaz code, so I'm not sure how that's relevant. I'm glad you're confident that it is implied. Given this issue and the surrounding conversation, I probably would not be.

I'm hap

[2016-08-10 08:17] fommil commented on #1275
@mbrcknl it sounds like an issue you need to take up with scalaz, Brian and your lawyer if it concerns you. Everybody here seems to be happy with the implied license from the github workflow. I don't recall asking for your lawyer's details, perhaps you misunderstand: this is for your own peace of mind.

[2016-08-10 13:47] ceedubs commented on #1277
My initial reaction is that Cats should be consistent with the approach that it has taken in other areas, which is that the execution semantics are side effects are not guaranteed if you are not tracking your side effects explicitly in an `IO`/`Task`-like type. Making this assumption is something that allows us to make certain optimizations (like this seems to be). I think that for the most part i

[2016-08-10 13:52] mpilquist commented on #1277
This is sort of what happened with FS2. A stream is compiled to a `Free[Task,A]` which is then interpreted in to a `Task[A]`. Our bug was that the resulting task was safe to run once but failed to run any subsequent times, due to an allocation that was wrapped in `Free.suspend` that was optimized away by `step`.

[2016-08-10 16:26] MansurAshraf opened #1281 "Add support for Java 8 data types"
Hello,

It would be nice to have support for Java 8 (semi) functional data types as they keep showing up more and more in third party libraries

specifically:

- Monoid instance for [Optional](https://docs.oracle.com/javase/8/docs/api/java/util/Optional.html), [Function](http://docs.oracle.com/javase/8/docs/api/?java/util/function/package-summary.html) and [Stream](https://docs.oracle.com/javase/8

[2016-08-10 16:30] tpolecat commented on #1277
As stated previously in gitter, I vote for (4) above. Effect capture is a special operation that must be engineered, it's not something you can get on the sly by trying to reason about evaluation semantics. Arguments to `capture` are side-effects and cannot be factored out; equational reasoning doesn't work here. If Scala had a a `<flash>` tag that's where you would use it.

I need to put that on

[2016-08-10 17:18] non opened #1282 "Responsible attribution of source code"
Recently Brian McKenna pointed out that his code had been copied from Scalaz into Cats. He didn't raise an issue or PR here (as far as I can tell) but that doesn't mean we should ignore it.

When I started Cats I was intentional about not forking Scalaz or copying its code. Despite this, I made sure to credit Scalaz in the Cats [license file](https://github.com/typelevel/cats/blob/master/COPYING#L

[2016-08-10 17:26] ceedubs commented on #1282
@non you might want to check out #1276 (merged) where some relevant work was done.

[2016-08-10 17:29] non commented on #1282
@ceedubs Thanks! I completely missed it. Going over there now.

[2016-08-10 17:34] non commented on #1282
@ceedubs Thanks for that PR! I think it's a good first step.

I'm going to close this issue, since it seems like it's already been outmoded. I guess we should have a conversation about a CLA and/or possibly relicensing soon though.

[2016-08-10 17:36] #1282 closed

[2016-08-10 17:56] adelbertc commented on #1277
Having written a retry library that was predicated on being able to re-run effects, I agree with @tpolecat . When trying to parameterize my retries with `F[_]: scalaz.Monad` and taking advantage of by-name `point` it felt wrong since it made sense for certain data types (`IO`, `Task`, `Name`), but not for anything that evaluated it right away anyways (like `Option`). This raises the question if it

[2016-08-10 17:56] kailuowang commented on #1282
@non here is a recent conversation about a CLA in case you are interested https://github.com/typelevel/cats/issues/1275

[2016-08-10 18:23] johnynek commented on #1281
MonadError for Optional seems useful. Traversable for Stream would be good too.

Are we ready to require java8 or would this be a separate project?  Seems like the latter is a good idea.

[2016-08-10 19:31] MansurAshraf commented on #1281
@johnynek there was some talk of unifying cats and algebird typeclasses. Do you know if it will still happen?

[2016-08-10 19:32] johnynek commented on #1281
yes, it will happen:

https://github.com/twitter/algebird/pull/523

we just need to publish a new version of algebra (algebird needs more than cats-kernel).

[2016-08-10 22:11] tonymorris commented on #1282
You'll find that many of these people have left scala programming or even open-source altogether.

Last I looked at cats code, a few months ago, it had even copied bugs directly from scalaz. I just chuckled. More to the point, nobody cares about attribution. Certainly I don't. I'm going to bet this entire issue is also not about attribution (it just looks this way). So don't fret about it.

It was

[2016-08-11 15:51] rossabaker commented on #1192
Cats adoption is growing while Scala 2.11 is near its crest.  More Cats apps will be written on Scala >= 2.12 than on Scala < 2.12, so I give more weight to the 2.12+ experience.

Secondly, the more Cats apps have already been written, the more expensive change becomes.  The worst choice is to keep `Xor` now with an intent to standardize on `Either` later.  I hope that whatever we do in cats-0.8 i

[2016-08-11 17:53] johnynek commented on #1192
I am reluctantly pro-either. In most cases in cats, we have `Functor` or `Monad` instances in scope, and call methods on those. I am not a huge syntax user, so I don't care too much about not having clean access to `.map/.flatMap` on `Either`. I'd pay that price for better interop.

[2016-08-11 18:11] non commented on #1277
I am largely sympathetic to (4), so I think that's where my vote falls.

If we can come up with clear principles for when `Free` should (or shouldn't) evaluate its values I'm open to changing my mind, but for now I think I'm erring on the side of performance.

[2016-08-11 18:23] mpilquist commented on #1277
Closing this with no changes since that's the overwhelming preference.

[2016-08-11 18:23] #1277 closed

[2016-08-11 21:37] adelbertc commented on #1192
This rings the most true with me. A couple years ago using Argonaut, Remotely, Doobie, Http4s, and Scalaz in a project was super nice, everything just clicked together and it was one of the most pleasant experiences I've had composing libraries across a variety of domains. If everyone used `Xor` I think would be fine, but the reality we live in now is we have `scalaz.\/`, `scala.util.Either`, and

[2016-08-12 00:28] adelbertc opened #1283 "Make stack safety law part of FlatMapRec as opposed to ad-hoc checks"
Move these https://github.com/typelevel/cats/blob/master/tests/src/test/scala/cats/tests/MonadRecInstancesTests.scala to be actual law checks

[2016-08-12 09:31] jonoabroad commented on #1275
I'd like to agree with the moral comment and point out unattributed code is plagiarism.

[2016-08-12 11:00] jonoabroad commented on #1275
Hi, I'd like to update my comment. I think my understanding of plagiarism is outdated, I was working on the defn of "the practice of taking someone else's work or ideas and passing them off as one's own." I should have said "I would like to see author attribution", I wasn't meaning to imply there _was_  plagiarism. Also this and the original comment was on the general movement of code and not this

[2016-08-12 12:15] fommil commented on #1275
@jonoabroad it's definitely a good and moral thing to do to attribute code. If this is something people feel strongly about, then they should use a more appropriate license to force attribution rather than rely on friendly parties doing The Right Thing. In this case, adding one's name to the BSD LICENSE file achieves that.

[2016-08-12 13:16] aloiscochard commented on #1275
@fommil just so you know, some people can feel strongly about something without wanting to enforce it on others. For example maybe they tolerate it, even though it's not what they see as optimal.

Thanks for sharing your advice anyway.

[2016-08-12 16:58] adelbertc opened #1284 "Follow-up on tut and/or FAQ about Cats and tailRecM"
Currently tut docs just implement `tailRecM` when implementing `Monad` which can throw off some beginners who are learning `Monad` - we should clarify somewhere noticeable why we chose to do what we did.

[2016-08-12 19:30] unoexperto opened #1285 "Maven build for 2.12"
Guys, could you please publish build for scala  2.12-M5 ?

[2016-08-13 15:56] chuwy opened #1287 "Document instances of type classes"
I think it would be very nice to have list of instances for which type class is implemented on type class documentation page. For example, on [Functor page](http://typelevel.org/cats/tut/functor.html) we can list:

* `Option`
* `List`
* `Stream`
* `Future`
* `Xor`
* etc

I like that we have this on [Hackage](https://hackage.haskell.org/package/semigroupoids-5.1/docs/Data-Functor-Apply.html#t:Funct

[2016-08-13 23:16] adelbertc commented on #1192
Given the feedback in this ticket I'm going to start working on this again soon unless someone yells at me again /cc @travisbrown

[2016-08-14 15:05] travisbrown commented on #1192
@adelbertc I've resigned myself to having methods like `tailRecM` written in terms of `Either` instead of `Xor`, so as long as `Xor` isn't deprecated before 0.8 I'm okay with moving forward.

[2016-08-14 16:01] djspiewak commented on #1206
My opinion is broadly irrelevant… but I'm :+1: for it as well.

[2016-08-14 16:32] jducoeur commented on #1031
I should note that *How to Bake Pi* isn't an introduction to FP (or any kind of programming, really), it's an introduction to Category Theory in the math sense.  So it makes an excellent grounding in "what the heck are you all talking about?".  It's especially good for people who already know programming but *don't* know any category theory.  (Which is most programmers.)

[2016-08-14 16:47] ceedubs commented on #1031
@jducoeur good point. I'll add some clarification.

[2016-08-14 17:51] johnynek commented on #1206
My feeling is that even if we don't all get the style we want, we get a consistent style and we can stop having style discussions.

That said cats does not seem as crippled by this as some projects/groups.

[2016-08-14 21:32] adelbertc commented on #1192
@travisbrown Sounds good :+1:

The plan:

**Phase 1**
[ ] Change methods like `tailRecM` to use `scala.util.Either` instead of `cats.data.Xor`
[ ] Copy `cats.data.Xor` methods into the syntax enrichment of `scala.util.Either`
[ ] Copy `cats.data.XorT` into `cats.data.EitherT` but with changes to make it centered around `scala.util.Either`

These changes should be in the future 0.8.0 release. Note

[2016-08-14 22:07] johnynek commented on #1192
One interesting thing: if `EitherT` is an `AnyVal`, then `EitherT[Id, A, B]` should be a zero-cost enrichment to get `.map/.flatMap`. So, a method like `def toEitherTId[A, B](e: Either[A, B]): EitherT[Id, A, B] = ` could be used to get .map:
[code]
Not sure that is better than using `e.right` and `fn(b).right` but it should have fewer allocations.

[2016-08-15 00:44] adelbertc opened #1288 "Naming of instances in cats.instances were not changed in s/std/instances rename"

[2016-08-15 03:29] adelbertc commented on #1192
Here ya go: https://github.com/typelevel/cats/pull/1289

[2016-08-15 13:15] travisbrown opened #1290 "Map monoid performance"
Cats's monoid instance for maps is extremely slow for the common use case where you're `foldMap`-ing over e.g. a collection of documents. For example, here's a simple benchmark where we add up 1000 singleton maps with 500 distinct keys:

[code]

And Scalaz has ~100 times the throughput:

[code]

[2016-08-15 13:49] kailuowang commented on #1290
For reference
scalaz [uses `map.valuesIterator.foldLeft` and `map.updated` to build a new Map](https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/scalaz/std/Map.scala)

Cats creates [a new mutable map and then wrap it as an immutable Map](https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/Util.scala)
It looks like that in this case, the al

[2016-08-15 17:12] johnynek commented on #1290
Algebird optimized this, but we seem to have misapplied the learnings here:

https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/MapAlgebra.scala#L58

we should only use the mutable map in the combineAll, which should be specific, not the generic one from `combine`.

Note algebird uses the immutable style for combine, but starts a new mutable map and

[2016-08-16 03:56] rayqiu opened #1291 "Semigroup |+| is 4 times slower than scalaz Semigroup |+|"
Semigroup |+| is 4 times slower than scalaz Semigroup |+|, when combining two large Maps that have nested Maps inside.

Map type: Map[Seq[Char], Map[Char, Int]]

[2016-08-16 05:15] adelbertc commented on #1291
Perhaps related to https://github.com/typelevel/cats/issues/1290

[2016-08-17 11:16] mkotsbak opened #1294 "Add withFilter and filter to XorT"
This will allow to use if statements in for-comprehensions. See similar issue for OptionT: https://github.com/typelevel/cats/issues/981

[2016-08-17 21:36] adelbertc commented on #1210
I wonder if the following would work for the existing subtype encoding of type classes in Cats (and Scalaz 7):

For MTL type classes (e.g. `MonadReader`, `MonadState`, etc.), encode them as (in the example of `MonadReader`):

[code]

but don't do the whole Scato encoding, we just stop there. I believe clients can then say things like:

[code]

Note that `foo` now needs to explicitly specify `Monad

[2016-08-18 06:48] aloiscochard commented on #1210
The thing that would personally bother me, is that you can't actually get a `Monad` out of a, let say `MonadReader`.

This can be mitigated by introducing a `def monad: Monad[F]` in the interface and might work in your definition by doing `val monad = self`.

Hope that helps!

[2016-08-18 12:34] ceedubs commented on #1294
I think that `OptionT` is a bit different than `XorT` in this context. If you filter out an item from an `Option` then you can naturally return `None`. What do you return in the case of `Xor`/`XorT` for an empty value? `Xor` used to require a `Monoid` instance for the left type and use the `empty` value from that `Monoid`, but it was removed in #276 as it was pretty ad-hoc and arbitrary. For examp

[2016-08-18 12:38] ceedubs commented on #1291
Thanks for reporting this, @rayqiu. I think this is a duplicate of #1290, so I'm going to close it out. @rayqiu please feel free to reopen it if you have an example of another data type that is also slow with `|+|`.

[2016-08-18 12:38] #1291 closed

[2016-08-18 13:14] mkotsbak commented on #1294
Agree, this is not solvable.

[2016-08-18 13:14] #1294 closed

[2016-08-18 13:20] DomBlack opened #1295 "BigDecimal Order & CommutativeGroup instances Missing"
Currently BigDecimal Order and Group typeclasses are missing from the kernel.

[2016-08-18 17:30] adelbertc opened #1296 "Surprise behavior with map2, map2Eval, and flatMap"
Playing with some finally tagless as one would expect of me. Some surprising behavior, not sure if intended. Here's the Scalaz version, which works fine, doesn't blow stack (scroll to the bottom of the snippet to `ScalazApp` to get to the point):

[code]

Here's the Cats equivalent I think (only things changed are Cats Monad definitions and using `Eval` instead of `Trampoline`).

[code]

This blow

[2016-08-19 07:17] mgttlinger opened #1297 "Multiple things are prefixed with`Bi-` meaning different things."
We have a `Bimonad` where the prefix means that it is a `Monad` and a `Comonad`. We also have things like `Bifunctor`, `Bifoldable` and `Bitraverse` where the prefix expresses that it is about types with two type parameters instead of one.

In #30 this has been brought up already and it was suggested to rename `Bimonad` to `DualMonad` or `SelfDualMonad` by @fthomas and @non. `DualedMonad` was also

[2016-08-19 07:37] milessabin commented on #1297
In shapeless I've adopted the convention of using 1, 2, 3 etc. suffixes to convey kinds `* -> *`, `* -> * -> *`, `* -> * -> * -> *` etc. so there's also that precedent.

[2016-08-19 08:10] mgttlinger commented on #1297
What would functions like `bimap`, `bifoldLeft`, ... be renamed to? `map2`, `foldLeft2`?

[2016-08-19 13:24] non commented on #1297
We are currently using `map2` for the cartesian builder syntax:

[code]

That said, I'm fine with using numeric suffixes. We might need to using different names for these methods, or for the cartesian builders, but that's OK. I'm not sure we'll ever need to support 3+ here (and a `Tri` or `Trin` suffix would be OK), so I think we have options.

[2016-08-19 13:39] mgttlinger commented on #1297
@a-reisberg Said that `Tri-` is also already taken for something already: https://gitter.im/typelevel/cats?at=57b603e2bb6fad403ce744c1

[2016-08-19 15:06] a-reisberg commented on #1297
Tri-algebras, as @sellout mentioned right before my rephrase (sorry, I don't know how to make a link...), essentially live in higher categories, so I don't think we have any use for them (at least for a while? :) ).

At the same time though, I want to chime in that I do like the suffice `n` better than these `bi-`, `tri-` etc. In most mathematical terminologies, `bi-` usually means that something

[2016-08-20 02:47] #1192 closed

[2016-08-20 04:46] adelbertc commented on #1290
fixed by https://github.com/typelevel/cats/pull/1300

[2016-08-20 04:46] #1290 closed

[2016-08-20 04:49] adelbertc commented on #1288
Nevermind appears this was intentional

[2016-08-20 04:49] #1288 closed

[2016-08-20 04:49] #1296 closed

[2016-08-20 08:34] mgttlinger commented on #1297
So if people are in favour of the numeric suffices I can put together a PR with the changes.

[2016-08-20 13:35] travisbrown opened #1302 "Revert Xor / Either changes for 0.7.0 release"
We'd planned to start the switch from `Xor` to `Either` [in Cats 0.8](https://github.com/typelevel/cats/issues/1192#issuecomment-239699123), but several of the `Either` pull requests just got merged, and 0.7.0 isn't out yet:

- https://github.com/typelevel/cats/pull/1289
- https://github.com/typelevel/cats/pull/1301
- https://github.com/47deg/cats/pull/1

(The last one will only need to be reverte

[2016-08-20 14:47] non commented on #1302
👍  to this plan

I think I gave @adelbertc the wrong idea when I signed-off on #1289. Apologies!

I propose that I:

 * un-merge #1289 and #1301
 * merge #1259 and #1266
 * release 0.7.0
 * re-merge #1289 and #1301
 * celebrate

What do people think? We don't often revert things, I'd like to get at least 1-2 other +1s on this plan.

[2016-08-20 14:53] travisbrown commented on #1302
:+1: to @non's plan, with one additional piece:

- https://github.com/47deg/cats/pull/2 to revert https://github.com/47deg/cats/pull/1 before #1266 gets merged

I've also just opened #1303 for the #1301. GitHub isn't letting me open a revert PR for #1289, and the error message is unclear, so I'm not sure whether reverting #1301 will fix the situation. (This is probably an argument for rebasing big

[2016-08-20 15:07] kailuowang commented on #1302
:+1:  i vote for let's wrap asap before more confusion

[2016-08-20 16:28] adelbertc commented on #1302
I'm so sorry guys! I completely forgot about the 0.7.0 release - I saw the approvals so I clicked merge and moved on. :( :( Of course 👍 from me

[2016-08-20 17:52] non commented on #1302
Here's a PR where I'm doing it: https://github.com/typelevel/cats/pull/1305

[2016-08-20 20:44] non commented on #1302
Alright, as-per discussions on Gitter it seems like we've decided to hold off doing a full-scale revert and instead just revert the existing API changes (to minimize 0.6.1 -> 0.7.0 breakage). This will make the future 0.7.x -> 0.8.0 upgrade path less painful.

@adelbertc agreed to take point on this.

[2016-08-20 23:15] #1158 closed

[2016-08-20 23:56] non commented on #1302
This was fixed by #1306.

[2016-08-20 23:56] #1302 closed

[2016-08-21 17:20] ceedubs commented on #1296
@adelbertc Is this resolved? I noticed that you closed the issue but it seems like we might potentially still have some surprises here (such as your reduceLeft + map2 example).

[2016-08-21 17:21] ceedubs commented on #1278
Resolved in #1280 (@johnynek feel free to reopen if there was a reason for this still being open).

[2016-08-21 17:22] ceedubs commented on #1253
Resolved in #1259.

[2016-08-21 17:22] #1253 closed

[2016-08-21 19:03] adelbertc commented on #1296
@ceedubs I closed it because I thought it was one of those "that's just the way it is" situations. But if you think this is a bug then let's go ahead and open up the books again

[2016-08-22 07:25] durban opened #1314 "FS2 information in FAQ is outdated"
[This page](https://github.com/typelevel/cats/blob/master/docs/src/main/tut/faq.md) in the FAQ mentions that "At the time of this writing, Scala.js support is in progress" (for FS2), and links to functional-streams-for-scala/fs2/issues/500. Since then, that issue have been closed, and FS2 0.9.0-RC1 seems to support Scala.js.

[2016-08-22 07:37] labra opened #1315 "lift method for WriterT"
There is no `lift` method in `WriterT` while there is a `lift` method in `StateT` and `ReaderT`. It would be better to have a more unified API for users.

I also noticed that there is a `liftT` method but its signature requires a two parameter type that makes it more difficult to understand

[2016-08-22 13:07] alexandru opened #1316 "Bring back `Applicative.pureEval` or provide equivalent"
I see that `pureEval` was removed in [this commit](https://github.com/typelevel/cats/commit/94fcf03f774841806add287a8d5f43e6e1bbc6d2) and deployed as part of version `0.7.0`.

The explanation is fine, however it needs to be brought back or it needs an equivalent. There are two reasons for it:
1. the [point operation in Scalaz](https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/

[2016-08-22 13:27] alexandru commented on #1316
So a good alternative to `pureEval` would be adding a type like [Suspendable](https://github.com/functional-streams-for-scala/fs2/blob/series/0.9/core/shared/src/main/scala/fs2/util/Suspendable.scala) (from fs2).

[2016-08-22 14:08] travisbrown commented on #1316
:+1: to a `Suspendable` in Cats.

[2016-08-22 14:38] kcsongor opened #1318 "Generalise MonoidK"
I was looking at various type classes, and this sentence caught my eye: "MonoidK is a universal monoid which operates on kinds." - great, this is a really useful abstraction!
However, I couldn't help but think that this could be generalised further to general monoidal categories, not just the cartesian closed category of scala types.
In general, a monoidal category is a category equipped with an a

[2016-08-22 15:45] non commented on #1318
@kcsongor Well, the difference is that `Monoid[A]` is bound to `A` whereas `MonoidK[Id]` is still able to operate on any values you have in hand. But you're right, if you had a `MonoidK[F]` you can get a `Monoid[F[A]]` for any particular `A`.

One issue is that `MonoidK[Id]` would have to be something like *choose-left* or *choose-right* which usually aren't the monoids we are most interested in.

[2016-08-22 15:59] non commented on #1316
👍 to `Suspendable` as well.

[2016-08-22 16:13] non opened #1320 "Move relevant function instances into kernel"
Right now we have a `Monoid` for `Function1` values in *cats-core*. I think it makes sense to move the definition to *cats-kernel* since that's where monoids are defined -- this will allow *algebra* and other kernel-dependents to share these instances.

(More generally, I think where possible all orderings, monoids, etc. should live in *cats-kernel*.)

[2016-08-22 16:18] johnynek commented on #1320
+1 to this
On Mon, Aug 22, 2016 at 06:14 Erik Osheim <notifications@github.com> wrote:

[2016-08-22 17:34] johnynek commented on #1318
`Monoid` is not `MonoidK[Id]`. The latter has a combine for all `A`. The former only for some `A`.

[2016-08-22 17:53] kcsongor commented on #1318
@non @johnynek thanks, I realised slightly after that I was only thinking in terms of the resulting type signature, not how the parameters are quantified, which was an obvious mistake.

[2016-08-22 17:58] johnynek opened #1321 "Either combine only use `Semigroup[B]`"
note `combine(a, b) = a` is a semigroup. We are basically forcing this "left-semigroup" on the left side.

I don't think this is a great idea at all. I would rather have:

[code]

[2016-08-22 18:00] johnynek commented on #1321
#1034 and #888 are related.

[2016-08-22 18:06] johnynek commented on #1321
so, it originally worked this way, I would say with `Either` we should revert this decision.

If you want a `left` semigroup, you can always make one:
[code]
But if you want to use `Either` for something other than error propagation, this is pretty terrible.

I have used either for approximation Monoids where there is also an exact algorithm. For small sizes, I use the `Right` side, but eventually

[2016-08-22 18:09] kcsongor commented on #1318
@non I only had a really brief look at the gitter channel earlier, and it struck me that there is a little bit of a misunderstanding - I remember seeing statements like "not all monads are monoids", and that "monads in CT and monads in CS are entirely different concepts".
I understand where these are coming from - it is true that it's hard to see how these relate to each other, but making such sta

[2016-08-22 18:11] johnynek commented on #1316
I'm negative on it being a subclass of `Monad[F]`. I think it will get into the same issues we have with ambiguous implicits when you do `(implicit s: Suspendable[M], e: MonadError[M, Throwable])`

Can it possibly take `def delay(a: => A)(implicit m: Applicative[M]): M[A]`

[2016-08-22 18:11] non commented on #1321
If we wanted to go this way we could provide something like:

[code]

That way this change would be source compatible in almost all cases.

[2016-08-22 19:30] #1295 closed

[2016-08-22 20:42] johnynek commented on #1316
Also, I don't see why we want `a: => A` over `Eval[A]`, which allows the caller to control if they want it once or many times.

With `a: => A` and the pledge to call each time, you can get the same control by doing, as @non suggests, `val once = Eval.later(foo); delay(once.value)`, to me fundamentally accepting `Eval` is exactly what we want when we want the caller to control the evaluation strate

[2016-08-22 20:51] non commented on #1314
@durban Thanks! We should definitely update the FAQ to say that support is available in an RC, and is expected to be available in 0.9.0.

[2016-08-22 20:53] non commented on #1297
@mgttlinger This sounds like the way to go. Thanks!

Do people think it's worth providing compatibility aliases for things like `Bifoldable` (maybe with a deprecation warning) or just go straight to the new names?

[2016-08-23 09:53] labra commented on #1315
I will try to add it myself inspired by the `StateT` code

[2016-08-23 11:30] Atry opened #1326 "Later should be computed in tailrecs"
Current implementation will cause stack overflow when compute a `Eval` that contains many `Later`.

[2016-08-23 18:48] #1315 closed

[2016-08-23 23:57] johnynek opened #1328 "only use squash commits"
https://github.com/blog/2141-squash-your-commits

Github supports only allowing squash commits to master. I think we should consider it. The issue with the Either partial revert recently would have been somewhat easier if we didn't have such a complex branch graph at the time (I think @non commented on the pain of that).

[2016-08-24 01:17] #1320 closed

[2016-08-24 03:42] non commented on #1328
I like the idea of doing commit squashing. Especially when using Travis validation I feel like we often end up with a bunch of small commits that aren't that interesting. Ultimately the unit of "change" in Cats is the pull request, so syncing up the commits in *master* to fit that model seems good to me.

Does anyone feel strongly that we should not be doing this for *master*?

[2016-08-24 03:42] non commented on #1328
(Another nice thing about this is that it doesn't require people to rebase locally and use `push -f` in order to keep *master* history clean.)

[2016-08-24 03:47] non commented on #1326
Can you provide an example of this happening? The documentation says:

`Later` works fine when used with `flatMap`, e.g.

[code]

[2016-08-24 04:06] Atry commented on #1326
I have a computing graph that consists with a lot of `Applicative[Eval].map2(...).memoize` and  `Applicative[Eval].map3(...).memoize`. I found the stack is deeply recurse around https://github.com/typelevel/cats/blob/v0.6.1/core/src/main/scala/cats/Eval.scala#L282 and https://github.com/typelevel/cats/blob/v0.6.1/core/src/main/scala/cats/Eval.scala#L286

[2016-08-24 04:09] non commented on #1326
@Atry Thanks! I'll look into those implementations.

[2016-08-24 04:15] non commented on #1326
Two other questions: are the calls to `map2` and `map3` recursive (or just deeply nested)? And does it work if you remove the calls to `.memoize`?

[2016-08-24 04:27] Atry commented on #1326
1. They are recursive calls for about 20 times. I haven't experienced stack overflow, but I suspect it will when I increase the number of recursions calls.
2. I haven't tried to remove `memoize`. I guess absence of `memoize` will reduce stack size.

[2016-08-24 04:36] adelbertc commented on #1326
Could this be related to the issue I saw in https://github.com/typelevel/cats/issues/1296 ? `map2Eval` solved my problem.. could it be an issue with the fact `map2`s argument are by-value and not by-name (like in Scalaz)?

[2016-08-24 04:40] Atry commented on #1326
I wonder if you could make `Later.thunk` and `Later.value` share one same `var thunkOrValue: Any`, so that the `loop` could change its value itself, and does not rely on `lazy val value` any more.

[2016-08-24 04:41] rossabaker commented on #1328
Some longer running PRs may have multiple contributors, and it's nice to credit all the authors.  These are infrequent, but problematic for Squash 'Em All.  I'm neutral on the default policy but wary of a rigid one.

[2016-08-24 04:41] non commented on #1326
@Atry it's a good question. Earlier I attempted to rewrite the inner workings of `Later` and ended up with something that wasn't thread-safe. For now, I think the main thing to do is find a test case where we can produce a SOE from using `map2`, etc. and then start looking at what it would take to fix that.

[2016-08-24 04:42] non commented on #1326
(It's also possible that the recursive calls could be rewritten in a way that makes better use of the trampoline. In general it's better to avoid any nested `.value` calls.)

[2016-08-24 04:55] non commented on #1328
That makes sense. Maybe we should squash single-author PRs and use a more flexible policy for multi-author PRs.

[2016-08-24 07:22] alexandru commented on #1316
@johnynek the `Suspendable` type I pasted from FS2 is just an example and can surely be made to inherit from `Applicative`, I have no problem with that.

I would also agree to having `delay` take an `Eval` as a parameter. However this choice I don't like so much.

The `Eval` type is really cool, the idea, the execution, it's certainly a useful type, but its proliferation in Cats' type-classes can

[2016-08-24 07:31] alexandru commented on #1316
Some more thoughts:

- Notice how `memoize` cannot be described with an `Eval ~> M`
- Just because side-effects are involved, it doesn't mean that it cannot have laws - you only need an extra dependency to trigger the evaluation, e.g. if you also have that type be a `Comonad`, you could describe those laws, it's only unfortunate that we aren't currently describing laws like that
- Not having laws

[2016-08-24 07:46] johnynek commented on #1316
Can we give some concrete implementations of this type class so we can see
some properties those concrete examples have that we want.

I'd like to see examples that are distinct from catchNonFatal on
MonadError. None immediately come to mind for me. What are Suspendable but
not MonadError and how would we use such instances?

I think abstraction works best when we see several cases it covers. I'd

[2016-08-24 11:06] kailuowang commented on #1328
We have been using squash PR merge for a while, generally it weird well. The only downside is that it will be harder to continue other work on a branch based off a branch that is not merged yet, since the history will be changed once it's squash merged. I haven't noticed such need (continue different work based off a yet to merge branch) in cats yet, but people should bear that in mind, if there i

[2016-08-24 11:48] alexandru opened #1329 "TailRecM does not make sense for lists / streams"
The new [tailRecM](https://github.com/typelevel/cats/blob/v0.7.0/core/src/main/scala/cats/FlatMap.scala#L108) in `FlatMap` probably does not make sense for lists / streams.

I promise to [read the paper](http://functorial.com/stack-safety-for-free/index.pdf) (have some difficulty parsing Haskell/Purescript code), however this operation only makes sense for monads for which this can be implemented

[2016-08-24 12:57] alexandru commented on #1329
Interestingly, Scalaz has this separated into [BindRec](https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/scalaz/BindRec.scala), which I think is a good idea, but then they implement it for [List](https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/scalaz/std/List.scala) as well.

I don't really understand this decision, maybe somebody can explain. Avoiding

[2016-08-24 14:42] travisbrown commented on #1316
@johnynek It wouldn't be possible to give `Try` a `Suspendable` instance—you'd need `Free[Try, ?]`.

There's a real difference between contexts with `Suspendable` instances (like the two `Task`s, `Eval`, etc.) and those without (`Try`, `Xor`), and this has been my discomfort with https://github.com/travisbrown/iteratee/pull/106 (and `Eval` in these APIs more generally)—it's papering over that diff

[2016-08-24 15:47] johnynek commented on #1316
But that is only perfectly good if you don't care about the performance
cost of doing so. In the iteratee example you need to lift the whole
computation into a trampolined monad rather than just doing so for the
initial element.
On Wed, Aug 24, 2016 at 04:42 Travis Brown <notifications@github.com> wrote:

[2016-08-24 16:03] alexandru commented on #1329
I'm solving this for now by configuring ScalaCheck to weaken the tests (setMaxSize etc)

[2016-08-24 16:24] johnynek commented on #1329
The List and Stream examples are correct but just like a recursive flatMap
on Lists can multiply the size of the List with each flatMap, you can et
exponential growth.

If you loop on Lists you need the mean size of the resulting list to be
less than 1. Some can be longer than one, but if the average is longer than
1 it may never terminate.

You can see the discussion about this. If you don't have

[2016-08-24 16:38] kailuowang commented on #1329
Thanks very much @johnynek. Just as a reminder, I think it will be valuable for this discussion, once concluded, to be added to [monad doc](tut/monad.md) and/or the [FAQ](tut/faq.md) (with some editing of course)

[2016-08-24 17:08] johnynek commented on #1329
@alexandru the real issue may be this:

https://github.com/typelevel/cats/blob/master/laws/src/main/scala/cats/laws/FlatMapLaws.scala#L48

I made that change to exercise deeper recursion (but not too deep). Maybe that was a bad call. We could walk it back to `smallN = 1` and rely on the equational reasoning that if `bounce(1) = bounce(0).flatMap(f)` we can induct to show that `bounce(n) == bounce(

[2016-08-24 17:54] adelbertc commented on #1316
https://github.com/typelevel/cats/issues/1210 strikes again.

It seems we keep trying to work around this. It happened a bit in `MonadRec` and it seems to be happening again now.

[2016-08-24 22:16] alexandru commented on #1329
Hi @johnynek, I appreciate your answer. To describe my problem in more details, please have patience with me :-)

I've measured what's going on, so to put some numbers on this, I have these ScalaCheck settings:

- max size (of the generated lists): 100 (default)
- min successful tests: 100
- max discard ratio: 5
- everything else default

With these settings, that property test is generating:

- n

[2016-08-24 22:55] johnynek commented on #1329
What we mean by stack-safe is that it consumes a constant amount of jvm stack, not that it consumes `O(1)` memory.

Note that:
[code]
does not crash, in fact. It simply does not terminate (I have been running it for quite some time).

This also just spins:
[code]
without crashing or OOMing.

This is not a lot different than the function:
[code]
then calling `go(1, { a => Left(a) })` It will not te

[2016-08-25 06:54] alexandru commented on #1329
@johnynek I'm still not convinced about its utility for lists and I'd do more arguing about tail recursivity, but then I was wrong before, so I'll shut up for now.

That test fix is sufficient, thanks for it.

[2016-08-25 16:55] adelbertc opened #1332 "Bring back Xor for 0.8.0 and remove in 0.9.0"
Gitter chat: https://gitter.im/typelevel/cats?at=57bf20c05bdd197c1cbe93a0

Actual removal: https://github.com/typelevel/cats/pull/1310

Proposal (if I understand) is to bring back just `Xor` and `XorT` (not including their uses in other parts of the codebase like it was in `ApplicativeError`) for 0.8.0, mark it with `@deprecated`, and actually remove in 0.9.0.

Pinging people who have expressed an

[2016-08-25 16:58] non commented on #1332
Sure. I really want to apologize for repeatedly misunderstanding what the plan was here.

I have a proposal -- I think that our minor releases should have a (rotating) release manager who signs-off on these kinds of things, and who is responsible for managing the scope of what will (or won't) change between releases.

I don't think this person has to sign-off on every PR, but things that dramatica

[2016-08-25 17:08] johnynek commented on #1332
I don't care too much, but if we said we would remove after 0.8.0, it is good to do what we say, I think.

[2016-08-25 17:27] kailuowang commented on #1332
I agree with @non's proposal. I added a "Breaking change" label and a "0.8.0" milestone to make it easier to manage releases. My intention was that for issues proposing breaking changes, we can add these labels and milestones so that incoming users can have a better view of what next release involves. The release manager can own such labels and milestones.

[2016-08-25 17:29] adelbertc commented on #1332
**Against**
@milessabin https://gitter.im/typelevel/cats?at=57bf2576757a871757b4ac53
@mpilquist https://gitter.im/typelevel/cats?at=57bf25d2ce157d1b57a4e574
@beefyhalo https://gitter.im/typelevel/cats?at=57bf2644757a871757b4af60

**For**
@rossabaker https://gitter.im/typelevel/cats?at=57bf26f2f066bd731b4a5719
@tpolecat https://gitter.im/typelevel/cats?at=57bf284ac976227a1c501767

Related complicat

[2016-08-25 17:51] rossabaker commented on #1332
I'm in favor of deprecating what we can to guide people who haven't read the release notes.  Because scalac is so rigid in its deprecation warnings and our own desire to use fatal warnings, "what we can" is sometimes nothing.

I'm opposed to bringing it back without deprecation.  Once we're committed to breaking something, break it early, before more broken apps and libraries are written.

[2016-08-25 17:54] adelbertc commented on #1332
PR that brings back just `Xor` and `XorT` with `@deprecated`: https://github.com/typelevel/cats/pull/1333

[2016-08-25 18:27] tpolecat commented on #1332
When scalaz removed `<|` for 7.3.x it was not marked deprecated for the *entire* 7.2.x series, just for the micro releases after the decision was mads. So in this spirit I think adding a deprecation warning for 0.7.1 and so on would be fine, assuming there will be a 0.7.1 release (there could be one just to add the warning I guess).

[2016-08-25 18:32] adelbertc commented on #1332
I take back what I said about about the PR with `@deprecated` - it's getting more and more non-trivial.

1. Marked data types as deprecated
2. Marked all `*InstancesN` traits as deprecated since those refer to the deprecated data types and are outside of the data type
3. Currently build is failing because the generated Doctest code is even more outside of this whole thing

Not sure how to get arou

[2016-08-25 18:41] tpolecat commented on #1332
And for the record I'm perfectly happy telling `-Xfatal-warnings` people (i.e., me) they just need to turn it off while upgrading. Right now that's the only option Scala gives us and industry users are unlikely to be affected.

[2016-08-25 20:27] mgttlinger commented on #1297
PR: https://github.com/typelevel/cats/pull/1334

[2016-08-25 21:39] johnynek commented on #1329
Here is a (contrived) example for list:
[code]

you can imagine other examples that are not as silly (like doing a search where we can find 0, 1, or more than one candidates to recursively try, and recursion on a list is nice there, using tailRecM, you can do that safely).

[2016-08-26 07:34] alexandru commented on #1329
Thanks @johnynek, warming up to it :-)

I think this is one of those cases where users need some education. Hopefully some examples will happen soon in those docs.

[2016-08-26 11:55] durban opened #1335 "Generated sources missing from source JAR"
It seems that the `.scala` files generated by `project/Boilerplate.scala` are not included in the published source JAR (e.g., http://repo1.maven.org/maven2/org/typelevel/cats-core_2.11/0.7.0/cats-core_2.11-0.7.0-sources.jar). It would be nice to have them included, if possible.

See, e.g., http://stackoverflow.com/questions/33760101/sbt-publish-generated-sources.

[2016-08-26 14:43] mgttlinger commented on #1297
How should the `map$arity` of cartesian be changed? `cmap$arity`?

[2016-08-26 15:56] alexandru commented on #1326
As a note, memoization can't really be tail-recursive per se, as the usage of memoization in a loop is at least a heap memory leak. If you picture a loop that expands like this:

[code]

The problem is that memoization can't really happen until after the value was calculated. So in this example `s1` can only be stored when `s2` is calculated and `s2` can only be stored when `s3` is calculated and

[2016-08-27 11:30] mgttlinger commented on #1297
I chose `mapA$arity` as `tupleA2` was already there in the boilerplate.

[2016-08-27 18:45] johnynek commented on #1316
What about something like this:
[code]

[2016-08-27 18:50] johnynek commented on #1316
actually, with that suspend, who says `flatten` does not force the value. Maybe that should not be there.

[2016-08-27 22:17] eed3si9n opened #1336 "Consider an `EmptyK[F[_]]` type class, or remove `MonadFilter`"
This is the type constructor version of #307 (Consider an `Empty[+A]` type class ).

Currently there are two typeclasses that promises in `def emtpy` for `F[_]`: `MonadFilter` and `MonoidK`. (There's also `ApplicativeMonoid`)

Would it make sense to unify them as `EmptyK` and mix them into whatever parent traits that needs empty? For example, we can remove `MonadFilter`.

[2016-08-27 22:27] adelbertc commented on #1336
What would the laws be?

[2016-08-28 03:13] eed3si9n commented on #1336
ok. So if you look at the laws:

[code]

To these `F.empty[A]`s mean different notion for `MonoidK` and `MonadFilter`?
I understand the lawfulness concerns, but two typeclasses introducing a contract that is named the same (and likely means the same) is concerning as well.

[2016-08-28 03:33] adelbertc commented on #1336
They may be the same between the two (maybe `Option` has the same behavior?) but given they live in different hierarchies it wouldn't surprise/bother me if it meant they had a different notion. For instance, the `Semigroup` instance for `Option` will actually try to add the values whereas the `SemigroupK` instance just takes the first `Some`.

Perhaps we could name them something different to disa

[2016-08-28 12:09] yilinwei commented on #1321
I'm not sure about this. I feel that `Either` doesn't accumulate errors - if I wanted to accumulate errors I would use a `Validated`.

It also feels strange because then it becomes inconsistent with `ap`- `combine = ap(that) { _ |+| _ }` currently, which I think ought to be the default behaviour of combine.

[2016-08-29 15:30] kailuowang commented on #1336
there is one in alleycats https://github.com/non/alleycats/blob/master/core/src/main/scala/alleycats/EmptyK.scala
it's there because of the lawless nature.

[2016-08-29 17:52] eed3si9n commented on #1336
That's my point. They are currently disconnected so the two notions of "emptiness" can diverge between `MonadFilter` and `MonoidK`. Suppose we are not into having multiple typeclass instances per datatype, I see `List` having two different notions of emptiness to be a bug rather than a feature.

Note that this won't happen to `MonadPlus` because it's on top of `Monad`:

[code]

In Cats itself `Alt

[2016-08-29 18:50] kcsongor commented on #1336
In all of these cases, an empty element is the identity of the binary operation.
Say `Int` has a monoid instance with multiplication, where identity (empty) is 1. It also has a monoid instance with addition, where identity is 0. But `Int` itself doesn't have an empty element.
The point is that emptiness is the property of the operation, and not something that could be separated out. (in a lawful w

[2016-08-29 19:11] kcsongor commented on #1336
does `FunctorFilter` make sense on non-Applicative functors? I can't see how you would be able to do the filtering without at least a lax monoidal structure.

[2016-08-29 20:19] erikerlandson opened #1339 "Add a trait LeftFoldable[F[_]] such that Foldable[F[_]] <: LeftFoldable[F[_]]"
It seems useful (at least, to me) to encode a notion of objects that support left-associative folding but not right-associative:  `Foldable[F[_]] <: LeftFoldable[F[_]]`

Likely also:  `Foldable[F[_]] <: RightFoldable[F[_]]`

[2016-08-31 02:05] edmundnoble commented on #1339
Can you give an example of a structure that would satisfy `LeftFoldable` but not `RightFoldable`? What exactly are you trying to capture in the associativity of the fold? You can reverse the associativity of a fold trivially; i.e., `foldLeft` and `foldRight` can be implemented in terms of each other, with the only differences being strictness and performance, and so if no laws differentiate `LeftF

[2016-08-31 02:15] erikerlandson commented on #1339
For my purposes, it was more about just being interested in the left-associative fold, and not wanting to have to implement the right-associative method.   If one can be implemented from the other, maybe the better answer is to provide a pair of _sub_-classes, where only one implementation is required and the companion has a default implementation in terms of that, with whatever efficiency impact