[2017-05-13 17:10] johnynek commented on #1661
That's true, but the situation may be a bit like List and ZipList. You can
choose to make the Cartesian on List use zip instead of Cartesian product,
but once you do you can't have a Monad.

So a user could make such an implementation the applicative, and when they
want Applicative they get one thing and Monad they get another. This is
probably not what should happen but scala does not have cohere

[2017-05-13 18:47] djspiewak commented on #1661
@alexandru I'm with @johnynek on this one: if you implement something by using `throw`, you're beyond the pale.  It's relatively easy to implement unlawful things (and break other laws) by using functions that are not functions.  `Eval` just doesn't have semantics surrounding exceptions.

We can implement `Sync[EitherT[Eval, Throwable, ?]]` in a way which is lawful.  Which is to say, `Sync.delay(t

[2017-05-13 19:45] ctongfei commented on #1664
Thanks :-)

[2017-05-13 19:45] #1664 closed

[2017-05-13 19:52] ceedubs commented on #1287
@chuwy would you consider this to be solved by #1565? The instances aren't listed on the type class page itself, but personally I think that the high-level overview provided by the table might be even more helpful, since it allows you to compare which instances are available for which types.

[2017-05-13 20:02] ctongfei opened #1667 "Use macro for implicit summoning in typeclass companion objects for Cats/Algebra/Spire"
I wrote a macro in [this gist](https://gist.github.com/ctongfei/fa15d5e748c764de62be301cc02288bd). This removes the boilerplate every companion object of typeclasses has (the `def apply[A](implicit A: Ev[A]) = A` method), and is faster: the method invocation is replaced by the actual typeclass instance filled by the macro.

[2017-05-13 20:05] ceedubs opened #1668 "Piecemeal import guide"
Currently the [imports guide](http://typelevel.org/cats/typeclasses/imports.html) only really describes the "uber" import (`cats.implicits._`). It may be handy to have a detailed guide of piecemeal imports, such as `cats.instances.string._` and `cats.syntax.functor._` as an additional section for people who prefer this approach.

[2017-05-13 20:06] ceedubs commented on #912
There has been an imports guide for a while. One thing that it doesn't include is a guide on piecemeal imports, so I've created #1668 to track that.

[2017-05-13 20:06] #912 closed

[2017-05-13 20:10] ctongfei commented on #1667
And results in less jar size: the `apply` method does not longer need to be specialized.

[2017-05-13 20:28] chuwy commented on #1287
Hi @ceedubs,

Yes, that PR covers most I wanted to see.

However, there's one problem - namely it doesn't cover too many type classes (Traverse, Semigroup, Arrow etc) and data types (Future, Kleisli etc). I can take over that table and add everything it misses, but I afraid that would make it bloated and unusable.

So if we think that listing instances (more Hackage-way) on type class page is bad

[2017-05-13 21:09] ceedubs commented on #1287
@chuwy ah, that's a good point. I like the idea of listing instances on the type class page; I'm just concerned about the maintenance. We don't have an automated way to keep it up-to-date, and I suspect that it will be prone to falling out-of-date. It could be useful even if it isn't perfect though.

[2017-05-13 21:25] chuwy commented on #1287
@ceedubs getting out-of-date was my concern as well, but I guess that will be not such a problem when cats reach 1.0.

[2017-05-13 21:46] ceedubs commented on #1471
Resolved by #1472

[2017-05-13 21:46] #1471 closed

[2017-05-14 01:51] edmundnoble commented on #1665
I'll go ahead tonight and put up the fixed PR.

[2017-05-14 06:18] edmundnoble commented on #1665
Up as #1670, #1659 will conflict a teeny tiny bit.

[2017-05-14 06:21] edmundnoble commented on #1287
:+1: to listing instances on the type class page. Sounds useful.

[2017-05-14 06:24] edmundnoble commented on #1667
Have you seen https://github.com/non/imp? It seems to do most of what you propose, except for the `ImplicitSummoner` traits. Paging @non, because the reason why we don't use `imp` in cats is escaping me.

[2017-05-14 06:28] johnynek commented on #1667
As @non notes in the issues, the JVM can already optimize this and there is
little evidence this helps:

https://github.com/DarkDimius/imp-bench
On Sat, May 13, 2017 at 20:24 Edmund Noble <notifications@github.com> wrote:

[2017-05-14 06:38] edmundnoble commented on #1667
@johnynek I just, *just* ran benchmarks to test if the JIT is doing this. If it is, we have to consider that not every piece of code is JITted and it never is on its first runs. JMH is giving us potentially unrealistic results because of this; my benchmarks have `CompilerControl.Mode.Exclude` which will disallow the JIT. I posted these results at https://github.com/DarkDimius/imp-bench/issues/4:

[2017-05-14 07:06] #1597 closed

[2017-05-14 17:30] ctongfei commented on #1667
@edmundnoble I was not aware of the `imp` project before. But still we could use my `ImplicitSummoner` traits to reduce some boilerplates.

[2017-05-15 15:02] #1605 closed

[2017-05-16 12:42] #1550 closed

[2017-05-17 18:24] kailuowang opened #1674 "Add laws to check the MonadTransformer `MonadTrans` returns is also a Monad"
[related discussion](https://github.com/typelevel/cats/pull/1621/files#r113854898)

[2017-05-17 20:36] kailuowang opened #1675 "Dedicated "Dev" channel."
Problem - development related communication is suboptimal
1. It's getting more difficult to call a certain maintainer's attention. Given that we all work on Github, each maintainer gets a load of github notifications and the majority of them do not require attent. A mention notification often gets buried in them and missed.
2. the existing gitter room is vibrant which is good. We have a lot of sup

[2017-05-17 20:38] tpolecat commented on #1675
👍

[2017-05-17 20:41] dwijnand commented on #1675
I'd recommend "contrib" or "contributors" over "dev" given that cats users are also developers.

[2017-05-17 20:42] longcao commented on #1675
Agree - as more of a user, it was nice seeing dev chatter on the same channel but since it's grown, it's getting harder to follow. It would be good to have `cats` be the de facto 'user' channel and a `cats-dev` or `cats-contributors` channel for longer discussions on library development, similar to many mailing list structures.

[2017-05-17 20:42] edmundnoble commented on #1675
:+1: from me, scala does this itself.

[2017-05-17 20:47] ceedubs commented on #1675
👍 for `cats-contributors`. I'd say `cats-contrib` but I feel like there's probably a library somewhere with this name already...

[2017-05-17 20:54] dwijnand commented on #1675
Slashes is also an option, btw: `typelevel/cats/contrib`.

[2017-05-18 02:01] kailuowang commented on #1675
With unanimous affirmative feedbacks, I went ahead created the channel
https://gitter.im/typelevel/cats-contrib
Will submit a PR to update the readme soon.

[2017-05-18 12:38] ceedubs commented on #1675
Closing this out, as it has been resolved.

[2017-05-18 12:38] #1675 closed

[2017-05-18 12:42] ceedubs opened #1678 "Beginner-friendliness of Validated doc"
There has been some feedback on Gitter that the `Validated` doc isn't as beginner-friendly as it could be. Pretty early in the doc it delves into writing a `parallelValidate` method, discussing `Apply`, etc. This offers some nice insight into _deriving_ `Validated` methods, but it's not necessarily obvious that a user doesn't need to _write_ these things in their code. It would likely be better fo

[2017-05-18 14:11] #1613 closed

[2017-05-18 14:46] kailuowang opened #1681 "unify `lift` between all of the transformers all `liftT` methods"
e.g .`EitherT.right`, `OptionT.liftF`, `StateT.lift`, `Free.liftF`, `WriterT.valueT`, `Kleisli.lift`.
Per conversation here https://gitter.im/typelevel/cats?at=591c9cb564a70be11ad2eb79
also we can consider provide `FunctionK` version, which is easier to compose. e.g.
[code]

[2017-05-18 14:47] wedens commented on #1681
with `MonadTrans` such function can be generalized to `def liftTTrans[F[_]: Monad, G[_[_], _]: MonadTrans] =  λ[F ~> G[F, ?]](_.liftT[G])`

[2017-05-18 15:35] kailuowang opened #1682 "Cats 1.0.0 packaging"
This is an issue consolidating all the packaging/publish related issues #1656, #1184, #472 and #592.
There are three separate decisions that are sort of related. It may make sense to decide on all of them all together. Here is the revised version of @BennyHill's summarization in this [comment](https://github.com/typelevel/cats/issues/1184#issuecomment-298991494) (I added more description for conte

[2017-05-18 15:38] kailuowang commented on #1682
copying @BennyHill's vote from his [comment](https://github.com/typelevel/cats/issues/1184#issuecomment-298991494) (with minor modification for revised question 3. @BennyHill feel free to vote again and delete this comment)

[2017-05-18 15:38] BennyHill commented on #472
update: Had to fly back home last weekend, hence did not have the time I thought I would. This coming weekend is free, however.

[2017-05-18 15:47] kailuowang commented on #472
Remove from project 1.0.0-MF as it's consolidated into #1682.

[2017-05-18 15:47] kailuowang commented on #1184
Remove from project 1.0.0-MF as it's consolidated into #1682.

[2017-05-18 16:07] kailuowang commented on #1681
per [conversation here](https://gitter.im/typelevel/cats-contrib?at=591dc40992217cca588cc6dc) we might want to wait for  cats-mtl

[2017-05-18 18:48] #1607 closed

[2017-05-18 20:29] ceedubs commented on #107
I'm beginning to wonder if this is actually pretty closely related to #1473.

In that issue, @johnynek said:

Let's consider the case of `Stream`. Here is its `Traverse` implementation:

[code]

As long as that `G.map2Eval` call is sufficiently lazy, the `traverse` is lazy.

I tried implementing my own lazy `foldRight` in terms of `traverse`, and it came out like this:

[code]

This compiles and i

[2017-05-18 21:19] edmundnoble commented on #1681
Also we need `transform`

[2017-05-18 21:35] kailuowang opened #1683 "Refactor to support easier maintenance of binary compatibility."
Past 1.0.0-RC1 we will be more restricted by the requirement maintaining binary compatibility. So we should seek opportunities of changing the current code base in some ways that allow new changes without breaking compatibility.
One example I can think of is reducing the usage of traits. We have a companion objects extends traits for better code organization, but it makes adding methods to it with

[2017-05-18 22:36] yilinwei commented on #1678
Me and @zainab-ali have been discussing this problem since we've run several coding dojos/workshops over the past few months on typelevel libraries.

In my view, people who are interested in cats fall roughly into 3 categories

1. People who want to understand how cats works and why it works that way. These people have usually gone through the red book and gain most from a discussion of the dataty

[2017-05-18 23:14] zainab-ali commented on #1678
IMO I don't think the cats docs should cater to complete beginners to FP.  The red book, already listed under [resources for learners](http://typelevel.org/cats/resources_for_learners.html), does a much better job of that.

I think it's possible to cater to people who want to use it, and also to people who want to understand how it works.  A good way to do this would be to:
1. Pose a common proble

[2017-05-19 00:29] kailuowang commented on #1384
fixed by #1573

[2017-05-19 00:29] #1384 closed

[2017-05-19 00:53] kailuowang commented on #1678
Thanks very much for your inputs @zainab-ali and @yilinwei. These are valuable experiences when it comes to creating a documentation that serves the community the best.
I agree with @zainab-ali's view that it's difficult for cats' documentation not try to cater to **complete** beginner of Scala or FP. See the comment I [made here](https://github.com/typelevel/cats/issues/1443#issuecomment-28986575

[2017-05-19 09:09] peterneyens commented on #1491
We removed `Unapply` in #1679.

[2017-05-19 09:09] #1491 closed

[2017-05-19 12:43] ceedubs commented on #1678
@yilinwei @zainab-ali thanks for the input. @zainab-ali the general strategy that you propose sounds good to me.

Does anyone feel ambitious and want to give this a spin? :)

[2017-05-19 12:47] kailuowang commented on #1599
remove from project since there is already a PR to represent this work .

[2017-05-19 12:53] yilinwei commented on #1678
@ceedubs @kailuowang

We're set on doing a cats hackday again at the next London typelevel [hack the tower](http://hackthetower.co.uk/) event. The last time we did cats was ~ 5m ago and cats was still version 0.3.x so it's good to do it with an up to date version.

It would be useful to have some up to date docs for cats since we get people of various different abilities and allow them to follow a

[2017-05-19 12:56] ceedubs commented on #1683
I have a bit of experience with managing binary compatibility. As you've mentioned, traits tend to be a liability (at least pre-2.12, which cats has to worry about for quite some time). Abstract classes should generally be preferred to traits if binary compatibility is a concern and multiple-inheritance isn't needed. There may be some places that we are using traits where we could be using abstrac

[2017-05-19 12:58] yilinwei opened #1684 "Consistency tests for override instances"
Currently we have overrides for specific methods for instances which are more efficient.

It's important that the output of the overriden method should be consistent with the output of the derived method and should be tested.

[2017-05-19 14:19] kailuowang commented on #1678
@yilinwei, that will be awesome. Timing wise I don't see this as urgent as well. The focus of 1.0.0-MF is API. So I think we can schedule this for 1.0.0-RC1.

[2017-05-19 14:24] ceedubs commented on #1678
@yilinwei sounds fantastic! I don't think that we really need to tie this to a particular milestone.

[2017-05-19 14:34] kailuowang commented on #1684
The strategy we had in the past is to add it to the laws, (example)[https://github.com/typelevel/cats/blob/master/laws/src/main/scala/cats/laws/FlatMapLaws.scala#L21-L25]. The issue with this strategy is that these tests are not the same as the more fundamental laws that usually test against abstract methods. Shall we setup a new organization to make a distinction between these two types of laws?

[2017-05-19 14:47] peterneyens commented on #1684
FWIW, [this](https://github.com/typelevel/cats/pull/1532#issuecomment-277326220) is what I played around with after we talked about creating some sort of benchmark for overridden/default implementations.

In essence it boils down to a type class specific wrapper that implements only the fundamental type class operations using the actual instance of the data type it wraps.

[code]

Maybe we can use

[2017-05-19 14:49] kailuowang commented on #1683
@ceedubs I totally agree that we need traits to support all-in imports.  For those, I think it's probably a good trade-off. I did notice cases where traits are used purely for better code organization like [here](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Kleisli.scala#L68). I think it might be a good idea to move all those inside the object.
A side note is that as

[2017-05-19 14:52] ceedubs commented on #1683
@kailuowang yeah that's a good example of a place where I don't think that we are getting much benefit from a `trait` and it would probably be better to just put the methods directly on the `object`.

And yes, I also suspect that the only real way that we can take advantage of the 2.12 support for trait compatibility is once we are ready to drop 2.10 and 2.11 support. I think it will be quite some

[2017-05-19 14:54] yilinwei commented on #1684
@peterneyens I like this approach and I think we can/should generate these tests.

On a side note it's like the issue described in #1659, in that we have a behaviour we expect but we enforce it via manual checking rather than in some automated fashion.

[2017-05-19 16:59] kailuowang commented on #1678
Agree with @ceedubs we don't need to tie it to a milestone

[2017-05-19 17:21] ctongfei opened #1686 "Where is cats.data.Tuple2K?"
The maven 0.9.0 jar does not seem to contain this type.

[2017-05-19 17:21] peterneyens commented on #1686
It is called `cats.data.Prod` in 0.9.0.

[2017-05-19 17:44] ctongfei commented on #1686
Got it. Thanks!

[2017-05-19 17:44] #1686 closed

[2017-05-19 17:54] kailuowang commented on #1686
it's my bad, I think I published the website with unreleased class name, but I think this is the only one.

[2017-05-19 19:08] kailuowang commented on #1682
My vote
1, e
2. b
3. a or b

[2017-05-19 19:15] mpilquist commented on #1682
1. e
2. a
3. b

[2017-05-19 19:38] BennyHill commented on #1682
My final vote
1, e
2. b
3. b (if we want common test-kits, move them to catalysts)

[2017-05-19 21:08] ctongfei opened #1689 "Suggestion: renaming Foldable/Reducible to Fold/Reduce in cats 1.0"
In common idiomatic Scala usage `-able` is usually a trait (e.g. `Traversable`, `Iterable`) instead of a typeclass. A typeclass that captures some higher-order function is commonly named as the verb itself (as seen in cats: `Compose`, `FlatMap`, `Traverse`, etc.)

[2017-05-19 21:23] johnynek commented on #1689
I hope we don't change names like this at this late stage. This is a minor
blemish at worst.
On Fri, May 19, 2017 at 11:08 Tongfei Chen <notifications@github.com> wrote:

[2017-05-19 21:26] ctongfei opened #1690 "Add Hash typeclasses to cats"
`Hash` is a special case of `Eq`.
These captures the Java default method `hashCode` and `clone` (in `Cloneable`), just like `Eq` for `equals` and `Show` for `toString`.

Example implementation:
https://github.com/ctongfei/poly-collection/blob/master/core/src/main/scala/poly/collection/typeclass/Hash.scala#L12
https://github.com/ctongfei/poly-collection/blob/master/core/src/main/scala/poly/collecti

[2017-05-19 22:10] johnynek commented on #1690
-1 on Clone. All should be immutable, so Clone should be a no-op.

+1 on Hash extending Eq.

On Fri, May 19, 2017 at 11:26 AM Tongfei Chen <notifications@github.com>
wrote:

[2017-05-19 22:18] adelbertc commented on #1690
Related: https://github.com/typelevel/algebra/pull/38

[2017-05-20 04:53] ctongfei commented on #1690
OK. But `Hash` and/or `HashFamily` (for `BloomFilter`/`CountMinSketch`/etc.) should be added

[2017-05-20 14:23] Daenyth opened #1692 "Weird 'unused private method' warning from implementing typeclass"
I'm converting a project from scalaz to cats and I'm getting a compile error I don't understand

[code]

From the code here:
[code]

The full code is here: https://github.com/Daenyth/taklib/blob/49fdd59c548436ad149519bc1a835cce91f051b8/taklib/src/main/scala/com/github/daenyth/taklib/Game.scala#L24

Did I do something wrong? Could this be a compiler bug?

[2017-05-20 14:34] peterneyens commented on #1692
Cats' [`Semigroup#combine`](https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/Semigroup.scala#L14) takes its parameters by value, where Scalaz' `Semigroup#append` takes it second parameter by name.

[2017-05-20 22:06] Daenyth commented on #1692
Gotcha, that was exactly my problem. Bizarre compiler error, but once I made them by-value it worked.

[2017-05-20 22:06] #1692 closed

[2017-05-21 00:10] Daenyth opened #1694 "How do I test laws for my semigroups?"
The laws stuff appears to only contain SemigroupK stuff, but nothing for Semigroup (and also Monoid).

I can obviously write out the scalacheck by hand, but it would be nice if it integrated with the rest of the discipline-based stuff

[2017-05-21 00:40] peterneyens commented on #1694
The laws for type classes in `cats-kernel` like `Semigroup` and `Monoid` can be found in `cats-kernel-laws`.

Eg
[code]

Used for example to test `Validated`'s `Semigroup` instance [here](https://github.com/typelevel/cats/blob/master/tests/src/test/scala/cats/tests/ValidatedTests.scala#L35).

That is definitely something which should be mentioned in the documentation about the laws (#1585).

[2017-05-21 01:06] Daenyth commented on #1694
For anyone watching / future me, `checkAll` comes from the `Discipline` test mixin

[2017-05-21 01:06] #1694 closed

[2017-05-22 11:27] peterneyens commented on #1343
With `-Ypartial-unification` this works:

[code]

Note that the cartesian builder syntax will (probably) be replaced by enriched tuple methods.

[2017-05-22 19:39] #1661 closed

[2017-05-22 21:34] safareli commented on #1151
Recently I have Implemented FreeApplicative ([Par](https://github.com/safareli/free/blob/par/src/par.js) in https://github.com/safareli/free/pull/31) which has `O(1)` complexity on `map/ap` and `O(n)` on `fold`. Also fold is stacksafe, which was not possible with other optimised implementations out there, as they use functions to build up a structure which requires extra stack on fold, leading to

[2017-05-22 21:40] djspiewak commented on #1151
Attn @edmundnoble

[2017-05-22 22:03] edmundnoble commented on #1151
@safareli Can you explain how your Par implementation works, specifically `foldPar`? The JS is incomprehensible to me. The ADT changes are interesting, because it's the opposite of the direction I've typically gone using RWR, i.e., an explicit Lift case and function from FA[F, A] => FA[F, A => B] => FA[F, B] rather than F[A] => FA[F, A => B] => FA[F, B].

[2017-05-22 22:11] safareli commented on #1151
@edmundnoble  can you clarify this part:

[2017-05-22 22:18] edmundnoble commented on #1151
Eff's implementation of Free, for example, has something akin to `case class Impure[R, X, A](union: Union[R, X], continuation: X => Eff[R, A])` but with RWR on the `continuation` argument. See https://github.com/atnos-org/eff/blob/master/shared/src/main/scala/org/atnos/eff/Eff.scala#L85. It's not too relevant though; I'm really just wondering how `foldPar` works.

[2017-05-22 23:11] safareli commented on #1151
[code]

[2017-05-24 16:02] kailuowang commented on #992
at this point, do we still want to change type class encoding prior to 1.0.0 release? cc @ceedubs

[2017-05-24 16:31] djspiewak commented on #992
@kailuowang Strong 👎 from me on changing the encoding prior to 1.0.  IMO, if we want to change the encoding, that should be a cats 2.0 thing at this point.

[2017-05-24 16:56] djspiewak commented on #1682
Only strong opinions are on 2 and 3.  On 2, I *strongly* oppose moving alleycats into the cats repo.  Polyrepo is significantly easier to manage here, and it ensures that the versioning is kept independent.  Having things like alleycats, dogs, cats-mtl and cats-effect in repos that are separate from cats-core is a major win relative to the way that scalaz is setup, since scalaz's versioning is fun

[2017-05-24 17:48] edmundnoble commented on #1682
1. e
2. a
3. c please give me cats-tests.

[2017-05-25 01:48] edmundnoble commented on #992
Yeah I'm gonna have to agree. Otherwise cats-mtl would be in cats.

[2017-05-25 08:50] anler opened #1700 "Monoid instances for Boolean"
Hello, I can't find any instance of `Boolean` for `Monoid`, is it something cats explicitly avoid or are you open to a humble PR? 🙂

Thanks!

[2017-05-25 12:35] anler opened #1701 "MonadError instance for Kleisli"
Hello! I was looking for a `MonadError` instance for `Kleisli` but I saw it doesn't exist, any particular reason for not having it? I had to write one myself because I have a transformer that is `ReaderT[F, Env, A]` and I require an evidence for `MonadError[F, Throwable]` (to handle unexpected exceptions when interfacing with imperative code)

Thanks!

[2017-05-25 13:17] kailuowang commented on #1701
No particular reasons for its missing other than we didn't get to it yet. If you want, a PR will be more than welcome, but if you don't have time, I think I am going to add it before 1.0.0-MF release, if no one beats me.

[2017-05-25 13:19] anler commented on #1701
Oh great! I'll grab this _low-hanging-fruit_ and send you a PR ^^

[2017-05-25 13:27] anler commented on #1701
Nevermind, I found that the instance was already added in #1618 by @peterneyens 🙂
Thanks!

[2017-05-25 13:27] #1701 closed

[2017-05-25 13:27] kailuowang commented on #1701
sorry my badkhttps://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Kleisli.scala#L230

[2017-05-25 13:28] kailuowang commented on #1701
the next release should be soon 🤞

[2017-05-25 15:19] edmundnoble commented on #1700
We would need newtypes to disambiguate between the Conjunction and Disjunction (`and` and `or`) monoids. Because we don't have those yet, the Monoid we'd choose for Boolean would be arbitrary.

[2017-05-25 15:30] anler commented on #1700
Yeah I know, but with my current knowledge of Scala I thought something like this suffice would suffice:
[code]
Any argument against it that I'm not aware of?

[2017-05-25 16:08] djspiewak commented on #1700
Something like that does suffice, but in areas like this, we generally prefer something with a more general mechanism.  Scalaz experimented with type tags (the `@@` notation), and there are some advantages and disadvantages to approaches like that.  Just adding a straight newtype to `Any`/`All` is a bit of a one-off thing targeted solely at `Boolean`, which is less interesting.

[2017-05-25 16:37] djspiewak commented on #1690
Ditto @johnynek.  `Hash` would be quite useful.  `Clone` not so much.

[2017-05-25 16:37] djspiewak commented on #1639
Now that we've removed `MonadError[Eval, Throwable]`, I think we can probably just close this.

[2017-05-25 16:37] #1639 closed

[2017-05-25 17:10] johnynek commented on #1639
@djspiewak why does `Sync` extend `MonadError` and not have `SyncError` or something that does that? Certainly we could do a `Sync[Eval]` if it only extended `Monad` right?

[2017-05-25 17:11] kailuowang commented on #1690
Thanks for the suggestion @ctongfei . Also 👍  on adding `Hash`. A PR would be more than welcome.

[2017-05-25 17:23] ctongfei commented on #1690
@kailuowang Thanks. I'll open a PR.

[2017-05-25 17:31] djspiewak commented on #1639
@johnynek What does `Sync.delay(throw t)` mean if it *doesn't* extend `MonadError`?  This is probably a better discussion on cats-effect than on cats, but the tl;dr is that I'm making the claim that `Sync` is meaningless without error handling.

[2017-05-25 17:34] johnynek commented on #1639
that is not legit. The law is only the first ones that don't include throw (the mutation checking ones).

Same as `F.map(fa)(throw t)` just not defined.

[2017-05-25 17:35] djspiewak commented on #1639
I reject the usefulness of a `Sync` which does *not* define what it means to have error handling.  Also if you're referencing `SyncLaws`, note that there are several things on `EffectLaws` right now which *should* be on `SyncLaws`.

[2017-05-25 17:59] johnynek commented on #1639
I think you will often only use `delay` or `suspend` and not do `throw`. So, if that is the case, you could only depend on the `Sync[Eval]` not `SyncError[Task]` for instance.

But it's not a huge issue to me. @alexandru had tried to pitch a typeclass like I am describing before (which I didn't like because I don't really like these laws which are purely about evaluation, but I guess that's a real

[2017-05-25 18:02] djspiewak commented on #1639
The problem I keep coming back to with typeclasses like what you're describing is they're *only* useful for either `Eval` specifically or things that are actually effects.  `suspend` captures effects, and it would be really strange if we had to say "it captures effects, but not effects which `throw`".  So, "all effects, except these effects over here".  That's just weird.  And I have yet to see a

[2017-05-25 19:03] anler commented on #1700
Oh I see, I'm up for interesting solutions too, although the solution of the straight newtype looks like a good tradeoff for me 😇.  Apart from the newtype solution and the tagged solution, all I can think of is to specialise the Monoid typeclass itself 🤔, e.g:

[code]

[2017-05-25 20:56] mpilquist opened #1703 "SOE in Eval.defer"
We encountered a stack overflow when using `Eval.defer` in FS2 with cats 0.9:

[code]

Changing all uses of `Eval.defer(c)` to `Eval.now(()).flatMap(_ => c)` fixes. I haven't been able to minimize yet.

[2017-05-25 21:12] non commented on #1703
Oh no!

I'll definitely be waiting to see if we can a semi-minimized case. @mpilquist if you have ideas about the shape I can try to help trigger this bug.

Worst-case we can always replace `Eval.defer` with the snippet you gave since they should be equivalent (although currently I think `defer` is a bit faster).

[2017-05-25 21:34] mpilquist commented on #1703
This is our test that exposes the issue:
[code]

(A `Segment` is a lazy, potentially infinite, fully fused sequence.)

`Segment.singleton` uses `Eval.later` and `Segment#map` results in an `Eval.defer(something.map(...))`. I'm still missing something though b/c the following doesn't SOE:

[code]

I'll keep playing with it. If you want to try yourself, clone `https://github.com/functional-streams-f

[2017-05-26 01:08] ctongfei commented on #1690
I propose a `HashOrder[A]` typeclass that extends `Hash[A]` and `Order[A]`.

Two reasons:
 - If we give an implicit instance of `Hash[A]` for the common `A`s in `cats.kernel.instances`, every time when we require an `Eq[A]` we would be in a situation where implicit objects are ambiguous: There exists both a `Hash[A]` and an `Order[A]` instance. If all of those instances in `cats.kernel.instances`

[2017-05-26 01:50] johnynek commented on #1639
This is an interesting idea. You point is that in scala it does not make sense to talk about effects without throw. I'm not seeing immediately how that is different from other method calls in scala.

[code]
will never throw, but it is certainly an effect. I can imagine lots of cases may be similar to this: best-effort logging/counters for debug, a mutable cache behind the scenes to avoid recomputa

[2017-05-26 01:55] johnynek commented on #1690
this isn't uncommon in cats (see previous discussions #1210).

i think the best we have to offer is `implicit ho: Hash[A] with Order[A]` has been proposed, which means you don't have the ambiguity, or explicitly passing the `Eq` to break the ambiguity manually.

I personally don't like making the full cross product of possible compositions reified in types. So, I would be `-1` on `HashOrder`. Last

[2017-05-26 02:00] ctongfei commented on #1690
@johnynek So for each typeclass instance we provide, we will override the `on` method manually. Is that the proposed solution?

[2017-05-26 02:12] johnynek commented on #1690
Can you sketch the case you are worried about?

I see the issue with `on` returning either `Hash` or `Order`. It's not ideal. I guess you would just indeed override:
[code]

I see your concern since basically everything has `Hash` and so that means everything with `Order` also will suffer if we do `import cats.implicits._`. It will basically render `Eq` unusable at that point, I guess.

We could u

[2017-05-26 02:21] ctongfei commented on #1690
I would say the better route is do manual overriding `on` for every typeclass instance.
Or another option is not to implement the `Hash#on` method. Instead, use `Hash$.by[A, B](f: A=>B)(implicit ev: Hash[B]): Hash[A]`.

Hash extends Eq has good intuitions: every map requires that there is an `Eq` on the type of keys: `ListMap` only requires `Eq`, `TreeMap` requires `Order`, whereas `HashMap` requi

[2017-05-26 08:28] anler opened #1704 "MonadState instance for ReaderT/Kleisli"
Hello again 😄 this time I've checked if there is a MonadState instance for ReaderT/Kleisli since the transformer I'm working with is something like `type App[A] = ReaderT[StateT[util.Try, AppState, ?], AppConfig, A]`. I saw you guys merged #1598 a few days ago but I don't see any harm in having the instance I'm asking, right? Here's a what-I-think-is-a-functional instance:

[code]

[2017-05-26 11:28] kailuowang commented on #1704
FYI #1616, maybe @edmundnoble can have it in cats-mtl?

[2017-05-26 11:39] anler commented on #1704
Oh I see, then I will address my mtl enquiries to [edmundnoble/cats-mtl](https://github.com/edmundnoble/cats-mtl) Thanks!

[2017-05-26 11:39] #1704 closed

[2017-05-26 15:27] milessabin commented on #1682
1. e
2. b
3. a or b

[2017-05-27 05:30] edmundnoble commented on #1700
I'm a :-1: on that because:
There is no law or method difference between `SumMonoid` and `ProductMonoid`,
this approach doesn't generalize to more instances, or instances that don't make sense as sums and products, and
for any non-primitive type this introduces extra boxing in a generic context.

IMO this is just going to have to wait until we have working newtypes; @alexknvl is on it. Sorry about

[2017-05-27 08:21] anler commented on #1700
Ok ok, I'm closing this issue then, I also prefer the newtype approach but I'm getting confused because I thought my first example was using Scala's newtypes although I read that the extra indirection is not guaranteed to disappear after compilation if you use pattern matching on it. When you say newtypes, are you talking about a solution that does guarantee that?

[2017-05-27 08:21] #1700 closed

[2017-05-27 11:51] yilinwei commented on #1281
I've started working on this; will have a PR out soon.

[2017-05-27 17:31] LukaJCB commented on #387
Maybe we should explain the concept of Monad Transformers at some sort of central location? Some of the motivation and explanation already exists in the `OptionT` documentation. We could take some of that and make some sort of Monad Transformer section, or we duplicate some of the documentation, which I'd personally also be okay with.

Another thought I have, is that cats-mtl is going to be a diff

[2017-05-27 19:43] cquiroz opened #1708 "Linking error on scala.js"
I tried to make an `Eq` instance on scala.js but I get a linking error. I tried to reproduce the problem on the cats tests but it worked fine. I checked the code of `Eq` but I can't see anything obvious that could be causing this

[code]

I made a minimal repo to reproduce the issue:
https://github.com/cquiroz/cats-js-bug

Do `sbt fastOptJS` to observe the problem

[2017-05-27 22:55] edmundnoble commented on #1700
Yes, I am. Unfortunately yes, it's not just *if* you use pattern matching on it. The indirection is kept whenever it's generic *just in case* you use pattern matching on it later.

[2017-05-27 22:56] edmundnoble commented on #387
cats-mtl will provide documentation about monad transformers in general, yes.

[2017-05-28 14:45] kailuowang commented on #1332
resolved.

[2017-05-28 14:45] #1332 closed

[2017-05-28 15:01] kailuowang commented on #1708
Thanks very much @cquiroz!

[2017-05-28 19:38] peterneyens commented on #1657
Fixed in #1659.

[2017-05-28 19:38] #1657 closed

[2017-05-28 21:01] adelbertc commented on #1332
Seeing activity on this scared me a bit, I thought we were bring `Xor` back ;)

[2017-05-28 21:45] peterneyens commented on #1297
Depending on what we end up doing, we might have to come up with a new name for `Traverse1` (#1611).
Having `Traverse`, `Traverse1` and `Traverse2` would be even more confusing.

[2017-05-29 09:13] LukaJCB commented on #1297
Maybe we could rename `Traverse1` to `NonEmptyTraverse`?

[2017-05-29 22:00] ctongfei opened #1710 "SetPartialOrder[A] uses the universal `==` instead of `Eq`"
https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/set.scala#L22

This instance should require an implicit `Eq[A]` and use this instance for containment partial order / set equivalence.

[2017-05-29 22:01] ctongfei opened #1711 "Where is cats.kernel.instances.TupleInstances?"
https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/tuple.scala#L4
I couldn't find this class `TupleInstances`. IntelliJ also marks this as unresolved.

[2017-05-29 22:21] peterneyens commented on #1711
It is generated by sbt in [_project/KernelBoiler.scala_](https://github.com/typelevel/cats/blob/master/project/KernelBoiler.scala#L123).

[2017-05-29 22:22] ctongfei commented on #1711
@peterneyens Thanks a lot.

[2017-05-29 22:22] #1711 closed

[2017-05-30 00:16] ctongfei commented on #1690
I drafted a pull request #1712 .

[2017-05-30 04:24] leandrob13 opened #1713 "Transform typeclass"
There has been some discussion about adding a typeclass for dealing with `F ~> G` transformations in #1644.  The original proposal was made by @kailuowang in this [gist](https://gist.github.com/kailuowang/ddf4f99a3bd97f150277a0c614e0a6f2) and I materialized it by the name of `Transform`. The example below includes only instances for EitherT and Kleisli.

[code]
The pattern is apparent in Kleisli s

[2017-05-30 06:16] edmundnoble commented on #1713
I can empathize with this requirement, and I would approve a PR that renames the methods to only be `transform` for higher-kinded mapping. However, cats-mtl has something very close to this in the form of `cats.mtl.monad.TransFunctor` and `cats.mtl.monad.LayerFunctor`.

[2017-05-30 09:50] wedens commented on #1713
This typeclass is better known as `Hoist`.

[2017-05-30 13:30] leandrob13 commented on #1713
@edmundnoble where can I see code for cats.mtl.monad.TransFunctor?

Sure thing about the PR for defining `transform` accordingly in monad transformers.

[2017-05-30 14:36] kailuowang commented on #1710
Would it have surprising effects when `Set` itself doesn't use `Eq[A]`?

[2017-05-30 14:42] ctongfei commented on #1710
@kailuowang OK I get it. For the instances for `scala.collection.{Set/Map}`, use the standard universal `equals`. Thanks!

[2017-05-31 01:05] johnynek commented on #1710
yeah, I think if you use `Set` and `Map` they have to use universal equality (on keys for map at least), so doing this differently would really be a bug.

[2017-05-31 16:17] SethTisue commented on #1648
kind-projector is available now (0.9.4), which I think was one of the blockers

[2017-05-31 20:23] kailuowang commented on #1635
fixed by #1709

[2017-05-31 20:23] #1635 closed

[2017-05-31 20:25] kailuowang commented on #992
According to consensus, moving it out of 1.0.0

[2017-05-31 20:26] kailuowang commented on #694
No longer needed due to #1616, moved out of the 1.0.0-MF, will close once mtl removal plan is completed.

[2017-05-31 20:31] ctongfei commented on #1710
@johnynek You are right. The equality on them must be the universal one. Thanks!

[2017-05-31 20:31] #1710 closed

[2017-06-01 01:11] ceedubs commented on #1640
I'm looking into this.

[2017-06-01 01:51] ceedubs commented on #1567
@kailuowang should this be assigned to 1.0? It seems like we might be down a problematic trajectory on this one.

[2017-06-01 01:53] kailuowang commented on #1567
@ceedubs I agree. assigned.

[2017-06-01 01:54] ceedubs commented on #1553
It looks to me like this was solved by #1548, so I'm going to go ahead and close it out. @leandrob13 please open this back up and let me know if I'm mistaken.

[2017-06-01 01:54] #1553 closed

[2017-06-01 01:56] ceedubs commented on #1449
I believe this was solved by #1472. @tpolecat please let me know and reopen if I've missed something.

[2017-06-01 01:56] #1449 closed

[2017-06-01 02:14] kailuowang commented on #695
remove from 1.0.0-MF due to #1616

[2017-06-01 02:22] ceedubs commented on #842
@alexknvl I'm going to go ahead and close this out, because I think that it was resolved by #1225. Please feel free to reopen or open a separate issue if there is anything that wasn't resolved by that PR.

[2017-06-01 02:22] #842 closed

[2017-06-01 10:23] peterneyens commented on #1467
Relevant for `Applicative` of `EitherT`: https://github.com/ekmett/either/pull/38.

[2017-06-01 14:30] benhutchison opened #1715 "Wrong/weird Nav menu link for Monads, and multiple entries for Functor"
A attendee at Scaladays @gabriel-bezerra just pointed out to me that the behavior of the cats doc nav menu is quite unfriendly and confusing for new users.

When you click to **Monads** link it takes you to [Functor](http://typelevel.org/cats/typeclasses/functor.html). Is this just plain wrong?

Furthermore, there are three different links in the menu all with the same title **Functor** and its ve

[2017-06-01 16:03] kailuowang commented on #1708
I am not an expert in scalajs but I changed your build file to
[code]
and it worked. so it's probably more a sbt build issue on use site than an issue in cats?

[2017-06-01 16:18] kailuowang commented on #1567
I vote for option 1 proposed by @diesalbla in https://github.com/typelevel/cats/issues/1567#issuecomment-288121078, whose analysis in this issue is, IMO, great work.

[2017-06-01 16:22] edmundnoble commented on #1567
I'm good with option 1 as well.

[2017-06-01 16:50] cquiroz commented on #1708
Right, that must be it, sorry for the noise

[2017-06-01 17:06] kailuowang commented on #1708
no worries. If you dont mind I am going to close this one, feel free to reopen if it's still an issue.

[2017-06-01 17:06] #1708 closed

[2017-06-01 17:59] peterneyens commented on #1567
`ArrowLaws` already has [a law covering the `split` method](https://github.com/typelevel/cats/blob/master/laws/src/main/scala/cats/laws/ArrowLaws.scala#L28-L29) and overrides [`split`](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/arrow/Arrow.scala#L23-L24).

We can make `split` a normal method of `Arrow` and add `CommutativeArrow` with the current `splitInterchange` law?

[2017-06-01 18:51] fthomas commented on #1567
Sorry for chiming in so late in the conversation. I think @diesalbla's and @peterneyens' analysis is spot-on. My justification for adding `splitInterchange` in #232  was based on this [proof](https://gist.github.com/fthomas/77a9a0a529f24e04ecc4) where I mistakenly assumed `second g >>> first f = first f >>> second g` for the arrow exchange law (which holds for conventional arrows). But as @diesalb

[2017-06-02 09:12] noelwelsh opened #1716 "`Foldable` instance for `List` breaks substitution"
The `Foldable` instance for `List` breaks substitution, as the following program demonstrates. The value of `result.value` differs between the first and subsequent calls.

[code]

I haven't had time to debug but I suspect it relates to the use of a mutable `ListBuffer` in the implementation of `tailRecM`.

[2017-06-02 09:47] peterneyens commented on #1716
It is the use of an iterator in `foldM` using [`Foldable.iteratorFoldM`](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Foldable.scala#L429-L435).

With the default implementation of `foldM` it evaluates both times :

[code]

[2017-06-02 14:50] kailuowang commented on #1467
@peterneyens, according to the discussion in ekmett/either#38, so if I understand correctly, to remain the `MonadTransformer` semantic we can't implement those instances without requiring `Monad` of `F` for all MonadTransformers?

[2017-06-02 16:33] benhutchison commented on #1360
@etorrebore has just published https://github.com/atnos-org/origami built
atop cats

Fold is similar to Aggregator in some ways, but allows monadic effects
while folding so its fold operation `(S, A) => M[S]` (folding down As) is
non-parallelizable unlike the Semigroup in Aggregator.

On Mon, Feb 6, 2017 at 7:29 PM, BennyHill <notifications@github.com> wrote:

[2017-06-02 17:07] peterneyens commented on #1467
I think that discussion is only relevant for `OptionT` and `EitherT`.

For both `OptionT` and `EitherT` the `Apply`(similar for `Applicative`) instance you get for the transformer by using an `Apply[F]` instance, is inconsistent with the currently provided `Monad` instance of those transformers.

That is the reason for `toNested` on `OptionT` and `EitherT` (#1172), so you can get that `ap` if you

[2017-06-02 17:19] djspiewak commented on #1648
Last remaining issues:

- [ ] Catalysts (https://github.com/typelevel/catalysts/issues/14)
- [ ] Simulacrum (https://github.com/mpilquist/simulacrum/pull/81)
- [ ] Discipline (https://github.com/typelevel/discipline/issues/32)
- [ ] ScalaTest for Scala.JS
  + I'm guessing this was a publication issue?  ScalaTest 3.0.1 doesn't have SJS binaries that I can find.  @bvenners?

[2017-06-02 18:00] djspiewak opened #1717 "Add releaseVcsSign := true to release settings"
Kinda important.  :-)  Consistency between the Git tag and artifact signing key is one of the few real binary security checks we have in the Scala ecosystem.

[2017-06-02 18:04] djspiewak commented on #1717
[code]

[2017-06-02 18:31] kailuowang commented on #1467
So what's left? I only found one...but I probably didn't look closely enough.

- [ ] `Applicative` in `StateT`

[2017-06-02 19:37] kailuowang commented on #1717
Makes sense to me. Why not a PR?

[2017-06-02 19:51] kailuowang commented on #1640
removing from the 1.0.0-MF project since it's going to continue on #1714

[2017-06-02 19:52] peterneyens commented on #1467
I don't think you can implement `Applicative[StateT[F, S, ?]]` given an `Applicative[F]` as `StateT.map2` uses `FlatMap[F]`.

[2017-06-02 20:09] kailuowang commented on #1467
Right. Then I don't know what's left.

[2017-06-02 20:29] djspiewak commented on #1717
I probably should have gone straight to the PR.  :-)

[2017-06-02 23:30] etorreborre commented on #1360
By the way the `origami` library is more or less doing what the [`foldl`](http://hackage.haskell.org/package/foldl-1.3.0/docs/Control-Foldl.html) library is doing in haskell.

[2017-06-03 00:11] adelbertc commented on #1467
Oh that's annoying.. does it need `FlatMap` because of the way we encode `StateT` ? That double-nesting of `F`

[2017-06-03 09:08] peterneyens commented on #1716
If we change the `foldM` implementations which use `Foldable.iteratorFoldM` to use the default implementation, we probably need to reopen #1030, because the default implementation always folds across the entire structure while the implementation using `Iterator` and `tailRecM` can short circuit (added in #1414).

A potential solution may be @TomasMikula 's  #1117.

[2017-06-03 16:12] SethTisue commented on #1648
thanks Daniel for your attention to this, much appreciated

[2017-06-04 14:53] mpilquist commented on #1648
Simulacrum 0.11.0 is released.

[2017-06-05 14:42] kailuowang commented on #1716
@peterneyens shall we schedule #1117 to 1.0.0-MF then? I feel bad that we let it fell through the cracks.

[2017-06-07 08:10] Riptawr opened #1722 "Addition to resources for learners on the webpage"
Hi all,

Underscore recently open-sourced their excellent book, "Advanced Scala with Cats". It is similar to the red book but features Cats explicitly. I propose adding it to the webpage on learning resources.

Here is the link: http://underscore.io/training/courses/advanced-scala/

Keep up the great work!
LXK

[2017-06-07 14:03] kailuowang commented on #1722
certainly, PR more than welcome :)

[2017-06-08 14:18] LukaJCB opened #1723 "Rename `traverse_` and `sequence_` in Foldable"
I realize the underscore comes from the Haskell equivalent, but I do not believe it conveys its intent.
The two functions do the same as their non-underscore counterparts, but ignore the result returning `F[Unit]`.

I suggest something along the lines of `traverseVoid` or `traverseToUnit`.

This would also affect the `Reducible` type class and its non empty counterparts.

Edit: Something to keep i

[2017-06-09 00:46] edmundnoble commented on #1616
After asking in typelevel/cats, I've decided to remove `ApplicativeError` (with replacement in cats-mtl) as well.

[2017-06-09 01:33] kailuowang commented on #1616
@edmundnoble you will move the methods to `MonadError` right?

[2017-06-09 10:25] LukaJCB opened #1724 "Add method to perform natural transformation of underlying Monad in Monad Transformers"
I've found myself in this position quite often and I think it might be very useful to be able to change the underlying Monad of a Monad Transformer.
For example in `OptionT`:

    final case class OptionT[F[_], A](value: F[Option[A]]) {
      ...
      def transformF(fn: F ~> G): OptionT[G, A] = OptionT(fn(value))
      ...
    }

We could add this to all Monad Transformers currently in cats, i.e.

[2017-06-09 11:15] LukaJCB commented on #1724
There also seems to be #1644 which adds a `transformF` function that also does the same thing to `EitherT`. I suggest we find a common name for this function (with the precedent of `transform` already available in `Kleisli`)

[2017-06-09 13:23] kailuowang commented on #1724
This might be calling a higher order Functor, mentioned in #1644

[2017-06-09 21:21] kailuowang commented on #1724
also related,  @edmundnoble has a `HFunctor` like type class in `cats-mtl`
https://gitter.im/typelevel/cats-dev?at=593b10d86462d8493cf8d3c4

[2017-06-10 13:10] diesalbla commented on #1723
##### Alternative Proposal

The type-class `Functor` provides a function `void`, which transforms an `F[A]` to an `F[Unit]`; and the syntax class for `Functor` already provides it. Thus, you can write `xs.traverse_( foo)` as `xs.traverse(foo).void`.

Following the In orthogonality principle, and since `.void` is just 5 characters, I would suggest directly removing the methods `traverse_` and `sequ

[2017-06-10 13:20] LukaJCB commented on #1723
I have to disagree there, `traverse` has a `Traverse` typeclass constraint, while `traverse_` only requires `Foldable`.

[2017-06-10 13:51] diesalbla commented on #1723
You are right. I just thought, by the similarity of the names, that the `traverse_` method would be defined in the `Traverse` type-class, but I was wrong and that is not the case.

I agree they should be renamed, but I would avoid using the word `traverse` in the new names. Since the goal is to iterate through each element in the collection in order, perform an _action_ (a `Unit` value with an eff

[2017-06-11 17:10] diesalbla opened #1727 "Macros to Generate Laws-Tests Boilerplate"
This issue concerns the coding of the `Laws` traits, in the SBT-project `laws`, in the folder `laws/src/main/scala/cats/laws/`. I have noted that all of the laws-files in this folder follow a similar structure. Thus, for a type-class named `Foo`, the laws for this type-class, in the file `FooLaws.scala`, looks like this:
[code]
This design has some boilerplate for the code and the names of methods

[2017-06-12 08:07] PanAeon commented on #1156
@kailuowang Isn't shapeless zipper works only with HList like structures?

[2017-06-12 09:54] LukaJCB commented on #1723
I think it makes sense to keep the `traverse` and `sequence` naming scheme as it's well established by now. I just disagree with the underscore. We could also think about calling it `traverseIgnoreResult` or something along these lines.

[2017-06-12 14:17] kailuowang commented on #1727
I am 👍  for using a macro to generate the trait instance summon code i.e. ` def apply[F[_]](implicit ev: Foo[F]): FooLaws[F] = new FooLaws[F] { val F = ev }`
I am not sure how I feel about replacing the simple type class instance field i.e. `implicit def F: Foo[F]`, that's not a lot code to read, but without it, people might get confused reading the laws without further investigating what the macr

[2017-06-13 13:53] milessabin commented on #1156
@PanAeon shapeless's zipper works on arbitrary nested product types.

[2017-06-13 14:18] kailuowang commented on #1156
@PanAeon sorry it slipped my mind to reply to you. Thank you @milessabin !

[2017-06-13 14:20] kailuowang commented on #387
related https://github.com/typelevel/cats/pull/1714
TLDR, we may need a reformulation of `StateT`.

[2017-06-13 16:00] PanAeon commented on #1156
thanks, both of you! That's why I'm asking - zipper from ScalaZ works with Streams, which I believe are kind of union types. So it is still makes sense to implement generic zipper / list zipper for cats. (maybe in a separate lib)

[2017-06-13 16:24] kailuowang commented on #1156
again I vote for a separate lib.

[2017-06-13 17:15] djspiewak commented on #1156
Also voting for a separate library.

[2017-06-13 17:20] mpilquist commented on #1156
+1 for this existing in a separate library if the shapeless version isn't sufficient. Another +1 for basing it on a clean implementation instead of starting with the Scalaz version.

[2017-06-13 17:45] edmundnoble commented on #1724
This seems to be an exact duplicate of https://github.com/typelevel/cats/issues/1713.

[2017-06-13 17:55] andyscott opened #1729 "Add environment comonad"
Would a PR to add `EnvT` (https://hackage.haskell.org/package/comonad-5.0.1/docs/Control-Comonad-Trans-Env.html) be a reasonable addition?

[2017-06-14 11:28] denisrosca commented on #1722
This was merged in #1726

[2017-06-14 13:07] #1722 closed

[2017-06-14 17:52] adelbertc commented on #1729
Hm given Matryoshka is planning on moving to Cats (ping @sellout ) do we want this in Cats, and is this "generally useful" enough to be in something like cats-core?

[2017-06-14 23:07] edmundnoble commented on #1729
We already have this, without its own datatype, in `instances.tuple`. My questions are: do we want it as its own type like `Reader`? Do we want the transformer? And what will we do with comonad transformers in general?

[2017-06-14 23:53] #1717 closed

[2017-06-15 02:41] sellout commented on #1729
Yeah, I dunno – Haskell does alias `Env` to `EnvT Id`, but I would generally just use tuples. In Matryoshka we use `EnvT` two ways – for its structure as the pattern functor of `Cofree` and then in `gzygo`, which actually uses it as a transformer. I suppose that given some MTL-style type class, I would use that instead, which hadn’t even occurred to me until now.

But I have no problem keeping it

[2017-06-16 08:58] LukaJCB commented on #1668
I can start working on this soon. :) Shouldn't really be too difficult.

[2017-06-16 21:38] #1568 closed

[2017-06-18 16:20] djspiewak opened #1733 "Kliesli is not stack-safe on left-associated binds"
[code]

This law fails.  The reason this law fails is here:

[code]

A chain of right-associated binds will push inside the lambda argument to `flatMap`, meaning it will be subject to the stack safety of the constituent monad `F[_]`.  A chain of left-associated binds will result in a proportionally long chain of `run(r)`.  In order to solve this, we would need to use a similar technique as to what

[2017-06-19 18:50] #1577 closed

[2017-06-21 12:40] #1624 closed

[2017-06-21 12:51] ceedubs commented on #1733
In years of scalaz usage, the stack unsafety of `StateT` bit me on a few occasions. But I never ran into the same with `Kleisli`. I'm curious whether anyone has ever had problems in real-world code because of this.

I think that safety (no runtime surprises) is a major argument for reformulating `Kleisli` to be stack-safe. I think that consistency with `StateT` is a minor argument for it. I think

[2017-06-21 13:23] ceedubs commented on #1716
I've approved #1117. It would be great to get some other reviewers on that. If/when it's merged we probably want to remove `Foldable.iteratorFoldM`, since it leads to these sorts of issues.

[2017-06-21 13:28] ceedubs commented on #1723
I think that something like `traverseVoid` is probably a bit better than `traverse_`. However, I personally don't feel strongly enough about this to make an API change. I'm open to others' opinions on this. @johnynek you are someone who has requested that we don't change APIs in the past. Do you have any thoughts on this?

[2017-06-21 18:11] johnynek commented on #1716
Yeah, it seems like `Foldable.iteratorFoldM` is just not safe for "rerunning" monads. Since you can't tell if you have a monad like that or not when it is generic, it's only safe if you concretely know the monad you are using.

[2017-06-22 05:21] edmundnoble commented on #1713
This unfortunately is not implementable for `StateT`. See https://github.com/edmundnoble/cats-mtl/issues/1.

[2017-06-23 20:35] kailuowang opened #1741 "List cats related projects in README."
I am thinking about adding two sections of cats related libraries to the readme file, both are list of projects that natively support cats type classes/data structures.

Section 1, generic libraries to support FP. Here are some examples:

- cats-effects
- cats-mtl
- eff
- Dog
- Alleycats
- Mouse
- Matryoshka (once moved to cats)
- free-style
- monocle  (once moved to cats)
- mainecoon
etc.

Sectio

[2017-06-25 00:33] #1645 closed

[2017-06-26 14:35] #1716 closed

[2017-06-26 16:43] fommil opened #1742 "Ior biased pattern matchers"
any interest in adding these sorts of pattern matchers?

[code]

as a workaround to scala's lack of combining extractors, e.g.

[code]

bonus: also provides easy access to the `.right` if the `Ior` is no longer visible.

[2017-06-26 16:50] fommil commented on #1742
of course, the other way to do this is with `.left match` ... so maybe this is not needed.

[2017-06-26 17:09] sellout commented on #1742
Despite @fommil closing this, I still think something like `Lefty` is useful (SlamData has implemented it as `HasLeft`). However, I don’t think the `Option[R]` is helpful. If you’re going to care about _maybe_ having the right side, it’s safer to just explicitly match on `Left` / `Both` / `Right` rather than trying to use extractors.

[2017-06-26 17:11] fommil opened #1743 "partitionE for Nel"
any interest in this?

[code]

[2017-06-26 17:11] sellout commented on #1742
Our impl:
https://github.com/sellout/quasar/blob/remove-old-Mongo/foundation/src/main/scala/quasar/contrib/scalaz/package.scala#L27

[2017-06-26 17:13] edmundnoble commented on #1743
Love it, :+1:

[2017-06-26 17:17] fommil commented on #1742
btw, does anybody know if there is an SI- number for pattern matching like this?

[2017-06-26 20:19] fommil commented on #1742
https://github.com/scala/bug/issues/182

[2017-06-27 11:40] #1724 closed

[2017-06-27 19:06] rossabaker commented on #1741
Permission granted for http4s.  Is on cats as of the 0.17 series.

[2017-06-27 20:46] andyscott commented on #1741
Please add https://github.com/47deg/iota to the general FP section. Also, I approve/give permission ☺️.

[2017-06-27 21:28] LukaJCB opened #1747 "Add NonEmptyTraverse tut documentation"
As discussed [here (#1611)](https://github.com/typelevel/cats/pull/1611#pullrequestreview-40677611). Will try to work on this shortly. :)

We might want to think about docs for `Reducible` as well.

[2017-06-28 20:48] fominok opened #1749 "Site: arrows on background typo"
On [Cats page](http://typelevel.org/cats/) it seems that there's a typo in the background image: the above `f` should probably be `f'` so that it would match the annotation above the arrow that's drawn diagonally, which is `g' . f'`.

[2017-06-29 08:59] fommil opened #1750 "clarify license of cats logo"
Hi @non can you please confirm that the logo is CC-BY-SA compatible? A specific license would be good.

[2017-06-30 13:36] kailuowang commented on #1599
fixed by #1600

[2017-06-30 13:36] #1599 closed

[2017-06-30 15:46] fommil opened #1753 "cartesian builder should support >22 args via shapeless"
This kind of thing (imagine there are more than 22 parameters) currently doesn't work, because `CartesianBuilder` is capped at 22 (`v` is a method to validate the input)

[code]

but with the power of shapeless (and kitten's `sequence`), it is possible to handle 22+ parameters

[code]

HOWEVER, this means we are no longer using `Applicative` and cannot do the validations in parallel.

It would be

[2017-06-30 15:51] SystemFw commented on #1753
We are still using `Apply` as far as I can see.
`sequenceGeneric[Thing].applyRecord(hlist)` (equivalent to your code), still uses the `Apply` instance for `Validated`. I'm not sure how you would parallelise your code without a `parallelSequence`, `Cartesian` is sequential as well unless the `Apply` instance executes in parallel.

[2017-06-30 15:52] fommil commented on #1753
apparetly https://github.com/typelevel/cats/pull/1745 deprecates this....

[2017-06-30 15:52] #1753 closed

[2017-06-30 19:32] 4lex1v commented on #1549
I'd to try Cats with some experimental Scala Native code, any chance that this issue will get some attention? How hard to add support for Scala Native?

[2017-06-30 19:43] johnynek commented on #1549
I don't know of anyone working on it. Someone interested should just try. It is probably just some sbt surgery to get it to work. I very much doubt dependencies or jdk usage will be a barrier.

[2017-07-02 22:44] #1363 closed

[2017-07-04 11:43] milessabin commented on #1741
Also kittens :-)

[2017-07-06 16:48] kailuowang opened #1757 "Some tests are really slow"
- Cokleisli[NonEmptyList, Int, Int].arrow.compose associativity (23 seconds, 144 milliseconds)
- Cokleisli[NonEmptyList, Int, Int].monoidK.semigroupK associative (22 seconds, 496 milliseconds)
- Cokleisli[NonEmptyList, Int, Int].semigroupK.semigroupK associative (26 seconds, 5 milliseconds)
- Traversing with ReaderWriterState is stack-safe (1 minute, 47 seconds)
- StateT[ListWrapper, Int, Int].mon

[2017-07-06 17:38] peterneyens commented on #1757
For the `StateT[ListWrapper, ...]` tests, maybe we can try limiting the size of the `List`s which is what I think we are doing in [`WriterTTests`](https://github.com/typelevel/cats/blob/master/tests/src/test/scala/cats/tests/WriterTTests.scala#L15-L19).

[2017-07-06 18:18] peterneyens commented on #1757
Limiting the size range in `StateTTests` cuts the total time for `StateTTests` from around 4 minutes to around 20 seconds.

[code]

[2017-07-06 19:08] kailuowang commented on #1682
Results (if a vote for (a or b), I count both)
1. e (unanimous)
2. a (4), b(2)
3. a (3), b(4), c(2)
I think for 1.0.0-MF, we just do
`e` remove cats bundle,
 `a` leave alleycats out of cats repo and
 `a` release a test-kit,  "b" gets more vote but I think a will make both a and c happy.

[2017-07-08 15:57] kubukoz opened #1762 "Scalafix rewrite from Scalaz"
Once Cats becomes stable, some of us will want to migrate from Scalaz. To ease the process, an automatic migration (e.g. via [scalafix](https://github.com/scalacenter/scalafix)) would be really useful in bigger projects.

[2017-07-08 22:35] peterneyens opened #1763 "ReaderWriterStateT type parameter order"
I mentioned this in #1706, but that PR was merged before we decided on what to do.

Quoting myself :

_I won't be able to work on this before the 16th, so feel free to pick this up._

[2017-07-09 05:44] edmundnoble commented on #1733
I don't believe this is correct, because your constituent monad is `Eval` and it's still not stack-safe. It is less stack-safe than the constituent monad; the `A => F[B]` function composition is the issue here. I have a potential quick solution in mind: `FreeT[A => ?, F, B]` is equivalent to `Kleisli[F, A, B]` but the former is stack-safe. Should we:

1. Use the `StateT` trick (which would work ou

[2017-07-09 19:30] johnynek commented on #1733
I think if we are going to hand inline we need to have benchmarks to show that it is actually faster, personally.

I think if we can implement a tailRecM, which we can for Kleisli, then we should consider recommending (and possibly making some functions to make it easier), when you need a recursive bind on Kleisli (or other monads) to jump into `Free` and back.

Something like this:

[code]

which

[2017-07-09 21:08] adelbertc commented on #1733
I actually have run into stack-safety issues with Kleisli, at least the Scalaz version, when I was using something like Kleisli with Task to do retries of an IO action. I don't remember what specifically what I was doing though.

[2017-07-10 12:39] kailuowang commented on #1763
I vote for renaming to `ReaderStateWriterT`

[2017-07-10 13:39] LukaJCB commented on #1763
I'd personally prefer to have it as RWS (as that is how it's commonly known as) and drop the Bifunctor. I don't really think the Bifunctor instance is all that important for RWS.

[2017-07-10 17:21] djspiewak commented on #1763
In my opinion, there is some value in the recognizability of the `ReaderWriterStateT` name.  `ReaderStateWriterT` trips me up quite a bit, even if there is a good argument that the name order is better than the original.  I have no opinion on the `Bifunctor` instance.

[2017-07-10 17:27] edmundnoble commented on #1763
Agreed, but my opinion is to remove the `Bifunctor` instance because it's probably not really useful; ultimately it's arbitrary anyway, should be a `Trifunctor` ;)

[2017-07-11 06:39] edmundnoble commented on #107
Here's my opinion.

Let `Traverse` extend `Foldable` without using `traverse` to implement the fold operators. They'd be inefficient anyway, even if we could implement them. I think what we can see in your example is that we can't make `State` lazily `traverse` because we would miss state updates, because if the state update has been evaluated then so has the value (though if that lazy `map2Eval`

[2017-07-12 01:24] kailuowang commented on #1763
okay it makes more sense to drop the `Bifunctor` and keep the name. PR incoming.

[2017-07-14 07:54] pepegar commented on #1741
Please add [hammock](https://github.com/pepegar/hammock) to the general FP section as well :)

[2017-07-18 07:15] mgttlinger commented on #1297
Yesterday I was able to clarify how the name Bifunctor makes sense. The bi- prefix on things like bimonads, bialgebras etc is a different bi- prefix than the one on the bi-functor. The later is similar to the bi- on bilinear operations.

[2017-07-18 10:05] #1763 closed

[2017-07-18 11:28] #1757 closed

[2017-07-19 07:47] #1682 closed

[2017-07-19 21:57] peterneyens commented on #1567
Fixed in #1766.

[2017-07-19 21:57] #1567 closed

[2017-07-20 10:36] lJoublanc opened #1768 "Guide examples on on "Applicative composes" doesn't compile"
The following line in the documentation, under Applicative type class, [the bit about composition](http://typelevel.org/cats/typeclasses/applicative.html#applicatives-compose), doesn't compile:
[code]
Using scala-2.12.1, -Ypartial-unification, and sbt 0.13.5.

Replacing the `?` with an `_` gets you somewhere, but then it complains about

[code]

I apologise if this is trivial, but for somebody jus

[2017-07-20 13:30] kailuowang commented on #1768
Okay, so this is probably my bad. All the sample code in the documentation, thanks to tut, has to be compiled before they can be merged to master and constantly checked in each CI build.
I suspect what happened here is that I published some code that is compiled against master while you are trying to compile it against 0.9.0?

[2017-07-20 14:39] lJoublanc commented on #1768
Yes, I'm on 0.9.0. The documentation is pretty good, overall, so a big thanks for your efforts!

[2017-07-20 15:19] kailuowang commented on #1768
Thank you for reporting. Shall I close it for now? Hopefully we'll release 1.0.0-MF soon and get over this.

[2017-07-21 09:10] lJoublanc commented on #1768
Yes, thanks again.

[2017-07-21 09:10] #1768 closed

[2017-07-26 16:00] kailuowang commented on #1640
Not sure how to repeat this bug. The following test passes on both mater and 0.9.0
[code]

[2017-07-27 15:38] #1151 closed

[2017-07-28 11:20] mdedetrich opened #1770 "Support Scala.js 0.6.18 for 1.0.0 release of Cats"
It appears that Scala.js 0.6.18 is most likely the latest release in the 0.6.x series, so it would be ideal if Cats for its 1.0.0 release was built with 0.6.18

Furthermore, Scala.js 0.6.18 has vastly improve compiler times due to a regression which was detected in earlier versions of Scala.js

[2017-07-28 11:25] mdedetrich commented on #1723
I actually like the name of `traverseUnit` as it sounds more idiomatic with Scala. However @diesalbla has a point, in which case if you wanted to follow examples for stdlib you would call it `foreach` (if this is an argument)

[2017-07-28 17:42] diesalbla commented on #1723
The names for `traverse` and `sequence` are well established in the [reference literature](http://dblp.uni-trier.de/rec/bibtex/journals/jfp/GibbonsO09), from the Haskell libraries. However, I would not use at all the word _traverse_ in the name of this method, because it misleads into assuming a  link to the `Traverse` typeclass that, as @LukaJCB rightly pointed out, does not exist.

It is worth n

[2017-07-29 00:14] edmundnoble commented on #1616
:sparkles: in 1.0.0-MF.

[2017-07-29 00:14] #1616 closed

[2017-07-29 00:25] edmundnoble commented on #1365
Here's a summary of my findings in this area, working on cats-mtl.

`FunctorFilter` should not be used unless there is a *unique* empty `F[A]` value.

The moment you start to say something about the `F[_]` context itself, `Functor` is not the abstraction you want. I think this is reasonable and justifies its existence in its current form.

As it is, if there are any further thoughts on this issue

[2017-07-29 00:25] #1365 closed

[2017-07-29 00:26] edmundnoble commented on #561
We have syntax for `MonadReader` and `MonadState` in cats-mtl; every transformer class has *all* of the syntax that makes sense for it.

[2017-07-29 00:26] #561 closed

[2017-07-29 00:52] iravid opened #1773 "Provide an IndexedStateT data type"
So this is pretty much straightforward - we want this data type in cats.

The only question is with regards to the existing StateT and RWST: should they be reimplemented on top of the indexed versions? It seems that given bincompat constraints, this needs to be held off to a later version.

Would be happy to provide an implementation after details are fleshed out.

[2017-07-29 01:07] edmundnoble commented on #1773
Implementing RWST with this would imply making IndexedRWST, which is probably a slightly larger request. Ultimately my reasoning for implementing StateT with IndexedStateT comes down to there being no performance penalty I can see for doing so, as well as reducing conversions.

[2017-07-29 08:02] iravid commented on #1773
Hmm, why would RWST be different performance-wise?

[2017-07-29 08:32] mdedetrich commented on #1723
Also we shouldn't just be copying Haskell in this regard, because both libraries have different naming schemes. The most obvious is how `map`/`flatMap` is called in Scala is completely different to how its called in Haskell.

I think the attempt should be for cats to actually try and use Scala's idiomatic naming scheme, in which case `foreach` is probably what we want.

[2017-07-29 10:31] SystemFw commented on #1723
Using the same name as the standard library means that `syntax` stops working.
Now you can do `List(1,2,3).traverse_(a => IO(println(a))`, if you change `traverse_` to `foreach`, the existing stdlid method will be selected, forcing you to do `Foldable[List].foreach(List(1,2,3))(a => IO(println(a))`.
For this reason, I think `cats` should actually strive to _not_ call things like in the stdlib

[2017-07-29 11:52] edmundnoble commented on #1773
I don't think it would, sorry for the confusion :)

[2017-07-29 12:30] iravid commented on #1773
Ah, great :-) So what do you think about bincompat and implementing State on top of IndexedState?

[2017-07-29 15:57] izeigerman commented on #1536
Hi everyone. I've got the following implementation of Enum and Bounded type classes here: https://github.com/izeigerman/scalanum . Is there any chance for it to be included into Cats? Is it missing anything else beside the integration with `PartialOrder`?

[2017-07-29 18:31] kailuowang commented on #1773
Per our plan, for cats.core there is no strict bincompat constraint yet before 1.0.0RC1, which is scheduled September.

[2017-07-29 18:32] iravid commented on #1773
Sounds good. So I'll try to get a re-implementation in over the next few weeks.

[2017-07-29 18:39] kailuowang commented on #1773
TBC, we do want to avoid unnecessary API (source breaking ) change after 1
0.0MF

[2017-07-29 18:40] kailuowang commented on #1773
And thank u so much for offering the addition.

[2017-07-29 22:40] peterneyens commented on #1770
Upgraded to 0.6.19 in #1771.

[2017-07-29 22:40] #1770 closed

[2017-07-30 20:23] iravid commented on #1773
Opening a separate issue for IndexedReaderWriterStateT.

[2017-07-30 20:24] iravid opened #1774 "Provide an IndexedReaderWriterStateT data type"

[2017-08-01 16:56] kailuowang commented on #1233
There are two popular versioning schemes here:

* the java/scala style of `epoch.major.minor` (proposed by @ceedubs in this thread)

* semantic versioning of `major.minor.patch`. (proposed by @johnynek )

 Both only breaks bin compat at major versions.  IMO, it's basically a trade-off between the ability to release `epoch` or `patch`, neither is very frequent to us, maybe `patch` is a little bit m

[2017-08-01 17:06] fommil commented on #1233
semver

[2017-08-01 17:23] alexandru commented on #1233
When talking of `epoch.major.minor`, the distinction between `epoch` and `major` is arbitrary.

How many changes does it take for us to consider that an `epoch` happened?
Is 10 functions or classes changed / removed enough? How about 100?

My problem with `epoch.major.minor` is that it is lying, being preferred because we get too attached to version numbers and because we don't really want to tell

[2017-08-01 17:57] tpolecat commented on #1233
I lean toward @johnynek's proposal because it makes use of the full namespace and is defined in a way that could be automated, at least in principle. It makes it harder to indicate rewrite-scale breakages but these are so infrequent in practice we can indicate them in some other way, like jumping up the next round 100 or something.

[2017-08-02 00:16] benhutchison commented on #791
Yes, belatedly. apologies missed this mention somehow...

[2017-08-02 00:16] #791 closed

[2017-08-04 15:52] kailuowang opened #1783 "Infographics needs size control"
the current format doesn't look very good
http://typelevel.org/cats/typeclasses.html

[2017-08-05 19:56] ronanM opened #1786 "Add transformS() in ReaderWriterStateT"
Add `transformS()` in `ReaderWriterStateT` like `cats.data.StateT.transformS`

`def transformS[R](f: R => S, g: (R, S) => R)(implicit F: Functor[F]): StateT[F, R, A]`.

[2017-08-05 20:27] eed3si9n commented on #1233
Semantic™ or otherwise, version number is a `String` that eventually gets selected by dependency resolution engines like Ivy and Maven. Their algorithms will not respect whether the graph brings in 0.9.0, 1.x, or 2.x.

A third option you might want to consider is using `organization` (or `groupId` in Maven) and the package name for major versioning. For instance:

- Cats 1.0 uses `org.typelevel.ca

[2017-08-06 14:33] LukaJCB commented on #123
I'd like to give this another shot, what does everyone think about using `Eq` vs. Universal equality?

[2017-08-06 19:17] gabro opened #1791 "Automate migration to 1.0 with Scalafix"
Now that the 1.0 is close, I got a chance to take a look at the breaking changes it introduces and I noticed that the vast majority of them are well within the possibilities of Scalafix.

So, well, why not just automate the migration away?
I started experimenting on it and it's promising! So far I got:

- removal of `Unapply` machinery (just a bunch of symbol renames, but, hey, I wanted to start e

[2017-08-07 06:07] jvican commented on #1233
I think you should go for pure semver: `major.minor.patch`. I think that it should be a standard in the Scala community to use the following connotations for every part of the version:
- `major`: bumped up when a release is binary incompatible with the previous one.
- `minor`: bumped up when a release is source incompatible with the previous one (breaking source compatibility happens especially in

[2017-08-07 07:40] milessabin commented on #1233
@johnynek can you say why binary compatible additions are excluded from your patch level?

As @ceedubs mentioned above, shapeless's scheme is epoch.major.minor where minor level makes binary compatibility guarantees; major level makes hand-wavey design consistency promises and at epoch level all bets are off.

[2017-08-07 14:06] kailuowang commented on #1791
Love the idea. It also makes it easier for people to start contribute to #1762

[2017-08-07 14:26] kailuowang commented on #1786
related #1775

[2017-08-07 14:27] #1783 closed

[2017-08-07 15:29] kailuowang commented on #1233
Here is the definition of `Minor` version Y (x.Y.z | x > 0) in semver
http://semver.org/#spec-item-7, it MUST be incremented one backward comp additions are introduced.

[2017-08-07 15:36] kailuowang commented on #1233
@eed3si9n I vote for using org to differentiate bincompat breaking versions as well. We don't have to decide that for now, it can be delayed until we plan the first bincomp breaking 2.0 release right? What I am suggesting is that for 1.0 we could continue use `org.typelevel` as org name even if we plan to change org in cats 2.0 right?

[2017-08-07 19:47] eed3si9n commented on #1233
The actual organization name is a minor variance (though I think `org.typelevel.cats` is more consistent), but the important aspect is "document what our goals are with respect to binary/source compatibility as we reach 1.0."

As @johnynek said:

With the `organization`/package rename system, the stability expectation is different from Semantic or `2.major.minor` because with it, `cats.Functor` wi

[2017-08-07 20:25] milessabin commented on #1233
I'm very uncomfortable with the idea of using the organization id to distinguish versions ... this will play badly with tools (eg. publishing to Sonatype under a new organization id would need the new organization id to be registered and maintainers granted permissions all over again) and policies (eg. I can imagine that changing an organization id might mean that an artefact would have to go thro

[2017-08-07 20:27] milessabin commented on #1233
Oh, and it's also "odd" ... I'm not against doing things differently per se, but I think that this stuff has been around for long enough that we ought to be able to point to a successful precedent.

[2017-08-07 21:12] kailuowang commented on #1233
It (changing org) definitely has a higher one time cost than simply bumming up the major version number. I am still in favor of it because
1. cats breaking comp should be a very rare event, we need to force the whole eco system to upgrade.
2. in such a rare event, being able to support coexistence of multiple major versions of cats might be the only way. It is somewhat similar to cross building to

[2017-08-07 21:14] eed3si9n commented on #1233
I don't know if `organization`/`groupId` versioning has a catchy name, but it's a technique adopted by some Java libraries on bottom layers.

See for example [Java Interoperability Policy for Major Version Updates](http://jakewharton.com/java-interoperability-policy-for-major-version-updates/):

- https://github.com/square/okhttp/blob/master/pom.xml (groupId is `com.squareup.okhttp3` was `com.squa

[2017-08-08 03:56] eed3si9n commented on #1233
Another related data point I came across is Google's Cloud APIs [Versioning](https://cloud.google.com/apis/design/versioning).

....

[2017-08-08 14:33] LukaJCB opened #1798 "Develop an SBT plugin for ease of use with cats"
Original idea by @sellout. In theory we could create a plugin that adds the “right” compiler flags (think partial-unification, higherKinds etc. [here's a great list of compile flags](https://tpolecat.github.io/2017/04/25/scalac-flags.html)) as well as explaining common compiler errors using [sbt-clippy](https://github.com/softwaremill/scala-clippy) such as conflicting imports (which seems to be th

[2017-08-08 14:48] kailuowang commented on #1798
This is my plan for [sbt-catalyst](https://github.com/typelevel/sbt-catalysts/), which also helps projects manage their dependency on libs in the cats eco system. I also have wip pr for adding a g8 template for starting projects using sbt-catalysts. It will be awesome if you can take a look at that sbt plugin and see what we can add to it. Once the g8 template and the additions you deemed necsssea

[2017-08-08 15:03] LukaJCB commented on #1798
That sounds really interesting, I'll have a look :)

[2017-08-08 15:21] alexandru commented on #1233
One good presentation arguing for breaking backwards compatibility only with a namespace rename is the [Spec-ulation keynote](https://www.youtube.com/watch?v=oyLBGkS5ICk) by Rich Hickey.

[2017-08-08 16:34] LukaJCB opened #1800 "Consider adding some form of newtypes to cats"
We have https://github.com/alexknvl/newtypes, but we could also look at other options :)

[2017-08-08 17:53] LukaJCB opened #1801 "Documentation megathread"
I'm trying to compile a thorough collection of everything currently documented and everything we still want to document. I'd also like to talk about a few other things other people brought up. This is sort of meant as a follow up to #1443. Another question that arrises, is if we really need documentation for every single one of these, or if some don't really make sense to have their own page. It m

[2017-08-08 18:30] julien-truffaut opened #1802 "java.lang.ClassFormatError: Duplicate method name&signature when upgrading to cats 1.0.0-MF"
Hi all,

When @sellout tried to upgrade newts (https://github.com/julien-truffaut/newts) from cats 0.9.0 to 1.0.0-MF, we started to experience `java.lang.ClassFormatError` when calling `show` on case class using `AnyVal` e.g.:

[code]

here is the exact error:
[code]

Now what's interesting is that the error disappear if you:

- remove `Anyval` or
- change uses `Show.show` e.g.
[code]

For precisi

[2017-08-08 20:32] kailuowang commented on #1802
Confirmed it's not `simulacrum`. A possible work around at the cats side is to rename the `show` in `ContravariantShow`. In the meantime, @julienrf @sellout can you guys use the `Show.show` work around before next release?

[2017-08-08 20:37] julien-truffaut commented on #1802
sure PR is already pending. I was mostly creating this issue in case in anyone else face it.

[2017-08-09 12:04] davegurnell opened #1805 "Move the Cartesian parameter for mapN et al?"
A proposal for the `mapN` syntax.

The `Cartesian` parameter for the `mapN` syntax and its cohorts is injected in the implicit conversion to `TupleNCartesianOps`:

https://github.com/typelevel/cats/blob/master/project/Boilerplate.scala#L265

This means that, if the compiler can't find a `Cartesian` for your type, it gives the error "the method mapN doesn't exist". I ran into this when updating som

[2017-08-09 12:24] dwijnand commented on #1802
An alternative workaround is to make simulacrum.typeclass see the original show in ContravariantShow.

[2017-08-09 13:28] edmundnoble commented on #1805
This is how most of the syntax in cats works; the more that works this way, the better IMO (https://github.com/typelevel/cats/pull/1669)

[2017-08-09 14:23] gabro commented on #1791
#1793 is now merged!

There are still a lot of low-hanging fruits, but in the meantime it would be great if anyone could try running the rewrites in repos using cats and report feedbacks here.

Instructions here https://github.com/typelevel/cats/blob/master/scalafix/README.md

[2017-08-09 14:35] kailuowang commented on #1791
Thanks so much again. I am waiting on this PR #1806 before updating the release note. Then I am thinking we should broadcasting it on twitter, do you mind if I mention your twitter handler?

[2017-08-09 14:38] gabro commented on #1791
happy to finally contribute back! :) I tweeted it out myself, but I guess some more noise won't hurt ;)

https://twitter.com/gabro27/status/895289070628294656

[2017-08-09 15:00] kailuowang opened #1807 "a "works with cats" badge"
So that projects that integrate with cats can use.

[2017-08-09 15:43] DavidGregory084 commented on #1807
You can create custom badges on shields.io:

![custom badge](https://img.shields.io/badge/works%20with%20cats-1.0.0--MF-green.svg)

[2017-08-09 17:44] DavidGregory084 commented on #1798
@LukaJCB I created a little plugin to do the compiler flags part already if that helps https://github.com/DavidGregory084/sbt-tpolecat

[2017-08-09 19:40] eed3si9n commented on #1233
@alexandru Thanks for sharing this. Really enjoyed watching it.

[2017-08-10 00:29] kailuowang commented on #1805
looks like the consensus is to make the change. anyone interested in drafting a PR?

[2017-08-10 07:46] davegurnell commented on #1805
I'll have a go in the next few hours.
On Thu, 10 Aug 2017 at 01:29, Kai(luo) Wang <notifications@github.com>
wrote:

[2017-08-10 10:13] DavidGregory084 commented on #1805
I'll have a look at this since it's my fault ;)

[2017-08-10 13:40] kailuowang opened #1812 "TFunctor for monad transformers"
As a continuation of #1713 and #1492. I am working on a PR

[code]

[2017-08-10 14:30] LukaJCB commented on #1812
Love the idea of this, maybe we should call this `FunctorK` and `mapK` respectively? WDYT? :)

[2017-08-10 15:27] #1805 closed

[2017-08-11 02:29] #1802 closed

[2017-08-11 17:57] johnynek commented on #1703
can this be something we can fix before cats 1.0?

cc @kailuowang

[2017-08-11 21:04] johnynek opened #1818 "Add a ValidatedT to give ApplicativeError to any Applicative."
currently it only has MonadError when `F[_]: Monad` but I think you can have ApplicativeError when `F[_]: Applicative`.

[2017-08-12 10:18] peterneyens commented on #1818
I think this again is because the `ap` defined using `Applicative[F]` is inconsistent with the one using `Monad[F]`. That is the reason why there is no `Apply` and `Applicative` for `EitherT`, which implies that `ApplicativeError` would suffer from the same problem, right?
See https://github.com/typelevel/cats/issues/1467#issuecomment-305853570 and the linked issues.

[2017-08-12 10:20] LukaJCB commented on #1818
I think for the same reason Haskell also only has
`Monad m => Applicative (EitherT e m)`

[2017-08-12 18:34] johnynek commented on #1467
@adelbertc yes, I think it is due to the nesting, because after composing the function we have to flatten out the extra `F[_]`. I think it is kind of a shame that we have no way to have an applicative state.

[2017-08-12 18:36] johnynek commented on #1818
I didn't know it was inconsistent. It's not obvious to me why we can't make it consistent, but no huge deal. We can convert to ValidatedT.

[2017-08-12 19:16] johnynek commented on #1818
actually, there is no ValidatedT.

[2017-08-12 19:51] johnynek commented on #1233
i've just learned of this tool, by the way:

https://github.com/lvc/japi-tracker

looks really interesting. Instead of telling you yes/no compatibility it can give a score (what fraction of methods have incompatible changes). This can be interesting to consider too, since too often when we have incompatibility for a good reason, we go overboard making many incompatible changes which is pain multip

[2017-08-12 21:13] edmundnoble commented on #1818
There is no `ValidatedT`? How so? Applicatives compose. `ValidatedT[F, E, ?]` would just be a wrapper on top of `Nested[F, Validated[E, ?], ?]`, I believe.

[2017-08-12 22:37] johnynek commented on #1818
The point of `ValidatedT`, I think, is to get ApplicativeError from Applicative. You can't do that currently with Nested.

Maybe we want ApplicativeError on `Nested[F, G, ?]` if you have `F[_]: Applicative` and `G[_]: ApplicativeError`. Seems like you could also do the opposite perhaps: `F[_]: ApplicativeError` and `G[_]: Applicative` If true, it is not 100% clear which should be preferred.

I thi

[2017-08-13 05:59] adelbertc commented on #1818
I think there is no ValidatedT because that name invokes the idea of a monad transformer, which Validated cannot have. Of course as Edmund mentions you can have other effects composed with Validated through Nested.

Assuming the definition is general I could see such a Nested type class instance for ApplicativeError being useful. I wouldn't want to see a ValidatedT though since it would just be a

[2017-08-15 06:04] johnynek commented on #1818
There are a lot of utility methods, similar to what we have in EitherT that you would want. Like mapInvalid, isValid, etc... just using Nested means we don't have those.

[2017-08-15 16:57] edmundnoble commented on #1818
Applicative transformers seem to be just as useful a concept as monad transformers; I don't know if *all* applicatives actually admit ways to produce inductive instances for *all* applicative-focused MTL classes, and that is the chief use-case for monad transformers.

Additionally, I agree with @johnynek that unless we're going to provide a nicer syntax for `Nested`, applicative transformers do pr

[2017-08-17 20:18] BennyHill opened #1823 "Clarify in README that cats is an experimental clone/rewrite of scalaz"
See https://github.com/fommil/fp-scala-mortals/blob/fd4b278e71624ac97579ac241f77a8e06ac34d78/manuscript/frontmatter.md

[2017-08-17 22:50] johnynek commented on #1823
cats is a library for standard FP type classes in scala. It has a number of overlaps with scalaz, and in many cases uses code originally derived from scalaz, but there are a considerable number of different design choices.

[2017-08-18 02:26] adelbertc commented on #1823
This is not accurate. Cats started as a new project because its developers wanted the flexibility to explore different design choices outside of those made in Scalaz. For example, the encoding of laziness in a data type (`Eval`, or as it was known at first, [`Lazy`](https://github.com/typelevel/cats/blob/v0.1.0/core/src/main/scala/cats/Lazy.scala)) instead of by-name arguments, as well as the atte

[2017-08-20 02:53] #1823 closed

[2017-08-20 20:11] AlejandroME commented on #1678
Can I take this? I'm new but I'm willing to collaborate!

[2017-08-20 20:39] LukaJCB opened #1830 "Add a Parallel type class"
In [PureScript](https://pursuit.purescript.org/packages/purescript-parallel/3.0.0/docs/Control.Parallel.Class) there is a `Parallel` type class, which introduces the idea of a Monad that supports parallel composition with a related Applicative instance.  This could work for `IO` in cats-effect and a theoretical `ParIO`, but also for `Either` and `Validated`.
We could also include instances for Kle

[2017-08-20 21:54] zainab-ali commented on #1678
I'd be happy for you to!  The hackdays have been postponed for a while, hence I haven't felt the pressure to take this up.  There are other aspects of the docs that would benefit from attention apart from `Validated`, so there's still plenty for me to focus on.

[2017-08-20 23:41] johnynek commented on #1830
This seems really cool. So, something like this:
[code]
or maybe:
[code]
anyway... however we encode, this is a great idea. Often we have two paths for Applicative vs Monad (List, Either, Future come to mind).

[2017-08-21 08:05] LukaJCB commented on #1830
Something quick and dirty I came up with:

[code]

Doesn't quite work without the type annotations on `parSequence` yet due to some ambiguous implicits, but it already does what it should:

[code]

[2017-08-21 08:51] julien-truffaut opened #1831 "Foldable.toList potentially inconsistent for Map"
[code]

The problem comes from `Map.toList` which is used by cats. As far as I know scalaz side step this issue because it requires an `Order` on `Map` keys.

You can also see this problem when you use traverse:

[code]

[2017-08-21 08:54] johnynek commented on #1831
This same issue would show up for `Foldable[Set]` too, no?

[2017-08-21 09:28] julien-truffaut commented on #1831
@johnynek I suppose so

[2017-08-21 09:46] fommil commented on #1823
The title of this issue is disingenuous: it is not a fair representation of how I'm describing cats.

I describe cats as "an experiment to rewrite scalaz". This is true. Experiment breeds innovation. At this point in time, 1.0 is not yet released. The coming years will let us know if the experiment has been worth all the strife and the split in the community.

I also write "the cats API is mostly

[2017-08-21 09:54] durban opened #1832 "NonEmptyVector.last"
`NonEmptyVector` could have a total `last` method (unlike `Vector`). I think it would be useful.

(`NonEmptyList` could also have this, but I don't know how useful would it be, since it would need to walk the whole list...)

[2017-08-21 11:12] LukaJCB commented on #1830
I now realize why the above can't work, here's a revised version based on johnynek's idea:

[code]

[2017-08-21 14:02] johnynek commented on #1832
NonEmptyList does have it:

https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/NonEmptyList.scala#L38

Looks like an oversight on NonEmptyVector. Care to send a PR?

Also double check for other missing methods from one or he other of those?

[2017-08-21 14:40] leandrob13 commented on #1643
Issue addressed in #1644

[2017-08-21 14:40] #1643 closed

[2017-08-21 15:08] sellout opened #1833 "`Traverse[Free[F, ?]]` is missing."
The `Cofree` instance is there, but not one for `Free`, so I’m guessing it’s an oversight.

[2017-08-21 15:16] sellout opened #1834 "Access to implied `Functor`s from `Bifunctor` (and `Bifoldable`, `Bitraverse`)"
Scalaz adds `leftFunctor` and `rightFunctor` members to the instance. I can imagine other approaches, but it seems like we should have some way to get these from the `Bi` implementations.

[2017-08-21 15:19] sellout opened #1835 "Style scaladoc slightly"
I have a bunch of Scaladocs open for reference, but they all look identical, so I get lost sometimes. Something simple like using Typelevel red rather than the default blue would totally solve this.

[2017-08-21 20:51] aaronlevin commented on #1833
I can take a stab at adding this.

[2017-08-21 23:31] tpolecat commented on #1831
I don't know how we can possibly get congruence here since you can trivially distinguish values that are ostensibly equal. Universal properties FTL yet again. Do we punt and say yeah that's the risk you take with non-parametric data types, or remove the instances for `Map` and `Set` and only provide them for `Tree*`? Or something else behind door number 3?

I'd like to push past this as it seems t

[2017-08-21 23:42] adelbertc commented on #1831
I have a selfish preference for the `Order` constraint since I have found the `Traverse[Map[K, ?]]` instance useful several times, and really anything you use as keys in a `Map` should have an `Order`.. right?

Though I guess we can put it in `alleycats`.

[2017-08-21 23:54] tpolecat commented on #1831
Are you suggesting we constrain the instance to `K: Order` and pre-sort the traversal? That's an expensive operation to sweep under the rug … I think I'd prefer to add instances for `TreeMap` and punt this one to alleycats, although subtyping is going to make the instances ambiguous I think.

:-\

[2017-08-22 00:04] adelbertc commented on #1831
Oh I totally forgot about `TreeMap`. I like that.

[2017-08-22 01:09] leandrob13 commented on #1818
Is anyone working on this already?

[2017-08-22 08:07] julien-truffaut commented on #1831
I wonder if it is possible to have a `traverse` implementation for `Map` that maintains order, I believe the `map` implementation does it.

Regarding Monocle, I need to review the traversal law. Maybe it is just too strict.

[2017-08-22 11:31] aaronlevin opened #1841 "Document implicit naming convention"
We should update the contributing guidelines to specify implicit naming convention. I believe the convention is to prefix the name of the implicit with a camel-cased version of the package namespace. See quote from @peterneyens on a ticket I was working on (adding `Traverse` instances in the `cats.free` package):

[2017-08-22 14:45] julien-truffaut commented on #1831
I have been thinking a bit more about this and I find it worrying that `traverse` with `a => Id(a)` can cause a change in the order. I would think that `traverse(a => Id(a)) == id`. For example:
[code]

[2017-08-22 16:09] tpolecat commented on #1831
It seems unresolvable to me if we have instances for `Map`. Equality is bogus because it doesn't consider the information that's needed to compute traversal order.

[2017-08-23 19:25] fthomas opened #1848 "Preparations for sbt 1.0.0"
Over the last few days I started upgrading some sbt plugins as preparations for upgrading to sbt 1.0.0. This issue lists the plugins that need to be upgraded and tracks the progress of this effort:

- [x] partial-unification #1842
- [x] sbt-coursier #1825
- [x] sbt-doctest #1821
- [x] sbt-ghpages #1852
- [x] sbt-git #1849
- [x] sbt-jmh #1828
- [x] sbt-microsites #1918
- [x] sbt-mima-plugin #1824
-

[2017-08-23 19:35] BennyHill commented on #1648
fyi, catalysts (and so would cats) requires [tut 0.5.x](https://github.com/tpolecat/tut/issues/181)

[2017-08-23 19:38] BennyHill commented on #1648
I've got a feeling scoverage will block this, too.

[2017-08-23 20:35] BennyHill commented on #1648
see https://github.com/scoverage/scalac-scoverage-plugin/issues/205

[2017-08-23 22:41] coltfred opened #1850 "contramap on Function1 broke between 0.9 to 1.0.0-MF"
In cats 0.9 you could call `.contramap` on a `Function1[A,R]`. In 1.0.0-MF it no longer works. @sellout  hypothesised that there might have been an explicit method on `Function1Ops`.

Discussion happened here: https://gitter.im/typelevel/cats?at=599dfc7e19147ac32315dcc7

[2017-08-24 08:50] durban commented on #1850
In 0.9.0 it works due to `Unapply`, in particular `Unapply.catsUnapply2left` (note the _left_).

[2017-08-24 09:25] BennyHill commented on #1648
fyi, tut is released. For scoverage, see https://github.com/scoverage/scalac-scoverage-plugin/issues/205

[2017-08-24 18:38] fthomas commented on #1850
For those wondering how @durban figured out that it worked with `Unapply.catsUnapply2left`, here's one way he could have done that: :-)
[code]

[2017-08-24 18:40] arjunswaj opened #1851 "Filter for Free Monads"
Add Filter API for Free monads. Any if condition in the for comprehension is failing due to the missing filter APIs. There is also a StackOverflow question on the same. https://stackoverflow.com/q/41659747/3711149

[2017-08-24 19:44] tpolecat commented on #1831
I talked to a friend who helped clarify it for me. The problem is that the relation `Eq` defines isn't the same thing as equality that we use for substitution, so it's irritating but perfectly legal to have `a === b` but `f(a) =!= f(b)`. So I think this is not a bug.

[2017-08-24 19:55] adelbertc commented on #1831
Makes sense, can't assume `f` is injective.

[2017-08-25 09:12] julien-truffaut commented on #1831
Thanks, @tpolecat I need to read more about this. I always consider `Eq` as the same equality for substitution.

I believe the problem remain regarding the fusion rule for traverse (from the paper):
`traverse (f ⊙ g) = traverse f ⊙ traverse g`

However by changing the order in `Map`, our `traverse` doesn't respect the fusion law. For example take `g: A => Id[A]` and `f: A => Const[FirstOption[A],

[2017-08-25 10:37] LukaJCB commented on #1818
https://github.com/typelevel/cats/pull/1837 might be able to help with some of the use cases described here :)

[2017-08-25 11:33] durban commented on #1850
Yes, that's a useful thing to know; although I've used `-Xprint:typer` :smile:

[2017-08-25 14:19] durban opened #1853 "Contravariant functor instance for scala.math.Ordering"
There doesn't seem to be a `Contravariant` instance for `scala.math.Ordering`.

[2017-08-25 15:35] LukaJCB commented on #1853
There are some for `cats.kernel.Order` though. You can use `fromOrdering` to get an `Order` from `Ordering` :)

[2017-08-25 23:25] #1750 closed

[2017-08-25 23:25] #1373 closed

[2017-08-25 23:25] #1625 closed

[2017-08-25 23:25] #1742 closed

[2017-08-25 23:25] #1743 closed

[2017-08-26 08:04] LukaJCB commented on #1743
Why was this closed? I still think this is a valuable addition 🤔

[2017-08-26 08:52] fommil commented on #1743
I don't have plans to contribute it.

[2017-08-26 15:27] arjunswaj commented on #1851
Hey guys,
Any update or a workaround available? I want to use Free Monads in Prod and this would be a great feature to have.

[2017-08-26 18:07] johnynek commented on #1851
You could used FreeT with `Either[String, ?]` as the inner monad then implement filter on that FreeT with it just giving you a left in the case that the filter fails.

Sorry, I'm on a phone or I would write the code out here.

[2017-08-26 18:31] durban commented on #1853
Sure, but that doesn't really help me if I've got an `Ordering[A]`, and I want to simply `contramap` to get an `Ordering[B]`. (Although for that to work, #1850 also need be fixed.)

[2017-08-27 08:25] aaronlevin commented on #1833
We can close this as the above PR was merged. /cc @sellout

[2017-08-27 08:48] #1833 closed

[2017-08-27 22:01] AlejandroME commented on #1678
Hello,

I've just pushed the first commit (WIP) approaching this issue. Since this is my first contribution and because of the previous discussion about the *detail* level of this documentation, I want to get feedback about this first step.

The first two paragraphs of the actual doc mix two use cases: **form validation** and **configuration validation**, but then the developed example is the latt

[2017-08-27 22:27] BennyHill commented on #1648
So scala-logging is needed for scoverage - https://github.com/typesafehub/scala-logging/pull/94

[2017-08-27 22:28] BennyHill commented on #1648
For cats itself, https://github.com/typelevel/cats/pull/1865, https://github.com/typelevel/cats/pull/1866, https://github.com/typelevel/cats/pull/1868 are needed first

[2017-08-27 22:34] BennyHill commented on #1648
Once the above PR's are merged, I can release catalysts with a workaround for scoverage if it is still not finally resolved. At that point I can also PR the few, small changes that are needed to build 2.13.0-M1, including the scoverage workaround.

[2017-08-28 05:13] sellout opened #1869 "MonadCombine and MonadFilter still referenced in the docs."
The type class sidebar in the docs still lists MonadCombine and MonadFilter, but they link to 404s now.

Identified by @MansurAshraf on [Gitter](https://gitter.im/typelevel/cats?at=59a3a32e210ac26920cb2921).

[2017-08-28 07:09] LukaJCB commented on #1869
Fixed by https://github.com/typelevel/cats/pull/1856. Website still needs to be published though :)

[2017-08-28 12:39] zainab-ali commented on #1678
It's shaping up really well.  I've had a quick look and made a few suggestions, but it would be worth getting feedback from others too.

[2017-08-28 15:15] kailuowang commented on #1869
thanks for reporting @sellout and responding @LukaJCB, I will publish the website later today.

[2017-08-28 15:52] LukaJCB opened #1870 "Add `zipWith` to NonEmptyList"
There's currently no way to zip two (or more) NELs, I think it is a very common use case and would be a worthwhile addition. We could even maybe generalize it to `Reducible`. Will have to look into that. What do you think?

[2017-08-28 18:52] BennyHill commented on #1648
For 2.13.0-M1 we are also waiting for a new release of [sbt-microsites](https://github.com/47deg/sbt-microsites/pull/215) to pull in tut 0.5.3.

Just recently found that  tut 0.5.3 uses an older version of [scala-xml](https://github.com/tpolecat/tut/issues/183) so best is if that were done first.

I have catalysts compiling fine on  2.13.0-M1, it's by doing that first that I'm finding the other is

[2017-08-29 09:15] arjunswaj commented on #1851
Thanks. If you can post a gist/snippet, it would be great.

[2017-08-29 10:28] LukaJCB commented on #1870
After trying to generalize and optimize for some time, I came to the conclusion that the simplest solution is this:

[code]

It's possible to zip two `Foldable f, Monoidk f`, but no clue how to do it without.

[2017-08-29 14:01] LukaJCB commented on #1870
There's also this:

[code]

But I'm not sure if I like it. I'd probably prefer to define on NEL and NEV individually.

[2017-08-29 17:41] johnynek commented on #1870
I think the issue here with being generic is that `zipWith` is just `map2`, but as you know (see #1837 ) there are sometimes conflicting Apply definitions. In this case, the "zip" apply is not the same as the flatMap apply. So, once we have the Parallel typeclass, we can have a ZipNonEmptyList Applicative which is the parallel version.

For now, the zipWith on NonEmptyList, what about:
[code]
in t

[2017-08-29 20:10] kailuowang commented on #1869
should be fixed by now

[2017-08-29 20:10] #1869 closed

[2017-08-29 20:19] kailuowang commented on #1585
this should be easier now with cats-testkit published.

[2017-08-29 20:35] kailuowang commented on #1674
MonadTrans removed

[2017-08-29 20:35] #1674 closed

[2017-08-29 20:50] LukaJCB commented on #1870
`.zipped` doesn't actually allocate AFAIK. But yeah, I agree your implementation is nicer. I'll create a PR :)

[2017-08-29 21:26] kailuowang commented on #1798
shall we close this? sbt-catalysts is going to play this role.

[2017-08-29 21:29] kailuowang commented on #1762
Just like the scalafix for 0.9 to 1.0.0-MF, we can probably start with a template for this scalaz migration so that people can start contributing.

[2017-08-29 21:31] #1741 closed

[2017-08-29 21:36] #1798 closed

[2017-08-29 22:21] AlejandroME commented on #1678
Thank you @zainab-ali for the feedback!

I'll work on it this week and I hope to polish some details and create a PR for this :)

[2017-08-30 16:33] kailuowang commented on #1853
@durban can you elaborate why #1850 is related?

[2017-08-30 16:49] kailuowang commented on #1850
This is due to the fact that the `Contravariant` syntax no longer works on `Function1[?, B]` under the partial unification SI-2712 fix ( a replacement for the removed `Unapply` mechanism)
The `partial unification` fix has one limitation over `Unapply`, it only support left-to-right partial order. In the `Contravariant` of `Function1[?, B]` case, the left-to-right order no longer applies.

The imme

[2017-08-30 17:04] johnynek commented on #1853
@durban you can call `.on` to go from `Ordering[A]` to `Ordering[B]` but I agree there should be an instance.

https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/Order.scala#L53

[2017-08-30 17:34] edmundnoble commented on #1850
I'd say 1. is our best option here. Unapply has a huge cost in compilation time and doesn't scale to different arities. In general, the story for type classes in multiple type parameters is bad, in every functional programming language I know of. Afaik the best solution for now is to just need a type class which combines every type class for every type parameter of the type constructor, like in th

[2017-08-30 18:36] kailuowang commented on #1017
Here is a great blog post alone the same line
https://virtuslab.com/blog/cats-library/

[2017-08-30 18:53] kailuowang opened #1877 "Document using sbt-catalysts to bootstrap project using cats ecosystem."

[2017-08-31 02:25] #1834 closed

[2017-08-31 04:51] non commented on #1853
I'm opening a PR that addresses this lack (as well as `PartialOrdering`, `Equiv`, and `Duration` which I also noticed were missing).

[2017-08-31 06:37] non commented on #1853
https://github.com/typelevel/cats/pull/1878

[2017-08-31 07:52] durban commented on #1853
@kailuowang I was mistaken, it's not.

[2017-08-31 15:00] kailuowang opened #1879 "Decide on a solution for adding new features to cats-kernel avoiding breaking bin-compat."
related #1878 #1712 #1527

[2017-08-31 17:56] kailuowang commented on #1879
Also we'll probably quickly run into the same question IRT `cats-core` after 1.0.0. So hopefully the solution we come up with kernel will be a good reference.

[2017-08-31 20:18] kailuowang commented on #1879
good point @johnynek , I am creating a PR to change existing "instance" trait to abstract class.

[2017-09-01 09:24] LukaJCB commented on #1870
Did a quick benchmark with sbt-jmh, here are the results for zipping 100k elements :)

### NonEmptyList:
[code]

### NonEmptyVector:

[code]

Not super surprising, since pattern matching on Vectors is pretty inefficient. But good to know your algorithm is faster than the standard library for NELs ;)

PR including tests to follow!

[2017-09-01 15:03] kailuowang commented on #1818
@leandrob13 are you still interested in working on this?

[2017-09-01 20:39] #1870 closed

[2017-09-01 21:23] johnynek commented on #1870
pretty sad that the naive functional zipWith is faster than the standard library.

thanks for tacking this so well (benchmarks, great PR)!

[2017-09-02 00:08] johnynek commented on #1851
Okay, something like:
[code]

Something like that.

[2017-09-02 15:18] #1853 closed

[2017-09-03 10:05] LukaJCB commented on #1851
We could think about adding a generalized version of @johnynek snippet that accepts any `MonadError`, might be useful 🤔

Something I came up with on the quick:
[code]

[2017-09-03 16:41] johnynek commented on #1851
The above variant may be useful, but can't be used with a for comprehension.

[2017-09-03 16:49] edmundnoble commented on #1851
I don't think it makes sense to include this unless it's for MonadError over Unit.

[2017-09-05 15:39] arjunswaj opened #1891 "Provide Utility Functions"
Add utility functions like `sequence`, `map2` etc for Free <-> Stream, List.

[code]

[2017-09-05 16:04] LukaJCB commented on #1891
`sequence` is implemented on `Traverse` and `Stream` has a `Traverse` instance and `Free` has an `Applicative instance, so you can just do
[code]

And map2 only requires `Apply`:
[code]

[2017-09-05 16:53] ronanM commented on #1786
Does `ReaderWriterStateT` will automatically gain `transformS()` from `IndexedStateT` ?

[2017-09-05 16:56] iravid commented on #1786
@ronanM see https://github.com/typelevel/cats/pull/1803; added there

[2017-09-06 05:04] arjunswaj commented on #1891
Thanks! Is there any import that I need to do? I'm using Scala 2.11.7 and Cats-0.9.0. I was not able to get `.sequence` on Stream. I'm using the Scala collection Stream in my DSL. Is it an implicit method?

[2017-09-06 05:40] LukaJCB commented on #1891
You'll need to activate partial unification, you should be able to upgrade to Scala 2.11.11 and then you just need to import `cats.implicits._`

[2017-09-06 06:07] arjunswaj commented on #1891
Thank you! :)

[2017-09-06 06:07] #1891 closed

[2017-09-06 20:13] kailuowang commented on #1818
This seems to be the biggest chunk of work yet to be done in 1.0.0-RC1. If no one else is interested, I may give it a shot.  @johnynek, is there any precedence of `ValidateT` or should I just try copy `EitherT`?

[2017-09-06 20:21] LukaJCB commented on #1818
I'm still not a hundred percent convinced this is something we'd need in `core` for the reasons @adelbertc mentioned. Though, I do agree that there might be a usability benefit for some of the cases mentioned in here.
However, I think a very large portion of those use cases could be dealt with using `Parallel` with `EitherT`.

[2017-09-07 13:08] LukaJCB commented on #1818
So I went out to create an `ApplicativeError[Nested[F, G, ?], E]` given `Applicative[F]` and `ApplicativeError[G, E]`, but then realized implementing:

[code]

is basically impossible AFAIK (unless we add `Traverse` to both F and G, or `Monad` for F).

In the same way, I don't think it's at all possible to define `ApplicativeError[ValidatedT[F, E, ?], E]` when `F` is only an `Applicative` (or atle

[2017-09-07 18:09] kailuowang commented on #1233
Looks like the vast majority voted for semver. There are still some debate over whether to use org name to mark breaking versions. I think we can delay that decision when we reach the breaking point - hopefully that will be a while. If no objections, I am going to submit a PR to document the semver binary compat goals in README.

[2017-09-07 18:19] kailuowang opened #1896 "Consolidate readme and index.md"
Use this https://github.com/47deg/sbt-microsites/pull/109 feature

[2017-09-08 22:03] #1233 closed

[2017-09-10 04:45] johnynek opened #1904 "many kernel algebraic typeclasses should be `Invariant`"
If you have `Invariant[M]` and an isomorphism (or bijection) `A => B, B => A` then you can go between `M[A] <=> M[B]`. This can be very useful when combined with shapeless which can generate iso morphisms between case classes and tuples, etc...

However, Semigroup, Semilattice, Monoid, Group, etc... are left out of that as far as I can see.

It would be nice to have instances for those in `object

[2017-09-10 10:47] kailuowang commented on #1904
Shall we schedule this in RC1?

[2017-09-10 19:20] johnynek commented on #1904
I would like to. I hate when we have obvious instances for our own types that we don't ship.

[2017-09-11 08:04] LukaJCB commented on #1904
Hey @johnynek, can you elaborate a bit on what you mean by this?  :)
Do you mean instances like `Invariant[Group]` etc.?
We do already have `InvariantMonoidal` which does extend `Invariant`, so we can already do
[code]
I don't think we have these for any of the other kernel classes apart from `Semigroup` and `Monoid` though.

[2017-09-11 19:09] johnynek commented on #1904
Concretely:

1. we usually put instances for cats owned types into companions. For Monoid we have an import. Should not need that. We should just put that into `Invariant` or `InvariantMonodial` object.
2. we are missing many instances: e.g. all the ones I mentioned above. I'm not sure all are `InvariantMonoidal`. Monoid is, but some of the others may not (pure may or may not work for all cases).

[2017-09-11 20:03] LukaJCB commented on #1904
I like the idea of having everything in `object Invariant`, but we'd break the API, no?
We could do something like `object InvariantInstances extends MonoidInstances with SemigroupInstances`, WDYT?

[2017-09-11 20:41] #1773 closed

[2017-09-11 22:01] johnynek commented on #1904
I think these are so rarely used, I don't mind breaking the API to make it consistent current cats practice before 1.0

[2017-09-12 10:05] durban commented on #1233
This might be pedantic, but #1897 only addresses _binary_ compatibility, while the original description of this issue also talks about _source_ compatibility. (And I wasn't able to determine from the discussion what's the current consensus about that.)

[2017-09-12 13:13] alexandru commented on #1233
Binary compatibility implies source compatibility, but not vice versa.

Source compatibility is less important in the context of Scala, since the compiler can help pinpoint the changes that need to be made and you can also have automatic rewrite rules defined with Scalafix. Migrating a codebase to a new version that breaks source compatibility may be costly, but at least it's a deterministic proce

[2017-09-12 14:25] durban commented on #1233
Not really. [Here](https://contributors.scala-lang.org/t/a-guide-on-binary-compatibility-need-your-input/1089/6) are a few examples of binary compatible but source incompatible changes.

[2017-09-12 14:50] #1585 closed

[2017-09-12 15:30] kailuowang opened #1907 "Decide and document source compatibility goals."
In particularly, how do we manage binary compatible but source incompatible changes, examples of which can be found [here](https://contributors.scala-lang.org/t/a-guide-on-binary-compatibility-need-your-input/1089/6)

[2017-09-12 15:30] kailuowang commented on #1233
Just created https://github.com/typelevel/cats/issues/1907
I was aware of these source breaking but binary compatible changes (thanks to @dwijnand) when drafting the documentation. But to me those are, in some sense, "accidentally" binary compatible.
@dwijnand does MiMa will catch them, actually, as binary breaking?
I agree that @alexandru source compatibility isn't that much an issue (they are ra

[2017-09-12 15:35] #1774 closed

[2017-09-12 15:35] #1786 closed

[2017-09-12 15:38] #1668 closed

[2017-09-12 15:41] kailuowang commented on #1879
removed from RC1 scope, since all breaking changes are okayed by @johnynek representing the Algebird community.

[2017-09-12 15:46] alexandru opened #1908 "ApplicativeError: catchNonFatal, catchNonFatalEval and fromTry are not tested"
There are currently no laws in `ApplicativeErrorLaws` that cover:

- `catchNonFatal`
- `catchNonFatalEval`
- `fromTry`

When I check the associated laws for a type-class, I expect to get full code coverage given good enough `Arbitrary` values.

[2017-09-12 15:54] dwijnand commented on #1233
To the best of my knowledge, no, it does not.

[2017-09-12 16:00] kailuowang commented on #1908
Unfortunately that's the not the case for most of type classes when it comes to implemented methods. Some of them are covered by tests for the type classes themselves, some are not covered  at all.  @non recently [added a bunch of such tests](https://github.com/typelevel/cats/pull/1878) to laws and name them with a "Ref" suffix. Maybe we should make it a convention.

[2017-09-12 16:24] ronanM opened #1909 "Expected result for Eq[OneAnd[Set, Int]] ?"
I expected `true` has with `Set[Int]`, or maybe I am wrong... ?

[code]

[2017-09-12 16:26] LukaJCB commented on #1909
Yeah, you can't get a `NonEmptySet` with `OneAnd`. See https://github.com/typelevel/cats/issues/123

[2017-09-13 15:03] ChetanBhasin commented on #1549
I would love to try out my hand at this, but I think a bigger bottleneck is Simulacrum at this point.

[2017-09-13 23:28] johnynek commented on #1908
+1 to make it a convention: if there is a default implementation that may be slow, we should add a law that every implementation matches that but may have better ways to implement.

[2017-09-14 03:52] arjunswaj opened #1911 "Kotlin port"
Kotlin is a first class language for developing Android Apps. Kotlin port of cats will be a good library to use in android apps.

[2017-09-14 05:07] vegansk commented on #1911
Kotlin has no support for typeclasses and HKT

[2017-09-14 07:16] LukaJCB commented on #1911
Check out [kategory](https://github.com/kategory/kategory), it's the closest you'll get ;)

[2017-09-14 08:25] peterneyens commented on #1908
Maybe we can use something like I mentioned [here](https://github.com/typelevel/cats/issues/1684#issuecomment-302723134).

In essence create a wrapper for every type class which uses the implementations of the fundamental operations of that type class of the data type it wraps. We can than compare the actual implementation (eg `ApplicativeError[Foo, E]`) is equal to the default implementation (`Ap

[2017-09-14 10:31] adelbertc commented on #1911
Kategory seems to get a lot of commits from @raulraja who is also a big Cats contributor :-)

[2017-09-14 11:31] raulraja commented on #1911
@arjunswaj Kategory started effectively as a cats port and has now deviated a bit on design to adjust it to Kotlin's ecosystem. We support Typeclasses, monadic comprehensions generalized to all monads and optionally stacksafe comprehensions for non stacksafe monads, cartesian builder and impls of many typeclasses and datatypes as the ones in Cats.
As part of the work we've done in Kategory we are

[2017-09-14 13:51] SystemFw commented on #1911
@raulraja

How did you do that without HKT? Defunctionalisation like in `lightweight higher-kinded polymorphism`?

[2017-09-14 15:26] kailuowang commented on #1908
@peterneyens yeah, we dropped the ball on that one. It's possible to generate check methods using macro so that all future methods with default implementation can be automatically tested. It maybe even possible to generate the wrappers, but that seems trickier.

[2017-09-14 15:45] raulraja commented on #1911
@SystemFw yes and built on top of Kotlin coroutines:
This is what the encoding currently looks like:

HKs emulation:
https://github.com/kategory/kategory/blob/master/kategory-annotations/src/main/java/kategory/hks.kt

HKs typealiases boilerplate geenration:
https://github.com/kategory/kategory/blob/master/kategory-annotations-processor/src/main/java/kategory/higherkinds/HigherKindsFileGenerator.kt

[2017-09-14 15:50] SystemFw commented on #1911
Thanks for the reply. I don't really like or use Kotlin, but I sure do like me a nice bag of tricks :)
I've seen the `do notation as coroutines` in javascript as well, quite nifty

[2017-09-14 15:58] LukaJCB commented on #1904
I'll submit a PR soon :)

[2017-09-14 17:10] kailuowang commented on #1031
last item in the list merged. Closing the issue. Future additions to FAQ can be submitted through new issues.

[2017-09-14 17:10] #1031 closed

[2017-09-15 11:31] durban commented on #1233
I'm not sure I agree that these are "accidental". For example the `protected[scope]` one seems like a nice trick to remove deprecated stuff from the public (source) API while still preserving bincompat. Even more, forbidding the addition of public methods would restrict future evolution of the library very much.

BTW, I agree that in practice source compatibility is not a big concern, so I'd be OK

[2017-09-15 14:35] kailuowang commented on #1233
Agree we should continue the discussion at #1907

[2017-09-16 09:56] LukaJCB commented on #1272
I know, I just wrote the law testing guide that documented this inconsistency, but going forward I'd love to have these be consistent. So we are going to break bin-compat one last time before potentially a year or something, so now seems to be a good time, right?

[2017-09-16 11:28] kailuowang commented on #1272
On the other hand it's less big a deal to break bin compat in the laws module.

[2017-09-16 11:46] LukaJCB commented on #1272
If so, I'm going to try to make a PR early next week :)

[2017-09-16 17:39] johnynek commented on #1272
I think keeping kernel *very* compatible is still important. Laws less so in my opinion. You don't transitively pull testing packages generally.

[2017-09-19 19:08] fthomas commented on #1848
With @LukaJCB's help - thanks again, Luka - we have now updated all our sbt plugins to versions that are also available for sbt 1.0. So in principle we are now ready to update our build itself to sbt 1.0.

I'm unsure if I have time for that the next few days, so if someone else wants to do this, feel free!

[2017-09-19 20:20] kailuowang commented on #1848
thanks @fthomas and @LukaJCB , PR to update to sbt 1.0 just in. Had some weird issue with `Coursier`, so I just disable it temporarily.

[2017-09-20 11:56] alexknvl commented on #1800
Once https://github.com/scala/scala/pull/6074 is merged in and there is a scalameta release with https://github.com/scalameta/paradise/pull/207 (maybe M10 already has it), that technique will be more usable. There are also some issues with IJ and newtypes with existential parameters at the moment. https://github.com/scala/scala/pull/6088 could improve the performance a bit (?).

[2017-09-20 13:40] zliu41 commented on #1801
Working on docs for `Arrow` in the Scala world spree.

[2017-09-20 15:09] #1896 closed

[2017-09-21 15:24] ceedubs commented on #1911
Based on the information in https://github.com/typelevel/cats/issues/1911#issuecomment-329454556 I'm going to go ahead and close this out. It sounds like Kategory is the answer here, as a direct port of Cats isn't feasible/practical in Kotlin.

[2017-09-21 15:24] #1911 closed

[2017-09-21 15:34] ceedubs commented on #1656
@kailuowang was this resolved by #1758?

[2017-09-21 15:35] kailuowang commented on #1656
yes, closing.

[2017-09-21 15:35] #1656 closed

[2017-09-21 20:53] LukaJCB commented on #1800
Maybe we should wait out this: http://docs.scala-lang.org/sips/opaque-types.html

[2017-09-24 09:03] tbje commented on #1841
Hey @aaronlevin, did #1920 fix this issue?

[2017-09-24 13:46] #1841 closed

[2017-09-24 13:46] kailuowang commented on #1841
fixed by #1920 thanks again @tbje

[2017-09-25 11:51] AlejandroME commented on #1801
Having worked with docs for #1678 (PR #1903), I'll take `NonEmptyList` docs :)

[2017-09-25 19:41] SystemFw opened #1928 "Consider Reader-style instance for MonoidK of Kleisli"
The current instance of `MonoidK` for `Kleisli` (which I will refer to as `Endo instance`) looks like:
[code]
as opposed to what I'd call a  `Reader instance`  :
[code]
which imo should be preferred.

**Concrete, driving use case**
In http4s, we need to model an http service as `Kleisli[OptionT[F, ?], Request, Response]`, and the proposed instance would allow composing services with `<+>`, getting

[2017-09-25 19:46] kailuowang commented on #1928
cc @edmundnoble @ceedubs @non

[2017-09-25 19:46] SystemFw commented on #1928
I can obviously open a PR as well if this gets approved

[2017-09-25 19:52] tpolecat commented on #1928
Agree. The "EndoT" instance is interesting but I don't think it should be the default one. In scalaz I believe you get there via `Endomorphic[Kleisli[F, ?, ?], A]`.

[2017-09-25 20:08] rossabaker commented on #1928
Before http4s is used as the justification for this, @aeons is changing the `HttpService` type as described to ensure it works as well on the full project as it worked in my REPL.  But I think this is the right thing to do regardless.

@ChristopherDavenport offered to implement it if we decide to proceed.

[2017-09-25 20:14] kailuowang opened #1930 "Restructure `arrow` and `functor` package."
1. move `arrow` to a separate module.
2. Move `Profunctor` and `Strong` to this module `arrow`
3. Move `Bifunctor`, `Invariant` and `Contravariant` to `core`

[2017-09-25 20:33] kailuowang commented on #1930
Please vote if you, like me, think it's mostly bikeshedding. But if you have stronger feeling to put down, please do, it will be helpful for sure.

[2017-09-25 20:40] tpolecat commented on #1930
If you agree with my organizing principle for the [infographic](https://github.com/tpolecat/cats-infographic) the outliers are pretty evident I think.

[2017-09-25 21:07] LukaJCB commented on #1928
I also agree that the second instance is more useful in general. I'm a bit afraid of too many breaking changes in RC1 but I think this one should be quite minor and not a big issue for most ;)

[2017-09-25 21:12] kailuowang commented on #1928
The point of `1.0.0-MF` is to identify breaking changes needed by the community before we go 1.0.

[2017-09-25 22:32] johnynek commented on #1928
big +1 on this.

[2017-09-26 11:52] kailuowang commented on #1928
Looks like we should proceed with it. @ChristopherDavenport  still interested?

[2017-09-26 11:53] kailuowang commented on #1930
looks like the decision can be made. I am moving this issue to "ready"

[2017-09-26 13:47] edmundnoble opened #1931 "Renaming Cartesian to Semigroupal"
`Cartesian` is our name for an associative `def product[A, B](fa: F[A], fb: F[B]): F[(A, B)]`. I find this name very confusing given that cartesian *categories* are not the same thing as monoidal and semigroupal *functors*, and there's no reason to associate the action of a semigroupal functor with a cartesian product or zipping seeing as they have much more meaning semantically and aren't actuall

[2017-09-26 13:57] edmundnoble opened #1932 "Removing MonoidK and SemigroupK"
This depends on newtypes; without newtypes, we can't really do this.

As far as I can see, no evidence has been presented that MonoidK and SemigroupK are useful abstractions. So far, all they exist to do is disambiguate instances of monoid and semigroup, which is the job of newtypes, and they do a worse job because they don't compose with ordinary monoids and semigroups; there is no implicit produ

[2017-09-26 14:10] LukaJCB commented on #1932
Link to discussion over newtypes: #1800

[2017-09-26 14:14] kailuowang commented on #1932
Blocked by #1800

[2017-09-26 14:32] kailuowang commented on #1800
Options that I see so far.
1. depends on https://github.com/alexknvl/newtypes
1. depends on an adaption of https://github.com/estatico/scala-newtype which doesn't support type parameter as of now. @alexknvl [might be able to do some experiments with it.](https://gitter.im/typelevel/cats-dev?at=59c98b95cfeed2eb654d12c9)
1. fold a newtype project (one of above) into a cats module (could be cats.kern

[2017-09-26 14:38] kailuowang commented on #1800
I am okay with either 3 or 4.
2 is still a question mark. but generally speaking, if `cats.core` has depend on something it has to be something that we have control over binary compat, otherwise cats.core's bin compat promise becomes rather useless. so neither 1 or 2 should on the table.

[2017-09-26 15:51] rossabaker commented on #1928
* Ticket that would render this moot: #1932
* Related, stalled ticket: #1098

[2017-09-26 17:05] edmundnoble commented on #1928
I'm worried that we can't change this instance in place without changing behavior silently for users.

[2017-09-26 17:10] johnynek commented on #1928
I think silently breaking users is *possible* but probably rare. Someone would have to have an endo which also has a `MonoidK` on the inner type, and that MonoidK would need to be in scope.

I'd be surprised if even one person will be in this boat.

[2017-09-26 17:12] edmundnoble commented on #1800
I prefer 3. I'm not really okay with 4 myself. I think we're going to get stuck with a lot of things we don't want to be stuck with if we wait that long.

[2017-09-26 17:17] johnynek commented on #1931
I think we should only consider this if we retain an alias to the name Cartesian. In fact Cartesian's product method is one of the most useful methods in cats (producing a typeclass for `(A, B)` when you have it for `A` and `B` in the every common case that `F[_]` is cartesian).

[2017-09-26 17:19] LukaJCB commented on #1932
When we do remove these, maybe we could add a type class, that offers alternative `Monoid` instances, kinda like `Parallel`. Then Users would not have to wrap and unwrap manually and can continue using alternative behaviours in a concise way. 🤔 It might even let us keep the `<+>` syntax if we so choose. WDYT?

[2017-09-26 17:26] edmundnoble commented on #1928
Don't `Either` and `Option` fall under this? That seems common.

[2017-09-26 17:28] arosien commented on #1931
From a teaching FP perspective, `Cartesian` is confusing enough, compared to its scalaz `Zip` origins. `Semigroupal` would be even more confusing. I'm happy with technically correct aliases, however.

[2017-09-26 17:43] oscar-stripe commented on #1800
I prefer 4 since we are in the midst of this currently unfolding.

Also, can we have some concrete proposals of where we want newtype in cats? For things like `EitherT` or `OptionT` or something? Can we actually make a benchmark that shows some win first? Usually one more allocation in a stack 2-deep of monads is not actually going to be a big problem.

I don't want to complicate things, nor consi

[2017-09-26 17:54] ChristopherDavenport commented on #1928
I'm interested, and will get some an initial version up this evening.

[2017-09-26 18:23] kailuowang commented on #1800
For context, the use cases for newtype in in cats that I noticed recently.
1. In #1928, to represent the endmorphic `Kleisli`
2. Several newtypes  in #1837
3. `SemigroupK` and `MonoidK` as pointed out in #1932
4. `OptionT`, `EitherT` as suggested above by @oscar-stripe . Although I am not sure if they are the original incentive by @edmundnoble.

[2017-09-26 18:47] kailuowang commented on #1930
working on a PR.

[2017-09-26 18:52] LukaJCB commented on #1800
To add to those, we also have `NonEmptyVector` and `Nested` come to mind. Also those defined in `newts`. :)

[2017-09-26 19:29] kailuowang commented on #1930
`arrow.FunctionK` depends on `cats.core`, I incline to keep it in cats.core but it means that I need to move it to the `cats` root package.  cc @sellout.  Speaking of `FunctionK` its documentation is in the data types section, but I am not sure if that's accurate.

[2017-09-26 20:01] sellout commented on #1930
@kailuowang Having `FunctionK` in core sounds good to me.

[2017-09-26 20:16] LukaJCB commented on #1930
I think adding it to data does make some sense, as we have mostly type classes in `cats` . Don't have any strong opinion either way though.

[2017-09-26 20:28] kailuowang commented on #1930
the part I am not sure about is if `FunctionK` is a data type. Anyway moving arrow to a module is more complicated than I thought, since `Category` and `Compose` depends on `SemigroupK` and `MonoidK`, so more triage needed for that one. I'll submit one PR for restructuring the `functor` package first.

[2017-09-26 20:48] LukaJCB commented on #1930
Well, I'd say it's as much a data type as Kleisli and cokleisli, no? I think we could put everything that's not a type class into data :D

[2017-09-26 21:37] sellout commented on #1930
@kailuowang

1. I think having `FunctionK` in core/data is the right place
2. It should be fine for the `arrow` module to depend on the `core` module, no?

But yes, get rid of `functor` first 👍🏾

[2017-09-26 22:03] peterneyens commented on #1928
I can update #1098 if needed?

[2017-09-26 22:04] SystemFw commented on #1928
Yeah it seems like most of the code is already in #1098

[2017-09-26 22:21] ChristopherDavenport commented on #1928
Cool, I can back down in favor of an existing PR.

[2017-09-26 23:17] kailuowang commented on #1930
If I am not mistaken, Core depends on arrow, so circular intermodule dependency? I am okay with functionK going too data

[2017-09-26 23:25] sellout commented on #1930
@kailuowang Ah, yeah – it looks like the syntax stuff depends on arrow. That should be pulled out too if arrow is a separate module. But then I guess we’d have `cats.arrow.implicits`?

It’d be good to rethink the relegation of implicit conversions to their own packages. SlamData did at least a couple experiments where we eliminated the wildcard imports, and it had no noticeable effect on compilati

[2017-09-26 23:59] edmundnoble commented on #1932
I don't think that makes sense myself, and actually I think after consideration that Parallel doesn't really either. Especially given that we're considering ZipList to be a "parallel" List monad; what we need is a type class for canonical higher-kinded isomorphisms.

Newtyping is the best way to do this sort of thing because type class instances should be composable, and bundling instances togethe

[2017-09-27 00:00] edmundnoble commented on #1931
@johnynek I agree that it's useful, but I think using an alias entirely removes the benefit of renaming and significantly increases the potential for confusion.

@arosien In my opinion `Zip` is significantly more confusing. It's fine for pedagogy, at first, but it's not what this actually is. What makes something "zipping" is significantly more than what makes something an associative product of f

[2017-09-27 00:15] kailuowang commented on #1930
`Kleisli`, `Cokleisli` and `As` have instances of type classes in `arrow`. They also use it to get the `MonoidK` and `SemigroupK` instance from their `algebraK`. (hence the cycle)
If we actually do get rid off `MonoidK` and `SemigroupK` with newtype, then this problem might be solved, since `algebraK` is the only dependency from `arrow` to `core`.

[2017-09-27 00:18] edmundnoble commented on #1800
I think I can try for a stab at the use-cases we have in addition to the ones presented so far.

### Type class disambiguation
- `First` and `Last` semigroup, as in `x |+| y == x` and `x |+| y == y`
- `FirstOption`, `LastOption` monoids, `FirstEither`, `LastEither` semigroups. Same for transformers
- `Sum` and `Product` monoids for numeric types
- `Validated` as a newtype over `Either`

### Zero-o

[2017-09-27 01:01] rossabaker commented on #1932
So this typeclass would provide `def monoid[A]: Monoid[F[A]]`?  A new typeclass for alternative instances with alternative syntax sounds like the existing `MonoidK`, with that method added.

In #1928, we have a practical example of deriving a `MonoidK[Kleisli[F, A, ?]]` from a `MonoidK[F]`.  In this ticket, I imagine we'd be deriving a `Monoid[Kleisli[F, A, B]]` from a `Monoid[F[B]]`.  I think we

[2017-09-27 01:19] johnynek commented on #1932
There is something interesting when you can make a `Monoid[A]` for all `A`. This is not that uncommon. Scalding's `TypedPipe[?]` spark's `RDD[?]` and or course `List[?]`, `Vector[?]` etc...

Now, generally, I agree, you do just want the monoid.

I don't know that I have ever wanted a `MonoidK` but not an `Alternative`

I'm generally very +1 on only adding abstractions that pay their own way. We sh

[2017-09-27 01:21] johnynek commented on #1931
so, have seen numerous shops stay on old versions of libraries because the breakage is a pain no one wants to fix.

An incompatible change that takes N minutes to fix should be multiplied by the number of downloads to think about the order of the cost we are imposing.

I am pretty negative on us doing it just to polish when an alias costs us nothing. I think this is hostile to industrial users, an

[2017-09-27 02:37] sellout commented on #1930
@kailuowang Thanks for the clear explanation. Yeah, I almost mentioned the newtype thing (which am also in favor of).

[2017-09-27 04:44] adelbertc opened #1935 "Add Divisible and Decideable (contravariant Applicative and co.)"
https://hackage.haskell.org/package/contravariant-1.4/docs/Data-Functor-Contravariant-Divisible.html

Example use case: `divide` can be seen as a way of deriving behavior by splitting a "larger" type in two

[2017-09-27 04:48] iravid commented on #1935
Yes please! Very useful for encoders

[2017-09-27 21:23] edmundnoble commented on #1931
I think the cost of an alias is exactly the cost of keeping it as it is, which implies there are only two real choices here: rename with no alias, or don't do it at all.

[2017-09-27 21:34] tpolecat commented on #1931
What if we add a deprecated alias?

[2017-09-28 00:52] mpilquist commented on #1703
I am under the impression that #1888 didn’t fix this issue but I will try latest with fs2 and report back.

[2017-09-28 00:58] johnynek commented on #1703
@mpilquist if it doesn't, why didn't the test prove safety?

[2017-09-28 02:42] edmundnoble commented on #1931
I'm fine with that. That doesn't seem to solve the issue that users still need to migrate. I don't really think migration will take >2 minutes, however.

[2017-09-28 05:15] adelbertc commented on #1931
When I added `Cartesian` I was super tempted to call it `Semigroupal` if only because it would match up with the `Monoidal` and `Monoid` parallel. Good to hear the name is technically correct. 👍 from me.

[2017-09-28 05:30] johnynek commented on #1931
Just imagine doing these changes in a 6 million line code base. Not all the uses are yours. So you have to get teams across the org to sign off on the change. They all have to do it atomically because you can’t bump cats for the whole repo until the whole change is green.

And each time we make a change we add to the complexity of this PR.

This is not a hypothetical. I get that not everyone has h

[2017-09-28 05:58] LukaJCB commented on #1931
I share @johnynek's concerns. However, I also think that when we combine a deprecated type alias with a `scalafix`script, this really shouldn't be too much of a problem. :)

[2017-09-28 06:36] julienrf commented on #1931
I confirm that for things like renaming a symbol `scalafix` works well.

[2017-09-28 12:13] kailuowang commented on #1931
I prefer to do the rename and provide a deprecated type alias, as well as a scalafix if we have time.

I am not sure if that's true. The current name is confusing, but the confusion already happened. Whoever uses it now is already over with that confusion, forcing them to rename it would be just extra cost. Renaming it will successfully avoid the confusion to future users coming to Cats.  Having a

[2017-09-28 14:24] LukaJCB commented on #1851
I vote to close this, as I don't think it's really worth including.

[2017-09-28 15:05] LukaJCB commented on #1818
I think after #1893, this can be closed, unless we still think a `ValidatedT` would be useful, even though it can only form an `ApplicativeError` with a Monad.

[2017-09-28 17:11] edmundnoble commented on #1931
Yeah I agree that a deprecated alias is a good idea.

[2017-09-28 18:06] tpolecat commented on #1931
I wish there were a way to search GH to see how many uses there are in the observable wild. I would expect that there aren't a whole lot of explicit instances, and for most of the uses to be via `.mapN`.

[2017-09-28 18:10] adelbertc commented on #1931
On a related note if we're going to call this `Semigroupal` I feel we should also add `Monoidal` somehow.. which then enters a discussion of how that plays with `Applicative`.

[2017-09-28 19:01] edmundnoble commented on #1931
I don't think we need `Monoidal` unless there's a convincing case that we do.

[2017-09-29 08:40] LukaJCB commented on #1935
Can you expand a bit on the example use case? I'm not really seeing its usefulness right now

[2017-09-29 08:47] iravid commented on #1935
`Divide` is to `Applicative` as `Contravariant` is to `Functor`.

Let's say that we have an encoder trait:
[code]

Encoder has a contravariant functor as it is isomorphic to `? => String`.

Given this definition of divide:
[code]

I could derive an encoder given two other encoders:
[code]

[2017-09-29 08:51] julien-truffaut opened #1936 "Add traverseN to CartesianBuilder"
Similar to `mapN`

[code]

[2017-09-29 09:15] LukaJCB commented on #1935
Thanks @iravid, that indeed seems like a useful addition. However, I'm not sure that we'd have a lot of instances. The only one I can come up with right now would be `Show` and `Order`. I'm not really sure these are common enough to warrant adding them to core.

Maybe we could add them in some other module? WDYT?

[2017-09-29 09:27] iravid commented on #1935
I wouldn't mind that, as long as they're available :-)

[2017-09-29 13:00] kailuowang commented on #1703
it's true that the system closed this one automatically by mistake. I am reopening it we can close it pending @mpilquist's report.

[2017-09-29 14:40] kailuowang commented on #1931
Looks like at least we can proceed with a PR that does the rename and provide a deprecated alias.

[2017-09-29 14:46] kailuowang commented on #1749
closed by #1894

[2017-09-29 14:46] #1749 closed

[2017-09-29 14:48] kailuowang opened #1940 "[Proposal] new `cats.more` module"
Relevant discussion can be found [here](https://gitter.im/typelevel/cats-dev?at=59ce495f19147ac323178653)

I am proposing creating a `cats.more` module (could be a separate repo) where we can place in non-core, no-so-complex features. Possible candidates for going into this module includes #1935, #1812, #1767,  #1755, #1730,  #1400, #921, #324
(We shall still decide separately for each of these ca

[2017-09-29 14:57] kailuowang opened #1941 "[Proposal] new `cats.experiment` module"
Post 1.0, cats will lock the API for a long time. In the meantime, we might want to add new features that are not yet battle tested.
I propose to create a new `cats.experiment` module (It can be in a separate repo, but that will increase the burden of maintenance) to place novel and complex features that are not battle tested in the FP world.

As the name suggests, has no guarantee of backward com

[2017-09-29 15:55] kailuowang commented on #1936
I probably missed something, what's the difference between this and
[code]

[2017-09-29 16:16] tpolecat commented on #1940
I'm not convinced this is justifiable for any technical reason, but there may be a benefit in a "restrained" core just to keep the intimidation level down. However if we do this I would like it to be clear that it's not a bunch of random crap, but rather additional features that are less-commonly used. As for naming I kind of like `cats-core` and `cats-more` because it doesn't have the junk drawer

[2017-09-29 16:17] julien-truffaut commented on #1936
it is the same but I believe traverse has the ability to fail early.

[2017-09-29 16:17] kailuowang commented on #1940
I love the idea of naming it `cats-more`

[2017-09-29 16:30] tpolecat commented on #1941
I think I prefer this kind of thing be done by individuals or sub-groups (as was done for `cats-effect` and `cats-mtl`) rather than creating a wild west module. With no guiding or organizing principle I fear it will lead to a lot of mutually-inconsistent stuff and dead ends that never get cleaned up. It has Wiki nature (and not in a good way).

[2017-09-29 16:35] kailuowang commented on #1936
In this example
```(fa, fb, fc).tupled.traverse{ f(_).tupled }```, as soon as you `tupled`, it's just one element, how to fail "early" with the `traverse` after?
Would you mind give a concrete example? Just  a `F[_]` in the `fa` and `G[_]` in the `f(_)` would suffice?

[2017-09-29 16:46] adelbertc commented on #1935
Looking at https://hackage.haskell.org/package/contravariant-1.4/docs/Data-Functor-Contravariant-Divisible.html we can define instances for `Const`, the usual transformer "induction"/"back chaining", `Nested`, `Tuple2K`

[2017-09-29 21:11] julien-truffaut commented on #1936
If you pick up `F = List` and `G = Option`, you can make `traverse` fail early by returning a `None` as soon as the application of `f` returns a `None`. While with `map + sequence` you have to apply `f` to every single element in the list.

[2017-09-29 22:01] kailuowang commented on #1936
Ah got it. I got the `tupled` wrong. thanks for bearing with me @julien-truffaut

[2017-09-30 00:19] #1818 closed

[2017-09-30 16:57] #1936 closed

[2017-10-01 11:01] frroliveira opened #1943 "Monad Transformer for Ior"
I have put together a proposal mostly based on what EitherT does in here
https://gist.github.com/frroliveira/5d4fbdfa1fd465e8728615f6107c2716

* named it `IorT`
* left out `ensure`, `ensureOr`, `compare` and `partialCompare` as `Ior` does not implement them

[2017-10-02 20:27] kailuowang commented on #1800
@LukaJCB I am curious if you still plan to do the benchmark?

[2017-10-02 21:11] kailuowang commented on #1930
@sellout , just realized that you are okay with the `arrow` module depending on the `core` module, what is your incentive to move it out of `core` again?

[2017-10-03 07:13] aeons opened #1945 "OptionT.liftF and EitherT.liftT should be named the same"
Shouldn't these two be named the same? I have no strong preference for either name, but would like them to be consistent.
[code]

[2017-10-04 12:15] LukaJCB commented on #1800
I haven't made a lot of progress yet. Tried for about an hour last weekend, but ran into some errors with JMH in combination with @alexknvl newtypes library, will have to do more research on that

[2017-10-04 15:23] njayinthehouse commented on #1534
Is this issue still open? If so, what exactly is required? I'd like to contribute. :)

[2017-10-04 18:04] alexknvl commented on #1851
Instead of
[code]
you can always write
[code]
which is a bit annoying but not the end of the world ;) I think that is the use case OP had problems with.

[2017-10-05 04:42] johnynek commented on #1851
+1 to close.

On Wed, Oct 4, 2017 at 08:04 Alexander Konovalov <notifications@github.com>
wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2017-10-05 09:44] #1851 closed

[2017-10-06 06:22] travisbrown opened #1951 "Reconsider the use of fold in Validated"
A lot of the method implementations in `Validated` are extremely inefficient, which isn't ideal for projects like circe that rely on it extensively and are aiming for reasonable performance. For example, given this simplified definition (where `eqF` is the current `===` and `eqP` is a lightly optimized version):

[code]
And a benchmark like this:

[code]

The pattern matching implementation gets o

[2017-10-06 07:10] adelbertc commented on #1951
👍 , it's the reasoning we took in https://github.com/typelevel/cats/pull/1289 as well

[2017-10-06 07:10] julienrf commented on #1951
What if `fold` is an abstract method in `Validated` and implemented in `Invalid` and `Valid`? (we would trade pattern matching for dynamic dispatch)

[2017-10-06 07:45] johnynek commented on #1951
+1

In general core library code in my view should have a nice API but then be
implemented as efficiently as possible. I’d love to see us use the highest
performance approach we can find.

On Thu, Oct 5, 2017 at 21:10 Julien Richard-Foy <notifications@github.com>
wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2017-10-06 11:46] kailuowang commented on #1951
It will be interesting to benchmark @julienrf 's abstract `fold` approach.

[2017-10-06 14:12] travisbrown commented on #1951
@julienrf @kailuowang I don't think pattern matching is the real culprit here—it's more the overhead of the functions. Making `fold` abstract does seem to help a bit on 2.12:

[code]
…but there's no measurable difference on 2.11 and the allocation situation is the same on both.

[2017-10-06 17:19] johnynek commented on #1951
functions, I've always heard, are very hard on the jit due to them being megamorphic. So, one of the best optimizations you can often do in scala is remove a function and replace with literal code that the JIT won't skip over.

I would love if this could be solved in the future with dotty linker, or changes to the JIT to better handle lambdas (maybe java will start to care about this now that they

[2017-10-06 19:24] #1272 closed

[2017-10-06 20:45] travisbrown commented on #1951
@julienrf I think just rewriting `fold` in all of the implementations to use pattern matching (as in my example above) is a reasonable way to avoid unnecessary functions.

Users can decide whether for their own cases which approach they want. For example I use `Json#fold` all the time in application code that depends on circe, but don't use it anywhere internally in circe itself.

[2017-10-07 14:03] LukaJCB opened #1954 "Deprecate `>>` and `<<` in favor of `*>` and `<*`"
The former two don't really serve a purpose and are strictly the same when the Monad in question is consistent with the type's Applicative.

[2017-10-07 15:48] tpolecat commented on #1954
i.e., always

[2017-10-08 15:08] ctongfei opened #1957 "Hash families"
My `Hash` typeclass (#1712) is now merged into `cats`. As is discussed in #1712 , there is a need for a hash family typeclass that could be used in randomized data structures such as Bloom filters, CountMinSketches, etc.

I propose a hash family typeclass as follows:
[code]
I wonder where this should go to. `cats.kernel` or `cats.core`?
I'd be happy to draft a PR.

[2017-10-08 19:27] adelbertc commented on #1957
Looking at example use cases initial impressions make me wonder if this should be in a separate lib outside of Cats..

[2017-10-08 21:30] johnynek commented on #1957
I somewhat disagree. I think cats kernel should have it.

It is all small enough addition. I can’t easily see a distinction between
this and many or the very obscure type classes we have now.

On Sun, Oct 8, 2017 at 09:27 Adelbert Chang <notifications@github.com>
wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2017-10-09 21:32] mpilquist commented on #1703
@johnynek Still broken with cats 1.0.0-SNAPSHOT.

Take a look here: https://github.com/mpilquist/fs2/commit/375bec270d30fed6377c9e40d12549d7af9ec7ca

Last I talked to @non about this, we weren't sure if the issue lies in FS2 or in Cats. I've been assuming the issue is Cats because everything works fine when using the commented out definition of the private `evalDefer` method [here](https://github.

[2017-10-09 23:19] johnynek commented on #1703
Those line numbers don't seem to line up with the latest. For one, Compute was renamed FlatMap.

Are you sure you are trying the latest?

I agree that if you get SOE when you rewrite `defer` as `unit.flatMap` then the bug is with Eval since those should be the same.

In fact, I'd love to see us have consistent evidence that the defer strategy we have is faster since it is certainly more complex to

[2017-10-10 08:01] durban opened #1959 "NonEmptyList#groupBy uses universal equality"
`NonEmptyList#groupBy` uses universal equality, while we have `Eq`. This seems strange.

[2017-10-10 08:04] johnynek commented on #1959
Yeah this is a bug if you ask me.

On Mon, Oct 9, 2017 at 22:01 Daniel Urban <notifications@github.com> wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2017-10-10 08:18] #1954 closed

[2017-10-10 08:53] #1945 closed

[2017-10-10 14:06] kailuowang commented on #1850
sort of fixed by #1937 , i.e. we are not going to make any change to the code, instead @LukaJCB provided a scalafix to help people migrate to `lmap` which has better type inference.

[2017-10-10 14:07] #1850 closed

[2017-10-10 16:50] denisrosset commented on #1549
Adding support for scala native to simulacrum was not a big deal; see https://github.com/mpilquist/simulacrum/pull/92

However, it looks like scalacheck/scalatest will not be supported any time soon!

[2017-10-10 20:40] kailuowang opened #1962 "link lawtesting document somewhere"
https://github.com/typelevel/cats/blob/master/docs/src/main/tut/typeclasses/lawtesting.md
can be reached at https://typelevel.org/cats/typeclasses/lawtesting.html
but it's not linked anywhere. We should probably link it from the [type classes](https://typelevel.org/cats/typeclasses.html) page in the law section as well as a FAQ item.

[2017-10-11 10:55] #1747 closed

[2017-10-11 18:40] peterneyens commented on #1928
Added in #1098

[2017-10-11 18:40] #1928 closed

[2017-10-12 15:52] kailuowang opened #1965 "Class names in `cats.tests` are not consistent."
The majority is named `XXXXTests` which causes some conflicts with `cats.laws.discipline.XXXXTests` (discussed in #1960)
Other forms includes

* `XXXXCheck`
* `XXXXTest`
* `XXXXSuite`

We should consolidate them all to a single naming scheme. `XXXXSuite` maybe a good option.

[2017-10-12 23:29] johnynek opened #1966 "Add Apply and Traverse for SortedMap"
see #1964 for more discussion.

[2017-10-13 09:55] LukaJCB commented on #1966
Wouldn't we get conflicting instances because SortedMap is a subtype of Map?

[2017-10-13 12:41] #1931 closed

[2017-10-13 12:51] kailuowang commented on #1800
Given the scope mentioned above, and the fact that the new type mechanism in Scala doesn't seem to be stable yet, also once the opaque type is out, we probably have to change it again. Now I incline to not include it in Cats 1.0 and lock it down. Users can choose their own new type lib for now. Cats internal usage of new type might be easier to manage (IRT to backward compat) if we keep the new ty

[2017-10-13 16:32] johnynek commented on #1800
I agree this is premature for cats 1.0.

[2017-10-14 03:04] kailuowang opened #1968 "Make sure code generated by Boilerplate are tested"
Right now a good portion of which is not. E.g. `SemigroupArityFunctions` and `ApplyArityFunctions`

[2017-10-15 13:58] iravid opened #1969 "StateT and IndexedStateT are not documented"
They should be :-)

[2017-10-15 17:01] LukaJCB commented on #1966
So I tried this and it seemed to work just fine. Not sure why I thought it wouldn't work.

So I think we could get all the instances for SortedMap, that already exist for Map, but require an instance of Order[A] right?

Could potentially be relevant for #1831

[2017-10-15 17:15] johnynek commented on #1966
Maybe we need to make it higher priority? Or maybe not. Subtyping and implicit resolution confuses me sometimes with what is and is not ambiguous.

[2017-10-15 17:16] LukaJCB commented on #1966
We should probably also add instances for SortedSet  while we're at it.

[2017-10-15 17:17] johnynek commented on #1966
+1

[2017-10-15 17:30] #1969 closed

[2017-10-15 22:43] LukaJCB commented on #1966
Actually there can't be any instances for SortedSet, as that'd require an implicit Order [A] instance, when there is no actual A.

[2017-10-16 00:30] pathikrit commented on #932
@OlivierBlanvillain : What other libraries would you recommend for `Read` typeclass?

[2017-10-16 00:34] adelbertc commented on #932
@pathikrit `Read` is generally used as a quick way to do some parsing from a `String` into a type, so I think you should be looking at proper parsing libraries as an alternative. These come to mind:

* [atto](https://github.com/tpolecat/atto)
* [fastparse](https://github.com/lihaoyi/fastparse)
* [parboiled2](https://github.com/sirthias/parboiled2)

[2017-10-16 02:14] johnynek commented on #932
Yeah, I’m -1 on Read.

[2017-10-16 03:59] tpolecat commented on #932
I'm also 👎 . As a practical matter it's not useful because it doesn't compose unless you build it out into a parser combinator library (of which there are already many to choose from). And as an dual to `Show` it's also not very useful because `Show` itself is not very useful; it's no more than a properly parametric `toString` and is similarly useful only for debugging. I think the key insight is

[2017-10-16 05:24] johnynek opened #1973 "Foldable.iterateRight is not sound"
similar to #1716 I think `Foldable.iterateRight` will break if `Eval.always` are always used.

I think the fix is that we must accept an `Iterable[A]` rather than `Iterator[A]` and call `.iterator` internally. Basically add a `Eval.always(iter.iterator).flatMap { ... }` and I think it should be safe.

Of course, we need to demonstrate the problem with a failing test first.

[2017-10-16 08:11] durban commented on #1959
Fixed by #1964.

[2017-10-16 08:11] #1959 closed

[2017-10-16 17:06] AlejandroME commented on #1965
I can help with this. Should `XXXSuite` be the naming standard for all the tests? @kailuowang

[2017-10-16 17:08] kailuowang commented on #1965
@AlejandroME, thanks so much! Yeah I incline to use `XXXXSuite` .

[2017-10-16 17:10] AlejandroME commented on #1965
Got it! Working on it @kailuowang

[2017-10-16 19:13] iravid commented on #1733
I'd be happy to implement this if someone could provide guidance. A `cats.effect.Sync` instance for `ReaderT[IO, E, ?]` seems important ecosystem-wise for the 1.0 release.

[2017-10-17 00:07] #1951 closed

[2017-10-17 01:34] johnynek commented on #1831
I think we need to formulate the objections here into a PR which adds some laws to `Foldable` that `Map[K, ?]` is violating.

I am not sure we want that `Eq[A] => (fa =!= fb) | (Foldable.toList(fa) === Foldable.toList(fa))`, but maybe we do. If we do, we should argue for that and get it added. It may indeed lead to problems for `Map[K, ?]` and `Set[?]`.

I think we definitely want: `traverse (f ⊙

[2017-10-17 06:46] julien-truffaut commented on #1831
@johnynek We are violating this law for Map. You're right, we should add a test for this law for all Traverse instance

[2017-10-17 12:52] LukaJCB commented on #1831
So I've thought about this for some time now including some related issues #1966 and #1927.
There are a few ways I'm seeing to deal with this issue.
For making `Foldable#toList` consistent:
1. Require an `Order[K]` for the `Foldable` instance (This still leaves the problem with `Set`)
2. Require an `Order[K]` for the `Eq` instance.
3. Delete the `Foldable` instances for unordered collections (and

[2017-10-17 15:59] LukaJCB commented on #1831
To clarify number 5 up there would be something like this:

[code]
We could define that for `Map` and `Traverse` for `SortedMap`

[2017-10-17 17:38] kailuowang commented on #1966
When there are multiple instances for the target type `F`'s inheritance hierarchy, (but not the type class), the instance for the subtype is more "specific" I think.

[2017-10-17 17:40] kailuowang commented on #1831
I vote for deprecating the current `Traverse` instances for `Map` and `Set`.  IMO, adding an `Order[K]` or `CommutativeApplicative` impose too much performance and/or API limitation for these instances to be generally useful enough to be included in `core`.
For `SortedMap` we are adding an instance, for `SortedSet` maybe we [can't](https://github.com/typelevel/cats/issues/1966#issuecomment-3367473

[2017-10-17 18:00] johnynek commented on #1831
To me, the highest priority is adding the law to check. We could be violating this elsewhere that we have not noticed.

I think requiring `Order[K]` to patch `Map[K, ?]` should be a non-starter. We should just tell users to use `SortedMap` at that point and not resort on all the operations.

I agree that the `Map` instance is useful, but i think where it is useful we could fairly easily use `Sorte

[2017-10-17 18:25] tpolecat commented on #1831
There's probably a way to design our way out of this but I don't think it's worth holding up 1.0 (it's been like this forever in scalaz). So for now I would be fine either deprecating these instances or moving them to alleycats immediately (traversing maps isn't *super* common so I imagine the impact of a package change won't be huge). Also 👍 for bringing alleycats into the repo.

[2017-10-17 18:50] kailuowang commented on #1831
agree, alleycats needs more attention, right now it's  been left in a dark corner. I submitted an issue to move it into typelevel org and even I totally forgot about it.

[2017-10-17 18:57] LukaJCB commented on #1831
We can add Foldable to `SortedSet` just like `Set` currently has, but it's still not a valid `Functor` and therefore not a valid `Traverse`.

[2017-10-17 19:48] #1832 closed

[2017-10-17 20:14] julien-truffaut commented on #1831
@tpolecat I wouldn't say traversable for Map is so rare. You can't build a `Traversal` for `Map` without it.

[2017-10-18 00:01] LukaJCB commented on #1904
Fixed by #1914 :)

[2017-10-18 00:01] #1904 closed

[2017-10-18 18:52] kailuowang commented on #1831
I propose the following plan
1. move alleycats into cats ( I was against it, but right now it seems the only way to resurrect the project which is very useful) . it will be under a different root package name `alleycats`.
2. move `Traverse` instance of `Map` and `Set` into the new alleycats module.
3. point users to either use the unlawful one in alleycats or use the `traverseUnordered` being adde

[2017-10-18 19:53] johnynek commented on #1831
I agree 2 and 5 here: https://github.com/typelevel/cats/issues/1831#issuecomment-337221498 sound like the best way forward.

Unordered(Foldable/Traverse) seems tractable and useful for general unordered containers.

[2017-10-19 02:10] LukaJCB commented on #1973
Found a test that doesn't work:

[code]

[2017-10-19 14:02] #1965 closed

[2017-10-20 11:07] LukaJCB commented on #1973
Fixed by #1980

[2017-10-20 11:07] #1973 closed

[2017-10-20 15:41] kailuowang opened #1982 "A unified `mapK`"
For many `T[F[_], A]` or `T[F[_]]`, we can add a `mapK` that does the following
[code]

This is non-abstracted part of #1815
The following types can have this `mapK` method

- `WriterT`
-  `Kleisli`
-  `OptionT`
-  `EitherT`
-  `IdT`
-  `EitherK`
-  `Tuple2K`
-  `Free`
-  `FreeT`
-  `Func`
-  `Nested`
-  `OneAnd`

@andyscott offered to work on this

[2017-10-20 18:14] Jacoby6000 commented on #974
Closing this issue in light of discussion on #976. Probably should've closed this ages ago 😅

[2017-10-20 18:14] #974 closed

[2017-10-20 18:26] Jacoby6000 opened #1983 "Rename `followedBy` and `effectFor`"
The `Apply` typeclass has aliases for `<*` and `*>` as `effectFor` and `followedBy` respectively. This doesn't really make sense, whenever you think about their application and I think the names detract from the actual definitions.

Consider this example:
[code]
The name `followedBy` would seem to imply concatenation.

`effectFor` is a little better, since it actually expresses the application of

[2017-10-20 20:54] kailuowang commented on #1831
I also agree that we should add the laws to expose this inconsistency.

[2017-10-21 16:46] LukaJCB commented on #1983
I would welcome better names, but I'm also coming up short with actually coming up with any. I don't think these are important enough to include in RC1 though.

[2017-10-21 22:16] #1962 closed

[2017-10-23 14:33] emilypi commented on #1983
`fillRight` for `<*` and `fillLeft` for `*>` are relatively intuitive, since you're 'filling' each entry of the target applicative with a copy of the initial. I agree they don't have easily associated names. Maybe they don't need one.

[2017-10-24 15:13] vil1 commented on #742
Hi, coming there from [codetriage](https://www.codetriage.com).

This issue has been open for quite a long time now. AFAIK, there are no Array instance in alleycat yet, so it feels like there is no progress on this issue whatsoever.

Should we :
* open a similar issue in [alleycats](https://github.com/non/alleycats/issues)?
* specify what *lawful* instances are possible for `Array` (if any) in the

[2017-10-24 15:20] kailuowang commented on #742
@vil1 thanks for trying to contribute. I think it will be great to have an array instance in alleycats which is about to move into cats, see #1984

[2017-10-26 15:58] kailuowang opened #1994 "[Meta] PR sign-off policy"
Looks like we are blocked from making progress towards RC1 due to the fact that we are down to 2 active maintainers together with the 2 maintainer sign-offs policy - PRs submitted by one maintainer often have to wait for a long time for a 3rd maintainer to review and approve.

This has been an on-going issue for a while and luckily we had some awesome new maintainers and what a difference they've

[2017-10-26 16:13] tpolecat commented on #1994
I'm fine with (2) but will also try to find time to look at PRs more often. A problem with having a bunch of committers is that it's really easy to assume someone else will do X, forAll X; especially since we're all so busy.

[2017-10-26 16:19] iravid commented on #1994
@alexandru has expressed interest in helping with maintainership of cats a while back (I cannot recall where exactly). Perhaps he could help?

[2017-10-26 17:03] LukaJCB commented on #1994
I think 2 is a good idea, because it'll allow us to move more quickly. Alternatively we could be less aggressive with invalidating existing reviews on every commit?

To address the point made by @tpolecat, maybe we should use the request-review-feature more extensively.

I'm going to be very busy in November with work + uni and 3 conferences so I really hope we can get RC1 out ASAP :)

[2017-10-26 17:08] johnynek commented on #742
I am +1 on Array instances. I don’t even think they need to be in Alleycats as long as they are lawful.

[2017-10-26 17:12] johnynek commented on #742
Meta point: I would like a clear law violation yet argument of utility for things in Alleycats. If we have no law violation, but somehow we don’t like it for other reasons we should be able to make a clear policy.

For a long time Try was kept out of cats for some hand wavy argument about functions that throw. But functions that throw make all laws fail so I don’t see that as a valid argument.

Si

[2017-10-26 17:18] kailuowang commented on #1994
@johnynek a side topic, since you are here, it seems all your feedbacks on #1927 and #1837 have been addressed, do you want to give a quick sign-off and/or merge on those two or you need more time w/ them? That would unblock RC1 progress.
Sorry for distracting the conversation, I tried to reach to you through gitter but seems you don't go there often.

[2017-10-26 17:36] tpolecat commented on #742
Instances are only lawful for `Array` if you don't mutate; for `Try` if you don't throw; and for `Future` if you don't side-effect. As these are the primary use cases for all of these structures I don't think it's ethical to include instances. We will forever be explaining to people why their code doesn't work.

[2017-10-26 17:53] johnynek commented on #742
since the array instances are lawful IF WE DON'T MUTATE, which we won't, I don't see the issue.

[2017-10-26 18:03] tpolecat commented on #742
Well I mean, the next question is if you're not mutating why are you using `Array`? If you're doing it for performance then it seems unlikely you're going to want to use these abstract operations. It seems like a marginal use case to me that's going to lead to a lot of confusion.

Also the `TypeTag` issue is likely to make a bunch of instances impossible to define. Haven't tried.

[2017-10-26 18:10] #1830 closed

[2017-10-26 18:12] rossabaker commented on #1994
Model (2) has treated http4s well.

I am willing to reactivate.  I focused on the ecosystem while it needed more help than cats, but now the ecosystem needs a stable cats.  But I am worried about missing tribal wisdom that may have emerged during my dormancy: is the guidelines document reasonably up-to-date?

I would weigh in on any ticket that requested my review, but I'm unsure who would request

[2017-10-26 18:20] johnynek commented on #742
We have to use Array to give an Array to many java libraries.

Yes, doing a `.map` will make a copy, but using a list and doing a map will
copy and then I have to copy in and out of List.

The TypeTag issue indeed probably precludes Functor and Monad, but I don't
think it has a problem for Foldable, for instance.

On Thu, Oct 26, 2017 at 8:03 AM, Rob Norris <notifications@github.com>
wrote:

--
P.

[2017-10-26 18:39] tpolecat commented on #742
Ok, I'm just trying to understand what you're advocating for. Would you also want instances for `ListBuffer` for instance? I'm not clear on how big the box is.

[2017-10-26 19:11] johnynek commented on #742
I think someone needs to argue for an instance. To me, Array is common enough that I would like it. I personally don't use ListBuffer, so I wouldn't advocate for that, but I wouldn't push back on it either (as long as the implementation is lawful).

[2017-10-26 19:15] tpolecat commented on #742
Ok, thanks for clarifying. I remain 👎 for core instances that are invalid when the data type is used as intended. I'm 👍 for alley-cats, but the limitations of these instances should be clearly documented.

[2017-10-26 19:18] johnynek commented on #742
In the case of Array and Foldable, how is it invalid if is you assume Array is mutable?

Are you saying in another thread someone could be mutating Array without holding a lock and then we break the laws? Or are you saying that Array + Foldable seems fine?

[2017-10-26 20:47] kailuowang commented on #1733
@johnynek If I understand correctly, we could support stack safe left binds for Kleisli without a binary breaking change, if that's the case, this issue probably doesn't need to block RC1 right?

[2017-10-26 20:48] kailuowang commented on #1994
Thank you @johnynek for quickly reviewed 3 PRs. Now we are possibly 1 PR away from RC1.

[2017-10-26 20:57] kailuowang commented on #1994
@rossabaker and @tpolecat thank you for offering more reviews. It will make a big difference.
The guidelines seems up-to-date but just as incomplete as they used to be. I think it terms of conventions in the code bases, not much changed though.  If you guys want, I can send PR review requests your way from time to time. No pressure to keep up with them though, if you don't have the time simply rea

[2017-10-26 21:12] tpolecat commented on #742
I think it's **valid** because there are no real laws, but it's not exactly **fine** because the operations are all side-effects if you're mutating the array; you can't inline a call to `foldMap` because the result depends on when you ask the question. To me this is problematic enough to boot the instance to alley-cats. I may be the only person bothered by this … interested in what others think.

[2017-10-26 21:13] rossabaker commented on #1994
:+1: I will happily accept review assignments, and generally try to watch this repo and cats-dev a bit closer.  Thank you for your very hard work getting us this close!

[2017-10-27 07:15] alexandru commented on #1994
I can accept review assignments as well.

I'm not sure if I can commit to 25 minutes per day, due to my other commitments, but if it's needed for getting to Cats 1.0, then I can help. Please make me a member of the typelevel org.

And thanks for your hard work @kailuowang and for keeping us on track, you're awesome.

[2017-10-27 13:39] kailuowang commented on #1994
Thanks @alexandru for your offering and kind words. With @rossabaker and @tpolecat reviewing PRs, I think we should be good for 1.0. It would be awesome if you'd still like to help maintain Cats going forward. Let me know - I'll be more than happy to start the process (nothing required on your end though).

[2017-10-28 00:48] stephen-lazaro commented on #1935
Would anyone object if I were to try my hand at this? I'd be happy to give it a shot.

[2017-10-28 02:01] kailuowang commented on #1935
This one is more likely to goto cats.more.

[2017-10-28 13:38] BennyHill commented on #1968
I believe this issue replicates #383, with the possible difference that #383 is specifically for auto generating the tests.

Perhaps best to clarify here and close #383 ?

[2017-10-29 12:46] denisrosset opened #1995 "Remove `Eq.and`, `Eq.or`, `Eq/PartialOrder/Order.on`, `PartialOrder/Order.reverse`"
These methods are quite unusual in the sense that `Eq`, `PartialOrder` and `Order` are (to my knowledge) the only typeclasses to have direct methods to derive instances. IMHO, these methods belong to the companion objects.

In particular, `on` is a nightmare to override consistently in hierarchies that inherit from `Eq`. For example, currently `(h: Hash[A]).on[B]` returns `Eq[B]`, not `Hash[B]`, w

[2017-10-29 14:26] kailuowang commented on #1995
+1 on moving them to companion

[2017-10-29 18:16] johnynek commented on #1995
I don’t think actually have a policy that we assume coherent instances and as such don’t want combinator methods on typeclasses.

I personally would love if scala has coherent typeclasses you can only define in companions of either the type or the typeclass but it doesn’t and in the mean time things like Order.reverse are useful in sorting applications.

The subclass argument is a good one to me,

[2017-10-30 02:03] ctongfei commented on #1995
This is the problem of branching subtypeclasses.
Hash <: Eq; Order <: Eq.

If we have `Hash[B]#on[B](f: B=>A): Hash[B]`, then something that extends `Hash` and `Order` will have to override `on` because there is already `Order[A]#on[B](f: B=>A): Order[B]`.

I agree that `on` methods could probably be removed, because once we import `cats.implicits.all` we should have the injected `contramap` metho

[2017-10-30 14:25] kailuowang commented on #1995
So @johnynek  will it be okay to break kernel back compat with this change (i.e. moving them to companion)?

[2017-10-30 17:36] johnynek commented on #1995
@kailuowang from the algebird side, we are using the algebraic typeclasses. These equality ones, not at all yet.

[2017-10-30 20:16] #1966 closed

[2017-10-30 20:20] kailuowang commented on #1831
fixed by #1972

[2017-10-30 20:20] #1831 closed

[2017-10-31 12:36] LukaJCB commented on #1995
Fixed by #1997! Thanks @denisrosset! :)

[2017-10-31 12:36] #1995 closed

[2017-10-31 20:34] johnynek commented on #1733
@kailuowang I don't know a way to make it stack safe. What I propose is that when people need this they lift into `Free` express the computation there, and then get out. Since Kleisli has a tailRecM, this process is safe. It allows people to pay for safety as needed without having to force everyone to pay.

[2017-11-01 12:07] LukaJCB commented on #1982
Fixed by #2000

[2017-11-01 12:07] #1982 closed

[2017-11-01 18:09] arosien commented on #149
👍 yes please!

[2017-11-01 18:13] arosien opened #2003 "Add link to scaladoc in README.md"
The only way to discover the cats scaladoc is to go to https://typelevel.org/cats/ and click "Documentation"; the link is not available from the `README.md` on the GitHub project page.

The link could be at the bottom of the "Overview" section or in the "Getting Started" section.

The link title should also be "API Documentation" vs. "Documentation". Other projects use this terminology for scalado

[2017-11-01 18:18] arosien opened #2004 "Change scaladoc link title to "API Documentation""
https://typelevel.org/cats/ has a link to the scaladoc, but the link text "Documentation" is confusing. Most projects refer to the scaladoc as "API Documentation".

[2017-11-01 18:21] arosien opened #2005 "Change scaladoc link target to https://typelevel.org/cats/api/cats/"
Currently the API documentation (scaladoc) link points to http://typelevel.github.io/cats/api/, which resolves to the `root` package of the scaladoc, even though cats is entirely under package `cats`. It might be less confusing to directly link to https://typelevel.org/cats/api/cats/, which would avoid requiring the viewer to immediately click the `cats` link, which is the only option available.

[2017-11-01 19:09] durban opened #2006 "Remove ApplicativeError#catchNonFatalEval"
[`ApplicativeError#catchNonFatalEval`](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/ApplicativeError.scala#L128) uses `Eval` for effect capture. However, as far as I can tell, `Eval` is not for effect capture. For related discussion, see https://github.com/typelevel/cats-effect/issues/78 (possibly that discussion should be continued, instead of starting a parallel one her

[2017-11-01 21:33] tpolecat commented on #2006
I'm usually "that guy" but in this case I don't see a problem. These methods are for lifting expressions whose evaluation is partial but deterministic, like `"foo".toInt`; i.e., computations that are morally pure, but due to bad API design signal failure via throwing. This restriction allows us to consider the inner `catch` to be pure when it would otherwise be a side-effect. This operation is ref

[2017-11-03 03:54] tpolecat opened #2010 "rename ContravariantCartesian.scala"
should be `ContravariantSemigroupal.scala`

[2017-11-03 10:51] rossabaker commented on #2010
Fixed by #2011.

[2017-11-03 10:51] #2010 closed

[2017-11-03 12:08] denisrosset opened #2012 "Ambiguous implicits when requesting Eq when both Hash and Order are present"
Now that the RC ship has sailed, I don't know if this should be addressed at all.

Due to the fact that `PartialOrder` and `Hash` both extend `Eq`, we will run into ambiguous implicits when writing:

[code]

One solution is to cap the hierarchy by defining `HashPartialOrder`, `HashOrder` in libraries that depend on cats, at the loss of some interoperability. Another option is to have `Hash` only d

[2017-11-03 12:09] denisrosset commented on #2012
Note: I ran into the same problems in Spire, and we tried to use self-types to hide the subtyping.

[code]
but specialization ruins the party.

[2017-11-03 14:07] ctongfei commented on #2012
Ah this problem surfaced again.

I wonder what is your usage for `fun`? Normally you just need either `Hash` or `Order` (e.g. a set is either a `TreeSet` that uses an `Order` or a `HashSet` that uses a `Hash`).

[2017-11-03 16:04] channingwalton commented on #123
Hi,
@lancewalton wrote [this](https://gist.github.com/channingwalton/0e0f7c73742ddcfaed294f9c92a1a7e8) version some time ago (with a bunch of tests).
Is that useful?

[2017-11-03 17:19] denisrosset commented on #2012
Trying to come up with an example, maybe that's not a big deal after all.

I started to write a PR to explore what a `Hash` that does not extends `Eq` looks like, it ends up being suboptimal in other ways.

[2017-11-03 17:45] LukaJCB commented on #2012
One could always do `Hash[A].eqv` or `Order[A].eqv` if you actually need both, no?

[2017-11-03 19:09] andyscott opened #2013 "Kleisli#andThen unavailable for functor Validated[X, ?]"
Composing Kleisli's with `andThen` isn't possible when the functor is `Validated[X, ?]` even though validated has an `andThen` method.

This is because Kleisli's `andThen` is an alias for `flatMap` and requires a `FlatMap` instance but `Validated` doesn't have a `FlatMap` instance (rightly so).

I don't know if it's reasonable, but there could be an `AndThen` type class in the same manner as `Flat

[2017-11-03 19:23] johnynek commented on #2012
this is not dissimilar to `PartialOrder` and `Order` and `Eq`. I think our answer here is to just use `Hash[A]` and understand that `Hash` extends `Eq`

you could do `ev: Hash[A] with Eq[A]` which I guess will at least document more.

[2017-11-03 19:35] johnynek commented on #2013
we have the `Parallel` work #1837 which could be used here. So, when you have a `Parallel[F, G]` you could do `.andThen` which lifts the applicative into a monad, flatmaps, then turns it back to the applicative.

[2017-11-03 20:11] coltfred opened #2014 "Add Distributive typeclass"
There is a typeclass call `Distributive` that is the dual of `Traverse`

[code]

The feature that's really handy with this encoding is that it's stack safe to distribute over a `Functor` of arbitrary "size". For instance:

[code]

Would this typeclass be welcome in cats?

[2017-11-03 20:24] coltfred commented on #2014
Haskell has it [here](https://www.stackage.org/haddock/lts-9.11/distributive-0.5.3/Data-Distributive.html)

Scalaz has it [here](https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/scalaz/Distributive.scala)

[2017-11-03 20:44] johnynek commented on #2014
I would welcome it!

Anything lawful that has several instances I think are great.

[2017-11-04 11:40] durban commented on #2006
My problem with the signature of `catchNonFatalEval` is that it sends the message, that creating `Eval` instances, where calling `.value` throws an exception is okay. I explained in the other thread why I think that simple by-names should be used for things like this (like in `catchNonFatal`).

[2017-11-04 12:53] alexandru commented on #2006
In my opinion creating `Eval` instances where `.value` throws is perfectly OK.

[code]

And then:

[code]

See, the world didn't implode? Which brings us back to [my pet peeve](https://github.com/typelevel/cats/issues/1316) that we still don't have a lazy `Applicative.pure` alternative.

[2017-11-04 14:42] SystemFw commented on #2006
` try e.value catch { case _ => 0 }`

Well, the world didn't implode because you "cheated" by using `try/catch`, at which point you could as well remove `catchNonFatal` and `catchNonFatalEval` altogether. I think `catchNonFatalEval` could be removed with zero consequences, tbh (happy to be corrected ofc), especially if typelevel/cats-effect#78 goes through (which I think it should)

[2017-11-04 15:23] johnynek commented on #2006
I added it (I think) so maybe no surprise: I’m negative on it but it is not a huge deal. You can always recover it by doing catchNonFatal(e.value).

I hate to speak for @non and he can correct me, but knowing him I would be very surprised if he had a notion that Eval should never cause an effect to happen. I’m not really sure why we think this.

I’m mostly negative on removing methods because we f

[2017-11-04 15:50] alexandru commented on #2006
@SystemFw using `try / catch` is not a cheat because it is part of the language and in the case of `ApplicativeError.catchNonFatal` we are talking about *lifting* that `Eval` into an `F[_]` applicative context that can handle errors just fine.

This is exactly the same situation with the [cats-effect/78](https://github.com/typelevel/cats-effect/issues/78) issue — we are talking about *lifting* an

[2017-11-04 15:55] johnynek commented on #2006
Removing Eval is a non-starter in my view. A huge amount of cats code uses it and people who have adopted cats use it a lot. It is not marginal and baked into many of the typeclasses (for instance where we want lazy return values).

[2017-11-04 15:55] tpolecat commented on #2006
I guess I mostly see the use of `Eval` here as a consistency thing, since we have decided to use it rather than (or in addition to) by-name args in our APIs generally.

Re: @johnynek's point there's nothing stopping you from using `Eval` as a simple kind of `IO` … the `IOLite` type in doobie 0.4 is basically that, so it's certainly capable and is mostly equivalent to scalaz `IO`. The practical iss

[2017-11-04 18:11] SystemFw commented on #2006
@johnynek I think this because, unlike when `Eval` was introduced, we now have something to talk about this precisely: `cats-effect`.

Things that are able to suspend side-effects lawfully should be instances of cats-effect `Sync`, and things that are not instances of it should not be used to suspend side-effects.

That being said, I feel way less strongly about this than I feel about typelevel/ca

[2017-11-04 20:12] johnynek commented on #1983
I would like to keep these as is. No English word will be perfect for these abstract concepts. Some applicative will be natural one way others another. I’d rather just keep it stable and tell people bothered to use the symbols.

[2017-11-04 23:50] Jacoby6000 commented on #1983
@johnynek I'm fine with words that don't perfectly describe the action. But methods which are analogous should have similar names (if they're going to have names at all). `effectFor` and `followedBy` aren't similar at all, and both convey very different ideas. However, what they _do_ is almost identical.

I don't think leaving things as is just for the sake of compatibility makes sense.  If new na

[2017-11-05 12:51] durban commented on #2006
@alexandru

As I've already tried to explain over at https://github.com/typelevel/cats-effect/issues/78, my position is that for that, `Eval` would have to be `SyncIO` (or `IOLite`, or whatever). A data type like that would make sense. Even `Eval` could be that data type. However, in my opinion, as currently `Eval` is defined and _used_, it is not that. For it to become `SyncIO`, `value` would hav

[2017-11-05 15:26] LukaJCB commented on #123
Hi @channingwalton, I think it looks really good, maybe we could wrap a `SortedSet` with an `Order[A]` instead of the `Set` based on universal equality :)

[2017-11-05 18:00] lancewalton commented on #123
Hi.

That’s a good idea. I’ll do that.

Regards,

Lance

[2017-11-06 11:51] LukaJCB opened #2015 "Add a parallel *> and <*"
Probably two very useful operations, however giving these a good "operator name" might be fairly difficult. For now, I'll suggest something like `!>` and `<!`, but bikeshedding very welcome!

[2017-11-06 12:41] etorreborre commented on #2015
Why not remove `*>` on `Applicative`, just use the `>>` from `Monad` and use `*>` for `Parallel`?

[2017-11-06 16:37] tpolecat commented on #2015
@LukaJCB I think `!>` and `<!` are fine … I'm looking at `Parallel` for the first time and I think it should be constrained to `CommutativeApply` … need to review how we got here.

@etorreborre changing the constraints and semantics of `*>` and `<*` (which are heavily used) would be very disruptive so I don't think we should do that. `>>` is over-constrained and deprecated, and I think it's too so

[2017-11-06 16:42] etorreborre commented on #2015
@tpolecat I was thinking that many people were using `>>` for sequencing actions. I haven't seen much code using `*>` instead. The net changes will be to go from `>>` and `*>` to `*>` and `!>` and I wonder if assigning just another meaning to `*>` would be a better move in the long run (and keep similar names between Haskell and Scala).

[2017-11-06 16:48] etorreborre commented on #2015
@tpolecat @LukaJCB feel free to ignore my bikeshedding opinion, I will be fine as long as we have an operator for `Parallel`.

[2017-11-06 16:48] tpolecat commented on #2015
`>>` is deprecated in favor of `*>` … it's an anachronism from the days before `Applicative` in Haskell but it's still recognizable so I think we should not have it in cats. I use `<*` and `*>` all the time but I don't know how common it is I guess … I *assume* lots of people are using them since they're so useful.

In any case `<*` and `*>` are *also* well-known from Haskell and scalaz and I thin

[2017-11-06 16:50] etorreborre commented on #2015
I'm biased because I have used `>>` a lot more before I started using `*>`. And I agree with your last sentence.

[2017-11-07 04:41] andyscott opened #2018 "Elect a maintainer of cats-mtl"
I'm creating this here for added visibility.

`cats-mtl` currently needs a new maintainer. Currently the project hasn't been updated for the recent release of cats despite an open PR for the fix.

I'll add that I hope cats-mtl doesn't fall to the wayside as the functionality it provides it quite useful.

[2017-11-07 16:00] johnynek commented on #2018
I would prefer us not have separate repos personally. Can we merge mtl here as a submodule?

[2017-11-07 16:02] mpilquist commented on #2018
mtl was originally split out from cats proper b/c we expected its rate of change to be much higher than cats. If mtl is a submodule of cats, what does that imply w.r.t binary compatibility?

[2017-11-07 16:15] DavidGregory084 commented on #2018
@mpilquist as long as the experimental status of cats-mtl is made clear in the cats README I expect that it would be allowed to have a different bincompat story to cats for now?

[2017-11-07 16:18] johnynek commented on #2018
It appears that expectation may have been incorrect and as a result now we are seeing increased friction.

[2017-11-07 16:20] mpilquist commented on #2018
@johnynek Can you expand on that? Both why the expectation may have been incorrect and what increased friction we are experiencing?

[2017-11-07 16:25] tpolecat commented on #2018
If we're prepared to do a full cats release just for `mtl`/`effect` updates and are willing to accept per-module compatibility policies then I'm fine incorporating these things as modules. I would prefer it really because it's simpler and increases visibility. But these things are likely to move much faster than `core` does, at least in the near term.

[2017-11-07 16:32] johnynek commented on #2018
Just because it was reported that we have not been able to get a PR

[2017-11-07 16:32] #2018 closed

[2017-11-07 20:58] schrepfler commented on #1549
Just to highlight, if we get cats-kernel for SN, we can probably pull spire fore SN which would be really interesting to benchmark.

[2017-11-08 13:55] lancewalton commented on #123
Hi.

I've looked at the code for NonEmptyList and we probably want to make NonEmptySet consistent with that. I'll do some work on this over the next week or so.

[2017-11-09 05:12] wedens opened #2022 "Can't use MonadError syntax for EitherT"
With introduction (https://github.com/typelevel/cats/pull/1644/) of prioritised `MonadError` instance for `F: MonadError` in `EitherT[F, E, A]`, it's now impossible to use `MonadError` syntax for handling `E`.
It makes it difficult to upgrade to 1.0.0-RC1 as this syntax is used quite a bit in a project.

[code]

[2017-11-09 16:01] kailuowang commented on #608
done

[2017-11-09 16:01] #608 closed

[2017-11-10 10:02] wedens commented on #2022
Actually I still have this issue with `handleErrorWith` instead of `ensure`.

[2017-11-10 16:10] SystemFw opened #2025 "MonoidK for Function1 should be consistent with Kleisli"
When dealing with #1928 , no one mentioned that the instance of `MonoidK` for `Function1` exhibits the exact same problem. It should be changed to be consistent with the Kleisli instance.
The current behaviour for Function1 (and old behaviour for Kleisli) should be on an `Endo` newtype.

@tpolecat

[2017-11-10 18:21] kailuowang commented on #2022
@wedens not sure I fully understand your second example, were those error caused by
`e.handleErrorWith(1) `
or `e.handleErrorWith((a: A) => EitherT.left(a.pure[ConnectionIO]))`?
Is your `A` abstract in this usage?

[2017-11-10 18:33] tpolecat commented on #2025
Yep. If we do this it would be nice to have `EndoK` also. Scalaz has an `Endomorphic` typeclass but like other arrow stuff I don't get the feeling it's used much. I'm ambivalent about taking it that far.

[2017-11-10 18:52] kailuowang commented on #2022
I see, if `A` is abstract, then compiler wouldn't be able to tell which `MonadError` instance to use. I didn't see this scenario. I am finding a solution.

[2017-11-10 20:55] kailuowang commented on #2022
it's just type class syntax cannot differentiate the two instance available:
`MonadError[EitherT[ConnectionIO, A, ?], A]` and `MonadError[EitherT[ConnectionIO, A, ?], Throwable]`, right now the latter takes higher precedence.
A quick work around before we fix in Cats would be add a high priority instance in the local scope.
[code]

I see 3 options to fix it in Cats.

1. A relatively easy quick fix

[2017-11-14 18:22] kailuowang commented on #2025
@tpolecat just to be clear by `EndoK`, did you mean endo `FunctionK`? so we need 3 new types in total for `Function1` `Kleisli` and `FunctionK`. what would be the usage of `EndoK`?

[2017-11-14 18:52] #2022 closed

[2017-11-14 18:52] tpolecat commented on #2025
`Endo[A]` is `A => A` has a monoid with `andThen` and `identity`.

`EndoK[F[_], A]` is `A => F[A]` and has a monoid with `>=>` and `pure`.

It's not super critical but I have needed it a few times.

[2017-11-14 20:59] kailuowang commented on #2025
This might be a non issue.
We can't have a `MonoidK[A => ?]` that combines the return value of A => ?, since we don't know the return type we can't require a `Semigroup` on ?
So the current `MonoidK[λ[α => Function1[α, α]]]` is the only `MonoidK` we can have for `Function1`
We also have `Monoid` and `Semigroup` instances for `Function1` that combines the return values. If we need a `Monoid[λ[α =>

[2017-11-14 22:44] SystemFw commented on #2025
I have reached pretty much the same conclusion, fwiw

[2017-11-15 00:41] tpolecat commented on #2025
Fine.

[2017-11-15 02:08] #2025 closed

[2017-11-15 15:03] dwijnand commented on #472
Done in #1984.

[2017-11-15 16:32] #472 closed

[2017-11-16 06:34] akilegaspi commented on #620
Is this still in progress? I'm thinking of contributing for this enhancement.

[2017-11-16 13:56] #1690 closed

[2017-11-16 13:57] #1678 closed

[2017-11-16 13:58] #1425 closed

[2017-11-16 15:12] kailuowang commented on #620
that'll be awesome. I updated the checklist, three instances still missing.

[2017-11-18 16:59] #1039 closed

[2017-11-20 02:12] akilegaspi commented on #620
Just a quick question.

Is the resolving type for the `WriterT[F, L,  A]` after passing through `extract` is `F[(L, A)]`

[2017-11-21 20:21] refried commented on #1983
Do we like any of these:
`sequenceLeft` / `sequenceRight`
`sequenceDiscardLeft` / `sequenceDiscardRight`
`sequenceKeepLeft` / `sequenceKeepRight`
`effectForLeft` / `effectForRight`
?

[2017-11-21 22:53] SystemFw commented on #1983
`<*>` = `ap`
`*>` = `apR`
`<*` = `apL`

Although my preference would be no name at all

[2017-11-24 16:36] LukaJCB opened #2039 "Remove `Applicative#traverse` and `Applicative#sequence`"
These don't really serve any purpose and just delegate to the functions on `Traverse` so let's get rid of them.

[2017-11-24 16:39] travisbrown commented on #2039
As a little extra motivation, if you try to call `traverse` on something like `catsStdInstancesForVector` with type parameters, the compiler will complain about the middle parameter not having the right kind (because of the collision between `Applicative#traverse` and `Traverse#traverse`). You can easily work around this by upcasting the instances, but it's still vaguely annoying.

[2017-11-24 17:58] kubukoz commented on #2039
I think I can make this happen ;) always calling dibs on removing some code

[2017-11-25 01:22] #2015 closed

[2017-11-25 09:07] LukaJCB commented on #1940
I'll also refer to #1364, as it also has some type classes that seem like they could go into `cats-more` :)

[2017-11-25 11:28] LukaJCB opened #2041 "Move typelevel/algebra into cats repo."
This was discussed during the cats meeting at Scala By The Bay this year and I think most of us thought it'd be a good idea.

[2017-11-25 11:39] LukaJCB commented on #2013
Just to add to this, `Kleisli` also has a `Parallel` instance if the `F[_]` inside has a `Parallel` instance, so you can use `Either` for any thing you want to do using `andThen` and when actually running anything use `parMapN` or `parTraverse` or something like that! :)

[2017-11-25 17:17] #2039 closed

[2017-11-25 19:07] johnynek commented on #2041
+1

[2017-11-26 00:33] kailuowang commented on #2041
+1 under a different root package or cats.algebra?

[2017-11-26 01:06] johnynek commented on #2041
maybe it should be cats algebra. It is a shame when we have two different artifact ids with the same class names inside.

[2017-11-26 22:43] #1943 closed

[2017-11-26 23:53] #2003 closed

[2017-11-27 02:35] dragisak opened #2049 "Make IndexedStateT contravariant on SA"
Change from `IndexedStateT[F[_], SA, SB, A]` to `IndexedStateT[F[_], -SA, SB, A]`

Example of use:
[code]

[2017-11-27 11:06] durban opened #2051 "EqTests#eqv requires an Eq[A]"
`cats.kernel.laws.discipline.EqTests#eqv` requires an implicit `Eq[A]`, while it already has one, in the `EqLaws[A]` instance it has. Thus the implicit `Eq[A]` parameter is unnecessary and could be removed.

[2017-11-27 14:11] #2005 closed

[2017-11-27 16:30] ceedubs commented on #2049
I think that the fact that Cats currently has `IndexedStateT` wrap an `F[SA => F[(SB, A)]]` as opposed to just an `SA => F[(SB, A)]` means that you couldn't make this change without forcing `F[_]` to be covariant (`F[+_]`). I think that this forcing covariance on `F` would be an overly restrictive change.

Sorry I've been largely out of the loop for a while -- has there been research/discussion on

[2017-11-27 17:33] johnynek commented on #2049
I don't really know what `F[SA => F[(SB, A)]]` encoding has to do with stack safety except that I I guess we assume `F[_]` is stack safe (which is why we default to using Eval here?)

Note tailRecM is implemented and it does not depend on this encoding. So, it should be fine.

I am an advocate now of using tailRecM + encoding to Free when you have a monadic recursion that does not look like a simp

[2017-11-27 17:34] johnynek commented on #2051
+1

[2017-11-28 00:07] LukaJCB commented on #2049
I really don't have any deep insight into the issue, but speaking about breakage, I don't really see the issue. `IndexedStateT` has only been available since `RC1` and the original `StateT` could stay exactly the same from an API stand point, no? I don't think a lot of people have picked up `IndexedState` in this short time period, so I can't imagine we'd be breaking a lot of folks :)

[2017-11-28 00:35] johnynek commented on #2049
StateT existed before and was a case class wrapper on `F[S => F[(S, A)]]`. Indexed broadened to `F[SA => F[(SB, A)]]` but for uses those `SA == SB == S`, so the code didn't need to change, but maybe some inference or parameters did.

Going from `F[S => F[(S, A)]]` to `S => F[(S, A)]` is potentially a larger change and especially since `State` may not be stack safe in all cases it used to be since

[2017-11-28 02:39] kailuowang commented on #2049
Removed the help wanted label for now until we reach a consensus on the solution.

[2017-11-28 03:02] ceedubs commented on #2049
@johnynek I agree with all of your points.

I think that we could have a discussion about potentially changing the representation of `State` within Cats for 2.0, but that it's not something that we want to change now and that we can't go through with the proposed change on this issue until/unless the other work happens first.

[2017-11-28 05:51] stephen-lazaro commented on #2051
I can look at this this weekend if no one has bandwidth before then.

[2017-11-28 22:38] fthomas commented on #479
Since #1915 the README.md is also the index.html of the docs site, so I think this can be closed.

[2017-11-28 22:38] #479 closed

[2017-11-29 16:37] ceedubs commented on #2006
My 2 cents:

I don't think that I've seen an argument for removing this that's compelling enough to break compatibility. I don't see anyone arguing against the existence of a method similar to this one. It seems that the main argument against this method is that it should use a by-name parameter instead of an `Eval` parameter. I don't have particularly strong feelings about this, but using `Eval`

[2017-11-29 20:52] durban commented on #2006
Then how about making it `protected[ApplicativeError]`? That would preserve backwards binary compatibility.